<template>
  <div>
    <el-drawer
      size="980px"
      :title="adData.fadname"
      :visible.sync="detailDrawer"
      direction="ltr"
      :before-close="drawerClose">
      <div id="detail-info">
        <div class="info-left">
          <div v-if="videoShow" style="height: 100%">
            <div class="video-box" style="height: 100%"  v-if="adData.mclass === '01' || adData.mclass === '02'">
              <aliplayer height="100%" width="100%"
                :btnShow="false"
                ref="alipalay"
                v-if="sourceUrl && showPlayer"
                :url="sourceUrl"
                autoplay
                @error="sourceError" />
              <div class="source-error" v-else style="line-height: 390px; width: 100%; text-align: center; font-size: 34px; font-weight: bold; letter-spacing: 0.1em;background-color: rgba(0, 0, 0, 0.8); color: #eee;">资源地址出错</div>
            </div>
            <div class="imgBlock" v-if="adData.mclass === '03' || adData.mclass === '04'" style="width: 500px;height: 80vh;padding-right: 18px;">
              <vueCropper ref="cropper" :img="adData.fjpgfilename" :outputSize="Number(1)"></vueCropper>
            </div>
          </div>
        </div>
        <div class="info-right">
          <div class="btn-box" v-if="adData.mclass === '01' || adData.mclass === '02'">
            <el-button type="primary" @click="editSample(adData.fsampleid)">样本修改</el-button>
          </div>
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息" name="1">
              <el-form label-width="90px" style="padding-right: 14px">
                <el-form-item label="媒体类型：">
                  <span v-if="adData.mclass">{{ mediaType[adData.mclass].label}}</span>
                </el-form-item>
                <el-form-item label="发布媒体：">
                  {{ adData.fmedianame || '暂无' }}
                </el-form-item>
                <el-form-item label="广告名称：">
                  {{ adData.fadname || '暂无' }}
                </el-form-item>
                <el-form-item label="广告类别：">
                  {{ adData.fadclass || '暂无' }}
                </el-form-item>
                <el-form-item label="发布日期：">
                  {{ adData.fissuedate || '暂无' }}
                </el-form-item>
                <el-form-item label="版面：" v-if="adData.mclass === '03'">
                  {{ adData.fpage || '暂无' }}
                </el-form-item>
                <el-form-item label="页码：" v-if="adData.mclass === '04'">
                  {{ adData.fpage || '暂无' }}
                </el-form-item>
                <el-form-item label="规格：" v-if="adData.mclass === '03' || adData.mclass === '04'">
                  {{ adData.fsize || '暂无' }}
                </el-form-item>
                <el-form-item label="发布类型：" v-if="adData.mclass === '03' || adData.mclass === '04'">
                  {{ adData.fissuetype || '暂无' }}
                </el-form-item>
                <el-form-item label="版面类别：" v-if="adData.mclass === '03' || adData.mclass === '04'">
                  {{ adData.fpagetype || '暂无' }}
                </el-form-item>
                <el-form-item label="面积比例：" v-if="adData.mclass === '03' || adData.mclass === '04'">
                  {{ adData.fproportion || '暂无' }}
                </el-form-item>
                <el-form-item label="时长：" v-if="adData.mclass == '01' && adData.mclass == '02'">
                  {{ adData.fadlen + ' 秒' || '暂无' }}
                </el-form-item>
                <el-form-item label="发布时段：" v-if="adData.mclass == '01' && adData.mclass == '02'">
                  {{ issueDuringDate || '暂无' }}
                </el-form-item>
                <el-form-item label="违法类型：">
                  {{ illType[adData.fillegaltypecode].label || '暂无' }}
                </el-form-item>
                <el-form-item label="广告主：">
                  {{ adData.fadowner_name || adData.fadowner || '暂无' }}
                </el-form-item>
                <el-form-item label="品牌：">
                  {{ adData.fbrand || '暂无' }}
                </el-form-item>
                <el-form-item label="版本：" v-if="adData.mclass === '03'">
                  {{ adData.fversion || '暂无' }}
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="违法信息" name="2" v-if="adData.fillegaltypecode > '0'">
              <el-form label-width="110px" style="padding-right: 14px">
                <el-form-item label="认定依据：">
                  {{ adData.fconfirmations || '暂无' }}
                </el-form-item>
                <el-form-item label="违法表现代码：">
                  {{ adData.fexpressioncodes || '暂无' }}
                </el-form-item>
                <el-form-item label="违法表现：">
                  {{ adData.fexpressions || '暂无' }}
                </el-form-item>
                <el-form-item label="违法内容：">
                  {{ adData.fillegalcontent || '暂无' }}
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="其他信息" name="3">
              <el-form label-width="250px" style="padding-right: 14px">
                <el-form-item label="生产批准文号：">
                  {{ adData.fmanuno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告中标识的生产批准文号：">
                  {{ adData.fadmanuno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告批准文号：">
                  {{ adData.fapprno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告中标识的广告批准文号：">
                  {{ adData.fadapprno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                  {{ adData.fadent || '暂无' }}
                </el-form-item>
                <el-form-item label="生产企业（证件持有人）名称：">
                  {{ adData.fent || '暂无' }}
                </el-form-item>
                <el-form-item label="生产企业（证件持有人）所在地区：">
                  {{ adData.fentzone || '暂无' }}
                </el-form-item>
              </el-form>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </el-drawer>
    <tvbcSample v-if="showSample" @close="close" :fid="fid" @getList="() => this.$emit('getList')" @drawerClose="drawerClose"></tvbcSample>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { VueCropper }  from 'vue-cropper'
import aliplayer from '@/components/aliplayer'
import tvbcSample from './tvbcSample'
import { getIssueView } from '@/api/IssueMonitoring.js'
  export default {
    name: 'sampleReference',
    components: { aliplayer, VueCropper, tvbcSample },
    props: {
      parameData: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return{
        fid: '',
        showSample: false,
        drawer: false,
        loading: false,
        detailDrawer: true,
        usemp4: false,
        form: {
          adName: '',
          fsampleid: '',
        },
        time: [],
        ill: false,
        adData: {},
        videoShow: false,
        activeName: '1',
        showPlayer: true,
      }
    },
    computed: {
      ...mapGetters([ 'mediaType', 'illType',]),
      sourceUrl(){
        if(this.usemp4){
          return this.adData.favifilename
        }
        return this.adData.issueurl || this.adData.favifilename || ''
      },
      issueDuringDate(){
        return `${this.adData.fstarttime} ~ ${this.adData.fendtime}`
      },
      query(){
        return this.$route.query
      },
    },
    created() {
      this.detail()
    },
    methods: {
      sourceError(){
        this.showPlayer = false
        this.usemp4 = true
        this.$nextTick(() => {
          this.showPlayer = true
        })
      },
      detail(){
        this.detailDrawer = true
        this.videoShow = true
        getIssueView(this.parameData).then(res => {
          this.adData = res.data || {}
        })
        this.detailDrawer = true
        this.videoShow = true
      },
      editSample(fid) {
        this.fid = fid
        this.showSample = true
        this.$refs.alipalay.stop()
      },
      close() {
        this.showSample = false
      },
      drawerClose() {
       this.videoShow = false
        this.detailDrawer = false
        this.$emit('close')
      },
    }
  }
</script>

<style lang="scss" scoped>
  #detail-info{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    &/deep/.el-form-item {
      margin-bottom: 8px;
    }
    .info-left{
      width: 550px;
      height: 320px;
      flex-shrink: 0;
      margin-top: 40px;
      .imgBlock{
        height: 100%;
      }
    }
    .info-right{
      flex: 1;
      padding-left: 18px;
      position: relative;
      .btn-box{
        z-index: 10;
        position: absolute;
        right: 30px;
      }
    }

  }
</style>