<template>
  <div>
    <el-dialog
      title="编辑样本"
      :visible.sync="dialogVisible"
      width="1200px"
      top="6vh"
      :close-on-click-modal="false"
      :before-close="dialogClose">
      <div class="tvbc-sample" v-loading="loading">
        <div class="video-wrapper">
          <aliplayer ref="player" height="100%" width="100%" btnAbsolute="-50px" :url="details.favifilename || ''" autoplay @seek="val => this.seek(val)" v-if="details.favifilename"/>
        </div>
        <div class="info-wrapper">
          <el-card class="box-card marin-b" shadow="never">
            <div slot="header">
              <span>基本信息</span>
            </div>
            <el-form :model="details" :rules="rules" ref="form" label-width="80px">
              <el-row>
                <el-col :span="12">
                  <el-form-item label="广告名称" prop="fadname">
                    <el-autocomplete
                      style="width:100%"
                      v-model="details.fadname"
                      :fetch-suggestions="searchadname"
                      @select="adnameSelect"
                      placeholder="请输入广告名称"></el-autocomplete>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="广告品牌" prop="fbrand">
                    <el-input v-model="details.fbrand" placeholder="请输入广告品牌" clearable></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="广告主" prop="adownername">
                    <el-autocomplete style="width:100%"
                      v-model="details.adownername"
                      :fetch-suggestions="searchadowner"
                      placeholder="请输入广告主"
                      clearable>
                    </el-autocomplete>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="代言人">
                    <el-input v-model="details.fspokesman" placeholder="请输入代言人" clearable></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="广告类别" prop="adclasscode">
                    <el-cascader
                      style="width: 100%"
                      :options="adClassTree"
                      change-on-select
                      :props="{...adClassOptions,emitPath: false}"
                      v-model="details.adclasscode"
                      clearable>
                    </el-cascader>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="版本说明">
                    <el-input v-model="details.fversion" placeholder="请输入版本说明" clearable></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="播出媒体" prop="fmediaid">
                    <el-select v-model="details.fmediaid" disabled filterable remote reserve-keyword :remote-method="remoteMethod" clearable placeholder="请选择播出媒体" style="width:100%">
                      <el-option v-for="item in mediaList"
                        :key="item.fid"
                        :label="item.fmedianame"
                        :value="item.fid">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="样本长度" prop="fadlen">
                    <el-input v-model="details.fadlen" disabled placeholder="请输入样本长度" clearable></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="审批号">
                    <el-input v-model="details.fapprovalid" placeholder="请输入审批号" clearable></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="审批单位">
                    <el-input v-model="details.fapprovalunit" placeholder="请输入审批单位" clearable></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="发布日期" prop="fissuedate">
                    <el-date-picker
                      disabled
                      style="width: 100%"
                      v-model="details.fissuedate"
                      type="date"
                      value-format="yyyy-MM-dd"
                      placeholder="选择发布日期">
                    </el-date-picker>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </el-card>
          <el-card class="box-card" shadow="never">
            <div slot="header">
              <span>违法信息</span>
            </div>
            <el-form :model="details" :rules="rules" label-width="100px">
              <el-form-item label="违法类型">
                <el-radio-group v-model="details.fillegaltypecode">
                  <el-radio-button :label="key" v-for="(value,key) in illType" :key="key">{{value.label}}</el-radio-button>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="涉嫌违法内容" v-if="isIll || isIllCheck">
                <el-input v-model="details.fillegalcontent" type="textarea" :rows="3" style="width:100%"></el-input>
              </el-form-item>
              <el-form-item v-if="isIll">
                <div slot="label">
                  违法表现
                  <el-button type="text" @click="showDrawer">选 择</el-button>
                  <el-button type="text" class="danger" @click="delIll">取消选择</el-button>
                </div>
                <el-table :data="illData" border stripe height="158px" ref="multipleTable" @selection-change="val => multipleSelection = val"  @row-click="row => $refs.multipleTable.toggleRowSelection(row)" :row-style="rowStyle" style="width:100%">
                  <el-table-column type="selection" width="40"></el-table-column>
                  <el-table-column prop="fcode" label="代码" width="80"></el-table-column>
                  <el-table-column prop="fexpression" label="违法表现"></el-table-column>
                  <el-table-column prop="fconfirmation" label="认定依据"></el-table-column>
                </el-table>
              </el-form-item>
            </el-form>
          </el-card>
          <div class="btn-wrapper">
            <el-button @click="dialogClose()">取消</el-button>
            <el-button type="primary" @click="submit">保 存</el-button>
          </div>
        </div>
      </div>
    </el-dialog>
    <el-dialog
      title="选择违法表现"
      :visible.sync="drawer"
      :size="size"
      :modal="modal"
      :append-to-body="true"
      :before-close="handleClose">
      <el-input placeholder="关键字搜索" v-model="filterText" clearable style="width: 97%; margin:0 0 18px 20px;"></el-input>
      <div class="drawer-body">
        <el-tree
          ref="tree"
          :data="IllegalList"
          :render-after-expand="false"
          check-on-click-node
          check-strictly
          show-checkbox
          node-key="fcode"
          :props="props"
          :filter-node-method="filterNode"
          @check-change="handleCheck">
        </el-tree>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { sampleDetail, sampleSave, checkAdDetail } from '@/api/SampleManage.js'
import { searchAdOwner, getMediaList, searchAdByName } from "@/api/Function.js"
import upload from '@/components/upload.vue'
import aliplayer from '@/components/aliplayer'
  export default {
    name: 'tvbcSample',
    components: { aliplayer, upload },
    props: {
      fid: {
        type: [String, Number],
        default: '',
      }
    },
    data() {
      let lengthRule = (rule, value, callback) => {
        if (isNaN(value)) {
          return callback(new Error('请输入正确的时长'))
        }
        return callback()
      };
      return {
        dialogVisible: true,
        filterText: '',
        details:{},
        favifilename: '',
        sampleStatus:[],
        drawer: false,
        loading: false,
        sampleForm: {
          adType: '1',
          is_long_ad: '1',
          fillegaltypecode: '0'
        },
        mediaList: [],
        queryAdNameList: [],
        multipleSelection: [],
        modal: false,
        size: '0px',
        illData: [],
        props: {
          children: 'list_2',
          label: 'fexpression'
        },
        state: [
          {label: '有效', value: '1'},
          {label: '无效', value: '0'},
          {label: '删除', value: '-1'},
        ],
        rules: {
          favifilename: [{ required: true, message: '此项必填', trigger: 'blur' }],
          fadname: [{ required: true, message: '此项必填', trigger: 'blur' }],
          fbrand: [{ required: true, message: '此项必填', trigger: 'blur' }],
          adownername: [{ required: true, message: '此项必填', trigger: 'blur' }],
          adclasscode: [{ required: true, message: '此项必填', trigger: 'change' }],
          fmediaid: [{ required: true, message: '此项必填', trigger: 'change' }],
          fadlen: [
            { required: true, message: '此项必填', trigger: 'blur' },
            { validator: lengthRule, trigger: 'blur' }
          ],
          fissuedate: [{ required: true, message: '此项必填', trigger: 'change' }],
          fillegaltypecode: [{ required: true, message: '此项必填', trigger: 'blur' }],
        },
        dataMap: {
          fid: 'fid',
          adName: 'fadname',
          brand: 'fbrand',
          adClass: 'adclasscode',
          adOwnerName: 'adownername',
          version: 'fversion',
          issueDate: 'fissuedate',
          spokesMan: 'fspokesman',
          adLen: 'fadlen',
          illegalTypeCode: 'fillegaltypecode',
          illegalContent: 'fillegalcontent',
          approvalId: 'fapprovalid',
          approvalUnit: 'fapprovalunit',
          state: 'fstate',
          aviFileName: 'favifilename',
          mediaId: 'fmediaid'
        }
      }
    },
    watch: {
      filterText(val) {
        this.$refs.tree.filter(val)
      },
    },
    computed: {
      ...mapGetters(['pickerOptions', 'routerMap', 'adClassTree', 'adClassOptions', 'illType', 'mediaType', 'illegalTree','rowStyle']),
      IllegalList(){
        return JSON.parse(JSON.stringify(this.illegalTree)).map(i => {
          if(i.list_2){
            i.list_2.map(v => {
              v.fexpression = `【${v.fcode}】${v.fexpression}`
              return v
            })
          }
          return i
        })
      },
      isIll(){
        return this.details.fillegaltypecode === '30'
      },
      isIllCheck(){
        return this.details.fillegaltypecode === '-30'
      },
      expressionCodes(){
        if(this.$refs.tree){
          let checked = this.$refs.tree.getCheckedNodes()
          return checked.map(i => i.fcode).join(';')
        }
        return ''
      },
    },
    created() {
      // this.setMeta()
      this.getDetails()
    },
    mounted() {
      this.$nextTick(() => {
        this.drawer = false
        setTimeout(() => {
          this.size = '450px'
          this.modal = true
        },3000)
      })
    },
    methods:{
      seek(time) {
        this.$refs.player._seek(time)
      },
      filterNode(value, data) {
        if (!value) return true
        return data.fexpression.indexOf(value) !== -1
      },
      submit(){
        this.$refs.form.validate(valid => {
          if(valid){
            let data = {
              adName: this.details.fadname,
              brand: this.details.fbrand,
              adClass: this.details.adclasscode,
              adOwnerName: this.details.adownername,
            }
            checkAdDetail(data).then(res => {
              if(res.msg){
                this.$confirm(res.msg, '确 认', {
                  confirmButtonText: '确 认',
                  cancelButtonText: '取 消',
                  type: 'warning'
                }).then(() => {
                  this.sampleSave()
                }).catch(() => {})
              }else{
                this.sampleSave()
              }
            })
          }
        })
      },
      sampleSave(){
        let data = {
          mediaClass: this.routerMap[this.$route.name]
        }
        for(let key in this.dataMap){
          if(key === 'aviFileName'){
            data[key] = this.favifilename || this.details[this.dataMap[key]]
          }else{
            data[key] = this.details[this.dataMap[key]] || ''
          }
        }
        if(data.illegalTypeCode === '30'){
          data.expressionCodes = this.expressionCodes
        }
        sampleSave(data).then(res => {
          this.$notify.success(res.msg)
          this.$emit('getList')
          this.$emit('drawerClose')
          this.dialogClose()
        }).catch(() => {
          this.dialogClose()
        })
      },
      remoteMethod(mediaName){
        if (mediaName !== '') {
          let data = {
            mediaClass: this.routerMap[this.$route.name],
            mediaName
          }
          getMediaList(data).then(res => {
            this.mediaList = res.data
          })
        } else {
          this.mediaList = []
        }
      },
       // 广告名称模糊搜索
      searchadname(queryString, cb) {
        let data = {
          adName: queryString
        }
        searchAdByName(data).then(res => {
          this.queryAdNameList = (res.data || [])
          cb((res.data || []).map(i => ({value: i.fadname})))
        })
      },
      adnameSelect({value}){
        let item = this.queryAdNameList.filter(i => i.fadname === value)[0]
        if(item){
          this.$set(this.details, 'adownername', item.fadowner)
          this.$set(this.details, 'fbrand', item.fbrand)
          this.$set(this.details, 'adownername', item.fadownername)
          this.$set(this.details, 'adclasscode', item.fadclasscode)
        }
      },
      uploadSuccess(data){
        this.$notify.success('上传成功')
        this.favifilename = data.url
      },
      uploadError(){
        this.$notify.error('上传失败')
      },
      getDetails(){
        let data = {
          fid: this.fid,
          mediaClass: this.routerMap[this.$route.name]
        }
        this.loading = true
        sampleDetail(data).then(res => {
          this.details = res.data
          this.mediaList = [{
            fid: res.data.fmediaid,
            fmedianame: res.data.fmedianame,
          }]
          if(res.data.fexpressioncodes){
            this.$refs.tree.setCheckedKeys(res.data.fexpressioncodes.split(';'))
            this.multipleSelection = this.$refs.tree.getCheckedNodes()
          }
          this.loading = false
        }).catch(() => this.loading = false)
      },
      setMeta(){
        const title = this.$route.path === '/tvSample' ? '电视' : '广播'
        this.$route.meta.title =  `${title}样本信息`
      },
      showDrawer(){
        this.drawer = true
      },
      delIll(){
        let del = this.multipleSelection.map(i => i.fcode)
        let result = this.illData.filter(i => {
          return !del.includes(i.fcode)
        })
        this.$refs.tree.setCheckedNodes(result)
      },
      // 广告主模糊搜索
      searchadowner(queryString, cb) {
        let data = {
          name: queryString
        }
        searchAdOwner(data).then(res => {
          if (res.code === 0) {
            cb(res.data)
          }
        })
      },
      dialogClose() {
        this.dialogVisible = false
        this.$emit('close')
      },
      handleClose(){
        this.drawer = false
      },
      handleCheck(){
        this.illData = this.$refs.tree.getCheckedNodes()
      },
    },
  }
</script>

<style lang="scss" scoped>
.tvbc-sample{
  display: flex;
  width: 100%;
  height: 100%;
  .video-wrapper{
    // background-color: #f1f1f1;
    width: 450px;
    height: 320px;
    margin-right: 12px;
  }
  .info-wrapper{
    flex:1;
    // width: 100%;
    &/deep/.el-card__header{
      padding: 12px 20px;
    }
    .marin-b{
      margin-bottom: 12px;
    }
    .btn-wrapper{
      padding: 12px 0;
      text-align: center;
    }
  }
}
</style>