<template>
  <div class="change-pwd">
    <el-dialog :visible.sync="show"
      center
      :show-close="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :title="(page === 'login')?'忘记密码':'修改信息'"
      width="470px">
      <el-form :model="form"
        ref="form"
        label-width="100px">
        <el-form-item label="新密码："
          v-if="!$store.state.safePWD||page === 'login'">
          <el-input v-model="form.fpassword2"
            type="password"
            placeholder="请输入新密码"></el-input>
        </el-form-item>
        <el-form-item label="确认密码："
          v-if="!$store.state.safePWD||page === 'login'">
          <el-input v-model="form.fpassword3"
            type="password"
            placeholder="请再次输入新密码"></el-input>
        </el-form-item>
        <el-form-item label="绑定手机："
          v-if="!$store.state.trueNUM||page === 'login'">
          <el-input v-model="form.phone"
            placeholder="请输入手机号"></el-input>
        </el-form-item>
        <el-form-item label="验证码：">
          <el-input v-model="form.verify"
             class="little-input"
            placeholder="请输入验证码(点击刷新验证码)"></el-input>
						<verify ref="reverify"></verify>
        </el-form-item>
        <el-form-item label="短信验证码："
          v-if="!$store.state.trueNUM||page === 'login'">
          <el-input v-model="form.auto_num"
					 class="little-input"
            placeholder="请输入手机收到的短信验证码">
          </el-input>
					<sms :verify="form.verify" :phone="form.phone" @getsms="getsms" ref="getsms"></sms>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button type="primary"
          @click="_submit">提 交</el-button>
        <el-button type="danger"
          @click="closeDg"
          v-if="page === 'login'">取消</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import verify from './verify'
import sms from './sms'
import { encrypt } from '@/until/rsa.js'
export default {
	components:{
		verify,
		sms
	},
  props: {
    page: {
      type: String,
      default: 'changpwd'
    }
  },
  data() {
    return {
      show: true,
      form: {
        verify: '',
        fpassword2: '',
        fpassword3: '',
        phone: '',
        auto_num: ''
      },
    }
  },
  methods: {
    // 退出登录
    _outLogin() {
      axios.post(this.$_ + '/Agp/Core/quietlogin')
        .then(res => {
          this.$router.push({ 'path': 'login' })
          localStorage.removeItem('MenuPermission')
          setTimeout(() => {
            location.reload()
          },200)
        })
        .catch(() => {
          this.$func._error()
        })
    },
    // 提交
    _submit() {
      let url = ''
      let data = null
      if (this.page === 'login') {
        //忘记密码
        if (!this.$func._verifyPwd(this.form.fpassword2)) {
          this.$func._error('密码必须由6-16位的数字与字母构成')
          return false
        }
        if (!this.$func._verifySamePwd(this.form.fpassword2, this.form.fpassword3)) {
          this.$func._error('两次密码输入不一致')
          return false
        }
        if (!this.form.verify) {
          this.$func._error('请填写验证码')
          return false
        }
        data = {
          fpassword2: encrypt(this.form.fpassword2),
          fpassword3: encrypt(this.form.fpassword3),
          auto_num: this.form.auto_num,
        }
        url = '/Agp/Login/verifygmm'
      }
      else if (!this.$store.state.trueNUM && !this.$store.state.safePWD) {
        // 修改手机号与密码
        if (!this.$func._verifyPwd(this.form.fpassword2)) {
          this.$func._error('密码必须由6-16位的数字与字母构成')
          return false
        }
        if (!this.$func._verifySamePwd(this.form.fpassword2, this.form.fpassword3)) {
          this.$func._error('两次密码输入不一致')
          return false
        }
        if (!this.form.auto_num) {
          this.$func._error('请填写手机验证码')
          return false
        }
        data = {
          fpassword2: encrypt(this.form.fpassword2),
          fpassword3: encrypt(this.form.fpassword3),
          auto_num: this.form.auto_num,
        }
        url = '/Agp/Base/edit_phone2'
      } else if (!this.$store.state.trueNUM) {
        // 只修改手机号
        if (!this.form.auto_num) {
          this.$func._error('请填写手机验证码')
          return false
        }
        data = {
          phone: encrypt(this.form.phone),
          auto_num: this.form.auto_num,
        }
        url = '/Agp/Base/edit_phone'
      } else if (!this.$store.state.safePWD) {
        // 只修改密码
        if (!this.$func._verifyPwd(this.form.fpassword2)) {
          this.$func._error('密码必须由6-16位的数字与字母构成')
          return false
        }
        if (!this.$func._verifySamePwd(this.form.fpassword2, this.form.fpassword3)) {
          this.$func._error('两次密码输入不一致')
          return false
        }
        if (!this.form.verify) {
          this.$func._error('请填写验证码')
          return false
        }
        data = {
          fpassword2: encrypt(this.form.fpassword2),
          fpassword3: encrypt(this.form.fpassword3),
          verify: this.form.verify,
        }
        url = '/Agp/Base/edit_mima2'
      }
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            if (this.page === 'login') {
              let info = {}
              info.fcode = this.form.phone
              info.fpassword = this.form.fpassword3
              this.$emit('close', info)
            } else {
              this._outLogin()
            }
          } else {
            this.$func._error(res.data)
          }
        }).catch(()=>{
					this.$func._error()
				})
    },
    closeDg() {
      this.$emit('close')
    },
		getsms(){
			let url = '';
			if (!this.$func._verifyPhone(this.form.phone)) {
				this.$func._error('请输入正确的手机号')
				return false
			}
			let data = {
				phone: encrypt(this.form.phone),
				verify: this.form.verify
			}
			if (this.page === 'login') {
				//忘记密码
				url = '/Agp/Login/getgmyz'
			} else {
				url = '/Agp/Base/getgmyz'
			}
			axios.post(this.$_ + url, qs.stringify(data))
				.then(res => {
					if (res.data.code === 0) {
						this.$message.success(res.data.msg)
						this.$refs.getsms._reVerify()
					} else {
						this.$func._error(res.data)
						this.$refs.reverify._changeVerify()
					}
				})
				.catch(e => {
					this.$func._error(res.data)
					this.$refs.reverify._changeVerify()
				})
		}
  }
}
</script>

<style scoped>
.little-input{
  width:calc(100% - 110px);
  float:left;
}
</style>