<template>
  <div class="create-task">
    <el-dialog width="600px"
      title="生成任务"
      :visible.sync="show"
      center
      @close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-form :model="taskCreate"
        label-width="90px">
        <el-form-item label="生成类型：">
          <el-radio-group v-model="taskCreate.createtype">
            <el-radio label="10">按百分比抽取
              <el-tooltip class="item"
                effect="dark"
                content="最低 3%"
                placement="top-start">
                <i class="el-icon-info"></i>
              </el-tooltip>
            </el-radio>
            <el-radio label="20">抽取固定条数
              <el-tooltip class="item"
                effect="dark"
                content="当输入条数大于现有条数时，按现有条数生成"
                placement="top-start">
                <i class="el-icon-info"></i>
              </el-tooltip>
            </el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :label="taskCreate.createtype === '10' ? '输入百分比：' : '输入数量：'">
          <el-input type="number"
            min="3"
            max="100"
            v-model="taskCreate.createcount"
            v-if="taskCreate.createtype === '10'"></el-input>
          <el-input type="number"
            min="1"
            v-model="taskCreate.createcount"
            @change="_inputInit"
            v-if="taskCreate.createtype === '20'"></el-input>
        </el-form-item>
        <el-form-item label="发布日期：">
          <el-date-picker :editable="false"
            :style="formWidth"
            v-model="date"
            value-format="yyyy-MM-dd"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            @change="_dateChange"
            :picker-options="pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="媒体类型：">
          <el-select v-model="taskCreate.fmediaclass"
            placeholder="请选择媒体类型"
            :style="formWidth">
            <el-option v-for="item in mediaType"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="广告类别：">
          <el-cascader :style="formWidth"
            v-model="fadclasscode"
            :options="$store.state.adClassOptions"
            :props="$store.state.propsOptions"
            @change="_setAdclass"
            clearable></el-cascader>
        </el-form-item>
        <el-form-item label="违法类型：">
          <el-select :style="formWidth"
            v-model="taskCreate.fillegaltypecode"
            clearable
            placeholder="请选择">
            <el-option v-for="item in $store.state.leagalOptions"
              :key="item.fcode"
              :label="item.fillegaltype"
              :value="item.fcode">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_submit"
          :loading="$store.state.bloading">生成</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import axios from "axios";
import qs from "qs";
export default {
  props: ['mediaType'],
  data() {
    return {
      formWidth: { width: '100%' },
      pickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      show: true,
      taskCreate: {
        createtype: '10',
        fillegaltypecode: '',
        fmediaclass: 'tv',
        fissuedatest: '',
        fissuedateed: '',
        fadclasscode: '',
        createcount: '3'
      },
      date: '',
      fadclasscode: []
    }
  },
  methods: {
    _submit() {
      switch (this.taskCreate.createtype) {
        case '10':
          if (this.taskCreate.createcount < 3 || this.taskCreate.createcount > 100) {
            this.$message.error('最低比例为 3%，最高比例为 100%')
          }
          break
        case '20':
          if (this.taskCreate.createcount < 1) {
            this.$message.error('最低比例为 3%')
          }
          break
      }
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Agp/Ffuhe/createfuhe', qs.stringify(this.taskCreate))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
          } else if (res.data.code === 1) {
            this.$message.warning(res.data.msg)
          } else {
            this.$func._error(res.data)
          }
          this.$emit('close')
          this.$emit('success')
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error('网络错误，任务生成失败！')
          this.$emit('close')
          this.$store.commit('_bloading', false)
        })
    },
    _close() {
      this.$emit('close')
    },
    _setAdclass(val) {
      this.taskCreate.fadclasscode = val[val.length - 1]
    },
    _dateChange(val) {
      this.taskCreate.fissuedatest = val[0]
      this.taskCreate.fissuedateed = val[1]
    },
    _inputInit(val) {
      this.taskCreate.createcount = Math.floor(val)
    }
  }
}
</script>
