<template>
  <div class="registration-form">
    <!-- 广告详情 -->
    <el-container>
      <el-main width="30%">
        <div>
          <h4>广告详情</h4>
          <div>
            <video src="" controls></video>
            <ul>
              <li>
                <span>广告名称:</span><em>{{name}}</em>
              </li>
              <li>
                <span>广告内容类别:</span><em>{{category}}</em>
              </li>
              <li>
                <span>发布次数:</span><em>{{fnumber}}</em>
              </li>
              <li>
                <span>指导次数:</span><em>{{znumber}}</em>
              </li>
              <li>
                <span>首次发布日期:</span><em>{{sdate}}</em>
              </li>
              <li>
                <span>末次发布日期:</span><em>{{edate}}</em>
              </li>
            </ul>
          </div>
          <div>
          <h4>流转信息</h4>
          <el-table
            :data="tableData"
            style="width: 100%">
            <el-table-column
              prop="content"
              label="流转信息">
            </el-table-column>
            <el-table-column
              prop="reason"
              label="理由">
            </el-table-column>
            <el-table-column
              prop="time"
              label="时间">
            </el-table-column>
          </el-table>
        </div>
        </div>
      </el-main>
      <el-aside width="70%" style="background:#fff">
        <div>
          <h4>复核结果及反馈</h4>
          <el-container>
            <el-main>
              <h2>复核结果</h2>
              <p>{{result}}</p>
            </el-main>
            <el-main>
              <h2>原判定结果</h2>
             <ul>
                <li>
                      <span>违法类型:</span><em>{{type}}</em>
                    </li>
                    <li>
                      <span>违法内容:</span><em>{{content}}</em>
                    </li>
                    <li>
                      <span>违法表现:</span><em>{{performance}}</em>
                    </li>
                    <li>
                      <span>认定依据:</span><em>{{basis}}</em>
                    </li>
              </ul>
            </el-main>
          </el-container>
        </div>
        
      </el-aside>
    </el-container>
  </div>
</template>
<script>
export default {
  props: ["data"],
  data() {
    return {
      name: "片仔癀",
      category: "药品类",
      fnumber: "4",
      znumber: "0",
      sdate: "2018-2-12 00:00:00",
      edate: "2018-2-12 00:00:00",
      type: "一般违法",
      content: "无",
      performance: "未标明药品的通用名称",
      basis: "第七条第一款",
      now: "",
      tableData: [
        {
          content: "广告复核",
          reason: "复核理由",
          time: "2016-3-12 00：00：00"
        },
        {
          content: "广告复核",
          reason: "复核理由",
          time: "2016-3-12 00：00：00"
        }
      ],
      result: "正在复核"
    };
  }
};
</script>
<style type="scss" scope>
h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
</style>

