<template>
  <div>
    <el-card :style="{'background-color': bgColor}" @click.native="()=>$emit('handleClick')">
      <div class="flexbox">
        <div class="_icon">
          <i class="iconfont" :class="iconName"></i>
        </div>
        <div class="_content">
          <h3 class="_title">{{ text }}</h3>
          <span class="_num">{{ count }}</span>
        </div>
      </div>
       <div class="white">(纳入信用评价{{ creditNum }}家)</div>
    </el-card>
  </div>
</template>

<script>
export default {
  props: {
    iconName: {
      type: String,
    },
    bgColor: {
      type: String,
    },
    text: {
      type: String,
    },
    count: {
      type: [String, Number],
      default: 0
    },
    creditNum: {
      type: [String, Number],
      default: 0
    },
    noCreditNum: {
      type: [String, Number],
      default: 0
    }

  },
  data() {
    return {
    }
  },
}
</script>

<style scoped lang="scss">
.el-card {
  &:hover{
    cursor: pointer;
  }
  &/deep/.el-card__body {
    padding: 18px;
  }
  .flexbox {
    display: flex;
    align-items: center;
    color: #fff;
    ._icon {
      width: 10%;
      .iconfont {
        font-size: 50px;
      }
    }
    ._content {
      font-weight: bold;
      flex-grow: 1;
      text-align: right;
      ._title {
        font-size: 30px;
        margin: 0;
      }
      ._num {
        font-size: 20px;
      }
    }
  }
  .white{
    text-align: right;
    color: #fff;
  }
}
</style>