<template>
  <el-dialog  title="法规库" :visible.sync="showIllegal" center :close-on-click-modal="false"
    :before-close="() => $emit('close')"
    :close-on-press-escape="false" width="1000px">
    <el-input placeholder="关键字搜索" v-model="filterText" clearable>
    </el-input>
    <div class="tree-block">
      <el-tree node-key="fcode" ref="tree" :data="IllegalList" :props="treeProps"
        :filter-node-method="filterNode">
        <div slot-scope="{ node, data }">
          <el-tooltip  effect="dark" :content="'点击复制代码' + node.label" placement="top-start">
            <div class="tree-node-slot" v-clipboard="data.fcode" title="点击复制代码">{{ node.label }}</div>
          </el-tooltip>
        </div>
      </el-tree>
    </div>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      filterText: '',
      showIllegal: true,
      treeProps: {
        label: 'fexpression',
        children: 'list_2'
      },
    }
  },
  computed: {
    IllegalList(){
      return JSON.parse(JSON.stringify(this.$store.state.IllegalList)).map(i => {
        if(i.list_2){
          i.list_2.map(v => {
            v.fexpression = `【${v.fcode}】${v.fexpression}`
            return v
          })
        }
        return i
      })
    },
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val)
    },
  },
  methods: {
     // 搜索节点处理函数
    filterNode(value, data) {
      if (!value) return true
      return data.fexpression.indexOf(value) !== -1
    },
  },
}
</script>

<style lang="scss" scoped>
.tree-block{
  max-height: 350px;
  overflow: auto;
}
</style>