<template>
  <el-dialog :title="params.title"
    width="70%"
    center
    :visible.sync="show"
    :before-close="() => $emit('close')">
    <attach-dialog v-if="showAttach"
      :lafjdata="lafjdata"
      :zjfjdata="zjfjdata"
      @close="showAttach = false">
    </attach-dialog>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <el-table :data="tableData"
      v-loading="loading"
      border
      height="400px">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column width="80"
        label="媒体分类">
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.fmedia_class]}}
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadownername"
        label="广告主"
        width="100"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column show-overflow-tooltip
        width="100"
        prop="fcount"
        :label="predata.search_val === '13' ? '监测总条次':'播出总条次'">
      </el-table-column>
      <el-table-column show-overflow-tooltip
        v-if="predata.search_val !== '13'"
        width="80"
        prop="diffweek"
        label="播出周数">
      </el-table-column>
      <el-table-column show-overflow-tooltip
        width="100px"
        :label="predata.search_val === '13' ? '监测时间段':'播出时间段'">
        <template slot-scope="scope">
          {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
        </template>
      </el-table-column>
      <el-table-column width="110"
        label="违法表现代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="93"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
      <el-table-column prop="fresult"
        show-overflow-tooltip
        label="处理结果">
      </el-table-column>
      <el-table-column width="110"
        fixed="right"
        label="上传处理情况">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            @click="_viewFile(scope.row)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column width="110"
        fixed="right"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-refresh"
            @click="_reDeal(scope.row)"
            :disabled="scope.row.fstatus !== '10' || scope.row.fregion_id !== $store.state.userInfo.regionid">继续处理</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import viewVideo from "@/components/Ggsjzx/Investigation/components/viewVideo"
import attachDialog from '@/components/Ggsjzx/Investigation/components/attachDialog'
export default {
  props: ['params'],
  components: { viewVideo, attachDialog },
  data() {
    return {
      show: true,
      tableData: [],
      countAll: 0,
      searchForm: {
        page: 1,
        fstate: '-1',
        search_type: "10",
        search_val: "",
        iscontain: '1',
        netadtype: '0',
        fstate2: '0',
      },
      predata: {},
      loading: false,
      details: {},
      showVideo: false,
      showAttach: false,
      lafjdata: [],
      zjfjdata: [],
    }
  },
  created() {
    this._getList()
  },
  methods: {
    _getList(page) {
      this.loading = true
      let data = this.initData(page)
      axios.post(this.$_ + "/Agp/Gckchuli/cljieguo_list", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime ? item.fstarttime.substring(0, 10) : ''
              item.fendtime = item.fendtime ? item.fendtime.substring(0, 10) : ''
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.tableData = []
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _viewFile(obj) {
      axios.post(this.$_ + "/Agp/Gckchuli/fjjieguo", qs.stringify({ fid: obj.fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.showAttach = true
            this.zjfjdata = res.data.zjfjdata;
            this.lafjdata = res.data.lafjdata;
          } else {
            this.$func._error(res.data);
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _viewVideo(obj) {
      if (obj.fview_status === '0') {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true
    },
    initData(page) {
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      data.years = new Date().getFullYear()
      data.timetypes = 30
      data.timeval = new Date().getMonth() + 1
      this.predata = data
      return data
    },
  }
}
</script>

<style lang="scss" scoped>
</style>