<template>
  <div class="out-button">
    <el-dropdown @command="createReport" v-if="type.length > 1">
      <el-button type="primary">
        导出<i class="el-icon-arrow-down el-icon--right"></i>
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item v-for="(item,index) in type"
          :key="index"
          :command="item">{{allType[item]}}</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <el-button v-else type="primary" @click="createReport(type[0])">导出</el-button>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="() => {showdownload = false;durl = ''}">
    </out-file>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import outFile from './outFile'
export default {
  components: {
    outFile
  },
  props: {
    url: {
      type: String,
      required: true
    },
    data: {
      type: Object,
      default: () => { },
    },
    type: {
      type: Array,
      default: () => ['xls'],
    },
    json: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      allType: {
        'xls': 'XLS',
        'txt': 'TXT',
        'xml': 'XML',
      },
      durl: '',
      showdownload: false,
    }
  },
  methods: {
   async createReport(command) {
      this.showdownload = true
      await this.$emit('initdata')
      let data = { ...this.data, outtype: command || 'xls'}
      let _data = this.json ? JSON.stringify(data) : qs.stringify(data)
      axios.post(this.$_ + this.url, _data)
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.showdownload = false
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.showdownload = false
          this.$func._error('导出出错！')
        })
    }
  },
}
</script>

<style scoped>
.out-button{
  display: inline-block;
}
</style>