<template>
  <div>
    <aliplayer ref="player"
       v-if="videoUrl"
      :url="videoUrl"
      :autoplay="true"
      width="100%"
      height="265px"
      @start="settimer"
      @stop="cleartimer"
      @error="cleartimer">
    </aliplayer>
    <timeline ref="timeline"
       v-if="videoUrl && stepChange"
      :activetime="videoJump"
      :step="step"
      @click="jumpplay"
      @tmouseup="tmouseup"
      @tmousedown="tmousedown">
      <div class="stepBox">
        <button @click="setStep(1)"
          :class="step === 1 ? 'active' : ''">X1</button>
        <button @click="setStep(2)"
          :class="step === 2 ? 'active' : ''">X2</button>
      </div>
    </timeline>
  </div>
</template>

<script>
import axios from 'axios'
import timeline from '@/components/Ggsjzx/Investigation/components/timeline'
import aliplayer from '@/components/common/aliplayer'
export default {
  props: {
    baseData:{
      type: Object,
      required: true
    },
    params:{
      type: Object,
      required: true
    },
    postUrl:{
      type: String,
      required: true
    }
  },
  components: {
    timeline,
    aliplayer
  },
  data() {
    return {
      step: 1,
      stepChange: true,
      videoJump: '2000 00:00:00',
      videoUrl: '',
      timer: null,
      timeDate: [],
      activeM3u8Index: 0,
      Stime: 0,
      abtime: -1000,
      loading: false,
    }
  },
  watch: {
    baseData: {
      handler(){
        this.reset()
        this.resetUrl()
      },
      deep: true
    }
  },
  created() {
    this.resetUrl()
  },
  methods: {
    resetUrl(){
      this.getInterruptFlow().then(res => {
        this.dataInit()
      })
    },
    seekVideoTime(row){
      let index = this.$func.getUrlIndex(+new Date(`${this.baseData.date} ${row.fstarttime}`), this.timeDate)
      if(index === this.activeM3u8Index) {
        this.seek(this.timeToSecond(row.fstarttime))
      }else{
        this.activeM3u8Index = index
        this.resetPlayer().then(() => {
          this.seek(this.timeToSecond(row.fstarttime))
        })
      }
    },
    reset(){
      this.cleartimer()
      this.videoUrl = ''
      this.timeDate = []
      this.Stime = 0
      this.abtime = -1000
      this.activeM3u8Index = 0
    },
    getInterruptFlow(){
      let fmediaid = this.baseData.mediaid
      let fstarttime = +new Date(`${this.baseData.date} ${this.baseData.starttime}`)
      let fendtime = +new Date(`${this.baseData.date} ${this.baseData.endtime}`)
      return new Promise((resove, reject) => {
        // this.loading = true
        axios.get(`${this.$_}/Api/ShIssue/get_interrupt_flow?fmediaid=${fmediaid}&fstarttime=${fstarttime / 1000}&fendtime=${fendtime / 1000}`).then(({data}) => {
          let _data = JSON.parse(data.data)
          if(_data.ret === 0){
            let arr = _data.data.map(i => {
              i.start = i.start * 1000
              i.end = i.end * 1000
              return i
            })
            this.timeDate = this.$func.getM3u8List(arr,fstarttime,fendtime,fmediaid)
            resove()
          }
        })
      })
    },
    dataInit(page) {
      axios.post(this.$_ + this.postUrl, JSON.stringify(this.params))
        .then(({data}) => {
          if (data.code === 0) {
            if (this.videoUrl !== data.data.live_m3u8_url) {
              let url = this.timeDate[this.activeM3u8Index].url
              this.$func.getM3u8SartTime(url).then(res => {
                this.Stime = res
                this.abtime = this.$func.getAbsTime(this.baseData.date, this.Stime)
                this.videoUrl = url
                this.loading = false
              })
            }
            this.$emit('getRes', data)
          }
        })
    },
    jumpplay(val) {
      this.videoJump = val
      let index = this.$func.getUrlIndex(+new Date(val), this.timeDate)
      if(index === this.activeM3u8Index) {
        this.seek(this.timeToSecond(val.substring(11)))
      }else{
        this.activeM3u8Index = index
        this.resetPlayer().then(() => {
          this.seek(this.timeToSecond(val.substring(11)))
        })
      }
      this.play()
    },
    tmousedown() {
      this.cleartimer()
      this.stop()
    },
    timeToSecond(time) {
      let inputtime = new Date(`${this.baseData.date} ${time}`).getTime()
      let dstart = new Date(`${this.baseData.date} ${this.baseData.starttime}`).getTime()
      let dend = new Date(`${this.baseData.date} ${this.baseData.endtime}`).getTime()
      inputtime = (inputtime >= dstart) && (inputtime <= dend) ? inputtime : inputtime - 60 * 60 * 24 * 1000
      return (inputtime - this.Stime) / 1000
    },
    tmouseup(mw) {
      let current = this.cutTime().substring(11)
      this.seek(this.timeToSecond(current) + mw)
      setTimeout(() => {
        this.settimer()
      }, 200)
    },
    settimer() {
      this.cleartimer()
      this.play()
      this.timer = setInterval(() => {
        this.videoJump = this.cutTime()
      }, 200)
    },
    cutTime(){
      let time = Math.floor((this.getCurrentTime()) * 1000) + this.Stime
      let _time = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      let endTime = this.baseData.date + ' ' + this.timeDate[this.activeM3u8Index].endtime
      let time1 = Date.parse(_time)
      let time2 = Date.parse(endTime)
      // 视频播放至最后
      if (time1 >= time2 || (time1 + 1000) >= time2) {
        // 如果当前时段内还有 m3u8 未播放，播放下一段 m3u8
        if(this.activeM3u8Index < this.timeDate.length - 1){
          this.activeM3u8Index += 1
          this.resetPlayer()
        }else{
          // 如果当前播放的时段不是一天中的最后一个时段，则自动播放下一个时段，否则暂停播放器，播放结束
          if(this.baseData.activeIndex < this.$store.state.timeDate.length - 1){
            this.timeDate = []
            this.activeM3u8Index = 0
            this.videoUrl = ''
            this.$emit('nextM3u8')
          }else{
            this.$message({
              showClose: true,
              message: '播放结束',
              type: 'success'
            })
            this.stop()
          }
        }
      }
      this.$emit('currentTime',_time)
      return _time
    },
    resetPlayer(){
      return new Promise((resove, reject) => {
        this.$func.getM3u8SartTime(this.timeDate[this.activeM3u8Index].url).then(res => {
          this.Stime = res
          this.abtime = this.$func.getAbsTime(this.baseData.date,this.Stime)
          this.$nextTick(() => {
            this.videoUrl = this.timeDate[this.activeM3u8Index].url
            resove()
          })
        })
      })
    },
    cleartimer() {
      clearInterval(this.timer)
      this.timer = null
    },
    setStep(step){
      this.stepChange = false
      this.step = step
      this.$nextTick(() => {
        this.stepChange = true
      })
    },
    play(){
      this.$refs.player._play()
    },
    stop(){
      this.$refs.player._stop()
    },
    getCurrentTime(){
      return this.$refs.player ? this.$refs.player._getCurrentTime() : 0
    },
    seek(time){
      this.$refs.player._seek(time)
    }
  },
  destroyed() {
    this.cleartimer()
  },
}
</script>

<style lang="scss" scoped>
.time-line{
  & /deep/ .stepBox{
    display: none;
  }
  &:hover{
    & /deep/ .stepBox{
      display: flex;
    }
  }
  & /deep/ .stepBox {
    position: absolute;
    right: 0;
    flex-direction: column;
    height: 100%;
    width: 50px;
    background: red;
    & /deep/ button {
      border: none;
      background: rgb(60, 60, 60);
      height: 50%;
      &.active{
        color: #fff;
      }
    }
  }
}
</style>