<template>
  <div class="registration-form">
    <el-dialog
      title="广告复核"
      center
      :visible.sync="show"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="1000px">
      <choiceillegal
        ref="choiceillegal"
        @selected="_select"
        :data="choose">
      </choiceillegal>
      <el-row :gutter="10">
        <el-col :span="12">
          <div style="width:469px;height:264px;"
            v-loading="!adData.favifilename"
            v-if="(data.mclass === 'tv' || data.mclass === 'bc')">
            <aliplayer
              :url="videoUrl"
              v-if="(data.mclass === 'tv' || data.mclass === 'bc') && adData.favifilename && videoUrl">
            </aliplayer>
          </div>
          <div class="imgBlock" v-if="data.mclass === 'paper'" v-loading="!adData.favifilename">
            <vueCropper
              ref="cropper"
              :img="adData.favifilename"
              :outputSize="1"
            ></vueCropper>
          </div>
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息" name="1">
              <el-card>
                <el-row>
                  <el-col :span="4">广告名称：</el-col>
                  <el-col :span="8">{{ adData.fadname ? adData.fadname : '暂无' }}</el-col>
                  <el-col :span="4">品牌：</el-col>
                  <el-col :span="8">{{ adData.fbrand ? adData.fbrand : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">广告类别：</el-col>
                  <el-col :span="20">{{ adData.ffullname ? adData.ffullname : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">发布媒体：</el-col>
                  <el-col :span="8">{{ adData.mediaowner_name ? adData.mediaowner_name : '暂无' }}</el-col>
                  <el-col :span="4">发布次数：</el-col>
                  <el-col :span="8">{{ adData.fissuetimes ? adData.fissuetimes + ' 次' : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">发现时间：</el-col>
                  <el-col :span="8">{{ adData.fsamplecreatetime ? adData.fsamplecreatetime : '暂无' }}</el-col>
                </el-row>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="违法信息" name="2">
              <el-card>
                <el-row>
                  <el-col :span="4">违法类型：</el-col>
                  <el-col :span="20">{{ adData.fillegaltype ? adData.fillegaltype : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">认定依据：</el-col>
                  <el-col :span="20">{{ adData.fconfirmations ? adData.fconfirmations : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">违法表现：</el-col>
                  <el-col :span="20">{{ adData.fexpressions ? adData.fexpressions : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">违法内容：</el-col>
                  <el-col :span="20">{{ adData.fillegalcontent ? adData.fillegalcontent : '暂无' }}</el-col>
                </el-row>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="其他信息" name="3">
              <el-card>
                <el-row>
                  <el-col :span="24">生产批准文号：</el-col>
                  <el-col :span="24">{{ adData.fmanuno }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告中标识的生产批准文号：</el-col>
                  <el-col :span="24">{{ adData.fadmanuno }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告批准文号：</el-col>
                  <el-col :span="24">{{ adData.fapprno }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告中标识的广告批准文号：</el-col>
                  <el-col :span="24">{{ adData.fadapprno }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告中标识的生产企业（证件持有人）名称：</el-col>
                  <el-col :span="24">{{ adData.fadent }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">生产企业（证件持有人）名称：</el-col>
                  <el-col :span="24">{{ adData.fent }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">生产企业（证件持有人）所在地区：</el-col>
                  <el-col :span="24">{{ adData.fentzone }}</el-col>
                </el-row>
              </el-card>
            </el-tab-pane>
          </el-tabs>
        </el-col>
        <el-col :span="12" style="height:100%">
          <el-form >
            <el-form-item label="申请理由" :label-width="labelWidth" v-if="data.tasktype === '20'">
              <p class="recheckReason">{{adData.flow.length ? adData.flow[0].freason : '无'}}</p>
            </el-form-item>
            <el-form-item v-if="false" label="处理方式" :label-width="labelWidth">
              <el-radio-group v-model="adInfo.cltype">
                <el-radio label="10">一致</el-radio>
                <el-radio label="20">不一致</el-radio>
                <el-radio label="30" v-if="$store.state.userInfo.fregulatorppid !== '20100000'">申请复核</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-form>
          <el-form >
            <el-collapse v-model="activeInfo">
              <el-collapse-item title="基本信息" name="1">
                <br>
                <el-form-item label="广告名称" :label-width="labelWidth">
                  <el-input v-model="adInfo.fadname"></el-input>
                </el-form-item>
                <el-form-item label="广告类别" :label-width="labelWidth">
                  <el-cascader
                    style="width:100%"
                    :options="$store.state.adClassOptions"
                    v-model="adInfo.fadclasscode"
                    :props="$store.state.propsOptions"
                    clearable
                  ></el-cascader>
                </el-form-item>
                <el-form-item label="广告版本" :label-width="labelWidth">
                  <el-input v-model="adInfo.fversion" placeholder="请输入广告版本"></el-input>
                </el-form-item>
                <el-form-item label="广告品牌" :label-width="labelWidth">
                  <el-input v-model="adInfo.fbrand" placeholder="请输入广告品牌"></el-input>
                </el-form-item>
                <el-form-item label="广告主" :label-width="labelWidth">
                  <el-input v-model="adInfo.fname" placeholder="请输入广告主"></el-input>
                </el-form-item>
              </el-collapse-item>
              <el-collapse-item title="违法信息" name="2">
                <br>
                <el-form-item label="违法类型" :label-width="labelWidth">
                  <el-select
                    style="width:100%"
                    v-model="adInfo.fillegaltypecode"
                    placeholder="请选择违法类型">
                    <el-option
                      v-for="item in $store.state.leagalOptions"
                      :key="item.fcode"
                      :label="item.fillegaltype"
                      :value="item.fcode">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="违法表现" :label-width="labelWidth">
                  <el-button type="primary" @click="_showList">选择违法表现</el-button> 已选 {{ chooseObj.length }} 条违法表现
                  <div
                    class="expression-tag"
                    v-for="item in chooseObj"
                    :key="item.fcode">
                    {{item.fexpression}}
                  </div>
                </el-form-item>
                <el-form-item label="违法内容" :label-width="labelWidth">
                  <el-input v-model="adInfo.fillegalcontent" type="textarea"></el-input>
                </el-form-item>
              </el-collapse-item>
              <el-collapse-item title="其他信息" name="3">
                <br>
                <el-form-item label="生产批准文号" label-width="110px">
                  <el-input v-model="adInfo.fmanuno"></el-input>
                </el-form-item>
                <el-form-item label="广告中标识的生产批准文号" label-width="195px">
                  <el-input v-model="adInfo.fadmanuno"></el-input>
                </el-form-item>
                <el-form-item label="广告批准文号" label-width="110px">
                  <el-input v-model="adInfo.fapprno"></el-input>
                </el-form-item>
                <el-form-item label="广告中标识的广告批准文号" label-width="195px">
                  <el-input v-model="adInfo.fadapprno"></el-input>
                </el-form-item>
                <el-form-item label="广告中标识的生产企业（证件持有人）名称" label-width="295px">
                  <el-input v-model="adInfo.fadent"></el-input>
                </el-form-item>
                <el-form-item label="生产企业（证件持有人）名称" label-width="210px">
                  <el-input v-model="adInfo.fent"></el-input>
                </el-form-item>
                <el-form-item label="生产企业（证件持有人）所在地区" label-width="240px">
                  <el-input v-model="adInfo.fentzone"></el-input>
                </el-form-item>
              </el-collapse-item>
            </el-collapse>
          </el-form>
          <el-form  v-if="adInfo.cltype === '30'">
            <el-form-item label="复核理由" :label-width="labelWidth">
              <el-input v-model="adInfo.freason" type="textarea"></el-input>
            </el-form-item>
          </el-form>
          <br>
          <el-col :span="24" class="text-center">
            <el-button v-if="false" type="primary"  @click="_submit" :loading="$store.state.bloading">提交</el-button>
            <el-button type="primary"  @click="_submit" :loading="$store.state.bloading">申请复核</el-button>
          </el-col>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import aliplayer from '../common/aliplayer'
import qs from 'qs'
import VueCropper from 'vue-cropper'
import choiceillegal from "./choiceillegal"
export default {
  components: {
    choiceillegal,
    VueCropper,
    aliplayer
  },
  props: ["data"],
  data() {
    return {
      adInfo:{cltype:'20'},
      adData: {flow:[{}]},
      sbttype: '20',
      show: true,
      activeName: '1',
      activeInfo: '1',
      labelWidth: '80px',
      showilllist: false,
      choose:[],
      chooseObj:[],
      videoUrl: ''
    }
  },
  created(){
    this._getDetails()
  },
  methods: {
    _submit(){
      let params = {
        fid: this.data.fid,
        cltype: this.adInfo.cltype,
        sbttype: this.sbttype
      }
      switch(this.adInfo.cltype){
        case '10':
        break
        case '20':
          let data = this._isEq()
          params = {...params,...data}
        break
        case '30':
          params.freason = this.adInfo.freason
        break
      }
      this.$store.commit('_bloading',true)
      let url = this.data.tasktype === '20' ? '/Agp/Ffuhe/updatefuhetask' : '/Agp/Ffuhe/updatefuhe'
      axios.post(this.$_ + url,qs.stringify(params))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(res.data.msg)
          this.$emit('close')
        }else{
          this.$func._error(res.data)
        }
        this.$store.commit('_bloading',false)
      })
      .catch(() => {
        this.$func._error()
        this.$store.commit('_bloading',false)
      })
    },
    _getDetails(){
      let fid = this.data.fid
      let mclass = this.data.mclass
      let url = this.data.tasktype === '20' ? '/Agp/Ffuhe/getfuhetaskview' : '/Agp/Ffuhe/getfuheview'
      axios.post(this.$_ + url,qs.stringify({fid: fid,mclass: mclass}))
      .then(res => {
        if(res.data.code === 0){
          this.adData = res.data.data
          this.adData.fadclasscode = [res.data.data.fpcode,res.data.data.fcode]
          if(res.data.data.fexpressioncodes){
            let obj = {}
            obj.fcode = res.data.data.fexpressioncodes
            obj.fexpression = res.data.data.fexpressions
            this.chooseObj.push(obj)
            this.choose = res.data.data.fexpressioncodes.split(',')
          }
          if(this.data.mclass === 'tv' || this.data.mclass === 'bc'){
            this.videoUrl = res.data.data.favifilename
          }
          this.adInfo = {...this.adData,freason:'',cltype:'20',result:'',fillegaltypecode:res.data.data.tfcode}
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _showList(){
      this.$refs.choiceillegal._showDalog()
      this.$refs.choiceillegal._setChoose()
    },
    _select(val){
      this.chooseObj = val
      this.choose = []
      this.chooseObj.forEach(item => {
        this.choose.push(item.fcode)
      })
    },
    _close(){
      this.$emit('close')
    },
    _searchAdOwner(queryString, cb){
      axios.post(this.$_ + '',qs.stringify({}))
      .then(res => {
        if(res.data.code === 0){
          cb(res.data.data)
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _isEq(){
      const baseInfo = [
        'fadclasscode',
        'fadent',
        'fadmanuno',
        'fadname',
        'fapprno',
        'fbrand',
        'fconfirmations',
        'fent',
        'fentzone',
        'fmanuno',
        'fversion',
        'fname'
      ]
      const leagalInfo = [
        'fexpressioncodes',
        'fillegalcontent',
        'fillegaltypecode'
      ]
      let baseDiff = false
      let leagalDiff = false
      baseInfo.forEach(item => {
        if(Array.isArray(this.adInfo[item])){
          let eqArray = this._eqArray(this.adInfo[item],this.adData[item],item)
          if(eqArray) baseDiff = true
        }else{
          if(this.adInfo[item] !== this.adData[item]) baseDiff = true
        }
      })
      leagalInfo.forEach(item => {
        if(item === 'fexpressioncodes'){
          let arr = this.adInfo[item] ? this.adInfo[item].split(',') : []
          let eqArray = this._eqArray(arr,this.choose,item)
          if(eqArray) leagalDiff = true
        }else{
          if(this.adInfo[item] !== this.adData[item]) leagalDiff = true
        }
      })

      let {
        fadname,
        fversion,
        fbrand,
        fname,
        fadmanuno,
        fmanuno,
        fapprno,
        fadapprno,
        fadent,
        fent,
        fentzone,
        fillegalcontent,
        fillegaltypecode
      } = this.adInfo
      let params = {
        fadname,
        fversion,
        fbrand,
        fname,
        fadmanuno,
        fmanuno,
        fapprno,
        fadapprno,
        fadent,
        fent,
        fentzone,
        fillegalcontent,
        fillegaltypecode
      }
      if(baseDiff && leagalDiff){
        params.fresulttype = '30'
      }else if(baseDiff && !leagalDiff){
        params.fresulttype = '10'
      }else if(!baseDiff && leagalDiff){
        params.fresulttype = '20'
      }else{
        this.$message.error('无修改，请选择处理方式为“一致”！')
      }
      params.fadclasscode = this.adInfo.fadclasscode[this.adInfo.fadclasscode.length - 1]
      params.fexpressioncodes = this._getString('fcode',',')
      params.fexpressions = this._getString('fexpression',';')
      params.fconfirmations = this._getString('fconfirmation',';')
      return params
    },
    _eqArray(arr1,arr2,item){
      let isIncludes = false
      if(!arr1.length && !arr2.length){
        return isIncludes
      }else{
        if(arr1.length && arr2.length){
          arr1.forEach(item2 => {
            if(!arr2.includes(item2)) isIncludes = true
          })
          return isIncludes
        }else{
          return true
        }
      }
    },
    _getString(name,f){
      let arr = []
      this.chooseObj.forEach(item => {
        arr.push(item[name])
      })
      return arr.join(f)
    }
  }
}
</script>
<style lang="scss" scoped>
.registration-form{
  .recheckReason{
    margin: 0;
  }
  .imgBlock{
    height: 300px;
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
  .expression-tag{
    font-size: 12px;
    line-height: 24px;
    background-color: hsla(0,87%,69%,.1);
    color: #f56c6c;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid hsla(0,87%,69%,.2);
    margin-top: 10px;
  }
}
</style>