<template>
	<div class="verify">
		<img :src="$_ + '/Agp/Login/verify/' + tstring"
			height="30px"
			alt="验证码加载失败"
			class="pull-right"
			@click="_changeVerify"
		>
	</div>
</template>

<script>
	export default {
		data(){
			return{
				tstring: '',
			}
		},
		methods:{
			// 刷新验证码
			_changeVerify() {
				this.tstring = new Date().getTime()
			},
		}
	}
</script>

<style scoped>

</style>
