<template>
  <div class="ckchuli">
    <div v-loading="loading">
      <el-form inline
        ref="sform"
        label-width="90px">
        <el-row>
          <el-col :span="24">
            <g-search></g-search>
          </el-col>
          <el-col :span="24">
            <el-form-item label="媒体地区：">
              <el-cascader :options="$store.state.wfqdarea2"
                :props="$store.state.areaOptions"
                v-model="area"
                clearable
                @change="areaClear">
              </el-cascader>
              <el-switch v-model="searchForm.iscontain"
                active-value="1"
                inactive-value="0"
                :disabled="!area.length"
                active-text="包含下属地区">
              </el-switch>
            </el-form-item>
            <el-form-item label="处理状态：">
              <el-select v-model="searchForm.fstate"
                @change="() => { searchForm.fstate2 = '0' }">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option label="待处理"
                  value="0"></el-option>
                <el-option label="已处理"
                  value="10"></el-option>
                <el-option label="复核"
                  value="30"></el-option>
              </el-select>
              <el-select v-model="searchForm.fstate2"
                style="width:145px"
                v-if="searchForm.fstate === '0'">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option label="未查看"
                  value="10"></el-option>
                <el-option label="已查看"
                  value="20"></el-option>
              </el-select>
              <el-select v-model="searchForm.fstate2"
                style="width:145px"
                v-if="searchForm.fstate === '10'">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in sblx"
                  :key="key"
                  :label="value"
                  :value="key"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="查询条件：">
              <el-select class="right-margin"
                v-model="searchForm.search_type"
                placeholder="请选择"
                @change="()=>{searchForm.search_val=''}">
                <el-option v-for="item in $store.state.selectData"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
              <el-select class="right-margin"
                v-model="searchForm.search_val"
                placeholder="请选择"
                v-if="searchForm.search_type === '10'">
                <el-option label="全部"
                  value="">
                </el-option>
                <el-option :label="item.label"
                  :value="item.value"
                  v-for="item in Mediatype"
                  :key="item.value">
                </el-option>
              </el-select>
              <el-input class="secrch right-margin"
                style="width:150px;"
                type="text"
                v-if="searchForm.search_type !== '10'"
                v-model="searchForm.search_val">
              </el-input>
              <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
                v-model="searchForm.netadtype"
                placeholder="请选择"
                style="width:200px;">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in $store.state.netadtype"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
              <el-date-picker
                v-model="result"
                v-if="isah"
                style="width: 240px"
                type="daterange"
                value-format="yyyy-MM-dd HH:mm:ss"
                range-separator="至"
                start-placeholder="处理日期"
                end-placeholder="处理日期">
              </el-date-picker>
              <el-date-picker
                v-model="send"
                style="width: 240px"
                type="daterange"
                value-format="yyyy-MM-dd HH:mm:ss"
                range-separator="至"
                start-placeholder="派发日期"
                end-placeholder="派发日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item>
              <el-button type="primary"
                @click="_getList(1)"
                icon="el-icon-search"
                >查询</el-button>
                <out-button class="right-margin"
                  :data="predata"
                  style="margin-left: 10px;"
                  @initdata="outData"
                  url="/Agp/Gckchuli/cljieguo_list" />
              <el-tooltip effect="dark" content="批量操作需要至少勾选一项" placement="top-start">
                <el-button type="success" @click="linkForm()" :disabled="this.multipleSelection.length <= 0" title="批量操作需要至少勾选一项">
                  表 单
                </el-button>
              </el-tooltip>
              <el-button type="primary"
                icon="el-icon-check"
                @click="duban"
                title="批量操作需要至少勾选一项"
                :disabled="this.multipleSelection.length <= 0"
                v-if="$store.state.userInfo.illSupervise === 1 || ($store.state.userInfo.illSupervise === 2 && (Number($store.state.userInfo.tregionlevel) === Number($store.state.userInfo.fregulatorlevel)+10))"
                class="right-margin"
                >执法监督</el-button>
              <el-button v-if="
                (area[area.length - 1] === $store.state.userInfo.regionid && $store.state.userInfo.fregulatorlevel !== 30)
                ||
                (!area.length && $store.state.userInfo.fregulatorlevel !== 30)
                "
                type="danger"
                :disabled="this.multipleSelection.length <= 0"
                @click="_reResult"
                title="批量操作需要至少勾选一项"
                icon="el-icon-circle-close"
                class="right-margin">
                撤销处理
              </el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData"
        border
        size="small"
        class="new-tabel"
        :height="$store.state.GTableHeight"
        @selection-change="_handleSelectionChange">
        <el-table-column type="selection"
          width="40">
        </el-table-column>
        <el-table-column width="78"
          label="媒体分类">
          <template slot-scope="scope">
            <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称"
          min-width="220"
          show-overflow-tooltip>
          <template slot-scope="scope">
            <span v-if="scope.row.showTimeout > 0">
              <el-popover
                placement="top-start"
                title="提醒"
                trigger="hover"
                content="'任务超时！'">
                <span class="taskMsg el-icon-warning"  slot="reference"></span>
              </el-popover>
            </span>
            <span v-if="scope.row.againIssue > 0">
              <el-popover
                placement="top-start"
                title="提醒"
                trigger="hover"
                content="本线索上月已作处罚，本月依然发布。">
                <span class="el-icon-bell notice"  slot="reference"></span>
              </el-popover>
            </span>
            {{ scope.row.fad_name }}
          </template>
        </el-table-column>
        <el-table-column prop="fmedianame"
          width="80"
          label="发布媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          v-if="this.$store.state.userInfo.isShowRegion === 1 || this.$store.state.userInfo.isShowRegion === 2"
          prop="mediaregion"
          label="媒体地区"
          width="80"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadownername"
          label="广告主"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="adownerregion"
          v-if="this.$store.state.userInfo.isShowRegion === 1 || this.$store.state.userInfo.isShowRegion === 3"
          label="广告主地区"
          width="90"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="65"
          prop="fcount"
          label="总条次">
        </el-table-column>
        <el-table-column show-overflow-tooltip
          v-if="predata.search_val !== '13'"
          width="50"
          prop="diffweek"
          label="周数">
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="100px"
          label="时间段">
          <template slot-scope="scope">
            {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
          </template>
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="100"
          label="派发日期">
          <template slot-scope="scope">
            {{scope.row.fsend_datetime ? $dayjs(scope.row.fsend_datetime).format('YYYY-MM-DD') : ''}}
          </template>
        </el-table-column>
         <el-table-column show-overflow-tooltip
          v-if="isah"
          width="100"
          label="处理日期">
          <template slot-scope="scope">
            {{scope.row.fresult_datetime ? $dayjs(scope.row.fresult_datetime).format('YYYY-MM-DD') : ''}}
          </template>
        </el-table-column>
        <el-table-column width="80" align="center" show-overflow-tooltip>
           <span slot="header">违法 <br> 表现代码</span>
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                class="text-red"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column width="80" align="center">
          <span slot="header">证据 <br> 查看下载</span>
          <template slot-scope="scope">
            <el-button type="text"
              :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
              @click="_viewVideo(scope.row)">
              查看
            </el-button>
          </template>
        </el-table-column>
        <el-table-column prop="frece_reg"
          width="100px"
          show-overflow-tooltip
          label="处理机构">
        </el-table-column>
        <el-table-column prop="fresult"
          width="100px"
          show-overflow-tooltip
          label="处理结果">
        </el-table-column>
        <el-table-column prop="fresult_datetime"
          width="90px"
          show-overflow-tooltip
          label="处理时间">
        </el-table-column>
        <el-table-column width="78"
          fixed="right"
          label="处理情况">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-tickets"
              @click="_viewFile(scope.row)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column width="160"
          fixed="right"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-refresh"
              @click="_reDeal(scope.row)"
              :disabled="scope.row.fstatus !== '10'">继续处理</el-button>
              <el-button type="text" @click="linkForm(scope.row.fid)">
                  表 单
              </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <attach-dialog v-if="showAttach"
      :lafjdata="lafjdata"
      :zjfjdata="zjfjdata"
      :dbfjdata="dbfjdata"
      @close="showAttach = false">
    </attach-dialog>
    <shangbao @close="shoDuBan = false"
      :btnText="true"
      @send="_sendShangbao"
      v-if="shoDuBan">
    </shangbao>
    <el-dialog :title="details.fad_name"
      :visible.sync="showReDeal"
      :close-on-click-modal="false"
      width="600"
      :before-close="_closeAttach"
      center>
      <el-form label-width="90px">
        <el-form-item label="处理方式：">
          <el-checkbox-group class="pull-left right-margin checkbox"
            v-model="checkboxValue">
            <el-checkbox label="责令停止发布"></el-checkbox>
            <el-checkbox label="立案"></el-checkbox>
            <el-checkbox label="移送司法"></el-checkbox>
            <el-checkbox label="其他"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="附件列表：">
          <upload @uploadSuccess="_uploadSuccess"></upload>
          <el-table :data="attaches"
            border>
            <el-table-column label="附件列表">
              <template slot-scope="scope">
                <a :href="scope.row.fattach_url+'?attname='+scope.row.fattach">
                  <el-button type="text">
                    {{scope.row.fattach}}
                  </el-button>
                </a>
              </template>
            </el-table-column>
            <el-table-column width="80"
              label="操作">
              <template slot-scope="scope">
                <el-button type="text"
                  @click="_deleteAttach(scope.row)">
                  删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>
      <span slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_shangbao"
          :loading="$store.state.bloading">提 交</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import upload from '../common/upload'
import GSearch from '../common/GSearch'
import attachDialog from '@/components/Ggsjzx/Investigation/components/attachDialog'
import viewVideo from "@/components/Ggsjzx/Investigation/components/viewVideo"
import shangbao from "@/components/Ggsjzx/Investigation/components/shangbao"
import outButton from '../../common/outButton'
import axios from "axios"
import qs from "qs"
export default {
  components: {
    viewVideo,
    attachDialog,
    GSearch,
    outButton,
    upload,
    shangbao
  },
  data() {
    return {
      result: [],
      send: [],
      attaches: [],
      showAttach: false,
      showReDeal: false,
      checkboxValue: [],
      zjfjdata: [],
      lafjdata: [],
      dbfjdata: [],
      tableData: [],
      searchForm: {
        page: 1,
        fstate: '-1',
        search_type: "10",
        search_val: "",
        iscontain: '1',
        netadtype: '0',
        fstate2: '0',
      },
      predata: {},
      countAll: "0",
      loading: false,
      videoUrl: "",
      showVideo: false,
      multipleSelection: [],
      area: [],
      details: {},
      del: [],
      sblx: {
        '10': '责令停止发布',
        '20': '立案',
        '30': '立案中',
        '40': '立案完成',
        '50': '移送司法',
        '60': '其他',
      },
      shoDuBan: false,
    }
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.allArea[0]['fid']) {
        this.searchForm.area = this.$store.state.allArea[0]['fid']
        this._getList()
        clearInterval(timer)
      }
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    downloadFile(url){
      const iframe = document.createElement("iframe")
      iframe.style.display = "none"
      iframe.style.height = 0
      iframe.src = url
      document.body.appendChild(iframe)
      setTimeout(()=>{
        iframe.remove()
      }, 5000)
    },
    linkForm(fid) {
      const data = {}
      if(fid){
        data.selfid = [fid]
      } else {
        let selfid = this.$func.getIdArr(this.multipleSelection, "fid")
        data.selfid = selfid
      }
      axios.post(this.$_ + "/Agp/Gckchuli/outBiaoDan",qs.stringify(data)).then(res => {
        if (res.data.code === 0) {
          let arr = res.data.data
          for(let i = 0; i < arr.length; i++) {
            this.downloadFile(arr[i])
          }
        } else {
          this.$func._error(res.data.msg)
        }
      })
    },
    duban() {
      this.shoDuBan = true
    },
    _sendShangbao(files,val) {
      let selfid = this.$func.getIdArr(this.multipleSelection, "fid")
      const data = {
        selfid: selfid,
        attachinfo: files,
      }
      // if(val){
      //   data.submit = '1'
      // }
      axios.post(
        this.$_ + "/Agp/Gckchuli/scjiandu",
        qs.stringify(data)
      ).then(res => {
        if (res.data.code === 0) {
          this._getList()
          this.$message.success("操作成功！")
          this.shoDuBan = false
          // this.$store.dispatch('_getDB', `${this.$route.name}|${this.activeTab || '1'}`)
        } else {
          this.$func._error(res.data)
        }
      })
    },
    _shangbao() {
      this.$store.commit('_bloading', true)
      let attachinfo = this.del.concat(this.attaches)
      let selfresult = this.checkboxValue.join(';')
      let fid = this.details.fid
      let data = { attachinfo, selfresult, fid }
      axios.post(this.$_ + '/Agp/Gckchuli/anjian_cxsb', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._getList(1)
            this._closeAttach()
            this.showReDeal = false
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval;
    },
    outData() {
      let fid = this.$func.getIdArr(this.multipleSelection, "fid")
      this.initData()
      this.predata.fid = fid
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.area = this.area[this.area.length - 1]
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      if(this.isah){
        data.fresultdatetime = this.result
      }
      data.fsend_datetime = this.send ? this.send : []
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true
      this.initData(page)
      axios.post(this.$_ + "/Agp/Gckchuli/cljieguo_list", qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime ? item.fstarttime.substring(0, 10) : ''
              item.fendtime = item.fendtime ? item.fendtime.substring(0, 10) : ''
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        })
    },
    _reResult() {
      this.$confirm("撤销处理?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let fid = this.$func.getIdArr(this.multipleSelection, "fid");
          axios
            .post(
              this.$_ + "/Agp/Gckchuli/cxjieguo",
              qs.stringify({ fid: fid })
            )
            .then(res => {
              if (res.data.code === 0) {
                this._getList();
                this.$message.success("操作成功！");
              } else {
                this.$func._error(res.data);
              }
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消"
          });
        });
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _viewVideo(obj) {
      if (obj.fview_status === '0') {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true
    },
    _viewFile(obj) {
      axios
        .post(this.$_ + "/Agp/Gckchuli/fjjieguo", qs.stringify({ fid: obj.fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.showAttach = true;
            this.zjfjdata = res.data.zjfjdata;
            this.lafjdata = res.data.lafjdata;
            this.dbfjdata = res.data.dbfjdata;
          } else {
            this.$func._error(res.data);
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _reDeal(obj) {
      this.details = obj;
      this.checkboxValue = (obj.fresult.split(';')).filter(item => {
        return item !== ''
      })
      this._getAttachfiles()
      this.showReDeal = true
    },
    _uploadSuccess(obj) {
      let a = {}
      a.fattach = obj.file.name
      a.fattach_url = obj.url + obj.file.response.key
      a.fattach_status = '2'
      this.attaches.push(a)
    },
    _closeAttach() {
      this.attaches = []
      this.checkboxValue = []
      this.showReDeal = false
      this.details = {}
    },
    _deleteAttach(obj) {
      this.$confirm('确认删除该文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let delobj = { ...obj }
        delobj.fattach_status = '0'
        this.del.push(delobj)
        this.attaches = this.attaches.filter(a => {
          return a.fattach_url !== obj.fattach_url
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });
    },
    _getAttachfiles() {
      axios.post(this.$_ + '/Agp/Gckchuli/fjjieguo', qs.stringify({ fid: this.details.fid }))
        .then(res => {
          if (res.data.code === 0) {
            let data = res.data.zjfjdata.map(item => {
              item.fattach_status = '1'
              return item
            })
            this.attaches = this.attaches.concat(data)
          }
        })
    },
    areaClear(val) {
      if (!val) {
        this.area = []
      }
    }
  },
  computed: {
    isah(){
      return this.$store.state.userInfo.system_num === 340000
    },
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
<style lang="scss" scoped>
.ckchuli{
  .taskMsg{
    color: #F56C6C;
    padding: 0 2px;
    font-weight: 700;
    font-size: 13px;
  }
  .notice{
    color:#909399;
    padding: 0 2px;
    font-weight: 700;
    font-size: 14px;
  }
}
</style>