<template>
  <div class="ckwfmingxi">
    <div v-loading="loading">
      <el-form inline
        ref="sform"
        label-width="90px">
        <g-search></g-search>
        <el-form-item label="选择地域：">
          <el-cascader :options="$store.state.wfqdarea2"
            :props="$store.state.areaOptions"
            v-model="area"
            clearable
            @change="_areaClear">
          </el-cascader>
          <el-switch v-model="searchForm.iscontain"
            active-value="1"
            inactive-value="0"
            :disabled="!area.length"
            active-text="包含下属地区">
          </el-switch>
        </el-form-item>
        <el-form-item label="查询条件：">
          <el-select class="right-margin"
            v-model="searchForm.search_type"
            placeholder="请选择"
            @change="()=>{searchForm.search_val=''}">
            <el-option v-for="item in $store.state.selectData"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <el-select class="right-margin"
            v-model="searchForm.search_val"
            placeholder="请选择"
            v-if="searchForm.search_type === '10'">
            <el-option label="全部"
              value="">
            </el-option>
            <el-option :label="item.label"
              :value="item.value"
              v-for="item in Mediatype"
              :key="item.value">
            </el-option>
          </el-select>
          <el-input class="secrch right-margin"
            style="width:150px;"
            type="text"
            v-if="searchForm.search_type !== '10'"
            v-model="searchForm.search_val">
          </el-input>
          <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
            v-model="searchForm.netadtype"
            placeholder="请选择"
            style="width:200px;">
            <el-option label="全部"
              value="0"></el-option>
            <el-option v-for="(value,key) in $store.state.netadtype"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-row class="text-right">
          <el-form-item>
            <out-button :data="predata"
              @initdata="initData"
              url="/Agp/Gckwfmingxi/index" />
            <el-button type="primary"
              @click="_getList(1)"
              icon="el-icon-search">查询</el-button>
          </el-form-item>
        </el-row>
      </el-form>
      <el-table :data="tableData"
        :height="$store.state.GTableHeight"
        border>
        <el-table-column type="index"
          width="50">
        </el-table-column>
        <el-table-column width="80"
          label="媒体分类">
          <template slot-scope="scope">
            {{$store.state.allmediatype[scope.row.fmedia_class]}}
          </template>
        </el-table-column>
        <el-table-column prop="ffullname"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadowner"
          label="广告主"
          width="100"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fissue_date"
          show-overflow-tooltip
          width="160px"
          label="发布时间">
        </el-table-column>
        <el-table-column width="130"
          label="违法表现代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fillegal">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column width="110"
          fixed="right"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-info"
              @click="_issDetails(scope.row)">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <iss-dialog v-if="issDialog"
      posturl="/Agp/Gckwfmingxi/getmonitoringview"
      :data="detailsData"
      :download="true"
      :area="area[area.length-1]"
      @close="_close">
    </iss-dialog>
    <niss-dialog posturl="/Agp/Gckwfmingxi/getmonitoringview"
      v-if="nissDialog"
      :data="detailsData"
      :area="area[area.length-1]"
      @close="_close">
    </niss-dialog>
  </div>
</template>

<script>
import issDialog from '../../monitoringdata/common/issDialog'
import nissDialog from '../../monitoringdata/common/nissDialog'
import GSearch from '../common/GSearch'
import outButton from '../../common/outButton'
import axios from "axios"
import qs from "qs"
export default {
  components: {
    GSearch,
    outButton,
    issDialog,
    nissDialog,
  },
  data() {
    return {
      tableData: [],
      searchForm: {
        page: 1,
        search_type: "10",
        search_val: "",
        iscontain: '1',
        netadtype: '0',
      },
      predata: {},
      countAll: "0",
      loading: false,
      videoUrl: "",
      area: [],
      del: [],
      detailsData: {},
      issDialog: false,
      nissDialog: false,
      mclass: {
        '1': 'tv',
        '2': 'bc',
        '3': 'paper',
        '4': 'net',
      }
    }
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.allArea[0]['fid']) {
        this.searchForm.area = this.$store.state.allArea[0]['fid']
        this._getList()
        clearInterval(timer)
      }
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      if (item.fmedia_class !== '13') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = {...this.searchForm}
      data.area = this.area[this.area.length - 1] || ''
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true
      this.initData(page)
      axios.post(this.$_ + "/Agp/Gckwfmingxi/index", qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime ? item.fstarttime.substring(0, 10) : ''
              item.fendtime = item.fendtime ? item.fendtime.substring(0, 10) : ''
              item.sid = item.fid
              item.mclass = this.mclass[item.fmedia_class]
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        })
    },
    _areaClear(val) {
      if (!val) {
        this.area = []
      }
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
};
</script>
