<template>
  <div class="ginspectcheck"
    ref="bodyWidth">
    <el-row>
      <el-col :span="24">
        <el-button type="primary"
          icon="el-icon-arrow-left"
          @click="pageback">返回列表</el-button>
        <el-button type="primary" class="pull-right" v-if="!isjc" @click="_checkOver">完成复核</el-button>
        <el-button type="danger"
          v-if="isjc && $store.state.userInfo.regionid==='100000'"
          class="pull-right"
          icon="el-icon-refresh"
          @click="_recheck">重新复核</el-button>
      </el-col>
    </el-row>
    <br />
    <ginspectcheck-tv v-if="mclass === 'tv'" :fstate="fstate"></ginspectcheck-tv>
    <ginspectcheck-bc v-if="mclass === 'bc'" :fstate="fstate"></ginspectcheck-bc>
    <ginspectcheck-paper v-if="mclass === 'paper'" :fstate="fstate"></ginspectcheck-paper>
  </div>
</template>
<script>
import axios from 'axios'
import ginspectcheckTv from './components/ginspectcheckTv'
import ginspectcheckBc from './components/ginspectcheckBc'
import ginspectcheckPaper from './components/ginspectcheckPaper'
export default {
  components: {
    ginspectcheckTv,
    ginspectcheckBc,
    ginspectcheckPaper
  },
  data() {
    return {
      fstate: '0',
      mclass: ''
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (!vm.$route.query.fid) {
        vm.$router.push({ path: '/ginspectresult2' })
      } else {
        vm._getState(vm.$route.query.fid)
      }
    })
  },
  methods: {
    _getState(fid) {
      let data = {
        fid: fid
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/Detail', JSON.stringify(data))
        .then(res => {
          this.fstate = res.data.data.fstate,
          this.mclass = res.data.data.plantype
        })
    },
    _checkOver() {
      this.$confirm('是否完成了此条任务的全部复核？（此操作不可撤回）', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let data = {
          fid: this.$route.query.fid
        }
        axios.post(this.$_ + '/Agp/Inspectiontask2/Submit', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this.$router.push({ path: '/ginspectresult2' })
              this.$store.dispatch('_getDB', `ginspectresult2|1`)
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    _recheck() {
      this.$prompt('退回原因：', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
      }).then(({ value }) => {
        let data = {
          fid: this.$route.query.fid,
          freason: value
        }
        axios.post(this.$_ + '/Agp/Inspectiontask2/BackReCheck', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$router.push('inspectiontask2')
              this.$message.success(res.data.msg)
            } else {
              this._error(res.data)
            }
          })
      })
    },
    pageback(){
      let path = localStorage.getItem('pageList')
      path ? this.$router.push({path}) : window.history.back(-1)
    }
  },
  computed: {
    isjc() {
      return this.fstate === '1'
    }
  }
}
</script>