<template>
  <div class="ginspectresult">
    <div class="operating-line">
      <el-form label-width="90px">
        <el-row>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="8">
            <el-form-item label="选择时间：">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="date"
                type="month"
                :clearable="false"
                value-format="yyyy-MM"
                placeholder="请选择月份">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="8">
            <el-form-item label="选择地域：">
              <el-select v-model="searchForm.area"
                placeholder="请选择"
                style="width:100%">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(item,index) in $store.state.ccorgData.list"
                  :key="index"
                  :label="item.fname1"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="8">
            <el-form-item label="检查状态：">
              <el-select v-model="searchForm.fstate"
                style="width:100%"
                placeholder="">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option label="未检查"
                  value="0"></el-option>
                <el-option label="无异议"
                  value="10"></el-option>
                <el-option label="有异议"
                  value="20"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="9"
            :xl="9">
            <el-form-item label="查询条件：">
              <el-col :span="12">
                <el-select class="right-margin"
                  style="width:100%"
                  v-model="searchForm.search_type"
                  placeholder="请选择"
                  @change="()=>{searchForm.search_val=''}">
                  <el-option v-for="item in $store.state.selectData"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
              <el-col :span="12">
                <el-select class="right-margin"
                  v-model="searchForm.search_val"
                  placeholder="请选择"
                  v-if="searchForm.search_type === '10'">
                  <el-option label="全部"
                    value=""></el-option>
                  <el-option :label="item.label"
                    :value="item.value"
                    v-for="item in Mediatype"
                    :key="item.value">
                  </el-option>
                </el-select>
              </el-col>
              </el-select>
              <el-input class="secrch right-margin"
                style="width:150px;"
                type="text"
                v-if="searchForm.search_type !== '10'"
                v-model="searchForm.search_val">
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              @click="_getList(1)"
              icon="el-icon-search"
              class="pull-right">查询</el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </div>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column width="80"
        label="媒体分类">
        <template slot-scope="scope">
          {{$store.state.allmediatype[scope.row.fmedia_class]}}
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别">
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体">
      </el-table-column>
      <el-table-column width="100"
        prop="fcount"
        label="播出总条次">
      </el-table-column>
      <el-table-column width="80"
        prop="diffweek"
        label="播出周数">
      </el-table-column>
      <el-table-column width="100px"
        label="播出时间段">
        <template slot-scope="scope">
          {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
        </template>
      </el-table-column>
      <el-table-column width="110"
        label="违法表现代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="检查结果">
        <template slot-scope="scope">
          <span v-if="scope.row.dig_status === '0'">未检查</span>
          <span v-if="scope.row.dig_status === '10'">无异议</span>
          <el-popover v-if="scope.row.dig_status === '20'"
            placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.dig_content">
            <span type="text"
              slot="reference"
              style="color:red;">有异议</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="110"
        fixed="right"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :hiddown="true"
      :data="details"
      @close="showVideo = false">
    </view-video>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import viewVideo from "./components/viewVideo"
export default {
  components: {
    viewVideo
  },
  data() {
    return {
      countAll: "0",
      tableData: [],
      searchForm: {
        page: 1,
        fstate: '0',
        search_type: "10",
        search_val: "",
        area: '0'
      },
      details: {},
      showVideo: false,
      date: ''
    }
  },
  created() {
    this._initDate()
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _initDate() {
      let now = new Date()
      let years = now.getFullYear()
      let months = (now.getMonth() < 10) ? '0' + now.getMonth() : now.getMonth()
      this.date = years + '-' + months
    },
    _getList(page) {
      this.loading = true;
      let data = {
        ...this.searchForm,
        years: this.date.substring(0, 4),
        months: this.date.substring(5),
        page: page || 1
      }
      axios.post(this.$_ + "/Agp/Gjcshuju/sjjc_list", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime ? item.fstarttime.substring(0, 10) : ''
              item.fendtime = item.fendtime ? item.fendtime.substring(0, 10) : ''
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        })
    },
    _viewVideo(obj) {
      this.details = obj;
      this.details.sendstatus = '-2'
      this.showVideo = true;
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType3
    }
  }
}
</script>

<style scoped>
</style>