<template>
  <div class="jcjgah">
    <div v-loading="loading">
      <el-form
        ref="sform"
        label-width="90px">
        <el-row :gutter="10">
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="媒体：">
              <el-select v-model="searchForm.fmediaid" style="width:100%;" filterable>
                <el-option :label="item.fmedianame" v-for="item in mediaList" :key="item.fid" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="处理状态：">
              <el-select v-model="searchForm.fstatus" style="width:100%;">
                <el-option label="全部" value="-1"></el-option>
                <el-option :label="value" v-for="(value,key) in fstatus" :key="key" :value="key"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="类型：">
              <el-select v-model="searchForm.fresult_type" style="width:100%;">
                <el-option label="全部" value="-1"></el-option>
                <el-option :label="value" v-for="(value,key) in fresult_type" :key="key" :value="key"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="发布时间：">
              <el-date-picker
                style="width:100%;"
                v-model="issDate"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item>
              <el-button type="primary"
                class="pull-right"
                :loading="loading"
                @click="getList(1)"
                icon="el-icon-search">搜 索</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData"
        @row-click="details"
        stripe
        :row-style="{'cursor': 'pointer'}"
        border
        :height="$store.state.GTableHeight">
        <el-table-column type="index"
          width="55">
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="50"
          label="类型">
          <template slot-scope="scope">
            {{fresult_type[scope.row.fresult_type]}}
          </template>
        </el-table-column>
        <el-table-column prop="duringTime"
          width="220"
          label="播出时间"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="80"
          label="违法表现">
          <template slot-scope="scope">
            <el-popover
              placement="top"
              width="300"
              trigger="hover">
              <div v-html="scope.row.fexpressionstr"></div>
              <span slot="reference" class="fexpressioncodes">{{scope.row.fexpressioncodes}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column
          prop="fresultStr"
          label="复核结果"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          prop="fcreateperson"
          label="建样人"
          width="80"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          label="反馈状态"
          width="80">
          <template slot-scope="scope">
            {{fstatus[scope.row.fstatus]}}
          </template>
        </el-table-column>
        <el-table-column
          prop="freturncontent"
          label="反馈结果"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="getList">
      </el-pagination>
    </div>
    <el-dialog
      :title="row.fmedianame"
      :visible.sync="showVideo"
      v-if="showVideo"
      width="1000px"
      center
      @close="">
      <el-row :gutter="10">
        <el-col :span="16">
          <aliplayer v-if="row.issueurl" width="100%" :url="row.issueurl" autoplay/>
        </el-col>
        <el-col :span="8">
          <el-form label-width="90px">
            <el-form-item label="类型：">
              {{fresult_type[row.fresult_type]}}
            </el-form-item>
            <el-form-item label="播出时间：">
              {{row.duringTime}}
            </el-form-item>
            <el-form-item label="违法表现：">
              <el-popover
                placement="right"
                width="300"
                trigger="hover">
                <div v-html="row.fexpressionstr"></div>
                <span slot="reference">{{row.fexpressioncodes}}</span>
              </el-popover>
            </el-form-item>
            <el-form-item label="复核结果：">
              {{row.fresultStr}}
            </el-form-item>
            <el-form-item label="建样人：">
              {{row.fcreateperson}}
            </el-form-item>
            <el-form-item label="反馈状态：">
              {{fstatus[row.fstatus]}}
            </el-form-item>
            <el-form-item label="反馈结果：">
              {{row.freturncontent}}
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import axios from "axios"
import qs from "qs"
import aliplayer from '@/components/common/aliplayer'
export default {
  components: {aliplayer},
  data() {
    return {
      tableData: [],
      searchForm: {
        pageIndex: 1,
        fstatus: '-1',
        pageSize: 20,
        fresult_type: '-1'
      },
      issDate: [],
      countAll: "0",
      loading: false,
      showVideo: false,
      row: {},
      mediaList: [],
      fstatus: {
        0: "未处理",
        1: "处理中",
        2: "已处理",
        3: "处理有异议",
      },
      fresult_type: {
        '0': '遗漏',
        '1': '错误',
      }
    }
  },
  created() {
    this.getList()
    this.getMedias()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    details(row, column, event){
      this.row = row
      this.showVideo = true
    },
    getList(pageIndex) {
      this.loading = true
      this.searchForm.pageIndex = pageIndex || 1
      let [ fstart,fend ] = this.issDate
      let data = {
        ...this.searchForm,
        fstart,
        fend
      }
      axios.post(this.$_ + "/Agp/AdDataCheck/ViewResult", JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.map(item => {
              if(item.fexpressions){
                let text = item.fexpressions.split('|')
                let code = item.fexpressioncodes.split(',')
                item.fexpressionstr = code.map((i,index) => {
                  return `<p><span class="text-danger">${i}</span>：${text[index]}</p>`
                }).join('')
              }
              item.fend = item.fend.substring(11)
              item.duringTime = `${item.fstart} ~ ${item.fend}`
              item.fstarttime = item.fstart.substring(11)
              item.fendtime = item.fend.substring(11)
              item.fstart = item.fstart.substring(11)
              return item
            })
            this.countAll = res.data.count
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    getMedias(){
      let data = {
        mclass: '01,02',
        iscontain: '0',
        regionid: this.$store.state.userInfo.regionid
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist',qs.stringify(data))
      .then(res => {
        this.mediaList = res.data.data
      })
    }
  },
}
</script>