<template>
  <div class="lachuli"
    v-loading="loading">
    <el-form ref="sform">
      <el-row>
        <el-col :span="24">
          <g-search :button="true"
            @search="_getList(1)"></g-search>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <div class="text-right">
              <out-button class="right-margin"
                :data="predata"
                @initdata="initData"
                url="/Agp/Glachuli/lajieguo_list" />
              <el-button type="primary"
                @click="_shangbao"
                icon="el-icon-upload2">{{buttonText}}</el-button>
              <el-button type="danger"
                @click="_reResult"
                icon="el-icon-circle-close">撤销处理</el-button>
            </div>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      size="small"
      class="new-tabel"
      :height="$store.state.GTableHeight"
      @selection-change="_handleSelectionChange">
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column label="媒体分类"
        width="80">
        <template slot-scope="scope">
          <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        min-width="130"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="广告名称"
        min-width="200"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <div v-if="scope.row.fstatus2 !== '16' && Number(scope.row.ladiffday) >= 60 && Number(scope.row.ladiffday) < 80"
            class="yellow"></div>
          <div v-if="scope.row.fstatus2 !== '16' && Number(scope.row.ladiffday) >= 80 && Number(scope.row.ladiffday) < 90"
            class="red"></div>
          <div v-if="scope.row.fstatus2 !== '16' && Number(scope.row.ladiffday) > 90"
            class="black"></div>
          {{scope.row.fad_name}}
          <div
            v-if="Number(scope.row.dbcount) > 0"
            class="dubanSee"
            @click="_showfile(scope.row,['db'])"
            title="点击查看附件">
            <img src="../../../.././static/img/shou.png" width="16px" height="100%" style="vertical-align: middle;">
            监督
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="fmedianame"
        show-overflow-tooltip
        width="130"
        label="发布媒体">
      </el-table-column>
      <el-table-column prop="fadownername"
        show-overflow-tooltip
        width="100"
        label="广告主">
      </el-table-column>
      <el-table-column width="90"
        prop="fcount"
        label="播出总条次">
      </el-table-column>
      <el-table-column width="80"
        prop="diffweek"
        label="播出周数">
      </el-table-column>
      <el-table-column width="175"
        label="播出时间段">
        <template slot-scope="scope">
          {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
        </template>
      </el-table-column>
      <el-table-column width="110"
        label="违法表现代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              class="text-red"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="105"
        fixed="right"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-view"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
      <el-table-column label="处理结果"
        width="80">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showfile(scope.row, ['la'])"
            v-if="scope.row.fstatus2 === '15'">待处理</el-button>
          <el-button type="text"
            @click="_showfile(scope.row, ['la'])"
            v-if="scope.row.fstatus2 === '17'">处理中</el-button>
          <el-button type="text"
            @click="_showfile(scope.row, ['la'])"
            v-if="scope.row.fstatus2 === '16'">已处理</el-button>
          <el-button type="text"
            @click="_showfile(scope.row, ['la'])"
            v-if="scope.row.fstatus2 === '20'">已撤销</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <attach-dialog v-if="showAttach"
      :tags="tags"
      :lafjdata="lafjdata"
      :dbfjdata="dbfjdata"
      @close="showAttach = false">
    </attach-dialog>
    <shangbao @close="showShangbao = false"
      :btnText="true"
      @send="_sendShangbao"
      v-if="showShangbao">
    </shangbao>
  </div>
</template>

<script>
import GSearch from "../common/GSearch"
import shangbao from "./components/shangbao"
import viewVideo from "./components/viewVideo"
import outButton from '../../common/outButton'
import attachDialog from "./components/attachDialog"
import axios from "axios"
import qs from "qs"
export default {
  components: {
    viewVideo,
    attachDialog,
    shangbao,
    GSearch,
    outButton,
  },
  data() {
    return {
      showAttach: false,
      lafjdata: [],
      dbfjdata: [],
      tableData: [],
      searchForm: {
        page: 1
      },
      countAll: "0",
      loading: false,
      videoUrl: "",
      showVideo: false,
      multipleSelection: [],
      showShangbao: false,
      details: {},
      predata: {},
      tags: [],
    }
  },
  computed: {
    buttonText(){
      let arr = this.$store.state.menudata[this.$route.name]
      if(arr && arr.length === 2){
        return arr[1].slice(-2)
      }else{
        return '处 理'
      }
    },
  },
  created() {
    this.$nextTick(() => {
      this._getList()
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true
      this.initData(page)
      axios.post(this.$_ + "/Agp/Glachuli/lajieguo_list", qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime
                ? item.fstarttime.substring(0, 10)
                : ""
              item.fendtime = item.fendtime
                ? item.fendtime.substring(0, 10)
                : ""
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _shangbao() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！")
        return false
      }
      this.showShangbao = true
    },
    _sendShangbao(files,val) {
      let selfid = this.$func.getIdArr(this.multipleSelection, "fid")
      const data = {
        selfid: selfid,
        attachinfo: files,
      }
      if(val){
        data.submit = '1'
      }
      axios.post(
        this.$_ + "/Agp/Glachuli/sczhengju",
        qs.stringify(data)
      ).then(res => {
        if (res.data.code === 0) {
          this._getList()
          this.$message.success("操作成功！")
          this.showShangbao = false
          this.$store.dispatch('_getDB', `${this.$route.name}|${this.activeTab || '1'}`)
        } else {
          this.$func._error(res.data)
        }
      })
    },
    _reResult() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！")
        return false
      }
      this.$confirm("撤销处理?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        let fid = this.$func.getIdArr(this.multipleSelection, "fid")
        axios.post(this.$_ + "/Agp/Glachuli/cxjieguo",qs.stringify({ fid: fid }))
          .then(res => {
            if (res.data.code === 0) {
              this._getList()
              this.$store.dispatch('_getDB', `${this.$route.name}|1`)
              this.$message.success("操作成功！")
            } else {
              this.$func._error(res.data)
            }
          })
      })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          })
        })
    },
    _viewVideo(obj) {
      if (obj.fview_status === "0") {
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val
    },
    _showfile(obj,ele) {
      axios
        .post(
          this.$_ + "/Agp/Gckchuli/fjjieguo",
          qs.stringify({ fid: obj.fid })
        )
        .then(res => {
          if (res.data.code === 0) {
            this.tags = ele
            this.lafjdata = res.data.lafjdata
            this.dbfjdata = res.data.dbfjdata
            this.showAttach = true
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  }
}
</script>
<style lang="scss" scoped>
.yellow {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(240, 240, 90);
  display: inline-block;
}
.red {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  display: inline-block;
}
.black {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: inline-block;
}
.dubanSee{
  cursor: pointer;
  color: #e6a23c;
  background-color: #fdf6ec;
  border-color: #f5dab1;
  font-size:12px;
  display: inline-block;
  padding: 0 6px 0 2px;
  border-radius: 4px;
}
</style>
