<template>
  <div class="shadissue"
    v-loading="$store.state.bloading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.adClassOptions"
              :props="$store.state.propsOptions"
              v-model="fadclasscode"
              clearable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="广告主：">
            <el-input v-model="searchForm.fadownername"
              placeholder="请输入广告主名称"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="品牌：">
            <el-input v-model="searchForm.fbrand"
              placeholder="请输入品牌"
              clearable></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd"
              @focus="minDate = null">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
            <el-dropdown @command="_outPut"
              class="pull-right right-margin">
              <el-button type="primary">
                导出<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="excel">XLS</el-dropdown-item>
                <el-dropdown-item command="txt">TXT</el-dropdown-item>
                <el-dropdown-item command="xml">XML</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column label="广告名称"
        prop="fadname"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="播出媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fbrand"
        label="品牌"
        width="100"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fissuedate"
        label="发布日期"
        width="100">
      </el-table-column>
      <el-table-column prop="fstarttime"
        label="开始时间"
        width="100">
      </el-table-column>
      <el-table-column prop="fendtime"
        label="结束时间"
        width="100">
      </el-table-column>
      <el-table-column prop="flength"
        label="时长(s)"
        width="100">
      </el-table-column>
      <el-table-column prop="fbrand"
        label="操作"
        width="80">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-caret-right"
            @click="_setRow(scope.row)">播放</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog center
      :title="row.fadname || '无标题'"
      :visible.sync="show"
      v-if="row.sam_source_path"
      width="600px"
      :before-close="() => {row = {}}">
      <aliplayer :url="row.sam_source_path"
        width="100%" />
    </el-dialog>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import aliplayer from '../../common/aliplayer'
import outFile from '../../common/outFile'
export default {
  components: {
    aliplayer,
    outFile
  },
  data() {
    return {
      tableData: [],
      countAll: '0',
      searchDate: [],
      searchForm: {
        fmediaid: '',
        fadname: '',
        fadclasscode: '',
        fadownername: '',
        fbrand: '',
        pageIndex: 1,
        pageSize: 20
      },
      fadclasscode: [],
      show: true,
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
      row: {},
      showdownload: false,
      durl: ''
    }
  },
  created() {
    //默认发布日期，从当月1号至当前日期
    var year = new Date().getFullYear()
    var month = new Date().getMonth() + 1
    var day = new Date().getDate()
    if (month < 10) {
      month = '0' + month
    }
    if (day < 10) {
      day = '0' + day
    }
    var startTime = year + '-' + month + '-' + '01'
    var endTime = year + '-' + month + '-' + day
    this.searchDate[0] = startTime
    this.searchDate[1] = endTime

    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.searchForm.pageIndex = page || 1
      let data = { ...this.searchForm }
      data.fstarttime = this.searchDate[0]
      data.fendtime = this.searchDate[1]
      data.fadclasscode = this.fadclasscode[this.fadclasscode.length - 1] || ''
      axios.post(this.$_ + '/Agp/Inspectiontask2/GetAdIssueList', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime.substring(11)
              item.fendtime = item.fendtime.substring(11)
              item.fissuedate = item.fissuedate.substring(0, 10)
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _setRow(row) {
      this.row = row
    },
    _outPut(command) {
      this.showdownload = true
      let data = { ...this.searchForm, file_type: command }
      data.fadclasscode = this.fadclasscode[1]
      data.fstarttime = this.searchDate[0]
      data.fendtime = this.searchDate[1]
      axios.post(this.$_ + '/Agp/Inspectiontask2/ExportAdIssueList', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data.file_url;
            this.$message({
              showClose: true,
              message: '导出成功！',
              type: 'success'
            });
          } else {
            this._error(res.data.msg)
          }
        })
        .catch(() => {
          this._error('导出出错！')
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
}
</script>

<style scoped>
</style>