<template>
  <div class="shsjxq">
    <div v-loading="gloading">
      <el-row
        class="rowbox" :gutter="8"
        ref="row">
        <el-col :span="11"
          ref="heightcol"
          class="box">
          <div v-loading="!videoUrl"
            class="loadingcover"
            @mouseover="inButton"
            @mouseout="outButton">
            <aliplayer ref="player"
              v-if="videoUrl"
              :url="videoUrl"
              :autoplay="true"
              width="100%"
              height="240px"
              @start="_settimer"
              @stop="_cleartimer"
              @error="_cleartimer">
            </aliplayer>
            <timeline ref="timeline"
              :activetime="videoJump"
              :step="step"
              v-if="videoJump && stepChange"
              @click="_jumpplay"
              @tmouseup="tmouseup"
              @tmousedown="tmousedown">
              <div class="stepBox"
                v-if="showButton">
                <button @click="delStep"
                  :class="{ active: isActive }">X1</button>
                <button @click="addStep"
                  :class="{ active2: isActive2 }">X2</button>
              </div>
            </timeline>
          </div>
        </el-col>
        <el-col :span="13"
          class="box">
          <div class="title-row">
            <div class="title-row-item title-back">
              <el-button type="primary"
                class="pull-left"
                @click="$router.push({path:'/shsjjc'})">返回</el-button>
            </div>
            <div class="title-row-item title-info" :title="$route.query.fissuedate + $route.query.fmedianame">
              {{$route.query.fissuedate}} {{$route.query.fmedianame}}
            </div>
            <div class="title-row-item title-finished">
              <el-button v-if="Number($route.query.check) && fdstatus === '2'" type="primary"  @click="reCheck">重新检查</el-button>
              <el-button v-if="Number($route.query.check) &&  fdstatus !== '2'" type="primary" @click="checkFinish">完成</el-button>
            </div>
          </div>
          <div class="timefieldset"
            v-loading="editLoading"
            ref="heightcol2">
            <div v-if="Number($route.query.check)" class="info-fieldset">
              <el-row>
                <el-form class="addForm" :model="form"
                  ref="form"
                  label-width="80px">
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="视频跳转">
                        <el-time-picker style="width:99%"
                          v-model="videoJump"
                          value-format="yyyy-MM-dd HH:mm:ss"
                          placeholder="任意时间点"
                          :picker-options="{selectableRange: duringtime}"
                          @focus="_cleartimer"
                          @blur="_settimer"
                          @change="_jumpplay">
                        </el-time-picker>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="截取时长">
                        <span :class="Number(flength) < 0 ? 'text-red-bg' : ''">{{flength}} 秒</span>
                        <el-button type="primary" :disabled="!resultdata.fstart || !resultdata.fend" class="pull-right" @click="createMaterial">剪辑</el-button>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="开始时间">
                        <el-time-picker
                          style="width:100%"
                          v-model="resultdata.fstart"
                          value-format="yyyy-MM-dd HH:mm:ss"
                          :default-value="$route.query.fissuedate + ' 00:00:00'"
                          :disabled="canEdit"
                          clearable
                          @dblclick.native="_cutTime('start')"
                          placeholder="双击获取开始时间">
                        </el-time-picker>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="结束时间">
                        <el-time-picker
                          style="width:100%"
                          v-model="resultdata.fend"
                          :disabled="!resultdata.fstart"
                          value-format="yyyy-MM-dd HH:mm:ss"
                          :default-value="$route.query.fissuedate + ' 00:00:00'"
                          @dblclick.native="_cutTime('end')"
                          placeholder="双击获取结束时间">
                        </el-time-picker>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-col :span="24">
                    <el-form-item label="广告名称">
                      <el-autocomplete :disabled="disabled || canEdit"
                        style="width:100%"
                        v-model="resultdata.fadname"
                        :fetch-suggestions="searchadname"
                        placeholder="请输入广告名称(必填)"></el-autocomplete>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="广告品牌">
                      <el-input v-model="resultdata.fbrand"
                        :disabled="disabled || canEdit"
                        placeholder="请输入广告品牌(不填默认“无突出品牌”)">
                        <el-button slot="append"
                          @click.native="_defaultValue('fbrand')">无突出品牌</el-button>
                      </el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="广告主">
                      <el-autocomplete style="width:100%"
                        :disabled="disabled || canEdit"
                        v-model="resultdata.fadownername"
                        :fetch-suggestions="searchadowner"
                        placeholder="请输入广告主(不填默认“广告主不详”)"
                        @select="selectOwner">
                        <el-button slot="append"
                          @click.native="_defaultValue('fadownername')">广告主不详</el-button>
                      </el-autocomplete>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="广告类别">
                      <el-cascader placeholder="请选择广告类别(必选)"
                        :disabled="disabled || canEdit"
                        style="width:100%"
                        :options="$store.state.adClassOptions"
                        :props="$store.state.propsOptions"
                        v-model="fadclasscode">
                      </el-cascader>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24"
                    class="text-center"
                    v-if="!canEdit">
                    <el-button type="primary"
                      :disabled="disabled"
                      v-if="fid"
                      @click="_addResult(true)">插 入</el-button>
                    <el-button type="primary"
                      :disabled="disabled"
                      @click="_addResult(false)">保 存</el-button>
                    <el-button type="danger"
                      @click="_reset">重 置</el-button>
                  </el-col>
                </el-form>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="24">
          <div class="timeChoise">
            <el-select v-model="activeNames" @change="_change">
              <el-option v-for="(item,index) in timeDate"
                :key="index"
                :label="item.start + ' - ' + item.end"
                :value="index">
              </el-option>
              <el-option label="自定义" :value="100"></el-option>
            </el-select>
            <span v-if="iscustomize">
              <el-time-picker
                is-range
                v-model="customize"
                value-format="yyyy-MM-dd HH:mm:ss"
                range-separator="至"
                start-placeholder="开始时间"
                end-placeholder="结束时间"
                placeholder="选择时间范围">
              </el-time-picker>
              <el-button type="primary" icon="el-icon-check" @click="customizeTime"></el-button>
            </span>
          </div>
          <el-table v-loading="loading"
            :data="tableData"
            class="adTable"
            border
            :height="tableHeight"
            :cell-style="{padding:'2'}"
            @row-click="seekVideoTime"
            @row-dblclick="$refs.player._play()"
            @cell-click="playTime"
            @cell-mouse-enter="mouseEnter">
            <el-table-column type="index"
              fixed
              width="55">
            </el-table-column>
            <el-table-column label="广告名称"
              prop="fadname"
              fixed
              sortable
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span :class="scope.row.fadname === '查看段' ? 'text-primary' : ''">{{scope.row.fadname}}</span> <i class="iconfont icon-xin text-success" v-if="scope.row.fsampleid === null"></i>
              </template>
            </el-table-column>
            <el-table-column label="广告类别"
              prop="fadclass"
              sortable
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span v-html="scope.row.fadclass"
                  class="noWrap"></span>
              </template>
            </el-table-column>
            <el-table-column label="开始时间"
              sortable
              prop="fstarttime"></el-table-column>
            <el-table-column label="结束时间"
              prop="fendtime"></el-table-column>
            <el-table-column label="时长" sortable prop="flength" width="135">
              <template slot-scope="scope">
                {{scope.row._flength}}
              </template>
            </el-table-column>
            <el-table-column label="状态"
              fixed="right"
              width="85">
              <template slot-scope="scope">
                <el-button type="text" v-if="scope.row.fid" @click="changeState(scope.row)">{{fisillegal[scope.row.fisillegal]}}</el-button>
              </template>
            </el-table-column>
            <el-table-column label="操作"
              fixed="right"
              width="120">
              <template slot-scope="scope">
                <el-button
                  style="color: #409eff"
                  type="text"
                  v-if="scope.row.favifilename"
                  @click.stop="detail(scope.row,$event)"
                  size="mini">查看样本</el-button>
                <el-button
                  type="text"
                  style="color: #f56c6c"
                  v-if="scope.row.fid"
                  @click.stop="_delete(scope.row,$event)"
                  size="mini">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <div class="error-reason" v-if="planId && Number($route.query.check)">
        <p class="up-arrow"><i class="el-icon-arrow-up"></i></p>
        <div>
          <div class="error-textarea">
            <el-input v-model="reason" type="textarea" placeholder="退回理由（双击可快速获取当前视频播放时间）" :rows="5" @dblclick.native="getErrorTime"></el-input>
          </div>
          <div class="back-btn" @click="reProductPlan">
            退回
          </div>
        </div>
      </div>
    </div>
    <sample-dialog v-if="row.favifilename" :data='row' @close="() => row = {}" />
  </div>
</template>
<script>
import timeline from './components/timeline'
import qs from 'qs'
import axios from 'axios'
import aliplayer from '../../common/aliplayer'
import sampleDialog from './components/sampleDialog'
export default {
  components: {
    aliplayer,
    timeline,
    sampleDialog
  },
  data() {
    let date = this.$route.query.fissuedate
    let customize = [`${date} 00:00:00`, `${date} 23:59:59`]
    return {
      iscustomize: false,
      customize: customize,
      videoUrl: '',
      form: {
        pageIndex: 1,
      },
      reason: '',
      tableHeight: '200',
      row: {},
      editLoading: false,
      tableData: [],
      activeNames: 0,
      activeNames2: 0,
      abtime: -1000,
      loading: false,
      isFinish: true,
      gloading: false,
      sourceName: '',
      resultdata: {
        fstart: '',
        fend: '',
        fbrand: '',
        fadownername: '',
        fadowner: '',
        fmediaid: '',
        fadname: '',
        fadclasscode: '',
        fadownername: '',
      },
      disabled: false,
      adOwner: {},
      fadclasscode: [],
      timer: null,
      Stime: 0,
      videoJump: '',
      fcousflag: '',
      moveflag: 1,
      fid: '',
      timeDate: [
        {
          starttime: '00:00:00',
          endtime: '03:59:59',
          start: '0',
          end: ' 4 时'
        },
        {
          starttime: '04:00:00',
          endtime: '07:59:59',
          start: '4',
          end: ' 8 时'
        },
        {
          starttime: '08:00:00',
          endtime: '09:59:59',
          start: '8',
          end: '10时'
        },
        {
          starttime: '10:00:00',
          endtime: '11:59:59',
          start: '10',
          end: '12时'
        },
        {
          starttime: '12:00:00',
          endtime: '13:59:59',
          start: '12',
          end: '14时'
        },
        {
          starttime: '14:00:00',
          endtime: '15:59:59',
          start: '14',
          end: '16时'
        },
        {
          starttime: '16:00:00',
          endtime: '17:59:59',
          start: '16',
          end: '18时'
        },
        {
          starttime: '18:00:00',
          endtime: '18:59:59',
          start: '18',
          end: '19时'
        },
        {
          starttime: '19:00:00',
          endtime: '19:59:59',
          start: '19',
          end: '20时'
        },
        {
          starttime: '20:00:00',
          endtime: '21:59:59',
          start: '20',
          end: '22时'
        },
        {
          starttime: '22:00:00',
          endtime: '23:59:59',
          start: '22',
          end: '24时'
        },
      ],
      resultType: {
        '0': '遗漏',
        '1': '错误',
        '2': '预判'
      },
      step: 1,
      stepChange: true,
      showButton: false,
      isActive: true,
      isActive2: false,
      fdstatus: '',
      fisillegal: {
        '0': '初审不违法',
        '1': '待初审'
      },
      dialogVideoVisible: true,
      row: {}
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm._dataInit()
    })
  },
  beforeRouteLeave(to, from, next){
    if(this.planId) this.backPlan()
    next()
  },
  destroyed() {
    this._cleartimer()
  },
  watch: {
    reason(val){
      this.setReason(val)
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.resize()
    })
    window.onresize = () => {
      this.resize()
    }
  },
  methods: {
    // 改变广告状态
    changeState({fid, fisillegal}){
      let _fisillegal = fisillegal === '0' ? 1 : 0
      let data = {
        fisillegal: _fisillegal,
        fid,
      }
      let str = `确认修改状态为【${ fisillegal === '0' ? '待初审' : '初审不违法'}】？`
      this.$confirm(str, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.post(this.$_ + '/Agp/Inspectiontask2/switchState',JSON.stringify(data))
          .then(res => {
            if(res.data.code !== 0){
              this.$func._error(res.data.msg)
            }else{
              this.$func.success(res.data.msg)
              this._dataInit()
            }
          })
        }).catch(() => {
        })
    },
    // 退回计划
    reProductPlan(){
      this.$confirm('确认退回该计划？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.post(this.$_ + '/Agp/Inspectiontask2/reProductPlan',JSON.stringify({fid: this.planId, freason: this.reason}))
          .then(res => {
            if(res.data.code !== 0){
              this.$func._error(res.data.msg)
            }else{
              this.$func.success('退回成功')
              this.removeReason()
              this.$router.push({path:'/shsjjc'})
            }
          })
        }).catch(() => {
        })
    },
    getErrorTime(){
      this.reason += this._cutTime()
    },
    backPlan(){
      axios.post(this.$_ + '/Agp/Inspectiontask2/backPlan',JSON.stringify({fid: this.planId}))
      .then(res => {
        if(res.data.code !== 0){
          this.$func._error(res.data.msg)
        }
      })
    },
    resize(){
      this.$refs.row.$el.style.height = (document.body.clientHeight - 80) + "px"
      this.tableHeight = document.body.clientHeight - 420
    },
    createMaterial(){
      let data = {
        mclass: '1',
        Sstart: this.resultdata.fstart,
        Send: this.resultdata.fend,
        media_id: this.$route.query.fmediaid
      }
      // 设置生成素材文件名
      let s = this.$dayjs(new Date(this.resultdata.fstart)).format('YYYY-MM-DD HH:mm:ss')
      let e = this.$dayjs(new Date(this.resultdata.fend)).format('HH:mm:ss')
      this.sourceName = `${this.$route.query.fmedianame} ${s}-${e}`
      this.$prompt('素材名称', '提示', {
        confirmButtonText: '生 成',
        cancelButtonText: '取 消',
        closeOnClickModal: false,
        closeOnPressEscape: false,
        inputValue: this.sourceName,
        inputPattern: /^[\s\S]*.*[^\s][\s\S]*$/,
        inputErrorMessage: '素材名不能为空'
      }).then(({ value }) => {
        data.source_name = value
        axios.post(this.$_ + '/Agp/Fmonitoring/add_source_make', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('正在生成，请前往素材下载页面下载')
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
      }).catch(() => {})
    },
    reCheck(){
      this.$confirm('数据已完成检查，是否重新检查?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.gloading = true
        let data = {
          fid: this.planId,
          fmediaid: this.$route.query.fmediaid,
          fissuedate: this.$route.query.fissuedate,
          jiancha: '1'
        }
        axios.post(this.$_ + '/Agp/Inspectiontask2/startCheckPlan',JSON.stringify(data))
        .then(res => {
          if(res.data.code === 0){
            this._dataInit()
          }else{
            this.$func._error(res.data)
          }
          this.gloading = false
        })
      }).catch(() => {})
    },
    checkFinish(){
      this.$confirm('确认提交检查完结果（此操作不可撤销）?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.gloading = true
        axios.post(this.$_ + '/Agp/Inspectiontask2/submitPlan',JSON.stringify({fid: this.planId}))
        .then(res => {
          if(res.data.code === 0){
            this.$func.success('提交成功')
            this.$router.push({path:'/shsjjc'})
          }else{
            this.$func._error(res.data)
          }
          this.gloading = false
        })
      }).catch(() => {})
    },
    tmousedown() {
      this._cleartimer()
      this.$refs.player._stop()
    },
    tmouseup(mw) {
      let current = this._cutTime().substring(11)
      this.$refs.player._seek(this._timeToSecond(current) + mw)
      setTimeout(() => {
        this._settimer()
      }, 200)
    },
    _settimer() {
      this._cleartimer()
      this.$refs.player._play()
      this.timer = setInterval(() => {
        this.videoJump = this._cutTime()
      }, 200)
    },
    // 清除定时器
    _cleartimer() {
      clearInterval(this.timer)
      this.timer = null
    },
    playTime(row, column, cell, event){
      let time = column.property
      if(time === 'fstarttime'){
        this.$refs.player._seek(this._timeToSecond(row.fstarttime))
      }else{
        this.$refs.player._seek(this._timeToSecond(row.fendtime))
      }
    },
    seekVideoTime(row, $event) {
      if($event.property !== "fendtime"){
        this.$refs.player._seek(this._timeToSecond(row.fstarttime))
      }
      let startTime = Math.floor(this._timeToSecond(row.fstarttime) * 1000) + this.Stime
      this.resultdata.fstart = this.$dayjs(startTime).format('YYYY-MM-DD HH:mm:ss')
      let endTime = Math.floor(this._timeToSecond(row.fendtime) * 1000) + this.Stime
      this.resultdata.fend = this.$dayjs(endTime).format('YYYY-MM-DD HH:mm:ss')
      // this.videoJump = this.sdate + ' ' + row.fstarttime
      this._edit(row, $event)
    },
    _jumpplay(val) {
      this.videoJump = val
      this.$refs.player._seek(this._timeToSecond(this.videoJump.substring(11)))
      this.$refs.player._play()
    },
    _cutTime(type) {
      let time = Math.floor((this.$refs.player._getCurrentTime()) * 1000) + this.Stime
      let _time = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      if (type === 'start') {
        this.resultdata.fend = ''
        this.resultdata.fstart = _time
        this.resultdata.fend = _time
      } else if (type === 'end') {
        this.resultdata.fend = _time
      } else {
        let jumpTime = _time
        let endTime = this.$dayjs(time).format('YYYY-MM-DD') + ' ' + this.timeDate[this.activeNames2]['endtime']
        let time1 = Date.parse(jumpTime)
        let time2 = Date.parse(endTime)
        if (time1 === time2) {
          this.$message({
            showClose: true,
            message: '播放结束',
            type: 'success'
          });
          this.$refs.player._stop();
        }
        return _time
      }
    },
    _timeToSecond(time) {
      let inputtime = new Date(`${this.sdate} ${time}`).getTime()
      let dstart = new Date(`${this.sdate} ${this.timeDate[this.activeNames2]['starttime']}`).getTime()
      let dend = new Date(`${this.sdate} ${this.timeDate[this.activeNames2]['endtime']}`).getTime()
      inputtime = (inputtime >= dstart) && (inputtime <= dend) ? inputtime : inputtime - 60 * 60 * 24 * 1000
      return (inputtime - this.Stime) / 1000
    },
    _defaultValue(val) {
      if (val === 'fbrand' && !this.disabled) {
        this.resultdata.fbrand = '无突出品牌'
      }
      if (val === 'fadownername' && !this.disabled) {
        this.resultdata.fadownername = '广告主不详';
        this.resultdata.fadowner = '0'
      }
    },
    _addResult(insert) {
      if(Number(this.flength) <= 0){
        this.$func._error('截取时长有误！')
        return false
      }
      if (this.disabled) {
        this.$func._error('该广告无法编辑！')
        return false
      }
      if (!this.resultdata.fstart) {
        this.$func._error('请截取开始时间！')
        return false
      }
      if (!this.resultdata.fend) {
        this.$func._error('请截取结束时间！')
        return false
      }
      if (!this.resultdata.fadname) {
        this.$func._error('请填写广告名称！')
        return false
      }
      if (!this.resultdata.fbrand) {
        this.resultdata.fbrand = '无突出品牌'
      }
      if (!this.resultdata.fadownername) {
        this.adOwner = {
          fid: '0',
          value: '广告主不详'
        }
        this.resultdata.fadownername = '广告主不详'
        this.resultdata.fadowner = '0'
      } else {
        if (this.resultdata.fadownername === this.adOwner.value) {
          if (this.resultdata.fadowner !== this.adOwner.fid) {
            this.resultdata.fadowner = ''
          }
        } else {
          this.resultdata.fadowner = ''
        }
      }
      let data = { ...this.resultdata, resaon: this.resaon }
      if (!this.fadclasscode.length) {
        this.$func._error('请选择广告类型！')
        return false
      } else {
        data.fadclasscode = this.fadclasscode[this.fadclasscode.length - 1]
      }
      data.fmediaid = this.$route.query.fmediaid
      if (this.fid) data.fid = this.fid
      let url = this.fid ? '/Agp/Inspectiontask2/EditAd' : '/Agp/Inspectiontask2/AddAd'
      // 如果是点击插入，则请求这个地址
      if(insert){
        url = '/Agp/Inspectiontask2/InsertAd'
      }
      this.editLoading = true
      axios.post(this.$_ + url, JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._reset()
            this._dataInit()
          } else {
            this.$func._error(res.data)
          }
          this.editLoading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _reset() {
      this.resultdata = {
        fstart: '',
        fend: '',
        fbrand: '',
        fadownername: '',
        fadowner: '',
        fmediaid: '',
        fadname: '',
        fadclasscode: '',
        fadownername: '',
      },
        this.fadclasscode = []
      this.fid = ''
      this.adOwner = {}
      this.disabled = false
    },
    _focus(input) {
      this.fcousflag = input
    },
    getReason(){
      let reason = JSON.parse(localStorage.getItem('reason')) || {}
      this.reason = reason[this.planId] || ''
    },
    setReason(content){
      let reason = JSON.parse(localStorage.getItem('reason')) || {}
      reason[this.planId] = content
      localStorage.setItem('reason', JSON.stringify(reason))
    },
    removeReason(){
      let reason = JSON.parse(localStorage.getItem('reason')) || {}
      delete reason[this.planId]
      localStorage.setItem('reason', JSON.stringify(reason))
    },
    _dataInit(page) {
      let data = { ...this.form,pageSize: '5000' }
      data.fstarttime = `${this.sdate} ${this.timeDate[this.activeNames2]['starttime']}`
      data.fendtime = `${this.sdate} ${this.timeDate[this.activeNames2]['endtime']}`
      data.fmediaid = this.$route.query.fmediaid
      data.fid = this.planId
      this.getReason()
      this.gloading = true
      axios.post(this.$_ + '/Agp/Inspectiontask2/CheckList', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (this.videoUrl !== res.data.data.live_m3u8_url) {
              this._m3u8TsartTime(res.data.data.live_m3u8_url)
              this.videoUrl = res.data.data.live_m3u8_url
            }
            this.fdstatus = res.data.fdstatus
            this.tableData = res.data.data.fad.map(item => {
              item.fstarttime = item.fstarttime.substring(10)
              item.fendtime = item.fendtime.substring(10)
              item._flength = this.dealTime(item.flength)
              return item
            })
          }
          this.gloading = false
        })
    },
    dealTime(s){
      let time = Number(s)
      if(time <= 60){
        return `${time}''`
      }
      if(time > 60 && time <=3600){
        let m = Math.floor(time/60)
        let s = time % 60
        return `${m}'${s}''`
      }
      if(time > 3600){
        let h = Math.floor(time / 3600)
        let m = Math.floor((time % 3600) / 60)
        let s = (time % 3600) % 60
        return `${h}'${m}'${s}''`
      }
    },
    customizeTime(){
      let [start, end] = this.customize
      let _start = start.substring(11)
      let _end = end.substring(11)
      let data = {
        start: _start,
        end: _end,
        starttime: _start,
        endtime: _end,
      }
      this.timeDate.push(data)
      this._change(this.timeDate.length - 1)
    },
    _change(val) {
      if (val !== 100) {
        this.tableData = []
        this.activeNames = val
        this.activeNames2 = val
        this._cleartimer()
        this.videoUrl = ''
        this._dataInit()
        this._reset()
        this.iscustomize = false
      }else{
        this.iscustomize = true
      }
    },
    _setAbTime() {
      let s = new Date(this.sdate + ' ' + '00:00:00').getTime()
      let e = this.Stime
      if (this.abtime === -1000) {
        this.abtime = (s - e) / 1000
      }
    },
    // 获取m3u8开始时间
    _m3u8TsartTime(url) {
      let matchReg = /http.*?\.ts/gi
      axios.get(url)
        .then(res => {
          if (res.data.length > 91) {
            let a = res.data.match(matchReg)[0]
            let arr = a.split('/')
            this.Stime = Number(arr[arr.length - 1].substring(0, 10)) * 1000
            this._setAbTime()
          }
        })
    },
    // 广告名称模糊搜索
    searchadname(queryString, cb) {
      let data = {
        adName: queryString
      }
      axios.post(this.$_ + '/Api/Ad/searchAdByName', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb(res.data.data)
          }
        })
    },
    // 广告主模糊搜索
    searchadowner(queryString, cb) {
      let data = {
        name: queryString
      }
      axios.post(this.$_ + '/Api/Adowner/searchAdOwner', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb(res.data.data)
          }
        })
    },
    selectOwner(item) {
      this.adOwner = item
      this.resultdata.fadownername = item.value
      this.resultdata.fadowner = item.fid
    },
    _delete(obj, e) {
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该广告记录?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Inspectiontask2/DelAd', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._dataInit()
            } else {
              this.$func._error(res.data)
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });
    },
    detail(row) {
      this.row = row
    },
    _edit(obj, e, disabled) {
      this.fadclasscode = []
      if (disabled && obj.fadname !== '--') {
        this.disabled = true
      } else {
        this.disabled = false
      }
      let {fadclasscode} = obj
      let fadclasscodearr = []
      for(let i = 0;i < fadclasscode.length; i += 2){
        fadclasscodearr.push(fadclasscode.substr(0,i+2))
      }
      this.fadclasscode = fadclasscodearr
      for (let key in this.resultdata) {
        this.fid = obj.fid
        if (key === 'fstart') {
          this.resultdata[key] = `${this.sdate} ${obj['fstarttime']}`
        } else if (key === 'fend') {
          this.resultdata[key] = `${this.sdate} ${obj['fendtime']}`
        } else {
          this.resultdata[key] = obj[key]
        }
      }
    },
    delStep() {
      this.stepChange = false;
      this.step = 1;
      this.isActive = true;
      this.isActive2 = false;
      setTimeout(() => {
        this.stepChange = true;
      })
    },
    addStep() {
      this.stepChange = false;
      this.isActive = false;
      this.isActive2 = true;
      setTimeout(() => {
        this.step = 2;
        this.stepChange = true;
      })
    },
    inButton() {
      this.showButton = true
    },
    outButton() {
      this.showButton = false
    },
    mouseEnter(row, column, cell, event) {
      cell.style.cursor = 'pointer'
    },
  },
  computed: {
    planId(){
      return this.$route.query.fid || false
    },
    sdate(){
      return this.$route.query.fissuedate
    },
    flength() {
      let start = new Date(this.resultdata.fstart).getTime()
      let end = new Date(this.resultdata.fend).getTime()
      if (start && end) {
        return (end - start) / 1000
      } else {
        return '0'
      }
    },
    duringtime() {
      return this.timeDate[this.activeNames2].starttime + ' - ' + this.timeDate[this.activeNames2].endtime
    },
    canEdit(){
      return this.fdstatus === '2'
    }
  }
}
</script>

<style scoped lang="scss">
.shsjxq{
  background-color: #fff;
  padding: 5px;
  overflow: hidden;
  position: relative;
  .loadingcover {
    height: 295px;
    background: #000000;
  }
  .noWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .timeChoise {
    width: 100%;
    margin:2px 0;
  }
  .stepBox {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50px;
    background: red;
  }
  .stepBox button {
    border: none;
    background: rgb(60, 60, 60);
    height: 50%;
  }
  .active {
    color: #ffffff;
  }
  .active2 {
    color: #ffffff;
  }
  #ens {
    overflow: hidden;
  }
  .rowbox {
    overflow: hidden;
  }
  .info-fieldset{
    height: 260px;
    margin: 0;
  }
  .box {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
  }
  .el-radio-button {
    width: calc(100% / 6);
  }
  .radiogroup {
    width: 100%;
  }
  .radiogroup /deep/ .el-radio-button__inner {
    width: 100%;
  }
  .addForm{
    & /deep/ .el-form-item{
      margin-bottom: 8px;
    }
  }
  .text-primary{
    color: #00C1DE;
  }
  .title-row{
    display: flex;
    height: 38px;
    .title-back{
      width:56px;
    }
    .title-info{
      padding: 0 5px;
      flex-grow: 1;
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      color: #606266;
      text-align: center;
    }
    .title-finished{
      text-align: right;
      width: 80px;
    }
  }
  .error-reason{
    padding: 0px 4px;
    background-color: #fff;
    position: absolute;
    box-sizing: border-box;
    height: 114px;
    left: 0;
    right: 0;
    bottom: -102px;
    transition: 0.5s;
    z-index: 9;
    &:hover{
      bottom: 0px;
    }
    .error-textarea{
      display: inline-block;
      width: calc(100% - 80px);
    }
    .back-btn{
      vertical-align: top;
      display: inline-block;
      width: 74px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      background-color: #f56c6c;
      color: #fff;
      &:hover{
        background-color: #f78989;
        cursor: pointer;
      }
    }
    .up-arrow{
      text-align: center;
      font-size: 12px;
      margin: 0;
      line-height: 12px;
      background-color: #00C1DE;
      color: #fff;
    }
  }
}
</style>