<template>
  <div class="sjfuhe"
    v-loading="loading">
    <g-search :button="true"
      @search="_getList"></g-search>
    <el-tabs v-model="activeTab"
      type="card">
      <el-tab-pane name="1">
        <span slot="label">
          {{
          `${fregulatorlevel[userInfo.fregulatorlevel]}${$store.state.menudata.sjfuhe[1]}处理` + (ActiveTab[$route.name+'1'] ? `(${ActiveTab[$route.name+'1']})` : '')
          }}
        </span>
        <keep-alive>
          <sjfhcl ref="sjfhcl"
            :isbs="true"
            v-if="activeTab === '1'"
            @refresh="_refresh" />
        </keep-alive>
      </el-tab-pane>
      <el-tab-pane name="2" v-if="$store.state.isgj">
        <span slot="label">
          {{
          `跨地域${$store.state.menudata.sjfuhe[1]}处理 ` + (ActiveTab[$route.name+'2'] ? `(${ActiveTab[$route.name+'2']})` : '')
          }}
        </span>
        <keep-alive>
          <sjfhcl ref="sjfhcl"
            v-if="activeTab === '2'"
            @refresh="_refresh" />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import GSearch from "../common/GSearch";
import sjfhcl from './components/sjfhcl'
import { mapState } from 'vuex'
export default {
  components: {
    sjfhcl,
    GSearch
  },
  data() {
    return {
      activeTab: '1',
      loading: false
    }
  },
  created() {
    this.activeTab = this.$route.params.activeTab || '1'
  },
  methods: {
    _getList() {
      this.$refs.sjfhcl._getList()
    },
    _refresh() {
      this.$store.dispatch('_getDB', `${this.$route.name}|${this.activeTab || '1'}`)
    }
  },
  computed: {
    ...mapState(['ActiveTab', 'fregulatorlevel', 'userInfo'])
  }
}
</script>

<style scoped>
</style>