<template>
  <div class="ckchuli">
    <div v-loading="loading">
      <!-- search -->
      <el-form inline
        ref="sform"
        label-width="90px">
        <el-row>
          <el-col :span="24">
            <g-search></g-search>
          </el-col>
          <el-col :span="24">
            <el-form-item label="选择地域：">
              <el-cascader :options="$store.state.wfqdarea2"
                :props="$store.state.areaOptions"
                v-model="area"
                clearable
                @change="areaClear">
              </el-cascader>
              <el-switch v-model="searchForm.iscontain"
                active-value="1"
                inactive-value="0"
                :disabled="!area.length"
                active-text="包含下属地区">
              </el-switch>
            </el-form-item>
            <el-form-item label="处理状态：">
              <el-select v-model="searchForm.fstate"
                @change="() => { searchForm.fstate2 = '0' }">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option label="待处理"
                  value="0"></el-option>
                <el-option label="已上报"
                  value="10"></el-option>
                <el-option label="复核"
                  value="30"></el-option>
              </el-select>
              <el-select v-model="searchForm.fstate2"
                style="width:145px"
                v-if="searchForm.fstate === '0'">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option label="未查看"
                  value="10"></el-option>
                <el-option label="已查看"
                  value="20"></el-option>
              </el-select>
              <el-select v-model="searchForm.fstate2"
                style="width:145px"
                v-if="searchForm.fstate === '10'">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in sblx"
                  :key="key"
                  :label="value"
                  :value="key"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="查询条件：">
              <el-select class="right-margin"
                v-model="searchForm.search_type"
                placeholder="请选择"
                @change="()=>{searchForm.search_val=''}">
                <el-option v-for="item in $store.state.selectData"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
              <el-select class="right-margin"
                v-model="searchForm.search_val"
                placeholder="请选择"
                v-if="searchForm.search_type === '10'">
                <el-option label="全部"
                  value="">
                </el-option>
                <el-option :label="item.label"
                  :value="item.value"
                  v-for="item in Mediatype"
                  :key="item.value">
                </el-option>
              </el-select>
              <el-input class="secrch right-margin"
                style="width:150px;"
                type="text"
                v-if="searchForm.search_type !== '10'"
                v-model="searchForm.search_val">
              </el-input>
              <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
                v-model="searchForm.netadtype"
                placeholder="请选择"
                style="width:200px;">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in $store.state.netadtype"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
              <el-date-picker
                v-model="result"
                v-if="isah"
                style="width: 240px"
                type="daterange"
                value-format="yyyy-MM-dd HH:mm:ss"
                range-separator="至"
                start-placeholder="处理日期"
                end-placeholder="处理日期">
              </el-date-picker>
              <el-date-picker
                v-model="send"
                v-if="isah"
                style="width: 240px"
                type="daterange"
                value-format="yyyy-MM-dd HH:mm:ss"
                range-separator="至"
                start-placeholder="派发日期"
                end-placeholder="派发日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item>
              <el-button type="primary"
                @click="_getList(1)"
                icon="el-icon-search"
                class="pull-right">查询</el-button>
              <out-button class="pull-right right-margin"
                :data="predata"
                @initdata="initData"
                url="/Agp/Gckhuizong/cljieguo_list"/>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <!-- table -->
      <el-table :data="tableData"
        border
        :height="$store.state.GTableHeight"
        @selection-change="_handleSelectionChange">
        <el-table-column type="selection"
          width="50">
        </el-table-column>
        <el-table-column width="80"
          label="媒体分类">
          <template slot-scope="scope">
            {{$store.state.allmediatype[scope.row.fmedia_class]}}
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称"
          width="180"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          width="180"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadownername"
          label="广告主"
          width="160"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column show-overflow-tooltip
          v-if="predata.search_val !== '13'"
          width="80"
          prop="diffweek"
          label="播出周数">
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="90"
          prop="fcount"
          :label="predata.search_val === '13' ? '监测总条次':'播出总条次'">
        </el-table-column>
        <el-table-column
          label="总时长(秒)"
          width="80"
          show-overflow-tooltip>
          <template slot-scope="scope">
            {{ scope.row.fsccount }}
          </template>
        </el-table-column>
        <el-table-column show-overflow-tooltip
          :label="predata.search_val === '13' ? '监测时间段':'播出时间段'">
          <template slot-scope="scope">
            {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import upload from '../common/upload'
import GSearch from '../common/GSearch'
import outButton from '../../common/outButton'
import axios from "axios"
import qs from "qs"
export default {
  components: {
    GSearch,
    outButton,
    upload
  },
  data() {
    return {
      result: [],
      send: [],
      attaches: [],
      checkboxValue: [],
      zjfjdata: [],
      lafjdata: [],
      tableData: [],
      searchForm: {
        page: 1,
        fstate: '-1',
        search_type: "10",
        search_val: "",
        iscontain: '1',
        netadtype: '0',
        fstate2: '0',
      },
      predata: {},
      countAll: "0",
      loading: false,
      videoUrl: "",
      multipleSelection: [],
      area: [],
      details: {},
      del: [],
      sblx: {
        '10': '责令停止发布',
        '20': '立案',
        '30': '立案中',
        '40': '立案完成',
        '50': '移送司法',
        '60': '其他',
      },
    }
  },
  created() {
    let timer = setInterval(() => {
      if (this.$store.state.allArea[0]['fid']) {
        this.searchForm.area = this.$store.state.allArea[0]['fid']
        this._getList()
        clearInterval(timer)
      }
    })
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval;
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.area = this.area[this.area.length - 1]
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      if(this.isah){
        data.fresultdatetime = this.result
        data.fsenddatetime = this.send
      }
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true
      this.initData(page)
      axios.post(this.$_ + "/Agp/Gckhuizong/cljieguo_list", qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime ? item.fstarttime.substring(0, 10) : ''
              item.fendtime = item.fendtime ? item.fendtime.substring(0, 10) : ''
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        })
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    areaClear(val) {
      if (!val) {
        this.area = []
      }
    }
  },
  computed: {
    isah(){
      return this.$store.state.userInfo.system_num === 340000
    },
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>