<template>
  <div class="paper-sample">
    <div class="tumb-wrapper">
     <vueCropper ref="cropper" img="http://datamanagerplatform.finesoft.com.cn/papersource/1909/20190927/1569576606481.jpg?imageMogr2/auto-orient/crop/!1351x818a30a3220" :outputSize="Number(1)"></vueCropper>
    </div>
    <div class="info-wrapper">
      <el-card class="box-card marin-b" shadow="never">
        <div slot="header">
          <span>基本信息</span>
        </div>
        <el-form :model="form" ref="form" label-width="100px">
          <el-col :span="24">
            <el-col :span="12">
              <el-form-item label="广告名称">
                <el-input v-model="form.name" placeholder="请输入广告名称" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="广告主">
                <el-input v-model="form.name" placeholder="请输入广告主" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-col>
          <el-col :span="24">
            <el-col :span="12">
              <el-form-item label="广告类别">
                <el-cascader
                  style="width: 100%"
                  :options="adClassTree"
                  change-on-select
                  :props="adClassOptions"
                  v-model="form.adClass"
                  clearable>
                </el-cascader>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="版本说明">
                <el-input v-model="form.name" placeholder="请输入版本说明" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-col>
          <el-col :span="24">
            <el-col :span="12">
              <el-form-item label="发布类型">
                <el-select v-model="form.status" placeholder="请选择样本状态" clearable style="width: 100%">
                  <el-option v-for="item in sampleType"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="规格">
                <el-select v-model="form.status" placeholder="请选择规格" clearable style="width: 100%">
                  <el-option v-for="item in sampleType"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-col>
          <el-col :span="24">
            <el-col :span="12">
              <el-form-item label="版面">
                <el-select v-model="form.status" placeholder="请选择版面" clearable style="width: 100%">
                  <el-option v-for="item in sampleType"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="版面类别">
                <el-select v-model="form.status" placeholder="请选择版面类别" clearable style="width: 100%">
                  <el-option v-for="item in sampleType"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-col>
          <el-col :span="24">
            <el-col :span="12">
              <el-form-item label="审批号">
                <el-input v-model="form.name" placeholder="请输入审批号" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="审批单位">
                <el-input v-model="form.name" placeholder="请输入审批单位" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-col>
          <el-col :span="24">
            <el-col :span="12">
              <el-form-item label="生产许可证号">
                <el-input v-model="form.name" placeholder="请输入生产许可证号" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-col>
        </el-form>
      </el-card>
      <el-card class="box-card" shadow="never">
        <div slot="header">
          <span>违法信息</span>
        </div>
        <el-form :model="sampleForm" ref="form" label-width="100px">
          <el-form-item label="违法类型">
            <el-radio-group v-model="sampleForm.fillegaltypecode">
              <el-radio-button :label="key" v-for="(value,key) in illType" :key="key">{{value.label}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="涉嫌违法内容" v-if="isIll || isIllCheck">
            <el-input v-model="sampleForm.fillegalcontent" type="textarea" :rows="3" style="width:100%"></el-input>
          </el-form-item>
          <el-form-item v-if="isIll">
            <div slot="label">
              违法表现
              <el-button type="text" @click="showDrawer">选 择</el-button>
              <el-button type="text" class="danger" @click="delIll">取消选择</el-button>
            </div>
            <el-table :data="illData" border stripe height="158px" ref="multipleTable" @selection-change="val => multipleSelection = val"  @row-click="row => $refs.multipleTable.toggleRowSelection(row)" :row-style="rowStyle" style="width:100%">
              <el-table-column type="selection" width="40"></el-table-column>
              <el-table-column prop="fcode" label="代码" width="80"></el-table-column>
              <el-table-column prop="fexpression" label="违法表现"></el-table-column>
              <el-table-column prop="fconfirmation" label="认定依据"></el-table-column>
            </el-table>
          </el-form-item>
        </el-form>
      </el-card>
      <div class="btn-wrapper">
        <el-button type="primary" @click="()=>{}">确 定</el-button>
        <el-button>取 消</el-button>
      </div>
    </div>
    <el-drawer
      title="选择违法表现"
      :visible.sync="drawer"
      direction="ttb"
      :size="size"
      :modal="modal"
      :before-close="handleClose">
      <div class="drawer-body">
        <el-tree
          ref="tree"
          :data="illegalTree"
          :render-after-expand="false"
          check-on-click-node
          check-strictly
          show-checkbox
          node-key="fcode"
          :props="props"
          @check-change="handleCheck">
        </el-tree>
      </div>
    </el-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { VueCropper }  from 'vue-cropper'
  export default {
    components: { VueCropper },
    data() {
      return {
        form:{},
        sampleStatus:[],
        sampleType:[],
        checkList:['有偿新闻'],
        drawer: true,
        sampleForm: {
          adType: '1',
          is_long_ad: '1',
          fillegaltypecode: '0'
        },
        modal: false,
        size: '0px',
        illData: [],
        props: {
          children: 'list_2',
          label: 'fexpression'
        },
      }
    },
    created() {
    },
    methods:{
      showDrawer(){
        this.drawer = true
      },
      delIll(){
        let del = this.multipleSelection.map(i => i.fcode)
        let result = this.illData.filter(i => {
          return !del.includes(i.fcode)
        })
        this.$refs.tree.setCheckedNodes(result)
      },
      handleClose(){
        this.drawer = false
      },
      handleCheck(){
        this.illData = this.$refs.tree.getCheckedNodes()
      },
    },
    mounted() {
      this.$nextTick(() => {
        this.drawer = false
        setTimeout(() => {
          this.size = '450px'
          this.modal = true
        },3000)
      })
    },
    computed: {
      ...mapGetters(['pickerOptions', 'routerMap', 'adClassTree', 'adClassOptions', 'illType', 'mediaType','illegalTree','rowStyle']),
      isIll(){
        return this.sampleForm.fillegaltypecode === '30'
      },
      isIllCheck(){
        return this.details.fillegaltypecode === '-30'
      },
    },
  }
</script>

<style lang="scss" scoped>
.paper-sample{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .tumb-wrapper{
    width: 700px;
    margin-right: 12px;
  }
  .info-wrapper{
    flex:1;
    // width: 100%;
    overflow: auto;
    &/deep/.el-card__header{
      padding: 12px 20px;
    }
    .marin-b{
      margin-bottom: 12px;
    }
    .btn-wrapper{
      padding: 12px 0;
      text-align: center;
    }
  }
}
</style>