<template>
  <div class="sample-Manage" v-loading="loading">
    <el-form :model="form" ref="searchForm" inline @keyup.native.enter="getList()">
      <el-form-item label="地区：">
        <el-cascader
          :clearable="true"
          :options="mediaRegion"
          :props="{...areaOptions,emitPath: false}"
          v-model="form.area"
          @change="areaChange">
        </el-cascader>
        &nbsp;
        <el-checkbox v-model="form.iscontain" true-label="1" false-label="0" @change="areaChange()">包含下级</el-checkbox>
      </el-form-item>
      <el-form-item label="媒体名称：">
        <el-select v-model="form.mediaId" filterable clearable placeholder="请选择播出媒体" style="width:100%">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="发布日期：">
        <el-date-picker
          v-model="form.issueDate"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          clearable>
        </el-date-picker>
      </el-form-item>
      <el-form-item label="广告名称：">
        <el-input v-model="form.adName" clearable></el-input>
      </el-form-item>
      <el-form-item label="广告类别：">
        <el-cascader v-model="form.adClass" :options="adClassTree" :props="{...adClassOptions, checkStrictly: true, emitPath: false}" clearable></el-cascader>
      </el-form-item>
      <el-form-item label="违法类型：">
        <el-radio-group v-model="form.illType">
          <el-radio-button label="">全部</el-radio-button>
          <el-radio-button :label="key" v-for="(value,key) in illType" :key="key">{{value.label}}</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getList()">查 询</el-button>
        <el-button type="primary" plain @click="output">导 出</el-button>
      </el-form-item>
      <el-row>
        <el-col :span="24">
          <el-form-item>
            <el-radio-group v-model="form.mediaClass" @change="mediaTypeChange">
              <el-radio-button label="01">电视</el-radio-button>
              <el-radio-button label="02">广播</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tabelData" border stripe :height="tableHeight" @sort-change="sortChange">
      <el-table-column type="index"></el-table-column>
      <el-table-column label="发布媒体" prop="fmedianame" sortable="custom"></el-table-column>
      <el-table-column label="广告名称" prop="fadname" sortable="custom"></el-table-column>
      <el-table-column label="发布日期" prop="fissuedate" sortable="custom"></el-table-column>
      <el-table-column label="广告内容类别" prop="adclassname" sortable="custom"></el-table-column>
      <el-table-column label="违法类型" sortable="custom" prop="fillegaltypecode">
        <template slot-scope="scope">
          <span :class="illType[scope.row.fillegaltypecode].color">{{ illType[scope.row.fillegaltypecode].label }}</span>
        </template>
      </el-table-column>
      <el-table-column label="规格（秒）" prop="fadlen" sortable="custom"></el-table-column>
      <el-table-column label="操作" width="80">
        <template slot-scope="scope">
         <el-button type="text" @click="editSample(scope.row)">修 改</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      v-if="showPagin"
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
    <file-download v-if="showDownload" :url="downloadUrl" @close="showDownload = false"></file-download>
  </div>
</template>

<script>
  import fileDownload from '@/components/fileDownload'
  import { getMediaList } from "@/api/Function.js"
  import { sampleList } from '@/api/SampleManage'
  import { mapGetters } from 'vuex'
  export default {
    name: 'sampleManage',
    components: {fileDownload},
    data() {
      let start = this.$dayjs().startOf('month').format('YYYY-MM-DD')
      let end = this.$dayjs().format('YYYY-MM-DD')
      return {
        form: {
          area: '330000',
          illType: '',
          adName: '',
          adClass: '',
          mediaId: '',
          mediaClass: '01',
          issueDate: [start, end],
          iscontain: '1',
          orderType: '',
        },
        tabelData: [],
        mediaList: [],
        tableHeight: '300px',
        showPagin: true,
        page: {
          pageSize: 20,
          pageIndex: 1,
        },
        total: 0,
        options: [],

        nameMap: {
          '01': 'tv',
          '02': 'bc',
          '03': 'paper',
        },
        loading: false,
        showDownload: false,
        downloadUrl: '',
        order: {
          'fmedianame': {
            'ascending': '0',
            'descending': '1',
          },
          'fadname': {
            'ascending': '10',
            'descending': '11',
          },
          'fissuedate': {
            'ascending': '20',
            'descending': '21',
          },
          'adclassname': {
            'ascending': '30',
            'descending': '31',
          },
          'fillegaltypecode': {
            'ascending': '40',
            'descending': '41',
          },
          'fadlen': {
            'ascending': '40',
            'descending': '41',
          },
        },
      }
    },
    computed: {
      ...mapGetters(['adClassTree', 'illType', 'adClassOptions', 'mediaRegion', 'areaOptions'])
    },
    created() {
      this.areaChange()
      this.getList(this.$route.params.pageIndex || 1)
    },
    mounted() {
      this.$nextTick(() => {
        this.tableHeight = this.getTH(this, 134)
      })
      window.onresize = () => {
        this.tableHeight = this.getTH(this, 134)
      }
    },
    methods: {
      mediaTypeChange(){
        this.form.mediaId = ''
        this.areaChange()
        this.getList(1)
      },
      output(){
        let data = {
          ...this.form,
          outType: 'xls'
        }
        this.downloadUrl = ''
        this.showDownload = true
        sampleList(data).then(res => {
          this.downloadUrl = res.data
        }).catch(() => this.showDownload = false)
      },
      editSample(row){
        this.$router.push({
          name: `${this.nameMap[this.form.mediaClass]}Sample`,
          query: {
            fid: row.fid,
            pageIndex: this.page.pageIndex
          }
        })
      },
      areaChange(val){
        let data = {
          area: val || this.form.area,
          iscontain: this.form.iscontain,
          mediaClass: this.form.mediaClass
        }
        getMediaList(data).then(res => {
          this.mediaList = res.data
        })
      },
      getList(page = 1){
        if(page) this.page.pageIndex = page
        let data = {
          ...this.form,
          ...this.page
        }
        this.loading = true
        sampleList(data).then(res => {
          this.tabelData = (res.data || []).map(i => {
            i.fissuedate = i.fissuedate.substr(0,10)
            return i
          })
          this.total = +res.count
          this.loading = false
        }).catch(() => this.loading = false)
      },
      sortChange(val) {
        let prop = val.prop
        let order = val.order
        this.form.orderType = this.order[prop][order] || ''
         this.getList(this.page.pageIndex)
      },
      handleSizeChange(size){
        this.page.pageSize = size
        this.getList(this.page.pageIndex)
      },
      handleCurrentChange(val) {
        this.page.pageIndex = val
        this.getList(this.page.pageIndex)
      },
    },
  }
</script>

<style lang="scss" scoped>
.green{
  color: #67C23A;
}
.red{
  color: #F56C6C;
}
.yellow{
  color: #E6A23C;
}

</style>