<template>
  <div class="brand-list" v-loading="loading">
    <el-form :model="form" ref="searchForm" inline @keyup.native.enter="getList(1, 1)">
      <el-form-item label="地区：">
        <el-cascader
          :clearable="true"
          :options="mediaRegion"
          :props="{...areaOptions,emitPath: false}"
          v-model="form.area"
          @change="areaChange">
        </el-cascader>
        &nbsp;
        <el-checkbox v-model="form.iscontain" true-label="1" false-label="0" @change="areaChange()">包含下级</el-checkbox>
      </el-form-item>
      <el-form-item label="媒体名称：">
        <el-select v-model="form.mediaId" clearable placeholder="请选择播出媒体" style="width:100%">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="日期范围：">
        <el-date-picker
          :clearable="false"
          v-model="form.issueDate"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="时间范围：">
        <el-time-picker
          style="width: 240px"
          is-range
          value-format='HH:mm:ss'
          v-model="form.issueTime"
          @change="val => issueTime = val || []"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围">
        </el-time-picker>
      </el-form-item>
      <el-form-item label="广告名称：">
        <el-input v-model="form.adName" clearable></el-input>
      </el-form-item>
      <el-form-item label="广告类别：">
        <el-cascader v-model="form.adClass" :options="adClassTree" :props="{...adClassOptions, checkStrictly: true, emitPath: false}" clearable></el-cascader>
      </el-form-item>
      <el-form-item label="品牌：">
        <el-input v-model="form.brand" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-checkbox v-model="form.isNotBusiness" true-label="1" false-label="0">非商业广告</el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getList(1, 1)">查 询</el-button>
        <el-button type="primary" plain @click="output">导 出</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tabelData" border stripe :height="tableHeight">
      <el-table-column type="index"></el-table-column>
      <el-table-column label="开始时间" prop="fstarttime"></el-table-column>
      <el-table-column label="星期" prop="weekday" width="80"></el-table-column>
      <el-table-column label="广告名称" prop="title"></el-table-column>
      <el-table-column label="广告前栏目" prop="fpriorprg"></el-table-column>
      <el-table-column label="广告后栏目" prop="fnextprg"></el-table-column>
      <el-table-column label="前广告" prop="fpriorad"></el-table-column>
      <el-table-column label="后广告" prop="fnextad"></el-table-column>
      <el-table-column label="规格" prop="flength" width="80"></el-table-column>
      <el-table-column label="类型" prop="fissuetype" width="80"></el-table-column>
      <el-table-column label="序号" prop="fadsort" width="80"></el-table-column>
    </el-table>
    <el-pagination
      v-if="showPagin"
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
    <file-download v-if="showDownload" :url="downloadUrl" @close="showDownload = false"></file-download>
  </div>
</template>

<script>
  import fileDownload from '@/components/fileDownload'
  import { mapGetters } from 'vuex'
  import { getMediaList } from "@/api/Function.js"
  import { ppPlayList } from "@/api/PlayManage.js"
  export default {
    name: 'brandList',
    components: {fileDownload},
    data() {
      let start = this.$dayjs().startOf('month').format('YYYY-MM-DD')
      let end = this.$dayjs().format('YYYY-MM-DD')
      return {
        form: {
          area: '330000',
          iscontain: '1',
          isNotBusiness: '0',
          mediaId: '',
          issueDate: [start, end],
          issueTime: '',
          brand: '',
          adClass: '',
          adName: '',
        },
        tabelData: [],
        tableHeight: '300px',
        showPagin: true,
        mediaList: [],
        page: {
          pageSize: 20,
          pageIndex: 1,
        },
        total: 0,
        loading: false,
        showDownload: false,
        downloadUrl: '',
      }
    },
    computed: {
      ...mapGetters(['mediaRegion', 'areaOptions', 'adClassOptions', 'adClassTree'])
    },
    created() {
      this.areaChange()
    },
    mounted() {
      this.$nextTick(() => {
        this.tableHeight = this.getTH(this, 134)
      })
      window.onresize = () => {
        this.tableHeight = this.getTH(this, 134)
      }
    },
    methods: {
      areaChange(val){
        let data = {
          area: val || this.form.area,
          iscontain: this.form.iscontain,
          from: 'ppList'
        }
        getMediaList(data).then(res => {
          this.mediaList = res.data
        })
      },
      getList(page = 1, isCreate = 0){
        if(page) this.page.pageIndex = page
        let data = {
          isCreate,
          ...this.form,
          ...this.page
        }
        this.loading = true
        ppPlayList(data).then(res => {
          this.loading = false
          this.tabelData = res.data
          this.total = Number(res.count)
        }).catch(err => {
          this.loading = false
        })
      },
       output(){
        let data = {
          isCreate: 1,
          outType: 'xls',
          ...this.form,
        }
        this.downloadUrl = ''
        this.showDownload = true
        ppPlayList(data).then(res => {
          this.downloadUrl = res.data
        }).catch(() => this.showDownload = false)
      },
      handleSizeChange(size){
        this.page.pageSize = size
        this.getList(this.page.pageIndex)
      },
      handleCurrentChange(val) {
        this.page.pageIndex = val
        this.getList(this.page.pageIndex)
      },
      remoteMethod(mediaName){
        if (mediaName !== '') {
          let data = {
            mediaName
          }
          getMediaList(data).then(res => {
            this.mediaList = res.data
          })
        } else {
          this.mediaList = []
        }
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>