<template>
  <div class="edit-pwd">
    <el-dialog
      title="修改密码"
      :visible.sync="show"
      width="600px"
      :before-close="_close">
      <el-form :model="form" ref="form" label-width="80px" >
        <el-form-item label="原密码">
          <el-input v-model="form.fpassword1" type="password"></el-input>
        </el-form-item>
        <el-form-item label="新密码">
          <el-input v-model="form.fpassword2" type="password"></el-input>
        </el-form-item>
        <el-form-item label="确认密码">
          <el-input v-model="form.fpassword3" type="password"></el-input>
        </el-form-item>
        <el-form-item label="验证码">
          <el-input v-model="form.verify" style="width:50%;float:left;"></el-input>
          <img :src="'/Jiance/Login/verify/' + tstring" width="45%" height="40px" alt="验证码加载失败" class="pull-right" @click="_changeVerify">
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_changPwd" :loading="$store.state.sloading">修 改</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import { encrypt } from '@/utils/rsa.js'
import { editMima } from '@/api/base.js'
  export default {
    data(){
      return {
        show: true,
        form: {
          fpassword1: '',
          fpassword2: '',
          fpassword3: '',
        },
        tstring: ''
      }
    },
    methods: {
      _close(){
        this.$store.commit('sloading', false)
        this.$emit('close')
      },
      _changeVerify(){
        this.tstring = new Date().getTime()
      },
      _changPwd(){
        let b = (this.form.fpassword2.length >= 6) && (this.form.fpassword2 === this.form.fpassword3)
        if(b){
          this.$store.commit('sloading',true)
          let data = {
            fpassword1: encrypt(this.form.fpassword1),
            fpassword2: encrypt(this.form.fpassword2),
            fpassword3: encrypt(this.form.fpassword3),
            verify: this.form.verify
          }
          editMima(data).then(res => {
            this.$alert('密码已修改，请重新登录！', '提示', {
              confirmButtonText: '确定',
              type: "success",
              callback: action => {
                this._close()
                this.$emit('success')
              }
            })
          })
          .catch(() => {
            this._changeVerify()
            this.$store.commit('sloading', false)
          })
        }else{
          this.$message.error('密码长度小于6，或新密码与就密码不一致')
        }
      }
    }
  }
</script>