<template>
  <el-menu :default-active="$route.path" text-color="#2c3e50" active-text-color="#FF6A00" @select="$emit('select')" unique-opened>
    <menu-item v-for="item in Menus" :menuItem="item" :key='item.name'/>
  </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import menuItem from './menuItem'
export default {
  components: { menuItem },
  computed: {
    ...mapGetters(['menus']),
    Menus(){
      return this.menus.filter(i =>i.meta.show !== false)
    }
  },
}
</script>

<style scope lang="scss">
.el-menu{
  .icon-caidan{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
}
.el-aside{
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0,0,0,.2);
  z-index: 9;
}
.el-aside::-webkit-scrollbar {
  display: none;
}
</style>