<template>
  <div class="category-rank">
    <pie-echart
      v-if="tdata.length != 0"
      :title="title"
      :xdata="xdata"
      :ydata="ydata"></pie-echart>
    <div v-else class="noData">暂无数据</div>
    <table-view title="广告类别"
      :mClass="mClass"
      :total="total"
      :tabledata="tableData"
      tag="2"></table-view>
  </div>
</template>
<script>
import tableView from '../common/tableView'
import pieEchart from '../common/pieEchart'
export default {
  props: {
    title: {
      default: '',
      type: String,
    },
    tdata: {
      default: () => [],
      type: Array
    },
    mClass: {
      default: '',
      type: [String, Number]
    },
    total: {
      default: 0,
      type: Number,
    },
  },
  components: {
    tableView,
    pieEchart,
  },
  data() {
    return {
      charts: false,
      tableData: [],
      xdata: [],
      ydata: [],
    }
  },
  methods: {
  },
  computed: {

  },
  watch:{
    tdata(val){
      this.tableData = val
       this.ydata = val.map(i => {
        let obj = {}
        obj.value = Number(i.ztiaoci)
        obj.name = i.adclassname
        return obj
      })
      this.xdata = val.map(i => {
        return i.adclassname
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.category-rank{
  .noData{
    height: 160px;
    font-size: 24px;
    color: #ccc;
    font-weight: 700;
    text-align: center;
    padding-top: 140px;
  }
}
</style>

