<template>
  <div class="org-rank">
      <line-echart
        v-if="tdata.length != 0"
        :title="title"
        :xdata="xdata"
        :ydata="ydata"
        ref="linechart"></line-echart>
        <div class="noData" v-else>暂无数据</div>
      <table-view title="地区名称"
        :mClass="mClass"
        :total="total"
        :tabledata="tableData"
        tag="4"></table-view>
  </div>
</template>
<script>
import tableView from '../common/tableView'
import lineEchart from '../common/lineEchart'
export default {
  props: {
    title: {
      default: '',
      type: String,
    },
    tdata: {
      default: () => [],
      type: Array,
    },
    mClass: {
      default: '',
      type: [String, Number]
    },
    total: {
      default: 0,
      type: Number,
    },
  },
  components: {
    tableView,
    lineEchart,
  },
  data() {
    return {
      tableData: [],
      ydata: [],
      xdata: [],
    }
  },
  created() {
  },
  mounted(){
  },
  methods: {
  },
  computed: {
  },
  watch:{
    tdata(val){
      this.tableData = val
      this.ydata = val.map(i => {
        return i.ztiaoci
      })
      this.xdata = val.map(i => {
        return i.mediaownername
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.org-rank{
  .noData{
    height: 160px;
    font-size: 24px;
    color: #ccc;
    font-weight: 700;
    text-align: center;
    padding-top: 140px;
  }
}
</style>


