<template>
  <el-dialog title="发送监测情况通报"
    :visible.sync="show"
    width="600px"
    center
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    :before-close="() => $emit('close')">
    <el-form :model="form"
      ref="form"
      label-width="100px">
      <el-form-item label="接收局：">
        <el-checkbox-group v-model="form.bureau">
          <el-checkbox label="20"
            v-if="$store.state.userInfo.fregulatorlevel === 30">所有省局</el-checkbox>
          <el-checkbox label="10"
            v-if="$store.state.userInfo.fregulatorlevel === 30
              ||
              $store.state.userInfo.fregulatorlevel === 20">所有市局</el-checkbox>
          <el-checkbox label="0"
            v-if="$store.state.userInfo.fregulatorlevel === 30
              ||
              $store.state.userInfo.fregulatorlevel === 20
              ||
              $store.state.userInfo.fregulatorlevel === 10">所有县局</el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="主题：">
        <el-input v-model="form.title"
          placeholder="">
        </el-input>
      </el-form-item>
      <el-form-item label="附件：">
        <upload @uploadSuccess="_uploadSuccess">
        </upload>
        <el-tag class="right-margin"
          v-for="item in form.attachinfo"
          :key="item.fattachurl"
          closable
          @close="_removeTag(item)"
          type="priamry">
          {{item.fattachname}}
        </el-tag>
      </el-form-item>
      <el-form-item label="备注信息：">
        <el-input type="textarea"
          v-model="form.content"
          :rows="5">
        </el-input>
      </el-form-item>
    </el-form>
    <span slot="footer">
      <el-button type="primary"
        @click="_send">发 送</el-button>
      <el-button type="danger"
        @click="_reset">
        重置
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import axios from "axios"
import qs from "qs"
import upload from "../../common/upload"
export default {
  components: {
    upload
  },
  data() {
    return {
      show: true,
      form: {
        title: "",
        content: "",
        attachinfo: [],
        bureau: []
      },
    }
  },
  methods: {
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = `${Obj.url}${file.response.key}?attname=${file.name}`
      this.form.attachinfo.push(obj)
    },
    _reset() {
      this.form = {
        title: "",
        content: "",
        attachinfo: [],
        bureau: []
      }
      this.$message.success("已重置")
    },
    _removeTag(obj) {
      this.form.attachinfo = this.form.attachinfo.filter(item => {
        return obj.fattachurl !== item.fattachurl
      })
    },
    _send() {
      if (!this.form.bureau.length) {
        this.$message.error("请填选择接收局！")
        return false
      }
      if (!this.form.title) {
        this.$message.error("请填写主题！")
        return false
      }
      this.$confirm("确认发送?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {

          axios.post(this.$_ + "/Agp/Gmonitor/sendMonitor", qs.stringify(this.form))
            .then(res => {
              if (res.data.code === 0) {
                this.$message.success(res.data.msg)
                this.$emit('close')
              } else {
                this.$func._error(res.data)
              }
            })
            .catch(() => {
              this.$func._error()
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消"
          })
        })
    }
  }
}
</script>