<template>
  <div class="table-list">
    <el-form ref="sform"
      label-width="100px">
    </el-form>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading"
      border>
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="mon_title"
        label="主题">
      </el-table-column>
      <el-table-column prop="mon_sendtrename"
        label="发送局">
      </el-table-column>
      <el-table-column prop="mon_sendtrename"
        label="发送局">
      </el-table-column>
      <el-table-column label="接收局">
        <template slot-scope="scope">
          {{ monbMonBureau[scope.row.monb_mon_bureau] }}
        </template>
      </el-table-column>
      <el-table-column label="附件">
        <template slot-scope="scope">
          <a :href="item.monf_fileurl"
            v-for="item in scope.row.file_list">
            <el-button type="text">
              {{ item.monf_filename }}
            </el-button>
          </a>
        </template>
      </el-table-column>
      <el-table-column prop="mon_remark"
        label="备注信息">
      </el-table-column>
      <el-table-column prop="mon_send_time"
        label="发送时间">
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="10"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    issend: {
      default: false,
      type: Boolean,
    },
    url: {
      default: '/Agp/Gmonitor/getMonitorList',
      type: String,
    },
    tab: {
      default: '1',
      type: String,
    }
  },
  data() {
    return {
      searchForm: {
        page: 1
      },
      loading: true,
      tableData: [],
      countAll: '0',
      monbMonBureau: {
        '0': '所有县局',
        '10': '所有市局',
        '20': '所有省局',
      }
    }
  },
  created() {
    this._getList(1)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (218 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      axios.post(this.$_ + this.url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.file_list.map(l => {
                if (l.monf_fileurl.indexOf('?') === -1) {
                  l.monf_fileurl = l.monf_fileurl + '?attname=' + l.monf_filename
                }
                return l
              })
              return item
            })
            this.countAll = res.data.data.count
            this.$store.dispatch('_getDB', `${this.$route.name}|${this.tab || '1'}`)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
  },
}
</script>

<style scoped>
</style>