<template>
  <el-dialog :title="infoData.fad_name"
    :visible.sync="show"
    width="1200px"
    center
    @close="$emit('close')">
    <div v-loading="$store.state.bloading">
      <el-row :gutter="10">
        <el-col :span="12">
          <el-card :body-style="{ padding: '20px' }"
            shadow="never">
            <div slot="header">
              <span>交办信息</span>
            </div>
            <el-form label-width="130px">
              <el-form-item label="交办线索工商局：">
                {{infoData.fsend_regname || '无'}}
              </el-form-item>
              <el-form-item label="广告类别："
                v-if="iszb">
                {{infoData.ffullname || '无'}}
              </el-form-item>
              <el-form-item label="投诉人/单位："
                v-if="iszb">
                {{infoData.fplaint_person || '无'}}
              </el-form-item>
              <el-form-item label="投诉方联系方式："
                v-if="iszb">
                {{infoData.fplaint_phone || '无'}}
              </el-form-item>
              <el-form-item label="被投诉人/单位："
                v-if="iszb">
                {{infoData.fcplaintt_media || '无'}}
              </el-form-item>
              <el-form-item label="涉嫌违法内容：">
                {{infoData.fill_content || '无'}}
              </el-form-item>
              <el-form-item label="投诉日期："
                v-if="iszb">
                {{infoData.fplaint_time || '无'}}
              </el-form-item>
              <el-form-item label="线索类型：">
                {{infoData.fill_type}}
              </el-form-item>
              <el-form-item label="交办日期：">
                {{infoData.fsend_time ? infoData.fsend_time.substring(0,10) : '' || '未交办'}}
              </el-form-item>
              <el-form-item label="附件：">
                <div v-for="(item,index) in infoData.files.jbfiles"
                  :key="item.fattach_url">
                  <a :href="item.fattach_url"
                    target="_blank">
                    <span class="download-button">{{item.fattach}}</span>
                  </a>
                </div>
              </el-form-item>
              <el-form-item label="线索类型：">
                {{infoData.fill_type}}
              </el-form-item>
              <el-form-item label="查办线索工商局：">
                {{infoData.fget_regname}}
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
        <el-col :span="12">
          <el-card :body-style="{ padding: '20px' }"
            shadow="never">
            <div slot="header">
              <span>处理情况</span>
            </div>
            <el-form label-width="120px">
              <el-form-item label="处理状态：">
                {{czzt[infoData.fstatus]}}
              </el-form-item>
              <el-form-item label="重新查证理由："
                v-if="infoData.fstatus === '41'">
                {{infoData.fcxczcontent || '无'}}
              </el-form-item>
              <el-form-item v-if="iscz"
                label="查证材料：">
                <div v-for="(item,index) in infoData.files.czfiles">
                  <a :href="item.fattach_url"
                    :key="index"
                    target="_blank">
                    <span class="download-button">{{item.fattach}}</span>
                  </a>
                </div>
              </el-form-item>
              <el-form-item v-if="iscz"
                label="查证说明：">
                {{infoData.fczcontent || '无'}}
              </el-form-item>
              <el-form-item label="反馈日期："
                v-if="!iscz">
                {{infoData.fresult_datetime ? infoData.fresult_datetime.substring(0,10) : '未反馈'}}
              </el-form-item>
              <el-form-item label="处理情况："
                v-if="!iscz">
                {{infoData.fresult || '未处理'}}
              </el-form-item>
              <el-form-item label="处理凭证："
                v-if="!iscz">
                <div v-for="(item,index) in infoData.files.clfiles"
                  :key="index">
                  <a :href="item.fattach_url"
                    target="_blank">
                    <span class="download-button">{{item.fattach}}</span>
                  </a>
                </div>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
export default {
  props: {
    data: {
      default: () => { },
      type: Object
    },
    iscz: {
      default: false,
      type: Boolean
    },
  },
  data() {
    return {
      infoData: {
        files: {
          czfiles: []
        }
      },
      from: '',
      show: true,
    }
  },
  computed: {
    ...mapState(['czzt']),
    iszb() {
      return this.$store.state.userInfo.regionid === '370300'
    }
  },
  created() {
    this._getInfo(this.data)
  },
  methods: {
    _getInfo(obj) {
      this.$store.commit('_bloading', true)
      let data = {
        fid: obj.fid
      }
      let url = ''
      let aurl = ''
      let type = Number(obj.type)
      switch (type) {
        case 1:
          url = '/Agp/Gckzdanjian/view_czzdanjian'
          aurl = '/Agp/Gckzdanjian/attach_fjanjian'
          break
        case 2:
          url = '/Agp/Gckzdanjian/view_jbzdanjian'
          aurl = '/Agp/Gckzdanjian/attach_fjanjian'
          break
        case 3:
          url = '/Agp/Gckkdyzdanjian/view_jbzdanjian'
          aurl = '/Agp/Gckzdanjian/attach_fjanjian'
          break
        case 4:
          url = '/Agp/Gkdyzdajjieguo/view_jszdanjian'
          aurl = '/Agp/Gckzdanjian/attach_fjanjian'
          break
      }
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let req = res.data.data
            req.files.czfiles.map(item => {
              if (item.fattach_url.indexOf('?') === -1) {
                item.fattach_url = item.fattach_url + '?attname=' + item.fattach
              }
              return item
            })
            req.files.clfiles.map(item => {
              if (item.fattach_url.indexOf('?') === -1) {
                item.fattach_url = item.fattach_url + '?attname=' + item.fattach
              }
              return item
            })
            req.files.jbfiles.map(item => {
              if (item.fattach_url.indexOf('?') === -1) {
                item.fattach_url = item.fattach_url + '?attname=' + item.fattach
              }
              return item
            })
            this.infoData = req
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
    }
  }
}
</script>

<style scoped>
.el-form-item {
  font-weight: bold;
  margin-bottom: 8px;
}
</style>