<template>
  <div class="c-search">
    <el-form :model="form" inline label-width="120px" >
      <el-form-item label="选择年：">
        <el-select v-model="form.year" placeholder="请选择">
          <el-option
            label="2017年"
            value="2017">
          </el-option>
          <el-option
            label="2018年"
            value="2018">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="选择时间段：">
        <el-select v-model="form.during" placeholder="请选择">
          <el-option
            label="周"
            value="周">
          </el-option>
          <el-option
            label="2018年"
            value="2018">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="选择时间：">
        <el-input v-model="form"></el-input>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          year: '2018',
          during: ''
        }
      }
    },
  }
</script>

<style scoped>

</style>