<template>
  <el-dialog center
    :visible.sync="show"
    title="附件列表"
    :before-close="() => $emit('close')">
    <el-table :data="data"
      border>
      <el-table-column label="附件名称">
        <template slot-scope="scope">
          <a :href="scope.row.fattach_url">
            <el-button type="text">{{ scope.row.fattach }}</el-button>
          </a>
        </template>
      </el-table-column>
    </el-table>
  </el-dialog>
</template>

<script>
export default {
  props: {
    data: {
      default: () => [],
      type: Array
    },
  },
  data() {
    return {
      show: true
    }
  },
}
</script>