<template>
  <div class="inquire">
    <el-form :model="searchForm"
      ref="searchForm"
      inline
      @keyup.native.enter="getList()">
      <el-form-item label="地区：">
        <el-cascader
          :clearable="true"
          :options="mediaRegion"
          :props="{...areaOptions,emitPath: false}"
          v-model="searchForm.area"
          @change="areaChange">
        </el-cascader>
        &nbsp;
        <el-checkbox v-model="searchForm.iscontain" true-label="1" false-label="0" @change="areaChange()">包含下级</el-checkbox>
      </el-form-item>
      <el-form-item label="媒体：">
        <el-select v-model="searchForm.mediaId" filterable clearable placeholder="请选择媒体" style="width:100%">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="广告名称：">
        <el-input v-model="searchForm.adName" clearable></el-input>
      </el-form-item>
      <el-form-item label="广告类别：">
        <el-cascader
          :options="adClassTree"
          change-on-select
          :props="adClassOptions"
          v-model="searchForm.adClass"
          clearable>
        </el-cascader>
      </el-form-item>
      <el-form-item label="违法类型：">
        <el-radio-group v-model="searchForm.illType">
           <el-radio-button label="-1">全部</el-radio-button>
          <el-radio-button :label="key" v-for="(value,key) in illType" :key="key">{{value.label}}</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="日期范围：">
        <el-date-picker v-model="ftime"
          style="width: 220px"
          clearable
          :picker-options="pickerOptions"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="时间范围：">
        <el-time-picker
          is-range
          style="width: 240px"
          v-model="searchForm.issueTime"
          @change="val => issueTime = val || []"
          value-format='HH:mm:ss'
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围">
        </el-time-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="getList()"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="primary"
          @click="output()"
          plain>导 出</el-button>
        <el-button type="danger"
          @click="reset()"
          icon="el-icon-refresh"
          plain>重 置</el-button>
      </el-form-item>
    </el-form>
    <div v-loading="loading" element-loading-text="加载中...">
      <el-table :data="tableData" border stripe :height="tableHeight" @sort-change="sortChange">
        <el-table-column type="index" width="50" ></el-table-column>
        <el-table-column label="广告名称" prop="fadname" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="广告类别" prop="fadclass" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="发布媒体" prop="fmedianame" show-overflow-tooltip sortable="custom"></el-table-column>
        <el-table-column label="违法类型" prop="fillegaltypecode" sortable="custom">
          <template slot-scope="scope">
            <span :class="illType[scope.row.fillegaltypecode].color">{{ illType[scope.row.fillegaltypecode].label }}</span>
          </template>
        </el-table-column>
        <el-table-column label="违法表现代码" prop="fexpressioncodes" sortable="custom">
          <template slot-scope="scope">
             <el-popover
                placement="top-start"
                title="违法表现"
                width="300"
                trigger="hover"
                :content="scope.row.fexpressions">
                <span slot="reference">{{ scope.row.fexpressioncodes }}</span>
              </el-popover>
          </template>
        </el-table-column>
        <el-table-column :label="isPaper ? '发布日期' : '发布时间'" show-overflow-tooltip sortable="custom" prop="fissuedate">
          <template slot-scope="scope">
          <span>{{ isPaper ?  scope.row.fissuedate : scope.row.fstarttime }}</span>
          </template>
        </el-table-column>
        <el-table-column label="时长（秒）" v-if="!isPaper" prop="fstarttime" sortable="custom">
          <template slot-scope="scope">
            {{  $dayjs(scope.row.fendtime).unix() - $dayjs(scope.row.fstarttime).unix() }}
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text" @click="detail(scope.row)">查 看</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="pull-right"
        @size-change="handleSizeChange"
        @current-change="getList"
        :current-page.sync="page.pageIndex"
        :page-sizes="[10, 15, 20, 50]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next"
        :total="total">
      </el-pagination>
    </div>
    <detailInfo v-if="showDetail" @close="close" :parameData="parameData" @getList="getList()"></detailInfo>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="() => {showdownload = false;durl = ''}">
    </out-file>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import detailInfo from './commponents/detailInfo'
import { VueCropper }  from 'vue-cropper'
import aliplayer from '@/components/aliplayer'
 import { getMediaList } from "@/api/Function.js"
import { issueList } from '@/api/IssueMonitoring.js'
import outFile from '@/components/outFile'
export default {
  name: 'inquire',
  components: {
    VueCropper,
    aliplayer,
    detailInfo,
    outFile
  },
  data() {
    return {
      showDetail: false,
      loading: false,
      searchForm: {
        iscontain: '0',
        area: '330000',
        mediaId: '',
        adName: '',
        adClass: [],
        illType: '-1',
        orderType: '',
        issueTime: '',
      },
      ftime: [],
      tableData: [],
      mediaList: [],
      page: {
        pageSize: 20,
        pageIndex: 1
      },
      total: 0,
      sourceForm: '',
      tableHeight: '300px',
      parameData: {},
      order: {
        'fadname': {
          'ascending': '10',
          'descending': '11',
        },
        'fmedianame': {
          'ascending': '60',
          'descending': '61',
        },
        'fadclass': {
          'ascending': '20',
          'descending': '21',
        },
        'fstarttime': {
          'ascending': '30',
          'descending': '31',
        },
        'fillegaltypecode': {
          'ascending': '40',
          'descending': '41',
        },
        'fexpressioncodes': {
          'ascending': '50',
          'descending': '51',
        },
        'fissuedate': {
          'ascending': '0',
          'descending': '1',
        },
      },
      paramData: {},

      durl: '',
      showdownload: false,
    }
  },
  computed: {
    ...mapGetters(['pickerOptions', 'routerMap', 'adClassTree', 'adClassOptions', 'illType', 'mediaType', 'mediaRegion', 'areaOptions']),
    isPaper(){
      return this.$route.name.indexOf('paper') !== -1 || this.$route.name.indexOf('journal') !== -1
    },
  },
  watch: {
    '$route.path': {
      handler(){
        this.areaChange()
        this.reset()
      },
      deep: true
    },
  },
  created() {
    this.areaChange()
    const startTime = this.$dayjs(new Date()).startOf('months').format('YYYY-MM-DD')
    const endTime = this.$dayjs(new Date()).endOf('months').format('YYYY-MM-DD')
    this.ftime = [startTime, endTime]
    this.sourceForm = JSON.stringify(this.searchForm)
    this.getList()
    this.$store.dispatch('getAdClassTree')
  },
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 134)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 134)
    }
  },
  methods: {
    getList(page = 1) {
      this.loading = true
      this.page.pageIndex = page
      let data = {
        mediaClass: this.routerMap[this.$route.name],
        ...this.searchForm,
        ...this.page
      }
      this.paramData = data
      if (data.adClass && data.adClass.length !== 0) {
        data.adClass = [data.adClass[data.adClass.length - 1]]
      }
      data.issueDate = this.ftime || []
      issueList(data).then( res => {
        this.tableData = res.data
        this.total = Number(res.count)
        this.loading = false
      }).catch(err => {
        this.$mesage.error(err.msg)
        this.loading = false
      })
    },
    areaChange(val){
      this.searchForm.mediaId = ''
      let data = {
        area: val || this.searchForm.area,
        iscontain: this.searchForm.iscontain,
        mediaClass: this.routerMap[this.$route.name]
      }
      getMediaList(data).then(res => {
        this.mediaList = res.data
      })
    },
    detail(row){
      this.showDetail = true
      const data = {
        issueId: row.issueid,
        issueDate: row.fissuedate,
        mediaClass: this.routerMap[this.$route.name],
      }
      this.parameData = data
    },
    sortChange(val) {
      let prop = val.prop
      let order = val.order
      this.searchForm.orderType = this.order[prop][order] || ''
      this.getList(this.page.pageIndex)
    },
    output(){
      this.durl = ''
      let data = {
        outtype: 'xls',
        ...this.paramData,
      }
      this.showdownload = true
      issueList(data).then(res => {
        this.durl = res.data
      }).catch(err => {
        this.showdownload = false
      })
    },
    close() {
      this.showDetail = false
    },
    handleSizeChange(size){
      this.page.pageSize = size
      this.getList(this.page.pageIndex)
    },
    reset(){
      this.searchForm = JSON.parse(this.sourceForm)
      this.getList(1)
    }
  },
}
</script>

<style lang="scss" scoped>
.inquire{
  .green{
     color: #67C23A;
  }
  .red{
    color: #F56C6C;
  }
  .yellow{
    color: #E6A23C;
  }
  & /deep/#el-drawer__title,.el-drawer__header{
    font-weight: 700;
    padding-left: 10px;
  }
  #detailInfo{
    display: flex;
    padding: 0 20px;
    & /deep/.detailInfo-left {
      padding-right: 10px;
      .video-box{
        width: 500px;
        padding: 10px 20px;
        flex-shrink: 0;
        .source-error{
          line-height: 390px;
          text-align: center;
          font-size: 34px;
          font-weight: bold;
          letter-spacing: 0.1em;
          background-color: rgba(0, 0, 0, 0.8);
          color: #eee;
        }
      }
      .imgBlock {
        height: 300px;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
    }
    & /deep/.detailInfo-right{
      padding-right: 16px;
      width: 100%;
      position: relative;
      flex: 1;
    }
  }
}


</style>