<template>
  <el-card shadow="hover" class="people-item">
    <div class="avatar-warp">
      <img :src="Number(data.fisadmin)?'./static/img/admin.png':'./static/img/user.png'" alt="默认头像" width="60px" height="60px">
    </div>
    <div class="info">
      <div style="float: right;">
        <el-tag type="danger" size="mini" v-if="data.fstate == 0">冻结</el-tag>
      </div>
      <div class="orgname">用户名: {{data.user_fname}}</div>
      <div class="orgname">账号: {{data.user_code}}</div>
      <div class="orgname">手机号: {{data.fmobile}}</div>
      <div class="orgname">所属地区: {{data.tregion_fname}}</div>
    </div>
  </el-card>
</template>

<script>
  export default {
    props: ['data'],
  }
</script>

<style scoped lang="scss">
.people-item{
  cursor: pointer;
  height: 120px;
  margin-bottom: 20px;
  .avatar-warp{
    width: 60px;
    float: left;
    text-align: center;
    margin-top: 10px;
  }
  .info{
    padding-left: 80px;
    .orgname{
      line-height: 20px;
      font-size: 14px;
      color: #606266;
    }
  }
}
</style>