<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>报纸/期刊采集</title>
  <link href="http://publichz.oss-cn-hangzhou.aliyuncs.com/element/theme/index.css" rel="stylesheet">
  <style>
    html {
      width: 100%;
      height: 100%;
    }

    [v-cloak] {
      display: none;
    }

    .wrap {
      padding: 20px;
    }

    .wrap .title {
      text-align: center;
      font-size: 16px;
      color: #303030;
      line-height: 60px;
    }

    .wrap .btn {
      text-align: center;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div class="wrap">
      <div class="title">报纸/期刊采集</div>
      <div>
        <el-form :model="form" ref="form" :rules="rules" label-width="90px">
          <el-form-item label="媒体：" prop="num">
            <el-input v-model="form.mediaName"></el-input>
          </el-form-item>
          <el-form-item label="日期：" prop="num">
            <el-date-picker style="width: 100%" v-model="form.issueDate" value-format="yyyy-MM-dd" type="date" placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="编号：" prop="num">
            <el-input v-model="form.pageNum"></el-input>
          </el-form-item>
          <el-form-item label="版面类别：" prop="type">
            <el-input v-model="form.pageType"></el-input>
          </el-form-item>
          <el-form-item label="照片：" prop="pageUrl">
            <el-upload :action="upOptions.up_server" ref="upload" :data="uploadOptions" :before-upload="beforeUpload"
              auto-upload :on-success="uploadSuccess" :on-progress="uploadProgress" :show-file-list="false"
              :on-error="uploadError">
              <el-button type="primary" :loading="uploading">点击上传</el-button>
            </el-upload>
            <div style="margin-top: 10px;" v-if="form.pageUrl">
              <img :src="form.pageUrl" width="100%">
            </div>
          </el-form-item>
        </el-form>
      </div>
      <div class="btn">
        <el-button type="primary" @click="submitForm()" style="width: 100%" :loading="uploading">确 定</el-button>
      </div>
    </div>
  </div>
  <script src="http://publichz.oss-cn-hangzhou.aliyuncs.com/element/fly.js/fly.min.js"></script>
  <script src="http://publichz.oss-cn-hangzhou.aliyuncs.com/element/vue2.6.10/vue.min.js"></script>
  <script src="http://publichz.oss-cn-hangzhou.aliyuncs.com/element/2.11.1/index.js"></script>
  <script type="text/javascript">
    function getQueryString(name) {
      let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      let r = window.location.search.substr(1).match(reg);
      if (r != null) {
        return unescape(r[2]);
      };
      return null;
    }
    const vm = new Vue({
      el: '#app',
      data() {
        let query = JSON.parse(getQueryString('query'))
        return {
          query,
          form: {
            mediaName: '',
            pageNum: '',
            pageType: '',
            pageUrl: '',
            issueDate: '',
          },
          rules: {
            mediaName: [{ required: true, message: '请输入媒体', trigger: 'blur' }],
            pageNum: [{ required: true, message: '请输入编号', trigger: 'blur' }],
            pageType: [{ required: true, message: '请入版面类别', trigger: 'blur' }],
            pageUrl: [{ validator: this.validateImg, trigger: 'blur' }]
          },

          uploadOptions: {},
          upOptions: {
            up_server: '',
          },
          bucket_url: '',
          uploading: false,
          uploadList: [],
        }
      },
      created() {
        this.getFileUp()
        this.setQuery()
      },
      methods: {
        setQuery(){
          const map = {
            mediaName: 'fmedianame',
            pageNum: 'fpage',
            pageType: 'fpagetype',
            pageUrl: 'furl',
            issueDate: 'fissue_date',
          }
          Object.keys(map).forEach(i => {
            this.form[i] = this.query[map[i]]
          })
        },
        getFileUp() {
          fly.post('http://zj.debug.hz-data.com/Api/Function/getFileUp').then(({data}) => {
            this.upOptions = data.data
            this.uploadOptions = data.data.val
            this.bucket_url = data.data.bucket_url
          })
        },
        beforeUpload(file) {
          const extArr = file.name.split('.')
          const ext = extArr.length > 1 ? extArr.pop() : ''
          this.uploadOptions.key = ext ? `zjSample/${file.uid}.${ext}` : file.uid
        },
        uploadSuccess(response, file, fileList) {
          this.uploading = false
          // this.$refs.upload.uploadFiles = [result]
          // this.$emit('uploadSuccess', result)
          this.form.pageUrl = `${this.bucket_url}${file.response.key}?attname=${file.name}`
        },
        uploadProgress() {
          this.uploading = true
          this.$emit('uploadProgress')
        },
        uploadError() {
          this.uploading = false
          this.$emit('uploadError')
        },
        submitForm() {
          this.$refs.form.validate((valid) => {
            if (valid) {
              const data = {
                fid: this.query.fid,
                mediaId: this.query.fmedia_id,
                issueDate: this.query.fissue_date,
                ...this.form,
              }
              fly.post('http://zj.debug.hz-data.com/Jiance/PaperInput/addPaperSource',data).then(({data}) => {
                if(data.subtype == 2){
                  this.$confirm(data.msg, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                  }).then(() => {
                    fly.post('http://zj.debug.hz-data.com/Jiance/PaperInput/addPaperSource',{...data,subType: 2}).then(res => {
                      this.$notify({
                        title: '消息',
                        type: 'success',
                        message: data.msg
                      })
                    })
                  }).catch(() => {
                  })
                } else {
                  this.$notify({
                    title: '消息',
                    type: 'success',
                    message: data.msg
                  })
                  this.url = this.form.pageUrl
                }
              })
            } else {
              return false
            }
          })
        },
        validateImg(rule, value, callback) {
          if (value === '') {
            callback(new Error('请上传图片'))
          } else {
            callback();
          }
        }
      }
    })
  </script>
</body>

</html>