<template>
  <div class="GDialog">
    <el-dialog
      :title="title"
      :visible.sync="show"
      :width="width"
      :before-close="bclose"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      center>
      <slot />
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="$emit('yes')" >{{yes}}</el-button>
        <el-button @click="$emit('no')" >{{no}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  export default {
    props:{
      title: String,
      bclose: Function,
      width: String,
      yes: {
        default: '提 交',
        type: String
      },
      no: {
        default: '取 消',
        type: String
      }
    },
    data() {
      return {
        show: true
      }
    },
  }
</script>

<style scoped>

</style>