<template>
  <div class="ill_annex">
    <el-upload
      v-if="showUpload"
      :action="upOptions.up_server"
      :data="uploadOptions"
      :before-upload="_setKey"
      auto-upload
      :on-success="_uploadSuccess"
      :on-progress="_uploadProgress"
      :show-file-list="false"
      :on-error="_uploadError">
      <el-button  type="primary" @click="_getToken" :loading="uploading">点击上传</el-button>
    </el-upload>
    <br v-if="showUpload" />
    <div id="list_box" v-if="attachInfo.length || clueList.length">
      <h4 class="h4" v-if="attachInfo.length && !hidetitle">证据材料</h4>
      <el-table :data="attachInfo" border v-if="attachInfo.length">
        <el-table-column
          prop="fattachname"
          label="名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          prop="fflowname"
          label="流程环节">
        </el-table-column>
        <el-table-column
          width="130px"
          label="操作">
          <template slot-scope="scope">
            <a
              :href="(scope.row.fattachurl.length<15)?(upOptions.bucket_url+scope.row.fattachurl+'?attname='+scope.row.fattachname) : scope.row.fattachurl"
              target="_blank">
              <el-button type="text"  icon="el-icon-download">下载</el-button>
            </a>
            <el-button type="text" v-if="scope.row.delstate === '20' || !scope.row.fid"  icon="el-icon-delete" @click="_deleteatt(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <h4 class="h4" v-if="clueList.length && !hidetitle">素材列表</h4>
      <el-table :data="clueList" border v-if="clueList.length" height="380px">
        <el-table-column type="expand">
          <template slot-scope="props">
            <el-form label-position="left" class="demo-table-expand">
              <el-form-item label="广告名称:">
                <span>{{ props.row.fadname || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="广告类别:">
                <span>{{ props.row.adclass_fullname || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="发布媒体:">
                <span>{{ props.row.fmedianame || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="发布日期:">
                <span>{{ props.row.fissuedate.substring(0,10) || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="时长:" v-if="annexDetails.fmedia_class !== 3">
                <span>{{ props.row.fadlen || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="版面:" v-if="annexDetails.fmedia_class === 3">
                <span>{{ props.row.fadlen || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="认定依据:">
                <span>{{ props.row.fconfirmations || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="违法表现:">
                <span>{{ props.row.fexpressions || '暂无' }}</span>
              </el-form-item>
              <el-form-item label="违法内容:">
                <span>{{ props.row.fillegalcontent || '暂无' }}</span>
              </el-form-item>
            </el-form>
          </template>
        </el-table-column>
        <el-table-column
          prop="fadname"
          label="名称">
        </el-table-column>
        <el-table-column
          width="80px"
          label="操作">
          <template slot-scope="scope">
              <el-button type="text"  @click="_showDetails(scope.row)">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <clue-details
      :annexDetails="annexDetails"
      v-if="adDetailDialog"
      @close="_closeDetails">
    </clue-details>
  </div>
</template>
<script>
import clueDetails from './clueDetails'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    clueDetails
  },
  props:['attachInfo','clueList','uploading','showUpload','toServer','fillegaladflowid','fregisterid','hidetitle'],
  data(){
    return {
      uploadOptions: {},
      upOptions: {
        up_server: ""
      },
      adDetailDialog: false,
      annexDetails: {
        data:{}
      },
      changeAttachInfo:[],
      tagStyle: {
        margin: '0px 10px 10px 0px',
        cursor: 'pointer'
      },
    }
  },
  created(){
    this._getToken()
  },
  methods:{
    /**
     * 获取上传七牛服务器和token
     */
    _getToken(){
      axios.post(this.$_ + '/Agp/Core/get_file_up')
      .then(res => {
        if(res.data.code === 0){
          this.upOptions = res.data.data
          this.uploadOptions = res.data.data.val
          this.bucket_url = res.data.data.bucket_url
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _setKey(file){
      this.uploadOptions.key = file.uid
    },
    _uploadSuccess(response, file, fileList){
      this.$emit('uploadSuccess',file)
      if(this.toServer){
        let obj = {}
        obj.fattachname = file.name
        obj.fattachurl = this.bucket_url + file.response.key
        this.changeAttachInfo.push(obj)
        let data = {}
        data.fregisterid = this.fregisterid
        data.fillegaladflowid = this.fillegaladflowid
        data.attachinfo = this.changeAttachInfo
        data.fflowname = '线索初核'
        axios.post(this.$_ + '/Agp/Core/clue_upload_file',qs.stringify(data))
        .then(res => {
          if(res.data.code === 0){
          }
        })
      }
    },
    _uploadError(){
      this.$emit('uploadError')
    },
    _uploadProgress(){
      this.$emit('uploadProgress')
    },
    _showDetails(obj){
      this.adDetailDialog = true
      this.annexDetails = obj
      this.$emit('look',obj)
    },
    _closeDetails(){
      this.adDetailDialog = false
    },
    _deleteatt(obj){
      this.$confirm(`确认删除 ${obj.fattachname}?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        if(obj.fid){
          this._delfunc(obj)
        }else{
          this.$emit('deletesuccess',obj)
        }
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消删除'
        })      
      })
    },
    _delfunc(obj){
      let url = '/Agp/Ffjdengji/delete_files'
      let data = {
        fid: obj.fid,
        fregisterid: this.fregisterid
      }
      axios.post(this.$_ + url, qs.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.$message({
            type: 'success',
            message: res.data.msg
          })
          this.$emit('deletesuccess',obj)
        } else {
          this.$message({
            type: 'error',
            message: res.data.msg
          })
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.ill_annex{
  .h4{
    margin: 0;
  }
  .el-table{
    .el-form-item{
      margin: 0;
    }
  }
  #list_box{
    border: 1px solid #eee;
    padding: 12px;
    .demo-table-expand label {
      width: 90px;
      color: #99a9bf;
    }
  }
}
.under-line{
  border-bottom: 1px solid #ebeef5;
}
</style>
