<template>
  <div class="registration-form">
    <el-dialog title="线索登记"
      :visible.sync="show"
      :center="true"
      :lock-scroll="true"
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :show-close="true"
      :before-close="_close">
      <approval-table :registrationForm="registrationForm"
        :innerVisible="innerVisible"
        @closePreview="_closePreview">
      </approval-table>
      <el-row :gutter="20">
        <el-col :span="14"
          style="max-height:600px;overflow: scroll;">
          <el-form :model="registrationForm"
            label-width="90px"
            ref="registrationForm">
            <fieldset>
              <br>
              <el-col :span="12">
                <el-form-item label="标题">
                  <el-input v-model="registrationForm.fname"
                    placeholder="（必填）"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="登记时间：">
                  <el-date-picker :editable="false"
                    style="width:100%"
                    v-model="registrationForm.fregistertime"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
                  </el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="文号：">
                  <el-input v-model="registrationForm.fnumber"
                    placeholder="（必填）"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="来源分类：">
                  <el-select v-model="registrationForm.ffromtype"
                    placeholder="请选择"
                    style="width:100%">
                    <el-option v-for="item in clueFrom"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </fieldset>
            <fieldset v-if="registrationForm.ffromtype === '20'">
              <legend>线索提供人信息</legend>
              <div v-if="registrationForm.ffromtype === '20'">
                <h5>投诉举报人 / 单位信息</h5>
                <el-row>
                  <el-form v-model="registrationForm"
                    label-width="90px">
                    <el-form-item label="举报人：">
                      <el-radio-group v-model="registrationForm.fpersontype">
                        <el-radio label="10">个人</el-radio>
                        <el-radio label="20">单位</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-col :span="8">
                      <el-form-item label="个人姓名："
                        v-if="registrationForm.fpersontype === '10'">
                        <el-input v-model="registrationForm.fpersonname"></el-input>
                      </el-form-item>
                      <el-form-item label="单位法人："
                        v-if="registrationForm.fpersontype === '20'">
                        <el-input v-model="registrationForm.fpersonname"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="证件号码："
                        v-if="registrationForm.fpersontype === '10'">
                        <el-input v-model="registrationForm.fpersoncard"></el-input>
                      </el-form-item>
                      <el-form-item label="所在单位："
                        v-if="registrationForm.fpersontype === '20'">
                        <el-input v-model="registrationForm.fpersoncompany"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="联系电话：">
                        <el-input v-model="registrationForm.fpersonmobile"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="邮政编码：">
                        <el-input v-model="registrationForm.fpersonpostcode"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="联系地址：">
                        <el-input v-model="registrationForm.fpersonadress"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="电子邮箱：">
                        <el-input v-model="registrationForm.fpersonmail"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-form>
                </el-row>
              </div>
              <div v-if="registrationForm.ffromtype === '30' || registrationForm.ffromtype === '40'">
                <h5>移送、交办机关</h5>
                <el-row>
                  <el-form v-model="registrationForm"
                    label-width="90px">
                    <el-col :span="8">
                      <el-form-item label="机关名称：">
                        <el-input v-model="registrationForm.fpersoncompany"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="邮政编码：">
                        <el-input v-model="registrationForm.fpersonpostcode"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="联系人：">
                        <el-input v-model="registrationForm.fpersonname"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="联系电话：">
                        <el-input v-model="registrationForm.fpersonmobile"></el-input>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="联系地址：">
                        <el-input v-model="registrationForm.fpersonadress"></el-input>
                      </el-form-item>
                    </el-col>
                  </el-form>
                </el-row>
              </div>
            </fieldset>
            <fieldset>
              <legend v-if="registrationForm.ffromtype === '20'">线索基本信息</legend>
              <legend v-else>线索摘要登记</legend>
              <el-col :span="24">
                <el-form-item label="线索名称：">
                  <el-input type="text"
                    v-model="registrationForm.fcluename"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="被举报人：">
                  <el-input type="text"
                    v-model="registrationForm.freportedpeople"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="违法地址：">
                  <el-input type="text"
                    v-model="registrationForm.filladdress"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="违法行为类别："
                  label-width="110px">
                  <el-select v-model="registrationForm.fillbehaviortype">
                    <el-option v-for="item in fillbehaviortypelist"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="诉求事项：">
                  <el-input type="textarea"
                    :rows="5"
                    v-model="registrationForm.fappeal"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="摘要内容：">
                  <el-input type="textarea"
                    :rows="5"
                    v-model="registrationForm.fregistercontents"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="交办人：">
                  <el-select placeholder="请选择交办人（必选）"
                    v-model="registrationForm.fwaitpersonid"
                    style="width:100%">
                    <el-option v-for="item in orgPeopleList"
                      :key="item.fid"
                      :label="item.fname"
                      :value="item.fid"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </fieldset>
          </el-form>
          <h3>
            <el-button class="pull-right"
              type="text"
              @click="innerVisible = true">预览表格</el-button>
          </h3>
        </el-col>
        <el-col :span="10"
          style="max-height:600px;overflow: scroll;">
          <h4>证据材料</h4>
          <ill-annex :showUpload="true"
            :attachInfo="attachInfo"
            :clueList="clueList"
            :uploading="uploading"
            :fregisterid='fid'
            @look="_view"
            @showDetails="_getAdDetails"
            @uploadSuccess="_uploadSuccess"
            @uploadProgress="_uploadProgress"
            @uploadError="_uploadError"
            @deletesuccess="_deleteSuccess">
          </ill-annex>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_yesSubmit(2)">提 交</el-button>
        <el-button @click="_yesSubmit(1)">保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import approvalTable from './approvalTbale'
import illAnnex from './illAnnex'
import flowTable from "../../clue/common/flowTable";
import { _getClueList2 } from '../../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    approvalTable,
    illAnnex,
    flowTable
  },
  props: ['registrationdata', 'cluelist', 'isregistration', 'mclass', 'details'],
  data() {
    return {
      flowData: [],
      registrationForm: {
        fid: '',
        fname: '',
        fillegaladid: [],
        fpersonname: '',
        fpersoncard: '',
        fpersoncompany: '',
        fpersonmobile: '',
        fpersonadress: '',
        fpersonmail: '',
        filladdress: '',
        fpersonpostcode: '',
        fnumber: '',
        ffromtype: '10',
        fregistercontents: '',
        fpersontype: '10',
        fregistertime: this.$dayjs().format('YYYY-MM-DD'),
        fwaitpersonid: '',
        fillbehaviortype: '30',
        fcluename: '',
        freportedpeople: '',
        fappeal: '',
      },
      flowid: '',
      fid: '',
      clueList: [],
      innerVisible: false,
      adDetail: false,
      annexDetails: {
        data: {}
      },
      activeTab: 'adInfo',
      attachInfo: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      show: true,
      orgPeopleList: [],
      clueFrom: [],
      dr_name: '',
      dr_dlid: '',
      fillbehaviortypelist: [
        {
          label: '违法',
          value: '30'
        }
      ]
    }
  },
  created() {
    if (this.cluelist) {
      if (this.cluelist.length) {
        this.clueFrom = this.$store.state.clueFrom.slice(0, 1)
      } else {
        this.clueFrom = this.$store.state.clueFrom.slice(1)
        this.registrationForm.ffromtype = this.clueFrom[0]['value']
      }
    } else {
      this.clueFrom = this.$store.state.clueFrom
    }
    if (this.isregistration && this.cluelist.length) {
      _getClueList2(this, this.cluelist, this.mclass)
      this.registrationForm.fillegaladid = this.cluelist
    }
    if (this.isregistration) {
      this._get_dl_list()
    }
    setTimeout(() => {
      this._setName()
    })
  },
  methods: {
    _deleteSuccess(obj) {
      this.attachInfo = this.attachInfo.filter(item => {
        return item.fattachurl !== obj.fattachurl
      })
      this.changeAttachInfo = this.changeAttachInfo.filter(item => {
        return item.fattachurl !== obj.fattachurl
      })
      this.$message.success('删除成功')
    },
    /**
     * 提交登记表
     */
    _submit(type) {
      if (!this.registrationForm.fname) {
        this.$message.error('请填写标题！')
        return false
      }
      if (!this.registrationForm.fnumber) {
        this.$message.error('请填写文号！')
        return false
      }
      let url = this.isregistration ? '/Agp/Ffjdengji/create_register' : '/Agp/Ffjdengji/update_register'
      this.registrationForm.submit = type
      this.registrationForm.attachinfo = this.changeAttachInfo
      if (this.registrationForm.ffromtype === '30' || this.registrationForm.ffromtype === '40') {
        this.registrationForm.fpersontype = '30'
      } else if (this.registrationForm.ffromtype === '10') {
        this.registrationForm.fpersontype = '0'
      }
      axios.post(this.$_ + url, qs.stringify(this.registrationForm))
        .then(res => {
          if (res.data.code === 0) {
            this.$message({
              message: '操作成功',
              type: 'success'
            })
          }
        })
        .catch(() => {
          this.$message.error('网络错误')
        })
      this.$emit('close')
    },
    /**
     * 关闭 dialog
     */
    _close() {
      this.$emit('close')
    },
    _closePreview() {
      this.innerVisible = false
    },
    /**
     * 获取附件详情
     * @param { id } 附件id
     */
    _getAdDetails(obj) {
      axios.post(this.$_ + '/Agp/ClueRegister/get_tillegalad_details', qs.stringify({ 'fillegaladid': obj.fillegaladid }))
        .then(res => {
          if (res.data.code === 0) {
            this.adDetail = true
            this.annexDetails = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid,
        attachinfo: Array.of(obj),
        flowid: this.flowid
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '上传成功',
              type: 'success'
            })
            this._getrefiles(this.fid, this.flowid, '10', 'attachInfo')
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      obj.fflowname = '线索登记'
      if (this.isregistration) {
        this.attachInfo.unshift(obj)
        this.changeAttachInfo.push(obj)
      } else {
        this._uploadFile(obj)
      }
      this.uploading = false
      this.$message({
        message: '上传成功',
        type: 'success'
      })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('上传失败')
      this.uploading = false
    },
    _flowData(fid) {
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowlist', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data
          }
        })
    },
    _getrefiles(fid, flowid) {
      let data = { fid, flowid }
      data.ts = '10'
      axios.post(this.$_ + '/Agp/Ffjdengji/get_flowfile', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.attachInfo = res.data.data.files1
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('网络错误')
        })
    },
    _getRegDetails(id) {
      axios.post(this.$_ + '/Agp/Ffjdengji/get_registerview', qs.stringify({ fid: id }))
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data.data.ffromtype === '10') {
              this.clueFrom = this.$store.state.clueFrom.slice(0, 1)
            } else {
              this.clueFrom = this.$store.state.clueFrom.slice(1)
            }
            this.flowid = res.data.data.data.flowid
            this.fid = res.data.data.data.fid
            this._getrefiles(res.data.data.data.fid, res.data.data.data.flowid)
            for (let value in this.registrationForm) {
              this.registrationForm[value] = res.data.data.data[value]
            }
            if (res.data.data.data.ffromtype === '10') {
              let fillegaladid = []
              res.data.data.data.fillegaladid.forEach(item => {
                fillegaladid.push(item.fid)
              })
              let mclass = res.data.data.data.fillegaladid[0].fmedia_class
              _getClueList2(this, fillegaladid, mclass)
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _get_dl_list() {
      let data = {
        ws_type_ids: '9',
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let data = res.data.data[0]
            this.registrationForm.fnumber = data.wsh
            this.registrationForm.fname = data.dl_doctitle
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _yesSubmit(type) {
      if (this.isregistration) {
        let data = {
          dr_name: this.dr_name,
          dr_dlid: this.dr_dlid
        }
        axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this._submit(type)
            } else {
              this.$func._error(res.data)
            }
          })
      } else {
        if (!this.registrationForm.fwaitpersonid && type !== 1) {
          this.$message.error('请先选择交办人')
          return false
        }
        this._submit(type)
      }
    },
    _setName() {
      let data = {
        fstate: 0
      }
      axios.post(this.$_ + '/Agp/Ffjdengji/get_czjurisdiction', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.orgPeopleList = res.data.data.list
            if (res.data.data.list.length) {
              this.$set(this.registrationForm, 'fwaitpersonid', res.data.data.list[0].fid)
            }
          }
        })
    },
    _view(obj) {
      let data = {
        url: '/Agp/Gsbchuli/anjian_look',
        name: 'fid',
        value: obj.fid
      }
      this.$func.isWatch(data)
    },
  }
}
</script>
