<template>
  <div class="view-issue">
    <el-dialog title="违法条次"
      center
      :before-close="_colse"
      :visible.sync="show"
      width="90%">
      <el-table :data="tableData"
        border
        v-loading="loading">
        <el-table-column label="序号"
          type="index"
          width="50">
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称">
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体">
        </el-table-column>
        <el-table-column v-if="data.mclass!=='3'"
          prop="fissue_date"
          width="120px"
          label="播出日期">
        </el-table-column>
        <el-table-column v-if="data.mclass!=='3'"
          prop="fstarttime"
          width="80px"
          label="开始时间">
        </el-table-column>
        <el-table-column v-if="data.mclass!=='3'"
          prop="fendtime"
          width="80px"
          label="结束时间">
        </el-table-column>
        <el-table-column label="时长/版面"
          width="120px">
          <template slot-scope="scope">
            {{ scope.row.fmedia_class === '3' ? scope.row.fpage : scope.row.difftime + '秒' }}
          </template>
        </el-table-column>
        <el-table-column width="200"
          label="违法表现代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="10"
        :current-page="Number(page)"
        @current-change="_getList">
      </el-pagination>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    data: {
      default: {},
      type: Object
    },
    url: {
      default: '/Agp/Ffjdengji/tiaoci_list',
      type: String
    }
  },
  data() {
    return {
      show: true,
      countAll: "0",
      tableData: [],
      page: 1,
      loading: true
    }
  },
  created() {
    this._getList()
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.page = page || 1
      let params = { ...this.data, page: this.page }
      axios.post(this.$_ + this.url, qs.stringify(params))
        .then(res => {
          if (res.data.code === 0) {
            this.countAll = res.data.count
            this.tableData = res.data.data.map(item => {
              item.fissue_date = item.fstarttime ? item.fstarttime.substring(0, 10) : ''
              item.fstarttime = item.fstarttime ? item.fstarttime.substring(10) : ''
              item.fendtime = item.fendtime ? item.fendtime.substring(10) : ''
              return item
            })
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.loading = false
          this.$func._error()
        })
    },
    _colse() {
      this.$emit('close')
    },
  }
}
</script>