<template>
  <div class="level-management">
    <!-- 搜索条件 -->
    <el-form ref="form"
      v-if="false"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒体名称：">
            <el-input v-model="form.medianame"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            icon="el-icon-search">搜 索</el-button>
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="20">
      <el-col :span="9">
        <el-card v-loading="orgLoading">
          <h4>组织机构</h4>
          <el-tree :props="treeProps"
            :data="Tree"
            node-key="fid"
            :default-expanded-keys="defaultExpanded"
            :expand-on-click-node="false"
            @node-click="getInfo">
            <span class="custom-tree-node"
              slot-scope="{ node, data }">
              <span :title="node.label">
                <i class="iconfont"
                  :class="data.fkind === '1' ? 'icon-jigou' : 'icon-bumenguanli'"
                  style="float:left"></i>
                <el-tooltip class="item"
                  effect="dark"
                  :content="node.label"
                  placement="top">
                  <span class="org-name">{{ node.label }}</span>
                </el-tooltip>
              </span>
              <span>
                <el-button type="text"
                  icon="el-icon-circle-plus-outline"
                  @click="() => setData(data,0)">
                </el-button>
                <el-button type="text"
                  icon="el-icon-edit-outline"
                  @click="() => setData(data,1)">
                </el-button>
                <el-button v-if="data.fid !== rootfid"
                  type="text"
                  icon="el-icon-delete"
                  @click="() => removeOrg(node, data)">
                </el-button>
              </span>
            </span>
          </el-tree>
        </el-card>
      </el-col>
      <el-col :span="15">
        <people-list ref="peoplelist"
          :nowNode="nowNode">
        </people-list>
      </el-col>
    </el-row>
    <el-dialog center
      :title="isEdit ? '编辑部门' :'添加部门'"
      :visible.sync="show"
      width="900px"
      :before-close="colseAdd"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-row :gutter="20">
        <el-col :span="8" >
          <el-card :style="menuCardStyle">
            <h4>部门信息</h4>
            <el-form v-model="addData"
              label-width="40px">
              <el-form-item label="名称">
                <el-input v-model="addData.fname"></el-input>
              </el-form-item>
              <el-form-item label="说明">
                <el-input type="textarea"
                  v-model="addData.fdescribe"></el-input>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card :style="menuCardStyle">
            <h4>菜单权限</h4>
            <el-tree ref="menuTree"
              :data="menuList"
              show-checkbox
              node-key="menu_id"
              :props="menuProps">
            </el-tree>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card :style="menuCardStyle">
            <h4>自媒体权限
              <el-button type="text"
                @click="checkAll">{{this.allCheck ? '全不选' : '全选'}}</el-button>
              <el-button type="text"
                @click="fanxuan">反选</el-button>
            </h4>
            <el-checkbox-group v-model="mediaCheckList">
              <el-col :span="24"
                v-for="item in mediaList"
                :key="item.fid">
                <el-checkbox :label="item.fid">{{item.fmedianame}}</el-checkbox>
              </el-col>
            </el-checkbox-group>
          </el-card>
        </el-col>
      </el-row>
      <span slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="addOrg"
          :loading="$store.state.bloading">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import {getJigoulist, deleteJigou, editJigou, createJigou, getJigoumenulist, getJigoumedialist} from '@/api/Fjigou'
import peopleList from './components/peopleList'
export default {
  components: {
    peopleList
  },
  data() {
    return {
      form: {},
      loading: false,
      orgLoading: false,
      Tree: [],
      show: false,
      addData: {
        fname: '',
        fdescribe: '',
      },
      nowNode: {},
      treeProps: {
        label: 'fname',
        children: 'list',
      },
      rootfid: '',
      isEdit: 0,
      isEditUser: 0,
      tableData: [],
      menuForm: {},
      menuList: [],
      mediaList: [],
      allMediaList: [],
      regList: [],
      menuProps: {
        label: 'menu_name',
        children: 'list',
      },
      mediaProps: {
        label: 'fmedianame',
        children: 'list',
      },
      menuCardStyle: {
        height: '300px',
        overflow: 'auto'
      },
      allCheck: false,
      mediaCheckList: [],
      clueCheckList: [],
      defaultExpanded: [],
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.orgLoading = true
      getJigoulist().then(res => {
        this.Tree = res.data.list
        this.rootfid = res.data.list[0].fid
        this.orgLoading = false
        this.defaultExpanded = Array.of(res.data.list[0].fid)
      })
    },
    setData(data, isEdit) {
      let id = ''
      if (data.fid === this.Tree[0].fid) {
        id = data.fid
      } else {
        id = isEdit ? data.fpid : data.fid
      }
      this.show = true
      this.nowNode = data
      this.isEdit = isEdit
      if (isEdit) {
        let { fid, fpid, fname, fdescribe } = data
        this.addData = { fid, fpid, fname, fdescribe }
      }
      setTimeout(() => {
        this.$refs.peoplelist.getPeopleList(data)
        this.getMenuMediaList(id)
      })
      event.stopPropagation()
    },
    removeOrg(node, data) {
      if (data.fid === this.rootfid) {
        this.$notify.error('该节点无法删除！')
        return false
      }
      this.$confirm('确认删除该部门及部门下的所有人员?', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteJigou({ fid: data.fid }).then(res => {
            const parent = node.parent
            const children = parent.data.list || parent.data
            const index = children.findIndex(d => d.fid === data.fid)
            children.splice(index, 1)
            this.$notify.success(res.msg)
        })
      })
      .catch(() => {
        this.$notify({
          type: 'info',
          message: '取消删除'
        })
      })
      event.stopPropagation()
    },
    addOrg() {
      let { fname, fdescribe } = this.addData
      let data = {}
      if (!fname) {
        this.$notify.error('部门名称和部门编码不能为空！')
        return false
      }
      if (this.isEdit) {
        data = this.addData
      } else {
        data = { fpid: this.nowNode.fid, fname: fname, fdescribe: fdescribe }
      }
      let menu = this.$refs.menuTree.getCheckedKeys()
      data = {
        ...data,
        menu: Array.from(new Set(menu)),
        media_list: Array.from(new Set(this.mediaCheckList))
      }
      const result = this.isEdit ? editJigou(data) : createJigou(data)
      result.then(res => {
        if (this.isEdit) {
          this.getList()
          this.colseAdd()
          this.$notify.success(res.msg)
        } else {
          const _newChild = {
            ...data,
            list: [],
            fid: res.data
          }
          if (!this.nowNode.list) {
            this.$set(this.nowNode, 'list', [])
          }
          this.nowNode.list.push(_newChild)
          this.colseAdd()
          this.$notify.success(res.msg)
        }
      })
    },
    getInfo(val) {
      this.nowNode = val
      this.$refs.peoplelist.getPeopleList(val)
    },
    getMenuKey(menuTree, menuArr) {
      let parentArr = []
      menuTree.forEach(item => {
        if(item.list && item.list.length){
          item.list.forEach(item2 => {
            if (!menuArr.includes(item2.menu_id)) {
              parentArr.push(item.menu_id)
            }
          })
        }
      })
      let nparentArr = Array.from(new Set(parentArr))
      let a = menuArr.filter(function (v) { return nparentArr.indexOf(v) == -1 })
      return a
    },
    getMenuMediaList(val) {
      let data = { fpid: val }
      getJigoumenulist(data).then(res => {
        this.menuList = res.data.list ? res.data.list : []
        if (this.isEdit && (this.nowNode.menu_jurisdiction !== 'null')) {
          let menuKey = this.getMenuKey(this.menuList, JSON.parse(this.nowNode.menu_jurisdiction))
          this.$refs.menuTree.setCheckedKeys(menuKey)
        }
      })
      getJigoumedialist(data).then(res => {
        this.mediaList = res.data || []
        if (res.data) {
          res.data.forEach(item => {
            this.allMediaList.push(item.fid)
          })
        }
        if (this.isEdit && (this.nowNode.media_jurisdiction !== 'null')) {
          this.mediaCheckList = JSON.parse(this.nowNode.media_jurisdiction)
        }
        if (this.isEdit && (this.nowNode.tregister_jurisdiction !== 'null')) {
          this.clueCheckList = JSON.parse(this.nowNode.tregister_jurisdiction)
        }
      })
    },
    colseAdd() {
      this.show = false
      this.isEdit = 0
      this.addData = {}
      this.mediaList = []
      this.menuList = []
      this.regList = []
      this.$refs.menuTree.setCheckedKeys([])
      this.mediaCheckList = []
      this.clueCheckList = []
    },
    checkAll() {
      this.allCheck = !this.allCheck
      this.mediaCheckList = this.allCheck ? this.allMediaList : []
    },
    fanxuan() {
      let a = this.mediaCheckList
      let b = this.allMediaList
      let aSet = new Set(this.mediaCheckList)
      let bSet = new Set(this.allMediaList)
      this.mediaCheckList = Array.from(new Set(a.concat(b).filter(v => !aSet.has(v) || !bSet.has(v))))
    }
  }
}
</script>
<style>
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.org-name {
  display: inline-block;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
}
</style>