<template>
  <div>
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      inline
      label-width="90px">
      <el-form-item label="媒体类型：">
        <el-select v-model="searchForm.mclass" style="width: 110px"  @change="getMediaList">
          <el-option label="全部" value=""></el-option>
          <el-option v-for="(value,key) in mediaType2"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体名称：">
        <el-select v-model="searchForm.medianame" filterable clearable placeholder="请选择媒体" style="width:100%">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fmedianame">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="getList(1)"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="success"
          @click="add()"
          icon="el-icon-plus">添 加</el-button>
      </el-form-item>
    </el-form>

    <!-- 列表 -->
    <el-table border
      size="small"
      v-loading="loading"
      :height="tableHeight"
      ref="multipleTable"
      :data="tableData">
      <el-table-column type="index" width="55"></el-table-column>
      <el-table-column prop="fmedianame" label="媒体名称" show-overflow-tooltip/>
      <el-table-column prop="mclass" label="媒体类型" width='100px'>
        <template slot-scope="scope">
          <span v-if='scope.row.mclass'>{{ mediaType2[scope.row.mclass].label }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="other" label="过滤规则" show-overflow-tooltip/>
      <el-table-column prop="fcreatetime" label="添加日期" width='160px'/>
      <el-table-column width="160px"
        fixed="right"
        prop="fusername"
        label="操作">
          <template slot-scope="scope">
            <el-button type="warning"  plain @click="add(scope.row)">编 辑</el-button>
            <el-button type="danger" plain @click="deleted(scope.row.fid)">删 除</el-button>
          </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pull-right"
      background
      @size-change="pageSizeChange"
      @current-change="getList"
      :current-page="page.pageIndex"
      :page-sizes="[15, 50, 100, 200, 500]"
      :page-size="page.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>

    <el-dialog
      :title="id == '' ? '添加' : '编辑'"
      :visible.sync="dialogVisible"
      width="600px"
      :close-on-click-modal='false'
      :before-close="handleClose">
      <div>
        <el-form :model="form" ref="form" label-width="110px" :rules="rules">
          <el-form-item label="媒体类型：">
            <el-select v-model="form.mclass" style="width: 60%"  @change="getMediaList">
              <el-option v-for="(value,key) in mediaType2"
                :key="key"
                :label="value.label"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="媒体名称：" prop='mediaid'>
            <el-select v-model="form.mediaid" filterable placeholder="请选择媒体" style="width:60%">
              <el-option v-for="item in mediaList"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="时间范围：">
            <el-time-picker
              is-range
              style="width: 60%"
              v-model="form.ftime"
              value-format="yyyy-MM-dd HH:mm:ss"
              @change="val => ftime = val || []"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              placeholder="选择时间范围">
            </el-time-picker>
          </el-form-item>
          <el-form-item label="广告名称：">
            <el-autocomplete
              style="width:60%"
              v-model="form.fadname"
              :fetch-suggestions="searchadname"
              placeholder="请输入广告名称"></el-autocomplete>
          </el-form-item>
          <el-form-item label="广告类别：">
            <el-cascader
              style="width: 60%"
              :options="adClassTree"
              change-on-select
              :props="adClassOptions2"
              v-model="form.fadclasscode"
              clearable>
            </el-cascader>
          </el-form-item>
          <el-form-item label="最长广告时长：">
            <el-input v-model="form.flength" style="width:60%" type='number' clearable placeholder="请输入广告时长"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer">
        <el-button @click="handleClose">取 消</el-button>
        <el-button type="primary" @click="submit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { filterList, filterCreate, filterDelete, } from '@/api/FilterManage'
import { getMediaList, searchAdByName } from "@/api/Function.js"
export default {
  components: {
  },
  data() {
    return {
      dialogVisible: false,
      searchForm: {
        medianame: '',
        mclass: '',
      },
      page: {
        pageIndex: 1,
        pageSize: 15,
      },
      form:{
        mediaid: '',
        ftime: [],
        fadname: '',
        fadclasscode: '',
        flength: '',
        mclass: '',
      },
      tableData: [],
      id: '',
      loading: false,
      total: 0,
      tableHeight: '300px',
      mediaList: [],
      rules: {
        mediaid: [
          { required: true, message: '请选择媒体', trigger: 'change' }
        ],
      }
    }
  },
  created() {
    this.getList()
    this.getMediaList()
  },
  mounted() {
   this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 180)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 180)
    }
  },
  computed: {
    ...mapGetters(['adClassTree', 'adClassOptions2', 'mediaType2']),
  },
  methods: {
    getList(page) {
      this.loading = true
      this.page.pageIndex = page
      const data = {
        ...this.searchForm,
        ...this.page
      }
      filterList(data).then(res => {
        this.tableData = res.data
        this.total = Number(res.count)
        this.loading = false
      })
      .catch(() => {
        this.$func._error()
      })
    },
    add(row) {
      if(row){
        const data = row
        this.id = data.fid
        let time = []
        if(data.fstime && data.fetime) {
          time = [data.fstime, data.fetime]
        }
        this.form = {
          mediaid: data.fmediaid,
          ftime: time,
          fadname: data.fadname,
          fadclasscode: data.fadclasscode,
          flength: data.flength,
          mclass: data.mclass,
        }
        this.getMediaList(this.form.mclass,true)
      }
      this.dialogVisible = true
    },
    submit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          const data = {
            ...this.form
          }
          if (this.id)  data.fid = this.id
          filterCreate(data).then(res => {
            this.$notify.success(res.msg)
            this.getList()
            this.handleClose()
          })
        } else {
          return false
        }
      })
    },
    deleted(id) {
       this.$confirm('确认要删除吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          filterDelete({fid: id}).then(res => {
            this.$notify.success(res.msg)
            this.getList(this.page.pageIndex)
          })
          .catch(() => {
            this.$func._error()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    getMediaList(value, flag) {
      if(value && !flag) {
        if(this.form.mediaid) this.form.mediaid = ''
      }
      this.searchForm.medianame = ''
      let data = {
        mediaName: this.searchForm.medianame,
        mclass: value ? [value] : ['01', '02'],
      }
      getMediaList(data).then(res => {
        this.mediaList = res.data
      })
    },
    // 广告名称模糊搜索
    searchadname(queryString, cb) {
      let data = {
        adName: queryString
      }
      searchAdByName(data).then(res => {
        cb((res.data || []).map(i => ({value: i.fadname})))
      })
    },
    pageSizeChange(pageSize) {
      this.page.pageSize = pageSize
      this.getList(this.page.pageIndex)
    },
    _clearDate(val) {
      if (val === null) {
        this.minDate = null
      }
    },
    handleClose() {
      this.form = {}
      this.id = ''
      this.$refs.form.resetFields()
      this.dialogVisible = false
      this.getMediaList()
    }

  }
}
</script>

