<template>
  <div class="create-task" v-loading="loading">
		<el-form :model="form" ref="sform" inline @keyup.native.enter="getList()">
			<el-form-item label="地区选择：">
        <span>
          <el-cascader
            :clearable="true"
            :options="mediaArea"
            :props="areaOptions"
            v-model="form.area">
          </el-cascader>
          &nbsp;
          <el-checkbox v-model="form.iscontain" true-label="1" false-label="0">包含下级</el-checkbox>
        </span>
      </el-form-item>
      <el-form-item label="媒体所属：">
        <el-select v-model="form.mediaType" placeholder="请选择媒体所属" clearable>
          <el-option v-for="(value,key) in mediaBelong"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体类型：">
        <el-select v-model="form.mediaClass" placeholder="请选择媒体所属" clearable>
          <el-option v-for="(value,key) in mediaType"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体名称：">
        <el-input v-model="form.mediaName" clearable></el-input>
      </el-form-item>
			<el-form-item>
				<el-button type="primary" @click="getList()">搜 索</el-button>
				<el-button type="primary" @click="() => drawer = true" plain>添 加</el-button>
			</el-form-item>
		</el-form>
    <el-table :data="tableData" border stripe :height="tableHeight">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="媒体名称">
        <template slot-scope="scope">
          {{scope.row.fmedianame}}
        </template>
      </el-table-column>
      <el-table-column label="规格">
        <template slot-scope="scope">
          {{scope.row.fsize}}
        </template>
      </el-table-column>
      <el-table-column label="大小">
        <template slot-scope="scope">
          {{scope.row.fdaxiao}}
        </template>
      </el-table-column>
      <el-table-column label="面积">
        <template slot-scope="scope">
          {{scope.row.fmianji}}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="160">
        <template slot-scope="scope">
          <el-button type="primary" @click="editPage(scope.row)">编 辑</el-button>
          <el-button type="danger" @click="deletePage(scope.row)">删 除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pull-right"
      background
      @size-change="pageSizeChange"
      @current-change="getList"
      :current-page="page.pageIndex"
      :page-sizes="[15, 50, 100, 200, 500]"
      :page-size="page.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
    </el-pagination>
    <el-drawer
      title="添加规格"
      :visible.sync="drawer"
      direction="rtl"
      :before-close="handleClose"
      :wrapperClosable="false">
      <div style="padding: 10px 20px;">
        <el-form :model="addEditForm" :rules="rules" ref="addEditForm" label-width="100px">
          <el-form-item label="媒体名称：" prop="mediaId">
            <el-select
              v-model="addEditForm.mediaId"
              filterable
              remote
              clearable
              reserve-keyword
              :remote-method="searchMediaList"
              placeholder="搜索媒体"
              style="width:100%;">
              <el-option v-for="item in mediaList"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="规格：" prop="size">
            <el-input v-model="addEditForm.size" clearable ></el-input>
          </el-form-item>
          <el-form-item label="大小：" prop="daXiao">
            <el-input v-model="addEditForm.daXiao" type="number" placeholder="数字" clearable></el-input>
          </el-form-item>
          <el-form-item label="面积：" prop="mianJi">
            <el-input v-model="addEditForm.mianJi" type="number" placeholder="数字" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">添 加</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-drawer>
	</div>
</template>

<script>
import { paperSizeList, addPaperSize, editPaperSize, delPaperSize } from "@/api/PaperInput.js"
import { getMediatregion } from "@/api/MediaIssue.js"
import { getMediaList } from "@/api/Function.js"
import Tree  from '@/utils/Tree.js'
import { mapGetters } from 'vuex'
export default {
  name: 'specification',
  data() {
    return {
      drawer: false,
      addEditForm: {
        fid: '',
        mediaId: '',
        size: '',
        daXiao: '',
        mianJi: ''
      },
      mediaList: [],
      form: {
        mediaType: '',
        mediaClass: '',
        mediaName: '',
        iscontain: '1',
        area: ''
      },
      tableData: [],
      tableHeight: '300px',
      mediaArea: [],
      areaOptions: {
        value: 'fid',
        label: 'fname',
        children: 'children',
        checkStrictly: true,
        emitPath: false,
      },
      total: 0,
      loading: false,
      sourceData: '',
      page: {
        pageIndex: 1,
        pageSize: 15,
      },
      rules: {
        mediaId: [{ required: true, message: '此项必填', trigger: 'change' }],
        size: [{ required: true, message: '此项必填', trigger: 'blur' }],
        daXiao: [{ required: true, message: '此项必填', trigger: 'blur' }],
        mianJi: [{ required: true, message: '此项必填', trigger: 'blur' }]
      }
    }
  },
  computed: {
    ...mapGetters(['mediaBelong', 'mediaType', 'taskManageStatus',]),
  },
  created() {
    this.sourceData = JSON.stringify(this.form)
    this.getMediatregion()
    // this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.getTableHeight()
    })
    window.onresize = () => {
      this.getTableHeight()
    }
  },
  methods: {
    searchMediaList(mediaName){
      if (mediaName !== '') {
        const data = {
          mediaClass: '03',
          mediaName
        }
        getMediaList(data).then(res => {
          this.mediaList = res.data
        })
      } else {
        this.mediaList = []
      }
    },
    onSubmit(){
      this.$refs.addEditForm.validate((valid) => {
        if(valid){
          const data = {
            ...this.addEditForm
          }
          const result = data.fid ? editPaperSize(data) : addPaperSize(data)
          result.then(res => {
            this.$notify.success(res.msg)
            this.addEditForm.size = ''
            this.addEditForm.daXiao = ''
            this.addEditForm.mianJi = ''
          })
        }
      })
    },
    editPage({fid, fmedianame, fmediaid, fsize, fdaxiao, fmianji}){
      this.mediaList = [{fmedianame: fmedianame, fid: fmediaid}]
      this.addEditForm.fid = fid
      this.addEditForm.mediaId = fmediaid
      this.addEditForm.size = fsize
      this.addEditForm.daXiao = +fdaxiao
      this.addEditForm.mianJi = +fmianji
      this.drawer = true
    },
    deletePage({fid}){
      this.$confirm(`此操作将永久删除该版面？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delPaperSize({fid}).then(res => {
          this.$notify.success(res.msg)
          this.getList(this.page.pageIndex)
        })
      }).catch(() => {})
    },
    handleClose(){
      this.drawer = false
      this.getList(this.page.pageIndex)
    },
    getList(page = 1) {
      this.page.pageIndex = page
      let data = {
        ...this.form,
        ...this.page
      }
      this.loading = true
      paperSizeList(data).then(res => {
        this.tableData = res.data
        this.total = +res.count
        this.loading = false
      }).catch(() => {})
    },
    getMediatregion() {
      getMediatregion().then(res=> {
        this.mediaArea = new Tree(res.data, 'fpid', 'fid').init(res.data[0].fpid)
      })
    },
    pageSizeChange(pageSize) {
      this.page.pageSize = pageSize
      this.getList(this.page.pageIndex)
    },
    getTableHeight() {
      let formHeight = this.$refs.sform.$el.clientHeight
      this.tableHeight = document.body.clientHeight - formHeight - 168 + 'px'
    },
    reset(getList = false) {
      this.form = JSON.parse(this.sourceData)
      if(getList) this.getList(1)
    },
  },
}
</script>

<style lang="scss" scoped>
.create-task{
  padding: 10px;
  .el-pagination{
    margin-top: 10px;
  }
  .days{
    padding: 4px 8px;
  }
  .green{
    color: #409EFF;
    font-weight: bold;
  }
  .copy{
    color: #409EFF;
    &:hover{
      cursor: pointer;
      font-weight: bold;
      color: rgb(55, 135, 214);
    }
  }
}
</style>