<template>
	<div class="mediaorg-rinkings">
		<div v-if="ydata.length > 0">
			<line-chart :title="title"
			 :xdata="xdata"
			 :ydata="ydata"></line-chart>
			<table-view title="广告名称"
			 :tabledata="tableData"
			 :formdata="preData"
			 :page="true"
			 tag="5"></table-view>
		</div>
		<no-data v-else />
	</div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import tableView from '../common/tableView'
import lineChart from '../common/lineChart'
import noData from '../common/noData'
export default {
	props: {
		title: {
      type: String,
      default: '',
    },
		xdata: {
      type: Array,
      default: () => [],
    },
    ydata: {
      type: Array,
      default: () => [],
    },
    tableData: {
      type: Array,
      default: () => [],
    }
	},
	components: {
		tableView,
		lineChart,
		noData
	},
	data() {
		return {
			preData: {},
		}
	},
	created() {
	},
	methods: {
	},
}
</script>

