<template>
  <div class="region-rankings">
    <div v-if="ydata.length > 0">
      <line-chart :title="title"
        :xdata="xdata"
        :ydata="ydata"
        ref="linechart"></line-chart>
      <table-view title="地区名称"
        :tabledata="tableData"
        :formdata="preData"
        tag="1"></table-view>
    </div>
    <no-data v-else />
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import tableView from '../common/tableView'
import lineChart from '../common/lineChart'
import noData from '../common/noData'
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    xdata: {
      type: Array,
      default: () => [],
    },
    ydata: {
      type: Array,
      default: () => [],
    },
    tableData: {
      type: Array,
      default: () => [],
    }
  },
  components: {
    tableView,
    lineChart,
    noData
  },
  data() {
    return {
      chart: null,
      preData: {},
    }
  },
  created() {
  },
  methods: {
  },
}
</script>

