<template>
  <div class="m_header">
    <div class="system-info">
      <img src="//publichz.oss-cn-hangzhou.aliyuncs.com/%E9%BB%98%E8%AE%A4%E8%B5%84%E6%BA%90/gongshang.png" height="40" alt="">
      <p class="title">{{$store.state.title}}</p>
    </div>
    <div class="menu-wrap">
      <ul class="top-menu">
        <li v-for="item in $store.state.menu" :key="item.menu_id" :class="$store.getters.activeMenu.menu_id === item.menu_id ? 'active' : ''" @click="setMenu(item)">{{item.menu_name}}</li>
      </ul>
    </div>
    <div class="herder-tool">
      <a v-if="$store.state.userInfo.regionid ? ($store.state.userInfo.regionid.substring(0,2) === '35' && !$store.state.isgj) : false"
        href="/Index/Agp/jiancebz.html"
        target="_blank">
        <el-button type="text">监测编码&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
      </a>
      <a v-for="(value,key) in czsc"
        v-if="$store.state.userInfo.regionid ? ($store.state.userInfo.regionid.substring(0,2) == key && !$store.state.isgj) : false"
        :href="value"
        target="_blank">
        <el-button type="text">操作手册&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
      </a>
      <a v-for="(item,index) in $store.state.userInfo.thirdlink" :key="index"
        v-if="$store.state.userInfo.thirdlink.length"
        :href="item.url"
        target="_blank">
        <el-button type="text">{{ item.name }}&nbsp;&nbsp;&nbsp;&nbsp;</el-button>
      </a>
      <el-dropdown @command="toPage"
        size="middle">
        <span class="el-dropdown-link">
          <div class="tip-sms">
            <i class="el-icon-message"></i>
            <el-badge is-dot
              v-if="$store.state.dbData.length" />
          </div>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item @click.native="clickPush(item)"
            v-for="(item,index) in $store.state.dbData"
            :key="index">{{item.fname}}</el-dropdown-item>
          <el-dropdown-item v-if="!$store.state.dbData.length">无任务</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-dropdown size="middle">
        <span class="el-dropdown-link">
          <div class="tip-sms">
            联系我们
          </div>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <div style="font-size:16px;font-weight:bold;border-bottom: 2px solid #000;">24 小时服务热线</div>
            <div>技术咨询：0571-83788382</div>
            <div style="text-align:right;">0571-87027500</div>
            <div>业务咨询：0571-87027800</div>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-dropdown @command="toPage"
        size="middle"
        trigger="click">
        <span class="el-dropdown-link">
          您好，{{$store.state.userInfo.fname}}
          <i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <a v-if="$store.state.isG"
            href="http://gjjwlgg.adlife.com.cn:9999/workplatform/sys/loginpage"
            target="_blank"
            style="text-decoration: none;">
            <el-dropdown-item>互联网工作平台</el-dropdown-item>
          </a>
          <!-- <el-dropdown-item @click.native="feedBack">在线留言</el-dropdown-item> -->
          <!-- <el-dropdown-item @click.native="commonquestion">常见问题</el-dropdown-item> -->
          <a
            href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%E6%B5%99%E6%B1%9F%E7%9C%81%E4%BC%A0%E7%BB%9F%E5%AA%92%E4%BD%93%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E7%B3%BB%E7%BB%9F%EF%BC%88%E5%BA%94%E7%94%A8%E7%AB%AF%EF%BC%89%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
            target="_blank"
            style="text-decoration: none;">
            <el-dropdown-item>操作说明</el-dropdown-item>
          </a>
          <el-dropdown-item @click.native="showPwd = true">重置密码</el-dropdown-item>
          <el-dropdown-item v-if="$store.state.isgj === 1">
            <a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%E5%9B%BD%E5%AE%B6%E5%B8%82%E5%9C%BA%E7%9B%91%E7%9D%A3%E7%AE%A1%E7%90%86%E6%80%BB%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E7%9D%A3%E7%AE%A1%E7%90%86%E5%8F%B8%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
              target="_blank">操作手册</a>
          </el-dropdown-item>
          <el-dropdown-item v-if="$store.state.userInfo.system_num === 130100 && $store.state.userInfo.fregulatorlevel === 10">
            <a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%EF%BC%88%E5%B8%82%E5%B1%80%E7%89%88%EF%BC%89%E7%9F%B3%E5%AE%B6%E5%BA%84%E5%B8%82%E5%B7%A5%E5%95%86%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
              target="_blank">操作手册</a>
          </el-dropdown-item>
          <el-dropdown-item v-if="$store.state.userInfo.system_num === 130100 && $store.state.userInfo.fregulatorlevel === 0">
            <a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%EF%BC%88%E5%8C%BA%E5%8E%BF%E7%89%88%EF%BC%89%E7%9F%B3%E5%AE%B6%E5%BA%84%E5%B8%82%E5%B7%A5%E5%95%86%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
              target="_blank">操作手册</a>
          </el-dropdown-item>
          <el-dropdown-item v-if="$store.state.userInfo.system_num === 430000"><a href="http://publichz.oss-cn-hangzhou.aliyuncs.com/%E6%B9%96%E5%8D%97%E7%9C%81%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx"
              target="_blank">操作手册</a></el-dropdown-item>
          <el-dropdown-item @click.native="outLogin">退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <edit-pwd v-if="showPwd"
      @close="showPwd = false"
      @success="outLogin">
    </edit-pwd>
  </div>
</template>

<script>
import editPwd from '@/components/common/editPwd'
import axios from "axios"
import qs from "qs"
export default {
  components: { editPwd },
  data() {
    return {
      czsc: {
        '35': 'http://publichz.oss-cn-hangzhou.aliyuncs.com/%E7%A6%8F%E5%BB%BA%E7%9C%81%E5%B7%A5%E5%95%86%E5%B1%80%E5%B9%BF%E5%91%8A%E7%9B%91%E6%B5%8B%E7%B3%BB%E7%BB%9F%E9%A1%B9%E7%9B%AE%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C20181010.docx',
        '44': 'http://publichz.oss-cn-hangzhou.aliyuncs.com/%E5%B9%BF%E4%B8%9C%E7%9C%81%E5%B9%BF%E5%91%8A%E7%9B%91%E7%AE%A1%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.docx',
      },
      showPwd: false,
    }
  },
  methods: {
    feedBack() {
      this.$router.push({ path: 'FeedBack' })
    },
    commonquestion() {
      this.$router.push({ path: 'commonquestion' })
    },
    toPage(path) {
      this.$router.push({ 'path': path })
    },
    setMenu(item){
      if(item.list && item.list.length){
        this.$router.push({name: item.list[0].menu_url})
      }else{
        this.$router.push({name: item.menu_url})
      }
      this.$store.commit('setActiveMenu', item)
    },
    outLogin() {
      axios.post(this.$_ + '/Agp/Core/quietlogin')
        .then(res => {
          this.$router.push({ 'path': 'login' })
          localStorage.removeItem('MenuPermission')
          setTimeout(() => {
            location.reload()
          },200)
        })
        .catch(() => {
          this.$func._error()
        })
    },
    clickPush(row) {
      let arg = row.furl.split('|')
      this.$router.push({ name: arg[0], params: { year: '0', activeTab: arg[1] } })
    },
  },
}
</script>

<style lang="scss" scoped>
  .m_header {
    display: flex;
    justify-content: space-between;
    .menu-wrap{
      flex-grow: 1;
      .top-menu{
        margin: 0;
        li{
          display: inline-block;
          font-size: 18px;
          padding: 0 18px;
          vertical-align: top;
          transition: 0.25s;
          &:hover{
            cursor: pointer;
            color: #2593FC;
            line-height: 47px;
            border-bottom: 3px solid #2593FC;
            font-weight: bold;
          }
          &.active {
            color: #2593FC;
            line-height: 47px;
            border-bottom: 3px solid #2593FC;
            font-weight: bold;
          }
        }
      }
    }
    .system-info{
      color: #2593FC;
      img{
        margin-top: 5px;
        float: left;
        margin-right: 10px;
      }
      .title{
        line-height: 50px;
        height: 50px;
        font-size: 18px;
        margin: 0 20px 0 0;
        font-weight: bold;
        // width: 230px;
        white-space: nowrap;
      }
    }
  }
</style>