<template>
  <el-aside width="160px" v-if="$store.getters.activeMenu.list && $store.getters.activeMenu.list.length">
    <div>
      <div class="icon">
        <i :class="$store.getters.activeMenu.icon"></i>
      </div>
      <p id="title">{{ $store.getters.activeMenu.menu_name }}</p>
    </div>
    <router-link class="menu-item" :key="item.menu_id" :class="$route.name === item.menu_url ? 'active' : ''" :to="item.menu_url" v-for="item in ($store.getters.activeMenu.list || [])">{{item.menu_name}}</router-link>
  </el-aside>
</template>

<script>
  export default {
    data() {
      return {
      }
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .el-aside {
    overflow-x: inherit !important;
    overflow-y: auto;
    background-color: #fff;
    &::-webkit-scrollbar {
      display: none;
    }
    .icon{
      text-align: center;
      line-height: 70px;
      background: #1890FF;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      color: #fff;
      margin: 20px auto;
      .iconfont{
        font-size: 40px;
      }
    }
    #title {
      text-align: center;
      color: #7F7F7F;
      font-size: 16px;
      font-weight: 700;
      margin: 0 0 20px 0;
    }
    .mark {
      padding-right: 15px;
    }
    .menu-item{
      display: block;
      color: #555555;
      line-height: 50px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      transition: 0.25s;
      &.active{
        color: #1890FF;
        border-left: 4px solid #1890FF;
        background-color: #BBE7FE;
      }
      &:hover{
        color: #1890FF;
        border-left: 4px solid #1890FF;
        background-color: #BBE7FE;
      }
    }
  }
</style>