<template>
  <div class="monitoring-data">
    <div v-loading="$store.state.bloading">
      <!-- 搜索条件 -->
      <el-form
        ref="sform"
        :model="searchForm"
        label-width="90px">
        <el-row :gutter="10">
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="广告名称：">
              <el-input v-model="searchForm.fadname"
                placeholder="请输入广告名称"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="广告类别：">
              <el-cascader style="width:100%"
                :options="$store.state.adClassOptions"
                :props="$store.state.propsOptions"
                v-model="fadclasscode"
                clearable
                @change="_setTag">
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="违法类型：">
              <el-select style="width:100%"
                v-model="searchForm.fillegaltypecode"
                placeholder="请选择">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option v-for="item in $store.state.leagalOptions"
                  :key="item.fcode"
                  :label="item.fillegaltype"
                  :value="item.fcode">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="发布时间：">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="searchDate"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="媒体类型：">
              <el-select v-model="searchForm.mclass"
                placeholder="请选择"
                style="width:100%">
                <el-option label="全部"
                  value=""></el-option>
                <el-option v-for="item in Mediatype"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="6"
            v-if="searchForm.mclass === 'net'">
            <el-form-item label="广告类型：">
              <el-select v-model="searchForm.netadtype"
                style="width:100%"
                placeholder="请选择">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in $store.state.netadtype"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="6">
            <el-form-item label="违法类型：">
              <el-select style="width:100%"
                v-model="searchForm.fillegaltypecode"
                placeholder="请选择">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option v-for="item in $store.state.leagalOptions"
                  :key="item.fcode"
                  :label="item.fillegaltype"
                  :value="item.fcode">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item>
              <el-tag style="margin-right:10px;margin-bottom:10px;"
                v-for="tag in tagList"
                :key="tag.fcode"
                closable
                @close="_removeTag(tag.fcode,'fcode','tagList')">
                {{tag.fadclass}}
              </el-tag>
              <el-button type="primary"
                class="pull-right"
                :loading="$store.state.bloading"
                @click="_getList(1)"
                icon="el-icon-search">
                搜 索
              </el-button>
              <out-button
                :type="['xls','txt','xml']"
                :data="predata"
                @initdata="initData"
                url="/Agp/Fmonitoring/index"
                class="pull-right right-margin" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <!-- 列表 -->
      <el-table border
        :height="$store.state.GTableHeight"
        @sort-change="_sortChange"
        ref="multipleTable"
        :data="tableData">
        <el-table-column type="index"
          width="55">
        </el-table-column>
        <el-table-column prop="fadname"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          sortable="custom"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadownername"
          label="广告主"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="80px"
          prop="fillegaltype"
          label="违法类型">
        </el-table-column>
        <el-table-column label="发布时间"
          width="140"
          sortable="custom"
          prop="fissuedate"
          show-overflow-tooltip>
          <template slot-scope="scope">
            {{scope.row.mclass === 'paper' ? `${scope.row.fissuedate.substring(0,10)}（${scope.row.fpage}）` : scope.row.fissuedate}}
          </template>
        </el-table-column>
        <el-table-column label="操作"
          fixed="right"
          width="80px">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-info"
              @click="_issDetails(scope.row)">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <iss-dialog v-if="issDialog"
      posturl="/Agp/Fmonitoring/getmonitoringview"
      :data="detailsData"
      :download="true"
      @close="_close">
    </iss-dialog>
    <niss-dialog posturl="/Agp/Fmonitoring/getmonitoringview"
      v-if="nissDialog"
      :data="detailsData"
      @close="_close">
    </niss-dialog>
  </div>
</template>
<script>
import issDialog from './common/issDialog'
import nissDialog from './common/nissDialog'
import outButton from '../common/outButton'
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    issDialog,
    nissDialog,
    outButton,
  },
  data() {
    return {
      searchForm: {
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        fillegaltypecode: '-1',
        fissuedatest: '',
        fissuedateed: '',
        mclass: 'net',
        page: '1',
        pxtype: '',
        pxval: '',
        netadtype: '0',
        outdata: 1
      },
      predata: {},
      fadclasscode: [],
      searchDate: [],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      tagList: [],
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
          } else {
            return time.getTime() > new Date().getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        },
      },
      pickerOptions2: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this.searchDate = this.$store.state.Gisstime.length ? this.$store.state.Gisstime : this.$func.getPreDate('YYYY-MM-DD')
    this._setTime()
    if (this.$route.params.searchDate && this.$route.params.searchDate.length) {
      this.searchDate = this.$route.params.searchDate
      this.searchForm.mclass = this.$route.params.mclass
      this.searchForm.fillegaltypecode = this.$route.params.fillegaltypecode
    }
    this.$store.commit('_bloading', true)
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      if (item.mclass !== 'net') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    initData(page) {
      this._setArr()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.fissuedatest = this.searchDate[0]
      data.fissuedateed = this.searchDate[1]
      if (data.mclass !== 'net') {
        delete data.netadtype
      }
      this._setTime()
      this.predata = data
      return data
    },
    _getList(page) {
      this.initData(page)
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Agp/Fmonitoring/index', qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list.map(item => {
              if(item.mclass === 'paper' || item.mclass === 'net'){
                item.fissuedate = item.fissuedate
                item.flength = '-'
              }else{
                item.fissuedate = item.fissuedate + item.fstarttime
              }
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _setTag(val) {
      let fcode = val[val.length - 1]
      let check = this.$store.state.allAdClass.filter(item => {
        return item.fcode === fcode
      })
      let list = this.tagList.concat(check).filter(item => {
        return item.fcode !== check[0].fpcode
      })
      this.tagList = Array.from(new Set(list))
      let arr = []
      this.tagList.forEach(item => {
        if (item.fpcode !== '') {
          arr.push(item.fpcode)
        }
      })
      arr.forEach(item => {
        this.tagList = this.tagList.filter(obj => {
          return obj.fcode !== item
        })
      })
      this.fadclasscode = []
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _setArr() {
      this.searchForm.fadclasscode = []
      this.tagList.forEach(item => {
        this.searchForm.fadclasscode.push(item.fcode)
      })
    },
    _setTime() {
      let data = {
        key: 'Gisstime',
        value: this.searchDate
      }
      this.$store.commit('_setisstime', data)
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType
    }
  }
}
</script>
