<template>
  <div class="monitoring-material">
    <download-material></download-material>
  </div>
</template>
<script>
import downloadMaterial from '../common/downloadMaterial'
export default {
  components: {
    downloadMaterial
  }
}
</script>
