<template>
  <div class="monitoring-data">
    <div v-loading="$store.state.bloading">
      <!-- 搜索条件 -->
      <el-form ref="sform"
        :model="searchForm"
        label-width="90px">
        <el-row :gutter="10">
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告名称：">
              <el-input v-model="searchForm.fadname"
                placeholder="请输入广告名称"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告类别：">
              <el-cascader style="width:100%"
                :options="$store.state.adClassOptions"
                :props="$store.state.propsOptions"
                v-model="fadclasscode"
                clearable
                @change="_setTag">
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="!isillAdDetail">
            <el-form-item label="判定结果：">
              <el-select style="width:100%"
                v-model="searchForm.fillegaltypecode"
                placeholder="请选择"
                width="99%">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option v-for="item in $store.state.leagalOptions"
                  :key="item.fcode"
                  :label="item.fillegaltype"
                  :value="item.fcode">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            style="height: 47px;">
            <el-form-item label="发布时间：">
              <el-date-picker :editable="false"
                v-if="searchForm.mclass !== '13'"
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions2"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
              <el-date-picker :editable="false"
                v-else
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions2"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="媒介地区：">
              <div>
                <el-cascader :options="$store.state.mediaArea"
                  style="width:50%"
                  :props="$store.state.areaOptions"
                  v-model="area"
                  @change="_getMediaList">
                </el-cascader>
                <el-switch v-model="searchForm.iscontain"
                  active-value="1"
                  inactive-value="0"
                  active-text="含下级"
                  @change="_switchChange">
                </el-switch>
              </div>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="媒体类型：">
              <el-select v-model="searchForm.mclass"
                placeholder="请选择"
                style="width:100%"
                @change="_getMediaList">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="item in Mediatype"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-if="searchForm.mclass === '13' && !isillAdDetail">
            <el-form-item label="广告类型：">
              <el-select v-model="searchForm.netadtype"
                style="width:100%"
                placeholder="请选择">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in $store.state.netadtype"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="发布媒介：">
              <el-select style="width:100%"
                v-model="media"
                clearable
                placeholder="请选择"
                width="99%"
                @change="_setmedia">
                <el-option v-for="item in mediaArr"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item>
              <el-tag style="margin-right:10px;margin-bottom:10px;"
                v-for="tag in tagList"
                :key="tag.fcode"
                closable
                @close="_removeTag(tag.fcode,'fcode','tagList')">
                {{tag.fadclass}}
              </el-tag>
              <el-tag style="margin-right:10px;margin-bottom:10px;"
                v-for="tag in mediaList"
                :key="tag.fid"
                closable
                @close="_removeTag(tag.fid,'fid','mediaList')">
                {{tag.fmedianame}}
              </el-tag>
              <el-tag style="margin-right:10px;margin-bottom:10px;"
                v-for="tag in areaList"
                :key="tag.fid"
                closable
                @close="_removeTag(tag.fid,'fid','areaList',_getMediaList)">
                {{tag.fname}}
              </el-tag>
              <el-button type="primary"
                class="pull-right"
                :loading="$store.state.bloading"
                @click="_getList(1)"
                icon="el-icon-search">
                搜 索
              </el-button>
              <out-button :type="['xls','txt','xml']"
                :data="predata"
                @initdata="initData"
                url="/Agp/Fmonitoring/index"
                class="pull-right right-margin" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <!-- 列表 -->
      <el-table border class="new-tabel" size="small"
        style="cursor: pointer;"
        :height="$store.state.GTableHeight"
        @sort-change="_sortChange"
        @row-click="_issDetails"
        ref="multipleTable"
        :data="tableData">
        <el-table-column type="index"
          label="序号"
          width="55">
        </el-table-column>
        <el-table-column label="媒体类型"
          v-if="!isillAdDetail"
          width="80">
          <template slot-scope="scope">
            <span :class="`${$store.getters.typeMap[scope.row.mclass]}-tag`">{{$store.state.allmediatype[scope.row.mclass]}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="fadname"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          sortable="custom"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="regionname"
          label="媒体地区"
          width="120"
          align="center"
          v-if="!isillAdDetail"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="80px"
          prop="fillegaltype"
          v-if="!isillAdDetail"
          label="判定结果">
          <template slot-scope="scope">
            <span :class="scope.row.fillegaltype === '违法' ? 'text-red' : 'text-green'">{{scope.row.fillegaltype}}</span>
          </template>
        </el-table-column>
        <el-table-column label="发布日期/版面"
          width="170"
          sortable="custom"
          prop="fissuedate_fpage"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="时长/规格"
          width="100"
          prop="flength"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <iss-dialog v-if="issDialog"
      posturl="/Agp/Fmonitoring/getmonitoringview"
      :data="detailsData"
      :isillAdDetail='isillAdDetail'
      :download="true"
      :area="area[area.length-1]"
      @close="_close">
    </iss-dialog>
    <niss-dialog posturl="/Agp/Fmonitoring/getmonitoringview"
      v-if="nissDialog"
      :data="detailsData"
      :area="searchForm.area"
      @close="_close">
    </niss-dialog>
  </div>
</template>
<script>
import issDialog from './common/issDialog'
import nissDialog from './common/nissDialog'
import outButton from '../common/outButton'
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    issDialog,
    nissDialog,
    outButton,
  },
  data() {
    return {
      sourceForm: '',
      searchForm: {
        iscontain: this.$store.state.FJiscontain || '0',
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        media: [],
        fillegaltypecode: '-1',
        fissuedatest: '',
        fissuedateed: '',
        mclass: '',
        page: '1',
        area: '',
        pxtype: '',
        pxval: '',
        netadtype: '0',
      },
      predata: {},
      fadclasscode: [],
      searchDate: [],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      tagList: [],
      mediaArr: [],
      mediaList: [],
      areaList: [],
      areaArr: [],
      media: '',
      area: [],
      minDate: null,
      pickerOptions: {
        disabledDate: (time) => {
          if (this.minDate) {
            let val = this.minDate
            let y = val.getFullYear()
            let m = val.getMonth()
            let firstDay = new Date(y, m, 1)
            let lastDay = new Date(y, m + 1, 0)
            return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime() || time.getTime() > new Date().getTime()
          } else {
            return time.getTime() > new Date().getTime()
          }
        },
        onPick: (val) => {
          this.minDate = val.minDate
        },
      },
      pickerOptions2: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this.searchDate = this.$store.state.Gisstime.length ? this.$store.state.Gisstime : this.$func.getPreDate('YYYY-MM-DD')
    this._setTime()
    if (this.$route.params.searchDate && this.$route.params.searchDate.length) {
      this.searchDate = this.$route.params.searchDate
      this.area = Array.of(this.$store.state.mediaArea[0]['fid'])
      this.searchForm.mclass = this.$route.params.mclass
      this.searchForm.fillegaltypecode = this.$route.params.fillegaltypecode
    }
    this.$store.commit('_bloading', true)
    this.sourceForm = JSON.stringify(this.searchForm)
    let timer = setInterval(() => {
      if (this.$store.state.mediaArea[0]['fid']) {
        if (!this.$route.params.searchDate) {
          let areaid = this.$store.state.userInfo.fregulatorlevel === 30 ? this.$store.state.mediaArea[0]['fid'] : this.$store.state.userInfo.regionid
          this.area = Array.of(areaid)
        }
        this._getList()
        this._getMediaList()
        clearInterval(timer)
      }
    }, 100)
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      if (item.mclass !== '13') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    initData(page) {
      this._setArr()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.issuedate = this.searchDate
      data.area = this.area[this.area.length - 1]
      if (data.mclass !== '13') {
        delete data.netadtype
      }
      this._setTime()
      if(this.isillAdDetail) data.fillegaltypecode = 30
      this.predata = data
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this.initData(page)
      axios.post(this.$_ + '/Agp/Fmonitoring/index', qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if(item.mclass === '03'){
                item.fissuedate_fpage = item.fpage
                item.flength = '--'
              }else if(item.mclass === '13'){
                item.fissuedate_fpage = item.fissuedate.substring(0,10)
                item.flength = '--'
              }else{
                item.fissuedate_fpage = item.fissuedate.substring(0,10)
              }
              if(!item.fadclass) item.fadclass = '未分类'
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _setTag(val) {
      let fcode = val[val.length - 1]
      let check = this.$store.state.allAdClass.filter(item => {
        return item.fcode === fcode
      })
      let list = this.tagList.concat(check).filter(item => {
        return item.fcode !== check[0].fpcode
      })
      this.tagList = Array.from(new Set(list))
      let arr = []
      this.tagList.forEach(item => {
        if (item.fpcode !== '') {
          arr.push(item.fpcode)
        }
      })
      arr.forEach(item => {
        this.tagList = this.tagList.filter(obj => {
          return obj.fcode !== item
        })
      })
      this.fadclasscode = []
    },
    _removeTag(val, name, arr, cb) {
      this[arr] = this[arr].filter(item => {
        return item[name] !== val
      })
      if (cb) cb()
    },
    _setArea(val) {
      let check = this.areaArr.filter(item => {
        return item.fid === val
      })
      this.areaList = Array.from(new Set(this.areaList.concat(check)))
      this.area = ''
      this._getMediaList()
    },
    _setmedia(val) {
      let check = this.mediaArr.filter(item => {
        return item.fid === val
      })
      this.mediaList = Array.from(new Set(this.mediaList.concat(check)))
      this.media = ''
    },
    _switchChange(val) {
      this.$store.commit('_setFJiscontain', val)
      this._getMediaList()
    },
    _getMediaList() {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass, iscontain: this.searchForm.iscontain }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },

    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
    _setArr() {
      this.searchForm.fadclasscode = []
      this.searchForm.media = []
      this.tagList.forEach(item => {
        this.searchForm.fadclasscode.push(item.fcode)
      })
      this.mediaList.forEach(item => {
        this.searchForm.media.push(item.fid)
      })
    },
    _setTime() {
      let data = {
        key: 'Gisstime',
        value: this.searchDate
      }
      this.$store.commit('_setisstime', data)
    }
  },
  watch: {
    '$route.name':{
      handler() {
         this.searchForm = JSON.parse(this.sourceForm)
        this._getList()
      }
    }
  },
  computed: {
    // 广告明细和违法广告明细共用页面
    isillAdDetail() {
      if(this.$route.name == 'illmonitoringData') {
        return true
      } else {
        return false
      }
    },
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>