<template>
  <div class="ckchuli">
    <div v-loading="loading">
      <el-form inline
        ref="sform"
        label-width="90px">
        <el-row>
          <el-col :span="24">
            <g-search></g-search>
          </el-col>
          <el-col :span="24">
            <el-form-item label="查询条件：">
                <el-select class="right-margin"
                  v-model="searchForm.search_type"
                  placeholder="请选择"
                  @change="()=>{searchForm.search_val=''}">
                  <el-option v-for="item in $store.state.selectData"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
                <el-select class="right-margin"
                  v-model="searchForm.search_val"
                  placeholder="请选择"
                  v-if="searchForm.search_type === '10'">
                  <el-option label="全部"
                    value="">
                  </el-option>
                  <el-option :label="item.label"
                    :value="item.value"
                    v-for="item in Mediatype"
                    :key="item.value">
                  </el-option>
                </el-select>
                <el-input class="secrch"
                  style="width:150px;"
                  type="text"
                  v-if="searchForm.search_type !== '10'"
                  v-model="searchForm.search_val">
                </el-input>
                <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
                  v-model="searchForm.netadtype"
                  placeholder="请选择"
                  style="width:200px;">
                  <el-option label="全部"
                    value="0"></el-option>
                  <el-option v-for="(value,key) in $store.state.netadtype"
                    :key="key"
                    :label="value"
                    :value="key">
                  </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="处理状态：" label-width="82px">
              <el-select v-model="searchForm.fstate"
                @change="() => { searchForm.fstate2 = '0' }">
                <el-option label="全部"
                  value="-1"></el-option>
                <el-option label="待处理"
                  value="0"></el-option>
                <el-option label="已处理"
                  value="10"></el-option>
                <el-option label="复核"
                  value="30"></el-option>
              </el-select>
              <el-select v-model="searchForm.fstate2"
                style="width:145px"
                v-if="searchForm.fstate === '0'">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option label="未查看"
                  value="10"></el-option>
                <el-option label="已查看"
                  value="20"></el-option>
              </el-select>
              <el-select v-model="searchForm.fstate2"
                style="width:145px"
                v-if="searchForm.fstate === '10'">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in sblx"
                  :key="key"
                  :label="value"
                  :value="key"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary"
                @click="_getList(1)"
                icon="el-icon-search">查询</el-button>
                <out-button class="right-margin"
                :data="predata"
                style="margin-left: 10px;"
                @initdata="outData"
                url="/Agp/Gckchuli/cljieguo_list" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData"
        border
        size="small"
        class="new-tabel"
        :height="$store.state.GTableHeight"
        @selection-change="_handleSelectionChange">
        <el-table-column type="selection"
          width="40">
        </el-table-column>
        <el-table-column width="78"
          label="媒体分类">
          <template slot-scope="scope">
            <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称"
          min-width="160"
          show-overflow-tooltip>
          <template slot-scope="scope">
            <span v-if="scope.row.showTimeout > 0">
              <el-popover
                placement="top-start"
                title="提醒"
                trigger="hover"
                content="'任务超时！'">
                <span class="taskMsg el-icon-warning"  slot="reference"></span>
              </el-popover>
            </span>
            <span v-if="scope.row.againIssue > 0">
              <el-popover
                placement="top-start"
                title="提醒"
                trigger="hover"
                content="本线索上月已作处罚，本月依然发布。">
                <span class="el-icon-bell notice"  slot="reference"></span>
              </el-popover>
            </span>
            {{ scope.row.fad_name }}
          </template>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fadownername"
          label="广告主"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="adownerregion"
          v-if="this.$store.state.userInfo.isShowRegion === 1 || this.$store.state.userInfo.isShowRegion === 3"
          label="广告主地区"
          width="90"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="65"
          prop="fcount"
          label="总条次">
        </el-table-column>
        <el-table-column show-overflow-tooltip
          v-if="predata.search_val !== '13'"
          width="50"
          prop="diffweek"
          label="周数">
        </el-table-column>
        <el-table-column show-overflow-tooltip
          width="100px"
          label="时间段">
          <template slot-scope="scope">
            {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
          </template>
        </el-table-column>
        <el-table-column width="80" align="center" show-overflow-tooltip>
           <span slot="header">违法 <br> 表现代码</span>
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                class="text-red"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column width="80" align="center">
          <span slot="header">证据 <br> 查看下载</span>
          <template slot-scope="scope">
            <el-button type="text"
              :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
              @click="_viewVideo(scope.row)">
              查看
            </el-button>
          </template>
        </el-table-column>
        <el-table-column prop="frece_reg"
          width="100px"
          show-overflow-tooltip
          label="处理机构">
        </el-table-column>
        <el-table-column prop="fresult"
          width="100px"
          show-overflow-tooltip
          label="处理结果">
        </el-table-column>
        <el-table-column prop="fresult_datetime"
          width="90px"
          show-overflow-tooltip
          label="处理时间">
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
  </div>
</template>

<script>
import upload from '../Ggsjzx/common/upload'
import GSearch from '../Ggsjzx/common/GSearch'
import viewVideo from "@/components/Ggsjzx/Investigation/components/viewVideo"
import outButton from '../common/outButton'
import axios from "axios"
import qs from "qs"
export default {
  components: {
    viewVideo,
    GSearch,
    outButton,
    upload,
  },
  data() {
    return {
      checkboxValue: [],
      dbfjdata: [],
      tableData: [],
      searchForm: {
        page: 1,
        fstate: '-1',
        search_type: "10",
        search_val: "",
        netadtype: '0',
        fstate2: '0',
      },
      predata: {},
      countAll: "0",
      loading: false,
      videoUrl: "",
      showVideo: false,
      multipleSelection: [],
      details: {},
      del: [],
      sblx: {
        '10': '责令停止发布',
        '20': '立案',
        '30': '立案中',
        '40': '立案完成',
        '50': '移送司法',
        '60': '其他',
      },
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval;
    },
    outData() {
      let fid = this.$func.getIdArr(this.multipleSelection, "fid")
      this.predata = {
        fid: fid
      }
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true
      this.initData(page)
      axios.post(this.$_ + "/Agp/Fmonitoring/jianGuanJieGuo", qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime ? item.fstarttime.substring(0, 10) : ''
              item.fendtime = item.fendtime ? item.fendtime.substring(0, 10) : ''
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        })
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _viewVideo(obj) {
      if (obj.fview_status === '0') {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true
    },
    _uploadSuccess(obj) {
      let a = {}
      a.fattach = obj.file.name
      a.fattach_url = obj.url + obj.file.response.key
      a.fattach_status = '2'
      this.attaches.push(a)
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
<style lang="scss" scoped>
.ckchuli{
  .taskMsg{
    color: #F56C6C;
    padding: 0 2px;
    font-weight: 700;
    font-size: 13px;
  }
  .notice{
    color:#909399;
    padding: 0 2px;
    font-weight: 700;
    font-size: 14px;
  }
}
</style>