<template>
  <div class="home">
    <h2>今日，</h2>
    <p class="tip">{{$dayjs().format('YYYY 年 M 月 D 日 ')}}{{weekMap[new Date().getDay()]}}，欢迎您进入浙江省媒体广告监测系统。</p>
    <el-row :gutter="10">
      <el-col :span="18">
        <el-row :gutter="10">
          <el-col :span="12">
            <el-card :body-style="{ padding: '10px' }" shadow="never">
              <div slot="header">
                <div>分离任务</div>
                <div class="pull-right"></div>
              </div>
              <div class="task-warp">
                <el-row :gutter="20">
                  <el-col :span="12" v-for="item in ggfl" :key="item.fid">
                    <div class="task-itme" @click="to('ggfl', item)">
                      <div class="task-name overflow" :title="item.fmedianame">{{item.fmedianame}}</div>
                      <div class="task-date">{{item.fissue_date}}</div>
                    </div>
                  </el-col>
                </el-row>
              </div>
            </el-card>
          </el-col>
          <el-col :span="12">
            <el-card :body-style="{ padding: '10px' }" shadow="never">
              <div slot="header">
                <div>监测任务</div>
                <div class="pull-right"></div>
              </div>
              <div class="task-warp">
                <el-row :gutter="20">
                  <el-col :span="12" v-for="item in ggjc" :key="item.fid">
                    <div class="task-itme" @click="to('ggjc', item)">
                      <div class="task-name overflow" :title="item.fmedianame">{{item.fmedianame}}</div>
                      <div class="task-date">{{item.fissue_date}}</div>
                    </div>
                  </el-col>
                </el-row>
              </div>
            </el-card>
          </el-col>
        </el-row>

        <el-row :gutter="10">
          <el-col :span="12">
            <el-card :body-style="{ padding: '10px' }" shadow="never">
              <div slot="header">
                <div>复审任务</div>
                <div class="pull-right"></div>
              </div>
              <div class="task-warp">
                <el-row :gutter="20">
                  <el-col :span="12" v-for="item in ggfs" :key="item.fid">
                    <div class="task-itme" @click="to('ggfs', item)">
                      <div class="task-name overflow" :title="item.fmedianame">{{item.fmedianame}}</div>
                      <div class="task-date">{{item.fissue_date}}</div>
                    </div>
                  </el-col>
                </el-row>
              </div>
            </el-card>
          </el-col>
          <el-col :span="12">
            <el-card :body-style="{ padding: '10px' }" shadow="never">
              <div slot="header">
                <div>终审任务</div>
                <div class="pull-right"></div>
              </div>
              <div class="task-warp">
                <el-row :gutter="20">
                  <el-col :span="12" v-for="item in ggzs" :key="item.fid">
                    <div class="task-itme" @click="to('ggzs', item)">
                      <div class="task-name overflow" :title="item.fmedianame">{{item.fmedianame}}</div>
                      <div class="task-date">{{item.fissue_date}}</div>
                    </div>
                  </el-col>
                </el-row>
              </div>
            </el-card>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="6">
        <el-card :body-style="{ padding: '10px' }" shadow="never">
          <div slot="header">
              <div>通知公告</div>
            </div>
          <div class="list-wrap">
            <div class="link overflow" v-for="item in noticeList" :key="item.fid" @click="details(item)">
              <el-tag :type="bulletinType[item.ftype].type">{{bulletinType[item.ftype].label}}</el-tag>
              {{item.ftitle}}
              <span class="pull-right">{{item.fissue_date}}</span>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {noticeList} from '@/api/Notice.js'
import {mediaIssueList} from '@/api/MediaIssue.js'
import { mapGetters } from 'vuex'
  export default {
    name: 'home',
    data() {
      return {
        weekMap: {
          '0': '星期日',
          '1': '星期一',
          '2': '星期二',
          '3': '星期三',
          '4': '星期四',
          '5': '星期五',
          '6': '星期六',
        },
        noticeList: [],
        ggfl: [],
        ggjc: [],
        ggfs: [],
        ggzs: [],
      }
    },
    computed: {
      ...mapGetters(['noticeType', 'bulletinType', 'whiteList'])
    },
    created() {
      this.getNoticeList()
      this.getTasks('ggfl')
      this.getTasks('ggjc')
      this.getTasks('ggfs')
      this.getTasks('ggzs')
    },
    methods: {
      to(type,row){
        let name = ''
        let isPaper = row.fmediaclassid === '03' ? true : false
        let isjournal = row.fmediaclassid === '04' ? true : false
        const host = window.location.host
        if(isPaper){
          name = 'papercheck'
        } else if(isjournal) {
          name = 'journalcheck'
        }else{
          if(this.whiteList.includes(host)){
            name = 'tvbccheckold'
          }else{
            if(type === 'ggfl' && (row.fmediaclassid === '01' || row.fmediaclassid === '02')){
              name = 'tvbccheck'
            }else{
              name = 'tvbccheckold'
            }
          }
        }
        this.$router.push({name: name, query: {
          taskType: type,
          ...row,
          from: this.$route.name
        }})
      },
      details(row){
        this.$router.push({
          path:'/bulletinCon',
          query: { ...row }
        })
      },
      getNoticeList(){
        let data = {
          pageSize: 7,
          nType: '',
          pageIndex: 1,
        }
        noticeList(data).then(res => {
          this.noticeList = res.data || []
        })
      },
      getTasks(type){
        let data = {
          taskType: type,
          pageSize: 32,
        }
        mediaIssueList(data).then(res => {
          if(res.data instanceof Array && res.data.length > 16) {
            res.data = res.data.slice(0,16)
            this[type] = res.data
          } else{
            this[type] = res.data || []
          }
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
.home{
  .task-warp{
    height: calc((100vh - 386px) / 2);
    overflow-y: auto;
    overflow-x: hidden;
    .task-itme{
      line-height: 30px;
      font-size: 14px;
      display: flex;
      &:hover{
        color:#409EFF;
        cursor: pointer;
        text-decoration: underline;
        font-weight: bolder;
      }
      .task-name{
        flex-grow: 1;
      }
      .task-date{
        width: 90px;
        flex-shrink: 0;
      }
    }
  }
  h2{
    margin: 10px 0;
  }
  .tip{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .el-card:nth-child(1){
    margin-bottom: 10px;
  }
  .list-wrap{
    position: relative;
    height: 232px;
    font-size: 14px;
    .link{
      color: #303133;
      display: block;
      text-decoration: none;
      line-height: 30px;
      &:hover{
        cursor: pointer;
        color:#409EFF;
        text-decoration: underline;
      }
    }
    .more-wrap{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
</style>