<template>
  <div class="creport-list">
    <el-form class="search-form"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告名称：">
            <el-input v-model="form.pnname"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告类型：">
            <el-select style="width:99%"
              v-model="form.pntype">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value,key) in pntype"
                :key="key"
                :label="value"
                :value="key"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="文件类型：">
            <el-select style="width:99%"
              v-model="form.pnfiletype">
              <el-option v-for="item in pnfiletype"
                :key="item.value"
                :label="item.label"
                :value="item.value"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="报告日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.pnendtime"
              type="daterange"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              clearable>
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            @click="_getList(1)"
            icon="el-icon-search">搜 索</el-button>
        </el-col>
      </el-row>
    </el-form>
    <el-table v-loading="loading"
      border
      :height="$store.state.GTableHeight"
      :data="tableData">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column property="pnname"
        label="报告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="130px"
        label="报告类型">
        <template slot-scope="scope">
          {{$store.state.pntype2[scope.row.pntype]}}
        </template>
      </el-table-column>
      <el-table-column width="130px"
        label="文件类型">
        <template slot-scope="scope">
          {{$store.state.pnfiletype2[scope.row.pnfiletype]['label']}}
        </template>
      </el-table-column>
      <el-table-column width="130px"
        label="报告日期"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.pnendtime || scope.row.pnstarttime }}
        </template>
      </el-table-column>
      <el-table-column width="130px"
        label="操作">
        <template slot-scope="scope">
          <a :href="scope.row.pnurl"
            target="_blank">
            <el-button icon="el-icon-download"
              type="text">下载</el-button>
          </a>
          <el-button icon="el-icon-delete"
            type="text"
            @click="_deleteReport(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    url: {
      default: '',
      type: String
    },
    rtype: {
      default: () => [],
      type: Array
    }
  },
  data() {
    return {
      form: {
        page: 1,
        pntype: '0',
        pnendtime: []
      },
      loading: false,
      tableData: [],
      countAll: '0',
      downloadUrl: '',
      pnfiletype: [
        {
          label: 'WORD',
          value: '10',
          img: './static/img/word.jpg'
        },
        {
          label: 'XLS',
          value: '30',
          img: './static/img/word.jpg'
        },
      ]
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 291)
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + this.url, qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.pnstarttime = item.pnstarttime ? item.pnstarttime.substring(0, 10) : item.pnstarttime
              item.pnendtime = item.pnendtime ? item.pnendtime.substring(0, 10) : item.pnendtime
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.tableData = []
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _deleteReport(obj) {
      this.$confirm(`确认删除 ${obj.pnname}？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let data = {}
        data.pnid = obj.pnid
        axios.post(this.$_ + '/Agp/OutWord/tpresentation_delete', qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this._getList(1)
              this.$message.success(res.data.msg)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });
    },
  },
  computed: {
    pntype() {
      let robj = this.$func.setRType(this.rtype, this)
      return robj
    }
  }
}
</script>
