<template>
  <el-date-picker :editable="false"
    :clearable="false"
    style="width: 100%;max-width: 250px;"
    v-model="v"
    type="year"
    placeholder="选择年"
    format="yyyy 年"
    value-format="yyyy"
    @change="$emit('change', $event)">
  </el-date-picker>
</template>

<script>
export default {
  data() {
    return {
      v: this.value || '',
    }
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: String
  },
  watch: {
    value(n, o) {
      this.v = n
    }
  }
}
</script>

<style scoped>
.item-year {
  display: inline-block;
}
</style>