<template>
  <div class="upload-report">
    <el-dialog title="上传报告"
      center
      :before-close="()=>$emit('close')"
      :visible.sync="show">
      <el-form :model="dialogForm"
        label-width="90px">
        <el-form-item label="上传报告：">
          <ill-annex style="display:inline-block;height:29px;float: left;margin-right:10px;"
            @uploadSuccess="_uploadSuccess"
            @uploadError="_uploadError"></ill-annex>
          <el-button type="text"
            v-for="(ffiles,i) in dialogForm.ffiles"
            :key="i">{{ ffiles.name }}</el-button>
        </el-form-item>
        <el-form-item label="报告名称：">
          <el-input v-model="dialogForm.pnname"
            style="width:50%"></el-input>
        </el-form-item>
        <el-form-item label="报告类型：">
          <el-select v-model="dialogForm.pntype"
            style="width:50%">
            <el-option v-for="(value,key) in pntype"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="文件类型：">
          <el-select v-model="dialogForm.pnfiletype"
            style="width:50%">
            <el-option v-for="item in dfileType"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="报告日期：">
          <el-date-picker :editable="false"
            style="width: 50%"
            v-model="dialogForm.pnendtime"
            value-format="yyyy-MM-dd"
            type="date"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_submit"
          :loading="$store.state.bloading">提交</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import illAnnex from "../../clue/illAnnex"
import { mapState } from 'vuex'
export default {
  components: { illAnnex },
  props: {
    pntype: {
      type: Object,
      default: () => {},
      required: true
    }
  },
  data() {
    return {
      show: true,
      dialogForm: {
        pnname: '',
        ffiles: [], //上传的附件，
        pntype: '30',
        pnfiletype: '10',
        pnendtime: this.$dayjs().format('YYYY-MM-DD')
      },
    }
  },
  created() {
    this._getToken()
  },
  computed: {
    ...mapState(['pnfiletype']),
    dfileType() {
      if (this.dialogForm.pntype === '10' || this.dialogForm.pntype === '60') {
        this.dialogForm.pnfiletype = '30'
        return Array.of(this.pnfiletype[1])
      } else {
        this.dialogForm.pnfiletype = '10'
        return Array.of(this.pnfiletype[0])
      }
    },
  },
  methods: {
    _uploadSuccess(f) {   //文件上传成功
      let arr = f.name.split('.')
      let obj = { name: '', url: '' }
      obj.name = f.name
      obj.url = `${this.bucket_url}${f.response.key}?attname=${f.name}`
      this.dialogForm.ffiles = Array.of(obj)
      this.dialogForm.pnname = arr[0]
    },
    _uploadError() {      //文件上传失败
      this.$message.error('上传失败');
    },
    _submit() {
      let data = { ...this.dialogForm }
      axios.post(this.$_ + '/Agp/OutWord/upload_report', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('reload')
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    }
  },
}
</script>