<template>
  <div class="line-chart">
    <div ref="chart"
      style="height: 400px"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
export default {
  props: {
    title: {
      default: '',
      type: String,
    },
    xdata: {
      default: () => [],
      type: Array,
    },
    ydata: {
      default: () => [],
      type: Array,
    },
  },
  data() {
    return {
      chart: null,
      option: {
        title: {
          text: this.title,
          left: 'center',
          textStyle: {
            color: '#555',
            fontStyle: 'normal',
            fontWeight: '500',
            fontFamily: '微软雅黑',
            fontSize: 22
          }
        },
        xAxis: {
          type: 'category',
          axisLabel: {
            formatter: function (name) {
              return (name.length > 12 ? (name.slice(0, 12) + "...") : name);
            },
            interval: 0,
            rotate: 45,
            margin: 3,
            textStyle: {
              color: "#333"
            }
          },
          margin: 2,
          data: this.xdata,
          axisTick: {
            alignWithLabel: true
          },
        },
        grid: {
          show: true,
          bottom: "30%" //
        },
        tooltip: {},
        yAxis: {
          type: 'value'
        },
        series: {
          data: this.ydata,
          type: 'bar',
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          },
        }
      }
    }
  },
  watch: {
    xdata(){
      this.chart.setOption(this.option, true)
    },
    ydata() {
      this.option.series.data = this.ydata
      this.option.xAxis.data = this.xdata
      this.option.title.text = this.title
      this.chart.setOption(this.option, true)
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.chart = echarts.init(this.$refs.chart, 'macarons')
      this.chart.setOption(this.option)
      window.addEventListener("resize", this.chart.resize)
    },
  }
}
</script>
<style scoped>
.line-chart {
  height: 400px;
  margin-top: 16px;
}
</style>