<template>
  <div class="tableView">
    <el-table :data="tabledata" border stripe height="300">
      <el-table-column fixed
        label="排名"
        type="index"
        width="80">
      </el-table-column>
      <el-table-column fixed
        label="地区名称"
        v-if="tag === '1'"
         prop="regionname">
         <template slot-scope="scope">
          <span :class="Number(scope.row.wftiaoci) > 0 ? 'red' : ''" v-if="scope.row.regionname">{{ scope.row.regionname }}</span>
          <span v-else>全部</span>
         </template>
      </el-table-column>

      <el-table-column fixed
        :label="className"
        v-if="tag !== '1'"
         prop="adclassname">
          <template slot-scope="scope">
           <span :class="Number(scope.row.wftiaoci) > 0 ? 'red' : ''"  v-if="scope.row.keyname">{{ scope.row.keyname }}</span>
            <span v-else>全部</span>
         </template>
      </el-table-column>

      <el-table-column fixed
        :label="areaName"
        v-if="tag !== '1' && tag !== '5' && tag !== '2'"
        prop="regionname">
        <template slot-scope="scope">
           <span v-if="scope.row.regionname">{{ scope.row.regionname }}</span>
            <span v-else>全部</span>
         </template>
      </el-table-column>
      <el-table-column fixed
        label="媒介机构类型"
        v-if="tag === '4'"
        prop="mclassname">
        <template slot-scope="scope">
           <span v-if="scope.row.mclassname">{{ scope.row.mclassname }}</span>
            <span v-else>全部</span>
         </template>
      </el-table-column>
     <el-table-column label="广告条次">
        <el-table-column prop="ztiaoci"
          label="总条次">
        </el-table-column>
        <el-table-column prop="wftiaoci"
          label="违法条次"
          width="150">
        </el-table-column>
        <el-table-column prop="wfltiaoci"
          width="120"
          label="条次违法率">
        </el-table-column>
      </el-table-column>
      <el-table-column label="广告时长(单位:秒)"  v-if="tag != '03'">
        <el-table-column prop="zshichang"
          label="总时长">
        </el-table-column>
        <el-table-column prop="wfshichang"
          label="违法时长"
          width="150">
        </el-table-column>
        <el-table-column prop="wflshichang"
          width="120"
          label="时长违法率">
        </el-table-column>
      </el-table-column>
    </el-table>
    <!-- <div class="page" v-if="tabledata.length != 0">
      <el-pagination background layout="total" :total="tabledata.length - 1"></el-pagination>
    </div> -->
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        default: '',
        type: String
      },
      tabledata: {
        default: () => [],
        type: Array
      },
      tag: {
        default: '',
        type: [String, Number]
      },
    },
    data() {
      return{
      }
    },
    computed: {
      areaName() {
        switch (this.tag) {
          case '2':
            return '所属地区';
          case '3':
            return '所属地区';
          case '4':
            return '媒介机构所在地';
          default:
            return '所属地区';
        }
      },
      className() {
        switch (this.tag) {
          case '2':
            return '类别名称';
          case '3':
            return '媒体名称';
          case '4':
            return '机构名称';
          case '5':
            return '广告名称';
          default:
            return '';
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
.tableView{
  .red{
    color: red;
  }
  .page{
    text-align: right;
  }
}

</style>