<template>
  <div>
    <el-form>
      <el-col :span="4">
        <el-form-item label="选择年"
          label-width="61px">
          <el-select v-model="temp.years"
            style="width:100%;max-width:130px;"
            placeholder="选择年"
            @change="yearChange">
            <el-option v-for="item in timeSelectLink.years"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="4">
        <el-form-item label="选择时间段"
          label-width="87px">
          <el-select v-model="temp.timetypes"
            style="width:100%;max-width:130px;"
            placeholder="选择时间段"
            @change="_changeTime">
            <el-option v-for="(value,key) in timeSelectLink.timetypes"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="4">
        <el-form-item label="选择时间"
          label-width="73px">
          <el-select v-model="temp.timeval"
            v-if="!isday"
            style="width:180px;"
            placeholder="选择时间"
            @change="$store.commit('_setFormValue',temp)">
            <el-option v-for="item in timeSelectLink.timeval[temp.timetypes]"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <el-date-picker :editable="false"
            v-else
            style="max-width:280px;"
            v-model="searchDate"
            :picker-options="pickerOptions"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
            :clearable="false"
            value-format="yyyy-MM-dd"
            @change="dayChange">
          </el-date-picker>
        </el-form-item>
      </el-col>
    </el-form>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    sdata: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      temp:{
        years: new Date().getFullYear(),
        timetypes: '30',
        timeval: 1,
      },
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
      searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
    }
  },
  created() {
  },
  computed: {
    ...mapState(['timeSelectLink']),
    isday() {
      return Number(this.temp.timetypes) === 0
    },
  },
  methods:{
    searchData() {
      return this.temp
    },
    yearChange(val) {
      const time = this.$dayjs().format('YYYY-MM-DD')
      const newtime = `${val}-${time.substr(5)}`
      this.searchDate = [newtime, newtime]
    },
    dayChange(val) {
      this.temp.timeval = val.join(',')
    },
    _changeTime(val) {
      if (Number(val) === 0) {
        const time = this.$dayjs().format('YYYY-MM-DD')
        const newtime = `${this.temp.years}-${time.substr(5)}`
        this.searchDate = [newtime, newtime]
        this.temp.timeval = this.searchDate.join(',')
      } else {
        this.temp.timeval = this.timeSelectLink.timeval[this.temp.timetypes][0].value
      }
    },
  }
}
</script>

<style lang="scss" scoped>

</style>