
<template>
  <div class="jchuizong">
    <!-- 搜索条件 -->
    <el-form :model="temp">
      <el-row>
        <el-col :span="4">
          <el-form-item label="选择年"
            label-width="61px">
            <el-select v-model="temp.year"
              style="width:100%;max-width:130px;"
              placeholder="选择年"
              @change="_yearChange">
              <el-option v-for="(value,key) in Gtime.year"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="选择时间段"
            label-width="87px">
            <el-select v-model="temp.times_table"
              style="width:100%;max-width:130px;"
              placeholder="选择时间段"
              @change="_changeTime">
              <el-option v-for="(value,key) in Gtime.times_table"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="选择时间"
            label-width="73px">
            <el-select v-model="temp.table_condition"
              v-if="!isday"
              style="width:100%;max-width:220px;"
              placeholder="选择时间"
              @change="$store.commit('_setstime',temp)">
              <el-option v-for="(value,key) in Gtime[temp.times_table]"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
            <el-date-picker :editable="false"
              v-else
              style="width:100%;max-width:220px;"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd"
              @change="dayChange">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label-width="5px">
            <span v-if="isgj && userInfo.fregulatorlevel===30">
              <el-switch v-model="temp.is_show_fsend"
                active-value="1"
                inactive-value="2"
                active-text="含待确认广告"
                @change="$store.commit('_setstime',temp)">
              </el-switch>
            </span>
            <el-switch v-if="isgj"
              style="margin-left:20px;"
              v-model="temp.is_show_longad"
              active-value="1"
              inactive-value="0"
              active-text="含栏目广告"
              inactive-text=""
              @change="$store.commit('_setstime',temp)">
            </el-switch>
          </el-form-item>
        </el-col>
      </el-row>
      <el-tabs v-model="activeName"
        type="card">
        <el-tab-pane label="地域排名"
          name="1">
          <region-rankings v-if="activeName === '1'" :isjc="isjc" />
        </el-tab-pane>
        <el-tab-pane label="广告类别排名"
          name="2">
          <category-rankings v-if="activeName === '2'" :isjc="isjc" />
        </el-tab-pane>
        <el-tab-pane label="媒体排名"
          name="3">
          <media-rankingss v-if="activeName === '3'" :isjc="isjc" />
        </el-tab-pane>
        <el-tab-pane label="媒介机构排名"
          name="4">
          <mediaorg-rankings v-if="activeName === '4'" :isjc="isjc" />
        </el-tab-pane>
        <el-tab-pane label="跨地域广告排名"
          name="5"
          v-if="isgj">
          <crossregion-rankings v-if="activeName === '5'" :isjc="isjc" />
        </el-tab-pane>
      </el-tabs>
    </el-form>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import regionRankings from './tabs/regionRankings.vue'
import categoryRankings from './tabs/categoryRankings.vue'
import crossregionRankings from './tabs/crossregionRankings.vue'
import mediaorgRankings from './tabs/mediaorgRankings.vue'
import mediaRankingss from './tabs/mediaRankingss.vue'
export default {
  components: {
    regionRankings,
    categoryRankings,
    crossregionRankings,
    mediaorgRankings,
    mediaRankingss
  },
  computed: {
    ...mapState(['Gtime', 'isgj', 'userInfo', 'selection']),
    isjc() {
      return this.$route.name === 'jchuizong'
    },
    isday() {
      return this.selection.times_table === 'tbn_ad_summary_day'
    }
  },
  data() {
    return {
      temp: {
        year: '',
        times_table: '',
        table_condition: '',
        is_show_longad: '1',
        isfixeddata: '0',
        is_show_fsend: '2',
      },
      activeName: '1',
      loading: false,
      searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this.$store.commit('_setselection', { key: 'isfixeddata', value: '0' })
    this.temp = { ...this.temp, ...this.selection }
    if (this.selection.times_table === 'tbn_ad_summary_day') {
      this.$set(this, 'searchDate', this.selection.table_condition.split(','))
    }
  },
  methods: {
    dayChange(val) {
      this.temp.table_condition = val.join(',')
      this.$store.commit('_setstime', this.temp)
    },
    _yearChange(val) {
      this._changeTime(this.temp.times_table)
      this.$store.commit('_setstime', this.temp)
    },
    _changeTime(val) {
      if (val === 'tbn_ad_summary_half_year') {
        let obj = {}
        obj[`${this.temp.year}-01-01`] = `${this.temp.year} 年上半年`
        obj[`${this.temp.year}-07-01`] = `${this.temp.year} 年下半年`
        let data = {
          name: val,
          value: obj
        }
        this.$store.commit('_setGtime', data)
      } else if (val === 'tbn_ad_summary_year') {
        let obj = {}
        obj[this.temp.year] = `${this.temp.year} 年`
        let data = {
          name: val,
          value: obj
        }
        this.$store.commit('_setGtime', data)
      }

      if (val !== 'tbn_ad_summary_day') {
        let obj = this.Gtime[val]
        let fkey = Object.keys(obj)
        this.temp.table_condition = fkey[0]
        this.$store.commit('_setstime', this.temp)
      } else {
        this.temp.table_condition = this.searchDate.join(',')
        this.$store.commit('_setstime', this.temp)
      }
    },
  }
}
</script>
<style lang="scss" >
.cluetracking .el-table th > .cell {
  text-align: center;
}
</style>
