<template>
  <div class="lajatj">
    <el-form ref="sform" label-width="100px">
      <el-row>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布日期">
            <el-date-picker
              v-model="issue"
              style="width: 100%"
              type="daterange"
              value-format="yyyy-MM-dd HH:mm:ss"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :picker-options="pickerOptions">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="派发日期">
            <el-date-picker
              v-model="send"
              style="width: 100%"
              type="daterange"
              value-format="yyyy-MM-dd HH:mm:ss"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :picker-options="pickerOptions">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="处理截止日期">
            <el-date-picker
              v-model="result"
              style="width: 100%"
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :picker-options="pickerOptions">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="地域等级">
            <el-radio-group v-model="region" size="mini">
              <el-radio-button label="0">全省</el-radio-button>
              <el-radio-button label="1">省级</el-radio-button>
              <el-radio-button label="2">地市</el-radio-button>
              <el-radio-button label="3">区县</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item class="text-right">
            <el-button type="primary" plain @click="getList(1)" :loading="loading">导 出</el-button>
            <el-button type="primary" @click="getList()" :loading="loading">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData" border stripe highlight-current-row :height="$store.state.GTableHeight" v-loading="loading">
      <el-table-column label="序号" type="index" width="50" fixed>
        <template slot-scope="scope">
          {{scope.row.region_name === '合计' ? '' : scope.$index + 1}}
        </template>
      </el-table-column>
      <el-table-column label="管辖机构" fixed prop="region_name"> </el-table-column>
      <el-table-column label="媒体数量" prop="media_count"> </el-table-column>
      <el-table-column label="线索数量" prop="cule_count"> </el-table-column>
      <el-table-column label="线索查看">
        <el-table-column label="查看量" prop="ck_count"> </el-table-column>
        <el-table-column label="查看率" prop="ckl"> </el-table-column>
      </el-table-column>
      <el-table-column label="线索复核">
        <el-table-column label="通过" prop="pass_count"> </el-table-column>
        <el-table-column label="未通过" prop="unpass_count"> </el-table-column>
      </el-table-column>
      <el-table-column label="线索处理">
        <el-table-column label="线索处理">
          <el-table-column label="处理量" prop="cl_count"> </el-table-column>
          <el-table-column label="处理率">
            <template slot-scope="scope">
             <span :class="scope.row.cll == '100%'? '' : 'red'">{{ scope.row.cll }}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="立案">
          <el-table-column label="已立案" prop="yla"> </el-table-column>
          <el-table-column label="已结案" prop="yja"> </el-table-column>
        </el-table-column>
        <el-table-column label="线索处理方式">
          <el-table-column label="责令停止发布" width="100" prop="tzfb"> </el-table-column>
          <el-table-column label="立案" prop="lian"> </el-table-column>
          <el-table-column label="移交司法机关" width="100" prop="yjsf"> </el-table-column>
          <el-table-column label="其他" prop="others"> </el-table-column>
        </el-table-column>
      </el-table-column>
    </el-table>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="cdownload">
    </out-file>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import outFile from '@/components/common/outFile'
export default {
  components: {outFile},
  data() {
    return {
      send: [],
      result: '',
      issue: [],
      tableData: [],
      pickerOptions: {
        disabledDate: time => {
          return time > + new Date()
        }
      },
      durl: '',
      showdownload: false,
      loading: false,
      region: '2'
    }
  },
  created() {
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (70 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    getList(output){
      if(output) {
        this.showdownload = true
      } else {
        this.loading = true
      }
      const [s_fsend_datetime = '', e_fsend_datetime = ''] = this.send || []
      const [s_fissue_date = '', e_fissue_date = ''] = this.issue || []
      const fresult_date = this.result || ''
      const data = {
        s_fsend_datetime,
        e_fsend_datetime,
        fresult_date,
        s_fissue_date,
        e_fissue_date,
        is_out_report: output || 0,
        region: this.region
      }
      axios.post(this.$_ + '/Agp/StaIllData/sta_cule_data', qs.stringify(data)).then(res => {
        if(res.data.code === 0){
          if(output){
            this.durl = res.data.data
          }else{

            this.tableData = res.data.data
            this.loading = false
          }
        }
      })
    },
    cdownload() {
      this.showdownload = false
      this.durl = ''
    },
  },
}
</script>

<style lang="scss" scoped>
.lajatj{
  .red {
    color: red;
  }
}


</style>