
<template>
  <div class="jchuizong">
    <!-- 搜索条件 -->
    <div>
      <el-row>
        <Tsearch></Tsearch>
      </el-row>
      <el-row>
        <el-form :inline="true" :model="formData" class="demo-form-inline">
          <el-form-item>
            <el-select v-model="formData.regionlevel"
              style="width:120px"
              placeholder="选择地域"
              @change="changeRegion">
              <el-option v-for="(value,key) in levelchild.zhejiang1[$store.state.userInfo.fregulatorlevel]"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-cascader :options="areaArr"
              v-if="showRegion"
              clearable
              style="width:250px"
              placeholder="选择地区"
              collapse-tags
              :props="areaOptions"
              @change="regionChange"
              v-model="formData.regionid">
            </el-cascader>
            <el-checkbox v-model="iscontain" @change="_getMediaList()" style="margin-left: 10px">是否包含下级</el-checkbox>
          </el-form-item>
          <el-form-item>
            <el-select v-model="formData.mclass"
              multiple
              collapse-tags
              style="width:130px"
              placeholder="全部媒体类型"
              @change="_getMediaList()">
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select style="width:176px"
              v-model="formData.fisxinyong"
              clearable
              multiple
              collapse-tags
              @change="_getMediaList()"
              placeholder="选择信用评价媒体">
              <el-option v-for="(val,key) in creditMedia"
                :key="key"
                :label="val.label"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select style="width:200px"
              v-model="formData.mediaid"
              clearable
              multiple
              collapse-tags
              placeholder="请选择发布媒介"
              width="99%">
              <el-option v-for="item in mediaArr"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-cascader style="width:160px"
              :options="$store.state.adClassOptions"
              :props="$store.state.propsOptions2"
              collapse-tags
              :show-all-levels='false'
              placeholder="选择广告类别"
              v-model="formData.fadclasscode"
              clearable>
            </el-cascader>
          </el-form-item>
          <el-form-item>
            <el-select v-model="formData.dimension"
              style="width:120px"
              placeholder="选择类别">
              <el-option v-for="(value,key) in  Adata.onther_class"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-checkbox v-model="xzqh">行政区划排序</el-checkbox>
          </el-form-item>
          <!-- <el-form-item>
            <el-checkbox v-model="fisxinyong">仅信用评价媒体</el-checkbox>
          </el-form-item> -->
          <el-button type="primary"
            icon="el-icon-search"
            @click="_getData"
            class="left-margin pull-right">搜索</el-button>
          <el-dropdown @command="_outputExcel"
            class="pull-right">
            <el-button type="primary">
              导出<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="1">Excel</el-dropdown-item>
              <el-dropdown-item command="2"
                v-if="['371500','370300','100000','371300'].includes(userInfo.regionid)">Word</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-form>
      </el-row>
      <el-row :gutter="24">
        <el-col>
          <region-rankings v-if="typeName === '1'" ref="region"
            v-loading="loading"
            element-loading-background="#fff"
            :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle"/>
          <category-rankings v-if="typeName === '2'"
            v-loading="loading"
            element-loading-background="#fff"
            :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle" ref="category" />
          <media-rankingss v-if="typeName === '3'"
            v-loading="loading"
            element-loading-background="#fff"
          :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle" ref="media" />
          <mediaorg-rankings v-if="typeName === '4'"
            v-loading="loading"
            element-loading-background="#fff"
            :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle"/>
        </el-col>
      </el-row>
    </div>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import { Tree } from '../../../../static/js/Tree'
import Tsearch from './common/Tsearch.vue'
import regionRankings from './tabs/regionRankings.vue'
import categoryRankings from './tabs/categoryRankings.vue'
import crossregionRankings from './tabs/crossregionRankings.vue'
import mediaorgRankings from './tabs/mediaorgRankings.vue'
import mediaRankingss from './tabs/mediaRankingss.vue'
import mediatypeRankings from './tabs/mediatypeRankings.vue'
import outFile from '../../common/outFile'
export default {
  components: {
    outFile,
    Tsearch,
    regionRankings,
    categoryRankings,
    crossregionRankings,
    mediaorgRankings,
    mediaRankingss,
    mediatypeRankings
  },
  data() {
    return {
      areaArr: [],
      mediaArr: [],
      formData: {
        regionlevel: "0",
        mclass: [],
        ad_class: [],
        dimension: '1',
        mediaid: [],
        regionid: [],
        fadclasscode: '',
        fisxinyong: ['1'],
      },
      durl: '',
      iscontain: true,
      xzqh: true,
      showdownload: false,
      xdata: [],
      ydata: [],
      tableData: [],
      loading: false,
      areaOptions: {
        value: 'fid',
        label: 'fname',
        children: 'children',
        multiple: true,
        checkStrictly: true,
        lazy: false,
        emitPath: false,
      },
      showRegion: true,
      searchData:{},
      creditMedia: {
        '1' : {
          label: '信用评价媒体'
        },
        '2' : {
          label: '非信用评价媒体'
        },
      }
    }
  },
  created() {
    this.formData = {...this.tabSearchData}
    this.iscontain = this.tabSearchData.iscontain
    this.xzqh = this.tabSearchData.districtsOrder
    this._getMediatregionTj()
    this._getMediaList(true)
    this._getData()
  },
  computed: {
    ...mapState(['isgj', 'userInfo', 'selection', 'Gsresult', 'levelchild', 'Adata', 'tabSearchData','Gtime']),
    Mediatype() {
      return this.$store.state.mediaType5
    },
    typeName() {
       if(this.$route.name == 'regionRank'){
        return '1'
      } else if(this.$route.name == 'adCategoryRank') {
         return '2'
      } else if(this.$route.name == 'mediaRank') {
         return '3'
      } else if (this.$route.name == 'mediaOrgRank') {
        return '4'
      } else {
        return ''
      }
    },
    charttitle() {
      let str = ''
      switch (this.$route.name) {
        case 'regionRank':
          str = '地域排名'
          break
        case 'adCategoryRank':
          str = '广告类别排名'
          break
        case 'mediaRank':
          str = '媒体排名'
          break
        case 'mediaOrgRank':
          str = '媒介机构排名'
          break
      }
			if(this.Gsresult.timetypes != 0){
				let time = this.Gtime.timeval[this.Gsresult.timetypes].filter(i =>{
					return i.value == this.Gsresult.timeval
        })
        let a =`${this.Gsresult.years}年${time[0].label}广告发布情况（${str}）`
        return  a
			} else {
				let day = this.Gsresult.timeval.split(',')
				return `${this.Gsresult.years}年${day[0]}至${day[1]}广告发布情况（${str}）`
			}
    },
  },
  watch: {
    '$route.name': {
      handler(val){
        this._getData()
      },
      deep: true
    }
  },
  methods: {
    regionChange(val){
      const all = val.find(i => i.length > 6)
      if(all){
        this.formData.regionid = Array.from(new Set([...this.formData.regionid, ...all.split(',')])).filter(i => i.length === 6)
      }else{
        this.formData.regionid = val
      }
      this._getMediaList()
    },
    _getMediatregionTj() {
      axios.post(this.$_ + '/Api/Function/getRegionList', JSON.stringify({ regionlevel: this.formData.regionlevel, selalltype: 1 })).then(res => {
        if (res.data.code === 0) {
          this.showRegion = false
          this.$nextTick(() => {
            this.showRegion = true
            if(this.formData.regionlevel == 5) {
              this.areaArr = res.data.data
            } else {
              let fpid = this.formData.regionlevel == '0' ? '100000' : res.data.data[0]['fpid']
              this.areaArr = new Tree(res.data.data, 'fpid', 'fid').init(fpid)
            }
          })
        } else {
          this.areaArr = []
        }
      }).catch(() => {
        this.$func._error()
      })
    },
    _initdata() {
      let data = { ...this.Gsresult, ...this.formData }
      data.iscontain =  this.iscontain ? 1 : 0
      data.districtsOrder =  this.xzqh ? 1 : 0
      data.classify = this.typeName
      const obj = {
        ...this.formData,
        districtsOrder: this.xzqh,
        iscontain: this.iscontain
      }
      this.searchData = obj
      this.$store.commit('_setSearchTabForm', obj)
      const classArr = data.fadclasscode.map(i => {
        i = i[i.length - 1]
        return i
      })
      data.fadclasscode = classArr
      this.preData = data
      return data
    },
    _getData() {
      this.loading = true
      let data = this._initdata()
      let url = '/Agp/Gsummary/index'
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          const obj ={
            1: 'ztiaoshu',
            2: 'wftiaoshu',
            3: 'wfltiaoshu',
            11: 'ztiaoci',
            12: 'wftiaoci',
            13: 'wfltiaoshu',
            21: 'zshichang',
            22: 'wfshichang',
            23: 'wflshichang',
          }
          if (res.data.data instanceof Array && res.data.data.length >= 1) {
            let edata = res.data.data
            edata = edata.slice(0,20)
            this.ydata = edata.map(i => {
              const r = i[ obj[this.formData.dimension] ] || '0'
              return r.replace('%','')
            })
            this.xdata = edata.map(i => {
              return i.keyname
            })
            let data = res.data.data
            data.push(res.data.data_hj)
            this.tableData = data
            // this.loading = false
          } else {
            this.xdata = []
            this.ydata = []
            this.tableData = []
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _outputExcel(type) {
      this._getData()
      let data = this._initdata()
      data.outtype = type
      this.showdownload = true
      let url = '/Agp/Gsummary/index'
      axios.post(this.$_ + url, qs.stringify(data))
      .then(res => {
        this.durl = res.data.data
      })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    changeRegion(val){
      this.formData.regionid = []
      this._getMediatregionTj()
      if(val === '0' || val === '5'){
        this.$store.commit('showIncludeSub', false)
      }else{
        this.$store.commit('showIncludeSub', true)
      }
    },
    _getMediaList(val) {
      if(!val) {
        this.formData.mediaid = ''
      } else {
        // this.formData.mediaid = this.$store.state.searchData.mediaid
      }
      const data = {
        regionlevel: this.formData.regionlevel,
        regionid: this.formData.regionid,
        mclass: this.formData.mclass,
        iscontain: this.iscontain ? 1 : 0,
        fisxinyong: this.formData.fisxinyong
      }
      axios.post(this.$_ + '/Api/Function/getMediaList', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
  }
}
</script>
