<template>
  <div class="bulletin">
    <el-form :model="searchForm"
      ref="searchForm"
      inline
      @keyup.native.enter="getList()">
      <el-form-item label="标题名称：">
        <el-input v-model="searchForm.nTitle" clearable></el-input>
      </el-form-item>
      <el-form-item label="公告类型：">
        <el-select v-model="searchForm.nType" clearable>
          <el-option v-for="(value,key) in bulletinType"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="日期范围：">
        <el-date-picker v-model="searchForm.issueDate"
          clearable
          :picker-options="pickerOptions"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="getList()"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="danger"
          @click="reset()"
          icon="el-icon-refresh"
          plain>重 置</el-button>
        <el-button type="primary"
          @click="addList()"
          plain>添加公告</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight" v-loading="loading">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="标题名称" prop="ftitle"></el-table-column>
      <el-table-column label="公告类型" prop="ftype">
        <template slot-scope="scope">
          <el-tag :type="scope.row.ftype ==='1' ? 'success' : scope.row.ftype ==='2' ? 'primary' : 'danger'">{{ scope.row.ftype ==='1' ? '安全' : scope.row.ftype ==='2' ? '通知' : '升级'}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="发布时间" prop="fissue_date"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" plain @click="detail(scope.row)">查 看</el-button>
          <el-button type="success" plain @click="editNotice(scope.row)">编 辑</el-button>
          <el-popover
            placement="top"
            width="160"
            title="提示"
            v-model="scope.row.visible">
            <p>确定要删除此条公告吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
              <el-button type="primary" size="mini"  @click="deleteNotice(scope.row)">确定</el-button>
            </div>
            <el-button type="danger" plain slot="reference" style="margin-left: 10px;">删 除</el-button>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="getList"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { noticeList,noticeDel } from '@/api/Notice.js'
export default {
  name: 'bulletin',
  data() {
    return {
      searchForm: {
        nTitle: '',
        issueDate: []
      },
      tableData: [],
      page: {
        pageSize: 20,
        pageIndex: 1
      },
      total: 0,
      sourceForm: '',
      tableHeight: '300px',
      loading: false,
    }
  },
  computed: {
    ...mapGetters(['pickerOptions', 'bulletinType']),
  },
  created() {
    if(this.$route.query.nType) this.searchForm.nType = this.$route.query.nType
    this.sourceForm = JSON.stringify(this.searchForm)
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 134)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 134)
    }
  },
  methods: {
    getList(page = 1) {
       this.loading = true
      this.page.pageIndex = page
      let data = {
        ...this.searchForm,
        ...this.page
      }
      noticeList(data).then(res => {
        this.tableData = res.data
        this.total = Number(res.count)
        this.loading = false
      })
      .catch(err => {
        this.loading = false
      })
    },
    addList() {
      this.$router.push({
        path:'/addbulletin',
      })
    },
    editNotice({ fid }) {
      this.$router.push({
        path:'/addbulletin',
        query:{ fid }
      })
    },
    deleteNotice(row) {
      row.visible = true
      this.loading = true
      noticeDel({fid: row.fid}).then( res => {
        this.$notify({
          message: res.msg,
          type: 'success',
          duration: 1000
        })
        this.loading = false
        this.getList()
      })
      .catch(err => {
        this.loading = false
      })
    },
    detail({ fid }) {
      this.$router.push({
        path:'/bulletinCon',
        query: { fid }
      })
    },
    handleSizeChange(size){
      this.page.pageSize = size
      this.getList(this.page.pageIndex)
    },
    reset(){
      this.searchForm = JSON.parse(this.sourceForm)
      this.getList(1)
    }
  },
}
</script>

<style lang="scss" scoped>
</style>