<template>
  <div class="sbchuli">
    <g-search ref="gsearch"></g-search>
    <sjfh v-if="activeTab ==='1'"
      :isbs="true"></sjfh>
  </div>
</template>
<script>
import ajlb from './../Ggsjzx/Investigation/components/ajlb.vue'
import GSearch from './../Ggsjzx/common/GSearch.vue'
import ajpflb from './../Ggsjzx/Investigation/components/ajpflb.vue'
import sjfh from './../Ggsjzx/Investigation/components/sjfh.vue'
export default {
  components: {
    ajlb,
    ajpflb,
    sjfh,
    GSearch
  },
  data() {
    return {
      activeTab: '1'
    }
  },
}
</script>


<style scoped>
</style>