<template>
  <div class="sj-fuhetz"
    v-loading="$store.state.bloading">
    <el-form :inline="true"
      ref="sform"
      :model="searchForm">
      <g-search></g-search>
      <el-form-item label="广告名称：">
        <el-input v-model="searchForm.ad_name"
          placeholder="请输入广告名称关键字"></el-input>
      </el-form-item>
      <el-form-item label="地域名称：">
        <el-input v-model="searchForm.re_name"
          placeholder="请输入地域名称关键字"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          icon="el-icon-tickets"
          @click="_getList(1)">查询</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column label="省局意见">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showAttach(scope.row,'20')">{{scope.row.tshengj_result}}</el-button>
          <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_username}}</div>
          <div v-if="scope.row.tshengj_result">{{scope.row.tshengj_time}}</div>
        </template>
      </el-table-column>
      <el-table-column label="市局意见">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showAttach(scope.row,'10')">{{scope.row.tshij_result}}</el-button>
          <div v-if="scope.row.tshij_result">{{scope.row.tshij_username}}</div>
          <div v-if="scope.row.tshij_result">{{scope.row.tshij_time}}</div>
        </template>
      </el-table-column>
      <el-table-column label="县局意见">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_showAttach(scope.row,'0')">{{scope.row.tquj_result}}</el-button>
          <div v-if="scope.row.tquj_result">{{scope.row.tquj_username}}</div>
          <div v-if="scope.row.tquj_result">{{scope.row.tquj_time}}</div>
        </template>
      </el-table-column>
      <el-table-column label="媒体分类">
        <template slot-scope="scope">
          <span v-if="scope.row.fmedia_class === '1'">电视</span>
          <span v-if="scope.row.fmedia_class === '2'">广播</span>
          <span v-if="scope.row.fmedia_class === '3'">报纸</span>
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别">
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称">
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体">
      </el-table-column>
      <el-table-column min-width="110"
        label="违法表现代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span type="text"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="130"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button v-if="scope.row.fmedia_class !== '3'"
            type="text"
            icon="el-icon-view"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
          <a v-else
            :href="scope.row.fjpgfilename"
            target="_blank">
            <el-button type="text"
              icon="el-icon-view">
              查看
            </el-button>
          </a>
          <a :href="scope.row.favifilename+'?attname='"
            target="_blank">
            <el-button type="text"
              v-if="scope.row.fmedia_class !== '3'"
              icon="el-icon-download">下载</el-button>
          </a>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <attach-dialog v-if="showAttach"
      :zjfjdata="zjfjdata"
      @close="showAttach = false">
    </attach-dialog>
  </div>
</template>

<script>
import GSearch from './../Ggsjzx/common/GSearch.vue'
import attachDialog from "./../Ggsjzx/Investigation/components/attachDialog";
import axios from 'axios'
import qs from 'qs'
import viewVideo from "./../Ggsjzx/Investigation/components/viewVideo";
export default {
  components: {
    viewVideo,
    attachDialog,
    GSearch
  },
  data() {
    return {
      formInline: {},
      tableData: [],
      searchForm: {
        page: 1
      },
      countAll: "0",
      details: {},
      showVideo: false,
      showAttach: false,
      zjfjdata: []
    };
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this._setGvalue()
      this.searchForm.page = page || 1
      axios.post(this.$_ + "/Agp/Gckfuhe/fhjieguo_list", qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.tgj_time) {
                item.tgj_time = item.tgj_time.substring(0, 10)
              }
              if (item.tshengj_time) {
                item.tshengj_time = item.tshengj_time.substring(0, 10)
              }
              if (item.tshij_time) {
                item.tshij_time = item.tshij_time.substring(0, 10)
              }
              if (item.tquj_time) {
                item.tquj_time = item.tquj_time.substring(0, 10)
              }
              return item
            });
            this.countAll = res.data.data.count;
            this.$store.commit('_bloading', false)
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.$store.commit('_bloading', false)
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _viewVideo(obj) {
      if (obj.fview_status === '0') {
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true;
    },
    _showAttach(obj, lv) {
      let data = {
        fupload_trelevel: lv,
        fid: obj.fid
      }
      axios.post(this.$_ + '/Agp/Gfhchuli/fjjieguo', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.zjfjdata = res.data.zjfjdata
            this.showAttach = true
          }
        })
    }
  }
};
</script>

<style scoped>
</style>