<template>
  <div class="fjsjfuhe">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="广告名称：">
            <el-input v-model="form.fadname"
              placeholder="请输入广告名称"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="媒体类型：">
            <el-select v-model="form.fmediaclass"
              placeholder="请选择"
              style="width:100%">
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.adClassOptions"
              :props="$store.state.propsOptions"
              v-model="fadclasscode"
              clearable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="4">
          <el-form-item label="违法类型：">
            <el-select :style="searchStyle"
              v-model="form.fillegaltypecode"
              clearable
              placeholder="请选择">
              <el-option v-for="item in $store.state.leagalOptions"
                :key="item.fcode"
                :label="item.fillegaltype"
                :value="item.fcode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="24"
          :md="24"
          :lg="8"
          :xl="2">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList"
              icon="el-icon-search">搜 索</el-button>
            <el-button class="pull-right"
              type="primary"
              plain
              icon="el-icon-circle-check-outline"
              @click="_batchSame"
              v-if="false">批量一致</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table border
      :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading"
      @selection-change="_selectionChange">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column property="fadname"
        label="广告名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="ffullname"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="fillegaltypecode"
        label="违法类型"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="fissuedate"
        label="发布时间"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="100">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-edit"
            @click="_recheck(scope.row)">复核</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-row>
      <el-col :span="16">
        <el-pagination background
          layout="prev, pager, next, total"
          :total="Number(countAll)"
          :page-size="20"
          :current-page="Number(form.page)"
          @current-change="_getList">
        </el-pagination>
      </el-col>
    </el-row>
    <review2 :ischeck="true"
      from="review"
      :data="reviewData"
      v-if="showReview"
      @close="()=>{showReview = false;_getList(form.page)}">
    </review2>
  </div>
</template>
<script>
import axios from "axios"
import qs from "qs"
import review2 from "./common/review2"
import { Tree } from '../../../static/js/Tree'
export default {
  components: {
    review2
  },
  data() {
    return {
      searchStyle: { width: "100%" },
      showReview: false,
      reviewData: {},
      searchDate: [],
      form: {
        fadname: "",
        fmediaclass: "tv",
        page: 1,
        fillegaltypecode: "",
        fadclasscode: '',
        fissuedate: ''
      },
      formLabelWidth: "80px",
      countAll: '0',
      tableData: [],
      multipleSelection: [],
      loading: true,
      fadclasscode: []
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      let data = { ...this.form }
      data.fadclasscode = this.fadclasscode.length ? this.fadclasscode[this.fadclasscode.length - 1] : ''
      data.fissuedatest = this.searchDate[0] || ''
      data.fissuedateed = this.searchDate[1] || ''
      axios.post(this.$_ + '/Agp/Ffuhe2/Index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.fissuedate) {
                item.fissuedate = item.fissuedate.substring(0, 10)
              }
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _recheck(item) {
      this.reviewData = item
      this.showReview = true
    },
    _batchSame() {
      if (!this.multipleSelection.length) {
        this.$message.error('请先勾选复核任务！')
        return false
      }
      this.$confirm('是否要批量通过已勾选的复核任务？', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Ffuhe2/selupdatefuhe', qs.stringify({ selfid: this.multipleSelection }))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._getList(this.form.page)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '操作已取消'
        });
      });
    },
    _selectionChange(val) {
      this.multipleSelection = []
      val.forEach(item => {
        this.multipleSelection.push(item.fid)
      })
    },
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType
    }
  }
}
</script>
<style lang="scss" scoped>
.clue-list {
  .el-table {
    margin-bottom: 10px;
  }
}
</style>



