<template>
  <div class="monitoring-data">
    <div v-loading="$store.state.bloading">
      <!-- 搜索条件 -->
      <el-form class="search-form"
        ref="form"
        :model="searchForm"
        label-width="90px">
        <el-row :gutter="10">
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告名称：">
              <el-input v-model="searchForm.fadname"
                placeholder="请输入广告名称"
                clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="广告类别：">
              <el-cascader style="width:100%"
                :options="$store.state.adClassOptions"
                :props="$store.state.propsOptions"
                v-model="fadclasscode"
                clearable>
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-show="!ill.length">
            <el-form-item label="违法类型：">
              <el-select style="width:100%"
                v-model="searchForm.fillegaltypecode"
                placeholder="请选择">
                <el-option label="全部"
                  value=""></el-option>
                <el-option v-for="item in $store.state.leagalOptions"
                  :key="item.fcode"
                  :label="item.fillegaltype"
                  :value="item.fcode">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6">
            <el-form-item label="发布媒介：">
              <el-select style="width:100%"
                v-model="searchForm.media"
                clearable
                placeholder="请选择">
                <el-option v-for="item in mediaArr"
                  :key="item.fid"
                  :label="item.fmedianame"
                  :value="item.fid">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="8"
            :xl="8">
            <el-form-item label="发布时间：">
              <el-date-picker :editable="false"
                v-if="searchForm.mclass !== '13'"
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
              <el-date-picker :editable="false"
                v-else
                style="width:100%"
                v-model="searchDate"
                :picker-options="pickerOptions2"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="10"
            :xl="10">
            <el-form-item label="媒介地区：">
              <el-col :span="11">
                <el-cascader :options="$store.state.mediaArea"
                  :props="$store.state.areaOptions"
                  v-model="area"
                  @change="_getMediaList">
                </el-cascader>
              </el-col>
              <el-col :span="13">
                <el-switch v-model="searchForm.iscontain"
                  active-value="1"
                  inactive-value="0"
                  active-text="包含下属地区"
                  @change="_switchChange">
                </el-switch>
              </el-col>
            </el-form-item>
          </el-col>
          <el-col
            :sm="12"
            :md="12"
            :lg="6"
            :xl="6"
            v-show="!stype">
            <el-form-item label="媒体类型：">
              <el-select v-model="searchForm.mclass"
                placeholder="请选择"
                style="width:100%"
                @change="_getMediaList">
                <el-option label="全部"
                  value=""></el-option>
                <el-option v-for="item in Mediatype"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24"
            v-if="searchForm.mclass === '13'">
            <el-form-item label="广告类型：">
              <el-select v-model="searchForm.netadtype"
                placeholder="请选择">
                <el-option label="全部"
                  value="0"></el-option>
                <el-option v-for="(value,key) in $store.state.netadtype"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-button type="primary"
              class="pull-right"
              :loading="$store.state.bloading"
              @click="_getList(1)"
              icon="el-icon-search">
              搜 索
            </el-button>
            <el-dropdown @command="_outPut"
              class="pull-right right-margin">
              <el-button type="primary"
                :disabled="!Number(countAll)">
                导出<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="xls">XLS</el-dropdown-item>
                <el-dropdown-item command="txt">TXT</el-dropdown-item>
                <el-dropdown-item command="xml">XML</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-col>
        </el-row>
      </el-form>
      <!-- 列表 -->
      <el-table border
        @sort-change="_sortChange"
        :height="$store.state.GTableHeight"
        ref="multipleTable"
        :data="tableData">
        <el-table-column type="index"
          width="55">
        </el-table-column>
        <el-table-column
          label="广告名称"
          show-overflow-tooltip>
          <template slot-scope="scope">
            {{ scope.row.fadname }} {{ scope.row.wenhao ? ('（' + scope.row.wenhao + '）') : '' }}
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          sortable="custom"
          width="200"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="regionname"
          label="媒介地区"
          width="120"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="80px"
          prop="fillegaltype"
          label="违法类型">
        </el-table-column>
        <el-table-column label="发布时间"
          width="145"
          sortable="custom"
          prop="fissuedate"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="时长（秒）"
          width="100"
          prop="flength"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="操作"
          fixed="right"
          width="80px">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-info"
              @click="_issDetails(scope.row)">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <iss-dialog v-if="issDialog"
      posturl="/Agp/Fmonitoring2/getmonitoringview"
      :data="detailsData"
      :download="true"
      :area="area[area.length-1]"
      @close="_close">
    </iss-dialog>
    <niss-dialog posturl="/Agp/Fmonitoring2/getmonitoringview"
      v-if="nissDialog"
      :data="detailsData"
      :area="searchForm.area"
      @close="_close">
    </niss-dialog>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>
<script>
import issDialog from '../../monitoringdata/common/issDialog'
import nissDialog from '../../monitoringdata/common/nissDialog'
import outFile from '@/components/common/outFile'
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    stype: {
      default: '',
      type: String
    },
    ill: {
      default: '',
      type: String
    }
  },
  components: {
    issDialog,
    nissDialog,
    outFile
  },
  data() {
    return {
      searchForm: {
        iscontain: this.$store.state.FJiscontain || '0',
        fadname: '',
        fadclasscode: [],
        fmedianame: '',
        fillegaltypecode: this.ill ? this.ill : '',
        fissuedatest: '',
        fissuedateed: '',
        mclass: this.stype ? this.stype : '01',
        page: '1',
        area: '',
        pxtype: '',
        pxval: '',
        netadtype: '0',
        media: ''
      },
      durl: '',
      showdownload: false,
      fadclasscode: [],
      searchDate: [],
      tableData: [],
      countAll: '0',
      issDialog: false,
      nissDialog: false,
      detailsData: {},
      media: '',
      area: [],
      mediaArr: [],
      predata: {},
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
      pickerOptions2: {
        disabledDate: (time) => {
          return time.getTime() > new Date().getTime()
        },
      },
    }
  },
  created() {
    this.searchDate = this.$store.state.Gisstime.length ? this.$store.state.Gisstime : this.$func.getPreDate('YYYY-MM-DD')
    this._setTime()
    if (this.$route.params.searchDate && this.$route.params.searchDate.length) {
      this.searchDate = this.$route.params.searchDate
      this.area = Array.of(this.$store.state.mediaArea[0]['fid'])
      this.searchForm.mclass = this.$route.params.mclass
    }
    this.$store.commit('_bloading', true)
    let timer = setInterval(() => {
      if (this.$store.state.mediaArea[0]['fid']) {
        if (!this.$route.params.searchDate) {
          let areaid = this.$store.state.userInfo.fregulatorlevel === 30 ? this.$store.state.mediaArea[0]['fid'] : this.$store.state.userInfo.regionid
          this.area = Array.of(areaid)
        }
        this._getList()
        this._getMediaList()
        clearInterval(timer)
      }
    }, 100)

  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 244)
    })
  },
  methods: {
    _issDetails(item) {
      this.detailsData = item
      if (item.mclass !== '13') {
        this.issDialog = true
      } else {
        this.nissDialog = true
      }
    },
    _initdata(page) {
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.fissuedatest = this.searchDate[0]
      data.fissuedateed = this.searchDate[1]
      data.area = this.area[this.area.length - 1]
      data.fadclasscode = this.fadclasscode[this.fadclasscode.length - 1]
      if (data.mclass !== '13') {
        delete data.netadtype
      }
      this.predata = data
    },
    _getList(page) {
      this.$store.commit('_bloading', true)
      this._initdata(page)
      this._setTime()
      axios.post(this.$_ + '/Agp/Fmonitoring2/index', qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tbname = res.data.data.tbname
            this.tableData = res.data.data.list.map(item => {
              if(item.mclass === '3' || item.mclass === '4'){
                item.fissuedate = item.fissuedate.substring(0,10)
                item.flength = '-'
              }
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _close() {
      this.issDialog = false
      this.nissDialog = false
    },
    _switchChange(val) {
      this.$store.commit('_setFJiscontain', val)
      this._getMediaList()
    },
    _getMediaList() {
      let id = this.area[this.area.length - 1]
      axios.post(this.$_ + '/Agp/Core/user_medialist', qs.stringify({ regionid: id, mclass: this.searchForm.mclass, iscontain: this.searchForm.iscontain }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaArr = res.data.data
          } else {
            this.mediaArr = []
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _sortChange(val) {
      let prop = val.prop
      let order = val.order
      switch (prop) {
        case "fmedianame":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '1'
          break
        case "fissuedate":
          if (order === 'ascending') {
            this.searchForm.pxval = '1'
          } else {
            this.searchForm.pxval = '0'
          }
          this.searchForm.pxtype = '2'
          break
        case null:
          this.searchForm.pxtype = ''
          this.searchForm.pxval = '0'
          break
      }
      this._getList(1)
    },
    _outPut(command) {
      if (Number(this.countAll) > 5000) {
        this.$confirm('检测到导出数量超出 5000 条，超出部分将无法导出。', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          this._outData(command)
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        })
      } else {
        this._outData(command)
      }
    },
    _outData(command) {
      this._initdata()
      let data = { ...this.predata, outtype: command }
      this.showdownload = true
      axios.post(this.$_ + '/Agp/Fmonitoring2/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('导出出错！')
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _setTime() {
      let data = {
        key: 'Gisstime',
        value: this.searchDate
      }
      this.$store.commit('_setisstime', data)
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    }
  }
}
</script>
