<template>
  <div class="ajlb"
    v-loading="loading">
    <div>
      <el-cascader :options="$store.state.wfqdarea2"
        :props="$store.state.areaOptions"
        v-model="sarea"
        clearable
        placeholder="请选择媒体地区"
        @change="areaClear">
      </el-cascader>
      <el-switch v-model="searchForm.iscontain"
        active-value="1"
        inactive-value="0"
        :disabled="!sarea.length"
        active-text="包含下属地区">
      </el-switch>
      <el-select class="right-margin"
        v-model="searchForm.search_type"
        placeholder="请选择"
        @change="()=>{searchForm.search_val=''}">
        <el-option v-for="item in $store.state.selectData"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <el-select class="right-margin"
        v-model="searchForm.search_val"
        placeholder="请选择"
        v-if="searchForm.search_type === '10'">
        <el-option label="全部"
          value=""></el-option>
        <el-option :label="item.label"
          :value="item.value"
          v-for="item in Mediatype"
          :key="item.value">
        </el-option>
      </el-select>
      <el-input class="secrch right-margin"
        type="text"
        v-if="searchForm.search_type !== '10'"
        v-model="searchForm.search_val">
      </el-input>
      <el-select v-if="searchForm.search_type === '10' && searchForm.search_val === '13'"
        v-model="searchForm.netadtype"
        placeholder="请选择"
        style="width:200px;">
        <el-option label="全部"
          value="0"></el-option>
        <el-option v-for="(value,key) in $store.state.netadtype"
          :key="key"
          :label="value"
          :value="key">
        </el-option>
      </el-select>
      <el-button type="primary"
        icon="el-icon-search"
        @click="_getList(1)">
        查询
      </el-button>
      <out-button :data="predata"
        @initdata="initData"
        :url="isreceive ? '/Agp/Gsbchuli/jsanjian_list' : '/Agp/Gsbchuli/anjian_list'" />
    </div>
    <div class="s-row">
      <el-button type="primary"
        @click="_shangbao()"
        icon="el-icon-upload2">
        <span v-if="$route.name == 'sbchuli'">本级{{buttonText}}</span>
        <span v-else>{{buttonText}}</span>
      </el-button>
      <el-button type="primary"
        class="right-margin"
        @click="_sendAnjian"
        icon="el-icon-share"
        v-if=" $store.state.userInfo.fregulatorlevel !== 0 && $store.state.userInfo.isdistribute">
        线索下派
      </el-button>
      <a href="/Public/Word/责令暂停发布通知书.doc"
        download>
        <el-button type="primary"
          icon="el-icon-tickets"
          v-if="$store.state.userInfo.system_num === 370300">
          责令暂停发布通知书
        </el-button>
      </a>
    </div>
    <el-table
      border
      size="small"
      class="new-tabel"
      :data="tableData"
      :height="$store.state.GTableHeight"
      @selection-change="_handleSelectionChange">
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column width="80"
        label="媒体分类"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span :class="`${$store.getters.typeMap[scope.row.fmedia_class]}-tag`">{{$store.state.allmediatype[scope.row.fmedia_class]}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        label="广告类别"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fad_name"
        label="广告名称"
        min-width="180"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span v-if="scope.row.showTimeout > 0">
            <el-popover
              placement="top-start"
              title="提醒"
              trigger="hover"
              content="'任务超时！'">
              <span class="taskMsg el-icon-warning"  slot="reference"></span>
            </el-popover>
          </span>
          <span v-if="scope.row.againIssue > 0">
            <el-popover
              placement="top-start"
              title="通知"
              trigger="hover"
              content="本线索上月已作处罚，本月依然发布。">
              <span class="el-icon-bell notice"  slot="reference"></span>
            </el-popover>
          </span>
          {{ scope.row.fad_name }}
          <div
            v-if="Number(scope.row.dbcount) > 0"
            class="dubanSee"
            @click="_showfile(scope.row, ['db'])"
            title="点击查看附件">
            <img src="../../../../.././static/img/shou.png" width="16px" height="100%" style="vertical-align: middle;">
            监督
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column
        v-if="this.$store.state.userInfo.isShowRegion === 1 || this.$store.state.userInfo.isShowRegion === 2"
        prop="mediaregion"
        width="90"
        label="媒体地区"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fadownername"
        label="广告主"
        width="100"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="adownerregion"
        v-if="this.$store.state.userInfo.isShowRegion === 1 || this.$store.state.userInfo.isShowRegion === 3"
        width="90"
        label="广告主地区"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="90"
        prop="fcount"
        :label="predata.search_val === '13' ? '监测总条次':'播出总条次'"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        prop="diffweek"
        label="播出周数"
        v-if="predata.search_val !== '13'"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column :label="predata.search_val === '13' ? '监测时间段':'播出时间段'"
        width="180"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
        </template>
      </el-table-column>
      <el-table-column width="140"
        label="违法表现代码">
        <template slot-scope="scope">
          <el-popover placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span
              type="text"
              class="text-red"
              slot="reference">{{scope.row.fillegal_code}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column width="140"
        label="督导信息"
        show-overflow-tooltip
        v-if="Number($store.state.userInfo.isdudao) === 1">
        <template slot-scope="scope">
          <span class="text-yellow" v-if="Number(scope.row.isdudao) === 0">责令停止发布此条广告</span>
          <span class="text-red" v-if="Number(scope.row.isdudao) > 0">责令停止发布后仍在播出次广告，请进一步采取措施</span>
        </template>
      </el-table-column>
      <el-table-column width="110"
        fixed="right"
        label="证据查看下载">
        <template slot-scope="scope">
          <el-button type="text"
            :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
            @click="_viewVideo(scope.row)">
            查看
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        width="100"
        :label="activeName == 1? '下发时间' : '派发时间'"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fsend_time ? $dayjs(scope.row.fsend_time).format('YYYY-MM-DD') : ''}}
        </template>
      </el-table-column>
      <el-table-column :width="illadprint ? '130' : '80'"
        fixed="right"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            @click="_shangbao(scope.row.fid)"
            icon="el-icon-upload2">
             <span v-if="$route.name == 'sbchuli'">本级{{buttonText}}</span>
              <span v-else>{{buttonText}}</span>
          </el-button>
          <el-button type="text" @click="printme(scope.row)" icon="el-icon-printer" v-if="illadprint">
            打印
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <shangbao @close="showShangbao = false"
      @send="_sendShangbao"
      v-if="showShangbao">
    </shangbao>
    <el-dialog center
      :visible.sync="showPaifa"
      title="线索派发"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="closeDialog">
      <el-table border
        :data="multipleSelection">
        <el-table-column prop="fad_name"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="媒体名称"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <div class="text-center">
        接收局：
        <el-cascader placeholder="请选择派发地域"
          :options="$store.state.GData"
          change-on-select
          :props="$store.state.areaOptions"
          v-model="area"
          clearable></el-cascader>
      </div>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_send"
          :loading="$store.state.bloading">
          发 送
        </el-button>
      </div>
    </el-dialog>
    <attach-dialog v-if="showAttach"
      :tags="tags"
      :dbfjdata="dbfjdata"
      @close="showAttach = false">
    </attach-dialog>
    <register :data="row" ref="register" />
  </div>
</template>

<script>
import viewVideo from "./viewVideo"
import shangbao from "./shangbao"
import outButton from '../../../common/outButton'
import attachDialog from "./attachDialog"
import register from './register'
import axios from "axios"
import qs from "qs"
export default {
  props: {
    isreceive: {
      default: false,
      type: Boolean
    },
    activeName: {
      default: '1',
      type: String,
    }
  },
  components: {
    viewVideo,
    shangbao,
    outButton,
    register,
    attachDialog
  },
  data() {
    return {
      showAttach: false,
      tags: [],
      dbfjdata: [],
      tableData: [],
      searchForm: {
        page: 1,
        search_type: "10",
        search_val: "",
        netadtype: '0',
        iscontain: '1'
      },
      area: [],
      sarea: [],
      countAll: "0",
      loading: false,
      details: {},
      multipleSelection: [],
      showVideo: false,
      showPaifa: false,
      showShangbao: false,
      bloading: false,
      predata: {},
      selectid: '',
      row: {}
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', 301)
    })
  },
  methods: {
    printme(row){
      this.row = row
      let printData = this.$refs.register.$el.innerHTML
      let win = window.open('')
      win.document.write(printData)
      win.print()
    },
    _setGvalue() {
      this.searchForm.years = this.$store.state.Gsearch.years
      this.searchForm.timetypes = this.$store.state.Gsearch.timetypes
      this.searchForm.timeval = this.$store.state.Gsearch.timeval
    },
    initData(page) {
      this._setGvalue()
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.area = this.sarea[this.sarea.length - 1]
      if (data.search_val !== '13') {
        delete data.netadtype
      }
      this.predata = data
      return data
    },
    _getList(page) {
      this.loading = true;
      this.initData(page)
      let url = this.isreceive
        ? "/Agp/Gsbchuli/jsanjian_list"
        : "/Agp/Gsbchuli/anjian_list"
      axios
        .post(this.$_ + url, qs.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fstarttime = item.fstarttime
                ? item.fstarttime.substring(0, 10)
                : ""
              item.fendtime = item.fendtime
                ? item.fendtime.substring(0, 10)
                : ""
              return item;
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        })
    },
    _showfile(obj,ele) {
      axios
        .post(
          this.$_ + "/Agp/Gckchuli/fjjieguo",
          qs.stringify({ fid: obj.fid })
        )
        .then(res => {
          if (res.data.code === 0) {
            this.showAttach = true
            this.tags = ele
            this.dbfjdata = res.data.dbfjdata
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _sendAnjian() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！")
        return false
      }
      this.showPaifa = true;
    },
    _viewVideo(obj) {
      if (obj.fview_status === "0") {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _shangbao(fid) {
      if (fid) {
        this.selectid = fid
      }
      if (!this.multipleSelection.length && !fid) {
        this.$message.error("请选择！")
        return false
      }
      this.showShangbao = true
    },
    _sendShangbao(files,val,checked) {
      let selfid = []
      if (this.selectid) {
        selfid = [this.selectid]
      } else {
        selfid = this.$func.getIdArr(this.multipleSelection, "fid")
      }
      let selfresult = checked.join(";") + ";"
      let data = {
        selfid: selfid,
        selfresult: selfresult,
        attachinfo: files
      }
      axios.post(this.$_ + "/Agp/Gsbchuli/anjian_sb", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._getList()
            this.$message.success("操作成功！")
            this.showShangbao = false
            this.selectid = ''
            this.$emit('refresh')
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _send() {
      if (!this.area.length) {
        this.$message.error("请选择派发地区！")
        return false
      }
      this.$store.commit('_bloading', true)
      let tregionid = this.area[this.area.length - 1]
      let selfid = this.$func.getIdArr(this.multipleSelection, "fid")
      axios.post(this.$_ + "/Agp/Gsbchuli/anjian_pf",
        qs.stringify({
          tregionid: tregionid,
          selfid: selfid
        })
      ).then(res => {
        if (res.data.code === 0) {
          this.showPaifa = false
          this._getList()
          this.area = []
          this.$message.success(res.data.msg)
          this.$emit('refresh')
        } else {
          this.$func._error(res.data)
        }
        this.$store.commit('_bloading', false)
      })
      .catch(() => {
        this.$func._error();
        this.$store.commit('_bloading', false)
      })
    },
    areaClear(val) {
      if (!val) {
        this.sarea = []
      }
    },
    closeDialog(){
      this.selectid = ''
      this.area = []
      this.showPaifa = false
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType5
    },
    buttonText(){
      let arr = this.$store.state.menudata[this.$route.name]
      if(arr && arr.length === 2){
        return arr[1].slice(-2)
      }else{
        return '处 理'
      }
    },
    illadprint(){
      return this.$store.state.userInfo.illadprint === 1
    },
  }
};
</script>

<style scoped lang="scss">
.ajlb {
  .secrch {
    width: 200px;
  }
  .checkbox {
    margin-top: 6px;
  }
  .s-row {
    padding: 20px 0;
  }
  .taskMsg{
    color: #F56C6C;
    padding: 0 2px;
    font-weight: 700;
    font-size: 16px;
  }
  .notice{
    color:#909399;
    padding: 0 2px;
    font-weight: 700;
    font-size: 18px;
  }
  .dubanSee{
    cursor: pointer;
    color: #e6a23c;
    background-color: #fdf6ec;
    border-color: #f5dab1;
    font-size:12px;
    display: inline-block;
    padding: 0 6px 0 2px;
    border-radius: 4px;
  }
}
</style>
