<template>
  <div class="attach-dialog">
    <el-dialog
      title="附件列表"
      :visible.sync="show"
      width="600px"
      append-to-body
      center
      @close="_close">
      <p v-if="!latableData.length && !zjtableData.length && !dbtableData.length ">无附件！</p>
      <el-table :data="zjtableData" border v-if="zjtableData.length">
        <el-table-column
          label="证据材料">
          <template slot-scope="scope">
            <a :href="scope.row.fattach_url+'?attname='+scope.row.fattach">
              <el-button type="text" >
                {{scope.row.fattach}}
              </el-button>
            </a>
          </template>
        </el-table-column>
      </el-table>
      <el-table :data="latableData" border v-if="latableData.length">
        <el-table-column
          label="立案材料">
          <template slot-scope="scope">
            <a :href="scope.row.fattach_url+'?attname='+scope.row.fattach">
              <el-button type="text" >
                {{scope.row.fattach}}
              </el-button>
            </a>
          </template>
        </el-table-column>
      </el-table>
      <el-table :data="dbtableData" border v-if="dbtableData.length">
        <el-table-column
          label="督办材料">
          <template slot-scope="scope">
            <a :href="scope.row.fattach_url+'?attname='+scope.row.fattach">
              <el-button type="text" >
                {{scope.row.fattach}}
              </el-button>
            </a>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    props: {
      lafjdata: {
        default: ()=>[],
        type: Array
      },
      zjfjdata: {
        default: ()=>[],
        type: Array
      },
      dbfjdata: {
        default: ()=>[],
        type: Array
      },
      tags: {
        default: ()=>[],
        type: Array
      }
    },
    data() {
      return {
        show: true,
        latableData: [],
        zjtableData: [],
        dbtableData: [],
      }
    },
    created(){
      if(this.tags.indexOf('la') != -1){
        this.latableData = this.lafjdata
      }
      if(this.tags.indexOf('zj') != -1){
        this.zjtableData = this.zjfjdata
      }
      if(this.tags.indexOf('db') != -1){
        this.dbtableData = this.dbfjdata
      }
      if(this.tags.length == 0){
        this.latableData = this.lafjdata
        this.zjtableData = this.zjfjdata
        this.dbtableData = this.dbfjdata
      }
    },
    methods: {
      _close(){
        this.$emit('close')
      }
    }
  }
</script>

<style scoped>

</style>