<template>
  <div class="ginspectcheck"
    ref="bodyWidth">
    <div v-loading="!videoUrl && loading"
      element-loading-background="#ffffff">
      <el-row :gutter="10">
        <el-col :span="10"
          ref="loadingcover">
          <div v-loading="loading"
            class="loadingcover"
            @mouseover="inButton"
            @mouseout="outButton">
            <aliplayer ref="player"
              v-if="videoUrl"
              :url="videoUrl"
              :autoplay="true"
              width="100%"
              height="370px"
              @start="_startPlay"
              @stop="_cleartimer"
              @error="_cleartimer">
            </aliplayer>
            <no-source v-else />
            <timeline ref="timeline"
              :activetime="videoJump"
              :step="step"
              v-if="videoJump && stepChange"
              @click="_jumpplay"
              @tmouseup="tmouseup"
              @tmousedown="tmousedown">
              <div class="stepBox"
                v-if="showButton">
                <button @click="delStep"
                  :class="{ active: isActive }">X1</button>
                <button @click="addStep"
                  :class="{ active2: isActive2 }">X2</button>
              </div>
            </timeline>
          </div>
          <br />
          <fieldset v-if="!isjc">
            <legend>新增复核结果</legend>
            <el-row>
              <el-form :model="form"
                ref="form"
                label-width="80px">
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="音频跳转">
                      <el-time-picker style="width:99%"
                        v-model="videoJump"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        placeholder="任意时间点"
                        :picker-options="{
                          selectableRange: duringtime
                        }"
                        @focus="_cleartimer"
                        @blur="_settimer"
                        @change="_jumpplay">
                      </el-time-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="截取时长">
                      {{flength}} 秒
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="开始时间">
                      <el-input v-model="resultdata.fstart"
                        @focus="_focus('fstart')"
                        @dblclick.native="_cutTime('start')"
                        placeholder="双击获取开始时间"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="结束时间"
                    @dblclick="_cutTime('end')">
                    <el-input v-model="resultdata.fend"
                      @focus="_focus('fend')"
                      @dblclick.native="_cutTime('end')"
                      placeholder="双击获取结束时间"></el-input>
                  </el-form-item>
                  </el-col>
                </el-row>
                <el-col :span="24">
                  <el-form-item label="类型：">
                    <el-select style="width:100%"
                      v-model="resultdata.fresult_type">
                      <el-option label="漏判" value="0"></el-option>
                      <el-option label="错判" value="1"></el-option>
                      <el-option label="误判" value="2"></el-option>
                    </el-select>
                    <p class="text-red tip" v-if="resultdata.fresult_type === '0'">广告内容未标识为广告</p>
                    <p class="text-red tip" v-if="resultdata.fresult_type === '1'">（1）将非广告内容标识为广告；（2）将不违法的广告判定为违法广告</p>
                    <p class="text-red tip" v-if="resultdata.fresult_type === '2'">（1）对涉嫌违法广告的具体违法表现判定不准确；（2）对涉嫌违法广告适用的监测编码不准确</p>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                <el-form-item label="广告名称">
                  <el-input v-model="resultdata.adTitle" placeholder=""></el-input>
                </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="广告类别">
                    <el-cascader style="width:100%"
                      :options="$store.state.adClassOptions"
                      :props="$store.state.propsOptions"
                      v-model="fadclasscodeArr"
                      clearable>
                    </el-cascader>
                  </el-form-item>
                </el-col>
                <el-col :span="24" v-if="resultdata.fresult_type !== '1'">
                  <el-form-item label="涉嫌违法">
                    <el-radio-group v-model="resultdata.fillegaltypecode">
                      <el-radio :label="0">不违法</el-radio>
                      <el-radio :label="30">违 法</el-radio>
                    </el-radio-group>
                  </el-form-item>
                </el-col>
                <el-col :span="24" v-if="resultdata.fresult_type !== '1' && resultdata.fillegaltypecode == '30'">
                  <el-form-item label="监测编码">
                    <div>
                      <el-button type="primary" @click="showIllegal = true">选择监测编码</el-button>
                    </div>
                    <el-popover v-for="item in selectedList" :key="item.id" placement="top" width="200" trigger="hover"
                      :content="item.fexpression">
                      <el-tag type="danger" slot="reference" size="small" closable  @close="alertClose(item)">
                        {{item.fcode}}</el-tag>
                    </el-popover>
                  </el-form-item>
                </el-col>
                <el-col :span="24" v-if="resultdata.fillegaltypecode == '30' && resultdata.fresult_type != 1">
                  <el-form-item label="违法内容">
                    <el-input v-model="resultdata.fillegalcontent"
                      type="textarea"
                      :rows="2"
                      placeholder=""></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="复核意见"  v-if="resultdata.fresult_type == '1'">
                    <el-input v-model="resultdata.fresult"
                      type="textarea"
                      :rows="5"
                      placeholder=""></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="24"
                  class="text-center">
                  <el-button type="primary"
                    @click="_addResult">添 加</el-button>
                </el-col>
              </el-form>
            </el-row>
          </fieldset>
        </el-col>
        <el-col :span="14">
          <div class="timefieldset">
            <legend>{{$route.query.fmedianame + ' ' + $route.query.fissuedate}} </legend>
            <div class="timefieldset-warp">
              <div class="timeChoise">
                <el-radio-group class="radiogroup"
                  @change="_change"
                  v-model="activeNames">
                  <el-radio-button :label="index"
                    v-for="(item,index) in timeDate"
                    :key="index">{{item.start}}-{{item.end}}</el-radio-button>
                </el-radio-group>
              </div>
              <el-table v-loading="loading"
                :data="tableData"
                border
                :cell-style="{padding:'2'}"
                @row-click="seekVideoTime($event, $event, $event, 0)"
                @cell-mouse-enter="mouseEnter"
                height="355"
                :row-class-name="tableRowClassName">
                <el-table-column type="index"
                  fixed
                  width="55">
                </el-table-column>
                <el-table-column label="广告名称"
                  fixed
                  prop="fadname"
                  show-overflow-tooltip>
                </el-table-column>
                <el-table-column label="广告类别"
                  show-overflow-tooltip>
                  <template slot-scope="scope">
                    <span v-html="scope.row.fadclass"
                      class="noWrap"></span>
                  </template>
                </el-table-column>
                <el-table-column label="开始时间"
                  prop="fstarttime">
                </el-table-column>
                <el-table-column label="结束时间"
                  prop="fendtime">
                </el-table-column>
                <el-table-column width="60"
                  label="时长"
                  prop="flength">
                </el-table-column>
                <el-table-column prop="fillegaltypecode"
                  label="是否违法">
                </el-table-column>
                <el-table-column width="110"
                  label="违法表现">
                  <template slot-scope="scope">
                    <el-popover placement="left"
                      width="200"
                      trigger="hover"
                      :content="scope.row.fexpressions">
                      <span type="text"
                        slot="reference">{{scope.row.fexpressioncodes}}</span>
                    </el-popover>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
          <fieldset v-if="!isjc">
            <legend>复核结果</legend>
            <div style="height: 280px;overflow: auto;">
              <div :class="item.fresult_type == 0? 'lp' : item.fresult_type == 1? 'cp' : 'wp'" v-for="(item, index) in fhResult" :key="index">
                <el-row type="flex" justify="space-between">
                  <el-col :span="11">
                    <span style="margin-right: 10px;">广告名称： {{ item.fadname }}</span>
                    <el-tag  :type="resultTypeArr[item.fresult_type].type">{{ resultTypeArr[item.fresult_type].text }}</el-tag>
                  </el-col>
                  <el-col :span="11">
                    <span>{{ item.fadclassname }}</span>
                  </el-col>
                  <el-col :span="2">
                    <el-button type="text" size="mini" style="color: #F56C6C;" @click="_deleteResult(item)">删 除</el-button>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="11">
                    <span class="adlength">发布时段：{{$dayjs(item.fstart).format('HH:mm:ss')}} ~ {{$dayjs(item.fend).format('HH:mm:ss')}}({{item.flength}}s)</span>
                  </el-col>
                  <el-col :span="11" v-if="item.fresult_type != 1">
                    <span>{{item.fillegaltypecode == 30? '违法' : '不违法'}} {{ item.fexpressioncodes }}</span>
                  </el-col>
                  <el-col :span="2">
                  </el-col>
                </el-row>
                <el-row v-if="item.fresult_type != 1">
                  <el-col :span="24" v-if="item.fillegaltypecode != 0">
                    <span class="label">违法表现：</span>
                    <span class="text-red">{{ item.fexpressions }}</span>
                  </el-col>
                  <el-col :span="24" v-if="item.fillegaltypecode != 0">
                    <span class="label">违法内容：</span>
                    <span>{{ item.fillegalcontent }}</span>
                  </el-col>
                </el-row>
                <el-row v-if="item.fresult_type == 1">
                  <el-col :span="24">
                    <span class="label">复核意见：</span>
                    <span>{{item.fresult}}</span>
                  </el-col>
                </el-row>
              </div>
            </div>
          </fieldset>
        </el-col>
      </el-row>
      <fieldset v-if="isjc">
        <legend>复核结果</legend>
        <div style="height: 280px;overflow: auto;">
          <div :class="item.fresult_type == 0? 'lp' : item.fresult_type == 1? 'cp' : 'wp'" v-for="(item, index) in fhResult" :key="index">
            <el-row type="flex" justify="space-between">
              <el-col :span="13">
                <span style="margin-right: 10px;">广告名称： {{ item.fadname }}</span>
                <el-tag  :type="resultTypeArr[item.fresult_type].type">{{ resultTypeArr[item.fresult_type].text }}</el-tag>
              </el-col>
              <el-col :span="9">
                <span>{{ item.fadclassname }}</span>
              </el-col>
              <el-col :span="2">
                <el-button type="text" size="mini" style="color: #F56C6C;" @click="_deleteResult(item)">删 除</el-button>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="13">
                <span class="adlength">发布时段：{{$dayjs(item.fstart).format('HH:mm:ss')}} ~ {{$dayjs(item.fend).format('HH:mm:ss')}}({{item.flength}}s)</span>
              </el-col>
              <el-col :span="9" v-if="item.fresult_type != 1">
                <span>{{item.fillegaltypecode == 30? '违法' : '不违法'}} {{ item.fexpressioncodes }}</span>
              </el-col>
              <el-col :span="2">
              </el-col>
            </el-row>
            <el-row v-if="item.fresult_type != 1">
              <el-col :span="24" v-if="item.fillegaltypecode != 0">
                <span class="label">违法表现：</span>
                <span class="text-red">{{ item.fexpressions }}</span>
              </el-col>
              <el-col :span="24" v-if="item.fillegaltypecode != 0">
                <span class="label">违法内容：</span>
                <span>{{ item.fillegalcontent }}</span>
              </el-col>
            </el-row>
            <el-row v-if="item.fresult_type == 1">
              <el-col :span="24">
                <span class="label">复核意见：</span>
                <span>{{item.fresult}}</span>
              </el-col>
            </el-row>
          </div>
        </div>
        <div style="display: flex;justify-content: flex-end;">
          <out-button
            :type="['xls']"
            :data="predata"
            :json="true"
            @initdata="daochu"
            style="margin-right: 20px;"
            url="/Agp/Inspectiontask2/ViewResult"
            class="pull-right right-margin" />
        </div>
      </fieldset>
      <el-dialog  title="认定依据" :visible.sync="showIllegal" center :close-on-click-modal="false"
        :close-on-press-escape="false" width="1000px">
        <el-input placeholder="关键字搜索" v-model="filterText" clearable>
        </el-input>
        <div class="tree-block">
          <el-tree show-checkbox node-key="fid" ref="tree" :data="$store.state.IllegalList" :props="treeProps" @check="nodeCheck"
            :filter-node-method="filterNode">
            <div slot-scope="{ node }">
              <el-tooltip  effect="dark" :content="node.label" placement="top-start">
                <div class="tree-node-slot">{{ node.label }}</div>
              </el-tooltip>
            </div>
          </el-tree>
        </div>
        <span slot="footer">
          <el-button type="primary" @click="showIllegal = false">确 定</el-button>
          <el-button type="danger" @click="reset">清 空</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import timeline from './timeline'
import aliplayer from '../../../common/aliplayer'
import noSource from './noSource'
import outButton from '../../../common/outButton'
export default {
  components: {
    aliplayer,
    timeline,
    noSource,
    outButton
  },
  props: {
    fstate: {
      type: String,
      required: true
    },
  },
  data() {
    return {
      videoUrl: '',
      form: {
        pageIndex: 1
      },
      resultform: {
        pageIndex: 1
      },
      allcount: '0',
      allcount2: '0',
      tableData: [],
      checkresult: [],
      activeNames: 0,
      activeNames2: 0,
      abtime: -1000,
      loading: true,
      resultdata: {
        'fstart': '',
        'fend': '',
        'fresult_type': '0',
        'fresult': '',
        'adTitle': '',
        'fillegaltypecode': 0,
      },
      timer: null,
      Stime: 0,
      videoJump: '',
      fcousflag: '',
      moveflag: 1,
      rowIndex: 0,
      timeDate: [
        {
          starttime: '00:00:00',
          endtime: '03:59:59',
          start: ' 0 ',
          end: ' 4 时'
        },
        {
          starttime: '04:00:00',
          endtime: '07:59:59',
          start: ' 4 ',
          end: ' 8 时'
        },
        {
          starttime: '08:00:00',
          endtime: '11:59:59',
          start: ' 8 ',
          end: '12时'
        },
        {
          starttime: '12:00:00',
          endtime: '15:59:59',
          start: '12',
          end: '16时'
        },
        {
          starttime: '16:00:00',
          endtime: '19:59:59',
          start: '16',
          end: '20时'
        },
        {
          starttime: '20:00:00',
          endtime: '23:59:59',
          start: '20',
          end: '24时'
        },
      ],
      resultType: {
        '0': '漏判',
        '1': '错判',
        '2': '误判'
      },
      resultTypeArr: [
        {
          value: '0',
          text: '漏判',
          type: 'info',
        },
        {
          value: '1',
          text: '错判',
          type: 'warning',
        },
        {
          value: '2',
          text: '误判',
          type: 'danger',
        }
      ],
      step: 1,
      stepChange: true,
      showButton: false,
      isActive: true,
      isActive2: false,
      jumptime: null,
      predata: {},
      fhResult: [],
      fadclasscodeArr: [],
      treeProps: {
        label: 'fexpression',
        children: 'list_2'
      },
      filterText: '',
      showIllegal: false,
      selectedList: [],
    }
  },
  created() {
    this._dataInit()
    this._checkResult()
    this.daochu()
  },
  beforeDestroy() {
    this.videoUrl = ''
  },
  destroyed() {
    this._cleartimer()
  },
  methods: {
    daochu() {
      let data = {
        fid: this.$route.query.fid,
        nottype: '0',
      }
      this.predata = data
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === this.rowIndex) {
        return 'playing-row'
      }
      return ''
    },
    tmousedown() {
      this._cleartimer()
      this.$refs.player._stop()
    },
    tmouseup(mw) {
      let current = this._cutTime().substring(11)
      this.$refs.player._seek(this._timeToSecond(current) + mw)
      setTimeout(() => {
        this._settimer()
      }, 200)
    },
    _settimer() {
      this._cleartimer()
      this.$refs.player._play()
      this.timer = setInterval(() => {
        this.videoJump = this._cutTime()
        if (this.isend) {
          this.rowIndex += 1
          if (this.rowIndex === this.tableData.length) {
            this._change(this.activeNames += 1)
          } else {
            let result = this.tableData[this.rowIndex]
            let fstarttime = `${this.$route.query.fissuedate} ${result['fstarttime']}`
            let fendtime = `${this.$route.query.fissuedate} ${result['fendtime']}`
            this.resultdata.fstart = fstarttime
            this.resultdata.fend = fendtime
            let dtime = { fstarttime, fendtime }
            this._getPlayUrl(dtime)
          }
        }
      }, 200)
    },
    _startPlay() {
      if (this.jumptime !== null) {
        this._jumpplay(this.jumptime.fstarttime)
        setTimeout(() => {
          this.jumptime = null
        })
      }
      this._settimer()
    },
    _cleartimer() {
      clearInterval(this.timer)
      this.timer = null
    },
    setRowIndex(row) {
      let fstarttime = row.fstarttime.substring(11) || row.fstarttime
      this.tableData.forEach((item, index) => {
        if (item.fstarttime === fstarttime) {
          this.rowIndex = index
        }
      })
    },
    seekVideoTime(row, event, column, isResult) {
      if (isResult) {
        this.setRowIndex(row)
      }
      if (typeof row.rowIndex === 'number') {
        this.rowIndex = row.rowIndex
      }
      if ((row.index !== undefined) && (row.index !== Number(this.activeNames))) {
        this.activeNames = row.index
        this.jumptime = {
          fstarttime: `${this.$route.query.fissuedate} ${row.fstarttime}`,
          fendtime: `${this.$route.query.fissuedate} ${row.fendtime}`
        }
        this._change(row.index)
        return false
      }
      let startTime = Math.floor(this._timeToSecond(row.fstarttime) * 1000) + this.Stime
      this.resultdata.fstart = this.$dayjs(startTime).format('YYYY-MM-DD HH:mm:ss')
      let endTime = Math.floor(this._timeToSecond(row.fendtime) * 1000) + this.Stime
      this.resultdata.fend = this.$dayjs(endTime).format('YYYY-MM-DD HH:mm:ss')
      let dtime = {
        fstarttime: this.resultdata.fstart,
        fendtime: this.resultdata.fend
      }
      this.videoJump = this.$route.query.fissuedate + ' ' + row.fstarttime
      this._getPlayUrl(dtime)
      this.resultdata.adTitle = row.fadname
      // 广告类别级联
      const classCode = row.fadclasscode
      if(classCode == 0){
        this.fadclasscodeArr = []
      }
      if(classCode.length == 2){
        this.fadclasscodeArr = [classCode]
      }
      if(classCode.length == 4) {
        const code1 = classCode.substr(0,2)
        this.fadclasscodeArr = [code1,classCode]
      }
      if(classCode.length == 6) {
        const code1 = classCode.substr(0,2)
        const code2 = classCode.substr(0,4)
        this.fadclasscodeArr = [code1,code2,classCode,]
      }

    },
    _jumpplay(val) {
      this.videoJump = val
      this.$refs.player._seek(this._timeToSecond(this.videoJump.substring(11)))
      this.$refs.player._play()
    },
    _cutTime(type) {
      let time = Math.floor((this.$refs.player._getCurrentTime()) * 1000) + this.Stime
      if (type === 'start') {
        this.resultdata.fend = ''
        this.resultdata.fstart = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      } else if (type === 'end') {
        this.resultdata.fend = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      } else {
        return this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      }
    },
    _timeToSecond(time) {
      let inputtime = new Date(`${this.$route.query.fissuedate} ${time}`).getTime()
      let dstart = new Date(`${this.$route.query.fissuedate} ${this.timeDate[this.activeNames2]['starttime']}`).getTime()
      let dend = new Date(`${this.$route.query.fissuedate} ${this.timeDate[this.activeNames2]['endtime']}`).getTime()
      inputtime = (inputtime >= dstart) && (inputtime <= dend) ? inputtime : inputtime - 60 * 60 * 24 * 1000
      return (inputtime - this.Stime) / 1000
    },
    _addResult() {
      if (!this.resultdata.fstart) {
        this.$func._error('请截取开始时间！')
        return false
      }
      if (!this.resultdata.fend) {
        this.$func._error('请截取结束时间！')
        return false
      }
      let data = {
        ...this.resultdata,
        fid: this.$route.query.fid
      }
      if(this.fadclasscodeArr.length == 1){
        data.fadclasscode = this.fadclasscodeArr[0]
      }
      if(this.fadclasscodeArr.length > 0){
        data.fadclasscode = this.fadclasscodeArr[this.fadclasscodeArr.length - 1]
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/AddResult', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._checkResult()
            this.resultdata = {
              ...this.resultdata,
              'fresult_type': '0',
              'fresult': '',
              'fillegalcontent': '',
              'fillegaltypecode': 0,
            }
            this.selectedList = []
            this.fadclasscodeArr = []
            this.reset()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _deleteResult(obj) {
      let data = { fid: obj.fid }
      let msg = `确认删除该复核结果?`
      this.$confirm(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Inspectiontask2/DeleteResult', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._checkResult()
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    _focus(input) {
      this.fcousflag = input
    },
    _getPlayUrl(obj) {
      let data = {
        ...this.form,
        ...obj,
        pageIndex: 1,
        fid: this.$route.query.fid,
        pageSize: '10'
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/GetAdm3u8', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._m3u8StartTime(res.data.data.live_m3u8_url, obj).then(req => {
              this.jumptime = obj
              let s = +new Date(obj.fstarttime)
              let _s = this.Stime
              if (this.videoUrl === res.data.data.live_m3u8_url) {
                this.$refs.player._seek(Math.abs(s - _s) / 1000)
              } else {
                this.videoUrl = res.data.data.live_m3u8_url
              }
            })
          }
        })
    },
    _dataInit(page) {
      this.loading = true
      this.form.pageIndex = page || 1
      let data = {
        ...this.form,
        pageSize: '10000000',
        fid: this.$route.query.fid,
        fstarttime: `${this.$route.query.fissuedate} ${this.timeDate[this.activeNames2]['starttime']}`,
        fendtime: `${this.$route.query.fissuedate} ${this.timeDate[this.activeNames2]['endtime']}`,
      }
      this.rowIndex = 0
      axios.post(this.$_ + '/Agp/Inspectiontask2/Check', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            const result = res.data.data.fad
            if (result.length) {
              this.tableData = result.map((item, index) => {
                item.fstarttime = item.fstarttime.substring(11)
                item.fendtime = item.fendtime.substring(11)
                item.rowIndex = index
                return item
              })
              if (this.jumptime) {
                this.resultdata.fstart = this.jumptime.fstarttime
                this.resultdata.fend = this.jumptime.fendtime
                this._getPlayUrl(this.jumptime)
                this.setRowIndex(this.jumptime)
              } else {
                let fstarttime = `${this.$route.query.fissuedate} ${result[0]['fstarttime']}`
                let fendtime = `${this.$route.query.fissuedate} ${result[0]['fendtime']}`
                this.resultdata.fstart = fstarttime
                this.resultdata.fend = fendtime
                let dtime = { fstarttime, fendtime }
                this._getPlayUrl(dtime)
              }
            }else{
              this.tableData = []
              this.videoJump = ''
            }
            this.allcount2 = res.data.count
          }
          this.loading = false
        })
    },
    _change(val) {
      if (typeof (val) === 'number') {
        this.activeNames2 = val
        this.rowIndex = 0
        this._cleartimer()
        this.videoUrl = ''
        this._dataInit()
      }
    },
    _setAbTime(obj) {
      let s = new Date(obj.fstarttime).getTime()
      let e = this.Stime
      if (this.abtime === -1000) {
        this.abtime = (s - e) / 1000
      }
    },
    _getIndex(time) {
      let date = new Date(`${this.$route.query.fissuedate} ${time}`)
      let hour = date.getHours()
      let index = 0
      if (hour >= 0 && hour < 4) {
        index = 0
      } else if (hour >= 4 && hour < 8) {
        index = 1
      } else if (hour >= 8 && hour < 12) {
        index = 2
      } else if (hour >= 12 && hour < 16) {
        index = 3
      } else if (hour >= 16 && hour < 20) {
        index = 4
      } else if (hour >= 20 && hour < 24) {
        index = 5
      }
      return index

    },
    _checkResult(page) {
      let data = {
        ...this.resultform,
        fid: this.$route.query.fid,
        pageSize: '10',
        pageIndex: page || 1,
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/ViewResult', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            // this.checkresult = res.data.data.map(item => {
            //   item.fstarttime = item.fstart.substring(11)
            //   item.fendtime = item.fend.substring(11)
            //   item.fstart = item.fstart.substring(11)
            //   item.fend = item.fend.substring(11)
            //   item.index = this._getIndex(item.fstarttime)
            //   return item
            // })
            // this.allcount = res.data.count
            this.fhResult = res.data.data
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _m3u8StartTime(url, obj) {
      let matchReg = /http.*?\n/gi
      return new Promise((resolve, reject) => {
        axios.get(url)
          .then(res => {
            if (res.data.match(matchReg)) {
              let a = res.data.match(matchReg)[0]
              let arr = a.split('/')
              this.Stime = Number(arr[arr.length - 1].substring(0, 10)) * 1000
              this._setAbTime(obj)
              resolve(res)
            } else {
              this.videoUrl = ''
              this.videoJump = ''
              this.$func._error('资源出错')
              reject(res)
            }
          })
      })
    },
    delStep() {
      this.stepChange = false
      this.step = 1
      this.isActive = true
      this.isActive2 = false
      setTimeout(() => {
        this.stepChange = true
      })
    },
    addStep() {
      this.stepChange = false
      this.isActive = false
      this.isActive2 = true
      setTimeout(() => {
        this.step = 2
        this.stepChange = true
      })
    },
    inButton() {
      this.showButton = true
    },
    outButton() {
      this.showButton = false
    },
    mouseEnter(row, column, cell, event) {
      cell.style.cursor = 'pointer'
    },
    reset() {
      this.selectedList = []
      this.$refs.tree.setCheckedKeys([])
    },
     // 搜索节点处理函数
    filterNode(value, data) {
      if (!value) return true
      return data.fexpression.indexOf(value) !== -1
    },
    nodeCheck(node, data) {
      this.selectedList = data.checkedNodes
      this.resultdata.fexpressioncodes = this.selectedList.map(i => i.fcode).join(';')

      this.resultdata.fexpressions = this.selectedList.map(i => i.fexpression).join(';')
    },
    alertClose(obj) {
      let keys = []
      let selectedList = this.selectedList.filter(item => {
        if (item.fid !== obj.fid) {
          keys.push(item.fid)
        }
        return item.fid !== obj.fid
      })
      this.selectedList = selectedList
      this.resultdata.fexpressioncodes = this.selectedList.map(i => i.fcode).join(';')
      this.resultdata.fexpressions = this.selectedList.map(i => i.fexpression).join(';')
      this.$refs.tree.setCheckedKeys(keys)
    }
  },
  computed: {
    flength() {
      let start = new Date(this.resultdata.fstart).getTime()
      let end = new Date(this.resultdata.fend).getTime()
      if (start && end) {
        return (end - start) / 1000
      } else {
        return '0'
      }
    },
    duringtime() {
      return this.timeDate[this.activeNames2].starttime + ' - ' + this.timeDate[this.activeNames2].endtime
    },
    isjc() {
      return this.fstate === '1'
    },
    isend(){
      return this.videoJump === `${this.$route.query.fissuedate} ${this.tableData[this.rowIndex].fendtime}`
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
}
</script>

<style scoped lang="scss">
.el-table /deep/ .playing-row {
  background: #f0f9eb;
}
.loadingcover {
  height: 430px;
}
.timefieldset {
  height: 436px;
  position: relative;
  margin-bottom: 20px;
}
.timefieldset-warp {
  overflow: auto;
  height: 415px;
}
.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.timeChoise {
  width: 100%;
  margin: 10px 0px;
}
.stepBox {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50px;
  background: red;
}
.stepBox button {
  border: none;
  background: rgb(60, 60, 60);
  height: 50%;
}
.active {
  color: #ffffff;
}
.active2 {
  color: #ffffff;
}
.el-radio-button {
  width: calc(100% / 6);
}
.radiogroup {
  width: 100%;
}
.radiogroup /deep/ .el-radio-button__inner {
  width: 100%;
}
fieldset{
  margin-bottom: 0px;
}
.lp{
  border: 1px solid #909399;
}
.cp{
  border: 1px solid #e6a23c;
}
.wp{
  border: 1px solid #f56c6c;
}
.lp,.cp,.wp{
  font-size: 13px;
  padding: 3px;
  margin-bottom: 4px;
  color: #606266;
  .adname{
    font-weight: bold;
  }
  .label{
    font-weight: bold;
  }
}
.el-form-item{
  margin-bottom: 6px;
}
.tip{
  font-size: 12px;
  line-height: 14px;
  margin: 4px 0 0;
}
.tree-block{
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
  & /deep/ .tree-node-slot{
    width: 60em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
.el-tree {
  & /deep/ > .el-tree-node{
    & > .el-tree-node__content{
      & > .el-checkbox{
          display: none;
        }
      }
    }
  }
}
</style>