<template>
  <div class="ginspectcheck-paper"
    ref="bodyWidth">
    <div v-loading="loading"
      element-loading-background="#ffffff">
      <el-row :gutter="20">
        <el-col :span="12"
          ref="loadingcover">
          <div class="loadingcover">
            <vueCropper v-if="isfpage === '0'"
              :img="row.fjpgfilename"
              :outputSize="1"></vueCropper>
            <vueCropper v-else
              :img="fpageUrl"
              :outputSize="1"></vueCropper>
          </div>
          <br />
          <fieldset v-if="!isjc">
            <legend>新增复核结果</legend>
            <el-row>
              <el-form :model="form"
                ref="form"
                label-width="90px">
                <el-col :span="16">
                  <el-form-item label="当前广告：">
                    {{row.fadname}}
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="所属版面：">
                    {{row.fpage}}
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="类型：">
                    <el-select style="width:100%"
                      :disabled="isfpage === '1'"
                      v-model="resultdata.fresult_type">
                      <el-option v-for="(value,key) in resultType"
                        :key="key"
                        :label="value"
                        :value="key"></el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label="复核结果：">
                    <el-input v-model="resultdata.fresult"
                      :disabled="isfpage === '1'"
                      type="textarea"
                      :rows="5"
                      placeholder=""></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="24"
                  class="text-center">
                  <el-button type="primary"
                    :disabled="isfpage === '1'"
                    @click="_addResult">添 加</el-button>
                </el-col>
              </el-form>
            </el-row>
          </fieldset>
        </el-col>
        <el-col :span="12">
          <fieldset class="timefieldset">
            <span class="pull-right paper-name">{{$route.query.fmedianame + ' ' + $route.query.fissuedate}}</span>
            <el-tabs type="card"
              v-model="isfpage">
              <el-tab-pane label="广告">
                <div class="timefieldset-warp">
                  <el-table v-loading="loading"
                    name="0"
                    :data="tableData"
                    border
                    @row-click="(rows) => row = rows"
                    :style="{width:tableWidth}"
                    :cell-style="{padding:'2'}"
                    @cell-mouse-enter="mouseEnter"
                    height="355">
                    <el-table-column type="index"
                      fixed
                      width="55">
                    </el-table-column>
                    <el-table-column label="广告名称"
                      fixed
                      prop="fadname"
                      show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column label="广告类别"
                      show-overflow-tooltip>
                      <template slot-scope="scope">
                        <span v-html="scope.row.fadclass"
                          class="noWrap"></span>
                      </template>
                    </el-table-column>
                    <el-table-column label="版面"
                      width="60"
                      prop="fpage">
                    </el-table-column>
                    <el-table-column label="版面类型"
                      show-overflow-tooltip
                      prop="fpagetype">
                    </el-table-column>
                    <el-table-column width="70"
                      label="广告图片">
                      <template slot-scope="scope">
                        <a :href="scope.row.fjpgfilename"
                          target="_blank">
                          <el-button type="text">查看</el-button>
                        </a>
                      </template>
                    </el-table-column>
                    <el-table-column prop="fillegaltypecode"
                      label="是否违法">
                    </el-table-column>
                    <el-table-column width="110"
                      label="违法表现">
                      <template slot-scope="scope">
                        <el-popover placement="left"
                          width="200"
                          trigger="hover"
                          :content="scope.row.fexpressions">
                          <span type="text"
                            slot="reference">{{scope.row.fexpressioncodes}}</span>
                        </el-popover>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-tab-pane>
              <el-tab-pane label="版面"
                name="1">
                <el-table v-loading="loading"
                  :data="pageData"
                  border
                  @row-click="(rows,e) => {fpageUrl = rows.furl;e.stopPropagation()}"
                  highlight-current-row
                  :style="{width:tableWidth}"
                  :cell-style="{padding:'2'}"
                  @cell-mouse-enter="mouseEnter"
                  height="355">
                  <el-table-column type="index"
                    fixed
                    width="55">
                  </el-table-column>
                  <el-table-column label="版面"
                    width="60"
                    fixed
                    prop="fpage"
                    show-overflow-tooltip>
                  </el-table-column>
                  <el-table-column label="版面类型"
                    prop="fpagetype"
                    show-overflow-tooltip>
                  </el-table-column>
                  <el-table-column width="70"
                    label="版面图片">
                    <template slot-scope="scope">
                      <a :href="scope.row.furl"
                        target="_blank">
                        <el-button type="text">查看</el-button>
                      </a>
                    </template>
                  </el-table-column>
                </el-table>
              </el-tab-pane>
            </el-tabs>
          </fieldset>
          <fieldset v-if="!isjc">
            <legend>复核结果</legend>
            <el-table :data="checkresult"
              border
              height="245px"
              @row-click="showPaperAd"
              @cell-mouse-enter="mouseEnter"
              ref="tableWidth">
              <el-table-column type="index"
                width="55">
              </el-table-column>
              <el-table-column prop="fadname"
                label="广告名称"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column prop="fpage"
                width="50"
                label="版面"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column width="50"
                label="类型">
                <template slot-scope="scope">
                  {{resultType[scope.row.fresult_type]}}
                </template>
              </el-table-column>
              <el-table-column prop="fresult"
                label="复核结果"
                show-overflow-tooltip>
              </el-table-column>
              <el-table-column width="60"
                label="操作">
                <template slot-scope="scope">
                  <el-button type="text"
                    @click="_deleteResult(scope.row,$event)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
            <el-pagination background
              layout="prev, pager, next, total"
              :total="Number(allcount)"
              :page-size="10"
              :current-page="Number(resultform.pageIndex)"
              @current-change="_checkResult">
            </el-pagination>
          </fieldset>
        </el-col>
      </el-row>
      <fieldset v-if="isjc">
        <legend>复核结果</legend>
        <el-table :data="checkresult"
          border
          height="250px"
          @row-click="showPaperAd"
          @cell-mouse-enter="mouseEnter">
          <el-table-column type="index"
            width="55">
          </el-table-column>
          <el-table-column prop="fadname"
            label="广告名称"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="fpage"
            width="50"
            label="版面"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column width="50"
            label="类型">
            <template slot-scope="scope">
              {{resultType[scope.row.fresult_type]}}
            </template>
          </el-table-column>
          <el-table-column prop="fresult"
            label="复核结果"
            show-overflow-tooltip>
          </el-table-column>
        </el-table>
        <div style="display: flex;justify-content: space-between;">
          <el-pagination background
            layout="prev, pager, next, total"
            :total="Number(allcount)"
            :page-size="10"
            :current-page="Number(resultform.pageIndex)"
            @current-change="_checkResult">
          </el-pagination>
          <out-button
            :type="['xls']"
            :data="predata"
            :json="true"
            @initdata="daochu"
            style="margin-right: 20px;"
            url="/Agp/Inspectiontask2/ViewResult"
            class="pull-right right-margin" />
        </div>
      </fieldset>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import VueCropper from 'vue-cropper'
import outButton from '../../../common/outButton'
export default {
  components: { VueCropper, outButton },
  props: {
    fstate: {
      type: String,
      required: true
    },
  },
  data() {
    return {
      form: {
        pageIndex: 1
      },
      resultform: {
        pageIndex: 1
      },
      row: {},
      allcount: '0',
      allcount2: '0',
      tableData: [],
      pageData: [],
      checkresult: [],
      activeNames: 0,
      activeNames2: 0,
      loading: false,
      isfpage: '0',
      fpageUrl: '',
      resultdata: {
        'fstart': '',
        'fend': '',
        'fresult_type': '1',
        'fresult': ''
      },
      resultType: {
        '1': '错误',
        '2': '误判'
      },
      step: 1,
      tableWidth: '',
      predata:{},
    }
  },
  created() {
    this._dataInit()
    this._getFpage()
    this._checkResult()
    this.daochu()
  },
  mounted() {
    this.$nextTick(() => {
      this.tableWidth = `${this.$refs.bodyWidth.clientWidth / 2 - 55}px`
    })
  },
  methods: {
    daochu() {
      let data = {
        fid: this.$route.query.fid,
        nottype: '0'
      }
      this.predata = data
    },
    _addResult() {
      let data = {
        ...this.resultdata,
        fid: this.$route.query.fid,
        fadname: this.row.fadname,
        fpage: this.row.fpage,
        fissueid: this.row.fissueid
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/AddResult', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._checkResult()
            this.resultdata = {
              ...this.resultdata,
              'fresult_type': '1',
              'fresult': ''
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    showPaperAd(row, event, column){
      this.row = this.tableData.filter(item => {
        return item.fissueid === row.fissueid
      })[0]
    },
    _deleteResult(obj, e) {
      let data = { fid: obj.fid }
      let msg = `确认删除该复核结果?`
      this.$confirm(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Inspectiontask2/DeleteResult', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._checkResult()
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
      e.stopPropagation()
    },
    _dataInit(page) {
      this.loading = true
      this.form.pageIndex = page || 1
      let data = {
        ...this.form,
        pageSize: '10000000',
        fid: this.$route.query.fid,
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/CheckAdsPaper', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.fad
            if(res.data.data.fad.length){
              this.row = res.data.data.fad[0]
            }
            this.allcount2 = res.data.count
          }
          this.loading = false
        })
    },
    _getFpage() {
      let data = {
        fid: this.$route.query.fid,
        pageIndex: "1",
        pageSize: "100000"
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/GetPages', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.pageData = res.data.data.fpages.data
          }
        })
    },
    _checkResult(page) {
      let data = {
        ...this.resultform,
        fid: this.$route.query.fid,
        pageSize: '10',
        pageIndex: page || 1,
        nottype: '0'
      }
      axios.post(this.$_ + '/Agp/Inspectiontask2/ViewResult', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.checkresult = res.data.data
            this.allcount = res.data.count
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    mouseEnter(row, column, cell, event) {
      cell.style.cursor = 'pointer'
    }
  },
  computed: {
    isjc() {
      return this.fstate === '1'
    }
  },
  watch: {
    isfpage(val) {
      if (val === '0' && !this.row.fjpgfilename) {
        this.row = this.tableData[0]
      }
      if (val === '1' && !this.fpageUrl && this.pageData.length) {
        this.fpageUrl = this.pageData[0].furl
      }
    },
  },
}
</script>

<style scoped lang="scss">
.el-table /deep/ .playing-row {
  background: #f0f9eb;
}
.loadingcover {
  height: 498px;
}
.timefieldset {
  height: 436px;
  position: relative;
}
.timefieldset-warp {
  overflow: auto;
  height: 415px;
}
.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.paper-name {
  line-height: 35px;
}
</style>