<template>
  <el-dialog title="违法表现"
    :visible.sync="showIllegal"
    center
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    width="1000px">
    <el-input placeholder="关键字搜索"
      v-model="filterText">
    </el-input>
    <div class="tree-block">
      <el-tree show-checkbox
        node-key="id"
        check-strictly
        :data="illegalArr"
        :props="treeProps"
        @check="nodeCheck"
        :filter-node-method="filterNode"
        ref="tree">
        <div slot-scope="{ node, data }">
          <el-popover
             v-if="node.label.length > 60"
            placement="top"
            width="400"
            trigger="hover"
            :content="node.label">
            <div class="tree-node-slot" slot="reference">{{ node.label }}</div>
          </el-popover>
          <div v-else class="tree-node-slot">{{ node.label }}</div>
        </div>
      </el-tree>
    </div>
    <span slot="footer">
      <el-button type="primary"
        @click="showIllegal = false">确 定</el-button>
      <el-button type="danger"
        @click="reset">清 空</el-button>
    </span>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      illegalArr: [],
      showIllegal: false,
      filterText: '',
      treeProps: {
        label: 'label',
        children: 'children'
      }
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    }
  },
  created() {
    this.getIllegalArr()
  },
  methods: {
    show() {
      this.showIllegal = true
    },
    getIllegalArr() {
      axios.get(this.$_ + '/Agp/AdDataCheck/getIllegalArr')
        .then(res => {
          if (res.data.code === 0) {
            this.illegalArr = res.data.data
          }
        })
    },
    nodeCheck(node, data) {
      this.$emit('node-check', data.checkedNodes)
    },
    setNode(arr){
      this.$refs.tree.setCheckedKeys(arr.map(i => i.id))
    },
    filterNode(value, data) {
      if (!value) return true
      return data.label.indexOf(value) !== -1
    },
    reset() {
      this.selectedList = []
      this.$refs.tree.setCheckedKeys([])
      this.$emit('node-check', [])
    },
  },
}
</script>

<style scoped>
.tree-block {
  height: 300px;
  overflow: auto;
}
.tree-node-slot{
  width:60em;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
</style>
<style>
  .tree-block .el-tree > .el-tree-node > .el-tree-node__content > .el-checkbox {
    display: none !important;
  }
</style>
