<template>
  <div class="">
    <el-dialog title="交办线索"
      :visible.sync="show"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="600px"
      center
      @close="() => $emit('close')">
      <el-form ref="form"
        label-width="90px">
        <el-form-item label="媒体类型：">
          <el-select v-model="type"
            style="width:100%"
            @change="_getMediaList">
            <el-option v-for="item in Mediatype"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="媒体列表：">
          <el-select v-model="media"
            style="width:100%"
            multiple
            collapse-tags>
            <el-option v-for="item in mediaList"
              :key="item.fid"
              :label="item.fmedianame"
              :value="item.fid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选择地域：">
          <el-cascader style="width:100%"
            :options="$store.state.GData"
            :props="$store.state.areaOptions"
            v-model="area"
            clearable>
          </el-cascader>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button type="primary"
          @click="_jiaoban">提 交</el-button>
        <el-button type="danger"
          @click="_reset">重 置</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import axios from "axios"
import qs from "qs"
export default {
  data() {
    return {
      show: true,
      area: [],
      media: [],
      type: '1',
      mediaList: [],
    }
  },
  created() {
    this._getMediaList()
  },
  methods: {
    _getMediaList() {
      axios.post(this.$_ + "/Agp/Gcore/user_medialist_for_grant", qs.stringify({ mclass: this.type }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaList = res.data.data
          }
        })
    },
    _jiaoban() {
      if (!this.media.length) {
        this.$message.error("请选择媒体！");
        return false;
      }
      if (!this.area.length) {
        this.$message.error("请选择地域！");
        return false;
      }
      let data = {
        fmedia_ids: this.media,
        fmedia_class: this.type,
        tregionid: this.area[this.area.length - 1]
      };
      axios.post(this.$_ + "/Agp/Gjbananjian/ajjiaoban", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$emit('close')
            this.$message.success(res.data.msg)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        });
    },
    _reset() {
      this.type = "1";
      this.media = [];
      this.area = [];
      setTimeout(() => {
        this._getMediaList()
      })
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType3
    }
  }
}
</script>

<style scoped>
</style>