<template>
  <div class="shangbao">
    <el-dialog
      center
      title="处理反馈"
      :visible.sync="showUpload"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <div style="margin-bottom: 10px;" v-if="$route.path ==  '/sbchuli'">
        <span class="pull-left">处理方式：</span>
        <el-checkbox-group v-model="checkboxValue">
          <el-checkbox label="责令停止发布"></el-checkbox>
          <el-checkbox label="立案"></el-checkbox>
          <el-checkbox label="移送司法"></el-checkbox>
          <el-checkbox label="其他"></el-checkbox>
        </el-checkbox-group>
      </div>
      <upload
        @uploadSuccess="_uploadSuccess" text="上传附件">
      </upload>
      <el-table :data="attachInfo" border>
        <el-table-column
          prop="fattachname"
          label="文件名称">
        </el-table-column>
        <el-table-column
          width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"  @click="_deleteFile(scope.row)" icon="el-icon-delete">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <!-- 跨地域以及非国家级 -->
        <el-button type="primary" @click="_sendResult(true)" v-if="$route.path == '/lachuli'">结 案</el-button>
        <el-button type="primary" @click="_sendResult(false)">{{$route.path ==  '/sbchuli' ? buttonText : $route.path ==  '/ckchuli' ? '提 交' : '保 存' }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import upload from '../../common/upload'
export default {
  components: {
    upload
  },
  data() {
    return {
      show: true,
      attachInfo: [],
      changeAttachInfo: [],
      showUpload: true,
      submit: '1',
      checkboxValue: [],
    }
  },
  methods: {
    _sendResult(val) {
      if(val){
        this.$emit('send',this.changeAttachInfo)
      } else{
        if (!this.checkboxValue.length && this.$route.path ==  '/sbchuli') {
          this.$message.error("请选择处理方式！")
          return false
        }
        this.$emit('send',this.changeAttachInfo, 1, this.checkboxValue)
      }
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
      this.changeAttachInfo.push(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
          this.changeAttachInfo = this.changeAttachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    _close() {
      if(!this.changeAttachInfo.length){
        this.$emit('close')
        return false
      }
      this.$confirm(`关闭弹窗将舍弃已上传的文件，是否继续关闭？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$emit('close')
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

  },
  computed: {
    buttonText(){
      if(this){
        let arr = this.$store.state.menudata[this.$route.name]
        if(arr && arr.length === 2){
          return arr[1].slice(-2)
        }else{
          return '处 理'
        }
      }
    },
  }
};
</script>

<style scoped>
</style>