<template>
  <div class="time-line"
    ref="timeline">
    <div class="time-line-warp">
      <div class="center-line"
        :style="{'width':`${itemWidth}px`}"
        v-show="onDrag"></div>
      <ul class="time-line-ul"
        ref="timelineul"
        @mousedown="onmousedown"
        @mousemove="onmousemove"
        @mouseup="onmouseup"
        :style="ulwidth">
        <el-tooltip class="item"
          effect="dark"
          :content="item.substring(11)"
          placement="top"
          v-for="item in timeArr"
          :key="item">
          <li class="time-line-li"
            :style="{'width':`${itemWidth}px`,'height': item.substring(18) === '0' ? '30px' : '20px'}"
            :class="{'active':item === activetime,'heightItem':item.substring(18) === '0'}"
            @click="reset(item)">
            <span class="time-item-span"
              :alt="item.substring(11)"></span>
          </li>
        </el-tooltip>
      </ul>
			<slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    activetime: {
      default: '',
      type: String
    },
    step: {
      default: 1,
      type: Number
    }
  },
  data() {
    return {
      timeArr: [],
      itemWidth: '',
      x: 0,
      px: 0,
      onDrag: false,
      el: null,
      s: 0,
      itemNum: 50000,
      flag: 1,
      isclick: false
    }
  },
  created() {
    this.getTimeArr(this.activetime)
  },
  mounted() {
    this.itemWidth = this.setWidth()
    this.el = this.$refs.timelineul
  },
  methods: {
    onmousedown(e) {
      this.x = e.clientX
      this.px = this.el.offsetLeft
      this.onDrag = true
      this.el.style.cursor = 'move'
      this.$emit('tmousedown')
    },
    onmousemove(e) {
      if (this.onDrag) {
        let nx = e.clientX + this.px - this.x
        this.el.style.left = nx + 'px'
        // 鼠标拖拽横向距离，向左为 + 右 -
        let mw = this.x - e.clientX
        // 计算跳转的秒数，向上取整
        this.s = Math.ceil(mw / this.itemWidth)
        if (this.flag) {
          this.flag = 0
          this.$emit('tmousemove')
          setTimeout(() => {
            this.flag = 1
          }, 500)
        }
      }
    },
    onmouseup(e) {
      this.isclick = Math.abs
        (this.x - e.clientX) < 2 * this.itemWidth
      if (this.onDrag && !this.isclick) {
        this.$emit('tmouseup', Math.round(this.s))
      }
      this.onDrag = false
      this.el.style.cursor = 'default'
      this.s = 0

    },
    reset(time) {
      // 如果拖动距离小于一格宽度，视为点击事件
      if (this.isclick) {
        this.getTimeArr(time)
        this.$emit('click', time)
      }
    },
    getTimeArr(time) {
      let arr = []
      // 计算步数
      let b = new Date(time).getTime() - (this.itemNum * this.step)
      for (let i = 0; i < ((this.itemNum * this.step) / 1000 * 2 + 1); i++) {
        arr.push(this.$dayjs(b + (i * 1000)).format('YYYY-MM-DD HH:mm:ss'))
      }
      this.timeArr = arr
    },
    // 计算每隔宽度
    setWidth() {
      return (this.$refs.timeline.clientWidth / (this.step * 60) + 1)
    },
  },
  computed: {
    ulwidth() {
      return { 'width': `${this.itemWidth * ((this.itemNum * this.step) / 1000 * 2 + 1)}px` } || { 'width': '100%' }
    }
  },
  watch: {
    activetime(time) {
      let arr = []
      let b = new Date(time).getTime() - (this.itemNum * this.step)
      for (let i = 0; i < ((this.itemNum * this.step) / 1000 * 2 + 1); i++) {
        arr.push(this.$dayjs(b + (i * 1000)).format('YYYY-MM-DD HH:mm:ss'))
      }
      this.$set(this, 'timeArr', arr)
      if (this.el) {
        this.el.style.left = '50%'
      }
    }
  }
}
</script>

<style scoped lang="scss">
.time-line-warp {
  height: 55px;
  background-color: #21252b;
  position: relative;
  overflow: hidden;
  .center-line {
    position: absolute;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(235, 76, 76);
    z-index: 9;
  }
  .time-line-ul {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    height: 55px;
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    .time-line-li {
      margin-top: 5px;
      display: inline-block;
      position: relative;
      outline: none;
      border-bottom: 2px solid #ccc;
      background-color: rgb(84, 91, 104);
      &.active {
        background-color: rgb(235, 76, 76);
      }
      &:hover {
        cursor: pointer;
        background-color: #ccc;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 6px;
        background-color: #ccc;
      }
      &.active {
        .time-item-span {
          position: relative;
          &::after {
            // background-color: rgb(235, 76, 76);
            content: attr(alt);
            position: absolute;
            bottom: 0px;
            color: #ccc;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12px;
            z-index: 9999;
          }
        }
      }
      &.heightItem {
        .time-item-span {
          position: relative;
          &::after {
            content: attr(alt);
            position: absolute;
            bottom: 0;
            color: #ccc;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12px;
          }
        }
      }
    }
  }
}
</style>