<template>
  <el-dialog center
    class="view-video"
    :visible.sync="show"
    width="1200px"
    append-to-body
    :before-close="_close"
    :close-on-click-modal="false"
    :title="details.fad_name">
    <div class="view-warp"
      :style="{'height':(details.fmedia_class !== '3' && details.fmedia_class !== '13') ? (showadv && data.dig_status === '0' ? '600px' : '400px') : 'auto'}"
      v-loading="loading"
      element-loading-background="rgb(255, 255, 255)">
      <div class="player-box" @mouseenter="showReload = true" @mouseleave="showReload = false">
        <el-button @click="setPlayTime" class="video-reload" v-show="showReload" size="mini" icon="el-icon-refresh" v-if="(details.fmedia_class !== '3' && details.fmedia_class !== '13')"></el-button>
        <div v-if="(details.fmedia_class !== '3' && details.fmedia_class !== '13')"
          element-loading-background="rgba(255,255,255,1)"
          style="width:560px"
          v-loading="!videoFlag">
          <aliplayer ref="aliplayer"
            :autoplay="true"
            :url="videoUrl"
            v-if="(details.fmedia_class !== '3' && details.fmedia_class !== '13') && showPlayer"
            @error="_videoerror"
            @success="_videosuccess"
            @start="playStart">
          </aliplayer>
        </div>
        <div class="imgBlock"
          v-if="(details.fmedia_class === '3' || details.fmedia_class === '13') && !details.article_content">
          <el-tabs v-model="activeTab">
            <el-tab-pane :label="details.fmedia_class === '3' ? '版面图片' : '广告图片'" name="1">
              <div v-if="details.fmedia_class === '13'">
                <div class="imgBlock"
                  v-if="details.ftype === 'image'">
                  <a :href="details.thumb_url_true"
                    v-if="details.thumb_url_true"
                    target="_blank">
                    <img :src="details.thumb_url_true"
                      alt="图片加载失败">
                  </a>
                  <img :src="details.thumb_url_true"
                    alt="图片加载失败"
                    v-else>
                </div>
                <div v-if="details.ftype === 'swf'">
                  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
                    width="100%">
                    <param name="movie"
                      :value="details.thumb_url_true">
                    <param name="quality"
                      value="high">
                    <param name="wmode"
                      value="transparent">
                    <embed :src="details.thumb_url_true"
                      quality="high"
                      pluginspage="http://www.macromedia.com/go/getflashplayer"
                      type="application/x-shockwave-flash"
                      width="100%">
                  </object>
                </div>
                <div v-if="details.ftype === 'text'">
                  <a :href="details.thumb_url_true"
                    target="_blank">{{details.fad_name}}</a>
                </div>
              </div>
              <div v-else>
                <div class="imgBlock"
                  v-if="details.fjpgfilename2">
                  <a :href="details.fjpgfilename2"
                    v-if="details.fjpgfilename2"
                    target="_blank">
                    <img :src="details.fjpgfilename2"
                      alt="图片加载失败">
                  </a>
                  <img :src="details.fjpgfilename2"
                    alt="图片加载失败"
                    v-else>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="发布页截图"
              name="2"
              v-if="details.net_snapshot">
              <div class="imgBlock2">
                <a :href="details.net_snapshot"
                  target="_blank"
                  v-if="details.net_snapshot">
                  <img :src="details.net_snapshot"
                    width="100%"
                    alt="图片加载失败">
                </a>
                <img :src="details.net_snapshot"
                  width="100%"
                  alt="图片加载失败"
                  v-else>
              </div>
            </el-tab-pane>
            <el-tab-pane label="快照图片"
              name="3"
              v-if="Number(details.net_platform) === 1">
              <div class="imgBlock2">
                <a :href="details.net_original_snapshot || details.net_snapshot"
                  target="_blank">
                  <img :src="details.net_original_snapshot || details.net_snapshot"
                    width="100%"
                    alt="图片加载失败">
                </a>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div class="article"
          v-if="details.article_content && details.net_platform === '9'"
          v-html="details.article_content.replace(/mmbiz.qpic.cn/g,'hz-weixin-img.oss-cn-hangzhou.aliyuncs.com').replace(/width: auto !important;/g,'')"
          style="height:600px;overflow:auto;"></div>
        <br />
        <fieldset v-if="showadv && data.dig_status === '0'">
          <legend>数据检查</legend>
          <el-form :model="form"
            ref="form"
            label-width="80px">
            <el-form-item label="检查结果">
              <el-radio-group v-model="form.status">
                <el-radio label="10">无异议</el-radio>
                <el-radio label="20">有异议</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="反馈意见"
              v-if="form.status === '20'">
              <el-input type="textarea"
                :autosize="{ minRows: 2, maxRows: 4}"
                placeholder="请输入反馈意见"
                v-model="form.content">
              </el-input>
            </el-form-item>
            <el-form-item label="">
              <el-button type="primary"
                @click="_submit">提交</el-button>
            </el-form-item>
          </el-form>
        </fieldset>
      </div>
      <div class="info-warp">
        <img v-if="details.fmedia_class === '3'"
          :src="details.fjpgfilename"
          width="100%"
          alt="广告图片">
        <el-form label-width="120px">
          <el-form-item label="广告类别：">
            {{details.fadclass}}
          </el-form-item>
          <el-form-item label="发布媒体：">
            {{details.fmedianame}}
          </el-form-item>
          <el-form-item label="版面："
            v-if="details.fmedia_class === '3'">
            {{details.fpage}}
          </el-form-item>
          <el-form-item label="发布时间段："
            v-if="details.fmedia_class !== '3' && issueTime">
            {{issueTime}}
            <el-popover v-if="issueList.length"
              placement="right"
              width="400"
              trigger="hover">
              <el-table :data="issueList"
                border
                height="400">
                <el-table-column type="index"
                  width="50"></el-table-column>
                <el-table-column property="fstarttime"
                  label="开始时间"></el-table-column>
                <el-table-column property="fendtime"
                  label="结束时间"></el-table-column>
              </el-table>
              <i class="el-icon-tickets"
                slot="reference"></i>
            </el-popover>
          </el-form-item>
          <el-form-item label="下载素材："
            v-if="(details.fmedia_class !== '3' && details.fmedia_class !== '13') && !hiddown">
            <a :href="details.favifilename"
              target="_blank"
              v-if="downyb">
              <el-button type="primary">下载素材</el-button>
            </a>
            <a :href="details.source_url"
              target="_blank"
              v-if="details.fmedia_class !== '3' && details.source_url && !downyb">
              <el-button type="primary">下载素材</el-button>
            </a>
            <el-button type="primary"
              @click="_createCC"
              :disabled="!showcreate"
              v-else-if="details.fmedia_class !== '3' && !details.source_url && !downyb"
              :loading="details.source_state === '1'">{{details.source_state === '1' ? '正在生成' : '生成素材'}}</el-button>
          </el-form-item>
          <!-- 互联网下载素材 -->
          <el-form-item label="下载素材：" v-if="details.fmedia_class === '13'">
            <a :href="details.fjpgfilename || details.net_original_snapshot"
              v-if="details.fjpgfilename || details.net_original_snapshot"
              target="_blank">
              <el-button type="primary">下载素材</el-button>
            </a>
            <el-button type="primary" disabled v-else>下载素材</el-button>
          </el-form-item>
          <el-form-item label="落地页："
            v-if="details.fmedia_class === '13' && details.favifilename && details.favifilename !== 'empty'">
            <a :href="details.favifilename"
              target="_blank">
              <div class="netlink">{{details.favifilename}}</div>
            </a>
          </el-form-item>
          <el-form-item label="违法表现代码：">
            <span class="text-red"
              v-html="details.fillegal_code"></span>
          </el-form-item>
          <el-form-item label="违法表现：">
            <span class="text-red ill"
              v-html="details.fexpressions"></span>
          </el-form-item>
          <el-form-item label="违法描述：">
            <span class="text-red ill"
              v-html="details.fillegal"></span>
          </el-form-item>
          <el-form-item label="认定依据：">
            <span class="text-red"
              v-html="details.fconfirmations"></span>
          </el-form-item>
          <el-form-item label="当前片段："
            v-if="details.fmedia_class === '2' && $route.name === 'ckchuli' && issueList.length">
            {{issueList[issIndex].fstarttime + ' ~ ' + issueList[issIndex].fendtime}}
          </el-form-item>
          <el-form-item label="发布时间："
            v-if="details.fmedia_class === '3'">
            {{details.fstarttime}}
          </el-form-item>
          <el-form-item label="广告图片："
            v-if="details.fmedia_class === '3'">
            <a :href="details.fjpgfilename"
              target="_blank">
              <el-button type="text">广告图片下载</el-button>
            </a>
          </el-form-item>
          <el-form-item label="版面图片："
            v-if="details.fmedia_class === '3'">
            <a :href="details.fjpgfilename2"
              target="_blank">
              <el-button type="text">版面图片下载</el-button>
            </a>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </el-dialog>
</template>
<script>
import VueCropper from 'vue-cropper'
import axios from 'axios'
import qs from 'qs'
import aliplayer from '../../../common/aliplayer'
export default {
  props: {
    data: {
      default: {},
      type: Object
    },
    usedata: {
      default: false,
      type: Boolean
    },
    hiddown: {
      default: false,
      type: Boolean
    },
    showadv: {
      default: false,
      type: Boolean
    }
  },
  components: {
    VueCropper,
    aliplayer
  },
  data() {
    return {
      show: true,
      showPlayer: true,
      loading: true,
      videoUrl: '',
      form: {
        status: '10',
        content: ''
      },
      details: {},
      timer: null,
      videoFlag: false,
      issueList: [],
      issIndex: 0,
      listIndex: 0,
      nissList: [],
      Interval: null,
      downyb: false,
      showcreate: false,
      mediaList: [],
      showReload: false,
      activeTab: '1',
    };
  },
  computed: {
    issueTime(){
      let playList = this.issueList.filter(i => i.isplay === '1')
      if(playList[this.listIndex]){
        return playList[this.listIndex].fstarttime.substring(10) + '~' +  playList[this.listIndex].fendtime.substring(10)
      }else{
        return this.issueList[0].fstarttime.substring(10) + '~' +  this.issueList[0].fendtime.substring(10)
      }
    }
  },
  created() {
    this._getData()
  },
  methods: {
    playStart(){
      this.showcreate = true
      let preTime = localStorage.getItem('playCurrentTime')
      if(preTime){
        this.$refs.aliplayer._seek(preTime)
      }
    },
    setPlayTime(){
      let nowTime = this.$refs.aliplayer._getCurrentTime()
      localStorage.setItem('playCurrentTime',nowTime)
      this.showPlayer = false
      setTimeout(() => {
        this.showPlayer = true
      },500)
    },
    _videoerror() {
      this.videoFlag = false
    },
    _videosuccess() {
      this.videoFlag = true
    },
    _submit() {
      let data = { ...this.form }
      data.adid = this.data.sid || this.data.fid
      axios.post(this.$_ + '/Agp/Gjcshuju/sjjc_action', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close', { 'reload': true })
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    handleUrl(arr = [], obj = {}) {
      const o = obj
      arr.forEach(i => {
        if (o[i] && o[i].indexOf('?') === -1) {
          o[i] = o[i] + '?attname='
        }
      })
      return o
    },
    _getData() {
      let data = null
      if (!this.usedata) {
        data = {
          fid: this.data.sid || this.data.fid,
          mclass: this.data.fmedia_class,
          years: this.$store.state.Gsearch.years,
          timetypes: this.$store.state.Gsearch.timetypes,
          timeval: this.$store.state.Gsearch.timeval,
        }
        if(this.$route.name === 'filladlist') data.sendstatus = '-1'
        if (this.data.dit_id) data.dit_id = this.data.dit_id
      } else {
        data = this.data
      }
      axios.post(this.$_ + '/Agp/Gsbchuli/anjian_view', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.details = this.handleUrl(['favifilename', 'source_url', 'fjpgfilename', 'fjpgfilename2'], res.data.data)
            if (this.details.fjpgfilename) this.details.fjpgfilename = this.details.fjpgfilename.replace(/http:\/\/mmbiz.qpic.cn|https:\/\/mmbiz.qlogo.cn/g, 'https://hz-weixin-img.oss-cn-hangzhou.aliyuncs.com')
            if (res.data.data.source_state && res.data.data.source_state === '1') {
              this.timer = setInterval(() => {
                this._checkCreated(Array.of(res.data.data.source_id))
              }, 3000)
            }
            let list = res.data.data.issue_list
            if (list && list.length) {
              let obj = list[0]
              if ((new Date(obj.fendtime).getTime() - new Date(obj.fstarttime).getTime()) >= 7200000) {
                this.downyb = true
              }
              this.issueList = list
              let playList = list.filter(i => i.isplay === '1')
              if(playList.length){
                this._getPlayUrl(playList[this.listIndex])
              }else{
                this.videoUrl = res.data.data.favifilename
                this.downyb = true
              }
            } else {
              this.videoUrl = res.data.data.favifilename
              this.downyb = true
            }
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getPlayUrl(data) {
      axios.post(this.$_ + '/Agp/Gsbchuli/get_favifilename', qs.stringify(data))
        .then(res => {
          if (res.data.data.length) {
            this.listIndex = 0
            this.mediaList = res.data.data
            this._testM3u8(res.data.data)
          } else {
            this.videoUrl = this.details.favifilename
            this.downyb = true
          }
        })
    },
    _testM3u8(arr) {
      axios.get(arr[this.listIndex].favifilename, {}, { timeout: 3000 })
        .then(res => {
          // 判断m3u8是否有效，包含http说明含有效内容
          if (res.data.indexOf("http") === -1) {
            this.listIndex += 1
            if (this.listIndex < arr.length) {
              return this._testM3u8(arr)
            } else if (this.listIndex >= arr.length && this.issIndex < this.issueList.length - 1) {
              this.issIndex++
            } else {
              this.videoUrl = this.details.favifilename
              this.downyb = true
            }
          } else {
            let matchReg = res.data.split("\n").filter(item => {
              return item.indexOf("http") !== -1
            })
            let fst_url = matchReg[0]
            axios.get(fst_url)
              .then(req => {
                if (!req.data.error) {
                  this.videoUrl = arr[this.listIndex].favifilename
                } else {
                  return this._testM3u8(arr)
                }
              })
          }
        })
        .catch(e => {
          this.listIndex += 1
          if (this.listIndex < arr.length) {
            return this._testM3u8(arr)
          } else if (this.listIndex >= arr.length && this.issIndex < this.issueList.length - 1) {
            this.issIndex++
          } else {
            this.videoUrl = this.details.favifilename
            this.downyb = true
          }
        })
    },
    _createCC() {
      let playList = this.issueList.filter(i => i.isplay === '1')
      let data = {}
      data.source_type = 20
      data.media_id = this.mediaList[this.listIndex].fmedia_id
      data.source_name = `${this.details.fad_name} ${playList[this.issIndex].fstarttime}-${playList[this.issIndex].fendtime.substring(11)}`
      if (this.details.fmedia_class === '1') {
        data.mclass = '01'
      } else if (this.details.fmedia_class === '2') {
        data.mclass = '02'
      } else if (this.details.fmedia_class === '3') {
        data.mclass = '03'
      }
      data.tid = this.details.fid
      data.Sstart = playList[this.issIndex].fstarttime
      data.Send = playList[this.issIndex].fendtime
      axios.post(this.$_ + '/Agp/Fmonitoring/add_source_make', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.timer = setInterval(() => {
              this._checkCreated(Array.of(res.data.data.source_id))
            }, 3000)
            this.$set(this.details, 'source_id', res.data.data.source_id)
            this.$set(this.details, 'source_state', res.data.data.source_state.toString())
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _checkCreated(arr) {
      axios.post(this.$_ + '/Agp/Fmonitoring/get_source_make_state', qs.stringify({ selsource_id: arr }))
        .then(res => {
          if (res.data.code === 0) {
            clearInterval(this.timer)
            this._getData()
          }
        })
    },
    _close() {
      if (this.$refs.aliplayer) this.$refs.aliplayer._stop()
      this.$emit('close')
    }
  },
  watch: {
    videoUrl(val) {
      this.showPlayer = false
      this.loading = true
      setTimeout(() => {
        this.showPlayer = true
        this.loading = false
      }, 500)
    },
    issIndex(val) {
      this._getPlayUrl(this.issueList[val])
    }
  },
  beforeDestroy() {
    clearInterval(this.timer)
    this.timer = null
  }
};
</script>
<style>
.view-video .ill img {
  width: 100%;
}
.view-video .ill {
  line-height: 26px !important;
  display: inline-block;
  padding-top: 6px;
}
.article img {
  max-width: 680px;
}
</style>

<style lang="scss" scoped>
.view-video {
  .view-warp {
    display: flex;
    .player-box{
      position: relative;
      .video-reload{
        position: absolute;
        z-index: 9;
        right: 0;
      }
    }
  }
  .info-warp {
    flex-grow: 1;
    padding-left: 20px;
    overflow: auto;
    .el-form-item {
      margin-bottom: 0px;
    }
  }
  .article {
    width: 700px;
    overflow: hidden;
    img{
      width: 100%!important;
    }
  }
  .imgBlock {
    width: 700px;
    overflow: hidden;
    .vue-cropper {
      height: 600px;
    }
    img {
      max-width: 100%;
    }
  }
  .netlink{
    width: 20em;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis; 
    color: #00C1DE;
  }
}
</style>
