<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1425456_qt8yu5ltdg.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1503834_6e3ngcg89jc.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1503834_x20fi30qpk.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1503834_mqmfxm75fp9.css">
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
    <title>浙江省传统媒体广告监测系统（监测端）</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="//publichz.oss-cn-hangzhou.aliyuncs.com/element/tinymce4.7.5/tinymce.min.js"></script>
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="//publichz.oss-cn-hangzhou.aliyuncs.com/RSA/jsencrypt.js"></script>
    <script src="https://cdn.bootcss.com/wavesurfer.js/3.1.0/wavesurfer.js"></script>
  </body>
</html>
