<template>
  <div class="credit" v-loading="loading">
    <el-form :model="searchForm"
      ref="searchForm"
      inline
      @keyup.native.enter="getList()">
      <el-form-item label="年月：">
        <el-date-picker v-model="yearMonth"
          clearable
          type="month"
          format="yyyy 年 M 月"
          value-format="yyyy,MM">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="集团名称：">
        <el-input v-model="searchForm.group_name" placeholder="集团名称" clearable ></el-input>
      </el-form-item>
      <el-form-item label="类别：">
        <el-radio-group v-model="searchForm.group_type">
          <el-radio-button label="">全部</el-radio-button>
          <el-radio-button label="GD">广电</el-radio-button>
          <el-radio-button label="BZ">报纸</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="getList()"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="danger"
          @click="reset()"
          icon="el-icon-refresh"
          plain>重 置</el-button>
        <el-button type="primary"
          @click="upDate()"
          plain>更新数据</el-button>
        <el-button type="primary"
          @click="output()"
          plain>导 出</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight" @sort-change="sortChange">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="集团名称" prop="JTMC"></el-table-column>
      <el-table-column label="年份" prop="N" width="70"></el-table-column>
      <el-table-column label="月份" prop="Y" width="70"></el-table-column>
      <el-table-column label="信用评价期初分" prop="XYPJQCF" sortable="custom"></el-table-column>
      <el-table-column label="本月信用评价扣分" prop="BYXYPJKF" sortable="custom"></el-table-column>
      <el-table-column label="信用评价期末分" prop="XYPJQMF" sortable="custom"></el-table-column>
      <el-table-column label="操作" width="80">
        <template slot-scope="scope">
          <el-button type="text" @click="detail(scope.row)">明 细</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="getList"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
    <el-drawer
      :title="details.JTMC"
      :visible.sync="showDetails"
      direction="rtl"
      size="800px"
      @close="details = {}">
      <div style="padding: 20px">
        <el-form>
          <el-row :gutter="8">
            <el-col :span="8" v-for="col in COLUMNS" :key="col.value">
              <el-form-item :label="col.label">
                <span>{{ details[col.value] }}</span>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <el-table :data="mediaList" border stripe>
          <el-table-column
          type="index">
          </el-table-column>
          <el-table-column v-for="col in columns"
            :prop="col.value"
            :key="col.value"
            :label="col.label">
          </el-table-column>
          <el-table-column label="操作" width="60">
            <template slot-scope="scope">
              <el-button type="text" @click="mediaDetail(scope.row)">明 细</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-drawer
          :title="innerDetails.MEDIANAME"
          :append-to-body="true"
          size="800px"
          :visible.sync="innerDrawer">
          <div style="padding: 20px">
            <media-detail :details="innerDetails" />
          </div>
        </el-drawer>
      </div>
    </el-drawer>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="() => {showdownload = false;durl = ''}">
    </out-file>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { groupCreditList, updateGroupCredit, groupMediaCreditList } from '@/api/MediaGroupCredit.js'
import outFile from '@/components/outFile'
import mediaDetail from './mediaDetail'
export default {
  name: 'groupCredit',
  components: {outFile, mediaDetail},
  data() {
    let now = new Date()
    let year = now.getFullYear()
    let month = now.getMonth() + 1
    return {
      yearMonth: `${year},${month}`,
      searchForm: {
        media_class: '',
        group_type: '',
        orders: '0',
      },
      loading: true,
      innerDrawer: false,
      details: {},
      innerDetails: {},
      showDetails: false,
      tableData: [],
      page: {
        pageSize: 20,
        pageIndex: 1
      },

      durl: '',
      showdownload: false,
      mediaList: [],

      total: 0,
      sourceForm: '',
      tableHeight: '300px',
      order: {
        'XYPJQCF': {
          'ascending': '11',
          'descending': '10',
        },
        'BYXYPJKF': {
          'ascending': '21',
          'descending': '20',
        },
        'XYPJQMF': {
          'ascending': '31',
          'descending': '30',
        },
      },
      columns: [
        {label: '地区', value: 'REGIONNAME'},
        {label: '媒体名称', value: 'MEDIANAME'},
        {label: '信用评价期初分', value: 'XYPJQCF'},
        {label: '本月信用评价扣分', value: 'BYXYPJKF'},
        {label: '信用评价期末分', value: 'XYPJQMF'},
      ],
      COLUMNS: [
        {label: '所属年份', value: 'N'},
        {label: '所属月份', value: 'Y'},
        {label: '集团名称', value: 'JTMC'},
        {label: '广告数量', value: 'GGSL'},
        {label: '违法广告数量', value: 'WFGGSL'},
        {label: 'GGSLWFL', value: 'GGSLWFL'},
        {label: '广告时长面积', value: 'GGSCMJ'},
        {label: '广告时长面积违法率', value: 'GGSCMJWFL'},
        {label: '违法广告时长面积', value: 'WFGGSCMJ'},
        {label: '次数违法率扣分', value: 'CSWFLKF'},
        {label: '时长面积违法率扣分', value: 'SCMJWFLKF'},
        {label: '违法广告数量扣分', value: 'WFGGSLKF'},
        {label: '本月总扣分', value: 'BYZKF'},
        {label: '上月总扣分', value: 'SYZKF'},
        {label: '本月信用评价扣分', value: 'BYXYPJKF'},
        {label: '信用评价期初分', value: 'XYPJQCF'},
        {label: '信用评价期末分', value: 'XYPJQMF'},
      ]
    }
  },
  computed: {
    ...mapGetters(['pickerOptions', 'mediaType']),
  },
  created() {
    this.sourceForm = JSON.stringify(this.searchForm)
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 134)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 134)
    }
  },
  methods: {
    mediaDetail(row){
      this.innerDetails = row
      this.innerDrawer = true
    },
    upDate(){
      const [year ,month] = this.yearMonth.split(',')
      let data = {
        year,
        month,
      }
      this.loading = true
      updateGroupCredit(data).then(() => {
        this.loading = false
        this.$notify.success('更新成功')
        this.getList()
      }).catch(() => this.loading = false)
    },
    output(){
      this.durl = ''
      const [year ,month] = this.yearMonth.split(',')
      let data = {
        is_out_excel: '1',
        year,
        month,
        ...this.searchForm,
      }
      this.showdownload = true
      groupCreditList(data).then(res => {
        this.durl = res.data
      })
    },
    getList(page = 1) {
      this.loading = true
      this.page.pageIndex = page
      const [year ,month] = this.yearMonth.split(',')
      let data = {
        year,
        month,
        ...this.searchForm,
        ...this.page
      }
      groupCreditList(data).then(res => {
        this.loading = false
        this.tableData = res.data
        this.total = +res.count
      }).catch(() => this.loading = false)
    },
    detail(row) {
      this.details = row
      const [year ,month] = this.yearMonth.split(',')
      const data = {
        year,
        month,
        group_name: row.JTMC,
      }
      groupMediaCreditList(data).then(res => {
        this.mediaList = res.data
      })
      this.showDetails = true
    },
    sortChange(val) {
      let prop = val.prop
      let order = val.order
      this.searchForm.orders = this.order[prop][order] || ''
      this.getList(this.page.pageIndex)
    },
    handleSizeChange(size){
      this.page.pageSize = size
      this.getList(this.page.pageIndex)
    },
    reset(){
      this.searchForm = JSON.parse(this.sourceForm)
      this.getList(1)
    }
  },
}
</script>

<style lang="scss" scoped>
</style>