<template>
  <!-- 广告监测广告复审公用页面 -->
  <div class="credit" v-loading="loading">
    <el-form :model="searchForm"
      ref="searchForm"
      inline
      @keyup.native.enter="getList()">
      <el-form-item label="地区：">
        <el-cascader
          :clearable="true"
          :options="mediaRegion"
          :props="{...areaOptions,emitPath: false}"
          v-model="searchForm.area"
          @change="areaChange">
        </el-cascader>
        &nbsp;
        <el-checkbox v-model="searchForm.iscontain" true-label="1" false-label="0" @change="areaChange()">包含下级</el-checkbox>
      </el-form-item>
      <el-form-item label="媒体类型：">
        <el-select v-model="searchForm.media_class" clearable @change="areaChange">
          <el-option label="全部" value=""></el-option>
          <el-option v-for="(value,key) in mediaType"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体：">
        <el-select v-model="searchForm.mediaId" filterable clearable placeholder="请选择媒体" style="width:100%">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="年月：">
        <el-date-picker v-model="yearMonth"
          clearable
          type="month"
          format="yyyy 年 M 月"
          value-format="yyyy,MM">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="getList()"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="danger"
          @click="reset()"
          icon="el-icon-refresh"
          plain>重 置</el-button>
        <el-button type="primary"
          @click="upDate()"
          plain>更新数据</el-button>
        <el-button type="primary"
          @click="output()"
          plain>导 出</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight" @sort-change="sortChange">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="地区" prop="REGIONNAME" width="100"></el-table-column>
      <el-table-column label="媒体名称" prop="MEDIANAME"></el-table-column>
      <el-table-column label="集团名称" prop="JTMC"></el-table-column>
      <el-table-column label="年份" prop="N" width="70"></el-table-column>
      <el-table-column label="月份" prop="Y" width="70"></el-table-column>
      <el-table-column label="信用评价期初分" prop="XYPJQCF" sortable="custom"></el-table-column>
      <el-table-column label="本月信用评价扣分" prop="BYXYPJKF" sortable="custom"></el-table-column>
      <el-table-column label="信用评价期末分" prop="XYPJQMF" sortable="custom"></el-table-column>
      <el-table-column label="操作" width="80">
        <template slot-scope="scope">
          <el-button type="text" @click="detail(scope.row)">明 细</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="getList"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
    <el-drawer
      :title="details.MEDIANAME"
      :visible.sync="showDetails"
      direction="rtl"
      size="800px"
      @close="details = {}">
      <div style="padding: 20px">
        <media-detail :details="details" />
      </div>
    </el-drawer>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="() => {showdownload = false;durl = ''}">
    </out-file>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { mediaCreditList, updateCredit } from '@/api/MediaCredit.js'
import { getMediaList } from "@/api/Function.js"
import outFile from '@/components/outFile'
import mediaDetail from './mediaDetail'
export default {
  name: 'mediaCredit',
  components: {outFile, mediaDetail},
  data() {
    let now = new Date()
    let year = now.getFullYear()
    let month = now.getMonth() + 1
    return {
      yearMonth: `${year},${month}`,
      searchForm: {
        media_class: '',
        mediaId: '',
        iscontain: '1',
        area: '330000',
        orders: '0',
      },

      mediaList: [],

      loading: true,
      details: {},
      showDetails: false,
      tableData: [],
      page: {
        pageSize: 20,
        pageIndex: 1
      },

      durl: '',
      showdownload: false,

      total: 0,
      sourceForm: '',
      tableHeight: '300px',
      order: {
        'XYPJQCF': {
          'ascending': '11',
          'descending': '10',
        },
        'BYXYPJKF': {
          'ascending': '21',
          'descending': '20',
        },
        'XYPJQMF': {
          'ascending': '31',
          'descending': '30',
        },
      },
    }
  },
  computed: {
    ...mapGetters(['pickerOptions', 'mediaType', 'mediaRegion', 'areaOptions']),
  },
  created() {
    this.sourceForm = JSON.stringify(this.searchForm)
    this.getList()
    this.areaChange()
  },
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 134)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 134)
    }
  },
  methods: {
    areaChange(val){
      this.searchForm.mediaId = ''
      let data = {
        area: this.searchForm.area,
        iscontain: this.searchForm.iscontain,
        fisxinyong: [1],
        mediaClass: this.searchForm.media_class,
      }
      getMediaList(data).then(res => {
        this.mediaList = res.data
      })
    },
    upDate(){
      const [year ,month] = this.yearMonth.split(',')
      let data = {
        year,
        month,
      }
      this.loading = true
      updateCredit(data).then(res => {
        this.loading = false
        this.$notify.success('更新成功')
        this.getList()
      }).catch(() => this.loading = false)
    },
    output(){
      this.durl = ''
      const [year ,month] = this.yearMonth.split(',')
      let data = {
        is_out_excel: '1',
        year,
        month,
        ...this.searchForm,
      }
      this.showdownload = true
      mediaCreditList(data).then(res => {
        this.durl = res.data
      })
    },
    getList(page = 1) {
      this.loading = true
      this.page.pageIndex = page
      const [year ,month] = this.yearMonth.split(',')
      let data = {
        year,
        month,
        ...this.searchForm,
        ...this.page,
      }
      mediaCreditList(data).then(res => {
        this.loading = false
        this.tableData = res.data
        this.total = +res.count
      }).catch(() => this.loading = false)
    },
    detail(row) {
      this.details = row
      this.showDetails = true
    },
    sortChange(val) {
      let prop = val.prop
      let order = val.order
      this.searchForm.orders = this.order[prop][order] || ''
      this.getList(this.page.pageIndex)
    },
    handleSizeChange(size){
      this.page.pageSize = size
      this.getList(this.page.pageIndex)
    },
    reset(){
      this.searchForm = JSON.parse(this.sourceForm)
      this.getList(1)
    }
  },
}
</script>

<style lang="scss" scoped>
</style>