<template>
  <el-form>
    <el-row :gutter="8">
      <el-col :span="8" v-for="col in colums" :key="col.value">
        <el-form-item :label="col.label">
          <span>{{ details[col.value] }}</span>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
  export default {
    props: {
      details: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        colums: [
          {label: '所属年份', value: 'N'},
          {label: '所属月份', value: 'Y'},
          {label: '地区', value: 'REGIONNAME'},
          {label: '媒体名称', value: 'MEDIANAME'},
          {label: '集团名称', value: 'MEDIAOWNERNAME'},
          {label: '统计天数', value: 'TJTS'},
          {label: '折合天数', value: 'ZHTS'},
          {label: '广告数量', value: 'GGSL'},
          {label: '违法广告数量', value: 'WFGGSL'},
          {label: '广告数量违法率', value: 'GGSLWFL'},
          {label: '广告时长面积', value: 'GGSCMJ'},
          {label: '广告时长面积违法率', value: 'GGSCMJWFL'},
          {label: '违法广告时长面积', value: 'WFGGSCMJ'},
          {label: '次数违法率扣分', value: 'CSWFLKF'},
          {label: '时长面积违法率扣分', value: 'SCMJWFLKF'},
          {label: '违法广告数量扣分', value: 'WFGGSLKF'},
          {label: '本月总扣分', value: 'BYZKF'},
          {label: '上月总扣分', value: 'SYZKF'},
          {label: '本月信用评价扣分', value: 'BYXYPJKF'},
          {label: '信用评价期初分', value: 'XYPJQCF'},
          {label: '信用评价期末分', value: 'XYPJQMF'},
        ]
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>