<template>
  <div class="addBulletin">
    <div class="goBack">
     <el-page-header @back="goBack"></el-page-header>
    </div>
    <div class="content">
      <el-form :model="addForm" ref="form" label-width="140px">
        <el-form-item label="标题名称：">
          <el-input v-model="addForm.nTitle" placeholder="请输入标题名称" clearable></el-input>
        </el-form-item>
        <el-form-item label="公告类型：">
          <el-select v-model="addForm.nType" clearable style="width: 220px;">
            <el-option v-for="(value,key) in bulletinType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
         <el-form-item label="发布日期：" style="width: 240px;">
          <el-date-picker
            v-model="addForm.issueDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="公告内容：">
          <tinymce :height="300" v-model="addForm.nContent"></tinymce>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submit">提 交</el-button>
          <el-button type="primary"  plain @click="goBack">关 闭</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Tinymce from '@/components/Tinymce'
import { noticeCreate, noticeView, noticeSave } from '@/api/Notice.js'
  export default {
    name: 'addBulletin',
    components: { Tinymce },
    data() {
      return{
        addForm: {
          fid: '',
          nTitle:'',
          nType: '',
          nContent: '',
          issueDate: '',
        },
      }
    },
    computed: {
      ...mapGetters(['pickerOptions', 'bulletinType']),
      query(){
        return this.$route.query
      },
      isEdit(){
        return this.query.fid
      }
    },
    created() {
      this.setMeta()
      if(this.isEdit) this.noticeView()
    },
    methods: {
      noticeView(){
        noticeView({fid: this.query.fid}).then(res => {
          this.addForm.nTitle =  res.data.ftitle
          this.addForm.issueDate =  res.data.fissue_date
          this.addForm.nContent = res.data.fcontent
          this.addForm.nType = res.data.ftype
        })
      },
      setMeta() {
        this.$route.meta.title = this.isEdit ? '编辑公告' : '添加公告'
      },
      submit() {
        const data = {
          ...this.addForm,
          fid: this.isEdit ? this.query.fid : ''
        }
        let result = this.isEdit ? noticeSave(data) : noticeCreate(data)
        result.then(res => {
          this.$notify.success(res.msg)
          this.goBack()
        })
      },
      goBack(){
        this.$router.go(-1) || this.$router.push('/bulletin')
      },
    },
  }
</script>

<style lang="scss" scoped>
.addBulletin{
  padding: 20px 60px 0 60px;
  .goBack{
    color: #666;
  }
  .content{
    width: 100%;
    margin: 0 auto;
    width: 800px;
    margin-top: 16px;
  }
}
</style>