<template>
  <div class="bulletinCon">
    <div class="goBack">
     <el-page-header @back="goBack"></el-page-header>
    </div>
    <div v-loading='loading'>
      <h2>{{ detailes.ftitle }}</h2>
      <div class="info">
        <span>公告类型：<el-tag :type="detailes.ftype ==='1' ? 'success' : detailes.ftype ==='2' ? 'primary' : 'danger'" size="small" v-if="detailes.ftype">{{ noticeType[detailes.ftype].label }}</el-tag></span>
        <span>公告时间： <span>{{ detailes.fissue_date }}</span></span>
      </div>
      <div class="content" v-html="detailes.fcontent"></div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { noticeView } from '@/api/Notice.js'
  export default {
    name: 'bulletinCon',
    data() {
      return{
        detailes: {},
        loading: false,
      }
    },
    computed: {
      ...mapGetters(['noticeType']),
      query(){
        return this.$route.query
      },
    },
    created() {
      this.noticeView()
    },
    methods:{
      goBack( ){
        this.$router.go(-1) || this.$router.push('/bulletin')
      },
      noticeView(){
        this.loading = true
        noticeView({fid: this.query.fid}).then(res => {
          this.detailes = res.data
          this.loading = false
        })
        .catch(err => {
          this.loading = false
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
.bulletinCon{
  padding: 0 60px;
  .goBack{
    padding-top: 20px;
    height: 40px;
    line-height: 40px;
  }
  h2{
    color:#5b6069;
  }
  h2,.info{
    text-align: center;
  }
  div{
    color: #666;
    span:nth-child(1){
      margin-right: 20px;
    }
    span:nth-child(2){
        span{
        color: #409EFF;
      }
    }
  }
  p{
     text-indent:35px;
  }
  .content{
    padding: 30px 0px;
    box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto;
  }
}
</style>