<template>
  <div class="adManage"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      inline
      label-width="90px">
      <el-row :gutter='10'>
        <el-form-item label="广告名称：">
          <el-input v-model="form.adName"
            clearable
            placeholder="请输入广告名称">
          </el-input>
        </el-form-item>
        <el-form-item label="广告类别：">
          <el-cascader
            :options="adClassTree"
            change-on-select
            :props="adClassOptions"
            v-model="form.adClass"
            clearable>
          </el-cascader>
        </el-form-item>
        <el-form-item label="广告主：">
          <el-autocomplete style="width:100%"
            v-model="form.adOwner"
            clearable
            :fetch-suggestions="searchadowner"
            placeholder="请输入广告主">
          </el-autocomplete>
        </el-form-item>
        <el-form-item label="品牌：" label-width="60px">
          <el-input v-model="form.brand"
            clearable
            placeholder="请输入品牌">
          </el-input>
        </el-form-item>
        <el-form-item label="状态：" label-width="60px">
          <el-radio-group v-model="form.status">
            <el-radio-button label="1">有效</el-radio-button>
            <el-radio-button label="0">无效</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item>
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            @click="_getList(1)"
            icon="el-icon-search">搜 索</el-button>
        </el-form-item>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      :height="tableHeight"
      @sort-change="sortChange"
      border>
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="fadname"
        label="广告名称"
        sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="ffullname"
        label="广告类别"
         sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fname"
        label="广告主"
        sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fbrand"
        label="品牌"
        sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fstate"
        width="80px"
        label="状态">
        <template slot-scope="scope">
          <span :style="{'color': Number(scope.row.fstate) > 0 ? '#67C23A' : '#F56C6C'}">{{ Number(scope.row.fstate) > 0 ? '有效' : '无效' }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fmodifytime"
        label="最近修改时间"
        width="160px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmodifier"
        label="修改人"
        width="140px"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="90px"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
            @click="edit(scope.row)"
            icon="el-icon-edit">修改</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      :total="Number(countAll)"
      :page-size="20"
      class="pull-right"
      layout="total, sizes, prev, pager, next"
      @size-change="handleSizeChange"
      :page-sizes="[10, 15, 20, 50]"
      :current-page="form.pageIndex"
      @current-change="_getList">
    </el-pagination>

    <el-dialog center
      width="600px"
      title="修改"
      :close-on-click-modal='false'
      :visible.sync="editDialogShow"
      :before-close="closeEditDialog">
      <el-form :model="eform" ref="eform" label-width="90px">
        <el-form-item label="广告名称：">
          <el-input v-model="eform.adName" clearable placeholder="请输入广告名称"/>
        </el-form-item>
        <el-form-item label="广告类别：">
          <el-cascader
            style="width: 100%"
            v-model="eform.adClass"
            change-on-select
            :options="adClassTree"
            :props="adClassOptions"></el-cascader>
        </el-form-item>
        <el-form-item label="广告主：">
          <el-autocomplete style="width:100%"
            v-model="eform.adOwner"
            :fetch-suggestions="searchadowner"
            placeholder="请输入广告主">
          </el-autocomplete>
        </el-form-item>
        <el-form-item label="品牌：">
          <el-input v-model="eform.brand"
            placeholder="请输入品牌">
          </el-input>
        </el-form-item>
        <el-form-item label="状态：">
          <el-radio-group v-model="eform.status">
            <el-radio-button label="1">有效</el-radio-button>
            <el-radio-button label="0">无效</el-radio-button>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeEditDialog()">取 消</el-button>
        <el-button type="primary" @click="submit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { searchAdOwner } from "@/api/Function.js"
import { adList, adAction } from "@/api/Ad.js"
import { getMedialist, editMediaAction } from "@/api/Media.js"
export default {
  data() {
    return {
      form: {
        pageSize: 20,
        pageIndex: 1,
        adName: '',
        adOwner: '',
        brand: '',
        orderType: '',
        status: '1',
        adClass: [],
      },
      countAll: '0',
      tableData: [],
      loading: false,
      editDialogShow: false,
      tableHeight: '300px',
      eform:{
        adId: '',
        adName: '',
        status: '',
        adOwner: '',
        brand: '',
        adClass: []
      },
      order: {
        'fadname': {
          'ascending': '0',
          'descending': '1',
        },
        'ffullname': {
          'ascending': '10',
          'descending': '11',
        },
        'fname': {
          'ascending': '20',
          'descending': '21',
        },
        'fbrand': {
          'ascending': '30',
          'descending': '31',
        },
      },
    }
  },
  created() {
    this._getList()
  },
  mounted() {
   this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 200)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 200)
    }
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.pageIndex = page || 1
      let data = {
        ...this.form,
       }
      if (data.adClass && data.adClass.length !== 0) {
        data.adClass = [data.adClass[data.adClass.length - 1]]
      }
      adList(data).then(res => {
        this.tableData = res.data
        this.countAll = res.count
        this.loading = false
      })
      .catch(() => {
        this.loading = false
      })
    },
    edit(row) {
      this.eform = {
        adId: row.fadid,
        adName: row.fadname,
        status: row.fstate,
        adOwner: row.fname,
        brand: row.fbrand,
      }
      if (row.fadclasscode) {
        this.eform.adClass = Array.of(row.fadclasscode.substring(0, 2), row.fadclasscode)
      }
      this.editDialogShow = true
    },
    submit() {
      const data = {
        ...this.eform,
      }
      if (data.adClass && data.adClass.length !== 0) {
        data.adClass = [data.adClass[data.adClass.length - 1]]
      }
      adAction(data).then(res => {
        this.$notify.success(res.msg)
        this.closeEditDialog()
        this._getList(this.form.pageIndex)
      })
      .catch(() => {
        this.loading = false
      })
    },
     // 广告主模糊搜索
    searchadowner(queryString, cb) {
        let data = {
          name: queryString
        }
        searchAdOwner(data).then(res => {
          if (res.code === 0) {
            cb(res.data)
          }
        })
      },
    closeEditDialog() {
      this.editDialogShow = false
    },
    sortChange(val) {
      let prop = val.prop
      let order = val.order
      this.form.orderType = this.order[prop][order] || ''
      this._getList(this.form.pageIndex)
    },
    handleSizeChange(size){
      this.form.pageSize = size
      this._getList(this.form.pageIndex)
    },
  },
  computed: {
     ...mapGetters(['adClassTree' ,'adClassOptions',]),
  }
};
</script>