<template>
  <div class="approval-from">
    <el-dialog
      title="签批"
      :visible.sync="show"
      center
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :before-close="_close"
      width="90%">
      <clue-details :annexDetails="annexDetails" v-if="adDetailDialog" :videoUrl="videoUrl" @close="_closeDetails">
      </clue-details>
      </approval-table>
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form :model="form" >
            <el-form-item label="签批结果" label-width="80px">
              <el-radio v-model="form.submit" label="1">同 意</el-radio>
              <el-radio v-model="form.submit" label="2">退 回</el-radio>
            </el-form-item>
            <el-form-item label="签批建议" label-width="80px">
              <el-input type="textarea" v-model="form.result" :rows="5"></el-input>
            </el-form-item>
            <el-form-item label="交办部门" label-width="80px" v-if="choose">
              <el-select
                placeholder="（必选）"
                v-model="form.fwaitregulatorid"
                @change="_setName"
                style="width:100%">
                <el-option v-for="item in orgList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="交办人" label-width="80px" v-if="choose">
              <el-select
                placeholder="（必选）"
                :disabled="!form.fwaitregulatorid"
                v-model="form.fwaitpersonid"
                style="width:100%">
                <el-option v-for="item in orgPeopleList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="12">
          <el-collapse v-model="activeline">
            <el-collapse-item title="违法广告信息" name="1" v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList" style="width: 100%" border>
                <el-table-column prop="fadname" label="广告名称">
                </el-table-column>
                <el-table-column width="80" label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"  @click="_showDetails(scope.row)">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="投诉信息" name="2">
              <table style="border-color:#dcdfe6;color:#606266;" border='1' width="100%" cellspacing="0" cellpadding="6">
                <tr>
                  <th>标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>文号</th>
                  <td>{{ registrationForm.fnumber }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fcreatetime ? registrationForm.fcreatetime.substring(0,10) : '' }}</td>
                </tr>
                <tr v-if="$route.name === 'feedbackapprovallist'">
                  <th>处置方式</th>
                  <td>
                    <el-tag  v-text="$store.state.czfs[registrationForm.fchecktype]"></el-tag>
                  </td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="证据材料" name="3">
              <el-table border :data="registrationForm.refiles">
                <el-table-column
                  label="名称">
                  <template slot-scope="scope">
                    <a :href="bucket_url + scope.row.fattachurl + '?attname=' + scope.row.fattachname">
                      <el-button type="text" >{{ scope.row.fattachname }}</el-button>
                    </a>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="处理流程" name="4">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="_onSubmit">提 交</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import clueDetails from './clueDetails'
import flowTable from './flowTable'
import { _getClueList }  from '../../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    flowTable,
    clueDetails
  },
  props: ['fid','posturl','geturl','choose'],
  props: {
    fid: {
      default: '',
      type: String
    },
    posturl: {
      default: '',
      type: String
    },
    geturl: {
      default: '',
      type: String
    },
    choose: {
      default: true,
      type: Boolean
    },
  },
  data(){
    return {
      form: {
        submit: '1',
        fregistersigncontent: '',
        fid: '',
        fwaitpersonid: '',
        fwaitregulatorid: ''
      },
      attachInfo: [],
      flowData: [],
      clueList: [],
      show: true,
      activeline: '1',
      registrationForm: {},
      adDetailDialog: false,
      videoUrl: '',
      annexDetails: {
        data: {}
      },
      bucket_url: '',
      orgList: [],
      orgPeopleList: [],
    }
  },
  created(){
    this._getDetails(this.fid)
    this._getToken()
    this._getSameOrg()
  },
  methods: {
    _close(){
      this.$emit('close')
    },
    // 提交表单
    _onSubmit(){
      if(this.choose){
        if(!this.form.fwaitregulatorid){
          this.$message.error('请选择部门！')
          return false
        }
        if(!this.form.fwaitpersonid){
          this.$message.error('请选择人员！')
          return false
        }
      }
      axios.post(this.$_ + this.posturl,qs.stringify(this.form))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success('操作成功')
        }else{
          this.$message.error(res.data.msg)
        }
      })
      .catch(() => {
        this.$func._error('网络错误')
      })
      this.$emit('close')
    },
    _getDetails(fid){
      let url = this.geturl
      axios.post(this.$_ + url,qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          this.registrationForm = res.data.data.data
          this.flowData = res.data.data.data.flow
          this.attachInfo = res.data.data.data.refiles
          this.form.fid = res.data.data.data.fid
          this.activeline = res.data.data.data.ffromtype === '10' ? '1': '2'
          if(res.data.data.data.ffromtype === '10'){
            let fillegaladid = []
            res.data.data.data.fillegaladid.forEach(item => {
              fillegaladid.push(item.fid)
            })
            let mclass = res.data.data.data.fillegaladid[0].fmedia_class
            _getClueList(this,fillegaladid,mclass)
          }
        }
      })
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.fmedia_class === '1' || obj.fmedia_class === '2') {
        this.videoUrl = obj.favifilename
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _getToken(){
      axios.post(this.$_ + '/Agp/Core/get_file_up')
      .then(res => {
        if(res.data.code === 0){
          this.bucket_url = res.data.data.bucket_url
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _getSameOrg(){
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
      .then(res => {
        if(res.data.code === 0){
          this.orgList = res.data.data
        }
      })
    },
    _setName(val){
      this.orgList.forEach(item => {
        if(item.fid === val){
          this.registrationForm.fwaitregulatorname = item.fname
        }
      })
      axios.post(this.$_ + '/Agp/Core/get_tregulator_person',qs.stringify({treid:val}))
      .then(res => {
        if(res.data.code === 0){
          this.orgPeopleList = res.data.data
        }
      })
    },
  }
}
</script>
