<template>
  <div class="track-form">
    <el-dialog title="台账详情"
      :visible.sync="show"
      :before-close="_close"
      center
      width="600px"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <approval-table
        :innerVisible="innerVisible"
        :registrationForm="registrationForm"
        @closePreview="innerVisible = false">
      </approval-table>
      <el-row>
        <el-col :span="24">
          <h4 style="margin:10px 0;">登记表预览</h4>
          <el-button type="primary"  @click="innerVisible = true">登记表预览</el-button>
          <h4 style="margin:10px 0;">附件信息</h4>
          <ill-annex
            :showUpload="false"
            :attachInfo="attachInfo"
            :clueList="clueList"
            :uploading="uploading"
            @uploadSuccess="_uploadSuccess"
            @uploadProgress="_uploadProgress"
            @uploadError="_uploadError"
            :toServer="true"
            :changeAttachInfo="changeAttachInfo"
            :fillegaladflowid="registrationForm.fillegaladflowid"
            :fregisterid="registrationForm.fregisterid">
          </ill-annex>
          <flow-table :flowData="flowData"></flow-table>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import approvalTable from './tablePreview/approvalTbale'
import illAnnex from './illAnnex'
import flowTable from './flowTable'
import { _getClueList }  from '../../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  props:['fid'],
  components: {
    approvalTable,
    illAnnex,
    flowTable,
  },
  data(){
    return {
      show: true,
      innerVisible: false,
      registrationForm: {},
      attachInfo:null,
      clueList: null,
      uploading: false,
      changeAttachInfo: [],
      flowData: [],
      trackType: 'cb'
    }
  },
  created(){
    this._getDetails(this.fid)
  },
  methods: {
    _getDetails(fid){
      axios.post(this.$_ + '/Agp/Fxsgenzong/getledgerview',qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          _getClueList(this,res.data.data.data.fillegaladid)
          this.registrationForm = res.data.data.data
          this.flowData = res.data.data.data.flow
          this.attachInfo = res.data.data.data.refiles
        }
      })
    },
    _close(){
      this.$emit('close')
    },
    _uploadSuccess(Obj){
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      this.attachInfo.unshift(obj)
      this.changeAttachInfo.push(obj)
      this.uploading = false
      this.$message.success('附件上传成功')
    },
    _uploadProgress(){
      this.uploading = true
    },
    _uploadError(){
      this.$func._error('附件上传失败')
      this.uploading = false
    },
  }
}
</script>
