<template>
  <div class="clue-details">
    <el-dialog
      :title="annexDetails.fadname"
      :visible.sync="show"
      append-to-body
      width="600px"
      :before-close="_close">
      <aliplayer
        :url="videoUrl"
        v-if="(annexDetails.fmedia_class === '1' || annexDetails.fmedia_class === '2') && videoUrl">
      </aliplayer>
      <div class="imgBlock" style="height:300px" v-if="annexDetails.fmedia_class === '3'">
        <vueCropper
          ref="cropper"
          :img="annexDetails.adclueInfo.fjpgfilename"
          :outputSize="1"
        ></vueCropper>
      </div>
      <el-tabs v-model="activeTab">
        <el-tab-pane label="基本信息" name="adInfo">
          <el-card>
            <el-row>
              <el-col :span="4">广告名称：</el-col>
              <el-col :span="8">{{ annexDetails.fadname || '暂无' }}</el-col>
              <el-col :span="4">广告类别：</el-col>
              <el-col :span="8">{{  annexDetails.adclass_fullname || '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">发布媒体：</el-col>
              <el-col :span="8">{{ annexDetails.fname || '暂无' }}</el-col>
              <el-col :span="4">发布次数：</el-col>
              <el-col :span="8">{{ annexDetails.fissuetimes || '暂无' }} 次</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">发布日期：</el-col>
              <el-col :span="8">{{ annexDetails.fissuedate.substring(0,10) || '暂无' }}</el-col>
            </el-row>
            <el-row v-if="annexDetails.fmedia_class !== 3">
              <el-col :span="4">时长：</el-col>
              <el-col :span="8">{{ annexDetails.fadlen || '暂无' }}</el-col>
            </el-row>
            <el-row v-if="annexDetails.fmedia_class === 3">
              <el-col :span="4">版面：</el-col>
              <el-col :span="8">{{ annexDetails.fadlen || '暂无' }}</el-col>
            </el-row>
          </el-card>
        </el-tab-pane>
        <el-tab-pane label="违法信息" name="illInfo">
          <el-card>
            <el-row>
              <el-col :span="4">违法类型：</el-col>
              <el-col :span="20">{{ annexDetails.fillegaltype ? annexDetails.fillegaltype : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">认定依据：</el-col>
              <el-col :span="20">{{ annexDetails.fconfirmations ? annexDetails.fconfirmations : '暂无' }} 次</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">违法表现：</el-col>
              <el-col :span="20">{{ annexDetails.fexpressions ? annexDetails.fexpressions : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">违法内容：</el-col>
              <el-col :span="20">{{ annexDetails.fillegalcontent ? annexDetails.fillegalcontent : '暂无' }}</el-col>
            </el-row>
          </el-card>
        </el-tab-pane>
        <el-tab-pane label="其他信息" name="otherInfo">
          <el-card>
            <el-row>
              <el-col :span="24">生产批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.fmanuno ? annexDetails.fmanuno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告中标识的生产批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.fadmanuno ? annexDetails.fadmanuno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.fapprno ? annexDetails.fapprno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告中标识的广告批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.fadapprno ? annexDetails.fadapprno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告中标识的生产企业（证件持有人）名称：</el-col>
              <el-col :span="24">{{ annexDetails.fadent ? annexDetails.fadent : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">生产企业（证件持有人）名称：</el-col>
              <el-col :span="24">{{ annexDetails.fent ? annexDetails.fent : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">生产企业（证件持有人）所在地区：</el-col>
              <el-col :span="24">{{ annexDetails.fentzone ? annexDetails.fentzone : '暂无' }}</el-col>
            </el-row>
          </el-card>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
  </div>
</template>
<script>
import VueCropper from 'vue-cropper'
import aliplayer from '../../common/aliplayer'
export default {
  props: ['annexDetails','videoUrl'],
  components: {
    VueCropper,
    aliplayer
  },
  data(){
    return {
      activeTab: 'adInfo',
      show: true
    }
  },
  methods: {
    _close(){
      this.$emit('close')
    }
  }
}
</script>
