<template>
  <div class="duban">
    <duban-table
      :innerVisible="innerVisible"
      :form="form"
      @closePreview="innerVisible = false">
    </duban-table>
    <el-card>
      <h4>线索督办通知书 <el-button type="text"  @click="_formPreview('innerVisible')">预览</el-button></h4>
      <el-form v-model="form"  label-width="80px">
        <el-form-item label="文号">
          <el-input v-model="form.fdnum"></el-input>
        </el-form-item>
        <el-form-item label="收文单位">
          <el-input v-model="form.fdwaitregulatorname"></el-input>
        </el-form-item>
        <el-form-item label="转办日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="form.fdmovetime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="线索名称">
          <el-input v-model="form.fdcasename"></el-input>
        </el-form-item>
        <el-form-item label="监督日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="form.fdsupervisetime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="发文单位">
          <el-input v-model="form.fdgiveregulatorname"></el-input>
        </el-form-item>
        <el-form-item label="发文日期">
          <el-date-picker :editable="false"
            style="width:100%"
            v-model="form.fdsendtime"
            type="date"
            placeholder="选择日期"
            :default-value="new Date()"
            format="yyyy年MM月dd日"
            value-format="yyyy年MM月dd日">
          </el-date-picker>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import dubanTable from './tablePreview/dubanTable'
export default {
  components: {
    dubanTable
  },
  data(){
    return {
      form: {
        fdnum: '',
        fdwaitregulatorname: '',
        fdmovetime: '',
        fdcasename: '',
        fdsupervisetime: '',
        fdgiveregulatorname: this.$store.state.userInfo.regulatorpname,
        fdsendtime: this.$dayjs().format('YYYY年MM月DD日')
      },
      innerVisible: false
    }
  },
  methods: {
    _formPreview(val){
      this[val] = true
    },
  }
}
</script>
