<template>
  <div class="feedback-form">
    <el-dialog title="处置反馈"
      :visible.sync="show"
      :before-close="_close"
      center
      width="1000px"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <approval-table :innerVisible="innerVisible"
        :registrationForm="registrationForm"
        @closePreview="innerVisible = false">
      </approval-table>
      <feedback-table :backForm="backForm"
        :innerVisible="innerVisible2"
        @closePreview="innerVisible2 = false">
      </feedback-table>
      <el-row :gutter="10">
        <el-col :span="12">
          <h4 style="margin:10px 0;">登记表预览</h4>
          <el-button type="primary"
            @click="innerVisible = true">登记表预览</el-button>
          <h4 style="margin:10px 0;">附件信息</h4>
          <ill-annex :showUpload="true"
            :attachInfo="attachInfo"
            :clueList="clueList"
            :uploading="uploading"
            @uploadSuccess="_uploadSuccess"
            @uploadProgress="_uploadProgress"
            @uploadError="_uploadError"
            :toServer="true"
            :changeAttachInfo="changeAttachInfo"
            :fillegaladflowid="registrationForm.fillegaladflowid"
            :fregisterid="registrationForm.fregisterid">
          </ill-annex>
          <flow-table :flowData="flowData"></flow-table>
        </el-col>
        <el-col :span="12">
          <el-card>
            <h4>线索处置结果反馈 <el-button type="text"
                @click="_formPreview('innerVisible2')">预览</el-button>
            </h4>
            <el-form v-model="backForm"
              label-width="110px">
              <el-form-item label="反馈意见：">
                <el-input type="textarea"
                  autosize
                  v-model="fdealcontents"></el-input>
              </el-form-item>
              <el-form-item label="收文单位：">
                <el-input v-model="backForm.fdwaitregulatorname"></el-input>
              </el-form-item>
              <el-form-item label="涉嫌违法媒介：">
                <el-input v-model="backForm.fdillegalmedianame"></el-input>
              </el-form-item>
              <el-form-item label="收文日期：">
                <el-date-picker :editable="false" style="width:100%"
                  v-model="backForm.fdwaittime"
                  type="date"
                  placeholder="选择日期"
                  :default-value="new Date()"
                  format="yyyy年MM月dd日"
                  value-format="yyyy年MM月dd日">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="情况一：">
                <el-input type="textarea"
                  autosize
                  v-model="backForm.fdillegals"
                  placeholder="涉嫌违法广告线索核查情况"></el-input>
              </el-form-item>
              <el-form-item label="情况二：">
                <el-input type="textarea"
                  v-model="backForm.fdcontent"
                  autosize
                  placeholder="立案查处情况"></el-input>
              </el-form-item>
              <el-form-item label="情况三：">
                <el-input type="textarea"
                  v-model="backForm.fdreplycontent"
                  autosize
                  placeholder="涉及举报投诉的回复情况"></el-input>
              </el-form-item>
              <el-form-item label="反馈日期：">
                <el-date-picker :editable="false" style="width:100%"
                  v-model="backForm.fdbacktime"
                  type="date"
                  placeholder="选择日期"
                  :default-value="new Date()"
                  format="yyyy年MM月dd日"
                  value-format="yyyy年MM月dd日">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="发文单位：">
                <el-input v-model="backForm.fdgiveregulatorname"></el-input>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_submit"
          :disabled="(attachInfo !== null && clueList !== null) ? false : true">
          提 交
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import approvalTable from './tablePreview/approvalTbale'
import feedbackTable from './tablePreview/feedbackTable'
import illAnnex from './illAnnex'
import flowTable from './flowTable'
import { _getClueList } from '../../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['formData', 'fid'],
  components: {
    approvalTable,
    illAnnex,
    flowTable,
    feedbackTable
  },
  data() {
    return {
      fdealcontents: '',
      backForm: {
        fdwaitregulatorname: '',
        fdwaittime: '',
        fdillegals: '',
        fdcontent: '',
        fdreplycontent: '',
        fdbacktime: '',
        fdgiveregulatorname: '',
      },
      show: true,
      innerVisible: false,
      innerVisible2: false,
      registrationForm: {},
      attachInfo: [],
      clueList: [],
      uploading: false,
      changeAttachInfo: [],
      flowData: [],

    }
  },
  created() {
    this._getDetails(this.fid)
  },
  methods: {
    _submit() {
      let data = {
        ...this.backForm,
        fid: this.fid,
        fdealcontents: this.fdealcontents
      }
      axios.post(this.$_ + '/Agp/Fxsfankui/update_register', qs.stringify(data))
        .then(res => {
          this.$message.success(res.data.msg)
          this.$emit('close')
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getDetails(fid) {
      axios.post(this.$_ + '/Agp/Fxsfankui/get_registerview', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            _getClueList(this, res.data.data.data.fillegaladid)
            this.registrationForm = res.data.data.data
            this.flowData = res.data.data.data.flow
            this.attachInfo = res.data.data.data.refiles
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _close() {
      this.$emit('close')
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      this.attachInfo.unshift(obj)
      this.changeAttachInfo.push(obj)
      this.uploading = false
      this.$message({
        message: '附件上传成功',
        type: 'success'
      })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    _formPreview(val) {
      this[val] = true
    },
  }
}
</script>