<template>
  <div class="first-trial">
    <el-dialog title="线索处置"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails" v-if="adDetailDialog" :videoUrl="videoUrl" @close="_closeDetails">
      </clue-details>
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form label-width="80px" >
            <el-form-item label="处置方式">
              <el-select
                 style="width: 100%"
                v-model="commonData.fchecktype">
                <el-option label="自办" value="10"></el-option>
                <el-option label="移交" value="20"></el-option>
                <el-option label="转送" value="30"></el-option>
                <el-option label="处置" value="40"></el-option>
                <el-option label="退回" value="50"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="处理建议" v-if="commonData.fchecktype !== '50'">
              <el-input type="textarea" placeholder="请输入处理建议" v-model="commonData.fcheckcontents"></el-input>
            </el-form-item>
            <el-form-item label="交办部门" label-width="80px">
              <el-select
                placeholder="（必选）"
                v-model="commonData.fwaitregulatorid"
                @change="_setName"
                style="width:100%">
                <el-option v-for="item in orgList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="交办人" label-width="80px">
              <el-select
                placeholder="（必选）"
                :disabled="!commonData.fwaitregulatorid"
                v-model="commonData.fwaitpersonid"
                style="width:100%">
                <el-option v-for="item in orgPeopleList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="12">
          <el-collapse v-model="activeline">
            <el-collapse-item title="违法广告信息" name="1" v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList" style="width: 100%" border>
                <el-table-column prop="fadname" label="广告名称">
                </el-table-column>
                <el-table-column width="80" label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"  @click="_showDetails(scope.row)">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="投诉信息" name="2">
              <table style="border-color:#dcdfe6;color:#606266;" border='1' width="100%" cellspacing="0" cellpadding="6">
                <tr>
                  <th>标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>文号</th>
                  <td>{{ registrationForm.fnumber }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fcreatetime ? registrationForm.fcreatetime.substring(0,10) : '' }}</td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="证据材料" name="3">
              <ill-annex
                :hidetitle="true"
                :showUpload="true"
                :attachInfo="attachInfo"
                :clueList="[]"
                :uploading="uploading"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @delsuccess="_delSuccess"
                :changeAttachInfo="changeAttachInfo">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程" name="4">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary"
          @click="_submit">
          提 交
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import clueDetails from './clueDetails'
import flowTable from './flowTable'
import { _getClueList }  from '../../../../static/js/common'
import illAnnex from '../illAnnex'
import axios from 'axios'
import qs from 'qs'
export default {
  props:['formData','fid'],
  components: {
    illAnnex,
    flowTable,
    clueDetails
  },
  data(){
    return {
      activeline: '1',
      adDetailDialog: false,
      commonData: {
        fid: this.fid,
        fchecktype: '10',
        fcheckcontents: '',
        fwaitregulatorid: '',
        fwaitpersonid: ''
      },
      form: {},
      registrationForm: {},
      attachInfo:[],
      clueList: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      //登记表信息
      transferData: {
        ftopostcode: '',
        ftomobile: '',
        ftoaddress: '',
        ftopersonname: '',
        ftoregulatorname: '',
        ftoregulatorid: '',
      },
      //涉嫌违法广告线索处置通知书预览
      flowData: [],
      show: true,
      annexDetails: [],
      sameTregulator: [],
      lowerTregulator: [],
      orgList: [],
      orgPeopleList: [],
      annexDetails: {
        data: {}
      },
      videoUrl: ''
    }
  },
  created(){
    this._getDetails(this.fid)
    this._getSameOrg()
  },
  computed: {
    selectAttach: function(){
      let clueList = this.clueList === null ? [] : this.clueList
      let attachInfo = this.attachInfo === null ? [] : this.attachInfo
      let arr = []
      clueList.forEach(item => {
        arr.push(item.data.fadname)
      })
      attachInfo.forEach(item => {
        arr.push(item.fattachname)
      })
      return arr
    }
  },
  methods: {
    _getDetails(fid){
      axios.post(this.$_ + '/Agp/Fxsdengji/get_registerview',qs.stringify({fid: fid}))
      .then(res => {
        if(res.data.code === 0){
          this.registrationForm = res.data.data.data
          this.flowData = res.data.data.data.flow
          this.attachInfo = res.data.data.data.refiles.reverse()
          this.activeline = res.data.data.data.ffromtype === '10' ? '1': '2'
          if(res.data.data.data.ffromtype === '10'){
            let fillegaladid = []
            res.data.data.data.fillegaladid.forEach(item => {
              fillegaladid.push(item.fid)
            })
            let mclass = res.data.data.data.fillegaladid[0].fmedia_class
            _getClueList(this,fillegaladid,mclass)
          }
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _submit(){
      if(!this.commonData.fwaitregulatorid){
        this.$message.error('请选择部门！')
        return false
      }
      if(!this.commonData.fwaitpersonid){
        this.$message.error('请选择人员！')
        return false
      }
      let data = this.commonData
      axios.post(this.$_ + '/Agp/Fxschuehe/update_register',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(res.data.msg)
          this.$emit('close')
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    /**
     * 关闭弹窗
     */
    _close(){
      this.$emit('close')
    },
    // 获取线索
    _getTillegaladattach(){
      axios.post(this.$_ + '/Agp/Core/get_tillegaladattach',qs.stringify({'fregisterid':this.formData.fid}))
      .then(res => {
        if(res.data.code === 0){
          if(res.data.data.length){
            this.attachInfo = res.data.data.reverse()
          }
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    // 获取流程列表
    _getTillegaladflow(){
      axios.post(this.$_ + '/Agp/Core/get_tillegaladflow',qs.stringify({'fregisterid': this.registrationForm.fid}))
      .then(res => {
        if(res.data.code === 0){
          this.flowData = res.data.data
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      obj.fflowname = this.$route.meta[1]
      obj.createpersonid = this.$store.state.userInfo.fid
      this._uploadFile(obj)
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid ? this.fid : this.fidd,
        attachinfo: Array.of(obj)
      }
      axios.post(this.$_ + '/Agp/core/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            obj.fid = res.data.data
            this.attachInfo.unshift(obj)
            this.changeAttachInfo.push(obj)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    _delSuccess(val){
      if(val.fid){
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fid !== val.fid
        })
        this.changeAttachInfo = this.changeAttachInfo.filter(item => {
          return item.fid !== val.fid
        })
      }else{
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
        this.changeAttachInfo = this.changeAttachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
      }
    },
    _getSameOrg(){
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
      .then(res => {
        if(res.data.code === 0){
          this.orgList = res.data.data
        }
      })
    },
    _setName(val){
      this.orgList.forEach(item => {
        if(item.fid === val){
          this.registrationForm.fwaitregulatorname = item.fname
        }
      })
      axios.post(this.$_ + '/Agp/Core/get_tregulator_person',qs.stringify({treid:val}))
      .then(res => {
        if(res.data.code === 0){
          this.orgPeopleList = res.data.data
        }
      })
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.fmedia_class === '1' || obj.fmedia_class === '2') {
        this.videoUrl = obj.favifilename
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
  }
}
</script>
