<template>
  <div class="bulletin">
    <el-form :model="searchForm"
      ref="searchForm"
      inline
      @keyup.native.enter="getList()">
      <el-form-item label="标题名称：">
        <el-input v-model="searchForm.nTitle" clearable></el-input>
      </el-form-item>
      <el-form-item label="公告类型：">
        <el-select v-model="searchForm.nType" clearable>
          <el-option v-for="(value,key) in noticeType"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="查看权限：">
        <el-select v-model="searchForm.flooktype" clearable>
          <el-option v-for="(value,key) in lookType"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="日期范围：">
        <el-date-picker v-model="searchForm.issueDate"
          clearable
          :picker-options="pickerOptions"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="getList()"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="danger"
          @click="reset()"
          icon="el-icon-refresh"
          plain>重 置</el-button>
        <el-button type="success"
          @click="addList()">添加公告</el-button>
      </el-form-item>
    </el-form>
    <el-table
      size="small"
    	class="new-tabel" :data="tableData" border stripe :height="$store.state.GTableHeight" v-loading="loading">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="标题名称" prop="ftitle"></el-table-column>
      <el-table-column label="公告类型" prop="ftype">
        <template slot-scope="scope">
          <el-tag :type="noticeType[scope.row.ftype].type" v-if="scope.row.ftype">{{ noticeType[scope.row.ftype].label }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="查看权限" prop="flooktype">
        <template slot-scope="scope">
          <div>
            <span v-if="scope.row.flooktype">{{ lookType[scope.row.flooktype].label }}</span>
            <span v-if="scope.row.regionname" style="color: #409eff;">
              【 {{scope.row.regionname}}
              <span v-if="scope.row.fiscontain == 1">,含下级</span>
            】</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="发布时间" prop="fissue_date"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" plain @click="detail(scope.row)">查 看</el-button>
          <el-button type="success" plain @click="editNotice(scope.row)">编 辑</el-button>
          <el-popover
            placement="top"
            width="160"
            title="提示"
            v-model="scope.row.visible">
            <p>确定要删除此条公告吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="scope.row.visible = false">取消</el-button>
              <el-button type="primary" size="mini"  @click="deleteNotice(scope.row)">确定</el-button>
            </div>
            <el-button type="danger" plain slot="reference" style="margin-left: 10px;">删 除</el-button>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="getList"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'
import qs from 'qs'
import { mapGetters } from 'vuex'
// import { noticeList,noticeDel } from '@/api/Notice.js'
export default {
  name: 'bulletin',
  data() {
    return {
      searchForm: {
        flooktype: '',
        nTitle: '',
        issueDate: []
      },
      tableData: [],
      page: {
        pageSize: 20,
        pageIndex: 1
      },
      total: 0,
      sourceForm: '',
      tableHeight: '300px',
      loading: false,
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        }
      },
    }
  },
  computed: {
    ...mapState(['noticeType','lookType']),
  },
  created() {
    if(this.$route.query.nType) this.searchForm.nType = this.$route.query.nType
    this.sourceForm = JSON.stringify(this.searchForm)
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.searchForm.$el.clientHeight))
    })
  },
  methods: {
    getList(page = 1) {
      this.loading = true
      this.page.pageIndex = page
      let data = {
        ...this.searchForm,
        ...this.page
      }
      axios.post(this.$_ + '/Agp/Notice/noticeList', qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
            this.tableData = res.data.data
            this.total = Number(res.data.count)
            this.loading = false
          } else {
            this.loading = false
            this.$func._error(res.data.msg)
          }
      })
      .catch(() => {
        this.$func._error()
        this.loading = false
      })
    },
    addList() {
      this.$router.push({
        path:'/addbulletin',
      })
    },
    editNotice({ fid }) {
      this.$router.push({
        path:'/addbulletin',
        query:{ fid }
      })
    },
    deleteNotice(row) {
      row.visible = true
      this.loading = true
      axios.post(this.$_ + '/Agp/Notice/noticeDel', qs.stringify({fid: row.fid}))
      .then( res => {
        if(res.data.code == 0) {
          this.$notify({
            message: res.data.msg,
            type: 'success',
            duration: 1000
          })
          this.loading = false
          this.getList()
        } else {
          this.$func._error(res.data.msg)
          this.loading = false
        }
      })
      .catch(() => {
        this.$func._error()
        this.loading = false
      })
    },
    detail({ fid }) {
      this.$router.push({
        path:'/bulletinCon',
        query: { fid }
      })
    },
    handleSizeChange(size){
      this.page.pageSize = size
      this.getList(this.page.pageIndex)
    },
    reset(){
      this.searchForm = JSON.parse(this.sourceForm)
      this.getList(1)
    }
  },
}
</script>

<style lang="scss" scoped>
</style>