<template>
  <div class="fsxxjiaoliu">
    <h2>发送信息</h2>
    <table
      class="col-table"
      border="1"
      cellspacing="0">
      <tr>
        <th style="width:220px">信息主题</th>
        <td>
          <el-input
            type="text"
            v-model="form.title"
            :style="widthStyle"
            ></el-input>
        </td>
      </tr>
      <tr>
        <th>接收局</th>
        <td>
          <el-cascader
            placeholder="请选择接收局"
            :options="$store.state.GData"
            :props="$store.state.areaOptions"
            v-model="area"
            clearable
            >
          </el-cascader>
          <el-button
            type="primary"
            @click="_addOrg">
            添加
          </el-button>
          <el-button
            type="text"
            @click="_clear">
            清空
          </el-button>
          <br>
          <br>
          <el-input
            type="textarea"
            v-model="form.tregionname"
            :style="widthStyle"
            disabled
            :rows="6">
          </el-input>
        </td>
      </tr>
      <tr>
        <th>信息内容</th>
        <td>
          <el-input
            type="textarea"
            v-model="form.content"
            :style="widthStyle"
            :rows="6"></el-input>
        </td>
      </tr>
      <tr>
        <th>附件</th>
        <td>
          <upload
            @uploadSuccess="_uploadSuccess">
          </upload>
          <el-tag
            class="right-margin"
            v-for="item in form.attachinfo"
            :key="item.fattachurl"
            closable
            @close="_removeTag(item)"
            type="priamry">
            {{item.fattachname}}
          </el-tag>
        </td>
      </tr>
      <tr>
        <td colspan="2"
            class="text-center">
          <el-button
            type="primary"
            @click="_send">
            发送
          </el-button>
          <el-button
            type="danger"
            @click="_reset">
            重置
          </el-button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios"
import qs from "qs"
import upload from "../common/upload"
export default {
  components: {
    upload
  },
  data() {
    return {
      widthStyle: { width: "50%" },
      form: {
        tregionid: [],
        tregionname: "",
        title: "",
        attachinfo: [],
        content: ""
      },
      area: []
    }
  },
  methods: {
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = Obj.url + file.response.key
      this.form.attachinfo.push(obj)
    },
    _addOrg() {
      let val = this.area
      let org = val[val.length - 1]
      if(this.form.tregionid.indexOf(org) === -1){
        this.form.tregionid.push(org)
        this.$store.state.xinxiList.map(item => {
          if (item.fid === org) {
            this.form.tregionname += item.fname + " | "
          }
        })
      }else{
				this.$message.warning('请勿重复添加！')
			}
      this.area = []
    },
    _clear() {
      this.form.tregionid = []
      this.form.tregionname = ""
    },
    _removeTag(obj) {
      this.form.attachinfo = this.form.attachinfo.filter(item => {
        return obj.fattachurl !== item.fattachurl
      })
    },
    _send() {
      if (!this.form.title) {
        this.$message.error("请填写主题！")
        return false
      }
      if (!this.form.tregionid.length) {
        this.$message.error("请添加接收局！")
        return false
      }
      this.$confirm("确认发送?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          axios
            .post(
              this.$_ + "/Agp/Gcommunicate/sendMessage",
              qs.stringify(this.form)
            )
            .then(res => {
              if (res.data.code === 0) {
                this._reset()
                this.$message.success(res.data.msg)
              } else {
                this.$func._error(res.data)
              }
            })
            .catch(() => {
              this.$func._error()
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消"
          })
        })
    },
    _reset() {
      this.form = {
        tregionid: [],
        tregionname: "",
        title: "",
        attachinfo: [],
        content: ""
      }
      this.area = []
      this.$message.success('已重置')
    }
  }
}
</script>