<template>
  <div class="xxlbjiaoliu">
    <el-button type="primary"
      class="s-button"
      @click="() => {showsend = true}">发送信息</el-button>
    <el-tabs v-model="activeTab"
      type="card">
      <el-tab-pane name="1">
        <span slot="label">
          {{
          `接收列表 ` + (ActiveTab[$route.name+'1'] ? `(${ActiveTab[$route.name+'1']})` : '')
          }}
        </span>
        <keep-alive>
          <tableList ref="tableList"
            v-if="activeTab === '1'"
            :issend="false"
            url="/Agp/Gcommunicate/getMessageList" tab="1" />
        </keep-alive>
      </el-tab-pane>
      <el-tab-pane name="2">
        <span slot="label">
          {{
          `发送列表 ` + (ActiveTab[$route.name+'2'] ? `(${ActiveTab[$route.name+'2']})` : '')
          }}
        </span>
        <keep-alive>
          <tableList ref="tableList"
            v-if="activeTab === '2'"
            :issend="true"
            url="/Agp/Gcommunicate/sendMessageList"
            tab="2" />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
    <send-dialog v-if="showsend"
      @close="()=>{showsend = false;activeTab = '2';$refs.tableList._getList(1)}"></send-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import tableList from './components/tableList'
import sendDialog from './components/sendDialog'
export default {
  components: {
    tableList,
    sendDialog
  },
  data() {
    return {
      activeTab: '1',
      showsend: false,
    }
  },
  computed: {
    ...mapState(['ActiveTab', 'isgj', 'fregulatorlevel', 'userInfo'])
  },
}
</script>

<style scoped>
.s-button {
  position: absolute;
  right: 30px;
  z-index: 9;
}
</style>