<template>
  <div class="documentmodelset">
    <el-form :model="form" ref="sform" label-width="90px">
      <el-row>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5">
          <el-form-item label="关键字：">
            <el-input v-model="form.keyword"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="5"
          :xl="5">
          <el-form-item label="文书类型：">
            <el-select v-model="form.document_type">
              <el-option label="全部" value=""></el-option>
              <el-option v-for="item in documentType"
                :key="item.value"
                :label="item.name"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="10"
          :xl="5">
          <el-form-item label="地区：">
            <el-col :span="11">
              <el-cascader :options="$store.state.allArea"
                style="width:100%"
                :props="$store.state.areaOptions"
                v-model="area">
              </el-cascader>
            </el-col>
            <el-col :span="13">
              <el-switch v-model="form.iscontain"
                active-value="1"
                inactive-value="0"
                active-text="包含下属地区">
              </el-switch>
            </el-col>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="4"
          :xl="5"
          class="text-right">
          <el-form-item>
            <el-button type="primary" @click="_getList(1)">搜索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table border
      :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column type="index"
        width="50"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="dl_name"
        label="名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="dl_dename"
        label="文书类型"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="dl_doctitle"
        label="文档标题"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column property="dl_regulatorname"
        label="所属机构"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column fixed="right"
        width="100"
        label="操作">
        <template slot-scope="scope">
          <el-button type="primary"
            @click="_edit(scope.row);showDialog = true"
            icon="el-icon-edit-outline">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.p)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog v-if="showDialog"
      title="编辑文书模板"
      center
      :visible.sync="show"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-form label-width="80px"
        v-model="addForm">
        <el-form-item label="模板名称">
          <el-input placeholder="请输入名称"
            v-model="addForm.dl_name">
          </el-input>
        </el-form-item>
        <el-form-item label="文书标题">
          <el-input type="textarea"
            :rows="2"
            placeholder="文书标题"
            v-model="addForm.dl_doctitle">
          </el-input>
        </el-form-item>
        <el-tooltip class="item"
          effect="dark"
          content=" "
          placement="top">
          <div slot="content">温馨提示：@y 为年份， @m 为月份 ， @d 为当天日期 ， @3n 为文号占位符 例如规则为：[@y@m@d第@4n号] 如当天为2018年5月1日且文号领取到15号则<br />会生成：[20180523第0015号]，（其中@4n表示文号占四位，也可以修改为@5n，则 会生成：[20180523第00015号]，占5位）</div>
          <el-form-item label="文号规则">
            <el-input v-model="addForm.dl_whrule"
              placeholder="请输入文号规则"></el-input>
          </el-form-item>
        </el-tooltip>
        <el-form-item label="内容">
          <vue-ueditor-wrap v-model="addForm.dl_content"
            :config="$store.state.ueditorConfig">
          </vue-ueditor-wrap>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          :loading="$store.state.bloading"
          @click="_create">{{$store.state.bloading?'正在提交':'提 交'}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    VueUeditorWrap
  },
  data() {
    return {
      form: {
        p: 1,
        keyword: '',
        document_type: '',
        iscontain: '0'
      },
      addForm: {
        dl_name: '',
        dl_content: '',
        dl_whrule: '',
        dl_doctitle: '',
        dl_receiveregulatorname: '',
        dl_sendtregulatorname: '',
        dl_sendtime: '',
      },
      documentType: [],
      tableData: [],
      loading: false,
      countAll: '0',
      show: true,
      showDialog: false,
      area: [],
    }
  },
  created() {
    this.area = [this.$store.state.userInfo.regionid]
    this.getDocumentType()
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _edit(obj) {
      this.addForm = obj
    },
    getDocumentType(){
      axios.post(this.$_ + '/Agp/WsTemp/ws_type')
      .then(res => {
        if(res.data.code === 0){
          this.documentType = res.data.data
        }
      })
    },
    _getList(page) {
      this.loading = true;
      this.form.p = page || 1
      let data = {
        ...this.form,
        area: this.area[this.area.length - 1]
      }
      axios.post(this.$_ + '/Agp/WsTemp/ws_temp_edit', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list;
            this.loading = false;
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _create() {
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Agp/WsTemp/ws_temp_edit_post', qs.stringify(this.addForm))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('编辑成功')
            this.showDialog = false
            this._getList()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _close() {
      this.form = { page: 1 }
      this.showDialog = false;
      this._getList()
    }
  }
}
</script>
