<template>
  <div class="shsjxq">
    <div v-loading="gloading">
      <el-row
        class="rowbox" :gutter="8"
        ref="row">
        <el-col :span="11"
          ref="heightcol"
          class="box">
          <player-timeline
            ref="player"
            :baseData="baseData"
            :params="params"
            postUrl="/Agp/Inspectiontask3/CheckList"
            @nextM3u8="() => $refs.duringtime.nextduring()"
            @getRes="setData"
            @currentTime="time => videoJump = time"/>
        </el-col>
        <el-col :span="13"
          class="box">
          <div class="title-row">
            <div class="title-row-item title-back">
              <el-button type="primary"
                class="pull-left"
                @click="$router.push({path:'/ginspectresult3'})">返回</el-button>
            </div>
            <div class="title-row-item title-info" :title="$route.query.fissuedate + $route.query.fmedianame">
              {{$route.query.fissuedate}} {{$route.query.fmedianame}}
            </div>
            <div class="title-row-item title-finished">
              <el-button v-if="disabled" type="primary"  @click="reCheck">重新检查</el-button>
              <el-button v-if="!disabled" type="primary" @click="checkFinish">完成</el-button>
            </div>
          </div>
          <div class="timefieldset"
            v-loading="editLoading"
            ref="heightcol2">
            <div v-if="Number($route.query.check)" class="info-fieldset">
              <el-row>
                <el-form class="addForm" :model="form"
                  :disabled="disabled"
                  ref="form"
                  label-width="80px">
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="视频跳转">
                        <el-time-picker style="width:99%"
                          v-model="videoJump"
                          value-format="yyyy-MM-dd HH:mm:ss"
                          placeholder="任意时间点"
                          :picker-options="{selectableRange: duringtime}"
                          @focus="cleartimer"
                          @blur="settimer"
                          @change="jumpplay">
                        </el-time-picker>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="截取时长">
                        <span :class="Number(flength) < 0 ? 'text-red-bg' : ''">{{flength}} 秒</span>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="12">
                      <el-form-item label="开始时间">
                        <el-time-picker
                          style="width:100%"
                          v-model="resultdata.fstart"
                          value-format="yyyy-MM-dd HH:mm:ss"
                          :default-value="$route.query.fissuedate + ' 00:00:00'"
                          clearable
                          @dblclick.native="cutTime('start')"
                          placeholder="双击获取开始时间"
                          @change="val => timeChange(val,'start')">
                        </el-time-picker>
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="结束时间">
                        <el-time-picker
                          style="width:100%"
                          v-model="resultdata.fend"
                          :disabled="!resultdata.fstart"
                          value-format="yyyy-MM-dd HH:mm:ss"
                          :default-value="$route.query.fissuedate + ' 00:00:00'"
                          @dblclick.native="cutTime('end')"
                          placeholder="双击获取结束时间"
                          @change="val => timeChange(val,'end')">
                        </el-time-picker>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-col :span="24">
                    <el-form-item label="广告名称">
                      <el-autocomplete
                        style="width:100%"
                        v-model="resultdata.fadname"
                        :fetch-suggestions="searchadname"
                        placeholder="请输入广告名称(必填)"
                        @input="selectName"
                        ></el-autocomplete>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="广告品牌">
                      <el-input v-model="resultdata.fbrand"
                        placeholder="请输入广告品牌(不填默认“无突出品牌”)">
                        <el-button slot="append"
                          @click.native="defaultValue('fbrand')">无突出品牌</el-button>
                      </el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="广告主">
                      <el-autocomplete style="width:100%"
                        v-model="resultdata.fadownername"
                        :fetch-suggestions="searchadowner"
                        placeholder="请输入广告主(不填默认“广告主不详”)"
                        @select="selectOwner">
                        <el-button slot="append"
                          @click.native="defaultValue('fadownername')">广告主不详</el-button>
                      </el-autocomplete>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="广告类别">
                      <el-cascader placeholder="请选择广告类别(必选)"
                        style="width:100%"
                        :options="$store.state.adClassOptions"
                        :props="$store.state.propsOptions"
                        v-model="fadclasscode">
                      </el-cascader>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="涉嫌违法">
                      <el-radio-group v-model="resultdata.fillegaltypecode">
                        <el-radio label="0">不违法</el-radio>
                        <el-radio label="30">违 法</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24" v-if="resultdata.fillegaltypecode === '30'">
                    <el-form-item label="监测编码">
                      <div>
                        <el-button type="primary" @click="showIllegal = true">选择监测编码</el-button>
                      </div>
                      <el-popover v-for="item in selectedList" :key="item.id" placement="top" width="200" trigger="hover"
                        :content="item.fexpression">
                        <el-tag type="danger" slot="reference" size="small" closable  @close="alertClose(item)">
                          {{item.fcode}}</el-tag>
                      </el-popover>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24" v-if="resultdata.fillegaltypecode == '30'">
                    <el-form-item label="违法内容">
                      <el-input v-model="resultdata.fillegalcontent" type="textarea" :rows="2" placeholder=""></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24"
                    class="text-center">
                    <el-button type="primary"
                      v-if="fid"
                      @click="addResult(true)">插 入</el-button>
                    <el-button type="primary"
                      @click="addResult(false)">保 存</el-button>
                    <el-button type="danger"
                      @click="_reset">重 置</el-button>
                  </el-col>
                </el-form>
              </el-row>
            </div>
          </div>
        </el-col>
        <el-col :span="24">
          <el-col :span="11">
            <during-time
              ref="duringtime"
              :date="sdate"
              @change="change"
              @preduring="val => change(val)"
              @nextduring="val => change(val)"
              @back="val => $refs.player.seek($refs.player.getCurrentTime() - val)"
              @up="val => $refs.player.seek($refs.player.getCurrentTime() + val)"/>
          </el-col>
          <el-table v-loading="loading"
            :data="tableData"
            class="adTable"
            border
            :height="tableHeight"
            :cell-style="{padding:'2'}"
            @row-click="seekVideoTime"
            @row-dblclick="$refs.player.play()"
            @cell-mouse-enter="mouseEnter">
            <el-table-column type="index" fixed width="55">
            </el-table-column>
            <el-table-column label="广告名称"
              prop="fadname"
              fixed
              sortable
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span :class="scope.row.fadname === '查看段' ? 'text-primary' : ''">{{scope.row.fadname}}</span>
              </template>
            </el-table-column>
            <el-table-column label="广告类别"
              prop="fadclass"
              sortable
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span v-html="scope.row.fadclass"
                  class="noWrap"></span>
              </template>
            </el-table-column>
            <el-table-column label="违法类型" prop="fillegaltypecode" show-overflow-tooltip>
              <template slot-scope="scope">
                <span v-if="scope.row.fillegaltypecode === '30'" style="color:red;">违法</span>
                <span v-if="scope.row.fillegaltypecode <= '0'">不违法</span>
              </template>
            </el-table-column>
            <el-table-column label="违法代码" show-overflow-tooltip>
              <template slot-scope="scope">
                <el-popover
                  placement="top"
                  width="200"
                  trigger="hover"
                  :content="scope.row.fexpressions">
                  <span slot="reference">{{scope.row.fexpressioncodes}}</span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column label="内容" prop="fillegalcontent" show-overflow-tooltip>
            </el-table-column>
            <el-table-column label="开始时间" sortable prop="fstarttime"></el-table-column>
            <el-table-column label="结束时间"
              prop="fendtime"></el-table-column>
            <el-table-column label="时长" sortable width="135">
              <template slot-scope="scope">
                {{scope.row._flength}}
              </template>
            </el-table-column>
            <el-table-column label="操作"
              fixed="right"
              width="120">
              <template slot-scope="scope">
                <el-button
                  style="color: #409eff"
                  type="text"
                  v-if="scope.row.favifilename"
                  @click.stop="detail(scope.row,$event)"
                  size="mini">查看样本</el-button>
                <el-button
                  type="text"
                  style="color: #f56c6c"
                  v-if="scope.row.fid"
                  @click.stop="deleteAd(scope.row,$event)"
                  size="mini">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
    </div>
    <sample-dialog v-if="row.favifilename" :data='row' @close="() => row = {}"></sample-dialog>
    <el-dialog  title="认定依据" :visible.sync="showIllegal" center :close-on-click-modal="false"
      :close-on-press-escape="false" width="1000px">
      <el-input placeholder="关键字搜索" v-model="filterText" clearable>
      </el-input>
      <div class="tree-block">
        <el-tree show-checkbox node-key="fcode" ref="tree" :data="$store.state.IllegalList" :props="treeProps" @check="nodeCheck"
          :filter-node-method="filterNode">
          <div slot-scope="{ node }">
            <el-tooltip  effect="dark" :content="node.label" placement="top-start">
              <div class="tree-node-slot">{{ node.label }}</div>
            </el-tooltip>
          </div>
        </el-tree>
      </div>
      <span slot="footer">
        <el-button type="primary" @click="showIllegal = false">确 定</el-button>
        <el-button type="danger" @click="reset">清 空</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import playerTimeline from '@/components/common/playerTimeline'
import duringTime from '@/components/common/duringTime'
import qs from 'qs'
import axios from 'axios'
import sampleDialog from '@/components/Ggsjzx/Investigation/components/sampleDialog'
import { mapState } from 'vuex'
export default {
  components: {
    sampleDialog,
    playerTimeline,
    duringTime
  },
  data() {
    return {
      form: {
        pageIndex: 1,
      },
      tableHeight: '200',
      row: {},
      editLoading: false,
      tableData: [],
      activeNames: 0,
      activeNames2: 0,
      loading: false,
      showIllegal: false,
      filterText: '',
      gloading: false,
      selectedList: [],
      resultdata: {
        fstart: '',
        fend: '',
        fbrand: '',
        fadownername: '',
        fadowner: '',
        fmediaid: '',
        fadname: '',
        fadclasscode: '',
        fadownername: '',
        fillegaltypecode: '0',
        fexpressions: '',
        fexpressioncodes: '',
        fillegalcontent: '',
      },
      adOwner: {},
      fadclasscode: [],
      fdstatus: '',
      fcustomer: '',
      videoJump: '',
      fid: '',
      treeProps: {
        label: 'fexpression',
        children: 'list_2'
      },
      sourceData: '',
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val)
    },
  },
  computed: {
    ...mapState(['timeDate']),
    params(){
      let data = { ...this.form,pageSize: '5000' }
      data.fstarttime = `${this.sdate} ${this.duringStart}`
      data.fendtime = `${this.sdate} ${this.duringEnd}`
      data.fmediaid = this.$route.query.fmediaid
      data.fid = this.planId
      return data
    },
    baseData(){
      return {
        date: this.$route.query.fissuedate,
        mediaid: this.$route.query.fmediaid,
        starttime: this.duringStart,
        endtime: this.duringEnd,
        activeIndex: this.activeNames2
      }
    },
    disabled(){
      return this.fdstatus === '4'
    },
    planId(){
      return this.$route.query.fid || false
    },
    sdate(){
      return this.$route.query.fissuedate
    },
    flength() {
      let start = +new Date(this.resultdata.fstart)
      let end = +new Date(this.resultdata.fend)
      if (start && end) {
        return (end - start) / 1000
      } else {
        return '0'
      }
    },
    duringStart(){
      return this.timeDate[this.activeNames2].starttime
    },
    duringEnd(){
      return this.timeDate[this.activeNames2].endtime
    },
    duringtime() {
      return this.duringStart + ' - ' + this.duringEnd
    },
  },
  created() {
    this.sourceData = JSON.stringify(this.resultdata)
    this.showIllegal = true
  },
  mounted() {
    this.showIllegal = false
    this.$nextTick(() => {
      this.resize()
    })
    window.onresize = () => {
      this.resize()
    }
  },
  methods: {
    jumpplay(val){
      if(this.$refs.player){
        this.$refs.player.jumpplay(val)
      }
    },
    settimer(){
      if(this.$refs.player){
        this.$refs.player.settimer()
      }
    },
    cleartimer(){
      if(this.$refs.player){
        this.$refs.player.cleartimer()
      }
    },
    setData(data){
      this.tableData = data.data.fad.map(item => {
        item.fstarttime = item.fstarttime.substring(10)
        item.fendtime = item.fendtime.substring(10)
        item._flength = this.$func.dealTime(item.flength)
        return item
      })
      this.fcustomer = data.fcustomer
      this.fdstatus = data.fdstatus
    },
    timeChange(val,type){
      let date = this.$route.query.fissuedate
      if(type === 'start'){
        if(+new Date(val) < +new Date(`${date} 00:00:00`)){
          this.resultdata.fstart = val
        }else{
          let time = this.$dayjs(val).format('HH:mm:ss')
          this.resultdata.fstart = `${date} ${time}`
        }
      }else{
        if(+new Date(val) < +new Date(`${date} 00:00:00`)){
          this.resultdata.fend = val
        }else{
          let time = this.$dayjs(val).format('HH:mm:ss')
          this.resultdata.fend = `${date} ${time}`
        }
      }
    },
    reCheck(){
      this.$confirm('数据已完成检查，是否重新检查?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.gloading = true
        let data = {
          fid: this.planId,
          fmediaid: this.$route.query.fmediaid,
          fissuedate: this.sdate,
          jiancha: '1'
        }
        axios.post(this.$_ + '/Agp/Inspectiontask3/startCheckPlan',JSON.stringify(data))
        .then(res => {
          if(res.data.code === 0){
            this.$refs.player.resetUrl()
          }else{
            this.$func._error(res.data)
          }
          this.gloading = false
        })
      }).catch(() => {})
    },
    // 广告名称选择 发请求同步广告品牌/广告主/广告类别数据
    selectName(adName) {
      if(this.resultdata.fadname != ''){
        let data = {adName}
        axios.post(this.$_ + '/Api/Ad/checkAdIsSureByName',qs.stringify(data))
        .then(({data}) => {
          if(data.code == 0){
            if (data.data.is_sure == 1){
              this.resultdata.fbrand = data.data.fbrand
              this.resultdata.fadownername =  data.data.fname
              this.resultdata.fadclasscode = data.data.fadclasscode
              this.fadclasscode = this.$func.getAdClassCode(this.resultdata.fadclasscode)
            }
          }
        })
      }
    },
    resize(){
      this.$refs.row.$el.style.height = (document.body.clientHeight - 80) + "px"
      this.tableHeight = document.body.clientHeight - 445
    },
    checkFinish(){
      this.$confirm('确认提交检查完结果（此操作不可撤销）?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.gloading = true
        axios.post(this.$_ + '/Agp/Inspectiontask3/submitPlan',JSON.stringify({fid: this.planId}))
        .then(res => {
          if(res.data.code === 0){
            this.$func.success('提交成功')
            this.$router.push({path:'/ginspectresult3'})
          }else{
            this.$func._error(res.data)
          }
          this.gloading = false
        })
      }).catch(() => {})
    },
    playTime(row, column, cell, event){
      let time = column.property
      if(time === 'fstarttime'){
        this.$refs.player.seek(this.$refs.player.timeToSecond(row.fstarttime))
      }else{
        this.$refs.player.seek(this.$refs.player.timeToSecond(row.fendtime))
      }
    },
    seekVideoTime(row, $event) {
      this.$refs.player.seekVideoTime(row, $event)
      this.resultdata.fstart = row.fstarttime
      this.resultdata.fend = row.fendtime
      this.edit(row, $event)
    },
    cutTime(type) {
      if (type === 'start') {
        this.resultdata.fend = ''
        this.resultdata.fstart = this.videoJump
      } else if (type === 'end') {
        this.resultdata.fend = this.videoJump
      }
    },
    defaultValue(val) {
      if (val === 'fbrand') {
        this.resultdata.fbrand = '无突出品牌'
      }
      if (val === 'fadownername') {
        this.resultdata.fadownername = '广告主不详'
        this.resultdata.fadowner = '0'
      }
    },
    addResult(insert) {
      if(Number(this.flength) <= 0) return this.$func._error('截取时长有误！')
      if (!this.resultdata.fstart) return this.$func._error('请截取开始时间！')
      if (!this.resultdata.fend) return this.$func._error('请截取结束时间！')
      if (!this.resultdata.fadname) return this.$func._error('请填写广告名称！')
      if (!this.resultdata.fbrand) this.resultdata.fbrand = '无突出品牌'

      if (!this.resultdata.fadownername) {
        this.adOwner = {
          fid: '0',
          value: '广告主不详'
        }
        this.resultdata.fadownername = '广告主不详'
        this.resultdata.fadowner = '0'
      } else {
        if (this.resultdata.fadownername === this.adOwner.value) {
          if (this.resultdata.fadowner !== this.adOwner.fid) {
            this.resultdata.fadowner = ''
          }
        } else {
          this.resultdata.fadowner = ''
        }
      }
      let data = { ...this.resultdata, fcustomer: this.fcustomer }
      if (!this.fadclasscode.length) {
        this.$func._error('请选择广告类型！')
        return false
      } else {
        data.fadclasscode = this.fadclasscode[this.fadclasscode.length - 1]
      }
      data.fmediaid = this.$route.query.fmediaid
      if (this.fid) data.fid = this.fid
      let url = this.fid ? '/Agp/Inspectiontask3/EditAd' : '/Agp/Inspectiontask3/AddAd'
      // 如果是点击插入，则请求这个地址
      if(insert){
        url = '/Agp/Inspectiontask3/InsertAd'
      }
      this.editLoading = true
      axios.post(this.$_ + url, JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._reset()
            this.$refs.player.resetUrl()
          } else {
            this.$func._error(res.data)
          }
          this.editLoading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _reset() {
      this.reset()
      this.resultdata = JSON.parse(this.sourceData)
      this.fadclasscode = []
      this.fid = ''
      this.adOwner = {}
    },
    change(val) {
      this.activeNames = val
      this.activeNames2 = val
      this.tableData = []
      this._reset()
    },
    // 广告名称模糊搜索
    searchadname(queryString, cb) {
      let data = {
        adName: queryString
      }
      axios.post(this.$_ + '/Api/Ad/searchAdByName', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb(res.data.data)
          }
        })
    },
    // 广告主模糊搜索
    searchadowner(queryString, cb) {
      let data = {
        name: queryString
      }
      axios.post(this.$_ + '/Api/Adowner/searchAdOwner', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb(res.data.data)
          }
        })
    },
    selectOwner(item) {
      this.adOwner = item
      this.resultdata.fadownername = item.value
      this.resultdata.fadowner = item.fid
    },
    deleteAd(obj, e) {
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该广告记录?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Inspectiontask3/DelAd', JSON.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this.$refs.player.resetUrl()
            } else {
              this.$func._error(res.data)
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        })
      })
    },
    detail(row) {
      this.row = row
    },
    edit(obj, e, disabled) {
      this.fadclasscode = []
      let {fadclasscode} = obj
      let fadclasscodearr = []
      for(let i = 0;i < fadclasscode.length; i += 2){
        fadclasscodearr.push(fadclasscode.substr(0,i+2))
      }
      this.fadclasscode = fadclasscodearr
      for (let key in this.resultdata) {
        this.fid = obj.fid
        if (key === 'fstart') {
          this.resultdata[key] = `${this.sdate} ${obj['fstarttime']}`
        } else if (key === 'fend') {
          this.resultdata[key] = `${this.sdate} ${obj['fendtime']}`
        } else {
          this.resultdata[key] = obj[key]
        }
      }
      if(obj.fexpressioncodes){
        let keys = obj.fexpressioncodes.split(';')
        this.$refs.tree.setCheckedKeys(keys)
        this.selectedList = this.$refs.tree.getCheckedNodes()
      }
    },
    mouseEnter(row, column, cell, event) {
      cell.style.cursor = 'pointer'
    },
    reset() {
      this.selectedList = []
      this.$refs.tree.setCheckedKeys([])
    },
     // 搜索节点处理函数
    filterNode(value, data) {
      if (!value) return true
      return data.fexpression.indexOf(value) !== -1
    },
    nodeCheck(node, data = {}) {
      this.selectedList = data.checkedNodes || []
      this.resultdata.fexpressioncodes = this.selectedList.map(i => i.fcode).join(';')
      this.resultdata.fexpressions = this.selectedList.map(i => i.fexpression).join(';')
    },
    alertClose(obj) {
      let keys = []
      let selectedList = this.selectedList.filter(item => {
        if (item.fcode !== obj.fcode) {
          keys.push(item.fcode)
        }
        return item.fcode !== obj.fcode
      })
      this.selectedList = selectedList
      this.resultdata.fexpressioncodes = this.selectedList.map(i => i.fcode).join(';')
      this.resultdata.fexpressions = this.selectedList.map(i => i.fexpression).join(';')
      this.$refs.tree.setCheckedKeys(keys)
    }
  },
}
</script>

<style scoped lang="scss">
.shsjxq{
  background-color: #fff;
  padding: 5px;
  overflow: hidden;
  position: relative;
  .loadingcover {
    height: 295px;
    background: #000000;
  }
  .noWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #ens {
    overflow: hidden;
  }
  .rowbox {
    overflow: hidden;
  }
  .info-fieldset{
    height: 260px;
    margin: 0;
  }
  .box {
    height: 325px;
    overflow: auto;
    overflow-x: hidden;
  }
  .addForm{
    & /deep/ .el-form-item{
      margin-bottom: 8px;
    }
  }
  .text-primary{
    color: #00C1DE;
  }
  .title-row{
    display: flex;
    height: 38px;
    .title-back{
      width:56px;
    }
    .title-info{
      padding: 0 5px;
      flex-grow: 1;
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      color: #606266;
      text-align: center;
    }
    .title-finished{
      text-align: right;
      width: 80px;
    }
  }
  .tree-block{
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
    & /deep/ .tree-node-slot{
      width: 60em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .el-tree {
      & /deep/ > .el-tree-node{
        & > .el-tree-node__content{
          & > .el-checkbox{
            display: none;
          }
        }
      }
    }
  }
}
</style>