<template>
  <div class="level-management">
    <!-- 搜索条件 -->
    <el-form ref="form"
      v-if="false"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒体名称：">
            <el-input v-model="form.medianame"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            icon="el-icon-search">搜 索</el-button>
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="20">
      <el-col :span="9">
        <el-card v-loading="orgLoading">
          <h4>组织机构</h4>
          <el-tree :props="treeProps"
            :data="Tree"
            node-key="fid"
            :default-expanded-keys="defaultExpanded"
            :expand-on-click-node="false"
            @node-click="_getInfo">
            <span class="custom-tree-node"
              slot-scope="{ node, data }">
              <span :title="node.label">
                <i class="iconfont"
                  :class="data.fkind === '1' ? 'icon-jigou' : data.fkind === '2' ? 'icon-bumenguanli' : 'icon-meiti'"
                  style="float:left"></i>
                <el-tooltip class="item"
                  effect="dark"
                  :content="node.label"
                  placement="top">
                  <span class="org-name">{{ node.label }}</span>
                </el-tooltip>
              </span>
              <span>
                <el-button type="text"
                  icon="el-icon-circle-plus-outline"
                  @click="() => _setData(data,0)">
                </el-button>
                <el-button
                  type="text"
                  icon="el-icon-edit-outline"
                  @click="() => _setData(data,1)">
                </el-button>
                <el-button v-if="data.fid !== rootfid"
                  type="text"
                  icon="el-icon-delete"
                  @click="() => _removeOrg(node, data)">
                </el-button>
              </span>
            </span>
          </el-tree>
        </el-card>
      </el-col>
      <el-col :span="15">
        <people-list ref="peoplelist"
          :nowNode="nowNode">
        </people-list>
      </el-col>
    </el-row>
    <el-dialog center
      :title="isEdit ? '编辑机构' :'添加机构'"
      :visible.sync="show"
      width="900px"
      :before-close="_colseAdd"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-row :gutter="20">
        <el-col :span="8" >
          <el-card :style="menuCardStyle">
            <h4>机构信息</h4>
            <el-form v-model="addData"
              label-width="40px">
              <el-form-item label="类型" v-if="!isEdit">
                <el-radio-group v-model="addData.fkind">
                  <el-radio-button label="2">部门</el-radio-button>
                  <el-radio-button label="3">媒体</el-radio-button>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="名称">
                <el-input v-model="addData.fname"></el-input>
              </el-form-item>
              <el-form-item label="说明">
                <el-input type="textarea"
                  v-model="addData.fdescribe"></el-input>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card :style="menuCardStyle">
            <h4>菜单权限</h4>
            <el-tree ref="menuTree"
              :data="menuList"
              show-checkbox
              node-key="menu_id"
              :props="menuProps">
            </el-tree>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card :style="menuCardStyle">
            <h4>自媒体权限
              <el-button type="text"
                @click="_checkAll">{{this.allCheck ? '全不选' : '全选'}}</el-button>
              <el-button type="text"
                @click="_fanxuan">反选</el-button>
            </h4>
            <el-checkbox-group v-model="mediaCheckList">
              <el-col :span="24"
                v-for="item in mediaList"
                :key="item.fid">
                <el-checkbox :label="item.fid">{{item.fmedianame}}</el-checkbox>
              </el-col>
            </el-checkbox-group>
          </el-card>
        </el-col>
      </el-row>
      <span slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_addOrg"
          :loading="$store.state.bloading">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import peopleList from './components/peopleList'
import axios from 'axios'
import qs from 'qs'
let id = 1000
export default {
  components: {
    peopleList
  },
  data() {
    return {
      form: {},
      loading: false,
      orgLoading: false,
      Tree: [],
      show: false,
      addData: {
        fname: '',
        fdescribe: '',
        fkind: '2'
      },
      nowNode: {},
      treeProps: {
        label: 'fname',
        children: 'list',
      },
      rootfid: '',
      isEdit: 0,
      isEditUser: 0,
      tableData: [],
      menuForm: {},
      menuList: [],
      mediaList: [],
      allMediaList: [],
      regList: [],
      menuProps: {
        label: 'menu_name',
        children: 'list',
      },
      mediaProps: {
        label: 'fmedianame',
        children: 'list',
      },
      menuCardStyle: {
        height: '300px',
        overflow: 'auto'
      },
      allCheck: false,
      mediaCheckList: [],
      clueCheckList: [],
      defaultExpanded: [],
    }
  },
  created() {
    this._getList()
  },
  methods: {
    _getList() {
      this.orgLoading = true
      axios.post(this.$_ + '/Agp/Fjigou/get_jigoulist')
        .then(res => {
          if (res.data.code === 0) {
            this.Tree = res.data.data.list
            this.rootfid = res.data.data.list[0].fid
            this.orgLoading = false
            this.defaultExpanded = Array.of(res.data.data.list[0].fid)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setData(data, isEdit) {
      let id = ''
      if (data.fid === this.Tree[0].fid) {
        id = data.fid
      } else {
        id = isEdit ? data.fpid : data.fid
      }
      this.show = true
      this.nowNode = data
      this.isEdit = isEdit
      if (isEdit) {
        let { fid, fpid, fname, fdescribe, fkind } = data
        this.addData = { fid, fpid, fname, fdescribe, fkind }
      }
      setTimeout(() => {
        this.$refs.peoplelist._getPeopleList(data)
        this._getMenuMediaList(id)
      })
      event.stopPropagation()
    },
    _removeOrg(node, data) {
      if (data.fid === this.rootfid) {
        this.$message.error('该节点无法删除！')
        return false
      }
      this.$confirm('确认删除该机构及机构下的所有人员?', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Fjigou/delete_jigou', qs.stringify({ fid: data.fid }))
          .then(res => {
            if (res.data.code === 0) {
              const parent = node.parent
              const children = parent.data.list || parent.data
              const index = children.findIndex(d => d.fid === data.fid)
              children.splice(index, 1)
              this.$message.success(res.data.msg)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '取消删除'
          })
        })
      event.stopPropagation()
    },
    _addOrg() {
      this.$store.commit('_bloading', true)
      let { fname, fdescribe, fkind } = this.addData
      let data = {}
      let url = ''
      if (!fname) {
        this.$message.error('机构名称和机构编码不能为空！')
        return false
      }
      if (this.isEdit) {
        url = '/Agp/Fjigou/edit_jigou'
        data = this.addData
      } else {
        data = { fpid: this.nowNode.fid, fname, fdescribe, fkind }
        url = '/Agp/Fjigou/create_jigou'
      }
      let menu = this.$refs.menuTree.getCheckedKeys()
      data = {
        ...data,
        menu: Array.from(new Set(menu)),
        media_list: Array.from(new Set(this.mediaCheckList))
      }
      axios.post(this.$_ + url, qs.stringify(data)).then(res => {
        if (res.data.code === 0) {
          this._getList()
          this._colseAdd()
          this.$message.success(res.data.msg)
        } else {
          this.$func._error(res.data)
        }
        this.$store.commit('_bloading', false)
      }).catch(() => {
        this.$func._error()
        this.$store.commit('_bloading', false)
      })
    },
    _getInfo(val) {
      this.nowNode = val
      this.$refs.peoplelist._getPeopleList(val)
    },
    _getMenuKey(menuTree, menuArr) {
      let parentArr = []
      menuTree.forEach(item => {
        if(item.list && item.list.length){
          item.list.forEach(item2 => {
            if (!menuArr.includes(item2.menu_id)) {
              parentArr.push(item.menu_id)
            }
          })
        }
      })
      let nparentArr = Array.from(new Set(parentArr))
      let a = menuArr.filter(function (v) { return nparentArr.indexOf(v) == -1 })
      return a
    },
    _getMenuMediaList(val) {
      axios.post(this.$_ + '/Agp/Fjigou/get_jigoumenulist', qs.stringify({ fpid: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.menuList = res.data.data.list ? res.data.data.list : []
            if (this.isEdit && (this.nowNode.menu_jurisdiction !== 'null')) {
              let menuKey = this._getMenuKey(this.menuList, JSON.parse(this.nowNode.menu_jurisdiction))
              this.$refs.menuTree.setCheckedKeys(menuKey)
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
      axios.post(this.$_ + '/Agp/Fjigou/get_jigoumedialist', qs.stringify({ fpid: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaList = res.data.data || []
            if (res.data.data) {
              this.allMediaList = res.data.data.map(i => i.fid)
            }
            if (this.isEdit && (this.nowNode.media_jurisdiction !== 'null')) {
              this.mediaCheckList = JSON.parse(this.nowNode.media_jurisdiction)
            }
            if (this.isEdit && (this.nowNode.tregister_jurisdiction !== 'null')) {
              this.clueCheckList = JSON.parse(this.nowNode.tregister_jurisdiction)
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _colseAdd() {
      this.show = false
      this.isEdit = 0
      this.addData = {
        fname: '',
        fdescribe: '',
        fkind: '2'
      }
      this.mediaList = []
      this.menuList = []
      this.regList = []
      this.$refs.menuTree.setCheckedKeys([])
      this.mediaCheckList = []
      this.clueCheckList = []
    },
    _checkAll() {
      this.allCheck = !this.allCheck
      this.mediaCheckList = this.allCheck ? this.allMediaList : []
    },
    _fanxuan() {
      let a = this.mediaCheckList
      let b = this.allMediaList
      let aSet = new Set(this.mediaCheckList)
      let bSet = new Set(this.allMediaList)
      this.mediaCheckList = Array.from(new Set(a.concat(b).filter(v => !aSet.has(v) || !bSet.has(v))))
    }
  }
}
</script>
<style>
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.org-name {
  display: inline-block;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
}
</style>