<template>
  <div class="menu-management">
    <el-row>
      <el-col :span="12">
        <el-card>
          <h4>菜单列表 <el-button class="pull-right"
              type="text"
              @click="_addMenu">添加菜单</el-button>
          </h4>
          <el-tree :props="treeProps"
            :data="Tree"
            node-key="menu_id"
            :expand-on-click-node="false">
            <span class="custom-tree-node"
              slot-scope="{ node, data }">
              <span><b>{{ node.label }}</b></span>
              <span>
                <el-button v-if="data.parent_id === '0'"
                  type="text"
                  icon="el-icon-circle-plus-outline"
                  @click="() => _setMenu(data,0)">
                </el-button>
                <el-button type="text"
                  icon="el-icon-edit-outline"
                  @click="() => _setMenu(data,1)">
                </el-button>
                <el-button type="text"
                  icon="el-icon-delete"
                  @click="() => _removeMenu(node, data)">
                </el-button>
              </span>
            </span>
          </el-tree>
        </el-card>
      </el-col>
    </el-row>
    <el-dialog center
      v-if="showDialog"
      :title="'菜单管理'"
      :visible.sync="show"
      width="500px"
      :before-close="_colseAdd"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-form v-model="menuData"
        label-width="80px"
        v-if="addBMenu || (bMenu&&isEdit)">
        <el-form-item label="菜单名称">
          <el-input v-model="menuData.menu_name"></el-input>
        </el-form-item>
        <el-form-item label="菜单图标">
          <el-input v-model="menuData.icon"></el-input>
        </el-form-item>
        <el-form-item label="菜单排序">
          <el-input v-model="menuData.menu_sort"
            placeholder="数字越小越靠前"></el-input>
        </el-form-item>
        <el-form-item label="菜单标识"
          v-if="!isEdit || isEdit&&addBMenu">
          <el-input v-model="menuData.menu_code"></el-input>
        </el-form-item>
      </el-form>
      <el-form v-model="menuData"
        label-width="80px"
        v-if="(bMenu&&!isEdit) || (!bMenu&&isEdit)">
        <el-form-item label="菜单名称">
          <el-input v-model="menuData.menu_name"></el-input>
        </el-form-item>
        <el-form-item label="菜单链接">
          <el-input v-model="menuData.menu_url"></el-input>
        </el-form-item>
        <el-form-item label="菜单排序">
          <el-input v-model="menuData.menu_sort"
            placeholder="数字越小越靠前"></el-input>
        </el-form-item>
        <el-form-item label="菜单标识"
          v-if="!isEdit || isEdit&&addBMenu">
          <el-input v-model="menuData.menu_code"></el-input>
        </el-form-item>
      </el-form>
      <el-form v-model="menuData"
        label-width="80px"
        v-if="!bMenu&&!isEdit">
        <el-form-item label="菜单名称">
          <el-input v-model="menuData.menu_name"></el-input>
        </el-form-item>
        <el-form-item label="菜单链接">
          <el-input v-model="menuData.menu_url"></el-input>
        </el-form-item>
        <el-form-item label="菜单排序">
          <el-input v-model="menuData.menu_sort"
            placeholder="数字越小越靠前"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_Submit"
          :loading="$store.state.bloading">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      Tree: [],
      treeProps: {
        label: 'menu_name',
        children: 'list',
      },
      menuData: {},
      isEdit: 0,
      show: true,
      showDialog: false,
      bMenu: 1,
      nowMenu: {},
      addBMenu: 0
    }
  },
  created() {
    this._getList()
  },
  methods: {
    _getList() {
      axios.post(this.$_ + '/Agp/Fmenu/get_menulist')
        .then(res => {
          if (res.data.code === 0) {
            this.Tree = res.data.data.list
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setMenu(data, isEdit) {
      this.addBMenu = 0
      if (data.parent_id === '0') {
        this.bMenu = 1
      } else {
        this.bMenu = 0
      }
      this.isEdit = isEdit
      this.nowMenu = data
      if (isEdit) {
        let { parent_id, menu_name, menu_url, menu_sort, icon, menu_code } = data
        this.menuData = { parent_id, menu_name, menu_url, menu_sort, icon, menu_code }
      }
      this.showDialog = true
    },
    _removeMenu(node, data) {
      this.$confirm('确认删除该菜单?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Fmenu/delete_menu', qs.stringify({ menu_id: data.menu_id }))
          .then(res => {
            if (res.data.code === 0) {
              const parent = node.parent
              const children = parent.data.list || parent.data
              const index = children.findIndex(d => d.menu_id === data.menu_id)
              children.splice(index, 1)
              this.$message.success(res.data.msg)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消删除'
        })
      })
    },
    _colseAdd() {
      this.bMenu = 1
      this.menuData = {}
      this.showDialog = false
    },
    _addMenu() {
      this.bMenu = 1
      this.addBMenu = 1
      this.isEdit = 1
      this.showDialog = true
      this.menuData.menu_url = '#'
    },
    _Submit() {
      this.$store.commit('_bloading', true)
      let menu_id = this.nowMenu.menu_id
      let parent_id = this.nowMenu.parent_id
      let url = ''
      let data = {}
      if (this.addBMenu) {
        data = { ...this.menuData, parent_id: '0' }
        url = '/Agp/Fmenu/create_menu'
      } else {
        if (this.bMenu && this.isEdit) {
          data = { ...this.menuData, parent_id: parent_id, menu_id: menu_id }
          url = '/Agp/Fmenu/edit_menu'
        } else if (this.bMenu && !this.isEdit) {
          data = { ...this.menuData, parent_id: menu_id }
          url = '/Agp/Fmenu/create_menu'
        } else {
          data = { ...this.menuData, menu_id: menu_id, parent_id: parent_id }
          url = '/Agp/Fmenu/edit_menu'
        }
      }
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data && data.parent_id !== '0') {
              const _newChild = {
                ...data,
                list: [],
                menu_id: res.data.data
              }
              if (!this.nowMenu.list) {
                this.$set(this.nowMenu, 'list', [])
              }
              this.nowMenu.list.push(_newChild)
              this._colseAdd()
              this.$message.success(res.data.msg)
            } else {
              this._getList()
              this._colseAdd()
            }
          } else {
            this.$func._error(res.data)
          }
        })
      this.$store.commit('_bloading', false)
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', true)
        })
    }
  }
}
</script>
<style>
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
</style>