<template>
  <div class="main-bg" v-loading="loading">
    <el-form :model="form" ref="sform" label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="接收机构：">
            <el-input v-model="form.fmediaowner"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="接收手机：">
            <el-input v-model="form.sl_phone"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="6" :xl="6">
          <el-form-item label="发送结果：">
            <el-input v-model="form.sl_returnnote"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label-width="0px">
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="getList(1)"
              icon="el-icon-search">查 询</el-button>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              @click="sendDialog = true"
              icon="el-icon-message">发送信息</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData" border stripe :height="$store.state.GTableHeight">
      <el-table-column type="index" width="50"/>
      <el-table-column label="接收机构" prop="fmediaowner"/>
      <el-table-column label="接收手机" prop="sl_phone"/>
      <el-table-column label="短信类型" prop="sl_type">
        <template slot-scope="scope">
         <span :class="scope.row.sl_type == 0 ? 'green' : 'red'"> {{ scope.row.sl_type == 0 ? '普通' : scope.row.sl_type == 1 ? '通报' : '未知' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="发送内容" prop="sl_content" width="420">
        <template slot-scope="scope">
         <span v-html="scope.row.sl_content"></span>
        </template>
      </el-table-column>
      <el-table-column label="发送时间" prop="sl_creattime"/>
      <el-table-column label="发送结果" prop="sl_returnnote"/>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="getList">
    </el-pagination>
    <!-- 发送信息 -->
    <el-dialog
      title="发送信息"
      center
      :visible.sync="sendDialog"
      v-if="sendDialog"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="600px"
      @close="closeDialog">
      <el-form :model="sendForm" ref="form" :rules="rules" label-width="90px">
        <el-form-item label="短信类型">
          <el-select v-model="sendForm.sl_type" placeholder="请选择短信类型" @change="selectMsg">
            <el-option
              v-for="item in msgArr"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="接收机构" prop="mediaowner">
          <el-select v-model="sendForm.mediaowner" :multiple="selectOrg" style="width:100%" clearable ref="ownerDom" v-if="showNoticeBtn">
            <el-option v-for="item in mediaOwner"
              :key="item.fid"
              :label="item.fname"
              :value="item.fid"
              :disabled="item.disabled">
              {{ item.fname + (item.disabled ? '（未关联手机）' : '') }}
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="发送内容">
          <el-input v-model="smscontent" type="textarea" :rows="5" placeholder="请输入发送内容"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" v-if="sendForm.sl_type === '1'" @click="selectNoticeAd" :disabled="bthSelect">选择通报广告</el-button>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button type="primary" @click="sendMsg">发 送</el-button>
      </span>
    </el-dialog>
    <!-- 通报广告 -->
    <el-dialog
      title="通报广告"
      :visible.sync="dialogVisible"
      @close="closeNoticeAd"
      width="70%">
      <el-form :model="searchForm" label-width="90px" inline>
        <el-form-item label="广告名称：">
          <el-input v-model="searchForm.search_val" clearable></el-input>
        </el-form-item>
        <el-form-item label="时段：" label-width="60px">
          <el-date-picker
            v-model="timeval"
            type="daterange"
            :clearable="false"
            value-format="yyyy-MM-dd"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
      </el-form>
      <div class="tableBox" v-loading="tloading">
        <el-table  border stripe  height="400"
          :data="adData"
          ref="multipleTable"
          @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55"/>
          <el-table-column label="广告名称" prop="fad_name"/>
          <el-table-column label="发布媒体" prop="fmedianame"/>
          <el-table-column label="总条次" prop="fcount"/>
          <el-table-column label="违法表现代码" prop="fillegal_code">
            <template slot-scope="scope">
              <el-popover placement="left"
                width="200"
                trigger="hover"
                :content="scope.row.fexpressions">
                <span type="text"
                  slot="reference">{{scope.row.fillegal_code}}</span>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column label="证据查看" prop="sl_returnnote">
            <template slot-scope="scope">
              <el-button type="text"
                :icon="scope.row.fview_status === '0' ? 'el-icon-view' : 'el-icon-circle-check'"
                @click="_viewVideo(scope.row)">
                查看
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination background
          style="text-align: right"
          layout="total"
          :total="Number(total)">
        </el-pagination>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="sureAd(false)">取 消</el-button>
        <el-button type="primary" @click="sureAd(true)">确 定</el-button>
      </span>
    </el-dialog>

    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import viewVideo from "@/components/Ggsjzx/Investigation/components/viewVideo"
export default {
  components: {
    viewVideo,
  },
  // 接受机构 发送内容 发送人 发送时间 接收手机号
  data() {
    return {
      form: {
        page: 1,
      },
      tableData: [],
      loading: false,
      countAll: 0,
      mediaOwner: [],
      sendDialog: false,
      sendForm: {
        mediaowner: [],
        sl_type: '0',
      },
      selectOrg: true,
      searchForm: {
        fstate: 0,
        timetypes: 0,
        search_type: 30,
        search_val: '',
      },
      timeval: [],
      tloading: false,
      adData: [],
      msgArr: [
       { value: '0', label: '普通'},
       { value: '1', label: '通告'},
      ],
      total: 0,
      smscontent: '',
      dialogVisible: false,
      showNoticeBtn: true,
      showVideo: false,
      details: {},
      adName: [],
      bthSelect: false,
      rules: {
        mediaowner: [ { required: true, message: '请选择接收机构', trigger: 'change' } ]
      },
      adNameArr: []
    }
  },
  created() {
    this.getList()
    this.getMediaOwner()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  watch: {
    'sendForm.mediaowner': {
      handler(val,oldval){
        if(this.adNameArr.length != 0 && this.smscontent != ''){
          this.setContent()
        }
        if(!val){
          this.bthSelect = true
        } else {
          this.bthSelect = false
        }
      },
      deep: true
    },
  },
  computed: {
    MediaOwnerName(){
      if(this.sendForm.mediaowner){
        let obj = this.mediaOwner.find(i => i.fid === this.sendForm.mediaowner)
        return obj.fname
      }
      return ''
    },
  },
  methods: {
    setContent(){
      if(this.sendForm.sl_type == 1 && this.adNameArr.length){
        let adName = Array.from(new Set(this.adNameArr)).join(',')
        this.smscontent =
`${this.MediaOwnerName}：
    你单位于${this.timeval[0]}至${this.timeval[1]}期间播出（刊登）的${adName}广告涉嫌违法，现责令你单位暂停发布。
----安徽省市场监督管理局广告监管管理处`
        }
    },
    getList(page){
      this.loading = true
      let data = { ...this.form }
      data.page = page || 1
      axios.post(this.$_ + '/Agp/Fsmsmanage/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    getMediaOwner(){
      axios.get(this.$_ + '/Agp/Fsmsmanage/getmediaowner')
      .then(res => {
        if(res.data.code !== 0){
          this.$func._error(res.data)
          return false
        }
        this.mediaOwner = res.data.data.map(v => {
          if(!v.ftel) v.disabled = true
          return v
        })
      })
    },
    sendMsg(){
      this.$refs.form.validate((valid) => {
        if (valid) {
          let data = {...this.sendForm}
          if(this.sendForm.sl_type == '1') {
            data.mediaowner = this.sendForm.mediaowner ? [this.sendForm.mediaowner] : []
          }
          data.smscontent = this.smscontent
          // console.log(data)
          axios.post(this.$_ + '/Agp/Fsmsmanage/sendsms',qs.stringify(data))
          .then(res => {
            if(res.data.code !== 0){
              this.$func._error(res.data)
              return false
            }
            this.closeDialog()
            this.$func.success(res.data.msg)
            this.getList(1)
          })
        } else {
          return false;
        }
      })
    },
    selectMsg(val){
      this.showNoticeBtn = false
      this.smscontent = ''
      if(Number(val) === 0){
        this.selectOrg = true
        this.$set(this.sendForm, 'mediaowner', [])
      }else{
        this.selectOrg = false
        this.$set(this.sendForm, 'mediaowner', '')
      }
      this.$nextTick(() => {
        this.showNoticeBtn = true
      })
    },
    selectNoticeAd() {
      const stime = this.$dayjs().startOf('month').format('YYYY-MM-DD')
      const etime = this.$dayjs().format('YYYY-MM-DD')
      // this.timeval = ['2019-04-01', '2019-04-30']
      this.timeval = [stime, etime]
      this.dialogVisible = true
      this.search()
    },
    search() {
      this.tloading = true
      const data = {
        ...this.searchForm,
        mediaownerid: this.sendForm.mediaowner
      }
      data.years = this.timeval ? this.timeval[0].substring(0,4) : ''
      data.timeval = this.timeval ? this.timeval.join(',') : ''
      axios.post(this.$_ + '/Agp/Gckchuli/cljieguo_list', qs.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.adData = res.data.data.list
          this.total = res.data.data.count
        } else {
          this.$func._error(res.data)
        }
        this.tloading = false
      })
      .catch(() => {
        this.$func._error()
      })
    },
    sureAd(val) {
      if(val){
        const arr = this.adName
        this.adNameArr = arr
        this.setContent()
        this.dialogVisible =  false
      } else {
        this.closeNoticeAd()
      }
    },
    _viewVideo(obj) {
      if (obj.fview_status === '0') {
        obj.fview_status = '10'
        let data = {
          url: '/Agp/Gsbchuli/anjian_look',
          name: 'fid',
          value: obj.fid
        }
        this.$func.isWatch(data)
      }
      this.details = obj
      this.showVideo = true
    },
    handleSelectionChange(val) {
      this.adName = val.map(i => {
        return `\"${i.fad_name}\"`
      })
    },
    // 通报广告弹窗关闭
    closeNoticeAd() {
      if(this.adNameArr.length == 0){
        this.smscontent = ''
      }
      this.dialogVisible = false
    },
    closeDialog(){
      this.sendForm.mediaowner = []
       this.$refs.form.resetFields()
      this.sendForm.sl_type = '0'
      this.smscontent = ''
      this.sendDialog = false
    }
  },
}
</script>

<style scoped>
.green{
  color: #67C23A;
}
.red{
  color: #F56C6C;
}

</style>