<template>
  <div class="details-dialog">
    <el-dialog title="消息详情"
      center
      :visible.sync="show"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="600px"
      :before-close="() => $emit('close')">
      <el-form ref="form"
        label-width="100px">
        <el-form-item label="发送局："
          v-if="!data.issend">
          {{details.me_sendtrename}}
        </el-form-item>
        <el-form-item label="接收局："
          v-else>
          {{details.me_sendtrename}}
        </el-form-item>
        <el-form-item label="消息主题：">
          {{details.me_title}}
        </el-form-item>
        <el-form-item label="消息内容：">
          {{details.me_content}}
        </el-form-item>
        <el-form-item label="附件信息：">
          <a :href="item.mef_url"
            v-for="item in details.file_list">
            <el-button type="text">
              {{item.mef_filename + '、 '}}
            </el-button>
          </a>
        </el-form-item>
        <el-form-item label="反馈信息："
          v-if="data.issend">
          {{details.mrr_content}}
        </el-form-item>
        <el-form-item label="反馈："
          v-else>
          <el-input type="textarea"
            v-model="fkcontent"
            placeholder="请输入反馈信息"
            :rows="5"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer"
        v-if="!data.issend">
        <el-button type="primary"
          @click="_fankui"
          :loading="$store.state.bloading">发送反馈</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    data: {
      default: () => { },
      type: Object
    }

  },
  data() {
    return {
      show: true,
      details: {},
      fkcontent: '',
    }
  },
  created() {
    this._showDetails(this.data.mrr_id)
  },
  methods: {
    _showDetails(id) {
      axios.post(this.$_ + '/Agp/Gcommunicate/messageInfo', qs.stringify({ id: id }))
        .then(res => {
          if (res.data.code === 0) {
            let data = res.data.data
            data.file_list = data.file_list.map(item => {
              if (item.mef_url.indexOf('?') === -1) {
                item.mef_url = item.mef = _url + '?attname=' + item.mef_filename
              }
              return item
            })
            this.details = data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _fankui() {
      this.$store.commit('_bloading', true)
      let data = {
        id: this.details.mrr_id,
        content: this.fkcontent
      }
      axios.post(this.$_ + '/Agp/Gcommunicate/feedbackInfo', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success('反馈成功！')
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        }).catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
  },
}
</script>

<style scoped>
</style>