<template>
  <el-dialog title="发送信息"
    :visible.sync="show"
    width="600px"
    center
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    :before-close="() => $emit('close')">
    <el-form :model="form"
      ref="form"
      label-width="100px">
      <el-form-item label="信息主题：">
        <el-input type="text"
          v-model="form.title"></el-input>
      </el-form-item>
      <el-form-item label="接收局：">
        <el-cascader placeholder="请选择接收局"
          :options="$store.state.GData"
          :props="$store.state.areaOptions"
          v-model="area"
          clearable>
        </el-cascader>
        <el-button type="primary"
          @click="_addOrg">
          添加
        </el-button>
        <el-button type="text"
          @click="_clear">
          清空
        </el-button>
        <br>
        <br>
        <el-input type="textarea"
          v-model="form.tregionname"
          disabled
          :rows="6">
        </el-input>
      </el-form-item>
      <el-form-item label="信息内容：">
        <el-input type="textarea"
          v-model="form.content"
          :rows="6"></el-input>
      </el-form-item>
      <el-form-item label="附件：">
        <upload @uploadSuccess="_uploadSuccess">
        </upload>
        <el-tag class="right-margin"
          v-for="item in form.attachinfo"
          :key="item.fattachurl"
          closable
          @close="_removeTag(item)"
          type="priamry">
          {{item.fattachname}}
        </el-tag>
      </el-form-item>
    </el-form>
    <span slot="footer">
      <el-button type="primary"
        @click="_send">
        发送
      </el-button>
      <el-button type="danger"
        @click="_reset">
        重置
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import axios from "axios"
import qs from "qs"
import upload from "../../common/upload"
export default {
  components: {
    upload
  },
  data() {
    return {
      show: true,
      form: {
        tregionid: [],
        tregionname: "",
        title: "",
        attachinfo: [],
        content: ""
      },
      area: []
    }
  },
  methods: {
    _uploadSuccess(Obj) {
      let file = Obj.file
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = `${Obj.url}${file.response.key}?attname=${file.name}`
      this.form.attachinfo.push(obj)
    },
    _clear() {
      this.form.tregionid = []
      this.form.tregionname = ""
    },
    _addOrg() {
      let val = this.area
      let org = val[val.length - 1]
      if (this.form.tregionid.indexOf(org) === -1) {
        this.form.tregionid.push(org)
        this.$store.state.xinxiList.map(item => {
          if (item.fid === org) {
            this.form.tregionname += item.fname + " | "
          }
        })
      } else {
        this.$message.warning('请勿重复添加！')
      }
      this.area = []
    },
    _reset() {
      this.form = {
        tregionid: [],
        tregionname: "",
        title: "",
        attachinfo: [],
        content: ""
      }
      this.area = []
      this.$message.success('已重置')
    },
    _removeTag(obj) {
      this.form.attachinfo = this.form.attachinfo.filter(item => {
        return obj.fattachurl !== item.fattachurl
      })
    },
    _send() {
      if (!this.form.title) {
        this.$message.error("请填写主题！")
        return false
      }
      if (!this.form.tregionid.length) {
        this.$message.error("请添加接收局！")
        return false
      }
      this.$confirm("确认发送?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          axios.post(this.$_ + "/Agp/Gcommunicate/sendMessage", qs.stringify(this.form))
            .then(res => {
              if (res.data.code === 0) {
                this.$message.success(res.data.msg)
                this.$emit('close')
              } else {
                this.$func._error(res.data)
              }
            })
            .catch(() => {
              this.$func._error()
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消"
          })
        })
    },
  }
}
</script>