<template>
  <div class="bottom-box" :style="{'width': query.taskType == 'gghd' ? 'calc(100vw - 600px)' : 'calc(100vw - 1000px)' }">
      <div style="display: flex;justify-content: space-between">
        <el-form :model="searchForm" ref="searchForm" inline @keyup.native.enter="issueDataList()">
          <el-form-item>
            <el-select v-model="searchForm.dataType" placeholder="全部发布广告" @change="issueDataList()">
              <el-option v-for="(vakue,key) in paperDataType"
                :key="key"
                :label="vakue.label"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div>
          <el-button v-if="query.taskType == 'gghd'" type="primary"  icon="el-icon-arrow-left" size="mini" plain @click="$router.push({name: query.from, params: {page: query.page,pageSize: query.pageSize,searchForm: query.searchForm }})">返 回</el-button>
        </div>
      </div>
      <el-table :data="tableData" border stripe :height="tableHeight" @row-click="rowClick" :row-style="rowStyle" @sort-change="sortChange">
        <el-table-column type="index" width="40"></el-table-column>
        <el-table-column label="广告名称" prop="fadname" min-width="140" sortable="custom"></el-table-column>
        <el-table-column label="广告内容类别" prop="fadclassname" min-width="180" sortable="custom"></el-table-column>
        <el-table-column label="广告主" prop="fadownername" min-width="120"></el-table-column>
        <el-table-column label="数量" prop="fquantity" width="70" sortable="custom"></el-table-column>
        <el-table-column label="版面" prop="fpage" width="70" sortable="custom"></el-table-column>
        <el-table-column label="规格" prop="fsize" width="80" sortable="custom"></el-table-column>
        <el-table-column label="面积比例" prop="fproportion" width="80"></el-table-column>
        <el-table-column label="品牌" prop="fbrand" min-width="140"></el-table-column>
        <el-table-column label="发布类型" prop="fissuetype" width="100" sortable="custom"></el-table-column>
        <el-table-column label="违法类型" prop="fillegaltype" width="100" sortable="custom"></el-table-column>
        <el-table-column label="涉嫌违法内容" prop="fillegalcontent" width="100" show-overflow-tooltip></el-table-column>
        <el-table-column label="违法表现代码" prop="fexpressioncodes" width="100">
          <template slot-scope="scope">
            <el-popover
              placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span slot="reference">{{scope.row.fexpressioncodes}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="90" fixed="right" v-if="query.taskType != 'gghd'">
          <template slot-scope="scope">
            <el-button type="danger" @click="deletePage(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { issueDataList, issueDataDel } from "@/api/MediaIssue.js"
  export default {
    props: {
      pagesData: {
        type: Array,
        default: () => ([])
      },
      activePage: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        searchForm: {
          dataType: '1',
          orderType: '',
        },
        sourceData: [],
        tableData: [],
        pages: [],
        fPage: '',
        page: {
          pageSize: 1000,
          pageIndex: 1
        },
        tableHeight: '300px',
        order: {
          'fadname': {
            'ascending': '10',
            'descending': '11',
          },
          'fadclassname': {
            'ascending': '20',
            'descending': '21',
          },
          'fpage': {
            'ascending': '50',
            'descending': '51',
          },
          'fsize': {
            'ascending': '60',
            'descending': '61',
          },
          'fquantity': {
            'ascending': '70',
            'descending': '71',
          },
          'fissuetype': {
            'ascending': '80',
            'descending': '81',
          },
          'fillegaltype': {
            'ascending': '40',
            'descending': '41',
          },
        },
      }
    },
    computed: {
      ...mapGetters(['illType', 'paperDataType', 'adType', 'rowStyle', ]),
      query(){
        return this.$route.query
      },
    },
    watch: {
      activeNames2(){
        this.issueDataList()
      }
    },
    created() {
      this.issueDataList()
    },
    mounted() {
      this.$nextTick(() => {
        this.tableHeight = this.getTH(this, 100)
      })
      window.onresize = () => {
        this.tableHeight = this.getTH(this, 100)
      }
    },
    methods: {
      deletePage(row){
        this.$confirm('确定删除该记录吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const data = {
            adType: '1',
            issueId: row.issueid,
            mediaId: this.query.fmedia_id,
            issueDate: this.query.fissue_date,
            taskType: this.query.taskType,
          }
          issueDataDel(data).then(res => {
            this.$notify.success(res.msg)
            this.issueDataList()
          }).catch(() => {})
        }).catch(() => {})
      },
      filterPage(){
        if(this.activePage){
          this.tableData = this.sourceData.filter(i => i.fpage === this.activePage)
        }else{
          this.tableData = this.sourceData
        }
      },
      change(val) {
        this.$emit('change', val)
        this.activeNames = val
        this.activeNames2 = val
        this.tableData = []
      },
      reload(){
        this.issueDataList(this.page.pageIndex)
      },
      rowClick(row){
        this.$emit('row-click', row)
      },
      issueDataList(page = 1){
        this.page.pageIndex = page
        let data = {
          mediaId: this.query.fmedia_id,
          issueDate: [`${this.query.fissue_date}`, `${this.query.fissue_date}` ],
          taskType: this.query.taskType,
          ...this.searchForm,
          ...this.page
        }
        issueDataList(data).then(res => {
          // 获取fpage并去重
          this.pages = Array.from(new Set((res.data || []).map(i => i.fpage)))
          this.sourceData = (res.data || []).map(i => {
            if(i.fstarttime)i.starttime = i.fstarttime.substr(11)
            if(i.fendtime)i.endtime = i.fendtime.substr(11)
            i.fillegaltype = i.fillegaltypecode === undefined ? '' : this.illType[i.fillegaltypecode].label
            i._adType = "广告"
            return i
          })
          this.tableData = this.sourceData
          // if(this.activePage) this.filterPage()
          this.$emit('page-data',res.pagedata)
        }).catch(() => {
          this.$router.push({name: this.query.from})
        })
      },
      sortChange(val) {
        let prop = val.prop
        let order = val.order
        this.searchForm.orderType = this.order[prop][order] || ''
        this.issueDataList(this.page.pageIndex)
      },
    },
  }
</script>

<style lang="scss" scoped>
.bottom-box{
  padding-left: 10px;
  .el-form{
    .el-form-item--mini{
      margin-bottom: 8px !important;
    }
  }
}
</style>