<template>
  <div class="form-box">
    <div>
      <div style="display: flex; justify-content: space-between;margin-bottom: 10px;">
        <div>
          <el-button type="success" @click="save">{{ isAdd || (id == '') ? '新 建' : '修 改'}}</el-button>
          <el-button type="danger" plain @click='reset'>清 空</el-button>
        </div>
        <div>
          <el-button type="primary"  icon="el-icon-arrow-left" size="mini" plain @click="$router.push({name: query.from, params: {page: query.page,pageSize: query.pageSize,searchForm: query.searchForm }})">返 回</el-button>
          <el-button type="success" @click="$emit('submit')">提 交</el-button>
        </div>
      </div>
      <div v-if="query.taskType !== 'gghd'" class="form-body">
        <div class="form-wrap">
          <el-form :model="sampleForm" ref="sampleForm" label-width="96px">
            <template>
              <el-form-item label="广告名称" required>
                <el-autocomplete
                  style="width:100%"
                  v-model="sampleForm.fadname"
                  :fetch-suggestions="searchadname"
                  @select="adnameSelect"
                  placeholder="请输入内容"></el-autocomplete>
              </el-form-item>
              <el-form-item label="品牌">
                <el-input v-model="sampleForm.fbrand"></el-input>
              </el-form-item>
              <el-form-item label="广告类别" required>
                <el-cascader
                  style="width: 100%"
                  v-model="sampleForm.fadclasscode"
                  :options="adClassTree"
                  :props="{emitPath: false,...adClassOptions}"></el-cascader>
              </el-form-item>
              <el-form-item label="广告主" >
                <el-autocomplete style="width:100%"
                  v-model="sampleForm.fadownername"
                  :fetch-suggestions="searchadowner"
                  placeholder="请输入广告主">
                </el-autocomplete>
              </el-form-item>
              <el-row>
                <el-col :span="13">
                  <el-form-item label="版面" required>
                    <el-input v-model="sampleForm.fpage" placeholder="版面" clearable></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="11">
                  <el-form-item label="规格" label-width="52px" required>
                    <el-select v-model="sampleForm.fsize" placeholder="规格">
                      <el-option v-for="item in ggTypeArr"
                        :key="item.fsize"
                        :label="item.fsize"
                        :value="item.fsize">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="数量" required>
                    <el-input v-model="sampleForm.fquantity" placeholder="数量" type="number" :min="1"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="发布类型" label-width='70px'>
                    <el-select v-model="sampleForm.fissuetype" placeholder="发布类型" style="width:100%">
                      <el-option v-for="item in issueType"
                        :key="item"
                        :label="item"
                        :value="item">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="版面类别">
                    <el-input v-model="sampleForm.fpagetype" placeholder="版面类别"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item  label="面积比例" label-width='70px'>
                     <!-- <el-input-number v-model="sampleForm.fproportion" controls-position="left" :min="1.0" :precision="1"></el-input-number> -->
                    <el-input v-model="sampleForm.fproportion" placeholder="面积比例"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-form-item label="版本说明">
                <el-input v-model="sampleForm.fversion"></el-input>
              </el-form-item>
              <el-form-item label="广告批准文号">
                <el-input v-model="sampleForm.fapprno"></el-input>
              </el-form-item>
              <el-form-item label="生产批准文号">
                <el-input v-model="sampleForm.fmanuno"></el-input>
              </el-form-item>
              <el-form-item label="代言人">
                <el-input v-model="sampleForm.fspokesman"></el-input>
              </el-form-item>
            </template>
          </el-form>
        </div>
      </div>
      <div class="ill-wrap" v-if="isAd">
        <el-form :model="sampleForm" ref="sampleForm" label-width="80px">
          <el-form-item label="违法类型">
            <div style="display: flex; justify-content: space-between;">
              <el-radio-group v-model="sampleForm.fillegaltypecode">
                <el-radio-button :label="key" v-for="(value,key) in illType" :key="key">{{value.label}}</el-radio-button>
              </el-radio-group>
              <el-button type="warning" @click="sampleShow = true" v-if="this.query.taskType != 'ggfl'">同名参照</el-button>
            </div>
          </el-form-item>
          <el-form-item label="涉嫌违法内容" v-if="isIll || isIllCheck">
            <el-input v-model="sampleForm.fillegalcontent" type="textarea" :rows="3" style="width:100%"></el-input>
          </el-form-item>
          <el-form-item v-if="isIll">
            <div slot="label">
              违法表现
              <el-button type="text" @click="showDrawer">选 择</el-button>
              <el-button type="text" class="danger" @click="delIll">取消选择</el-button>
            </div>
            <el-table :data="illData" border stripe height="158px" ref="multipleTable" @selection-change="val => multipleSelection = val"  @row-click="row => $refs.multipleTable.toggleRowSelection(row)" :row-style="rowStyle" style="width:100%">
              <el-table-column type="selection" width="40"></el-table-column>
              <el-table-column prop="fcode" label="代码" width="80"></el-table-column>
              <el-table-column prop="fexpression" label="违法表现"></el-table-column>
              <el-table-column prop="fconfirmation" label="认定依据"></el-table-column>
            </el-table>
          </el-form-item>
        </el-form>
      </div>
      <!-- 广告核定素材列表 -->
      <div v-else style="width: 100%">
        <div v-if="!isPaper" style="width: 100%">
          <el-form :model="sampleForm" ref="sampleForm" label-width="96px">
            <el-form-item label="时长">
              <el-input v-model="timeLength" style="width: 70px;display: inline-block" @input="timeLengthChange"/> 秒
            </el-form-item>
            <el-form-item label="播出时间">
              <div class="start-end-time" style="width: 260px">
                <time-input :time="setTimeValue" ref="startTime" @inputFinish="inputFinish" @clearTime="$emit('clearTime')" @inputing="adLength"/> <div class="text">至</div> <time-input :time="setTimeValue" ref="endTime" @clearTime="$emit('clearTime')" @inputing="adLength"/>
              </div>
            </el-form-item>
          </el-form>
          <el-table :data="mdata" border stripe v-loading="loading" height="320">
            <el-table-column prop="start_time" label="素材开始时间"></el-table-column>
            <el-table-column prop="end_time" label="素材结束时间"></el-table-column>
            <el-table-column prop="create_time" label="创建时间"></el-table-column>
            <el-table-column width="160px" label="操作">
              <template slot-scope="scope">
                <el-button v-if="scope.row.source_state === '1'"
                  :loading="true"
                  type="text"
                  icon="el-icon-download">生成中</el-button>
                <a :href="scope.row.source_url + '?attname='" target="_blank">
                  <el-button v-if="scope.row.source_state === '2'"
                    :loading="scope.row.loading"
                    type="text"
                    icon="el-icon-download">下载</el-button>
                </a>
                <!-- <el-button v-if="scope.row.source_state === '-1'"
                  type="text"
                  @click="_create(scope.row.source_id)"
                  icon="el-icon-refresh">重新生成</el-button> -->
                <el-button v-if="scope.row.source_state === '-1'"
                  type="text"
                  icon="el-icon-refresh">生成失败</el-button>
                <el-button type="text"
                  @click="delSource(scope.row.source_id)"
                  icon="el-icon-delete" style="margin-left: 10px;color: #F56C6C;">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <el-drawer
      title="选择违法表现"
      :visible.sync="drawer"
      direction="ttb"
      :size="size"
      :modal="modal"
      :before-close="handleClose">
      <el-input placeholder="关键字搜索" v-model="filterText" clearable style="width: 97%; margin:0 0 18px 20px;"></el-input>
      <div class="drawer-body">
        <el-tree
          ref="tree"
          :data="IllegalList"
          :render-after-expand="false"
          check-on-click-node
          check-strictly
          show-checkbox
          node-key="fcode"
          :props="props"
          :filter-node-method="filterNode"
          @check-change="handleCheck">
        </el-tree>
      </div>
    </el-drawer>

    <sampleReference v-if="sampleShow" @close="close" @useSample="useSampleForm" >
    </sampleReference>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import timeInput from '@/components/timeInput.vue'
import sampleReference from './sampleReference'
import { issueDataSave, issueDataAdd, } from "@/api/MediaIssue.js"
import { getFileUp, searchAdByName, searchAdOwner } from "@/api/Function.js"
import { sourceMakeList, sourceMakeDel, getSourceMakeState  } from "@/api/Media.js"
import { getPaperSize } from "@/api/PaperInput.js"
  export default {
    props: {
      setTimeValue: {
        type: String,
        default: ''
      },
      initTime: {
        type: Array,
        default: () => (['00:00:00', '23:59:59'])
      },
      assignTime: {
        type: String,
        default: ''
      },
      activeRow: {
        type: Object,
        required: true
      },
      startCrop: {
        type: Boolean,
        default: false
      },
      id: {
        type: String,
        default: ''
      },
    },
    components: { timeInput , sampleReference},
    data() {
      return {
        form:{
          sampleCreat: '',
          issuedate: '',
          sampleIssueDate: '',
        },
        isAdd: true,
        illdialogVisible: false,
        filterText: '',
        props: {
          children: 'list_2',
          label: 'fexpression'
        },
        illData: [],
        drawer: true,
        sampleForm: {
          adType: '1',
          is_long_ad: '1',
          fillegaltypecode: '0',
        },
        sourceSampleForm: '',
        multipleSelection: [],
        size: '0px',
        modal: false,
        upData: {},
        tvalue:'',
        timeLength: 0,
        adOwner: {},
        queryAdNameList: [],
        mdata: [],
        creating: [],
        timer: null,
        loading: false,
        issueType: ['黑白','套红','彩色'],
        ggTypeArr: [],
        pickerOptions: {
          disabledDate: (time) => {
            return time.getTime() < new Date(this.activeRow.sampleissuedate).getTime()
          }
        },
        sampleShow: false
      }
    },
    watch: {
      activeRow: {
        handler(row){
          this.init(row)
          this.isAdd = false
          this.$store.commit('setFsampleid', row.fsampleid)
        },
        deep: true
      },
      'sampleForm.fadname': {
        handler(val) {
          this.$store.commit('setSampleAdName', val)
        },
        deep: true
      },
      'sampleForm.adType': {
        handler(val) {
          let sampleDisabled = ''
          if(val == 1) {
            sampleDisabled = false
          } else {
            sampleDisabled = true
          }
          this.$store.commit('setSampleDisabled', sampleDisabled)
        },
        deep: true
      },
      filterText(val) {
        this.$refs.tree.filter(val)
      },
      assignTime(val) {
        this.hours = val.substring(0,2)
        this.minutes = val.substring(3,5)
        this.seconds = val.substring(6)
      }
    },
    computed: {
      ...mapGetters(['illType', 'adType', 'illegalTree', 'rowStyle', 'adClassTree', 'adClassOptions', 'isLongAd', 'progClass', 'useSampleData']),
      IllegalList(){
        return JSON.parse(JSON.stringify(this.illegalTree)).map(i => {
          if(i.list_2){
            i.list_2.map(v => {
              v.fexpression = `【${v.fcode}】${v.fexpression}`
              return v
            })
          }
          return i
        })
      },
      query(){
        return this.$route.query
      },
      isIll(){
        return this.sampleForm.fillegaltypecode === '30'
      },
      isIllCheck(){
        return this.sampleForm.fillegaltypecode === '-30'
      },
      fexpressionData(){
        let result = {}
        if(this.$refs.tree){
          let checked = this.$refs.tree.getCheckedNodes()
          result.fexpressioncodes = checked.map(i => i.fcode).join(';')
          result.fexpressions = checked.map(i => i.fexpression).join(';')
          return result
        }
        return result
      },
      isPaper(){
        return this.$route.name.indexOf('paper') !== -1 || this.$route.name.indexOf('journal') !== -1
      },
      isAd(){
        return this.sampleForm.adType === '1'
      },
    },
    created() {
      this.getFileUp()
      this.ggType()
      this.setAddForm()
      if(this.$route.query.taskType == 'gghd') {
        this.sourceMakeList()
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.drawer = false
        setTimeout(() => {
          this.size = '450px'
          this.modal = true
        },3000)
      })
    },
    methods: {
      ggType() {
        const data = {
          mediaId: this.query.fmedia_id,
          mclass: this.query.fmediaclassid
        }
        getPaperSize(data).then(res => {
          this.ggTypeArr = res.data
        })
      },
        // 搜索节点处理函数
      filterNode(value, data) {
        if (!value) return true
        return data.fexpression.indexOf(value) !== -1
      },
      computedTime(type){
        let time = `${this.query.fissue_date} ${this.$refs[`${type}Time`].getTime()}`
        if(type === 'start'){
          let endtime = +new Date(time) + (+this.timeLength * 1000)
          this.$refs.endTime.focus(endtime)
        }else{
          let start = +new Date(time) - (+this.timeLength * 1000)
          this.$refs.startTime.focus(start)
        }
      },
      timeLengthChange(val){
        this.timeLength = val
      },
      adLength(){
        let start = this.$refs.startTime.getTime()
        let end = this.$refs.endTime.getTime()
        if(start && end){
          return this.timeLength = ((+new Date(`${this.query.fissue_date} ${end}`)) - (+new Date(`${this.query.fissue_date} ${start}`))) / 1000
        }
        return this.timeLength = 0
      },
      clearTime(){
        this.$refs.endTime.reset()
        this.$refs.startTime.reset()
      },
      inputFinish(){
        this.$refs.endTime.$refs.h.focus()
        this.$refs.endTime.$refs.h.select()
      },
      changeAdType(val){
        this.illData = []
        this.multipleSelection = []
        this.setAddForm(val)
      },
      save() {
        const saveData = this.getData()
        if(saveData.fadname == '') return this.$notify.error('广告名称不能为空')
        if(saveData.fadclasscode == '') return this.$notify.error('广告类别不能为空')
        if(saveData.fpage == '') return this.$notify.error('版面不能为空')
        if(saveData.fsize == '') return this.$notify.error('规格不能为空')
        if(saveData.fquantity == '') return this.$notify.error('数量不能为空')
        if(saveData.fadownername == '') saveData.fadownername = '不详'
        let result = saveData.issueid ? issueDataSave(saveData) : issueDataAdd(saveData)
        result.then(res => {
          this.$notify.success(res.msg)
          // this.$emit('reload')
          this.reset(true, true)
        })
      },
      setAddForm(adType = '1', flag){
        return new Promise((resolve) => {
          if(!flag){
            this.$set(this, 'sampleForm', {
              adType: adType,
              fadownername: '',
              fadname: '',
              fbrand: '',
              fadclasscode: '',
              fversion: '',
              fspokesman: '',
              fillegaltypecode: '0',
              fillegalcontent: '',
              fexpressioncodes: '',
              fexpressions: '',
              fmanuno: '',
              fapprno: '',
              issueid: '',
              fpage: this.activeRow.fpage,
              fsize: this.activeRow.fsize,
              fquantity: this.activeRow.fquantity,
              fissuetype: this.activeRow.fissuetype,
              fpagetype: this.activeRow.fpagetype,
              fproportion: this.activeRow.fproportion,
            })
          } else {
            this.$set(this, 'sampleForm', {
              adType: adType,
              fadownername: '',
              fadname: '',
              fbrand: '',
              fadclasscode: '',
              fversion: '',
              fspokesman: '',
              fillegaltypecode: '0',
              fillegalcontent: '',
              fexpressioncodes: '',
              fexpressions: '',
              fmanuno: '',
              fapprno: '',
              issueid: '',
              fpage: this.sampleForm.fpage,
              fsize: this.sampleForm.fsize,
              fquantity: this.sampleForm.fquantity,
              fissuetype: this.sampleForm.fissuetype,
              fpagetype: this.sampleForm.fpagetype,
              fproportion: this.sampleForm.fproportion,
            })
          }
          this.sourceSampleForm = JSON.stringify(this.sampleForm)
          resolve()
        })
      },
      init(row){
        this.setAddForm(row.adType).then(() => {
          Object.keys(this.sampleForm).forEach(i => {
            this.$set(this.sampleForm, i, row[i])
          })
          if(this.isPaper){
            this.$set(this.sampleForm, 'fpage', row.fpage)
            this.$set(this.sampleForm, 'fsize', row.fsize)
            this.$set(this.sampleForm, 'fquantity', row.fquantity)
            this.$set(this.sampleForm, 'fissuetype', row.fissuetype)
            this.$set(this.sampleForm, 'fpagetype', row.fpagetype)
            this.$set(this.sampleForm, 'fproportion', row.fproportion)
          }else{
            this.$set(this.sampleForm, 'fstarttime', (row.fstarttime_long || row.fstarttime))
            this.$set(this.sampleForm, 'fendtime', (row.fendtime_long || row.fendtime))
            this.$refs.startTime.focus(row.fstarttime_long || row.fstarttime)
            this.$refs.endTime.focus(row.fendtime_long || row.fendtime)
            if(row.adType === '1'){
              this.$set(this.sampleForm, 'is_long_ad', row.is_long_ad)
              const time = row.sampleissuedate ? this.$dayjs(row.sampleissuedate).format('YYYY-MM-DD') : ''
              this.$set(this.sampleForm, 'sampleIssueDate', time)
            }
          }
          if(this.activeRow.fexpressioncodes){
            this.$refs.tree.setCheckedKeys(this.activeRow.fexpressioncodes.split(';'))
            this.handleCheck()
          }else{
            this.$refs.tree.setCheckedKeys([])
          }
        })
      },
      showDrawer(){
        this.drawer = true
      },
      delIll(){
        let del = this.multipleSelection.map(i => i.fcode)
        let result = this.illData.filter(i => {
          return !del.includes(i.fcode)
        })
        this.$refs.tree.setCheckedNodes(result)
      },
      close() {
        this.sampleShow = false
      },
      // 使用样本
      useSampleForm() {
        if(this.useSampleData.fexpressioncodes){
          this.$refs.tree.setCheckedKeys(this.useSampleData.fexpressioncodes.split(';'))
          this.handleCheck()
        }else{
          this.$refs.tree.setCheckedKeys([])
        }
        this.sampleForm.fillegaltypecode = this.useSampleData.fillegaltypecode,
        this.sampleForm.fillegalcontent = this.useSampleData.fillegalcontent
      },
      handleCheck(){
        this.illData = this.$refs.tree.getCheckedNodes()
      },
      handleClose(){
        this.drawer = false
      },
      reload(){
        window.location.reload()
      },
      nextTaskType(type){
        let result = ''
        switch(type){
          case 'ggfl':
            result = 'ggjc'
            break
          case 'ggjc':
            result = 'ggfs'
            break
          case 'ggfs':
            result = 'ggzs'
            break
          case 'ggzs':
            result = ''
            break
        }
        return result
      },
      submitData(){
        let data = {
          mediaId: this.query.fmedia_id,
          issueDate: this.query.fissue_date,
          taskType: this.query.taskType,
          nextTaskType: this.nextTaskType(this.query.taskType),
        }
        return data
      },
      reset(reload = true, flag){
        this.isAdd = true
        this.illData = []
        this.multipleSelection = []
        this.$refs.tree.setCheckedKeys([])
        this.setAddForm('1', flag)
        if(!this.isPaper) this.clearTime()
        if(reload) this.$emit('reload')
      },
      resetSource() {
        this.timeLength = ''
        this.clearTime()
        this.sourceMakeList()
      },
      getFileUp(){
        getFileUp().then(res => {
          this.upData = res.data
        })
      },
      getData(){
        let data = {}
        if(this.startCrop){
          data = {
            ...this.sampleForm,
            issueDate: this.query.fissue_date,
            mediaId: this.query.fmedia_id,
            taskType: this.query.taskType,
            ...this.fexpressionData,
          }
        }else{
          data = {
            ...this.sampleForm,
            issueDate: this.query.fissue_date,
            mediaId: this.query.fmedia_id,
            taskType: this.query.taskType,
          }
          data.fstarttime = `${this.query.fissue_date} ${this.$refs.startTime.getTime()}`
          data.fendtime = `${this.query.fissue_date} ${this.$refs.endTime.getTime()}`
          if(this.sampleForm.adType === '1') data = {...data, ...this.fexpressionData}
        }
        return data
      },
      getMaterialData() {
        let mstart = `${this.query.fissue_date} ${this.$refs.startTime.getTime()}`
        let mend = `${this.query.fissue_date} ${this.$refs.endTime.getTime()}`
        let data = {
          mediaId: this.query.fmedia_id,
          source_name: `${this.query.fmedianame}${this.$refs.startTime.getTime()} - ${this.$refs.endTime.getTime()}`,
          source_type: 0,
          Sstart: mstart,
          Send: mend,
        }
        return data
      },
      sourceMakeList() {
        clearInterval(this.timer)
        this.timer = null
        this.creating = []
        this.loading = true
        const data = {
          issueDate: this.query.fissue_date,
          mediaId: this.query.fmedia_id,
        }
        sourceMakeList(data).then(res => {
          if (res.code === 0) {
            this.mdata = res.data.map(item => {
              item.loading = false
              if (item.source_state === '1') {
                this.creating.push(item.source_id)
              }
              return item
            })
            this.loading = false
            if (this.creating.length) {
              this.timer = setInterval(() => {
                this.getSourceMakeState(this.creating)
              }, 2000)
            } else {
              clearInterval(this.timer)
              this.timer = null
            }
          } else {
            this.mdata = []
            this.$message.error(res.msg)
            this.loading = false
          }
        })
      },
      getSourceMakeState(data) {
        getSourceMakeState({selid: data}).then(res => {
          if(res.data.length !== 0) {
            this.sourceMakeList()
          }
        })
      },
      delSource(id) {
        this.$confirm('确认删除该素材?', '确认', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
         sourceMakeDel({source_id: id}).then(res => {
            this.$notify({
              title: '成功',
              message: res.msg,
              type: 'success',
              duration: 1000,
            })
            this.sourceMakeList()
          })
        })
        .catch(() => {
          this.$message.info('操作已取消')
        })
      },
      adnameSelect({value}){
        let item = this.queryAdNameList.filter(i => i.fadname === value)[0]
        if(item){
          this.$set(this.sampleForm, 'fadowner', item.fadowner)
          this.$set(this.sampleForm, 'fbrand', item.fbrand)
          this.$set(this.sampleForm, 'fadownername', item.fadownername)
          this.$set(this.sampleForm, 'fadclasscode', item.fadclasscode)
        }
      },
       // 广告名称模糊搜索
      searchadname(queryString, cb) {
        let data = {
          adName: queryString
        }
        searchAdByName(data).then(res => {
          this.queryAdNameList = (res.data || [])
          cb((res.data || []).map(i => ({value: i.fadname})))
        })
      },
      // 广告主模糊搜索
      searchadowner(queryString, cb) {
        let data = {
          name: queryString
        }
        searchAdOwner(data).then(res => {
          if (res.code === 0) {
            cb(res.data)
          }
        })
      },
      putb64(picBase) {
        return new Promise(resolve => {
          /*picUrl用来存储返回来的url*/
          let picUrl;
          /*把头部的data:image/png;base64,去掉。（注意：base64后面的逗号也去掉）*/
          picBase = picBase.substring(23)
          /*把字符串转换成json*/
          function strToJson(str) {
            let json = eval(`(${str})`)
            return json
          }
          function uuid() {
            let s = [];
            let hexDigits = "0123456789abcdef";
            for (let i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4";
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);
            s[8] = s[13] = s[18] = s[23] = "-";
            return s.join("");
          }
          let Base64 = require('js-base64').Base64;
          let url = `${this.upData.up_server}putb64/-1/key/${Base64.encode(uuid() + '.jpg')}`
          let xhr = new XMLHttpRequest()
          xhr.onreadystatechange = () => {
            if (xhr.readyState == 4) {
              let keyText = xhr.responseText
              /*返回的key是字符串，需要装换成json*/
              keyText = strToJson(keyText)
              /* http://ojvh6i96g.bkt.clouddn.com/是我的七牛云空间网址，keyText.key 是返回的图片文件名*/
              picUrl = `${this.upData.bucket_url}${keyText.key}`
              resolve(picUrl)
            }
          }
          xhr.open("POST", url, true)
          xhr.setRequestHeader("Content-Type", "application/octet-stream")
          xhr.setRequestHeader(
            "Authorization",
            `UpToken ${this.upData.val.token}`
          );
          xhr.send(picBase)
        })
      },
      countDown(time) {
        let s = 0;
        let hour = time.split(':')[0];
        let min = time.split(':')[1];
        let sec = time.split(':')[2];
        s = Number(hour * 3600) + Number(min * 60) + Number(sec);
        return s;
      },
    },
  }
</script>

<style lang="scss" scoped>
  .form-box{
    flex-grow: 1;
    flex-shrink: 0;
    // padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .start-end-time{
      display: flex;
      justify-content: space-between;
      .text{
        padding: 0 3px;
      }
      .time-input{
        flex-grow: 1;
      }
    }
    .el-form{
      .el-form-item--mini{
        margin-bottom: 8px!important;
      }
      &.el-form--label-top {
        & /deep/ .el-form-item__label{
          padding: 0!important;
        }
      }
    }
    .tool{
      padding-bottom: 8px;
      box-sizing: border-box;
    }
    .form-body{
      flex-grow: 1;
      display: flex;
      height: 100%;
      overflow: hidden;
      .form-wrap{
        width: 340px;
        flex-shrink: 0;
        .el-form{
          .el-form-item--mini{
            height: 28px!important;
          }
          &.el-form--label-top {
            & /deep/ .el-form-item__label{
              padding: 0!important;
            }
          }
        }
      }
      .ill-wrap{
        width: 400px;
        flex-shrink: 0;
        padding-left: 10px;
        box-sizing: border-box;
      }
    }
    & .el-drawer /deep/ .drawer-body{
      padding: 10px;
      box-sizing: border-box;
    }
  }

</style>
<style lang="scss">
.el-drawer .drawer-body{
  padding: 0 20px;
  box-sizing: border-box;
  height: calc(450px - 90px);
  overflow: auto;
}
.el-input__inner{
  padding: 0 6px;
}
</style>