<template>
  <div class="form-box">
    <div class="form-body">
      <div class="form-wrap">
        <el-form :model="sampleForm" ref="sampleForm" label-width="96px">
          <el-form-item label="节目类型">
            <el-radio-group v-model="sampleForm.adType" :disabled="!(!sampleForm.issueid)">
              <el-radio-button :label="key" v-for="(value,key) in adType" :key="key">{{value.label}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="节目名称">
            <el-input v-model="sampleForm.fadname"></el-input>
          </el-form-item>
          <el-form-item label="节目类别">
            <el-select v-model="sampleForm.fadclasscode" placeholder="节目类别" style="width: 100%">
              <el-option v-for="item in progClass"
                :key="item.fcode"
                :label="item.fadclass"
                :value="item.fcode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { issueDataSampleDel } from "@/api/MediaIssue.js"
  export default {
    props: {
      activeRow: {
        type: Object,
        required: true
      },
      startCrop: {
        type: Boolean,
        default: false
      },
    },
    data() {
      return {
        illData: [],
        sampleForm: {
          taskType: '',
          fadname: '',
          fadclasscode: '',
          adType: '',
          issueid: '',
        },
        sourceSampleForm: '',
        multipleSelection: [],
        upData: {}
      }
    },
    watch: {
      activeRow: {
        handler(row){
          this.init(row)
        },
        deep: true
      }
    },
    computed: {
      ...mapGetters(['illType', 'adType', 'rowStyle', 'progClass', 'isLongAd']),
      query(){
        return this.$route.query
      },
    },
    created() {
      this.sourceSampleForm = JSON.stringify(this.sampleForm)
      this.init(this.activeRow)
    },
    mounted() {
      this.$nextTick(() => {
        setTimeout(() => {
          this.size = '450px'
          this.modal = true
        },3000)
      })
    },
    methods: {
      submitform() {
        let data = {
          mediaId: this.query.fmedia_id,
          issueDate: this.query.fissue_date,
          taskType: this.query.taskType,
          nextTaskType: this.nextTaskType(this.query.taskType),
        }
        return data
        // this.$confirm('确认完成检查？', '确认', {
        //   confirmButtonText: '确定',
        //   cancelButtonText: '取消',
        //   type: 'warning',
        // }).then(() => {
        //   issueDataSubmit(data).then(res => {
        //     this.$notify.success(res.msg)
        //     this.$router.push({name: this.query.from})
        //   })
        // }).catch(() => {})
      },
      saveform() {
        let data = {
          ...this.sampleForm,
          issueDate: this.query.fissue_date,
          mediaId: this.query.fmedia_id,
          taskType: this.query.taskType,
        }
        return data
      },
      init(row){
        Object.keys(this.sampleForm).forEach(i => {
          this.$set(this.sampleForm, i, row[i])
        })
      },
      reload(){
        window.location.reload()
      },
      nextTaskType(type){
        let result = ''
        switch(type){
          case 'bzfl':
            result = 'ggjc'
            break
          case 'ggjc':
            result = 'ggfs'
            break
        }
        return result
      },
      issueDataSampleDel(){
        let data = {
          sampleId: this.activeRow.fsampleid,
          mediaId: this.query.fmedia_id,
          issueDate: this.query.fissue_date,
          taskType: this.query.taskType,
        }
        this.$confirm('确认删除该样本？', '确认', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
        }).then(() => {
          issueDataSampleDel(data).then(res => {
            this.$notify.success(res.msg)
            this.$emit('reload')
          })
        }).catch(() => {})
      },
      reset(){
        this.sampleForm = JSON.parse(this.sourceSampleForm)
        this.$emit('reload')
      },
    },
  }
</script>

<style lang="scss" scoped>
  .form-box{
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .el-form{
      .el-form-item--mini{
        margin-bottom: 8px!important;
      }
      &.el-form--label-top {
        & /deep/ .el-form-item__label{
          padding: 0!important;
        }
      }
    }
    .tool{
      padding-bottom: 8px;
      box-sizing: border-box;
    }
    .form-body{
      flex-grow: 1;
      display: flex;
      // height: calc(100% - 36px);
      overflow: hidden;
      .form-wrap{
        width: 400px;
        flex-shrink: 0;
        .el-form{
          .el-form-item--mini{
            height: 28px!important;
          }
          &.el-form--label-top {
            & /deep/ .el-form-item__label{
              padding: 0!important;
            }
          }
        }
      }
    }
  }
</style>