<template>
  <div>
    <el-dialog
      title="同名参照"
      :visible.sync="dialogVisible"
      :close-on-click-modal='false'
      width="1200px"
      top="8vh"
      center
      :before-close="handleClose">
      <div v-loading="loading">
        <el-form :model="form" ref="form" label-width="60px" inline>
          <el-form-item label="媒体：">
            <el-select v-model="form.mediaId" filterable clearable placeholder="请选择媒体" style="width:100%">
              <el-option v-for="item in mediaList"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="广告名称：" label-width="90px">
            <el-autocomplete
              style="width:200px"
              v-model="form.adName"
              :fetch-suggestions="searchadname"
              placeholder="请输入广告名称"></el-autocomplete>
          </el-form-item>
          <el-form-item label="条数：">
            <el-input v-model="form.pageSize" type='number' min="1" style="width:80px"></el-input>
          </el-form-item>
          <el-form-item label="时间：">
            <el-date-picker v-model="time"
              clearable
              style="width: 240px;"
              :picker-options="pickerOptions"
              type="daterange"
              value-format="yyyy-MM-dd"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label-width="0">
            <el-checkbox v-model="ill">只显示违法广告</el-checkbox>
          </el-form-item>
          <div style="text-align: right;margin: 0px 12px 12px 0">
            <el-button type="primary" @click="search" style="text-align: right">查 询</el-button>
          </div>
        </el-form>
        <el-table :data="tableData" border stripe height="450">
          <el-table-column prop="date" type="index" width="40"></el-table-column>
          <el-table-column label="广告名称">
            <template slot-scope="scope">
              <div>
                <span>
                  {{ scope.row.fadname }}
                  <span style="color: red;">{{ scope.row.fid == sampleParam.fsampleid ? '（当前样本)' : '' }}</span>
                </span>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="adclassname" label="广告类别" width="180"></el-table-column>
          <el-table-column prop="fexpressioncodes" label="违法代码" width="80">
            <template slot-scope="scope">
              <div>
                <el-tooltip effect="dark" :content="scope.row.fexpressions">
                  <span style="color: red;cursor: pointer;">{{ scope.row.fexpressioncodes }}</span>
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="fillegalcontent" label="违法内容"></el-table-column>
          <el-table-column prop="fissuedate" label="发布日期" width="140"></el-table-column>
          <el-table-column label="操作" width="150">
            <template slot-scope="scope">
              <el-button type="text" @click="detail(scope.row)">详情</el-button>
              <el-button type="text" @click="useSample(scope.row,false)"
              style="font-weight: 800">应用违法判定</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleClose">关 闭</el-button>
      </span>
    </el-dialog>
    <el-drawer
      :title="adData.fadname"
      size="1000px"
      :visible.sync="detailDrawer"
      direction="ltr"
      :before-close="drawerClose">
      <div id="detail-info">
        <div class="info-left">
          <div style="height: 100%" v-if="adData.mediaClass === '01' || adData.mediaClass === '02'">
            <div class="video-box" style="height: 100%" v-if="videoShow">
              <aliplayer height="100%" width="100%"
                :btnShow="false"
                :url="adData.favifilename || ''" v-if="adData.favifilename"
                autoplay />
              <div class="source-error" v-else style="line-height: 390px; width: 100%; text-align: center; font-size: 34px; font-weight: bold; letter-spacing: 0.1em;background-color: rgba(0, 0, 0, 0.8); color: #eee;">资源地址出错</div>
            </div>
          </div>
          <div class="imgBlock" v-if="adData.mediaClass === '03'" style="width: 500px;height: 80vh;">
            <vueCropper ref="cropper" :img="adData.fjpgfilename" :outputSize="Number(1)"></vueCropper>
          </div>
        </div>
        <div class="info-right">
          <div class="btn-box">
            <el-button :type="adData.fid == sampleParam.fsampleid ? 'danger' : 'primary'"
              @click.stop="useSample(adData,true)" :disabled="adData.fid ==  sampleParam.fsampleid">{{ adData.fid ==  sampleParam.fsampleid ? '应用中' : '应用违法判定'}}</el-button>
          </div>
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息" name="1">
              <el-form label-width="90px">
                <el-form-item label="广告名称：">
                  {{ adData.fadname || '暂无信息' }}
                </el-form-item>
                <el-form-item label="广告品牌：">
                  {{ adData.fbrand || '暂无信息' }}
                </el-form-item>
                <el-form-item label="广告主：">
                  {{ adData.adownername || '暂无信息' }}
                </el-form-item>
                <el-form-item label="代言人：">
                  {{ adData.fspokesman || '暂无信息' }}
                </el-form-item>
                <el-form-item label="广告类别：">
                  {{ adData.adclassname || '暂无信息' }}
                </el-form-item>
                <el-form-item label="播出媒体：">
                  {{ adData.fmedianame || '暂无信息' }}
                </el-form-item>
                <el-form-item label="版面/规格：" v-if="adData.mediaClass === '03'">
                  {{ adData.fpage || '暂无' }}/{{ adData.fsize || '暂无' }}
                </el-form-item>
                <el-form-item label="页码：" v-if="adData.mediaClass === '04'">
                  {{ adData.fpage || '暂无' }}/{{ adData.fsize || '暂无' }}
                </el-form-item>
                <el-form-item label="版本说明：">
                  {{ adData.fversion || '暂无信息' }}
                </el-form-item>
                <el-form-item label="样本长度：">
                  {{ adData.fadlen || '暂无信息' }}
                </el-form-item>
                <el-form-item label="审批号：">
                  {{ adData.fapprovalid || '暂无信息' }}
                </el-form-item>
                <el-form-item label="审批单位：">
                  {{ adData.fapprovalunit || '暂无信息' }}
                </el-form-item>
                <el-form-item label="发布日期：">
                  {{ adData.fissuedate || '暂无信息' }}
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="违法信息" name="2" v-if="adData.fillegaltypecode > '0'">
              <el-form label-width="110px" style="padding-right: 16px">
                <el-form-item label="认定依据：">
                  <span>{{ adData.fconfirmations || '暂无信息' }}</span>
                </el-form-item>
                <el-form-item label="违法表现代码：">
                  <span>{{ adData.fexpressioncodes || '暂无信息' }}</span>
                </el-form-item>
                <el-form-item label="违法表现：">
                  <span>{{ adData.fexpressions || '暂无信息' }}</span>
                </el-form-item>
                <el-form-item label="违法内容：">
                  <span>{{ adData.fillegalcontent || '暂无信息' }}</span>
                </el-form-item>
              </el-form>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </el-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { VueCropper }  from 'vue-cropper'
import aliplayer from '@/components/oldComponents/aliplayer'
import { searchAdByName, getMediaList } from "@/api/Function.js"
import { sampleLookList, sampleDetail } from "@/api/SampleManage.js"
  export default {
    name: 'sampleReference',
    components: { VueCropper, aliplayer },
    data() {
      return{
        drawer: false,
        loading: false,
        dialogVisible: true,
        detailDrawer: false,
        form: {
          adName: '',
          mediaId: '',
          fsampleid: '',
        },
        time: [],
        ill: false,
        adData: {},
        videoShow: false,
        tableData: [],
        activeName: '1',
        mediaList: [],
      }
    },
    computed: {
      ...mapGetters(['pickerOptions', 'sampleParam', 'useSampleData']),
      query(){
        return this.$route.query
      },
    },
    created() {
      this.form.adName = this.sampleParam.sampleAdName
      this.form.fsampleid = this.sampleParam.fsampleid
      this.form.mediaId = this.query.fmedia_id
      const start = this.$dayjs().subtract(3, 'month').format('YYYY-MM-DD')
      const end = this.$dayjs().format('YYYY-MM-DD')
      this.time = [start, end]
      if(this.sampleParam.sampleAdName) this.search()
      this.getMediaList()
    },
    methods: {
      getMediaList() {
        const data = {
          mediaClass: this.query.fmediaclassid
        }
        getMediaList(data).then(res => {
          this.mediaList = res.data
        })
      },
      search() {
        this.loading = true
        let data = {
          ...this.form,
          isOnlyIll: this.ill ? 1 : 0,
          mediaClass: this.query.fmediaclassid,
          issueTimeStart: this.time ? this.time[0] : '',
          issueTimeEnd: this.time ? this.time[1] : ''
        }
        sampleLookList(data).then(res => {
          this.loading = false
          this.tableData = res.data
        })
        .catch(err => {
          this.loading = false
        })
      },
      useSample(row, bool) {
        const data = {
          fid: row.fid,
          mediaClass: this.query.fmediaclassid
        }
        if(!bool) this.detail(data, false)
        this.$confirm('确认要应用吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$emit('useSample')
          // if(bool) this.drawerClose()
          this.$emit('close')
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消使用'
          })
        })
      },
      detail(row, val = true) {
        const data = {
          fid: row.fid,
          mediaClass: this.query.fmediaclassid
        }
        sampleDetail(data).then(res => {
          this.adData = res.data
          this.$store.commit('setUseSampleData', res.data)
        })
        if(val) this.detailDrawer = true
        this.videoShow = true
      },
      drawerClose() {
       this.videoShow = false
        this.detailDrawer = false
      },
       // 广告名称模糊搜索
      searchadname(queryString, cb) {
        let data = {
          adName: queryString
        }
        searchAdByName(data).then(res => {
          this.queryAdNameList = (res.data || [])
          cb((res.data || []).map(i => ({value: i.fadname})))
        })
      },
      handleClose() {
        this.$emit('close')
      },
    }
  }
</script>

<style lang="scss" scoped>
  #detail-info{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    &/deep/.el-form-item {
      margin-bottom: 8px;
    }
    .info-left{
      width: 550px;
      height: 320px;
      flex-shrink: 0;
      margin-top: 40px;
    }
    .info-right{
      flex: 1;
      padding-left: 18px;
      position: relative;
      .btn-box{
        z-index: 10;
        position: absolute;
        right: 30px;
      }
    }

  }
</style>