<template>
  <div>
    <el-drawer
      title="查看样本"
      size="1000px"
      :visible.sync="detailDrawer"
      direction="ltr"
      :before-close="drawerClose">
      <div id="detail-info">
        <div class="info-left">
          <div v-if="videoShow" style="height: 100%">
            <div class="video-box" style="height: 100%">
              <aliplayer height="100%" width="100%"
                :btnShow="false"
                :url="adData.favifilename || ''" v-if="adData.favifilename"
                autoplay />
              <div class="source-error" v-else style="line-height: 390px; width: 100%; text-align: center; font-size: 34px; font-weight: bold; letter-spacing: 0.1em;background-color: rgba(0, 0, 0, 0.8); color: #eee;">资源地址出错</div>
            </div>
          </div>
        </div>
        <div class="info-right">
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息" name="1">
              <el-form label-width="90px">
                <el-form-item label="广告名称：">
                  {{ adData.fadname || '暂无信息' }}
                </el-form-item>
                <el-form-item label="广告品牌：">
                  {{ adData.fbrand || '暂无信息' }}
                </el-form-item>
                <el-form-item label="广告主：">
                  {{ adData.adownername || '暂无信息' }}
                </el-form-item>
                <el-form-item label="代言人：">
                  {{ adData.fspokesman || '暂无信息' }}
                </el-form-item>
                <el-form-item label="广告类别：">
                  {{ adData.adclassname || '暂无信息' }}
                </el-form-item>
                <el-form-item label="播出媒体：">
                  {{ adData.fmedianame || '暂无信息' }}
                </el-form-item>
                <el-form-item label="版本说明：">
                  {{ adData.fversion || '暂无信息' }}
                </el-form-item>
                <el-form-item label="样本长度：">
                  {{ adData.fadlen || '暂无信息' }}
                </el-form-item>
                <el-form-item label="审批号：">
                  {{ adData.fapprovalid || '暂无信息' }}
                </el-form-item>
                <el-form-item label="审批单位：">
                  {{ adData.fapprovalunit || '暂无信息' }}
                </el-form-item>
                <el-form-item label="发布日期：">
                  {{ adData.fissuedate || '暂无信息' }}
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="违法信息" name="2" v-if="adData.fillegaltypecode > '0'">
              <el-form label-width="110px" style="padding-right: 16px">
                <el-form-item label="认定依据：">
                  <span>{{ adData.fconfirmations || '暂无信息' }}</span>
                </el-form-item>
                <el-form-item label="违法表现代码：">
                  <span>{{ adData.fexpressioncodes || '暂无信息' }}</span>
                </el-form-item>
                <el-form-item label="违法表现：">
                  <span>{{ adData.fexpressions || '暂无信息' }}</span>
                </el-form-item>
                <el-form-item label="违法内容：">
                  <span>{{ adData.fillegalcontent || '暂无信息' }}</span>
                </el-form-item>
              </el-form>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </el-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import aliplayer from '@/components/aliplayer'
import { sampleDetail } from "@/api/SampleManage.js"
  export default {
    name: 'sampleReference',
    components: { aliplayer },
    props: {
      SampleData: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return{
        drawer: false,
        loading: false,
        detailDrawer: true,
        form: {
          adName: '',
          fsampleid: '',
        },
        time: [],
        ill: false,
        adData: {},
        videoShow: false,
        tableData: [],
        activeName: '1',
      }
    },
    computed: {
      ...mapGetters(['pickerOptions', 'sampleParam', 'useSampleData']),
      query(){
        return this.$route.query
      },
    },
    created() {
      this.detail()
    },
    methods: {
      detail() {
        sampleDetail(this.SampleData).then(res => {
          this.adData = res.data || {}
        })
        this.detailDrawer = true
        this.videoShow = true
      },
      drawerClose() {
       this.videoShow = false
        this.detailDrawer = false
        this.$emit('closes')
      },
    }
  }
</script>

<style lang="scss" scoped>
  #detail-info{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    &/deep/.el-form-item {
      margin-bottom: 8px;
    }
    .info-left{
      width: 550px;
      height: 320px;
      flex-shrink: 0;
      margin-top: 40px;
    }
    .info-right{
      flex: 1;
      padding-left: 18px;
      position: relative;
      .btn-box{
        z-index: 10;
        position: absolute;
        right: 30px;
      }
    }

  }
</style>