<template>
  <div class="bottom-box" >
    <div class="formBox">
      <div>
        <el-form :model="searchForm" ref="searchForm" inline
          @keyup.native.enter="issueDataList()">
          <el-form-item>
            <el-select v-model="searchForm.adType" placeholder="全部" @change="adTypeChange" style="width: 90px">
              <el-option label="全部" value="-1"></el-option>
              <el-option v-for="(vakue,key) in adType"
                :key="key"
                :label="vakue.label"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="searchForm.adType === '1'">
            <el-select v-model="searchForm.dataType" placeholder="全部发布广告" @change="issueDataList()">
              <el-option v-for="(vakue,key) in dataType"
                :key="key"
                :label="vakue.label"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <during-time
              ref="duringtime"
              :date="query.fissue_date"
              :disabled="disabled"
              @change="change"
              @preduring="val => change(val)"
              @nextduring="val => change(val)"
              @back="val => $emit('back',val)"
              @up="val => $emit('up', val)"/>
          </el-form-item>
        </el-form>
      </div>
      <div>
        <el-button type="primary" icon="el-icon-arrow-left" plain @click="$router.push({name: query.from, params: {page: query.page,searchForm: query.searchForm }})">返 回</el-button>
        <el-button type="success" @click="$emit('submit')" style="margin-right: 10px;" v-if="query.taskType != 'gghd'">提 交</el-button>
      </div>
    </div>
    <el-table :data="tableData" border
      :height="tableHeight"
      @row-click="rowClick"
      :row-style="rowClass"
      ref="singleTable"
      @sort-change="sortChange"
      @selection-change="handleSelectionChange"
      v-loading="loading">
      <el-table-column fixed type="selection" width="40" :selectable="selectable"></el-table-column>
      <el-table-column type="index" fixed width="45"></el-table-column>
      <el-table-column label="违" fixed prop="fillegaltype" align="center" width="57" sortable="custom">
        <template slot-scope="scope">
          <span v-if="scope.row.fillegaltypecode == '30'" style="color: red;"><i class="iconfont icon-tan-hao"></i></span>
          <span v-if="scope.row.fillegaltypecode == '-30'" style="color: #E6A23C;font-size: 18px"><i class="el-icon-question"></i></span>
        </template>
      </el-table-column>
      <el-table-column label="广告/节目名称" prop="fadname" fixed width="180" show-overflow-tooltip sortable="custom">
       <template slot-scope="scope">
         <div>
          <i class="el-icon-edit" style="color: #f56c6c;font-weight: 700;" v-if="scope.row.fself === '1'"></i>
          <!-- <template v-if="scope.row.adType === '1'">&nbsp;&nbsp;&nbsp;&nbsp;</template> -->
          <el-tag type="primary" v-if="scope.row.temp">暂</el-tag> {{ scope.row.fadname }}
          <span
            @click.stop="sampleDetail(scope.row)" title='查看样本'
            v-if="scope.row.adType === '1'"><i class="el-icon-video-camera-solid" style="color: #4fc08d;font-weight: 700;" ></i></span>
         </div>
       </template>
      </el-table-column>
      <el-table-column label="广告/节目类别" prop="fadclassname" fixed width="140" show-overflow-tooltip sortable="custom"></el-table-column>
      <el-table-column label="开始时间" prop="starttime" width="100" sortable="custom">
        <template slot-scope="scope">
          <span @click.stop="cellClick(scope.row,'start')" style="cursor: pointer;">{{scope.row.starttime}}</span>
        </template>
      </el-table-column>
      <el-table-column label="结束时间" prop="endtime" width="100">
        <template slot-scope="scope">
          <span @click.stop="cellClick(scope.row, 'end')" style="cursor: pointer;">{{scope.row.endtime}}</span>
        </template>
      </el-table-column>
      <el-table-column label="时长/秒" prop="flength" width="86" sortable="custom"></el-table-column>
      <el-table-column label="品牌" prop="fbrand" show-overflow-tooltip></el-table-column>
      <el-table-column label="类型" width="60" prop="_adType"></el-table-column>
      <el-table-column label="广告主" prop="fadownername" show-overflow-tooltip></el-table-column>
      <el-table-column label="涉嫌违法内容" prop="fillegalcontent" show-overflow-tooltip width="100"></el-table-column>
      <el-table-column label="违法表现代码" prop="fexpressioncodes" width="100">
        <template slot-scope="scope">
          <el-popover
            placement="left"
            width="200"
            trigger="hover"
            :content="scope.row.fexpressions">
            <span slot="reference">{{scope.row.fexpressioncodes}}</span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="操作"  width="60" fixed="right" v-if="query.taskType != 'gghd'">
        <template slot-scope="scope">
          <el-button type="text" size="mini" @click.stop="deleted(scope.row)" :disabled="scope.row.adType === 0" :style="{color: scope.row.adType === 0 ? '#ccc' : '#f56c6c'}">删 除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="boxBottom">
      <div v-if="query.taskType != 'gghd'">
        <el-button type="primary" @click="editTime()">偏移调整</el-button>
        <el-button type="danger" @click="deleted()">批量删除</el-button>
      </div>
      <div class="textBox">
        <div v-if="searchForm.dataType === '1'" class="totalInfo"> 广告 <strong class="green"> {{ guanggaocount }} </strong>条， 栏目<strong class="green"> {{ jiemucount }} </strong> 条</div>
        <el-pagination
          background
          class="pull-right"
          :pager-count="5"
          @size-change="handleSizeChange"
          @current-change="issueDataList"
          :current-page.sync="page.pageIndex"
          :page-size="page.pageSize"
          :page-sizes="[18, 50, 100, 200, 400]"
          layout="prev, slot, next,  sizes"
          :total="total">
         <span>
            <el-select v-model="page.pageIndex" @change="selectPage">
              <el-option v-for="(item,index) in pageArr"
                :key="index"
                :label="`第 ${index + 1} 页`"
                :value="index + 1">
              </el-option>
            </el-select>
         </span>
        </el-pagination>
      </div>
    </div>
    <!-- 时间偏移 -->
    <el-dialog
      title="偏移调整"
      :visible.sync="dialogVisible"
      width="30%"
      top="20vh"
      :before-close="editTimeClose">
      <div>
        <el-form :model="tform" ref="tform" label-width="60px">
          <el-form-item label="方式：">
            <el-radio-group v-model="tform.eType">
              <el-radio-button label="0">前进</el-radio-button>
              <el-radio-button label="1">后退</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="时长：" style="padding: 16px 0;">
            <el-input v-model="tform.second" type="number" :min="1" placeholder="秒数" clearable style="width:146px">
               <template slot="append">秒(s)</template>
            </el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editTimeClose">取 消</el-button>
        <el-button type="primary" @click="submitTimeEdit">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 样本查看 -->
    <sampleDetail v-if="sampleShow" @closes='closes' :SampleData='sampleData'></sampleDetail>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { issueDataList, mediaIssueTimeEdit, issueDataDel } from "@/api/MediaIssue.js"
import { oldTimeDate as timeDate } from '@/store/timeDate'
import duringTime from '@/components/oldComponents/duringTime'
import sampleDetail from './sampleDetail'
  export default {
    components: { duringTime, sampleDetail },
    data() {
      return {
        sampleShow: false,
        searchForm: {
          dataType: '1',
          adType: '-1',
          orderType: '',
        },
        activeNames: 0,
        activeNames2: 0,
        tableData: [],
        page: {
          pageSize: 18,
          pageIndex: 1
        },
        total: 0,
        tableHeight: '300px',
        loading: false,
        indexColor: -1,
        chechColor: '',
        guanggaocount: '',
        jiemucount: '',
        order: {
          'starttime': {
            'ascending': '0',
            'descending': '1',
          },
          'fadname': {
            'ascending': '10',
            'descending': '11',
          },
          'fadclassname': {
            'ascending': '20',
            'descending': '21',
          },
          'flength': {
            'ascending': '30',
            'descending': '31',
          },
          'fillegaltype': {
            'ascending': '40',
            'descending': '41',
          },
        },
        predata: {},
        selectArr:[],
        dialogVisible: false,
        tform: {
          eType: 0,
          second: 30,
        },
        sampleData: {},
      }
    },
    computed: {
      ...mapGetters(['illType', 'dataType', 'adType']),
      query(){
        return this.$route.query
      },
      duringStart(){
        return timeDate[this.activeNames2].starttime
      },
      duringEnd(){
        return timeDate[this.activeNames2].endtime
      },
      disabled(){
        return this.searchForm.dataType !== '1'
      },
      pageArr(){
        const eachPage = Math.ceil(this.total / this.page.pageSize)
        const eachPageArr = []
        eachPageArr.length  = eachPage
        return eachPageArr
      }
    },
    watch: {
      activeNames2(){
        this.issueDataList()
      },
      'searchForm.dataType': {
        handler(val){
          if(val !== '1'){
            this.$refs.duringtime.playAllDay()
          }
        },
        deep: true
      },
    },
    created() {
      try {
        const taskType = this.$route.query.taskType
        if(taskType === 'ggfs' || taskType === 'ggzs'){
          this.searchForm.adType = '1'
          this.searchForm.dataType = '3'
        }
      } catch (error) {
        console.log(error)
      }
      this.issueDataList()
    },
    mounted() {
      this.$nextTick(() => {
        this.tableHeight = this.getTH(this, 140)
      })
      window.onresize = () => {
        this.tableHeight = this.getTH(this, 140)
      }
    },
    methods: {
      setTemp(){
        const data = JSON.parse(localStorage.getItem('illTemp')) || {}
        const ids = Object.keys(data)
        this.tableData = this.tableData.map(i => {
          if(ids.includes(i.issueid)){
            i.temp = true
          }else{
            i.temp = false
          }
          return i
        })
      },
      listInit(current = false){
        this.issueDataList(current ? this.page.pageIndex : 1)
      },
      sampleDetail(row) {
        this.sampleData = {
          fid: row.fsampleid,
          mediaClass: this.query.fmediaclassid
        }
        this.sampleShow = true
      },
      pointTime(val) {
        const time = new Date(val).getTime() / 1000
        this.tableData.map( (i,index) => {
          const s = new Date(i.fstarttime).getTime() / 1000
          const e = new Date(i.fendtime).getTime() / 1000
          if( time >= s && time < e ){
            this.indexColor = index
          }
        })
      },
      adTypeChange(type){
        if(type !== '1') this.searchForm.dataType = '1'
        this.issueDataList()
      },
      cellClick(row,time_type){
        this.$emit('seClick', {...row, time_type})
      },
      nextduring(){
        this.$refs.duringtime.nextduring()
      },
      change(val) {
        this.$emit('change', val)
        this.activeNames = val
        this.activeNames2 = val
        this.tableData = []
      },
      reload(){
        this.issueDataList(this.page.pageIndex, false)
      },
      rowClick(row){
        this.pointTime(row.fstarttime)
        this.$emit('row-click', row)
      },
      handleSelectionChange(val) {
        this.selectArr = val
      },
      selectable(row) {
        if(row.adType === 0) {
          return false
        } else {
          return true
        }
      },
      closes() {
        this.sampleShow = false
      },
      deleted(row) {
        const data = {
          mediaId: this.query.fmedia_id,
          issueDate: this.query.fissue_date,
          taskType: this.query.taskType,
        }
        if(row) {
          data.delData = [{'adType': row.adType, 'issueId': row.issueid,}]
          this._deleted(data)
        } else {
          if(this.selectArr.length === 0){
            return this.$message.error('请至少勾选一项！')
          } else {
            data.delData = []
            this.selectArr.forEach((item) => {
              let obj = {}
              obj.adType =  item.adType,
              obj.issueId =  item.issueid
              data.delData.push(obj)
            })
          }
          this._deleted(data)
        }
      },
      _deleted(data) {
        this.$confirm('确定删除该记录吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          issueDataDel(data).then(res => {
            this.$notify.success(res.msg)
            this.issueDataList(this.page.pageIndex, false)
          }).catch(() => {})
        }).catch(() => {})
      },
      editTime() {
        if(this.selectArr.length === 0){
          return this.$message.error('请至少勾选一项！')
        } else {
          this.dialogVisible = true
        }
      },
      submitTimeEdit() {
        this.$confirm('确认修改所勾选的时间偏移调整吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const data = {
            ...this.tform,
             mediaId: this.query.fmedia_id,
            issueDate: this.query.fissue_date,
          }
          data.issueData = []
          this.selectArr.forEach((item) => {
            let obj = {}
            obj.adType =  item.adType,
            obj.issueId =  item.issueid
            data.issueData.push(obj)
          })
          mediaIssueTimeEdit(data).then(res => {
            this.editTimeClose()
            this.$message({
              type: 'success',
              message: res.msg
            })
            this.issueDataList(this.page.pageIndex)
          }).catch(err => {
            this.$message.error(err.msg)
            this.editTimeClose()
          })
        }).catch(() => {
        })
      },
      editTimeClose() {
        this.tform = {
          eType: 0,
          second: 30,
        }
        this.dialogVisible = false
      },
      initData(page) {
        this.page.pageIndex = page
        let data = {
          mediaId: this.query.fmedia_id,
          issueDate: [`${this.query.fissue_date} ${this.duringStart}`, `${this.query.fissue_date} ${this.duringEnd}` ],
          taskType: this.query.taskType,
          ...this.searchForm,
          ...this.page,
        }
        this.predata = data
        return data
      },
      issueDataList(page = 1, clear = true){
        this.loading = true
        this.initData(page)
        issueDataList(this.predata).then(res => {
          // this.indexColor = -1
          if(clear) this.tableData = []
          this.$nextTick(() => {
            this.guanggaocount = res.guanggaocount
            this.jiemucount = res.jiemucount
            const tempData = JSON.parse(localStorage.getItem('illTemp')) || {}
            this.tableData = (res.data || []).map(i => {
              if(tempData[i.issueid]) i.temp = true
              if (i.fstarttime && i.fendtime) {
                let start = new Date(i.fstarttime).getTime()
                let end = new Date(i.fendtime).getTime()
                i.flength =  (end - start) / 1000
              } else {
                i.flength = '0'
              }
              if(i.fstarttime) i.starttime = i.fstarttime.substr(11)
              if(i.fendtime) i.endtime = i.fendtime.substr(11)
              if(i.fstarttime_long) i.starttime_long = i.fstarttime_long.substr(11)
              if(i.fendtime_long) i.endtime_long = i.fendtime_long.substr(11)
              i.fillegaltype = i.adType === '2' ? '' : (i.fillegaltypecode === undefined ? '' : this.illType[i.fillegaltypecode].label)
              i._adType = i.adType === 0 ? '空时段' : this.adType[i.adType].label
              return i
            })
            this.total = +res.count
            this.loading = false
          })
        }).catch(() => {
          this.$router.push({name: this.query.from})
        })
      },
      setCurrent(row) {
        this.$refs.singleTable.setCurrentRow(row)
      },
      rowClass (row) {
        if (this.indexColor == row.rowIndex){
          return { "background-color":  "yellow!important", "cursor":  "pointer" }
        } else {
          return { "cursor":  "pointer" }
        }
      },
       handleSizeChange(val) {
        this.page.pageSize = val
        this.issueDataList(this.page.pageIndex)
      },
      selectPage(val) {
        this.page.pageIndex = val
        this.issueDataList(this.page.pageIndex)
      },
      sortChange(val) {
        let prop = val.prop
        let order = val.order
        this.searchForm.orderType = this.order[prop][order] || ''
        this.issueDataList(this.page.pageIndex)
      }
    },
  }
</script>

<style lang="scss" scoped>
.bottom-box{
  .el-form{
    .el-form-item--mini{
      margin-bottom: 8px !important;
    }
  }
  & /deep/.el-table .success-row {
    background: #f0f9eb;
  }
  &/deep/.el-pagination__jump {
    margin-left: 0px;
  }
  &/deep/.el-pagination .btn-prev {
    padding-right: 0px;
  }
  &/deep/.el-pagination .btn-next {
    padding-right: 0px;
  }
}
.formBox{
  display: flex;
  justify-content: space-between;
}
.boxBottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
  .textBox{
    display: flex;
    &/deep/.el-pagination .el-select .el-input {
      width: 84px;
      margin: 0 5px;
    }
    &/deep/.el-pagination.is-background .btn-prev:disabled {
       background-color: #a0cfff!important;
    }
    &/deep/.el-pagination.is-background .btn-next:disabled {
       background-color: #a0cfff!important;
    }
    &/deep/ .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li {
      margin: 0 5px;
      background-color: #409eff!important;
      color: #fff;
      min-width: 30px;
      border-radius: 2px;
    }
     &/deep/ .el-pagination.is-background .btn-prev {
      margin: 0 5px;
      background-color: #409eff;
      color: #fff;
      min-width: 30px;
      border-radius: 2px;
    }
    .totalInfo{
      font-size: 13px;
      padding: 6px 0px 0px 10px;
      color: #606266;
    }
  }
}

.green{
  color: #1ab394;
}
</style>