<template>
  <div class="card-item">
    <div class="card-item-title">{{title}}</div>
    <div>
      <span class="card-item-value" :class="red ? 'text-red' : ''">{{value}}</span><span class="card-item-unit" v-if="unit">{{unit}}</span>
    </div>
  </div>
</template>

<script>
  export default {
    props:['title', 'value', 'unit', 'red']
  }
</script>

<style lang="scss" scoped>
.card-item{
  .card-item-title{
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
  }
  .card-item-value{
    color: #000;
    font-size: 28px;
    line-height: 50px;
  }
  .card-item-unit{
    color: #333;
    font-size: 14px;
    line-height: 40px;
    padding-left: 6px;
  }
}
</style>