<template>
  <div class="common-report">
    <el-table
      v-loading="loading"
      :height="$store.state.GTableHeight"
      border
      size="small"
      class="new-tabel"
      :data="tableData">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column
        label="报告名称"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.ftitle }}
        </template>
      </el-table-column>
      <el-table-column
        label="报告类型"
        show-overflow-tooltip>
        <template slot-scope="scope">
         {{ $store.state.pntype2[scope.row.ftype] }}
        </template>
      </el-table-column>
      <el-table-column width="130px"
        label="报告日期"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.fissue_date }}
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="操作">
        <template slot-scope="scope">
        <el-button
          type="text" @click="details(scope.row)">查 看</el-button>
         </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.pageIndex)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog
    :title="detailes.ftitle"
    :visible.sync="dialogVisible"
    width="900px"
    center
    top="6vh"
    :before-close="handleClose">
    <div class="reportCon"  v-loading='loading'>
      <div class="info">
        <span>报告类型：<el-tag type="primary" size="small" v-if="detailes.ftype">{{ $store.state.pntype2[detailes.ftype] }}</el-tag></span>
        <span>报告时间： <span>{{ detailes.fissue_date }}</span></span>
      </div>
      <div class="content" v-html="detailes.fcontent">
      </div>
      <div style="border-top: 1px solid #ededed;width: 100%;padding-top: 12px;" v-if="fileArr.length > 0">附件：
        <a :href="item" style="color: #67C23A;" v-for="(item,index) in fileArr" :key="index">
          <el-tag
            type="success" style="margin: 10px 10px 10px 0;">
            附件{{ index + 1 }}
          </el-tag>
        </a>
      </div>
    </div>
  </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
export default {
  data() {
    return {
      form: {
        pageIndex: 1,
        pageSize: 20,
      },
      detailes: {},
      fileArr:[],
      tableData: [],
      countAll: 0,
      loading: false,
      dialogVisible: false,
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.pageIndex = page || 1
      axios.post(this.$_ + '/Agp/Report/reportList', qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.countAll = res.data.count
          } else {
            this.tableData = []
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    details(row) {
      this.detailes = row
      if(row.ffiles){
        this.fileArr = row.ffiles.split('，')
      }
      this.dialogVisible = true
    },
    handleClose() {
      this.dialogVisible = false
    },
  },
  computed: {
    ...mapState([]),
  }
}
</script>
<style lang="scss" scoped>
.common-report{
  height: 100%;
  .reportCon{
    &/deep/.el-dialog--center .el-dialog__body {
      padding: 14px 20px!important;
    }
    .info{
      text-align: center;
    }
    div{
      color: #666;
      span:nth-child(1){
        margin-right: 20px;
      }
      span:nth-child(2){
        span{
          color: #409EFF;
        }
      }
    }
    .content{
      width: 100%;
      min-height: 400px;
      /deep/ p{
        text-indent: 2em;
        line-height: 24px!important;
      }
    }
  }
}
</style>