
<template>
  <div class="jchuizong">
    <!-- 搜索条件 -->
    <div>
      <el-row>
        <Tsearch ref="sForm" @search="getData()"></Tsearch>
      </el-row>
      <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
          <el-form-item>
            <el-select v-model="searchForm.regionlevel"
              style="width:120px"
              placeholder="选择地域"
              @change="changeRegion">
              <el-option v-for="(value,key) in zhejiang[$store.state.userInfo.fregulatorlevel]"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-cascader :options="areaArr"
              v-if="showRegion"
              clearable
              style="width:200px"
              placeholder="选择地区"
              :props="areaOptions"
              collapse-tags
              @change="regionChange"
              v-model="searchForm.regionid">
            </el-cascader>
          </el-form-item>
          <el-form-item>
            <el-checkbox v-model="iscontain" @change="getMediaList()">是否包含下级</el-checkbox>
          </el-form-item>
          <el-form-item>
            <el-select style="width:184px"
              v-model="searchForm.fisxinyong"
              clearable
              multiple
              collapse-tags
              @change="getMediaList()"
              placeholder="选择信用评价媒体">
              <el-option v-for="(val,key) in creditMedia"
                :key="key"
                :label="val.label"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select style="width:200px"
              v-model="searchForm.mediaid"
              clearable
              multiple
              collapse-tags
              placeholder="请选择发布媒介"
              width="99%">
              <el-option v-for="item in mediaArr"
                :key="item.fid"
                :label="item.fmedianame"
                :value="item.fid">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-cascader
              :options="adClassTree"
              change-on-select
              collapse-tags
              :show-all-levels="false"
              :props="adClassOptions"
              v-model="searchForm.fadclasscode"
              clearable>
            </el-cascader>
          </el-form-item>
          <el-form-item>
            <el-select v-model="searchForm.dimension"
              style="width:120px"
              placeholder="选择类别">
              <el-option v-for="(value,key) in onther_class"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-checkbox v-model="xzqh">行政区划排序</el-checkbox>
          </el-form-item>
          <el-button type="primary"
            icon="el-icon-search"
            @click="getData"
            class="left-margin pull-right">搜索</el-button>
          <el-dropdown @command="outputExcel"
            style="margin-right: 10px;"
            class="pull-right">
            <el-button type="primary">
              导出<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="1">Excel</el-dropdown-item>
              <!-- <el-dropdown-item command="2">Word</el-dropdown-item> -->
            </el-dropdown-menu>
          </el-dropdown>
        </el-form>
      </el-row>
      <el-row :gutter="24">
        <el-col>
          <el-tabs v-model="activeName" type="card">
            <el-tab-pane label="地域排名" name="1">
              <region-rankings v-if="activeName === '1'" ref="region"
                  v-loading="loading"
                 element-loading-background="#fff"
                :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle"/>
            </el-tab-pane>
            <el-tab-pane label="广告类别排名" name="2">
                <category-rankings v-if="activeName === '2'"
                v-loading="loading"
                element-loading-background="#fff"
                :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle" ref="category" />
            </el-tab-pane>
            <el-tab-pane label="媒体排名" name="3">
                <media-rankingss v-if="activeName === '3'"
                v-loading="loading"
                element-loading-background="#fff"
                :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle" ref="media" />
            </el-tab-pane>
            <el-tab-pane label="媒介机构排名" name="4">
              <mediaorg-rankings v-if="activeName === '4'"
              v-loading="loading"
               element-loading-background="#fff"
              :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle"/>
            </el-tab-pane>
            <el-tab-pane label="广告名排名" name="5">
              <adname-rankings v-if="activeName === '5'"
              v-loading="loading"
               element-loading-background="#fff"
              :xdata="xdata"  :ydata="ydata" :tableData="tableData" :title="charttitle"/>
            </el-tab-pane>
          </el-tabs>
        </el-col>
      </el-row>
    </div>
     <out-file v-if="showdownload"
      :durl="durl"
      @close="() => {showdownload = false;durl = ''}">
    </out-file>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Tree  from '@/utils/Tree.js'
import Tsearch from './common/Tsearch.vue'
import adnameRankings from './tab/adnameRankings.vue'
import regionRankings from './tab/regionRankings.vue'
import categoryRankings from './tab/categoryRankings.vue'
import mediaorgRankings from './tab/mediaorgRankings.vue'
import mediaRankingss from './tab/mediaRankingss.vue'
import outFile from '@/components/outFile'
import { getMediaList, getRegionList } from "@/api/Function.js"
import { summary } from "@/api/summary.js"
export default {
  components: {
    outFile,
    Tsearch,
    regionRankings,
    categoryRankings,
    mediaorgRankings,
    mediaRankingss,
    adnameRankings,
  },
  data() {
    return {
      areaArr: [],
      mediaArr: [],
      activeName: '1',
      searchForm: {
        regionlevel: "0",
        ad_class: [],
        dimension: '1',
        mediaid: [],
        regionid: [],
        fadclasscode: [],
        fisxinyong: ['1']
      },
      durl: '',
      iscontain: true,
      xzqh: true,
      showdownload: false,
      xdata: [],
      ydata: [],
      tableData: [],
      loading: false,
      areaOptions: {
        value: 'fid',
        label: 'fname',
        children: 'children',
        checkStrictly: true,
        multiple: true,
        lazy: false,
        emitPath: false,
      },
      adClassOptions:{
        value: 'fcode',
        label: 'fadclass',
        children: 'children',
        checkStrictly: true,
        multiple: true,
      },
      showRegion: true,
      searchdata:{
        years: new Date().getFullYear(),
        timetypes: '30',
        timeval: 1,
      },
      preRegionid: [],
      sourceForm: {},
    }
  },
  created() {
    this.getRegionList()
    this.getMediaList(true)
    this.getData()
    this.$store.dispatch('getAdClassTree')
  },
  mounted() {
   this.searchdata = this.$refs.sForm.searchData()
  },
  computed: {
    ...mapState([ 'timeSelectLink', 'zhejiang', 'routerMap', 'adClassTree', 'onther_class', 'timeSelectLink', 'creditMedia']),
    charttitle() {
      let str = ''
      switch (this.activeName) {
        case '1':
          str = '地域排名'
          break
        case '2':
          str = '广告类别排名'
          break
        case '3':
          str = '媒体排名'
          break
        case '4':
          str = '媒介机构排名'
        case '5':
          str = '广告名排名'
          break
      }
      if(this.searchdata.timetypes == 0) {
        let day = this.searchdata.timeval.split(',')
				return `${this.searchdata.years}年${day[0]}至${day[1]}广告发布情况（${str}）`
      } else {
        let time = this.timeSelectLink.timeval[this.searchdata.timetypes].filter(i =>{
					return i.value == this.searchdata.timeval
        })
        let a =`${this.searchdata.years}年${time[0].label}广告发布情况（${str}）`
        return  a

      }
    },
  },
  watch: {
    activeName() {
      this.getData()
    },
    '$route.path': {
      handler(){
        this.reset()
      },
      deep: true
    },
  },
  methods: {
    regionChange(val){
      const all = val.find(i => i.length > 6)
      if(all){
        this.searchForm.regionid = Array.from(new Set([...this.searchForm.regionid, ...all.split(',')])).filter(i => i.length === 6)
      }else{
        this.searchForm.regionid = val
      }
      this.getMediaList()
    },
    getRegionList() {
      getRegionList({regionlevel: this.searchForm.regionlevel, selalltype: 1}).then(res => {
        this.showRegion = false
        this.$nextTick(() => {
          this.showRegion = true
          if(this.searchForm.regionlevel == 5) {
            this.areaArr = res.data
          } else {
            let fpid = this.searchForm.regionlevel == '0' ? '100000' : res.data[0]['fpid']
            this.areaArr = new Tree(res.data, 'fpid', 'fid').init(fpid)
          }
        })
      })
    },
    initdata() {
      let data = { ...this.searchdata, ...this.searchForm }
      data.mclass =  this.routerMap[this.$route.name] ? [this.routerMap[this.$route.name]] : [],
      data.iscontain =  this.iscontain ? 1 : 0
      data.districtsOrder =  this.xzqh ? 1 : 0
      data.classify = this.activeName
      data.regionid = data.regionid.filter(i => i.length === 6)
      const classArr = data.fadclasscode.map(i => {
        i = i[i.length - 1]
        return i
      })
      data.fadclasscode = classArr
      this.preData = data
      return data
    },
    getData() {
      this.loading = true
      let data = this.initdata()
      summary(data).then(res => {
        const obj ={
          1: 'ztiaoshu',
          2: 'wftiaoshu',
          3: 'wfltiaoshu',
          11: 'ztiaoci',
          12: 'wftiaoci',
          13: 'wfltiaoshu',
          21: 'zshichang',
          22: 'wfshichang',
          23: 'wflshichang',
        }
        if (res.data instanceof Array && res.data.length >= 1) {
          let edata = res.data
          edata = edata.slice(0,20)
          this.ydata = edata.map(i => {
            const r = i[ obj[this.searchForm.dimension] ] || '0'
            return r.replace('%','')
          })
          this.xdata = edata.map(i => {
            return i.keyname
          })
          let data = res.data
          data.push(res.data_hj)
          this.tableData = data
          this.loading = false
        } else {
          this.xdata = []
          this.ydata = []
          this.tableData = []
        }
        this.loading = false
      })
      .catch(() => {
        this.loading = false
      })
    },
    outputExcel(type) {
      this.getData()
      let data = this.initdata()
      data.outtype = type
      this.showdownload = true
      summary(data).then(res => {
        this.durl = res.data
      })
    },
    changeRegion(){
      this.searchForm.regionid = []
      this.getRegionList()
    },
    getMediaList(val) {
      if(!val) {
        this.searchForm.mediaid = []
      }
      const data = {
        regionlevel: this.searchForm.regionlevel,
        regionid: this.searchForm.regionid,
        mclass:  this.routerMap[this.$route.name] ? [this.routerMap[this.$route.name]] : [],
        iscontain: this.iscontain ? 1 : 0,
        fisxinyong: this.searchForm.fisxinyong
      }
      getMediaList(data).then(res => {
        this.mediaArr = res.data || []
      })
    },
     reset(){
      this.getData()
      this.searchForm.mediaid = []
    }
  }
}
</script>
