<template>
  <el-container class="right-content">
    <el-main>
      <div class="top-header">
        <div class="menu pull-left" @click="showMenu = true">
          <span class="iconfont icon-caidan"></span>
        </div>
        <router-link class="title" tag="span" to="/home"><span class="iconfont icon-chilunzu"></span> 浙江省传统媒体广告监测系统（监测端）</router-link>
        <span class="page-name">{{$route.meta.title}}</span>
        <div class="pull-right">
          <span class="message-help">
            <i class="iconfont el-icon-refresh" @click="reload"></i>
            <!-- <i class="iconfont icon-tongzhi1"></i>
            <i class="iconfont icon-bangzhu1"></i> -->
          </span>
          <el-popover
            v-model="visible"
            placement="bottom"
            width="300"
            trigger="hover">
            <div class="info-card">
              <div class="pull-left">
                <el-avatar size="large" src="//publichz.oss-cn-hangzhou.aliyuncs.com/%E9%BB%98%E8%AE%A4%E8%B5%84%E6%BA%90/avatar.png" style="vertical-align: middle;"></el-avatar>
              </div>
              <div>
                <p class="user-info name">{{userInfo.fname}}</p>
                <p class="user-info mail">{{userInfo.fcode}}</p>
              </div>
              <el-divider class="user-info-divider"></el-divider>
              <div class="info-menu-item" @click="() => showePsw = true">
                <i class="iconfont icon-dunpai1"></i> 修改密码
              </div>
              <div class="info-menu-item out-login" @click="outLogin">
                退出系统
              </div>
            </div>
            <span slot="reference" class="user-menu">
              <el-avatar size="small" src="//publichz.oss-cn-hangzhou.aliyuncs.com/%E9%BB%98%E8%AE%A4%E8%B5%84%E6%BA%90/avatar.png" style="vertical-align: middle;"></el-avatar>
              <span class="user-name">{{userInfo.fname}}</span>
            </span>
          </el-popover>
        </div>
      </div>
      <div class="content-wrap" :style="{'margin-top': '60px'}">
        <el-card :body-style="{ 'padding': '10px', 'height': '100%', 'box-sizing': 'border-box', 'overflow-y': 'auto', 'overflow-x': 'hidden' }" shadow="never" v-autoheight>
          <transition name="fade-transform"
            mode="out-in">
            <keep-alive exclude="home,bulletinCon,tvbcCheck,paperCheck,addBulletin,tvbcSample,monitorRecheck,detailsReport">
              <router-view ref="currentPage"/>
            </keep-alive>
          </transition>
        </el-card>
      </div>
    </el-main>
    <el-drawer
      :visible.sync="showMenu"
      direction="ltr"
      size="260px">
      <div style="height: 100%;overflow: auto;">
        <menu-bar @select="showMenu = false"/>
      </div>
    </el-drawer>
    <editPwd v-if="showePsw" @close="close" @success="outLogin"></editPwd>
  </el-container>
</template>

<script>
import menuBar from './components/menuBar'
import editPwd from './components/editPwd'
import { mapGetters } from 'vuex'
import { outLogin } from '@/api/Login.js'
export default {
  components: { menuBar, editPwd },
  computed: {
    ...mapGetters(['userInfo'])
  },
  data() {
    return {
      visible: false,
      showMenu: false,
      showePsw: false,
    }
  },
  methods: {
    outLogin(){
      this.visible = false
      outLogin().then(() => {
        this.$router.push('/login')
        setTimeout(() => {
          window.location.reload()
        },500)
      })
    },
    reload() {
      window.location.reload()
    },
    close() {
      this.showePsw = false
    },
  }
}
</script>

<style scoped lang="scss">
.right-content{
  height: 100vh;
  .el-main{
    background-color: rgba(0,0,0,.03);
    padding: 0;
    .top-header{
      padding: 0 20px 0 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      box-shadow: 12px 0 10px rgba(0,0,0,.2);
      height: 60px;
      line-height: 60px;
      font-size: 14px;
      color: #666;
      .page-name{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #FF6A00;
      }
      .title{
        padding-left: 10px;
        font-weight: 900;
        font-style: normal;
        font-size: 20px;
        color: #FF6A00;
        letter-spacing: 0.1em;
        line-height: 60px;
        vertical-align: middle;
        cursor: pointer;
        .icon-chilunzu{
          font-size: 40px;
          vertical-align: middle;
        }
      }
      .message-help{
        display: inline-block;
        margin-right: 20px;
        .iconfont{
          display: inline-block;
          font-size: 20px;
          width: 50px;
          text-align: center;
          line-height: 60px;
          vertical-align: middle;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .menu{
        display: inline-block;
        height: 60px;
        width: 60px;
        overflow: hidden;
        background-color: #FF6A00;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
      }
      .user-menu{
        cursor: pointer;
      }
      .org-name,.user-name{
        display: inline-block;
        margin: 0 10px;
      }
    }
    .content-wrap{
      margin: 0 auto;
      margin-top: 60px;
      padding: 10px;
      max-width: 1920px;
    }
  }
}
</style>
<style lang="scss">
.info-card{
  .user-info{
    margin: 0 10px 0 50px;
  }
  .name{
    font-size: 18px;
    font-weight: bold;
  }
  .user-info-divider.el-divider{
    margin: 10px 0;
  }
  .info-menu-item{
    &:hover{
      cursor: pointer;
      background-color: rgba(0,0,0,.05);
    }
    line-height: 30px;
    font-size: 14px;
    & .iconfont{
      font-size: 18px;
      vertical-align: middle;
    }
    &.out-login{
      text-align: center;
      color: #FF6A00;
    }
  }
}
.el-drawer__body{
  overflow: auto;
  ::-webkit-scrollbar {
    width:4px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.28);
  }
  ::-webkit-scrollbar-track{
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.1);
  }
}
</style>