<template>
  <div class="adManage"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      inline
      label-width="90px">
      <el-row :gutter='10'>
        <el-form-item label="报告名称：">
          <el-input v-model="form.pnname"
            clearable
            placeholder="请输入报告名称">
          </el-input>
        </el-form-item>
        <el-form-item label="报表类型：">
          <el-select v-model="form.pntype" clearable placeholder="全部" style="width: 200px">
            <el-option v-for="(value,key) in reportType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="报告日期：">
          <el-date-picker v-model="pnendtime"
            clearable
            type="daterange"
            value-format="yyyy-MM-dd"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          :loading="loading"
          @click="_getList(1)"
          icon="el-icon-search">搜 索</el-button>
          <el-button type="success" class="pull-right" @click="creatReport">生成报表</el-button>
      </el-form-item>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      :height="tableHeight"
      border>
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column
        label="报告名称"
        prop="pnname"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="110px"
        label="报告日期">
        <template slot-scope="scope">
          <span v-if="scope.row.pncreatetime">
            {{ $dayjs(scope.row.pncreatetime).format('YYYY-MM-DD') }}
          </span>
        </template>
      </el-table-column>
      <el-table-column width="110px"
        label="开始时间">
        <template slot-scope="scope">
          <span v-if="scope.row.pnstarttime">
            {{ $dayjs(scope.row.pnstarttime).format('YYYY-MM-DD') }}
          </span>
        </template>
      </el-table-column>
      <el-table-column width="110px"
        label="结束时间">
          <template slot-scope="scope">
            <span v-if="scope.row.pnendtime">
              {{ $dayjs(scope.row.pnendtime).format('YYYY-MM-DD') }}
            </span>
          </template>
      </el-table-column>
      <el-table-column width="160px"
        label="操作">
        <template slot-scope="scope">
          <a :href="scope.row.pnurl"
            target="_blank">
            <el-button icon="el-icon-download"
              type="text">下载</el-button>
          </a>
          <el-button icon="el-icon-delete" type="text" style="color: #F56C6C;margin-left:0px;" @click="deleteReport(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      :total="Number(countAll)"
      :page-size="20"
      class="pull-right"
      layout="total, sizes, prev, pager, next"
      @size-change="handleSizeChange"
      :page-sizes="[10, 15, 20, 50]"
      :current-page="form.p"
      @current-change="_getList">
    </el-pagination>

    <el-dialog center
      width="600px"
      title="生成报表"
      :close-on-click-modal='false'
      :visible.sync="rDialogShow"
      :before-close="closeDialog">
      <div v-loading="rloading"
          element-loading-text="文件生成中..."
          element-loading-spinner="el-icon-loading">
        <div v-if="!Boolean(uploadUrl)">
          <el-form :model="rform" ref="rform" label-width="90px">
            <el-form-item label="日期：">
              <el-date-picker v-model="time"
                clearable
                style="width: 60%"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="广告类别：">
              <el-cascader
                style="width: 60%"
                v-model="rform.adClass"
                change-on-select
                :options="adClassTree"
                :props="{...adClassOptions,emitPath : false}"></el-cascader>
            </el-form-item>
            <el-form-item label="行政区划：">
              <el-cascader
                :clearable="true"
                :options="mediaRegion"
                :props="{...areaOptions,emitPath: false}"
                v-model="rform.area">
              </el-cascader>
              &nbsp;
              <el-checkbox v-model="rform.iscontain" true-label="1" false-label="0">包含下级</el-checkbox>
            </el-form-item>
            <el-form-item label="报表类型：">
              <el-select v-model="rform.dataType" clearable style="width: 60%">
                <el-option v-for="(value,key) in reportType"
                  :key="key"
                  :label="value.label"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <div class="submit-btn">
            <el-button @click="closeDialog()">取 消</el-button>
            <el-button type="primary" @click="submit">提交</el-button>
          </div>
        </div>
        <div class="upload-box" v-else>
          <a :href="uploadUrl" target="_blank">
            <el-button type="text" style="font-size: 14px" v-if='Boolean(uploadUrl)'>
              <i style="color: #67C23A;font-size: 18px" class="el-icon-success"></i>
              生成成功！请点击此处下载。
            </el-button>
          </a>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { reportList, bZShiChangReport, reportDel } from "@/api/ReportManage.js"
export default {
  data() {
    return {
      form: {
        p: 1,
        pp: 20,
        pnname: '',
        pntype: '',
      },
      pnendtime: [],
      countAll: '0',
      tableData: [{}],
      loading: false,
      rDialogShow: false,
      tableHeight: '300px',
      rform:{
        area: '',
        iscontain: '',
        adClass: '',
        dataType: '1',
      },
      time: [],
      uploadUrl: '',
      rloading: false,
    }
  },
  created() {
    this._getList()
  },
  mounted() {
   this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 200)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 200)
    }
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.p = page || 1
      let data = {
        ...this.form,
        pnendtime: this.pnendtime ? this.pnendtime : []
      }
      reportList(data).then(res => {
        this.tableData = res.data.list
        this.countAll = res.data.count || 0
        this.loading = false
      })
      .catch(() => {
        this.loading = false
      })
    },
    creatReport() {
      this.rDialogShow = true
    },
    submit() {
      const data = {
        ...this.rform,
        issueDate: this.time ? this.time : []
      }
      this.rloading = true
      bZShiChangReport(data).then(res => {
        this.rloading = false
        this.uploadUrl = res.data
        this._getList(this.form.p)
      })
      .catch(() => {
        this.rloading = false
        this.uploadUrl = ''
      })
    },
    deleteReport(obj) {
      this.$confirm(`确认删除 ${obj.pnname}？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        reportDel({pnid: obj.pnid})
          .then(res => {
            this.$notify.success(res.msg)
            this._getList(1)
          })
          .catch(() => {
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
    },
    closeDialog() {
      this.rform = {
        area: '',
        iscontain: '',
        adClass: '',
        dataType: '1',
      },
      this.time = [],
      this.rloading = false
      this.uploadUrl = ''
      this.rDialogShow = false
    },
    handleSizeChange(size){
      this.form.pp = size
      this._getList(this.form.p)
    },
  },
  computed: {
     ...mapGetters(['adClassTree' ,'adClassOptions', 'reportType', 'mediaRegion', 'areaOptions']),
  }
};
</script>
<style lang="scss" scoped>
  .submit-btn{
    padding-top: 12px;
    text-align: center;
  }
  .upload-box{
    height: 180px;
    line-height: 180px;
    text-align: center;
  }
</style>