<template>
  <div class="first-trial">
    <el-dialog title="线索承办"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails"
        v-if="adDetailDialog"
        :videoUrl="videoUrl"
        @close="_closeDetails">
      </clue-details>
      <ws-view v-if="showView"
        @close="_closeView"
        :data="formData"></ws-view>
      <el-dialog append-to-body
        title="线索流转"
        :visible.sync="sdialog"
        :show-close="false"
        center>
        <el-form label-width="90px">
          <el-form-item label="流转方式">
            <el-radio-group v-model="commonData.fchecktype">
              <el-radio-button :label="item.value"
                :disabled="item.value !== commonData.fchecktype"
                v-for="item in checktype"
                :key="item.value">{{item.label}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="处理建议">
            <el-input type="textarea"
              :rows="5"
              v-model="commonData.fcheckcontents"></el-input>
          </el-form-item>
          <el-form-item label="交办机构"
            v-if="commonData.fchecktype === '20' || commonData.fchecktype === '40'">
            <el-select v-model="fwaitregulatorid"
              style="width:100%"
              @change="_setName">
              <el-option v-for="(item,index) in lowerTregulator"
                :value="item.fid"
                :label="item.fname"
                :key="index">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="交办部门"
            v-if="commonData.fchecktype === '10' || commonData.fchecktype === '30'">
            <el-select placeholder="（必选）"
              v-model="fwaitregulatorid2"
              @change="_setName2"
              style="width:100%">
              <el-option v-for="item in orgList"
                :key="item.fid"
                :label="item.fname"
                :value="item.fid"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="交办人"
            v-if="commonData.fchecktype === '10' || commonData.fchecktype === '30'">
            <el-select placeholder="（必选）"
              :disabled="!fwaitregulatorid2"
              v-model="fwaitpersonid"
              style="width:100%">
              <el-option v-for="item in orgPeopleList"
                :key="item.fid"
                :label="item.fname"
                :value="item.fid"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer"
          class="dialog-footer">
          <el-button type="primary"
            @click="_submit">
            提 交
          </el-button>
          <el-button @click="_close2">
            关 闭
          </el-button>
        </div>
      </el-dialog>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form v-model="formData"
            label-width="90px">
            <el-form-item label="文书模板">
              <el-select v-model="dr_dlid"
                style="width:100%"
                @change="_changeWs">
                <el-option v-for="item in wsList"
                  :key="item.dl_id"
                  :label="item.dl_name"
                  :value="item.dl_id"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="文书标题">
              <el-input type="textarea"
                v-model="formData.dt_doctitle"></el-input>
            </el-form-item>
            <el-form-item label="文号">
              <el-input v-model="formData.dt_number"></el-input>
            </el-form-item>
            <el-form-item label="收文单位">
              <el-input v-model="formData.dt_receiveregulatorname"></el-input>
            </el-form-item>
            <el-form-item label="正文">
              <el-input type="textarea"
                :rows="5"
                v-model="formData.dt_content"></el-input>
            </el-form-item>
            <el-form-item label="发文单位">
              <el-input v-model="formData.dt_sendregulatorname"></el-input>
            </el-form-item>
            <el-form-item label="发文日期">
              <el-date-picker :editable="false" style="width:100%"
                v-model="formData.dt_sendtime"
                type="date"
                placeholder="选择日期"
                format="yyyy年M月d日"
                value-format="yyyy-M-d">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="可见性">
              <el-radio-group v-model="formData.dt_showstate">
                <el-radio-button label="0">下一处理人可见</el-radio-button>
                <el-radio-button label="10">仅自己</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-form>
          <div class="text-center">
            <el-button type="primary"
              @click="_checkDl">保 存</el-button>
            <el-button @click="showView = true">预 览</el-button>
          </div>
        </el-col>
        <el-col :span="12">
          <el-collapse v-model="activeline">
            <el-collapse-item title="违法广告信息"
              name="1"
              v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList"
                style="width: 100%"
                border>
                <el-table-column prop="fadname"
                  label="广告名称">
                </el-table-column>
                <el-table-column width="80"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"
                      @click="_showDetails(scope.row)">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="投诉信息"
              name="2">
              <table style="border-color:#dcdfe6;color:#606266;"
                border='1'
                width="100%"
                cellspacing="0"
                cellpadding="6">
                <tr>
                  <th>标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fcreatetime.substring(0,10) }}</td>
                </tr>
                <tr>
                  <th>处置方式</th>
                  <td>
                    <el-tag v-text="$store.state.czfs[registrationForm.fchecktype]"></el-tag>
                  </td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="文书信息"
              name="3">
              <el-table :data="wsData"
                border
                style="width: 100%">
                <el-table-column prop="dt_name"
                  label="文书标题">
                </el-table-column>
                <el-table-column label="操作"
                  width="130">
                  <template slot-scope="scope">
                    <el-button type="text"
                      icon="el-icon-download"
                      @click="_downloadWs(scope.row.dt_id)">
                      下载</el-button>
                    <el-button type="text"
                      icon="el-icon-download"
                      @click="_deleteWs(scope.row)">
                      删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="证据材料"
              name="4">
              <ill-annex :hidetitle="true"
                :showUpload="true"
                :attachInfo="attachInfo"
                :clueList="[]"
                :uploading="uploading"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @delsuccess="_delSuccess"
                :changeAttachInfo="changeAttachInfo"
                :fid="fid ? fid : fidd"
                :fillegaladflowid="registrationForm.fillegaladflowid"
                :fregisterid="registrationForm.fregisterid">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程"
              name="5">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="sdialog = true">
          流 转
        </el-button>
        <el-button v-if="false"
          @click="_close">
          暂 存
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { _getClueList } from '../../../static/js/common'
import clueDetails from './common/clueDetails'
import flowTable from '../clue/common/flowTable'
import illAnnex from './illAnnex'
import wsView from './wsView'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['wstype', 'fid', 'back', 'fidarr'],
  components: {
    illAnnex,
    flowTable,
    wsView,
    clueDetails
  },
  data() {
    return {
      showView: false,
      adDetailDialog: false,
      annexDetails: {
        data: {}
      },
      videoUrl: '',
      wsmb: '',
      sdialog: false,
      wsData: [],
      activeline: ['1'],
      commonData: {
        fchecktype: '10',
        fwaitregulatorname: '', //交办机构名称,
        fcheckcontents: ''
      },
      fwaitpersonid: '',
      fwaitregulatorid: '',
      fwaitregulatorid2: '',
      fidd: '',
      formData: {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0'
      },
      form: {},
      registrationForm: {
        fcreatetime: ''
      },
      attachInfo: [],
      clueList: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      innerVisible: false,
      flowData: [],
      show: true,
      lowerTregulator: [],
      orgList: [],
      orgPeopleList: [],
      dr_name: '',
      dr_dlid: '',
      wsList: [],
      checktype: [
        {
          label: '自办',
          value: '10'
        },
        {
          label: '移交',
          value: '20'
        },
        {
          label: '转送',
          value: '30'
        },
        {
          label: '处置',
          value: '40'
        },
      ],
    }
  },
  created() {
    this._getLowRegulator()
    this._get_dl_list()
    this._getSameOrg()
    if (this.fid) {
      this._getDetails(this.fid)
    }
    if (this.fidarr) {
      this._getClueList(this.fidarr)
      this._getDetails2(this.fidarr)
    }
  },
  methods: {
    _getDetails(fid) {
      axios.post(this.$_ + '/Agp/Fxsdengji/get_registerview', qs.stringify({
        fid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowData = res.data.data.data.flow
            this.attachInfo = res.data.data.data.refiles
            this.wsData = res.data.data.data.document
            this.commonData.fchecktype = res.data.data.data.fchecktype
            this.activeline = res.data.data.data.ffromtype === '10' ? ['1', '3'] : ['2', '3']
            if (res.data.data.data.ffromtype === '10') {
              let fillegaladid = []
              res.data.data.data.fillegaladid.forEach(item => {
                fillegaladid.push(item.fid)
              })
              let mclass = res.data.data.data.fillegaladid[0].fmedia_class
              _getClueList(this, fillegaladid, mclass)
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getDetails2(fid) {
      axios.post(this.$_ + '/Agp/Fxsdengji/get_registerview', qs.stringify({
        fillegaladid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowData = res.data.data.data.flow
            this.attachInfo = res.data.data.data.refiles
            this.wsData = res.data.data.data.document
            this.fidd = res.data.data.data.fid
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _submit() {
      let type = this.commonData.fchecktype
      switch (type) {
        case '10':
          if (!this.fwaitregulatorid2 || !this.fwaitpersonid) {
            this.$message.error('交办部门和交办人不能为空！')
            return false
          }
          this.commonData.fwaitregulatorid = this.fwaitregulatorid2
          this.commonData.fwaitpersonid = this.fwaitpersonid
          break
        case '20':
          if (!this.fwaitregulatorid) {
            this.$message.error('交办机构不能为空！')
            return false
          }
          this.commonData.fwaitregulatorid = this.fwaitregulatorid
          break
        case '30':
          if (!this.fwaitregulatorid2 || !this.fwaitpersonid) {
            this.$message.error('交办部门和交办人不能为空！')
            return false
          }
          this.commonData.fwaitregulatorid = this.fwaitregulatorid2
          this.commonData.fwaitpersonid = this.fwaitpersonid
          break
        case '40':
          if (!this.fwaitregulatorid) {
            this.$message.error('交办机构不能为空！')
            return false
          }
          this.commonData.fwaitregulatorid = this.fwaitregulatorid
          break
      }
      this.commonData.fid = this.fid ? this.fid : this.fidd
      let data = {
        ...this.commonData,
        fid: this.fid
      }
      let url = '/Agp/Fxschuehe/action_cbregister'
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    /**
     * 关闭弹窗
     */
    _close() {
      this.$emit('close')
    },
    _close2() {
      this.sdialog = false
    },
    // 获取线索
    _getTillegaladattach() {
      axios.post(this.$_ + '/Agp/Core/get_tillegaladattach', qs.stringify({
        'fregisterid': this.formData.fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data.length) {
              this.attachInfo = res.data.data.reverse()
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    // 获取流程列表
    _getTillegaladflow() {
      axios.post(this.$_ + '/Agp/Core/get_tillegaladflow', qs.stringify({
        'fregisterid': this.registrationForm.fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      obj.fflowname = this.$route.meta[1]
      obj.createpersonid = this.$store.state.userInfo.fid
      this._uploadFile(obj)
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid ? this.fid : this.fidd,
        attachinfo: Array.of(obj)
      }
      axios.post(this.$_ + '/Agp/core/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            obj.fid = res.data.data
            this.attachInfo.unshift(obj)
            this.changeAttachInfo.push(obj)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    // 获取下级机构
    _getLowRegulator() {
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.lowerTregulator = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setName(val) {
      let obj = this.lowerTregulator.filter(item => {
        return item.fid === val
      })
      this.commonData.fwaitregulatorname = obj[0].fname
    },
    _getTransfer(val, val2) {
      this.options.forEach(item => {
        if (Number(item.fid) === Number(val2)) {
          this[val].ftoregulatorname = item.fname
        }
      })
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _get_dl_list() {
      this.commonData.fwaitregulatorid = ''
      this.commonData.fwaitregulatorname = ''
      let dl_deid = ''
      let data = {
        ws_type_ids: this.wstype,
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.wsList = res.data.data
            let data = res.data.data[0]
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_content'] = data['dl_content']
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_number'] = data['wsh']
            this['formData']['dt_name'] = data['dl_name']
            this['formData']['dt_doctitle'] = data['dl_doctitle']
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _saveWs() {
      let fid = this.fid ? this.fid : this.fidd
      let data = {
        ...this.formData,
        fid: fid,
      }
      axios.post(this.$_ + '/Agp/core/create_document', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.wsData.push({
              dt_id: res.data.data,
              dt_name: this.formData.dt_name
            })
            this._get_dl_list()
            this._resetForm()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _resetForm() {
      this.formData = {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0'
      }
      this.changeAttachInfo = []
      this.dr_dlid = ''
    },
    _checkDl() {
      let data = {
        dr_name: this.dr_name,
        dr_dlid: this.dr_dlid
      }
      axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._saveWs()
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _getClueList(arr) {
      if (arr === null) {
        this.clueList = []
        return false
      }
      axios.post(this.$_ + '/Agp/Njcfaxian/get_tillegalad_details', qs.stringify({
        fillegaladid: arr
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.clueList = res.data.data.list
          }
        })
    },
    _changeWs(val) {
      let obj = this.wsList.filter(item => {
        return item.dl_id === val
      })
      let data = obj[0]
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_content'] = data['dl_content']
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_number'] = data['wsh']
      this['formData']['dt_name'] = data['dl_name']
      this['formData']['dt_doctitle'] = data['dl_doctitle']
      this.dr_dlid = data.dl_id
      this.dr_name = data.wsh
    },
    _downloadWs(id) {
      axios.post(this.$_ + '/Agp/core/upload_document', qs.stringify({
        dt_id: id
      }))
        .then(res => {
          if (res.data.code === 0) {
            window.open(res.data.data)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _closeView() {
      this.showView = false
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.fmedia_class === '1' || obj.fmedia_class === '2') {
        if (obj.adclueInfo === null) {
          obj.adclueInfo = {}
        }
        this.videoUrl = obj.favifilename
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _delSuccess(val) {
      if (val.fid) {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fid !== val.fid
        })
        this.changeAttachInfo = this.changeAttachInfo.filter(item => {
          return item.fid !== val.fid
        })
      } else {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
        this.changeAttachInfo = this.changeAttachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
      }
    },
    _deleteWs(obj) {
      let route = this.$route.name
      let url = ''
      switch (route) {
        case 'cluedisposal':
          url = '/Agp/core/delete_document'
          break
        case 'surrender':
          url = '/Agp/core/delete_document'
          break
        case 'monitor':
          url = '/Agp/core/delete_document'
          break
        case 'cluetracking':
          url = '/Agp/core/delete_document'
          break
      }
      let data = {
        dt_id: obj.dt_id
      }
      this.$confirm('确认删除该文书?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + url, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: res.data.msg
              })
              this.wsData = this.wsData.filter(item => {
                return item.dt_id !== obj.dt_id
              })
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _setName2(val) {
      this.orgList.forEach(item => {
        if (item.fid === val) {
          this.registrationForm.fwaitregulatorname = item.fname
        }
      })
      axios.post(this.$_ + '/Agp/Core/get_tregulator_person', qs.stringify({ treid: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.orgPeopleList = res.data.data
          }
        })
    },
  }
}
</script>
