<template>
  <div class="clue-details">
    <el-dialog
      :title="annexDetails.data.fadname"
      :visible.sync="show"
      append-to-body
      width="600px"
      :before-close="_close">
      <aliplayer
        :url="videoUrl"
        v-if="(annexDetails.data.fmediaclassid === 'tv' || annexDetails.data.fmediaclassid === 'bc') && videoUrl">
      </aliplayer>
      <div class="imgBlock" style="height:300px" v-if="annexDetails.data.fmediaclassid === 'paper'">
        <vueCropper
          ref="cropper"
          :img="annexDetails.adclueInfo.fjpgfilename"
          :outputSize="1"
        ></vueCropper>
      </div>
      <el-tabs v-model="activeTab">
        <el-tab-pane label="基本信息" name="adInfo">
          <el-card>
            <el-row>
              <el-col :span="4">广告名称：</el-col>
              <el-col :span="8">{{ annexDetails.data.fadname ? annexDetails.data.fadname : '暂无' }}</el-col>
              <el-col :span="4">广告类别：</el-col>
              <el-col :span="8">{{ annexDetails.data.adclass_fullname ? annexDetails.data.adclass_fullname : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">发布媒体：</el-col>
              <el-col :span="8">{{ annexDetails.data.fname ? annexDetails.data.fname : '暂无' }}</el-col>
              <el-col :span="4">发布次数：</el-col>
              <el-col :span="8">{{ annexDetails.data.fissuetimes ? annexDetails.data.fissuetimes : '暂无' }} 次</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">发现时间：</el-col>
              <el-col :span="8">{{ annexDetails.data.fsamplecreatetime ? annexDetails.data.fsamplecreatetime : '暂无' }}</el-col>
            </el-row>
          </el-card>
        </el-tab-pane>
        <el-tab-pane label="违法信息" name="illInfo">
          <el-card>
            <el-row>
              <el-col :span="4">违法类型：</el-col>
              <el-col :span="20">{{ annexDetails.data.fillegaltype ? annexDetails.data.fillegaltype : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">认定依据：</el-col>
              <el-col :span="20">{{ annexDetails.data.fconfirmations ? annexDetails.data.fconfirmations : '暂无' }} 次</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">违法表现：</el-col>
              <el-col :span="20">{{ annexDetails.data.fexpressions ? annexDetails.data.fexpressions : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="4">违法内容：</el-col>
              <el-col :span="20">{{ annexDetails.data.fillegalcontent ? annexDetails.data.fillegalcontent : '暂无' }}</el-col>
            </el-row>
          </el-card>
        </el-tab-pane>
        <el-tab-pane label="其他信息" name="otherInfo">
          <el-card>
            <el-row>
              <el-col :span="24">生产批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.adclueInfo.fmanuno ? annexDetails.adclueInfo.fmanuno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告中标识的生产批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.adclueInfo.fadmanuno ? annexDetails.adclueInfo.fadmanuno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.adclueInfo.fapprno ? annexDetails.adclueInfo.fapprno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告中标识的广告批准文号：</el-col>
              <el-col :span="24">{{ annexDetails.adclueInfo.fadapprno ? annexDetails.adclueInfo.fadapprno : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">广告中标识的生产企业（证件持有人）名称：</el-col>
              <el-col :span="24">{{ annexDetails.adclueInfo.fadent ? annexDetails.adclueInfo.fadent : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">生产企业（证件持有人）名称：</el-col>
              <el-col :span="24">{{ annexDetails.adclueInfo.fent ? annexDetails.adclueInfo.fent : '暂无' }}</el-col>
            </el-row>
            <el-row>
              <el-col :span="24">生产企业（证件持有人）所在地区：</el-col>
              <el-col :span="24">{{ annexDetails.adclueInfo.fentzone ? annexDetails.adclueInfo.fentzone : '暂无' }}</el-col>
            </el-row>
          </el-card>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
  </div>
</template>
<script>
import VueCropper from 'vue-cropper'
import aliplayer from '../common/aliplayer'
export default {
  props: ['annexDetails','videoUrl'],
  components: {
    VueCropper,
    aliplayer
  },
  data(){
    return {
      activeTab: 'adInfo',
      show: true
    }
  },
  methods: {
    _close(){
      this.$emit('close')
    }
  }
}
</script>
