<template>
  <div class="clue-list">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="searchForm"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="searchForm.fadname"
              placeholder="请输入广告名称"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布媒介：">
            <el-input v-model="searchForm.fmedianame"
              placeholder="请输入媒介"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告类别：">
            <el-cascader style="width:100%"
              :options="$store.state.adClassOptions"
              v-model="fadclasscode"
              :props="$store.state.propsOptions"
              clearable></el-cascader>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select style="width:100%"
              v-model="searchForm.mclass"
              placeholder="请选择">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="更新日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchForm.fissuedate"
              type="date"
              align="right"
              value-format="yyyy-MM-dd"
              placeholder="请选择更新日期">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24"
          style="text-align:right">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_searchSubmit"
              icon="el-icon-search">搜 索</el-button>
            <el-button type="primary"
              plain
              icon="el-icon-edit"
              @click="_Manually">手动登记</el-button>
            <el-button type="primary"
              plain
              icon="el-icon-edit"
              @click="_clueMerge">合并登记</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-row v-loading="loading">
      <el-table border
        ref="multipleTable"
        :data="tableData"
        @selection-change="_handleSelectionChange"
        :height="$store.state.GTableHeight">
        <el-table-column type="selection"
          width="55">
        </el-table-column>
        <el-table-column prop="fadname"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="adclass_fullname"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="播出媒介"
          min-width="120"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="create_time"
          label="更新日期"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fillegal"
          label="违法内容"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column fixed="right"
          label="操作"
          width="80px">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-edit"
              @click="_registration(scope.row)">登记</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </el-row>
    <registration-form ref="registrationForm"
      @close="_closeDialog"
      :mclass="searchForm.mclass"
      v-if="showDialog"
      :cluelist="clueList"
      :isregistration="true">
    </registration-form>
  </div>
</template>
<script>
import { Tree } from '../../../static/js/Tree'
import axios from 'axios'
import qs from 'qs'
import registrationForm from '../clue/common/registrationForm'
export default {
  components: {
    registrationForm
  },
  data() {
    return {
      // 搜索条件
      searchForm: {
        fadname: '',
        fadclasscode: '',
        fadclasscode: '',
        fmedianame: '',
        page: 1,
        mclass: '0'
      },
      fadclasscode: [],
      loading: false,
      showDialog: false,
      countAll: '0',
      tableData: [],
      multipleSelection: [],
      selected: {},
      clueList: []
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      let data = { ...this.searchForm }
      data.fadclasscode = this.fadclasscode[this.fadclasscode.length - 1]
      axios.post(this.$_ + '/Agp/Fxsdengji/index', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.create_time) {
                item.create_time = item.create_time.substring(0, 10)
              }
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
    _searchSubmit() {
      this.multipleSelection = []
      this.selected = {}
      this._getList(1)
    },
    _toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(this.tableData.find(d => d.fillegaladid === row))
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    // 设置选中线索数组
    _handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 显示登记弹窗
    _registration(item) {
      this.clueList = [item.fid]
      this.showDialog = true
    },
    // 关闭弹窗
    _closeDialog() {
      this.showDialog = false
      this.multipleSelection = []
      this.selected = {}
      this.clueList = []
      setTimeout(() => {
        this._getList()
      }, 500)
    },
    //合并登记
    _clueMerge() {
      this._getId()
      let arr = []
      for (let key in this.selected) {
        arr = arr.concat(this.selected[key])
      }
      this.clueList = arr
      if (!arr.length) {
        this.$func._error('请先选择要合并的线索！')
        return false
      } else {
        this.showDialog = true
      }
    },
    // 手动登记
    _Manually() {
      this.showDialog = true
    },
    _getId() {
      this.selected[this.searchForm.page] = []
      this.multipleSelection.forEach(item => {
        this.selected[this.searchForm.page].push(item.fid)
      })
    }
  },
  computed: {
    Mediatype() {
      return this.$store.state.mediaType3
    }
  }
}
</script>
<style lang="scss" scoped>
.clue-list {
  .el-table {
    margin-bottom: 10px;
  }
}
</style>
