<template>
  <div class="ill_annex">
    <el-upload
      v-if="showUpload"
      :action="upOptions.up_server"
      :data="uploadOptions"
      :before-upload="_setKey"
      auto-upload
      :on-success="_uploadSuccess"
      :on-progress="_uploadProgress"
      :show-file-list="false"
      :on-error="_uploadError">
      <el-button  type="primary" @click="_getToken" :loading="uploading">点击上传</el-button>
    </el-upload>
    <br v-if="showUpload" />
    <div v-if="attachInfo.length || clueList.length">
      <h4 class="h4" v-if="attachInfo.length && !hidetitle">附件列表</h4>
      <el-table :data="attachInfo" border>
        <el-table-column
          show-overflow-tooltip
          prop="fattachname"
          label="附件名称">
        </el-table-column>
        <el-table-column
          prop="fflowname"
          label="环节">
        </el-table-column>
        <el-table-column
          width="80"
          label="操作">
          <template slot-scope="scope">
            <a
              :href="upOptions.bucket_url + scope.row.fattachurl+'?attname='+scope.row.fattachname"
              target="_blank">
              <el-button type="text" >下载</el-button>
            </a>
            <!-- <el-button type="text"  @click="_deleteFile(scope.row)" v-if="scope.row.createpersonid === null || scope.row.createpersonid === $store.state.userInfo.fid">删除</el-button> -->
          </template>
        </el-table-column>
      </el-table>
      <h4 class="h4" v-if="clueList.length && !hidetitle">素材列表</h4>
      <el-row v-for="(item,index) in clueList" :key="index">
        <div class="under-line">
          <el-col :span="18"><span :title="item.data.fadname">{{item.data.fadname}}</span></el-col>
          <el-col :span="6">
            <el-button @click="_showDetails(item)" type="text" >详情</el-button>
          </el-col>
        </div>
      </el-row>
    </div>
    <clue-details
      :annexDetails="annexDetails"
      v-if="adDetailDialog"
      :videoUrl="videoUrl"
      @close="_closeDetails">
    </clue-details>
  </div>
</template>
<script>
import clueDetails from '../clue/common/clueDetails'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    clueDetails
  },
  props:{
    attachInfo:{
      default: ()=>[],
      type: Array
    },
    clueList:{
      default: ()=>[],
      type: Array
    },
    uploading:{
      default: false,
      type: Boolean
    },
    showUpload:{
      default: true,
      type: Boolean
    },
    fregisterid:{
      default: '',
      type: String
    },
    hidetitle:{
      default: true,
      type: Boolean
    },
    fid:{
      default: '',
      type: String
    }
  },
  data(){
    return {
      uploadOptions: {},
      upOptions: {
        up_server: ""
      },
      videoUrl: '',
      adDetailDialog: false,
      annexDetails: {
        data:{}
      },
      changeAttachInfo:[],
      tagStyle: {
        margin: '0px 10px 10px 0px',
        cursor: 'pointer'
      },
    }
  },
  created(){
    this._getToken()
  },
  methods:{
        /**
     * 获取上传七牛服务器和token
     */
    _getToken(){
      axios.post(this.$_ + '/Agp/Core/get_file_up')
      .then(res => {
        if(res.data.code === 0){
          this.upOptions = res.data.data
          this.uploadOptions = res.data.data.val
          this.bucket_url = res.data.data.bucket_url
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _setKey(file){
      this.uploadOptions.key = file.uid
    },
    _uploadSuccess(response, file, fileList){
      this.$emit('uploadSuccess',file)
    },
    _uploadError(){
      this.$emit('uploadError')
    },
    _uploadProgress(){
      this.$emit('uploadProgress')
    },
    _showDetails(obj){
      this.adDetailDialog = true
      if(obj.data.fmediaclassid === 'tv' || obj.data.fmediaclassid === 'bc'){
        if(obj.adclueInfo === null){
          obj.adclueInfo = {}
        }
        this.videoUrl = obj.adclueInfo.favifilename
      }
      this.annexDetails = obj
    },
    _closeDetails(){
      this.adDetailDialog = false
    },
    _deleteFile(obj){
      if(!obj.fid){
        this.$confirm('确认删除该文件?', '警告', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功'
          })
          this.$emit('delsuccess',obj)
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      }else{
        let data = {
          fid: obj.fid,
          fregisterid: this.fid
        }
        let route = this.$route.name
        let url = ''
        switch(route){
          case 'cluedisposal':
          url = '/Agp/core/delete_files'
          break
          case 'surrender':
          url = '/Agp/core/delete_files'
          break
          case 'monitor':
          url = '/Agp/core/delete_files'
          break
          case 'cluetracking':
          url = '/Agp/core/delete_files'
          break
        }
        this.$confirm('确认删除该文件?', '警告', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.post(this.$_ + url,qs.stringify(data))
          .then(res => {
            if(res.data.code === 0){
              this.$message({
                type: 'success',
                message: res.data.msg
              })
              this.$emit('delsuccess',obj)
            }else{
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.ill_annex{
  .h4{
    margin: 0;
  }
  #list_box{
    border: 1px solid #eee;
    padding: 12px;
  }
}
.under-line{
  border-bottom: 1px solid #ebeef5;
}
</style>
