<template>
  <div class="resapproval-list">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记表：">
            <el-input v-model="form.fname"
              placeholder="请输入登记表名称关键字"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="登记日期：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="form.fmodifytime"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData.list"
      :height="$store.state.GTableHeight"
      stripe
      v-loading="loading">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column label="登记表名称"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fname}}
        </template>
      </el-table-column>
      <el-table-column prop="fregistercontents"
        label="登记摘要"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregisterpersonname"
        label="登记人">
      </el-table-column>
      <el-table-column prop="fcreatetime"
        label="登记日期">
      </el-table-column>
      <el-table-column prop="date"
        label="操作"
        width="80">
        <template slot-scope="scope">
          <el-button @click.native.prevent="_approval(scope.row)"
            type="text">
            审批
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(tableData.count)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <approval-form ref="approvalForm"
      v-if="showDialog"
      :fid="fid"
      geturl="/Agp/Fxsdengji/get_registerview"
      posturl="/Agp/Fxsdengji/action_qpregister"
      @close="_closeDialog">
    </approval-form>
  </div>
</template>
<script>
import approvalForm from './common/approvalForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    approvalForm
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  data() {
    return {
      // 搜索表单数据
      form: {
        page: 1,
      },
      // 列表数据
      tableData: {},
      loading: false,
      showDialog: false,
      fid: '',
    }
  },
  methods: {
    // 获取列表
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + '/Agp/Fxsdengji/get_dqpregisterlist', qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.tableData.list.map(item => {
              if (item.fcreatetime) {
                item.fcreatetime = item.fcreatetime.substring(0, 10)
              }
              return item
            })
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('获取列表失败')
          this.loading = false
        })
    },
    _closeDialog() {
      this.showDialog = false
      setTimeout(() => {
        this._getList()
      }, 500)
    },
    _approval(item) {
      this.showDialog = true
      this.fid = item.fid
    }
  }
}
</script>