<template>
  <div class="tz-form">
    <el-dialog title="线索台账"
      :visible.sync="show"
      :before-close="_close"
      center
      width="60%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails"
        v-if="adDetailDialog"
        :videoUrl="videoUrl"
        @close="_closeDetails">
      </clue-details>
      <ws-view v-if="showView"
        @close="_closeView"
        :data="formData"></ws-view>
      <el-row :gutter="20">
        <el-col :span="24">
          <el-collapse v-model="activeline">
            <el-collapse-item title="违法广告信息"
              name="1"
              v-if="registrationForm.ffromtype === '10'">
              <el-table :data="clueList"
                style="width: 100%"
                border>
                <el-table-column prop="fadname"
                  label="广告名称">
                </el-table-column>
                <el-table-column width="80"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"
                      @click="_showDetails(scope.row)">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="投诉信息"
              name="2">
              <table style="border-color:#dcdfe6;color:#606266;"
                border='1'
                width="100%"
                cellspacing="0"
                cellpadding="6">
                <tr>
                  <th>标题</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>来源分类</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>举报人性质</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>{{ registrationForm.fpersontype === '10' ? '个人姓名' : '单位法人' }}</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '10'">
                  <th>证件号码</th>
                  <td>{{ registrationForm.fpersoncard }}</td>
                </tr>
                <tr v-if="registrationForm.fpersontype === '20'">
                  <th>所在单位</th>
                  <td>{{ registrationForm.fpersoncompany }}</td>
                </tr>
                <tr>
                  <th>联系电话</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>邮政编码</th>
                  <td>{{ registrationForm.fpersonpostcode }}</td>
                </tr>
                <tr>
                  <th>联系地址</th>
                  <td>{{ registrationForm.fpersonadress }}</td>
                </tr>
                <tr>
                  <th>摘要内容</th>
                  <td>{{ registrationForm.fregistercontents }}</td>
                </tr>
                <tr>
                  <th>登记日期</th>
                  <td>{{ registrationForm.fcreatetime.substring(0,10) }}</td>
                </tr>
                <tr>
                  <th>处置方式</th>
                  <td>
                    <el-tag v-text="$store.state.czfs[registrationForm.fchecktype]"></el-tag>
                  </td>
                </tr>
                <tr>
                  <th>处罚方式</th>
                  <td>
                    <span v-text="registrationForm.fpunish || '无'"></span>
                  </td>
                </tr>
              </table>
            </el-collapse-item>
            <el-collapse-item title="文书信息"
              name="3">
              <el-table :data="wsData"
                border
                style="width: 100%">
                <el-table-column prop="dt_name"
                  label="文书标题">
                </el-table-column>
                <el-table-column label="操作"
                  width="130">
                  <template slot-scope="scope">
                    <el-button type="text"
                      icon="el-icon-download"
                      @click="_downloadWs(scope.row.dt_id)">
                      下载</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="证据材料"
              name="4">
              <ill-annex :showUpload="false"
                :hidetitle="true"
                :attachInfo="attachInfo"
                :clueList="[]"
                :uploading="uploading"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @delsuccess="_delSuccess"
                :changeAttachInfo="changeAttachInfo"
                :fid="fid ? fid : fidd"
                :fillegaladflowid="registrationForm.fillegaladflowid"
                :fregisterid="registrationForm.fregisterid">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程"
              name="5">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import { _getClueList } from '../../../static/js/common'
import clueDetails from './common/clueDetails'
import flowTable from '../clue/common/flowTable'
import illAnnex from './illAnnex'
import wsView from './wsView'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['wstype', 'fid', 'fidarr'],
  components: {
    illAnnex,
    flowTable,
    wsView,
    clueDetails
  },
  data() {
    return {
      gztype: '督办',
      showView: false,
      adDetailDialog: false,
      annexDetails: {
        data: {}
      },
      videoUrl: '',
      wsmb: '',
      sdialog: false,
      wsData: [],
      activeline: ['1', '2'],
      commonData: {
        fchecktype: '10',
        fwaitregulatorname: '', //交办机构名称,
        fcheckcontents: '',
        fwaitpersonid: '',
        fwaitregulatorid: '',
      },
      fidd: '',
      formData: {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0'
      },
      form: {},
      registrationForm: {
        fcreatetime: ''
      },
      attachInfo: [],
      clueList: [],
      changeAttachInfo: [],
      bucket_url: '',
      uploading: false,
      innerVisible: false,
      flowData: [],
      show: true,
      lowerTregulator: [],
      orgList: [],
      orgPeopleList: [],
      dr_name: '',
      dr_dlid: '',
      wsList: [],
      checktype: [
        {
          label: '自办',
          value: '10'
        },
        {
          label: '移交',
          value: '20'
        },
        {
          label: '转送',
          value: '30'
        },
        {
          label: '处置',
          value: '40'
        },
      ]
    }
  },
  created() {
    this._getLowRegulator()
    this._get_dl_list()
    this._getSameOrg()
    if (this.fid) {
      this._getDetails(this.fid)
    }
    if (this.fidarr) {
      this._getClueList(this.fidarr)
      this._getDetails2(this.fidarr)
    }
  },
  methods: {
    _getDetails(fid) {
      axios.post(this.$_ + '/Agp/Fxsdengji/get_registerview', qs.stringify({
        fid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowData = res.data.data.data.flow
            this.attachInfo = res.data.data.data.refiles
            this.wsData = res.data.data.data.document
            this.commonData.fchecktype = res.data.data.data.fchecktype
            this.activeline = res.data.data.data.ffromtype === '10' ? '1' : '2'
            if (res.data.data.data.ffromtype === '10') {
              let fillegaladid = []
              res.data.data.data.fillegaladid.forEach(item => {
                fillegaladid.push(item.fid)
              })
              let mclass = res.data.data.data.fillegaladid[0].fmedia_class
              _getClueList(this, fillegaladid, mclass)
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getDetails2(fid) {
      axios.post(this.$_ + '/Agp/Fxsdengji/get_registerview', qs.stringify({
        fillegaladid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowData = res.data.data.data.flow
            this.attachInfo = res.data.data.data.refiles
            this.wsData = res.data.data.data.document
            this.fidd = res.data.data.data.fid
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _submit2() {
      this._saveWs(this._submit)
    },
    _submit() {
      let type = this.commonData.fchecktype
      this.commonData.fid = this.fid ? this.fid : this.fidd
      let data = { ...this.commonData, ...this.formData }
      let url = ''
      switch (this.gztype) {
        case '督办':
          url = '/Agp/Fxsgenzong/supervise_register'
          break
        case '催办':
          url = '/Agp/Fxsgenzong/reminder_register'
          break
        case '监督':
          url = '/Agp/Fxsgenzong/enforcement_register'
          break
      }
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    /**
     * 关闭弹窗
     */
    _close() {
      this.$emit('close')
    },
    _close2() {
      this.sdialog = false
    },
    // 获取线索
    _getTillegaladattach() {
      axios.post(this.$_ + '/Agp/Core/get_tillegaladattach', qs.stringify({
        'fregisterid': this.formData.fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data.length) {
              this.attachInfo = res.data.data.reverse()
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    // 获取流程列表
    _getTillegaladflow() {
      axios.post(this.$_ + '/Agp/Core/get_tillegaladflow', qs.stringify({
        'fregisterid': this.registrationForm.fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      obj.fflowname = this.$route.meta[1]
      obj.createpersonid = this.$store.state.userInfo.fid
      this._uploadFile(obj)
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid ? this.fid : this.fidd,
        attachinfo: Array.of(obj)
      }
      axios.post(this.$_ + '/Agp/core/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            obj.fid = res.data.data
            this.attachInfo.unshift(obj)
            this.changeAttachInfo.push(obj)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    // 获取下级机构
    _getLowRegulator() {
      axios.post(this.$_ + '/Agp/Core/get_lower_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.lowerTregulator = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _setName(val) {
      let obj = this.lowerTregulator.filter(item => {
        return item.fid === val
      })
      this.commonData.fwaitregulatorname = obj[0].fname
    },
    _getTransfer(val, val2) {
      this.options.forEach(item => {
        if (Number(item.fid) === Number(val2)) {
          this[val].ftoregulatorname = item.fname
        }
      })
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _get_dl_list() {
      this.commonData.fwaitregulatorid = ''
      this.commonData.fwaitregulatorname = ''
      let dl_deid = ''
      let data = {
        ws_type_ids: this.wstype,
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.wsList = res.data.data
            let data = res.data.data[0]
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_content'] = data['dl_content']
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_number'] = data['wsh']
            this['formData']['dt_name'] = data['dl_name']
            this['formData']['dt_doctitle'] = data['dl_doctitle']
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _saveWs(cb) {
      let fid = this.fid ? this.fid : this.fidd
      let data = {
        ...this.formData,
        fid: fid,
      }
      axios.post(this.$_ + '/Agp/core/create_document', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            cb()
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _resetForm() {
      this.formData = {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_receiveregulatorname: '',
        dt_content: '',
        dt_number: '',
        dt_name: '',
        dt_showstate: '0'
      }
      this.changeAttachInfo = []
      this.dr_dlid = ''
    },
    _checkDl() {
      let data = {
        dr_name: this.dr_name,
        dr_dlid: this.dr_dlid
      }
      axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._saveWs()
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _getClueList(arr) {
      if (arr === null) {
        this.clueList = []
        return false
      }
      axios.post(this.$_ + '/Agp/Njcfaxian/get_tillegalad_details', qs.stringify({
        fillegaladid: arr
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.clueList = res.data.data.list
          }
        })
    },
    _changeWs(val) {
      let obj = this.wsList.filter(item => {
        return item.dl_id === val
      })
      let data = obj[0]
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_content'] = data['dl_content']
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_number'] = data['wsh']
      this['formData']['dt_name'] = data['dl_name']
      this['formData']['dt_doctitle'] = data['dl_doctitle']
      this.dr_dlid = data.dl_id
      this.dr_name = data.wsh
    },
    _downloadWs(id) {
      axios.post(this.$_ + '/Agp/core/upload_document', qs.stringify({
        dt_id: id
      }))
        .then(res => {
          if (res.data.code === 0) {
            window.open(res.data.data)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _closeView() {
      this.showView = false
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.fmedia_class === '1' || obj.fmedia_class === '2') {
        if (obj.adclueInfo === null) {
          obj.adclueInfo = {}
        }
        this.videoUrl = obj.favifilename
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _delSuccess(val) {
      if (val.fid) {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fid !== val.fid
        })
        this.changeAttachInfo = this.changeAttachInfo.filter(item => {
          return item.fid !== val.fid
        })
      } else {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
        this.changeAttachInfo = this.changeAttachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
      }
    },
    _getSameOrg() {
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
        .then(res => {
          if (res.data.code === 0) {
            this.orgList = res.data.data
          }
        })
    },
    _setName2(val) {
      this.orgList.forEach(item => {
        if (item.fid === val) {
          this.registrationForm.fwaitregulatorname = item.fname
        }
      })
      axios.post(this.$_ + '/Agp/Core/get_tregulator_person', qs.stringify({ treid: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.orgPeopleList = res.data.data
          }
        })
    },
  }
}
</script>
