<template>
  <div class="credit-reward">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="媒体名称：">
            <el-input v-model="form.medianame"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="年份：">
            <el-date-picker :editable="false"
              clearable
              style="width:100%"
              v-model="form.n"
              align="right"
              value-format="yyyy"
              type="year"
              placeholder="选择年份">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="月份：">
            <el-select v-model="form.y"
              placeholder="请选择"
              style="width:100%"
              clearable>
              <el-option v-for="(value,key) in this.$store.state.month"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="4">
          <el-form-item label="奖惩原因：">
            <el-input v-model="form.fitemname"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="24"
          :md="24"
          :lg="24"
          :xl="8">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList(1)"
              icon="el-icon-search">搜 索</el-button>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              plain=""
              @click="showDialog = true"
              icon="el-icon-circle-plus-outline">添 加</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table border
      :data="tableData"
      :height="$store.state.GTableHeight">
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column property="fmedianame"
        label="媒体名称">
      </el-table-column>
      <el-table-column property="fyear"
        label="年份">
      </el-table-column>
      <el-table-column property="fmonth"
        label="月份">
      </el-table-column>
      <el-table-column property="fitemname"
        label="奖惩原因">
      </el-table-column>
      <el-table-column property="fvalue"
        label="奖惩分数">
      </el-table-column>
      <el-table-column width="100"
        label="操作">
        <template slot-scope="scope">
          <el-button type="danger"
            icon="el-icon-delete"
            @click="_confirmDelete(scope.row.fid)">删 除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="_getList">
    </el-pagination>
    <el-dialog center
      title="添加记录"
      v-if="showDialog"
      :visible.sync="show"
      :before-close="()=>showDialog = false">
      <el-form :model="addForm"
        label-width="80px">
        <el-form-item label="媒介">
          <el-select @focus="_getMediaList"
            style="width:100%"
            v-model="addForm.mediaid"
            filterable
            no-match-text="无数据"
            remote
            :remote-method="_getMediaList"
            value-key="value">
            <el-option v-for="item in mediaList"
              :value="item.fmediaid"
              :label="item.value"
              :key="item.fmediaid">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="年份">
          <el-date-picker :editable="false"
            clearable
            style="width:100%"
            v-model="addForm.n"
            align="right"
            value-format="yyyy"
            type="year"
            placeholder="选择年份">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="月份">
          <el-select v-model="addForm.y"
            placeholder="请选择"
            style="width:100%"
            clearable>
            <el-option v-for="(value,key) in this.$store.state.month"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="奖惩原因">
          <el-input type="textarea"
            v-model="addForm.fitemname"
            autosize
            :rows="3"></el-input>
        </el-form-item>
        <el-form-item label="奖惩得分">
          <el-input type="number"
            v-model="addForm.fvalue"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_addData"
          :loading="$store.state.bloading">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import axios from "axios";
import qs from "qs";
export default {
  data() {
    return {
      form: {
        medianame: "",
        y: "",
        n: (new Date()).getFullYear().toString(),
        fitemname: "",
        page: 1
      },
      addForm: {
        mediaid: "",
        n: "",
        y: "",
        fitemname: "",
        fvalue: ""
      },
      countAll: "0",
      tableData: [],
      loading: false,
      show: true,
      showDialog: false,
      mediaList: []
    };
  },
  created() {
    this._getList();
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true;
      this.form.page = page || 1
      axios.post(this.$_ + "/Agp/Fxinyong/credit_bonus_list", qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _addData() {
      this.$store.commit('_bloading', true)
      axios
        .post(
          this.$_ + "/Agp/Fxinyong/add_credit_bonus",
          qs.stringify(this.addForm)
        )
        .then(res => {
          if (res.data.code === 0) {
            this.showDialog = false
            this._getList()
            this.addForm = {}
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _getMediaList(keywords) {
      axios
        .post(
          this.$_ + "/Agp/Core/get_tregulator_media",
          qs.stringify({ keyword: keywords })
        )
        .then(res => {
          if (res.data.code === 0) {
            this.mediaList = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _confirmDelete(fid) {
      this.$confirm("确认删除该记录?", "确认", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          axios
            .post(
              this.$_ + "/Agp/Fxinyong/del_credit_bonus",
              qs.stringify({ fid: fid })
            )
            .then(res => {
              if (res.data.code === 0) {
                this._getList()
                this.$message({
                  type: "success",
                  message: "删除成功!"
                })
              } else {
                this.$func._error(res.data)
              }
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          })
        })
    }
  }
}
</script>