<template>
  <div class="fjXingyonggz">
    <table class="col-table">
      <tr>
        <td colspan="2">信用规则</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <span>次数违法率每</span>
          <el-input :style="widthStyle"  v-model="form.frequency"></el-input>
          <span>个百分点扣</span>
          <el-input :style="widthStyle"  v-model="form.frequency_score"></el-input>
          <span>分</span>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <span>时长违法率每违法率每</span>
          <el-input :style="widthStyle"  v-model="form.longtime"></el-input>
          <span>个百分点扣</span>
          <el-input :style="widthStyle"  v-model="form.longtime_score"></el-input>
          <span>分</span>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <span>广告违法次数每</span>
          <el-input :style="widthStyle"  v-model="form.number"></el-input>
          <span>条次扣</span>
          <el-input :style="widthStyle"  v-model="form.number_score"></el-input>
          <span>分</span>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          <span>公益广告</span>
          <el-input :style="widthStyle"  v-model="form.welfare_number"></el-input>
          <span>倍标准计入广告总量</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <el-button type="primary" @click="_save">保存</el-button>
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import axios from "axios";
import qs from "qs";
export default {
  data() {
    return {
      form: {
        frequency:'',
        frequency_score:'',
        longtime:'',
        longtime_score:'',
        number:'',
        number_score:'',
        welfare_number:'',
      },
      widthStyle:{width:'60px'}
    }
  },
  created() {
    this._getNum();
  },
  methods: {
    _getNum(){
      axios.post(this.$_ + '/Agp/FruleManage/index_rule')
      .then(res => {
        if(res.data.code === 0 && res.data.data !== null){
          this.form = res.data.data
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _save(){
      axios.post(this.$_ + '/Agp/FruleManage/update_rule',qs.stringify(this.form))
      .then(res => {
        if(res.data.code === 0){
          this.$message.success(res.data.msg)
          this._getNum()
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    }
  }
}
</script>