<template>
  <div class="medialist"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      inline
      label-width="90px">
      <el-row :gutter='16'>
        <el-form-item label="媒体名称：">
          <el-input v-model="form.medianame"
            placeholder="请输入媒体名称">
          </el-input>
        </el-form-item>
        <el-form-item label="媒介地区：">
          <el-cascader
            style="width:100%"
            :clearable="true"
            :options="mediaRegion"
            :props="{...areaOptions,emitPath: false}"
            v-model="form.regionid">
          </el-cascader>
        </el-form-item>
        <el-form-item label="媒体类型：">
          <el-select v-model="form.mclass" clearable style="width: 110px">
            <el-option label="全部" value=""></el-option>
            <el-option v-for="(value,key) in mediaType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="互联网类型："
          v-if="form.mclass === '4'">
          <el-select v-model="form.netadtype"
            placeholder="请选择"
            style="width:100%">
            <el-option label="全部"
              value="0"></el-option>
            <el-option v-for="(value,key) in $store.state.netadtype"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属集团：">
          <el-input v-model="form.fmedia_group"
            placeholder="请输入所属集团名称">
          </el-input>
        </el-form-item>
        <el-form-item label="是否信用评价媒体：" label-width="142px">
          <el-radio-group v-model="form.fisxinyong">
            <el-radio-button label="">全部</el-radio-button>
            <el-radio-button label="1">是</el-radio-button>
            <el-radio-button label="0">否</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="状态：" label-width="60px">
          <el-radio-group v-model="form.fstate">
            <el-radio-button label="">全部</el-radio-button>
            <el-radio-button label="1">有效</el-radio-button>
            <el-radio-button label="0">无效</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item>
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            @click="_getList(1)"
            icon="el-icon-search">搜 索</el-button>
            <el-button type="success"
              @click="output()"
              >导 出</el-button>
        </el-form-item>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      :height="tableHeight"
      @sort-change="sortChange"
      border>
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="ffullname"
        label="所属行政区划"
        sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column :label="form.mclass === '05' ? '媒体名称' : '媒体名称（媒体代码）'"
        prop="fmedianame"
        sortable="custom"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.fmedianame + (form.mclass === '05' ? '' : ('（'+ scope.row.fmediacode +'）')) }}
        </template>
      </el-table-column>
      <el-table-column prop="fmedia_group"
        label="集团名称"
         sortable="custom"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="媒体类别"
        sortable="custom"
        prop="mclass"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ mediaType[scope.row.mclass].label }}
        </template>
      </el-table-column>
      <el-table-column prop="fisxinyong"
        label="信用评价媒体"
         sortable="custom"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span :style="{'color': scope.row.fisxinyong == 1 ? '#409EFF' : '#F56C6C' }">{{ scope.row.fisxinyong == 1 ? '是' : '否' }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fstate"
        label="状态"
         sortable="custom"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span :style="{'color': scope.row.fstate == 1 ? '#409EFF' : '#F56C6C' }">{{ scope.row.fstate == 1 ? '有效' : scope.row.fstate == 0 ? '无效' : '' }}</span>
        </template>
      </el-table-column>
      <el-table-column width="160px"
        label="操作"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-button type="text"
            @click="_live(scope.row)"
            icon="el-icon-view"
            :disabled="scope.row.mclass === '4'"> 查看</el-button>
          <el-button type="text"
            @click="edit(scope.row)"
            icon="el-icon-edit"
            style="color: #67C23A"> 编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <el-dialog center
      width="650px"
      :title="medianame"
      :visible.sync="show"
      :before-close="_close"
      v-if="showIframe">
      <iframe ref='live'
        src=""
        width="600px"
        height="500px"
        frameborder="0"></iframe>
    </el-dialog>
    <el-dialog center
      width="600px"
      title="编辑"
      :close-on-click-modal='false'
      :visible.sync="editDialogShow"
      :before-close="closeEditDialog">
      <el-form :model="form" ref="form" label-width="140px">
        <el-form-item label="状态：">
          <el-radio-group v-model="eform.fstate">
            <el-radio-button label="1">有效</el-radio-button>
            <el-radio-button label="0">无效</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否信用评价媒体：">
          <el-radio-group v-model="eform.fisxinyong">
            <el-radio-button label="1">是</el-radio-button>
            <el-radio-button label="0">否</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="所属集团：">
          <el-input v-model="eform.fmedia_group" clearable placeholder="请输入所属集团" style="width: 260px"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeEditDialog()">取 消</el-button>
        <el-button type="primary" @click="submit">确 定</el-button>
      </span>
    </el-dialog>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="() => {showdownload = false;durl = ''}">
    </out-file>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { getMedialist, editMediaAction } from "@/api/Media.js"
import outFile from '@/components/outFile'
export default {
  components: { outFile },
  data() {
    return {
      form: {
        page: 1,
        mclass: '',
        medianame: '',
        netadtype: '0',
        fisxinyong: '',
        fstate: '',
        regionid: '',
        orders: '',
      },
      countAll: '0',
      tableData: [],
      loading: false,
      medianame: '',
      show: true,
      showIframe: false,
      editDialogShow: false,
      tableHeight: '300px',
      eform:{
        fid: '',
        fstate: '1',
        fisxinyong: '1',
        fmedia_group: '',
      },

      durl: '',
      showdownload: false,

      order: {
        'ffullname': {
          'ascending': '0',
          'descending': '1',
        },
        'fmedianame': {
          'ascending': '10',
          'descending': '11',
        },
        'fmedia_group': {
          'ascending': '20',
          'descending': '21',
        },
        'mclass': {
          'ascending': '30',
          'descending': '31',
        },
        'fisxinyong': {
          'ascending': '40',
          'descending': '41',
        },
        'fstate': {
          'ascending': '50',
          'descending': '51',
        },
      },
      outData: {},
    }
  },
  created() {
    this._getList()
  },
  mounted() {
   this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 240)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 240)
    }
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      let data = { ...this.form }
      if (data.mclass !== '04') {
        delete data.netadtype
      }
      this.outData = data
      getMedialist(data).then(res => {
        this.tableData = res.data.list
        this.countAll = res.data.count
        this.loading = false
      })
      .catch(() => {
        this.loading = false
      })
    },
    edit(row) {
      this.eform = {
        fid: row.fid,
        fstate: row.fstate,
        fisxinyong: row.fisxinyong,
        fmedia_group: row.fmedia_group,
      }
      this.editDialogShow = true
    },
    submit() {
      const data = {
        fid: this.fid,
        ...this.eform,
      }
      editMediaAction(data).then(res => {
        this.$notify.success(res.msg)
        this.closeEditDialog()
        this._getList(this.form.page)
      })
      .catch(() => {
        this.loading = false
      })
    },
    closeEditDialog() {
      this.editDialogShow = false
      this.eform = {
        fisxinyong: '1',
        fstate: '1',
        fmedia_group: '',
      }
    },
    sortChange(val) {
      let prop = val.prop
      let order = val.order
      this.form.orders = this.order[prop][order] || ''
      this._getList(this.form.page)
    },
    output(){
      this.durl = ''
      let data = {
        outtype: 'xls',
        ...this.outData,
      }
      this.showdownload = true
      getMedialist(data).then(res => {
        this.durl = res.data
      }).catch(() => {
        this.showdownload = false
      })
    },
    _live(obj) {
      this.showIframe = true
      this.medianame = obj.fmedianame
      setTimeout(() => {
        switch (obj.mclass) {
          case '01':
            this.$refs.live.src = `/Api/Media/m3u8_live/volume/30/fid/${obj.fid}/fdpid/${obj.fdpid}`
            break
          case '02':
            this.$refs.live.src = `/Api/Media/m3u8_live/volume/30/fid/${obj.fid}`
            break
          case '03':
            this.$refs.live.src = `/Api/Media/get_papersource/media_id/${obj.fid}/fdpid/${obj.fdpid}`
            break
        }
      }, 200)
    },
    _close() {
      this.$refs.live.src = ''
      this.medianame = ''
      this.showIframe = false
    }
  },
  computed: {
     ...mapGetters([ 'routerMap', 'mediaType', 'mediaRegion', 'areaOptions']),
  }
};
</script>