<template>
  <div class="people-list">
    <el-card v-loading="peopleLoading">
      <h4>{{nowNode.fname ? `${nowNode.fname} - ` : ''}}人员管理 <el-button type="text"
          class="pull-right"
          icon="el-icon-circle-plus-outline"
          v-if="nowNode.fid"
          @click="userInfoEdit({})">添加人员</el-button>
      </h4>
      <el-table :data="tableData"
        border
        width="100%">
        <el-table-column type="index"
          width="50">
        </el-table-column>
        <el-table-column property="fname"
          label="人员姓名">
        </el-table-column>
        <el-table-column
          label="人员编码">
          <template slot-scope="scope">
            {{scope.row.fcode}}
            <el-tag type="danger" size="mini" v-if="scope.row.fstate == 0">冻结</el-tag>
          </template>
        </el-table-column>
        <el-table-column property="fduties"
          label="职务">
        </el-table-column>
        <el-table-column property="fmobile"
          label="手机"
          width="110px"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column property="fdescribe"
          label="人员说明"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column fixed="right"
          width="130px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-edit-outline"
              @click="userInfoEdit(scope.row)">编辑</el-button>
            <el-button type="text"
              icon="el-icon-delete"
              @click="userDelete(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
    <el-dialog center
      :title="isEditUser ? '编辑人员' : '添加人员'"
      v-if="userInfoDialog"
      :visible.sync="userInfoShow"
      :before-close="addUserClose"
      width="900px"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-row :gutter="20">
        <el-col :span="8">
          <el-card ref="infocard">
            <h4>个人信息</h4>
            <el-form :model="infoForm"
              label-width="80px">
              <el-form-item label="人员姓名">
                <el-input v-model="infoForm.fname"></el-input>
              </el-form-item>
              <el-form-item label="人员编码">
                <el-input v-model="infoForm.fcode"></el-input>
              </el-form-item>
              <el-form-item label="人员职务">
                <el-input v-model="infoForm.fduties"></el-input>
              </el-form-item>
              <el-form-item label="联系手机">
                <el-input v-model="infoForm.fmobile"></el-input>
              </el-form-item>
              <el-form-item label="密码">
                <el-input v-model="infoForm.fpassword"></el-input>
              </el-form-item>
              <el-form-item label="短信提醒" v-if="$store.state.userInfo.system_num === 340000">
                <el-switch
                  v-model="infoForm.fusesms"
                  active-text="启用"
                  inactive-text="禁用"
                  active-value="1"
                  inactive-value="0">
                </el-switch>
              </el-form-item>
              <el-form-item label="人员说明">
                <el-input v-model="infoForm.fdescribe"
                  type="textarea"
                  :rows="3"></el-input>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card :style="menuCardStyle">
            <h4>菜单权限</h4>
            <el-tree default-expand-all
              ref="menuTree"
              :data="menuList"
              show-checkbox
              node-key="menu_id"
              :props="menuProps">
            </el-tree>
          </el-card>
        </el-col>
        <el-col :span="8">
          <el-card :style="menuCardStyle">
            <h4>自媒体权限
              <el-button type="text"
                @click="checkAll">{{this.allCheck ? '全不选' : '全选'}}</el-button>
              <el-button type="text"
                @click="fanxuan">反选</el-button>
            </h4>
            <el-checkbox-group v-model="mediaCheckList">
              <el-col :span="24"
                v-for="item in mediaList"
                :key="item.fid">
                <el-checkbox :label="item.fid">{{item.fmedianame}}</el-checkbox>
              </el-col>
            </el-checkbox-group>
          </el-card>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          :loading="$store.state.bloading"
          @click="submitUser">保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { getRenyuanlist, getJigoumenulist, getJigoumedialist, deleteRenyuan, createRenyuan, editRenyuan } from '@/api/Fjigou'
export default {
  props: ['nowNode'],
  data() {
    return {
      mediaCheckList: [],
      tableData: [],
      menuList: [],
      mediaList: [],
      allMediaList: [],
      peopleLoading: false,
      userInfoDialog: false,
      menuProps: {
        label: 'menu_name',
        children: 'list',
      },
      mediaProps: {
        label: 'fmedianame',
        children: 'list',
      },
      userInfoShow: true,
      menuCardStyle: {
        height: '0',
        overflow: 'auto'
      },
      infoForm: {
        fstate: '1',
        fusesms: '0',
        fdescribe: '',
      },
      allCheck: false,
    }
  },
  methods: {
    userInfoEdit(val) {
      this.getMenuMediaList(this.nowNode.fid)
      setTimeout(() => {
        this.menuCardStyle.height = `${this.$refs.infocard.$el.clientHeight}px`
        if (val.menu_jurisdiction && !(val.menu_jurisdiction instanceof Array)) {
          this.$refs.menuTree.setCheckedKeys(JSON.parse(val.menu_jurisdiction))
        } else {
          this.$refs.menuTree.setCheckedKeys([])
        }
        if (val.media_jurisdiction && !(val.media_jurisdiction instanceof Array)) {
          this.mediaCheckList = JSON.parse(val.media_jurisdiction)
        } else {
          this.mediaCheckList = []
        }
      })
      if (val.fid) {
        this.infoForm = val
      }
      this.userInfoDialog = true
      this.isEditUser = val.fid ? 1 : 0
    },
    submitUser() {
      let data = { ...this.infoForm, fregulatorid: this.nowNode.fid }
      let menu = this.$refs.menuTree.getCheckedKeys()
      data = {
        ...data,
        menu: Array.from(new Set(menu)),
        media_list: Array.from(new Set(this.mediaCheckList)),
      }
      delete data.media_jurisdiction
      delete data.menu_jurisdiction
      let result = this.isEditUser ? editRenyuan(data) : createRenyuan(data)
      result.then(res => {
        this.$notify.success(res.msg)
        this.getPeopleList(this.nowNode)
        this.addUserClose()
      })
    },
    addUserClose() {
      this.userInfoDialog = false
      this.infoForm = {
        fstate: '1',
        fusesms: '0',
        fname: '',
        fcode: '',
        fduties: '',
        fmobile: '',
        fpassword: '',
      }
    },
    userDelete(data) {
      this.$confirm(`确认删除人员 ${data.fname} ?`, '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteRenyuan({ fid: data.fid }).then(res => {
          this.$notify.success(res.msg)
          this.getPeopleList(this.nowNode)
        })
      }).catch(() => {
        this.$notify.info('取消删除')
      })
    },
    getPeopleList(val) {
      this.peopleLoading = true
      getRenyuanlist({ fregulatorid: val.fid }).then(res => {
        this.tableData = res.data.list
        this.peopleLoading = false
      })
    },
    getMenuKey(menuTree, menuArr) {
      let parentArr = []
      menuTree.forEach(item => {
        item.list.forEach(item2 => {
          if (!menuArr.includes(item2.menu_id)) {
            parentArr.push(item.menu_id)
          }
        })
      })
      let nparentArr = Array.from(new Set(parentArr))
      let a = menuArr.filter(function (v) { return nparentArr.indexOf(v) == -1 })
      return a
    },
    getMenuMediaList(val) {
      let data = { fpid: val }
      getJigoumenulist(data).then(res => {
        this.menuList = res.data.list ? res.data.list : []
        if (this.isEdit && (this.nowNode.menu_jurisdiction !== 'null')) {
          let menuKey = this.getMenuKey(this.menuList, JSON.parse(this.nowNode.menu_jurisdiction))
          this.$refs.menuTree.setCheckedKeys(menuKey)
        }
      })
      getJigoumedialist(data).then(res => {
        this.mediaList = res.data ? res.data : []
        if (res.data) {
          res.data.forEach(item => {
            this.allMediaList.push(item.fid)
          })
        }
        if (this.isEdit && (this.nowNode.media_jurisdiction !== 'null')) {
          this.mediaCheckList = JSON.parse(this.nowNode.media_jurisdiction)
        }
      })
    },
    checkAll() {
      this.allCheck = !this.allCheck
      this.allCheck ? this.mediaCheckList = this.allMediaList : this.mediaCheckList = []
    },
    fanxuan() {
      let a = this.mediaCheckList
      let b = this.allMediaList
      let aSet = new Set(this.mediaCheckList)
      let bSet = new Set(this.allMediaList)
      this.mediaCheckList = Array.from(new Set(a.concat(b).filter(v => !aSet.has(v) || !bSet.has(v))))
    }
  },
}
</script>
