<template>
  <div class="addBulletin">
    <div class="goBack">
     <el-page-header @back="goBack"></el-page-header>
    </div>
    <div class="content">
      <el-form :model="addForm" ref="form" label-width="140px">
        <el-form-item label="标题名称：">
          <el-input v-model="addForm.nTitle" placeholder="请输入标题名称" clearable></el-input>
        </el-form-item>
        <el-form-item label="报告类型：">
          <el-select v-model="addForm.nType" clearable style="width: 220px;">
            <el-option v-for="(value,key) in mReportType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
         <el-form-item label="发布日期：" style="width: 240px;">
          <el-date-picker
            v-model="addForm.issueDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="查看权限：">
          <el-cascader
            style="width: 240px;"
            :clearable="true"
            :options="mediaRegion"
            :props="{...areaOptions,emitPath: false}"
            v-model="addForm.area">
          </el-cascader>
          <el-switch v-model="addForm.iscontain"
            active-value="1"
            inactive-value="0"
            style="padding: 0 10px"
            active-text="含下级">
          </el-switch>
          <el-select v-model="addForm.flooktype" clearable style="width: 220px;">
            <el-option v-for="(value,key) in mLookType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="下载权限：">
           <el-cascader
            style="width: 240px;"
            :clearable="true"
            :options="mediaRegion"
            :props="{...areaOptions,emitPath: false}"
            v-model="addForm.ffiledown_regionid">
          </el-cascader>
          <el-switch v-model="addForm.ffiledown_iscontain"
            active-value="1"
            inactive-value="0"
            style="padding: 0 10px"
            active-text="含下级">
          </el-switch>
          <el-select v-model="addForm.ffiledowntype" clearable style="width: 220px;">
            <el-option v-for="(value,key) in mLookType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="报告内容：">
          <tinymce :height="300" v-model="addForm.nContent"></tinymce>
        </el-form-item>
        <el-form-item label="报告附件：">
          <upload @uploadSuccess="uploadSuccess"></upload>
          <div v-if="fileArr.length > 0">
            <span
              class="file-box"
              v-for="(item, index) in fileArr"
              :key="index">
              <el-tag type="success" style="margin: 10px 10px 10px 0;padding: 0px 10px;" closable
                @close="handleClose(item)">
                <a :href="item" >附件 {{ index + 1  }}</a>
              </el-tag>
            </span>
          </div>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submit">提 交</el-button>
          <el-button type="primary"  plain @click="goBack">关 闭</el-button>
        </el-form-item>
      </el-form>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Tinymce from '@/components/Tinymce'
import upload from '@/components/upload'
import { reportCreate, reportView, reportSave } from '@/api/Report.js'
  export default {
    name: 'addBulletin',
    components: { Tinymce, upload },
    data() {
      return{
        addForm: {
          fid: '',
          nTitle:'',
          nType: '',
          nContent: '',
          issueDate: '',
          iscontain: '1',
          flooktype: '',
          ffiledowntype: '',
          ffiledown_iscontain: '1',
        },
        fileArr: []
      }
    },
    computed: {
      ...mapGetters(['pickerOptions', 'mReportType', 'mLookType', 'mediaRegion', 'areaOptions']),
      query(){
        return this.$route.query
      },
      isEdit(){
        return this.query.fid
      }
    },
    created() {
      this.setMeta()
      if(this.isEdit) this.reportView()
    },
    methods: {
      reportView(){
        reportView({fid: this.query.fid}).then(res => {
          this.addForm.nTitle =  res.data.ftitle
          this.addForm.issueDate =  res.data.fissue_date
          this.addForm.nContent = res.data.fcontent
          this.addForm.nType = res.data.ftype
          this.addForm.area = res.data.fregionid
          this.addForm.flooktype = res.data.flooktype
          this.addForm.ffiledown_iscontain = res.data.ffiledown_iscontain
          this.addForm.iscontain = res.data.fiscontain
          this.addForm.ffiledowntype = res.data.ffiledowntype
          this.addForm.ffiledown_regionid = res.data.ffiledown_regionid
          this.fileArr = res.data.ffiles.split('，')
        })
      },
      setMeta() {
        this.$route.meta.title = this.isEdit ? '编辑报告' : '添加报告'
      },
      submit() {
        const data = {
          ...this.addForm,
          fid: this.isEdit ? this.query.fid : ''
        }
        if(this.fileArr.length) {
          data.ffiles = this.fileArr.join('，')
        } else {
          data.ffiles = ''
        }
        let result = this.isEdit ? reportSave(data) : reportCreate(data)
        result.then(res => {
          this.$notify.success(res.msg)
          this.$router.push({
            path:'/monitorReport',
            query: {
              list: true
            }
          })
        })
      },
      handleClose(tag) {
        this.fileArr.splice(this.fileArr.indexOf(tag), 1)
      },
      uploadSuccess(Obj) {
        const ffiles = Obj.url
        this.fileArr.push(ffiles)
      },
      goBack(){
        this.$router.push({
          path:'/monitorReport',
          query: {
            list: false
          }
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
.addBulletin{
  padding: 20px 60px 0 60px;
  .goBack{
    color: #666;
  }
  .content{
    width: 100%;
    margin: 0 auto;
    width: 800px;
    margin-top: 16px;
    .file-box{
      a{
        color: #67C23A;
      }
    }
  }
}
</style>