<template>
  <div class="reportCon">
    <div class="goBack">
     <el-page-header @back="goBack"></el-page-header>
    </div>
    <div v-loading='loading' class="details">
      <div class="details-box">
        <h2>{{ detailes.ftitle }}</h2>
        <div class="info">
          <span>报告类型：<el-tag type="primary" size="small" v-if="detailes.ftype">{{ mReportType[detailes.ftype].label }}</el-tag></span>
          <span>报告时间： <span>{{ detailes.fissue_date }}</span></span>
        </div>
        <div class="content" v-html="detailes.fcontent"></div>
      </div>
      <div class="file-box">
        附件：
        <span v-if="fileArr.length > 0">
           <el-tag
            v-for="(item,index) in fileArr"
            :key="index"
            type="success" style="margin: 10px 10px 10px 0;padding: 0px 10px;">
            <a :href="item" style="color: #67C23A;"> 附件{{ index + 1 }} </a>
          </el-tag>
        </span>
        <span v-else style="color: #666;font-size: 14px">暂无附件。</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { reportView } from '@/api/Report.js'
  export default {
    name: 'detailsReport',
    data() {
      return{
        detailes: {},
        loading: false,
        fileArr: [],
      }
    },
    computed: {
      ...mapGetters(['mReportType']),
      query(){
        return this.$route.query
      },
    },
    created() {
      this.reportView()
    },
    methods:{
      goBack( ){
        this.$router.push({
          path:'/monitorReport',
          query: {
            list: false
          }
        })
      },
      reportView(){
        this.loading = true
        reportView({fid: this.query.fid}).then(res => {
          if( res.data.ffiles){
            this.fileArr = res.data.ffiles.split('，')
          }
          this.detailes = res.data
          this.loading = false
        })
        .catch(err => {
          this.loading = false
        })
      }
    },
  }
</script>

<style lang="scss" scoped>
.reportCon{
  height: 100%;
  padding: 0 60px;
  .goBack{
      padding-top: 20px;
      height: 40px;
      line-height: 40px;
    }
  .details{
    height: calc(100% - 80px);
    .details-box{
      height: 90%;
      h2{
        color:#5b6069;
      }
      h2,.info{
        text-align: center;
      }
      div{
        color: #666;
        span:nth-child(1){
          margin-right: 20px;
        }
        span:nth-child(2){
            span{
            color: #409EFF;
          }
        }
      }
      .content{
        padding: 0px 60px;
        box-sizing: border-box;
        min-height: 400px;
        margin: 0 auto;
        /deep/ p{
          text-indent: 2em;
          line-height: 24px;
        }
      }
    }
    .file-box{
      border-top: 1px solid #ededed;
      padding-top: 10px;
    }
  }
}
</style>