<template>
  <div class="addBulletin">
    <div class="goBack">
     <el-page-header @back="goBack"></el-page-header>
    </div>
    <div class="content">
      <el-form :model="addForm" ref="form" label-width="140px">
        <el-form-item label="标题名称：">
          <el-input v-model="addForm.nTitle" placeholder="请输入标题名称" clearable></el-input>
        </el-form-item>
        <el-form-item label="公告类型：">
          <el-select v-model="addForm.nType" clearable style="width: 220px;">
            <el-option v-for="(value,key) in noticeType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="查看权限：">
          <el-cascader placeholder="请选择接收局"
            :options="$store.state.allArea2"
            :show-all-levels="false"
            :props="{...$store.state.areaOptions,emitPath: false,}"
            v-model="addForm.area"
            clearable>
          </el-cascader>
          <el-switch v-model="addForm.iscontain"
            active-value="1"
            inactive-value="0"
            active-text="含下级">
          </el-switch>
          <el-select v-model="addForm.flooktype" clearable style="width: 220px;">
            <el-option v-for="(value,key) in lookType"
              :key="key"
              :label="value.label"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
         <el-form-item label="发布日期：" style="width: 240px;">
          <el-date-picker
            v-model="addForm.issueDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="公告内容：">
          <tinymce :height="300" v-model="addForm.nContent"></tinymce>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submit">提 交</el-button>
          <el-button type="primary"  plain @click="goBack">关 闭</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Tinymce from '@/component/Tinymce'
import axios from 'axios'
import qs from 'qs'
  export default {
    name: 'addBulletin',
    components: { Tinymce },
    data() {
      return{
        addForm: {
          fid: '',
          nTitle:'',
          nType: '',
          flooktype: '0',
          nContent: '',
          issueDate: '',
          area: '',
          iscontain: '0',
        },
        bulletinType: {
          '1': {
            label: '安全',
            type: 'success'
          },
          '2': {
            label: '通知',
            type: 'primary'
          },
          '3': {
            label: '升级',
            type: 'warning'
          },
        },
        pickerOptions: {
          disabledDate(time) {
            return time.getTime() > Date.now();
          }
        },
      }
    },
    computed: {
      ...mapState(['noticeType', 'lookType']),
      query(){
        return this.$route.query
      },
      isEdit(){
        return this.query.fid
      }
    },
    created() {
      if(this.isEdit) {
        this.noticeView()
      } else {
        let timer = setInterval(() => {
          if (this.$store.state.allArea2[0]['fid']) {
            this.addForm.area = this.$store.state.allArea2[0]['fid']
            clearInterval(timer)
          }
        })
      }
    },
    methods: {
      noticeView(){
        axios.post(this.$_ + '/Agp/Notice/noticeView', qs.stringify({fid: this.query.fid}))
        .then(res => {
          if(res.data.code == 0) {
            this.addForm.nTitle =  res.data.data.ftitle
            this.addForm.issueDate =  res.data.data.fissue_date
            this.addForm.nContent = res.data.data.fcontent
            this.addForm.nType = res.data.data.ftype
            this.addForm.flooktype = res.data.data.flooktype
            this.addForm.area = res.data.data.fregionid
            this.addForm.iscontain = res.data.data.fiscontain
          } else {
            this.$func._error(res.data.msg)
          }
        })
      },
      submit() {
        const data = {
          ...this.addForm,
          fid: this.isEdit ? this.query.fid : '',
        }
        let url = this.isEdit ? '/Agp/Notice/noticeSave' : '/Agp/Notice/noticeCreate'
        axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if(res.data.code === 0){
            this.$notify.success(res.data.msg)
            this.goBack()
          } else {
            this.$func._error(res.data.msg);
          }
        })
      },
      goBack(){
        this.$router.go(-1) || this.$router.push('/bulletin')
      },
    },
  }
</script>

<style lang="scss" scoped>
.addBulletin{
  padding-top: 20px;
  .content{
    width: 100%;
    margin: 0 auto;
    width: 800px;
    margin-top: 16px;
  }
}
</style>