<template>
  <div class="bulletinCon">
    <div class="goBack">
     <el-page-header @back="goBack"></el-page-header>
    </div>
    <h2>{{ detailes.ftitle }}</h2>
    <div class="info">
      <span>公告类型：<el-tag :type="detailes.ftype ==='1' ? 'success' : detailes.ftype ==='2' ? 'primary' : 'danger'" size="small" v-if="detailes.ftype">{{ noticeType[detailes.ftype].label }}</el-tag></span>
      <span>查看权限：<el-tag size="small" type="info" v-if="detailes.flooktype">{{ lookType[detailes.flooktype].label }}</el-tag></span>
      <span>公告时间： <span>{{ detailes.fissue_date }}</span></span>
    </div>
    <div class="content" v-html="detailes.fcontent"></div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'
import qs from 'qs'
  export default {
    name: 'bulletinCon',
    data() {
      return{
        detailes: {},
      }
    },
    computed: {
      ...mapState(['noticeType','lookType']),
      query(){
        return this.$route.query
      },
    },
    created() {
      this.noticeView()
    },
    methods:{
      goBack( ){
        this.$router.go(-1) || this.$router.push('/bulletin')
      },
      noticeView(){
        axios.post(this.$_ + '/Agp/Notice/noticeView',qs.stringify({fid: this.query.fid}))
        .then(res => {
          this.detailes = res.data.data
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
.bulletinCon{
  padding: 0 60px;
  .goBack{
    padding-top: 20px;
    height: 40px;
    line-height: 40px;
  }
  h2{
    color:#5b6069;
  }
  h2,.info{
    text-align: center;
  }
  div{
    color: #666;
    span:nth-child(1){
      margin-right: 20px;
    }
  }
  p{
     text-indent:35px;
  }
  .content{
    padding-top: 16px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 24px;
  }
}
</style>