<template>
  <div class="create-task" v-loading="loading">
		<el-form :model="form" ref="sform" inline @keyup.native.enter="getList()">
			<el-form-item label="地区选择：">
        <span>
          <el-cascader
            :clearable="true"
            :options="mediaArea"
            :props="areaOptions"
            v-model="form.area">
          </el-cascader>
          &nbsp;
          <el-checkbox v-model="form.iscontain" true-label="1" false-label="0">包含下级</el-checkbox>
        </span>
      </el-form-item>
      <el-form-item label="媒体所属：">
        <el-select v-model="form.mediaType" placeholder="请选择媒体所属" clearable>
          <el-option v-for="(value,key) in mediaBelong"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="信用评价媒体：">
        <el-select
          v-model="form.fisxinyong"
          clearable
          multiple
          collapse-tags
          placeholder="选择信用评价媒体">
          <el-option v-for="(val,key) in creditMedia"
            :key="key"
            :label="val.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体类型：">
        <el-select v-model="form.mediaClass"
          placeholder="请选择媒体类型"
          clearable
          multiple
          collapse-tags>
          <el-option v-for="(value,key) in mediaType"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="媒体名称：">
        <el-input v-model="form.mediaName" clearable></el-input>
      </el-form-item>
      <el-form-item label="月份：">
        <el-date-picker
          style="width: 100%;"
          v-model="form.month"
          type="month"
          value-format="yyyy-MM"
          placeholder="选择月"
          :clearable="false">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="任务环节：">
        <el-select v-model="form.taskLink"
          placeholder="请选择任务环节"
          clearable
          multiple
          collapse-tags>
          <el-option v-for="(value,key) in taskFlow"
            :key="key"
            :label="value.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
			<el-form-item>
				<el-button type="primary" @click="getList()">搜 索</el-button>
			</el-form-item>
      <el-form-item>
				<el-dropdown type="primary" @command="handleCommand" size="small">
					<el-button type="primary" :disabled="disabled">操 作<i class="el-icon-arrow-down el-icon--right"></i></el-button>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item v-for="(value,key) in action" :key="key" :command="key">{{value.label}}</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</el-form-item>
      <el-form-item>
        <el-dropdown type="primary" @command="flow" size="small">
					<el-button type="primary" :disabled="disabled">流 转<i class="el-icon-arrow-down el-icon--right"></i></el-button>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item v-for="(value,key) in linkType" :key="key" :command="value">{{value.label}}</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
      </el-form-item>
      <el-form-item>
				<el-button type="success" @click="() => showDialog = true">一键创建任务</el-button>
			</el-form-item>
		</el-form>
		<div class="content" :style="{ height: tableHeight }">
			<div class="left">
				<el-table :data="tableData" border stripe>
					<el-table-column type="index" width="50"></el-table-column>
					<el-table-column label="媒体" show-overflow-tooltip>
						<template slot-scope="scope">
              {{scope.row.fmedianame}}
						</template>
					</el-table-column>
					<el-table-column label="地区" width="65" show-overflow-tooltip>
						<template slot-scope="scope">
							{{scope.row.regionname}}
						</template>
					</el-table-column>
          <el-table-column label="类型" width="55">
						<template slot-scope="scope">{{mediaType[scope.row.media_class].label}}
						</template>
					</el-table-column>
          <el-table-column label="监测" width="50">
						<template slot-scope="scope">
              {{days(scope.row.days)}}
						</template>
					</el-table-column>
          <el-table-column label="信用" width="50">
						<template slot-scope="scope">
              {{tsDays(scope.row.days)}}
						</template>
					</el-table-column>
				</el-table>
			</div>
			<div class="right">
				<time-select :table-head="tableHead" :table-data="tableData" v-if="tableData.length" @triggertime="val => selectedData = val"></time-select>
			</div>
		</div>
		<div class="text-right">
			<el-pagination background @size-change="pageSizeChange" @current-change="getList" :current-page="page.pageIndex" :page-sizes="[15, 50, 100, 200, 500]"
				:page-size="page.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
			</el-pagination>
		</div>
    <creat-task v-if="showDialog" @close="close" @getList="getList"></creat-task>
	</div>
</template>

<script>
import timeSelect from '@/views/Task/components/timeSelect'
import creatTask from '@/views/Task/components/creatTask'
import { getMediatregion } from "@/api/MediaIssue.js"
import { taskList, taskAction } from '@/api/TaskManage.js'
import Tree  from '@/utils/Tree.js'
import { mapGetters } from 'vuex'
export default {
  components: { timeSelect, creatTask },
  data() {
    let month = this.$dayjs().format('YYYY-MM')
    return {
      showDialog: false,

      form: {
        mediaType: '',
        mediaClass: [],
        mediaName: '',
        month: month,
        iscontain: '1',
        area: '',
        fisxinyong: []
      },
      tableData: [],
      tableHeight: '300px',
      selectedData: {},
      mediaArea: [],
      areaOptions: {
        value: 'fid',
        label: 'fname',
        children: 'children',
        checkStrictly: true,
        emitPath: false,
      },
      action: {
        '1': { label: '创建任务' },
        '2': { label: '取消任务' },
        '3': { label: '退回任务' },
        '5': { label: '任务关闭' },
        '7': { label: '重新接收' },
        '8': { label: '开启信用统计' },
        '9': { label: '关闭信用统计' },
      },
      taskFlow: {
        '1': { label: '待接收' },
        '2': { label: '广告分离' },
        '3': { label: '广告监测' },
        '4': { label: '广告复审' },
        '5': { label: '广告终审' },
        '6': { label: '已归档' },
        '7': { label: '中止' },
        '9': { label: '退回' },
        '10': { label: '关闭' },
      },
      page: {
        pageIndex: 1,
        pageSize: 15,
      },
      total: 0,
      loading: false,
      regionTree: [],
      props: {
        checkStrictly: true,
        emitPath: false,
      },
      sourceData: '',
      color: '#409EFF',
      tableHead: [],
    }
  },
  computed: {
    ...mapGetters(['mediaBelong', 'mediaType', 'taskManageStatus', 'linkType','creditMedia']),
    disabled(){
      return !Object.keys(this.selectedData).length
    },
  },
  created() {
    this.sourceData = JSON.stringify(this.form)
    this.getMediatregion()
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.getTableHeight()
    })
    window.onresize = () => {
      this.getTableHeight()
    }
  },
  methods: {
    close() {
      this.showDialog = false
    },
    days(arr){
      return arr.filter(i => i.fstatus !== 'null' && i.fstatus !== '4').length
    },
    tsDays(arr){
      return arr.filter(i => i.fis_credit === '1').length
    },
    flow({label, value}){
      let data = {
        fixDays: this.selectedData,
        action: 4,
        flowLink: value
      }
      this.$confirm(`确认流转至【${label}】？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.taskAction(data)
        }).catch(() => {})
    },
    handleCommand(action) {
      let data = {
        fixDays: this.selectedData,
        action: action,
      }
      if(action === '3'){
        this.$prompt('请输入退回说明', '退回说明', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          inputType: 'textarea'
        }).then(({ value }) => {
          data.backContent = value
          this.taskAction(data)
        }).catch(() => {})
      }else{
        this.$confirm(`确认执行【${this.action[action].label}】操作？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.taskAction(data)
        }).catch(() => {})
      }
    },
    taskAction(data){
      this.loading = true
      taskAction(data).then(data => {
        if (data.code === 0) {
          this.$notify.success(data.msg)
          this.getList(this.page.pageIndex)
        } else {
          this.$notify.error(data.msg)
        }
        this.loading = false
      }).catch(() => this.loading = false)
    },
    getList(page = 1) {
      this.page.pageIndex = page
      let data = {
        ...this.form,
        ...this.page
      }
      this.loading = true
      taskList(data).then(data => {
        let days = this.getDays(this.form.month)
        this.tableHead = this.setDays(days)
        let tableData = (data.mediaData || []).map(i => {
          i.days = this.setDays(days)
          return i
        })
        let idMap = this.getIdMap(data.taskData)
        tableData.map(i => {
          if (idMap[i.fid] && idMap[i.fid].length) {
            i.days.map(v => {
              let data = (idMap[i.fid] || []).filter(f => f.fissue_date === v.fday)
              v.fstatus = data.length === 1 ? (data[0].fstatus || 'null') : 'null'
              v.fflow = data.length === 1 ? (data[0].fflow || '') : ''
              v.fis_credit = data.length === 1 ? (data[0].fis_credit || '') : ''
              return v
            })
          }
          return i
        })
        this.tableData = tableData
        this.total = +data.count
        this.loading = false
      })
      .catch(() => {})
    },
    getMediatregion() {
      getMediatregion().then(res=> {
        this.mediaArea = new Tree(res.data, 'fpid', 'fid').init(res.data[0].fpid)
      })
    },
    getIdMap(list) {
      let fmediaids = Array.from(new Set((list || []).map(i => i.fmedia_id)))
      let obj = {}
      fmediaids.forEach(i => {
        obj[i] = list.filter(v => v.fmedia_id === i)
      })
      return obj
    },
    pageSizeChange(pageSize) {
      this.page.pageSize = pageSize
      this.getList(this.page.pageIndex)
    },
    getTableHeight() {
      let formHeight = this.$refs.sform.$el.clientHeight
      this.tableHeight = document.body.clientHeight - formHeight - 168 + 'px'
    },
    reset(getList = false) {
      this.form = JSON.parse(this.sourceData)
      if(getList) this.getList(1)
    },
    setDays(length = 31) {
      let days = []
      for (let i = 0; i < length; i++){
        let date = this.$dayjs(`${this.form.month}-01`).add(i, 'd')
        days.push({
          fstatus: 'null',
          fday: date.format('YYYY-MM-DD'),
          day: date.format('DD'),
          selected: false
        })
      }
      return days
    },
    getDays(time) {
      let year = this.$dayjs(time).format('YYYY')
      let month = this.$dayjs(time).format('MM')
      return new Date(year, month, 0).getDate()
    }
  },
}
</script>

<style lang="scss" scoped>
.create-task{
  padding: 10px;
  .text-right{
    text-align: right;
  }
  .el-pagination{
    margin-top: 10px;
  }
  .days{
    padding: 4px 8px;
  }
  .green{
    color: #409EFF;
    font-weight: bold;
  }
  .copy{
    color: #409EFF;
    &:hover{
      cursor: pointer;
      font-weight: bold;
      color: rgb(55, 135, 214);
    }
  }
  .content{
    display: flex;
    overflow-y: auto;
    .left{
      width: 420px;
      flex-shrink: 0;
    }
    .right{
      flex-grow: 1;
    }
  }
}
</style>