.download-content[data-v-796a7d16]{text-align:center;height:160px}.download-content .el-icon-success[data-v-796a7d16]{font-size:80px;color:#67c23a;margin-bottom:10px}.green[data-v-53eb28e2]{color:#67c23a}.red[data-v-53eb28e2]{color:#f56c6c}.yellow[data-v-53eb28e2]{color:#e6a23c}