.el-cascader-menus .el-cascader-menu {
  height: 300px;
}

.new-tabel.el-table {
  border: none;
}

.new-tabel.el-table::after {
  display: none;
}

.new-tabel.el-table.el-table--small {
  font-size: 13px;
}

.new-tabel.el-table .el-table__fixed-right .el-table__fixed-header-wrapper {
  border-right: 1px solid #e8e8e8;
  border-radius: 4px 4px 0px 0px;
}

.new-tabel.el-table .el-table__fixed-right .el-table__fixed-header-wrapper th {
  background-color: #FAFAFA;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  color: #333;
  font-size: 14px;
  padding: 16px 0;
  border-bottom: none;
}

.new-tabel.el-table .el-table__header-wrapper {
  border: 1px solid #e8e8e8;
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
  background-color: #FAFAFA;
  box-sizing: border-box;
}

.new-tabel.el-table .el-table__header-wrapper th {
  background-color: #FAFAFA;
  color: #333;
  font-size: 14px;
  padding: 16px 0;
}

.new-tabel.el-table.el-table--border th, .new-tabel.el-table.el-table--border td {
  border-right: none !important;
}

.new-tabel.el-table.el-table--border td {
  color: #666 !important;
}

.tv-tag {
  padding: 2px 8px;
  background-color: #2593FC;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
}

.bc-tag {
  padding: 2px 8px;
  background-color: #FC673D;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
}

.paper-tag {
  padding: 2px 8px;
  background-color: #C184FC;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 2px;
}
