<template>
  <div class="fjresrecheck">
    <el-tabs v-model="activeTab" type="card">
      <el-tab-pane name="1">
        <span slot="label">
          {{
          `待办事项 ` + (ActiveTab[$route.name+'1'] ? `(${ActiveTab[$route.name+'1']})` : '')
          }}
        </span>
        <todo-list v-if="activeTab === '1'"></todo-list>
      </el-tab-pane>
      <el-tab-pane name="2">
        <span slot="label">
          {{
          `已办事项 ` + (ActiveTab[$route.name+'2'] ? `(${ActiveTab[$route.name+'2']})` : '')
          }}
        </span>
        <done-list v-if="activeTab === '2'"></done-list>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import todoList from './components/todoList'
import doneList from './components/doneList'
import { mapState } from 'vuex'
  export default {
    components: {
      doneList,
      todoList
    },
    data(){
      return {
        activeTab: '1',
      }
    },
    created() {
      this.activeTab = this.$route.params.activeTab || '1'
    },
    computed: {
      ...mapState(['ActiveTab'])
    }
  }
</script>

<style scoped>

</style>