<template>
  <el-dialog :title="adData.fadname"
    class="iss-dialog"
    center
    append-to-body
    :before-close="_colse"
    :visible.sync="show"
    width="1000px">
    <el-row :gutter="10">
      <el-col :span="14">
        <div class="video-content"
          v-loading="!videoUrl"
          v-if="(adData.mclass === '01' || adData.mclass === '02')"
          @mouseenter="showchange=true"
          @mouseleave="showchange=false">
          <el-button class="pull-right changebtn"
            v-if="showchange"
            @click="_changurl">切换</el-button>
          <aliplayer ref="player"
            width="550px"
            height="318px"
            @error="videoUrl = adData.favifilename"
            :url="videoUrl"
            :autoplay="true"
            v-if="(adData.mclass === '01' || adData.mclass === '02') && videoUrl && showPlayer">
          </aliplayer>
        </div>
        <div class="imgBlock"
          v-if="adData.mclass === '03'"
          v-loading="!adData.favifilename">
          <vueCropper ref="cropper"
            :img="adData.favifilename"
            :outputSize="1"></vueCropper>
        </div>
        <div class="odBlock" v-if="adData.mclass === 'od'" v-viewer="{inline: true,title: false}">
          <img :src="i" alt="图片加载失败" :key="i" v-for="i in adData.favifilename.split(',')" v-if="adData.favifilename">
        </div>
      </el-col>
      <el-col :span="10">
        <el-tabs v-model="activeName">
          <el-tab-pane label="基本信息"
            name="1"
            v-if="adData.mclass === '03' || adData.mclass === '04'">
            <el-form label-width="90px">
              <el-form-item label="媒体类型：" v-if='!isillAdDetail'>
                {{$store.state.allmediatype[adData.mclass]}}
              </el-form-item>
              <el-form-item label="发布媒体：">
                {{ adData.fmedianame || '暂无' }}
              </el-form-item>
              <el-form-item label="广告名称：">
                {{ adData.fadname || '暂无' }}
              </el-form-item>
              <el-form-item label="广告类别：">
                {{ adData.fadclass || '暂无' }}
              </el-form-item>
              <el-form-item label="建样日期："
                v-if="issample">
                {{ adData.fissuedate || '暂无' }}
              </el-form-item>
              <el-form-item label="发布日期："
                v-else>
                {{ adData.fissuedate || '暂无' }}
              </el-form-item>
              <el-form-item label="播次："
                v-if="adData.issuecount && adData.issuecount > 0">
                当前发布时段第{{ adData.issuecount }}次
              </el-form-item>
              <el-form-item label="版面：" v-if="adData.mclass === '03'">
                {{ adData.fpage || '暂无' }}
              </el-form-item>
              <el-form-item label="页码：" v-if="adData.mclass === '04'">
                {{ adData.fpage || '暂无' }}
              </el-form-item>
              <el-form-item label="规格：">
                {{ adData.fsize || '暂无' }}
              </el-form-item>
              <el-form-item label="发布类型：">
                {{ adData.fissuetype || '暂无' }}
              </el-form-item>
              <el-form-item label="版面类别：">
                {{ adData.fpagetype || '暂无' }}
              </el-form-item>
              <el-form-item label="面积比例：">
                {{ adData.fproportion || '暂无' }}
              </el-form-item>
              <el-form-item label="违法类型：" v-if='!isillAdDetail'>
                {{ adData.fillegaltype || '暂无' }}
              </el-form-item>
              <el-form-item label="广告主：">
                {{ adData.fadowner_name || adData.fadowner || '暂无' }}
              </el-form-item>
              <el-form-item label="品牌：">
                {{ adData.fbrand || '暂无' }}
              </el-form-item>
              <el-form-item label="下载：">
                <a :href="(adData.favifilename.indexOf('?') === -1) ? (adData.favifilename + '?attname=') : (adData.favifilename + '&attname=')" target="_blank">
                  <el-button type="primary">下载样本</el-button>
                </a>
              </el-form-item>
            </el-form>
            <el-form label-width="90px" v-if="adData.mclass === 'od'">
              <el-form-item label="发布媒体：">
                {{adData.fmedianame}}
              </el-form-item>
              <el-form-item label="媒体类型：" v-if='!isillAdDetail'>
                {{$store.state.allmediatype[adData.mclass]}}
              </el-form-item>
              <el-form-item label="品牌：">
                {{ adData.fbrand || '暂无' }}
              </el-form-item>
              <el-form-item label="监测时间">
                {{ adData.fissuedate || '暂无' }}
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="基本信息"
            name="1"
            v-if="adData.mclass === '01' || adData.mclass === '02'">
            <el-form label-width="90px">
              <el-form-item label="媒体类型：" v-if='!isillAdDetail'>
                {{$store.state.allmediatype[adData.mclass]}}
              </el-form-item>
              <el-form-item label="发布媒体：">
                {{ adData.fmedianame || '暂无' }}
              </el-form-item>
              <el-form-item label="广告名称：">
                {{ adData.fadname || '暂无' }}
              </el-form-item>
              <el-form-item label="广告类别：">
                {{ adData.fadclass || '暂无' }}
              </el-form-item>
              <el-form-item label="建样时间："
                v-if="issample">
                {{ adData.fcreatetime || '暂无' }}
              </el-form-item>
              <el-form-item label="发布日期："
                v-else>
                {{ issueDate || '暂无' }}
              </el-form-item>
              <el-form-item label="时长：">
                {{ adData.fadlen + ' 秒' || '暂无' }}
              </el-form-item>
              <el-form-item label="发布时段："
                v-if="!issample">
                {{ issueDuringDate || '暂无' }}
              </el-form-item>
              <el-form-item label="播次："
                v-if="adData.issuecount && adData.issuecount > 0">
                当前发布时段第{{ adData.issuecount }}次
              </el-form-item>
              <el-form-item label="违法类型：" v-if='!isillAdDetail'>
                {{ adData.fillegaltype || '暂无' }}
              </el-form-item>
              <el-form-item label="广告主：">
                {{ adData.fadowner_name || adData.fadowner || '暂无' }}
              </el-form-item>
              <el-form-item label="品牌：">
                {{ adData.fbrand || '暂无' }}
              </el-form-item>
              <el-form-item label="版本：" v-if='!isillAdDetail'>
                {{ adData.fversion || '暂无' }}
              </el-form-item>
              <el-form-item label="下载：">
                <div v-if="!issample">
                  <a v-if="!islive"
                    :href="adData.favifilename + '?attname='"
                    target="_blank">
                    <el-button type="primary">下载样本</el-button>
                  </a>
                  <a :href="adData.source_url + '?attname='"
                    target="_blank"
                    v-if="adData.source_url && islive">
                    <el-button type="primary">下载素材</el-button>
                  </a>
                  <el-button type="primary"
                    @click="_createCC"
                    :disabled='creatBtn'
                    v-if="!adData.source_url && islive"
                    :loading="adData.source_state === '1'">{{adData.source_state === '1' ? '正在生成' : '生成素材'}}</el-button>
                </div>
                <a :href="adData.favifilename + '?attname='"
                  target="_blank"
                  v-else>
                  <el-button type="primary">下载样本</el-button>
                </a>
              </el-form-item>
              <el-form-item label="发布预警："
                v-if="adData.fillegaltype === '违法' && $store.state.userInfo.iswarning">
                <el-button type="primary"
                  :loading="$store.state.bloading"
                  @click="_add">违法预警</el-button>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="违法信息"
            v-if="adData.fillegaltypecode > '0' && adData.mclass !== 'od'"
            name="2">
            <el-form label-width="110px">
              <el-form-item label="认定依据：">
                {{ adData.fconfirmations || '暂无' }}
              </el-form-item>
              <el-form-item label="违法表现代码：">
                {{ adData.fexpressioncodes || '暂无' }}
              </el-form-item>
              <el-form-item label="违法表现：">
                {{ adData.fexpressions || '暂无' }}
              </el-form-item>
              <el-form-item label="违法内容：">
                {{ adData.fillegalcontent || '暂无' }}
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="其他信息"
            v-if="adData.mclass !== 'od'"
            name="3">
            <el-form label-width="250px">
              <el-form-item label="生产批准文号：">
                {{ adData.fmanuno || '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的生产批准文号：">
                {{ adData.fadmanuno || '暂无' }}
              </el-form-item>
              <el-form-item label="广告批准文号：">
                {{ adData.fapprno || '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的广告批准文号：">
                {{ adData.fadapprno || '暂无' }}
              </el-form-item>
              <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                {{ adData.fadent || '暂无' }}
              </el-form-item>
              <el-form-item label="生产企业（证件持有人）名称：">
                {{ adData.fent || '暂无' }}
              </el-form-item>
              <el-form-item label="生产企业（证件持有人）所在地区：">
                {{ adData.fentzone || '暂无' }}
              </el-form-item>
            </el-form>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
  </el-dialog>
</template>

<script>
import aliplayer from '../../common/aliplayer'
import VueCropper from 'vue-cropper'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'Vue'
import axios from 'axios'
import qs from 'qs'
Vue.use(Viewer)
export default {
  props: {
    data: {
      default: () => { },
      type: Object
    },
    posturl: {
      default: '',
      type: String
    },
    area: {
      default: '',
      type: String
    },
    issample: {
      default: false,
      type: Boolean
    },
    isillAdDetail: {
      default: true,
      type: Boolean
    },
  },
  components: {
    VueCropper,
    aliplayer
  },
  data() {
    return {
      adData: {},
      show: true,
      videoUrl: '',
      liveurl: '',
      yburl: '',
      activeName: '1',
      timer: null,
      islive: true,
      showPlayer: true,
      showchange: false,
      creatBtn: false,
    }
  },
  created() {
    this._getDetails()
  },
  methods: {
    _getDetails() {
      // return this.adData = {
      //   fissurdatetime: '2019-01-01 12:12:12',
      //   fadname: '2312312',
      //   fadbrand: '品牌',
      //   fmediaid: '1111',
      //   fimgs: 'http://design.5any.com/images/top_xspt.jpg,http://publichz.oss-cn-hangzhou.aliyuncs.com/agp_img/agp_logo.png',
      //   mclass: 'od'
      // }
      const sid = this.data.sid
      const mclass = this.$route.name === 'ckwfmingxi' ? `${this.data.mclass}` : this.data.mclass
      const tbname = this.data.fissuedate
      const params = { sid, mclass, tbname }
      axios.post(this.$_ + this.posturl, qs.stringify(params))
        .then(res => {
          if (res.data.code === 0) {
            let _res = res.data.data
            // 如果结果没字段，添加字段
            if(!_res.fstarttime2 && _res.mclass !== 'od'){
              _res.fstarttime2 = `${_res.fissuedate} ${_res.fstarttime}`
            }
            if(!_res.fendtime2 && _res.mclass !== 'od'){
              _res.fendtime2 = `${_res.fissuedate} ${_res.fendtime}`
            }
            // 判断是否跨天
            if((((+new Date(_res.fstarttime2)) - (+new Date(_res.fendtime2))) > 0) && _res.mclass !== 'od'){
              _res.fstarttime2 = this.$dayjs(_res.fstarttime2).subtract(1, 'days').format('YYYY-MM-DD HH:mm:ss')
            }
            this.adData = _res
            this.liveurl = res.data.data.issueurl
            this.yburl = res.data.data.favifilename
            if (res.data.data.source_state && res.data.data.source_state === '1') {
              this.timer = setInterval(() => {
                this._checkCreated(Array.of(res.data.data.source_id))
              }, 3000)
            }
            if ((this.adData.mclass === '01' || this.adData.mclass === '02') && !this.issample) {
              axios.get(res.data.data.issueurl, {}, { timeout: 1500 })
                .then(req => {
                  if (req.data.length <= 91) {
                    this.videoUrl = res.data.data.favifilename
                    this.islive = false
                  } else {
                    this.videoUrl = res.data.data.issueurl
                    this.islive = true
                  }
                })
                .catch(e => {
                  this.videoUrl = res.data.data.favifilename
                  this.islive = false
                })
            } else {
              this.videoUrl = res.data.data.favifilename
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _createCC() {
      this.creatBtn = true
      let data = {}
      data.source_type = 10
      data.media_id = this.adData.fid || this.data.fmediaid
      data.source_name = `${this.adData.fadname} ${this.adData.fstarttime}-${this.adData.fendtime}`
      if (this.adData.mclass === '01') {
        data.mclass = '01'
      } else if (this.adData.mclass === '02') {
        data.mclass = '02'
      } else if (this.adData.mclass === '03') {
        data.mclass = '03'
      }
      data.tid = this.adData.tid || this.adData.identify
      data.Sstart = this.adData.fstarttime2 || this.adData.fstarttime
      data.Send = this.adData.fendtime2 || this.adData.fendtime
      axios.post(this.$_ + '/Agp/Fmonitoring/add_source_make', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.timer = setInterval(() => {
              this._checkCreated(Array.of(res.data.data.source_id))
            }, 3000)
            this.$set(this.adData, 'source_id', res.data.data.source_id)
            this.$set(this.adData, 'source_state', res.data.data.source_state.toString())
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _checkCreated(arr) {
      axios.post(this.$_ + '/Agp/Fmonitoring/get_source_make_state', qs.stringify({ selsource_id: arr }))
        .then(res => {
          if (res.data.code === 0) {
            this.creatBtn = false
            clearInterval(this.timer)
            this._getDetails()
          }
        })
    },
    _colse() {
      this.islive = true
      this.videoUrl = ''
      this.$emit('close')
    },
    _changurl() {
      this.islive = !this.islive
      this.videoUrl = this.islive ? this.liveurl : this.yburl
    },
    _add() {
      let data = {
        wtk_title: this.adData.fadname,
        wtk_content: `${this.adData.fconfirmations || ''}\n${this.adData.fexpressions || ''}\n${this.adData.fillegalcontent || ''}`,
        wtk_type: '违法预警',
        wtk_object: '0'
      }
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + '/Agp/Fwarning/add_warning', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    }
  },
  beforeDestroy() {
    clearInterval(this.timer)
    this.timer = null
  },
  computed: {
    issueDate(){
      return this.adData.fissuedate
    },
    issueDuringDate(){
      return `${this.adData.fstarttime} ~ ${this.adData.fendtime}`
    }
  },
  watch: {
    videoUrl() {
      this.showPlayer = false
      setTimeout(() => {
        this.showPlayer = true
      }, 500)
    }
  }
}
</script>
<style lang="scss" scoped>
p{
  margin: 0;
}
.iss-dialog .el-card .el-row {
  margin-bottom: 10px;
}

.iss-dialog {
  .imgBlock {
    height: 300px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .odBlock {
    height: 300px;
    overflow: hidden;
    img {
      display: none;
    }
  }
  & /deep/ .el-tab-pane{
    & /deep/ .el-form{
      & /deep/ .el-form-item{
        margin-bottom: 0px;
      }
    }
  }
}
.video-content {
  width: 550px;
  height: 318px;
  position: relative;
  .changebtn {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 9;
  }
}
</style>
