<template>
  <el-card shadow="hover" class="list-item" :body-style="{ 'padding': '0px','overflow': 'hidden' }">
    <div class="item-warp">
      <div class="list-content"
        :style="{'backgroundImage':`url(${data.attribute08})`}">
      <div class="item-cover">
        <p class="title">{{data.title || '无标题'}}</p>
        <p class="appname">
          <a :href="data.target_url || 'javascript:void(0);'"
          target="_blank">
            来源：{{data.attribute05}}
          </a>
        </p>
      </div>
      </div>
      <div class="item-bg"></div>
    </div>
  </el-card>
</template>

<script>
export default {
  props: {
    data: {
      default: () => { },
      type: Object
    }
  },
  data() {
    return {
    }
  },
}
</script>

<style scoped lang="scss">
.el-card {
  margin-bottom: 10px;
  position: relative;
  &:hover{
    cursor: pointer;
  }
  .item-warp{
    height: 200px;
    overflow: hidden;
    .list-content {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      position: absolute;
      top: 10px;
      left:10px;
      right: 10px;
      bottom: 10px;
      &:hover{
        .item-cover{
          bottom: 0px;
        }
      }
      .item-cover{
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        height: 60px;
        left:0px;
        right: 0px;
        bottom: -38px;
        transition: ease 0.2s;
        padding: 3px 8px;
        color: #fff;
        p{
          margin: 0;
        }
        .title{
          display: block;
          width: 15em;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
        .appname{
          position: absolute;
          bottom: 4px;
          right: 4px;
          font-size: 13px;
          font-weight: bold;
          text-align: right;
          a{
            color: #fff;
            &:hover{
              color: rgb(223, 83, 83);
            }
          }
        }
      }
    }
    .item-bg{
      background-color: #f1f1f1;
      height: 100%;
    }
  }
}
</style>