<template>
  <div class="niss-dialog">
    <el-dialog
      title="发布详情"
      center
      :before-close="_colse"
      :visible.sync="show"
      width="1000px">
      <el-row :gutter="20">
        <el-col :span="12">
          <el-tabs v-model="activeName2" v-if="!adData.article_content">
            <el-tab-pane label="广告图片" name="1">
              <div class="imgBlock">
                <a :href="adData.thumb_url_true" v-if="adData.thumb_url_true" target="_blank">
                  <img :src="adData.thumb_url_true" alt="图片加载失败">
                </a>
                <img :src="adData.thumb_url_true" alt="图片加载失败" v-else>
              </div>
            </el-tab-pane>
            <el-tab-pane label="快照图片" name="2" v-if="adData.net_snapshot">
              <div class="imgBlock2">
                <a :href="adData.net_snapshot" target="_blank" v-if="adData.net_snapshot">
                  <img :src="adData.net_snapshot" alt="图片加载失败">
                </a>
                <img :src="adData.net_snapshot" alt="图片加载失败" v-else>
              </div>
            </el-tab-pane>
          </el-tabs>
          <div class="article" v-if="adData.article_content" v-html="adData.article_content.replace(/mmbiz.qpic.cn/g,'hz-weixin-img.oss-cn-hangzhou.aliyuncs.com').replace(/width: auto !important;/g,'')" style="height:600px;overflow:auto;"></div>
        </el-col>
        <el-col :span="12">
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息" name="1">
              <el-card>
                <el-row>
                  <el-col :span="4">广告名称：</el-col>
                  <el-col :span="20">{{ adData.fadname ? adData.fadname : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">品牌：</el-col>
                  <el-col :span="20">{{ adData.fbrand ? adData.fbrand : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">代言人：</el-col>
                  <el-col :span="20">{{ adData.fspokesman ? adData.fspokesman + ' 次' : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">广告主：</el-col>
                  <el-col :span="20">{{ adData.fadowner_name ? adData.fadowner_name : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">发布媒体：</el-col>
                  <el-col :span="20">{{ adData.fmedianame ? adData.fmedianame : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="5">广告主域名：</el-col>
                  <el-col :span="19">{{ adData.net_advertiser ? adData.net_advertiser : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">广告类别：</el-col>
                  <el-col :span="20">{{ adData.fadclass ? adData.fadclass : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">版面：</el-col>
                  <el-col :span="20">{{ adData.fpage ? adData.fpage : '暂无' }}</el-col>
                </el-row>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="违法信息" name="2">
              <el-card>
                <el-row>
                  <el-col :span="4">违法类型：</el-col>
                  <el-col :span="20">{{ adData.fillegaltype ? adData.fillegaltype : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">认定依据：</el-col>
                  <el-col :span="20">{{ adData.fconfirmations ? adData.fconfirmations : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">违法表现：</el-col>
                  <el-col :span="20">{{ adData.fexpressions ? adData.fexpressions : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="4">违法内容：</el-col>
                  <el-col :span="20" v-html="adData.fillegalcontent || '暂无'"></el-col>
                </el-row>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="其他信息" name="3">
              <el-card>
                <el-row>
                  <el-col :span="24">生产批准文号：</el-col>
                  <el-col :span="24">{{ adData.fmanuno ? adData.fmanuno : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告中标识的生产批准文号：</el-col>
                  <el-col :span="24">{{ adData.fadmanuno ? adData.fadmanuno : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告批准文号：</el-col>
                  <el-col :span="24">{{ adData.fapprno ? adData.fapprno : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告中标识的广告批准文号：</el-col>
                  <el-col :span="24">{{ adData.fadapprno ? adData.fadapprno : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">广告中标识的生产企业（证件持有人）名称：</el-col>
                  <el-col :span="24">{{ adData.fadent ? adData.fadent : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">生产企业（证件持有人）名称：</el-col>
                  <el-col :span="24">{{ adData.fent ? adData.fent : '暂无' }}</el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">生产企业（证件持有人）所在地区：</el-col>
                  <el-col :span="24">{{ adData.fentzone ? adData.fentzone : '暂无' }}</el-col>
                </el-row>
              </el-card>
            </el-tab-pane>
          </el-tabs>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['data','posturl'],
  data(){
    return {
      adData: {},
      show: true,
      activeName: '1',
      activeName2: '1'
    }
  },
  created(){
    const sid = this.data.sid
    const mclass = this.data.mclass
    const tbname = this.data.tbname
    let params = {sid,mclass,tbname}
    axios.post(this.$_ + this.posturl,qs.stringify(params))
    .then(res => {
      if(res.data.code === 0){
        let d = res.data.data || {}
        d.thumb_url_true = d.thumb_url_true ? d.thumb_url_true.replace(new RegExp(this.$url,'g'),'hz-data.com') : ''
        d.net_snapshot = d.net_snapshot ? d.net_snapshot.replace(new RegExp(this.url,'g'),'hz-data.com') : ''
        this.adData = d
      }else{
        this.$func._error(res.data)
      }
    })
    .catch(() => {
      this.$func._error()
    })
  },
  methods: {
    _colse(){
      this.$emit('close')
    }
  }
}
</script>
<style>
.niss-dialog .el-card .el-row{
  margin-bottom: 10px;
}
.niss-dialog .imgBlock{
  height: 300px;
  overflow: hidden;
}
.niss-dialog .imgBlock img{
  max-width: 100%;
}
.niss-dialog .imgBlock2{
  height: 300px;
  overflow: auto;
}
.niss-dialog .article img{
  width: 100%;
}
</style>
