<template>
  <el-dialog :title="adData.fadname || '暂无'"
    center
    class="niss-dialog"
    append-to-body
    :before-close="_colse"
    :visible.sync="show"
    width="1000px">
    <el-row :gutter="20">
      <el-col :span="12">
        <el-tabs v-model="activeName2"
          v-if="!adData.article_content">
          <el-tab-pane label="广告图片"
            name="1">
            <div class="imgBlock"
              v-if="adData.ftype === 'image'">
              <a :href="adData.thumb_url_true"
                v-if="adData.thumb_url_true"
                target="_blank">
                <img :src="adData.thumb_url_true"
                  alt="图片加载失败">
              </a>
              <img :src="adData.thumb_url_true"
                alt="图片加载失败"
                v-else>
            </div>
            <div v-if="adData.ftype === 'swf'">
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
                width="100%">
                <param name="movie"
                  :value="adData.thumb_url_true">
                <param name="quality"
                  value="high">
                <param name="wmode"
                  value="transparent">
                <embed :src="adData.thumb_url_true"
                  quality="high"
                  pluginspage="http://www.macromedia.com/go/getflashplayer"
                  type="application/x-shockwave-flash"
                  width="100%">
              </object>
            </div>
            <div v-if="adData.ftype === 'text'">
              <a :href="adData.thumb_url_true"
                target="_blank">{{adData.fadname}}</a>
            </div>
          </el-tab-pane>
          <el-tab-pane label="落地页截图"
            name="2"
            v-if="adData.net_snapshot">
            <div class="imgBlock2">
              <a :href="adData.net_snapshot"
                target="_blank"
                v-if="adData.net_snapshot">
                <img :src="adData.net_snapshot"
                  width="100%"
                  alt="图片加载失败">
              </a>
              <img :src="adData.net_snapshot"
                width="100%"
                alt="图片加载失败"
                v-else>
            </div>
          </el-tab-pane>
          <el-tab-pane label="快照图片"
            name="3"
            v-if="Number(adData.net_platform) === 1">
            <div class="imgBlock2">
              <a :href="adData.net_original_snapshot || adData.net_snapshot"
                style="position: relative;"
                target="_blank">
                <img :src="adData.net_original_snapshot || adData.net_snapshot"
                  width="100%"
                  alt="图片加载失败">
                  <div
                    v-if="$store.state.userInfo.system_num == 640000"
                    style="position: absolute; bottom: 10px; right: 20px; color:#909399;font-size: 12px; font-style:italic;  width: 30%;line-height: 20px;text-align: right;">
                    <div>华治数聚</div>
                    <div>{{ adData.fmediacode }}</div>
                    <div style="word-break: break-all;word-wrap: break-word;">{{ adData.net_original_url }}</div>
                    <div style="word-break: break-all;word-wrap: break-word;">{{ adData.net_target_url }}</div>
                </div>
              </a>
            </div>
          </el-tab-pane>
        </el-tabs>
        <div class="article"
          v-if="adData.article_content"
          v-html="adData.article_content.replace(/mmbiz.qpic.cn/g,'hz-weixin-img.oss-cn-hangzhou.aliyuncs.com').replace(/width: auto !important;/g,'')"
          style="height:580px;overflow:auto;"></div>
      </el-col>
      <el-col :span="12">
        <el-tabs v-model="activeName">
          <el-tab-pane label="基本信息"
            name="1">
              <el-form label-width="120px">
                <el-form-item label="媒体类型：">
                  {{$store.state.allmediatype[adData.mclass]}}
                </el-form-item>
                <el-form-item label="发布媒体：">
                  {{ adData.fmedianame || '暂无' }}
                </el-form-item>
                <el-form-item label="广告名称：">
                  {{ adData.fadname || '暂无' }}
                </el-form-item>
                <el-form-item label="品牌：">
                  {{ adData.fbrand || '暂无' }}
                </el-form-item>
                <el-form-item label="广告主：">
                  {{ adData.fadowner_name || '暂无' }}
                </el-form-item>
                <el-form-item label="广告联盟：">
                  {{ adData.fracker || '暂无' }}
                </el-form-item>
                <el-form-item label="媒体机构：">
                  {{ adData.fmediaownername || '暂无' }}
                </el-form-item>
                <el-form-item label="广告主域名：">
                  {{ adData.net_advertiser || '暂无' }}
                </el-form-item>
                <el-form-item label="广告类别：">
                  {{ adData.fadclass || '暂无' }}
                </el-form-item>
                <el-form-item label="广告发布页面："
                  v-if="adData.net_platform === '1'">
                  <a :href="adData.net_original_url"
                    target="_blank">
                    <div class="netlink" :title="adData.net_original_url">{{adData.net_original_url}}</div>
                  </a>
                </el-form-item>
                <el-form-item label="广告落地页：">
                  <a :href="adData.net_target_url"
                    target="_blank">
                    <div class="netlink" :title="adData.net_target_url">{{adData.net_target_url}}</div>
                  </a>
                </el-form-item>
                <el-form-item label="发布页截图：">
                  <a :href="adData.net_snapshot"
                    target="_blank">
                    <div class="netlink" :title="adData.net_snapshot">{{adData.net_snapshot}}</div>
                  </a>
                </el-form-item>
              </el-form>
          </el-tab-pane>
          <el-tab-pane label="违法信息"
            name="2"
            v-if="adData.fillegaltypecode > '0'">
              <el-form label-width="120px">
                <el-form-item label="违法类型：">
                  {{ adData.fillegaltype || '暂无' }}
                </el-form-item>
                <el-form-item label="认定依据：">
                  {{ adData.fconfirmations || '暂无' }}
                </el-form-item>
                <el-form-item label="违法表现代码：">
                {{ adData.fexpressioncodes || '暂无' }}
              </el-form-item>
                <el-form-item label="违法表现：">
                  {{ adData.fexpressions || '暂无' }}
                </el-form-item>
                <el-form-item label="违法内容：">
                  <div id="wfnr"
                    v-html="adData.fillegalcontent || adData.fexpressions || '暂无'"></div>
                </el-form-item>
              </el-form>
          </el-tab-pane>
          <el-tab-pane label="其他信息"
            name="3">
              <el-form label-width="300px">
                <el-form-item label="生产批准文号：">
                  {{ adData.fmanuno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告中标识的生产批准文号：">
                  {{ adData.fadmanuno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告批准文号：">
                  {{ adData.fapprno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告中标识的广告批准文号：">
                  {{ adData.fadapprno || '暂无' }}
                </el-form-item>
                <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                  {{ adData.fadent || '暂无' }}
                </el-form-item>
                <el-form-item label="生产企业（证件持有人）名称：">
                  {{ adData.fent || '暂无' }}
                </el-form-item>
                <el-form-item label="生产企业（证件持有人）所在地区：">
                  {{ adData.fentzone || '暂无' }}
                </el-form-item>
              </el-form>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
  </el-dialog>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['data', 'posturl', 'area'],
  data() {
    return {
      adData: {},
      show: true,
      activeName: '1',
      activeName2: '1'
    }
  },
  created() {
    const sid = this.data.sid
    const mclass = this.$route.name === 'ckwfmingxi' ? `w${this.data.mclass}` : this.data.mclass
    const tbname = this.data.fissuedate
    let params = { sid, mclass, tbname}
    axios.post(this.$_ + this.posturl, qs.stringify(params))
      .then(res => {
        if (res.data.code === 0) {
          let d = res.data.data || {}
          d.thumb_url_true = d.thumb_url_true ? d.thumb_url_true.replace(new RegExp(this.$url, 'g'), 'hz-data.com') : ''
          d.net_snapshot = d.net_snapshot ? d.net_snapshot.replace(new RegExp(this.$url, 'g'), 'hz-data.com') : ''
          this.adData = d
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
  },
  methods: {
    _colse() {
      this.$emit('close')
    }
  }
}
</script>
<style>
p{
  margin: 0;
}
.niss-dialog .el-form .el-form-item {
  margin-bottom: 0 !important;
}
.niss-dialog .el-card .el-row {
  margin-bottom: 10px;
}
.niss-dialog .imgBlock {
  height: 300px;
  overflow: hidden;
}
.niss-dialog .imgBlock img {
  max-width: 100%;
}
.niss-dialog .imgBlock2 {
  height: 300px;
  overflow: auto;
}
.niss-dialog .article img {
  width: 100%!important;
}
#wfnr img {
  width: 100%;
}
.netlink{
  width: 20em;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis; 
  color: #00C1DE;
}
</style>
