<template>
  <div class="clue-inform-table">
    <el-dialog
      width="1000px"
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <p class="text-right">（编号：{{backForm.fdnum2}}）</p>
        <h2 style="text-align:center">涉嫌违法广告线索处理告知书</h2>
        <p>{{ backForm.fdgetpersonname2 }}:</p>
        <p>你于{{backForm.fdreporttime2}}反映{{backForm.fdreportmedianame2}}涉嫌违反有关广告法律法规及规章的举报材料，本局于{{ backForm.fdreleasetime2 }}收悉。</p>
        <p>对你举报的涉嫌违法广告线索，我局已将其移送给{{backForm.fdreportmedianame2}}所在地管辖机关{{backForm.fdreleasecompany2}}处理。</p>
        <p>特此告知！</p>
        <p class="text-right" v-text="backForm.fdreleasetime2"></p>
      </div>
      <div>
        <h2 style="text-align:center">送达回证</h2>
        <table
          border="1"
          width="100%"
          cellspacing="0"
          cellpadding="10">
          <tr>
            <td width="60px" height="60px">送达地点</td>
            <td colspan="2"></td>
            <td width="60px">送达方式</td>
            <td></td>
          </tr>
          <tr>
            <td height="150px">收件人</td>
            <td width="40%">
              <p class="pull-right">
                （签名或者盖章）<br>
                  年   月   日
              </p>
            </td>
            <td width="60px">送达人</td>
            <td colspan="2">
              <p class="pull-right">
                （签名或者盖章）<br>
                  年   月   日
              </p>
            </td>
          </tr>
          <tr>
            <td height="60px">备注</td>
            <td colspan="4"></td>
          </tr>
        </table>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','backForm'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
