<template>
  <div class="feedback-table">
    <el-dialog
      width="1000px"
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">{{ backForm.fdgiveregulatorname }}</h2>
        <h2 style="text-align:center">关于（送达文书文号）线索处置结果反馈</h2>
        <p>{{ backForm.fdwaitregulatorname }}:</p>
        <p>本局于{{ backForm.fdwaittime }}收到你局转办的涉嫌违法广告线索(送达文书文号)。现将办理情况答复如下：</p>
        <p>1.{{backForm.fdillegals}}</p>
        <p>2.{{backForm.fdcontent}}</p>
        <p>2.{{backForm.fdreplycontent}}</p>
        <p class="text-right">{{ backForm.fdgiveregulatorname }}</p>
        <p class="text-right" v-text="backForm.fdbacktime"></p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','backForm'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
