<template>
  <div class="transfer-self-table">
    <el-dialog
      width="1000px"
      :visible.sync="innerVisible"
      append-to-body
      :before-close="_closePreview">
      <div
        ref="tableView"
        style="width:100%">
        <h2 style="text-align:center">涉嫌违法广告线索转送书</h2>
        <p style="text-align:center">（ 工商广转字 {{ transferSelfForm.fdnum }} 号）</p>
        <p>检查分局:</p>
        <p>下列广告涉嫌违法，现转送你分局立案查处。</p>
        <p style="float:left">涉嫌违法广告：</p><pre style="display:inline-block" v-html="transferSelfForm.fdtillegalad"></pre>
        <p>联系人：<span class="text-ul"> {{ transferSelfForm.fdpersonname }} </span>  联系电话：<span class="text-ul"> {{ transferSelfForm.fdpersonmobile }} </span></p>
        <p style="float:left">附件：</p><pre style="display:inline-block" v-html="transferSelfForm.fdfiletext"></pre>
        <p class="text-right">{{ transferSelfForm.fdreleasecompany }}</p>
        <p class="text-right" v-text="transferSelfForm.fdmovetime"></p>
      </div>
      <div>
        <h2 style="text-align:center">送达回证</h2>
        <table
          border="1"
          width="100%"
          cellspacing="0"
          cellpadding="10">
          <tr>
            <td width="60px" height="60px">送达地点</td>
            <td colspan="2"></td>
            <td width="60px">送达方式</td>
            <td></td>
          </tr>
          <tr>
            <td height="150px">收件人</td>
            <td width="40%">
              <p class="pull-right">
                （签名或者盖章）<br>
                  年   月   日
              </p>
            </td>
            <td width="60px">送达人</td>
            <td colspan="2">
              <p class="pull-right">
                （签名或者盖章）<br>
                  年   月   日
              </p>
            </td>
          </tr>
          <tr>
            <td height="60px">备注</td>
            <td colspan="4"></td>
          </tr>
        </table>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props:['innerVisible','transferSelfForm'],
  methods: {
    _closePreview(){
      this.$emit('closePreview')
    }
  }
}
</script>
