<template>
  <div>
    <el-dialog title="创建任务" :visible.sync="show" @close="close" width="1000px" center>
      <el-form :model="form" label-width="90px">
        <el-row>
          <el-col :span="8" style="height: 46px">
            <el-form-item label="抽查日期">
              <el-date-picker :editable="false"
                style="width:100%"
                v-model="form.dates"
                :picker-options="pickerOptions"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                align="right"
                :clearable="false"
                value-format="yyyy-MM-dd"
                @focus="minDate = null">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="抽查天数">
              <el-input v-model="form.rndDays" type="number" :max="31" :min="1"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="地区选择" label-width="110px">
              <el-col :span="14">
                <el-cascader
                  :clearable="true"
                  :options="mediaArea"
                  :props="areaOptions"
                  v-model="form.area">
                </el-cascader>
              </el-col>
              <span>
                &nbsp;&nbsp;
                <el-checkbox v-model="form.iscontain" true-label="1" false-label="0">包含下级</el-checkbox>
              </span>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="媒体所属">
              <el-select v-model="form.mediaType" placeholder="请选择媒体所属" clearable style="width: 100%">
                <el-option v-for="(value,key) in mediaBelong"
                  :key="key"
                  :label="value.label"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="媒体类型">
              <el-select v-model="form.mediaClass"
                placeholder="请选择"
                clearable
                multiple
                style="width: 100%"
                collapse-tags>
                <el-option v-for="(value,key) in mediaType"
                  :key="key"
                  :label="value.label"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="7">
            <el-form-item label="信用评价媒体" label-width="110px">
              <el-select
                v-model="form.fisxinyong"
                clearable
                style="width: 100%"
                placeholder="全部">
                <el-option v-for="(val,key) in creditMedia"
                  :key="key"
                  :label="val.label"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="text-align: right;">
          <el-checkbox v-model="form.rndGuDing" true-label="1" false-label="0">统一生成结果</el-checkbox>
          <el-button type="success" @click="creatRandom" style="margin-left: 10px">随机生成</el-button>
        </el-row>
      </el-form>
      <div>
        <div>随机列表清单</div>
        <el-table :data="tableData" border stripe height="300px" v-loading="loading">
          <el-table-column type="index" label="#"></el-table-column>
          <el-table-column prop="fmedianame" label="媒体名称"  width="140px" show-overflow-tooltip></el-table-column>
          <el-table-column prop="regionname" label="地区" width="100px"></el-table-column>
          <el-table-column prop="days" label="抽查日期">
            <template slot-scope="scope">
              <div v-if="scope.row.days">
                <el-tag v-for="(item) in scope.row.days" :key="item" type="success" style="margin-right: 4px;">
                  {{$dayjs(item).format('DD')}}
                </el-tag>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="80px">
             <template slot-scope="scope">
              <el-button type="text" @click="deleted(scope.row.fid)" style="color: #F56C6C;">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="close">取 消</el-button>
        <el-button type="primary" @click="oneKeyTask()" :loading="$store.state.sloading">{{ $store.state.sloading ? '创建中' : '创建任务'}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getMediatregion } from "@/api/MediaIssue.js"
import { randOneKeyDay , oneKeyTask} from "@/api/TaskManage.js"
import Tree  from '@/utils/Tree.js'
import { mapGetters } from 'vuex'
  export default {
    data() {
      let month = this.$dayjs().format('YYYY-MM')
      return {
        loading: false,
        show: true,
        form: {
          dates: [],
          mediaType: '',
          mediaClass: [],
          mediaName: '',
          iscontain: '1',
          area: '',
          fisxinyong: '',
          rndGuDing: '1'
        },
        tableData: [],
        mediaArea: [],
        areaOptions: {
          value: 'fid',
          label: 'fname',
          children: 'children',
          checkStrictly: true,
          emitPath: false,
        },
        minDate: null,
        pickerOptions: {
          disabledDate: (time) => {
            if (this.minDate) {
              let val = this.minDate
              let y = val.getFullYear()
              let m = val.getMonth()
              let firstDay = new Date(y, m, 1)
              let lastDay = new Date(y, m + 1, 0)
              return time.getTime() > lastDay.getTime() || time.getTime() < firstDay.getTime()
            }
          },
          onPick: (val) => {
            this.minDate = val.minDate
          },
        },
      }
    },
    created() {
      this.getMediatregion()
    },
    methods:{
      creatRandom() {
        this.loading = true
        randOneKeyDay(this.form).then(res => {
          this.$notify.success(res.msg)
          this.loading = false
          this.tableData = res.data
        }).catch(() => this.loading = false)
      },
      oneKeyTask() {
        this.$store.commit('sloading', true)
        const data = {
          randTaskData: this.tableData
        }
        oneKeyTask(data).then(res => {
          this.$store.commit('sloading', false)
          this.$notify.success(res.msg)
          this.close()
          this.$emit('getList')
        }).catch(() => {
          this.close()
          this.$store.commit('sloading', false)
        })
      },
      deleted(fid) {
        this.$confirm('确认要删除该条数据吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.tableData = this.tableData.filter(i => {
            return i.fid != fid
          })
          this.$notify.success('删除成功！')
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      },
      getMediatregion() {
        getMediatregion().then(res=> {
          this.mediaArea = new Tree(res.data, 'fpid', 'fid').init(res.data[0].fpid)
        })
      },
      close() {
        this.form = {
          dates: [],
          mediaType: '',
          mediaClass: [],
          mediaName: '',
          iscontain: '1',
          area: '',
          fisxinyong: '',
          rndGuDing: '1',
        }
        this.show = false
        this.$store.commit('sloading', false)
        this.$emit('close')
      }
    },
    computed: {
    ...mapGetters(['mediaBelong', 'mediaType', 'taskManageStatus','creditMedia']),
    disabled(){
      return !Object.keys(this.selectedData).length
    },
  },
  }
</script>

<style lang="scss" scoped>

</style>