<template>
  <div class="timecontainer"
    id="timecontainer">
    <div class="swrap" @mouseleave="activeDay = ''">
      <div class="mainbox">
        <div class="_boxlist" @click.stop>
          <div class="_list" v-for="i in tableHead" :key="i.day">{{i.day}}</div>
          <div class="tips">
            <el-button type="text" @click="selectAllornot(0)">清除已选</el-button>
          </div>
        </div>
        <div class="boxlist"
          @mousedown="mousedownfn"
          v-for="item in list"
          :key="item.fid">
          <div class="list"
            :title="i.fflow"
            v-for="(i,index) in item.days"
            :class="{selected: i.selected === 1, archivenull: i.fstatus == 'null', archive0: i.fstatus == '0', archive1: i.fstatus == '1', archive4: i.fstatus == '4', archive10: i.fstatus == '10', hover: i.day === activeDay, 'credit0': i.fis_credit === '0', 'credit1': i.fis_credit === '1', 'finished': i.fflow === '归档'}"
            :data="item.fid + ',' + index + ',' + i.fday"
            @click.stop="setcurrent(i, index)"
            @mouseenter="setActiveDate(i)"
            @mouseleave="i.showNum = false"
            :key="index">
            <template v-if="i.showNum">
              {{i.day}}
            </template>
            <template v-else>
              {{i.fflow}}
            </template>
          </div>
        </div>
      </div>
    </div>
    <el-drawer
      :title="title"
      :visible.sync="drawer"
      direction="rtl">
      <div>
      <el-table
        :data="logData"
        style="width: 100%">
        <el-table-column
          type="index"
          width="50">
        </el-table-column>
        <el-table-column
          prop="fvalue"
          label="操作内容">
        </el-table-column>
        <el-table-column
          prop="fperson"
          label="操作人">
        </el-table-column>
        <el-table-column
          prop="ftime"
          label="操作时间">
        </el-table-column>
      </el-table>
      </div>
    </el-drawer>
  </div>
</template>

<script>
export default {
  props: {
    tableData: {
      type: Array,
      required: true,
    },
    tableHead: {
      type: Array,
      required: true,
    }
  },
  data() {
    return {
      drawer: false,
      title: '',
      list: [],
      selectAll: false,
      isSelect: true,
      selectBoxDashed: null,
      startX: null,
      startY: null,
      initx: null,
      scrollX: null,
      scrollY: null,
      inity: null,
      logData: [],
      activeDay: '',
      isMove: false,
    }
  },
  watch: {
    tableData: {
      handler() {
        this.list = [...this.tableData]
      },
      deep: true
    }
  },
  created() {
    this.list = [...this.tableData]
  },
  methods: {
    setcurrent(item) {
      if(this.isMove) return;
      this.$set(item, 'selected', item.selected ? 0 : 1)
      this.$nextTick(() => {
        this.$emit('triggertime', this.getData())
      })
    },
    clearBubble(e) {
      if (e.stopPropagation) {
        e.stopPropagation()
      } else {
        e.cancelBubble = true
      }
      if (e.preventDefault) {
        e.preventDefault()
      } else {
        e.returnValue = false
      }
    },
    mousedownfn(e) {
      //  创建选框节点
      this.selectBoxDashed = document.createElement('div')
      this.selectBoxDashed.className = 'select-box-dashed'

      document.getElementById('timecontainer').appendChild(this.selectBoxDashed)
      this.scrollX = document.documentElement.scrollLeft || document.body.scrollLeft
      this.scrollY = document.documentElement.scrollTop || document.body.scrollTop
      //  设置选框的初始位置
      this.startX = e.x + this.scrollX || e.clientX + this.scrollX
      this.startY = e.y + this.scrollY || e.clientY + this.scrollY
      this.selectBoxDashed.style.cssText = `left:${this.startX}px;top:${this.startY}px;pointer-events: none;`
      //  清除事件冒泡、捕获
      this.clearBubble(e)
      document.getElementById('timecontainer').addEventListener('mousemove', this.mousemovefn)
      document.getElementById('timecontainer').addEventListener('mouseup', this.mouseUpfn)
    },
    mousemovefn(e) {
      // 全局变量
      this.isMove = true
      //  设置选框可见
      this.selectBoxDashed.style.display = 'block'
      //  根据鼠标移动，设置选框的位置、宽高
      this.initx = e.x + this.scrollX || e.clientX + this.scrollX
      this.inity = e.y + this.scrollY || e.clientY + this.scrollY
      //  暂存选框的位置及宽高，用于将 select-item 选中
      this.left = Math.min(this.initx, this.startX)
      this.top = Math.min(this.inity, this.startY)
      this.width = Math.abs(this.initx - this.startX)
      this.height = Math.abs(this.inity - this.startY)

      this.selectBoxDashed.style.left = `${this.left}px`
      this.selectBoxDashed.style.top = `${this.top}px`
      this.selectBoxDashed.style.width = `${this.width}px`
      this.selectBoxDashed.style.height = `${this.height}px`
      let fileDivs = document.getElementsByClassName('list')
      for (let i = 0; i < fileDivs.length; i++) {
        let itemX_pos = fileDivs[i].offsetWidth + fileDivs[i].offsetLeft
        let itemY_pos = fileDivs[i].offsetHeight + fileDivs[i].offsetTop
        let condition1 = itemX_pos > this.left
        let condition2 = itemY_pos > this.top
        let condition3 = fileDivs[i].offsetLeft < (this.left + this.width)
        let condition4 = fileDivs[i].offsetTop < (this.top + this.height)
        if (condition1 && condition2 && condition3 && condition4) {
          fileDivs[i].classList.add('temp-selected')
        } else {
          fileDivs[i].classList.remove('temp-selected')
        }
      }
      this.clearBubble(e)
    },
    mouseUpfn(e) {
      document.getElementById('timecontainer').removeEventListener('mousemove', this.mousemovefn)
      let selectDom = document.getElementsByClassName('temp-selected');
      [].slice.call(selectDom).forEach(item => {
        if (item.classList.contains('selected')) {
          item.classList.remove('selected')
        } else {
          item.classList.add('selected')
        }
        item.classList.remove('temp-selected')
      })
      if (this.selectBoxDashed) {
        try {
          this.selectBoxDashed.parentNode.removeChild(this.selectBoxDashed)
          this.selectBoxDashed = null
        } catch (err) {
          console.log(err)
        }
      }
      let fileDivs = document.getElementsByClassName('list')
      for (let i = 0; i < fileDivs.length; i++) {
        let data = fileDivs[i].getAttribute('data').split(',')
        if (fileDivs[i].classList.contains('selected')) {
          this.toggleSelected(1, data)
        } else {
          this.toggleSelected(0, data)
        }
      }
      this.clearBubble(e)
      setTimeout(() => {
        this.isMove = false
      },200)
      this.$nextTick(() => {
        this.getData()
        this.$emit('triggertime', this.getData())
      })
    },
    getData() {
      let fileDivs = document.getElementsByClassName('list')
      let selected = Array.prototype.map.call(fileDivs, i => {
        if (i.classList.contains('selected')) {
          return i.getAttribute('data').split(',')
        }
        return null
      }).filter(i => i)
      let keys = Array.from(new Set(selected.map(i => i[0])))
      let result = {}
      keys.forEach(i => {
        let _days = selected.filter(v => v[0] === i).map(c => c[2]).join(',')
        result[i] = _days
      })
      return result
    },
    toggleSelected(value, data){
      let [fid, _index] = data
      let index = this.getIndex(this.list, 'fid', fid)
      this.list[index].days = this.list[index].days.map((i,index) => {
        if(index === +_index){
          i.selected = value
        }
        return i
      })
    },
    clearSelectedClass(){
      let fileDivs = document.getElementsByClassName('list')
      Array.prototype.forEach.call(fileDivs, i => {
        if (i.classList.contains('selected')) {
          i.classList.remove('selected')
        }
      })
    },
    selectAllornot(e) {
      return new Promise(resolve => {
        let value = e ? 1 : 0
        this.list = this.list.map(i => {
          i.days.map(v => {
            v.selected = value
            return v
          })
          return i
        })
        this.clearSelectedClass()
        this.$emit('triggertime', this.getData())
        resolve()
      })
    },
    getIndex(box, name, objectId) {
      let index = box.map(e => e[name]).indexOf(objectId)
      return index
    },
    setActiveDate(i){
      this.$set(i, 'showNum', true)
      this.activeDay = i.day
    }
  }
}
</script>

<style lang="scss" scoped>
.timecontainer {
  overflow: hidden;
  .swrap {
    overflow: hidden;
  }
  .mainbox {
    vertical-align: middle;
    overflow: hidden;
    user-select:none;
  }
  .boxlist {
    overflow: hidden;
    height: 36px;
    box-sizing: border-box;
    border-right: 1px solid #EBEEF5;
    display: flex;
    flex-wrap: nowrap;
    &:hover{
      background-color: #F5F7FA;
    }
    .list {
      height: 36px;
      width: 35px;
      cursor: pointer;
      font-size: 12px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #EBEEF5;
      box-sizing: border-box;
      line-height: 36px;
      text-align: center;
      position: relative;
      &:hover{
        background-color: #eee;
        color: #000!important;
      }
      &.hover{
        background-color: #F5F7FA;
      }
      &.selected {
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background-color: rgb(245, 252, 160)!important;
      }
      &.finished{
        color: #409EFF!important;
      }
      &.credit1{
        background-color: rgb(132, 238, 217);
      }
    }
  }
  ._boxlist {
    overflow: hidden;
    white-space:nowrap;
    height: 37px;
    box-sizing: border-box;
    border-bottom: 1px solid #EBEEF5;
    border-right: 1px solid #EBEEF5;
    border-top: 1px solid #EBEEF5;
    display: flex;
    ._list{
      height: 36px;
      width: 35px;
      border-right: 1px solid #EBEEF5;
      box-sizing: border-box;
      font-size: 14px;
      text-align: center;
      line-height: 36px;
      font-weight: bold;
    }
    .tips{
      float: right;
      display: flex;
      .tip-item{
        margin-left: 10px;
        .color-block{
          width: 14px;
          height: 14px;
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
  }
  .archivenull{
    color: #fff!important;
    font-weight: bold;
  }
  .archive0{
    color: #E6A23C!important;
    font-weight: bold;
  }
  .archive1{
    color: #1Ab394!important;
    font-weight: bold;
  }
  .archive4{
    color: #999!important;
    font-weight: bold;
  }
  .archive10{
    color: #F56C6C!important;
    font-weight: bold;
  }
}

</style>