<template>
  <div class="feed-back"
    v-loading="loading">
    <el-form ref="sform"
      label-width="0px">
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item>
            <el-button type="primary"
              class="pull-left"
              @click="_goBack">返回</el-button>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              @click="dialogFormVisible=true">在线留言</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      :height="$store.state.GTableHeight">
      <el-table-column prop="ftitle"
        label="标题"
        width="200">
      </el-table-column>
      <el-table-column prop="fcontent"
        label="问题详情">
      </el-table-column>
      <el-table-column prop="ffiles"
        label="附件">
        <template slot-scope="scope">
          <a :href="scope.row.ffiles+'?attname='+scope.row.ffilename"
            v-if="scope.row.ffiles">
            <el-button type="text">下载</el-button>
          </a>
        </template>
      </el-table-column>
      <el-table-column prop="fcreatetime"
        label="日期">
      </el-table-column>
      <el-table-column prop="fstatus"
        label="状态">
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)"
            type="text">查看</el-button>
          <el-button type="text"
            @click="handleDelete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <!-- 在线留言弹窗 -->
    <el-dialog title="在线留言"
      :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="标题"
          :label-width="formLabelWidth">
          <el-input v-model="dialogForm.ftitle"></el-input>
        </el-form-item>
        <el-form-item label="问题详情"
          :label-width="formLabelWidth">
          <el-input type="textarea"
            v-model="dialogForm.fcontent"
            :rows="5"></el-input>
        </el-form-item>
        <el-form-item label="上传附件"
          :label-width="formLabelWidth">
          <ill-annex @uploadSuccess="_uploadSuccess"
            @uploadError="_uploadError"></ill-annex>
          <el-button type="text"
            v-for="(ffiles,i) in dialogForm.ffiles"
            :key="i">{{ ffiles.name }}</el-button>
        </el-form-item>
      </el-form>
      <div slot="footer"
        class="dialog-footer">
        <el-button @click="_cancel">取 消</el-button>
        <el-button type="primary"
          @click="_submit"
          :loading="$store.state.bloading">提交</el-button>
      </div>
    </el-dialog>

    <!-- 查看弹出框 -->
    <el-dialog title="查看"
      :visible.sync="dialogCheckVisible"
      class="checkDialog">
      <table class="col-table">
        <tr>
          <th style="width:100px">标题</th>
          <td v-text="check.ftitle"></td>
        </tr>
        <tr>
          <th>问题详情</th>
          <td v-text="check.fcontent"></td>
        </tr>
        <tr>
          <th>问题回复</th>
          <td>
            <pre v-text="check.frecontent"></pre>
          </td>
        </tr>
        <tr>
          <th>回复附件</th>
          <td>
            <a :href="check.frefiles+'?attname='+check.frefilename"
              v-if="check.frefiles">
              <el-button type="text">{{check.frefilename}}</el-button>
            </a>
            <span v-else>无</span>
          </td>
        </tr>
      </table>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import illAnnex from "./clue/illAnnex";
export default {
  components: {
    illAnnex
  },
  data() {
    return {
      dialogFormVisible: false,
      dialogCheckVisible: false,
      dialogForm: {
        ftitle: '',
        fcontent: '',
        ffiles: [], //上传的附件，
      },
      formLabelWidth: '120px',
      //表格
      tableData: [],
      loading: false,
      form: {
        page: 1,
      },
      countAll: '0',
      //查看
      check: {

      }
    }
  },
  created() {
    this._getToken()
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    // 表格数据获取
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      axios.post(this.$_ + "/Agp/Gfankui/fankuilist", qs.stringify(this.form))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },

    //在线留言弹出框的操作
    _uploadSuccess(f) {   //文件上传成功
      if (this.dialogForm.ffiles = []) {
        let obj = { name: '', url: '' };
        obj.name = f.name;
        obj.url = this.bucket_url + f.response.key;
        this.dialogForm.ffiles.push(obj);
      }
    },
    _uploadError() {      //文件上传失败
      this.$message.error('上传失败');
    },
    _cancel() {
      this.dialogFormVisible = false;
      this.dialogForm.ftitle = '';
      this.dialogForm.fcontent = '';
      this.dialogForm.ffiles = [];
    },
    //弹出框提交按钮
    _submit() {
      this.$store.commit('_bloading', true)
      if (this.dialogForm.ftitle || this.dialogForm.fcontent) {
        this.dialogFormVisible = false;
        axios.post(this.$_ + "/Agp/Gfankui/fankuiadd", qs.stringify(this.dialogForm))
          .then(res => {
            if (res.data.code === 0) {
              this._getList()
              //清空反馈表格里的内容
              this.dialogFormVisible = false;
              this.dialogForm.ftitle = '';
              this.dialogForm.fcontent = '';
              this.dialogForm.ffiles = [];
            }
            this.$store.commit('_bloading', false)
          })
          .catch(() => {
            this.$func._error()
          })
      } else {
        this.$message.error('标题或反馈内容不能为空');
      }
    },
    //查看按钮
    handleClick(row) {
      let id = {
        fid: ''
      }
      id.fid = row.fid
      this.dialogCheckVisible = true
      axios.post(this.$_ + "/Agp/Gfankui/fankuiview", qs.stringify(id))
        .then(res => {
          if (res.data.code === 0) {
            this.check = res.data.data
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    //删除按钮
    handleDelete(row) {
      this.$confirm('此操作将永久删除该条反馈, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let id = {
          fid: ''
        }
        id.fid = row.fid
        axios.post(this.$_ + "/Agp/Gfankui/fankuidel", qs.stringify(id))
          .then(res => {
            if (res.data.code === 0) {
              this._getList()
            }
          })
          .catch(() => {
            this.$func._error()
          })
        this.$message({
          type: 'success',
          message: '删除成功!'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      });

    },


    _goBack() {
      this.$router.go(-1);
    },
    _getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    }

  }
}
</script>

<style lang="scss" scoped>
</style>
