<template>
  <div class="ghome">
    <el-row :gutter="20">
      <el-col class="_card"
        :span="this.$store.state.havenet ? 6 : 8">
        <home-card
          @handleClick="_mediaList('01')"
          icon-name="icon-zhongqingdianxinicon08"
          bg-color="#409eff"
          text="电视"
          :count="Data.tvmediacount + ' 家'" />
      </el-col>
      <el-col class="_card"
        :span="this.$store.state.havenet ? 6 : 8">
        <home-card
          @handleClick="_mediaList('02')"
          icon-name="icon-guangbo2"
          bg-color="#e6a23c"
          text="广播"
          :count="Data.bcmediacount + ' 家'" />
      </el-col>
      <el-col class="_card"
        :span="this.$store.state.havenet ? 6 : 8">
        <home-card
          @handleClick="_mediaList('03')"
          icon-name="icon-baozhi2"
          bg-color="#67c23a"
          text="报纸"
          :count="Data.papermediacount + ' 家'" />
      </el-col>
      <!-- 淄博与国家局有互联网模块 -->
      <el-col class="_card"
        :span="6">
        <home-card
          v-if="this.$store.state.havenet"
          @handleClick="_mediaList('13')"
          icon-name="icon-hulianwang"
          bg-color="#39c7c8"
          text="互联网"
          :count="Data.netmediacount + ' 家'" />
      </el-col>
    </el-row>
    <br>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-card v-loading="loading">
          <div ref="Charts1">
            <g-map v-if="showchart"></g-map>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
import Gmap from './Gmap'
import homeCard from './common/homeCard'
export default {
  components: {
    homeCard,
    'g-map': Gmap,
  },
  data() {
    return {
      //电视，广播，报纸的数量
      Data: {
        tvmediacount: '0',
        bcmediacount: '0',
        papermediacount: '0',
        netmediacount: '0'
      },
      loading: false,
      showchart: false,
    }
  },
  created() {
    this._getData()
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.Charts1.style.height = `${ document.body.clientHeight - 294 }px`
      this.showchart = true
    })
  },
  methods: {
    _mediaList(type) {
      this.$router.push({ name: 'medialist', params: { mclass: type } })
    },
    //电视,广播,报纸数量获取
    _getData() {
      this.loading = true
      axios.post(this.$_ + '/Agp/Index/ghome')
        .then(res => {
          if (res.data.code === 0) {
            this.Data = res.data.data
            this._setCharts(res.data.data)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
  }
}
</script>

<style lang="scss" scoped>
.ghome {
  .el-row {
    ._card {
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      &:nth-child(1) {
        .el-card {
          background-color: #409eff;
        }
      }
      &:nth-child(2) {
        .el-card {
          background-color: #e6a23c;
        }
      }
      &:nth-child(3) {
        .el-card {
          background-color: #67c23a;
        }
      }
      &:nth-child(4) {
        .el-card {
          background-color: #39c7c8;
        }
      }
    }
  }
}
</style>
