<template>
  <div class="ghome">
    <card-wrap title="整体看板" s-title="更新时间：2019-10-09 15:38:53" :b-style="{padding: '20px 40px'}">
      <el-row>
        <el-col :span="4" v-for="(item,index) in list" :key="index">
          <card-item :title="item.title" :value="item.value" :red="item.red" :unit="item.unit"/>
        </el-col>
      </el-row>
    </card-wrap>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
import cardWrap from '@/component/cardWrap'
import cardItem from '@/component/cardItem'
export default {
  components: {
    cardWrap,
    cardItem
  },
  data() {
    return {
      //电视，广播，报纸的数量
      Data: {
        tvmediacount: '0',
        bcmediacount: '0',
        papermediacount: '0',
        netmediacount: '0'
      },
      loading: false,
      showchart: false,
      list: [
        {
          title: '电视',
          value: '12345',
          unit: '家',
        },
        {
          title: '广播',
          value: '12345',
          unit: '家',
        },
        {
          title: '报纸',
          value: '12345',
          unit: '家',
        },
        {
          title: '广告主',
          value: '12345',
          unit: '家',
        },
        {
          title: '广告量',
          value: '12345',
          unit: '条次',
        },
        {
          title: '推送线索量',
          value: '12345',
          unit: '条',
        },
        {
          title: '违规电视媒体',
          value: '15',
          unit: '家',
          red: true
        },
        {
          title: '违规广播媒体',
          value: '182',
          unit: '家',
          red: true
        },
        {
          title: '违规报纸媒体',
          value: '12',
          unit: '家',
          red: true
        },
        {
          title: '违规广告主',
          value: '63',
          unit: '家',
          red: true
        },
        {
          title: '违规广告占比',
          value: '15.29%',
          unit: '',
          red: true
        },
        {
          title: '线索处理占比',
          value: '35.29%',
          unit: '',
          red: true
        },
      ]
    }
  },
  created() {
    this._getData()
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.Charts1.style.height = `${ document.body.clientHeight - 294 }px`
      this.showchart = true
    })
  },
  methods: {
    _mediaList(type) {
      this.$router.push({ name: 'medialist', params: { mclass: type } })
    },
    //电视,广播,报纸数量获取
    _getData() {
      this.loading = true
      axios.post(this.$_ + '/Agp/Index/ghome')
        .then(res => {
          if (res.data.code === 0) {
            this.Data = res.data.data
            this._setCharts(res.data.data)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
  }
}
</script>

<style lang="scss" scoped>
.ghome {
}
</style>
