<template>
  <div class="ghome">
    <el-row :gutter="20">
      <el-col class="_card"
        :span="this.$store.state.havenet ? 8 : 6">
        <home-card
          @handleClick="_mediaList('01')"
          icon-name="icon-zhongqingdianxinicon08"
          bg-color="#409eff"
          text="电视"
          :noCreditNum="Data['01'].notxinyongcount"
          :creditNum="Data['01'].isxinyongcount"
          :count="Data['01'].count + ' 家'" />
      </el-col>
      <el-col class="_card"
        :span="this.$store.state.havenet ? 8 : 6">
        <home-card
          @handleClick="_mediaList('02')"
          icon-name="icon-guangbo2"
          bg-color="#e6a23c"
          text="广播"
          :noCreditNum="Data['02'].notxinyongcount"
          :creditNum="Data['02'].isxinyongcount"
          :count="Data['02'].count + ' 家'" />
      </el-col>
      <el-col class="_card"
        :span="this.$store.state.havenet ? 8 : 6">
        <home-card
          @handleClick="_mediaList('03')"
          icon-name="icon-baozhi2"
          bg-color="#67c23a"
          text="报纸"
          :noCreditNum="Data['03'].notxinyongcount"
          :creditNum="Data['03'].isxinyongcount"
          :count="Data['03'].count + ' 家'" />
      </el-col>
      <el-col class="_card"
        :span="this.$store.state.havenet ? 8 : 6">
        <home-card
          @handleClick="_mediaList('04')"
          icon-name="icon-view"
          bg-color="#00c1de"
          text="期刊"
          :noCreditNum="Data['04'].notxinyongcount"
          :creditNum="Data['04'].isxinyongcount"
          :count="Data['04'].count + ' 家'" />
      </el-col>
      <!-- 淄博与国家局有互联网模块 -->
      <el-col class="_card"
        :span="6">
        <home-card
          v-if="this.$store.state.havenet"
          @handleClick="_mediaList('13')"
          icon-name="icon-hulianwang"
          bg-color="#39c7c8"
          text="互联网"
          :count="Data['13'].count + ' 家'" />
      </el-col>
    </el-row>
    <br>
    <el-row :gutter="20">
      <el-col :span="18">
        <el-card v-loading="loading">
          <div ref="Charts1">
            <g-map v-if="showchart"></g-map>
          </div>
        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card :body-style="{ padding: '10px' }" v-loading="loading" style="margin-bottom: 20px;">
          <div class="wrap-block" style="text-align: left">
            <h4 style="margin: 0px;color: #2593fc;margin-bottom: 8px;border-bottom: 1px solid #ebeef5;line-height: 30px;">公告列表</h4>
            <div class="list-wrap">
              <div class="notice-link" v-for="item in noticeList" :key="item.fid" @click="details(item)">
                <div><el-tag :type="noticeType[item.ftype].type" style="margin-right: 6px;">{{noticeType[item.ftype].label}}</el-tag></div>
                <div class="link-text" slot="reference" :title="item.ftitle">{{item.ftitle}}</div>
                <div>{{item.fissue_date}}</div>
              </div>
            </div>
          </div>
        </el-card>
        <el-card :body-style="{ padding: '10px' }" v-loading="loading">
          <div class="wrap-block" style="text-align: left">
            <h4 style="margin: 0px;color: #2593fc;margin-bottom: 8px;border-bottom: 1px solid #ebeef5;line-height: 30px;">待办任务</h4>
            <div class="list-wrap task-wrap">
              <div class="link" @click="clickPush(item)"
                v-for="(item,index) in $store.state.dbData"
                :key="index">{{item.fname}}</div>
              <div v-if="!$store.state.dbData.length">无任务</div>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>

  <el-dialog :visible.sync="noticeDialog" :title='detailes.ftitle' center top="6vh" width="860px">
    <div class='notice-wrap'>
      <div class="info">
        <span>公告类型：<el-tag :type="detailes.ftype ==='1' ? 'success' : detailes.ftype ==='2' ? 'primary' : 'danger'" size="small" v-if="detailes.ftype">{{ noticeType[detailes.ftype].label }}</el-tag></span>
        <span>公告时间： <span>{{ detailes.fissue_date }}</span></span>
      </div>
      <div id="content" v-html="detailes.fcontent"></div>
    </div>
  </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
import Gmap from './Gmap'
import homeCard from './common/homeCard'
import { mapState } from 'vuex'
export default {
  components: {
    homeCard,
    'g-map': Gmap,
  },
  data() {
    return {
      //电视，广播，报纸的数量
      Data: {
        "01": {count:0, isxinyongcount: 0, notxinyongcount: 0},
        "02": {count:0, isxinyongcount: 0, notxinyongcount: 0},
        "03": {count:0, isxinyongcount: 0, notxinyongcount: 0},
        "04": {count:0, isxinyongcount: 0, notxinyongcount: 0},
        "13": {count:0, isxinyongcount: 0, notxinyongcount: 0},
      },

      noticeList: [],
      loading: false,
      showchart: false,
      noticeDialog: false,
      detailes: {},
    }
  },
   computed: {
    ...mapState(['noticeType']),
  },
  created() {
    this._getData()
    this.getNoticeList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.Charts1.style.height = `${ document.body.clientHeight - 294 }px`
      this.showchart = true
    })
  },
  methods: {
    clickPush(row) {
      let arg = row.furl.split('|')
      this.$router.push({ name: arg[0], params: { year: '0', activeTab: arg[1] } })
    },
    details(row){
      this.noticeDialog = true
      this.detailes = row
    },
    getNoticeList(){
      let data = {
        pageSize: 6,
        nType: '',
        pageIndex: 1,
      }
      axios.post(this.$_ + '/Agp/Notice/noticeSelf', qs.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.noticeList = res.data.data || []
        } else {
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _mediaList(type) {
      this.$router.push({ name: 'medialist', params: { mclass: type } })
    },
    //电视,广播,报纸数量获取
    _getData() {
      this.loading = true
      axios.post(this.$_ + '/Agp/Index/ghome')
        .then(res => {
          if (res.data.code === 0) {
            this.Data = res.data.data
            // this._setCharts(res.data.data)
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
          this.loading = false
        })
    },
  }
}
</script>

<style lang="scss" scoped>
.ghome {

  .el-row {
    ._card {
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      &:nth-child(1) {
        .el-card {
          background-color: #409eff;
        }
      }
      &:nth-child(2) {
        .el-card {
          background-color: #e6a23c;
        }
      }
      &:nth-child(3) {
        .el-card {
          background-color: #67c23a;
        }
      }
      &:nth-child(4) {
        .el-card {
          background-color: #39c7c8;
        }
      }
    }
  }
  .list-wrap{
    height: 180px;
    &.task-wrap{
      height: calc(100vh - 576px);
    }
    .notice-link{
      font-size: 14px;
      color: #666;
      display: flex;
      line-height: 30px;
      justify-content: space-between;
      &:hover{
        cursor: pointer;
        color:#409EFF;
        text-decoration: underline;
      }
      .link-text{
        flex: 1;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
    .link{
      color: #303133;
      display: block;
      text-decoration: none;
      line-height: 24px;
      width: 100%;
      &:hover{
        cursor: pointer;
        color:#409EFF;
        text-decoration: underline;
      }
    }
    .more-wrap{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .notice-wrap{
    width: 100%;
    min-height: 400px;
    max-height: 800px;
    overflow: auto;
    .info{
      text-align: center;
    }
    #content{
      padding-top: 12px;
      width: 100%;
      overflow: auto;
      line-height: 24px;
      /deep/ form{
        width: 100%!important;
      }
      /deep/ p{
        margin: 0;
        text-indent: 2em;
      }
    }
  }
}
</style>
<style>

.el-dialog--center .el-dialog__body {
  padding: 10px 25px 25px 25px;
}
</style>
