<template>
  <div class="Manage">
    <el-container>
      <el-header height="50px">
        <header-content/>
      </el-header>
      <el-container class="content">
        <menu-content/>
        <el-main>
          <!-- <b-title :name="$route.meta[1] || $route.meta[1]"/> -->
          <transition name="slide-fade" v-if="$route.name !== 'ghome'">
            <el-card :body-style="{ padding: '10px', 'overflow-y': 'auto', height: 'calc(100vh - 94px)', 'overflow-x': 'hidden' }">
              <router-view v-if="$store.state.menu[0]['menu_id'] && $store.state.userInfo.regionid"></router-view>
            </el-card>
          </transition>
          <router-view v-if="$store.state.menu[0]['menu_id'] && $store.state.userInfo.regionid && $route.name === 'ghome'"></router-view>
        </el-main>
      </el-container>
    </el-container>
    <change-pwd v-if="!$store.state.safePWD||!$store.state.trueNUM"></change-pwd>
    <illegal v-if="showill" @close="showill = false" />
  </div>
</template>
<script>
import changePwd from './common/changePwd'
import menuContent from '@/views/layout/menuContent'
import headerContent from '@/views/layout/headerContent'
export default {
  components: {
    changePwd,
    menuContent,
    headerContent
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm._setMeta(vm, to)
      vm.$store.dispatch('_userMenujurisdiction', vm.$route.name).then(() => {
        vm.$store.dispatch('_getDB')
      })
      vm.$store.dispatch('_getTregion')
      vm.$store.dispatch('_getTregion2')
      vm.$store.dispatch('_getTregion3')
      vm.$store.dispatch('_tregionList')
      vm.$store.dispatch('_getTitle')
      vm.$store.dispatch('_getAllClass')
      vm.$store.dispatch('_getExpression')
      vm.$store.dispatch('_getMediatregion')
      vm.$store.dispatch('_getMediatregion2')
      vm.$store.dispatch('_getMediatregion3')
    })
  },
  beforeRouteUpdate(to, from, next) {
    if (this.$refs.Menu) this.$refs.Menu.activeIndex = to.name
    next()
  },
  data() {
    return {
      adClass: [],
      menuPid: '',
      showill: false,
    }
  },
  methods: {
    _setMeta(vue, to) {
      let obj = {
        0: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        },
        10: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        },
        20: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        },
        30: {
          menuname: '监测汇总',
          menuname2: '线索汇总'
        }
      }
    },
  },
  watch: {
    '$route'(to, from) {
      this._setMeta(this, to)
    }
  },
}
</script>

<style lang="scss" scope>
.Manage {
  height: 100%;
  background-color: rgba(242, 242, 242, 1);
  .el-header {
    color: #7F7F7F;
    background-color: #fff;
    line-height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }
  .content{
    width: calc(100vw - 10px);
  }
  .el-container {
    height: 100%;
  }
  .el-main {
    padding: 0px;
    margin-left: 10px;
  }
  .tip-sms {
    cursor: pointer;
    padding-right: 12px;
    height: 38px;
    line-height: 38px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .el-icon-message {
      font-size: 20px;
    }
  }
}
.slide-fade {
  position: absolute;
  left: 0;
  right: 0;
}
.slide-fade-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(2, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  left: 0;
  right: 0;
  transform: translateX(50px);
  opacity: 0;
}
</style>

