<template>
  <div class="map"
    v-loading="$store.state.bloading">
    <div ref="map"
      style="height: 100%;width: 100%;"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
import axios from 'axios'
import qs from 'qs'
import { cityMap, provinceMap, special } from '../../static/maps/map-data.js'

let chinaMap = require('../../static/maps/china.json')
echarts.registerMap('china', chinaMap)

export default {
  props: ['data'],
  data: () => ({
    dataList: [],
    myChart: {},
    mapdata: [],
    map: [],
    mapName: 'china',
    cityList: {},
    MAX: 0,
    region_id: '',
  }),

  computed: {
    opt() {
      return {
        // backgroundColor: '#404a59',
        title: {
          text: `${this.mapName === "china" ? "全国" : this.mapName}广告刊播情况分布图`,
          subtext: '',
          left: 'center',
          textStyle: {
            color: '#000',
          }
        },
        tooltip: {
          trigger: 'item'
        },
        visualMap: {
          type: 'continuous',
          text: ['', ''],
          showLabel: true,
          seriesIndex: [0],
          min: 0,
          max: this.MAX,
          inRange: {
            color: ['#edfbfb', '#b7d6f3', '#40a9ed', '#3598c1', '#215096',]
          },
          textStyle: {
            color: '#000'
          },
          bottom: 30,
          left: 'left',
        },
        series: [
          {
            name: '',
            type: 'map',
            mapType: this.mapName,
            selectedMode: 'multiple',
            showLegendSymbol: false,
            label: {
              normal: {
                show: false
              },
              emphasis: {
                show: true
              }
            },
            itemStyle: {
              normal: {
                areaColor: '#fff',
                borderColor: '#d3d3d3',
                borderWidth: 1.5,
              },
              emphasis: {
                // areaColor: '#2B91B7'
              }
            },
            data: this.mapdata
          }
        ]
      }
    }
  },
  created() {
    this._getData()
  },
  methods: {
    async updateChart() {
      this.myChart.setOption(this.opt);
    },
    sortNumber(a, b) {
      return a - b
    },
    _getData(data) {
      let Data = {
        region_id: this.region_id,
        region_level: this.region_level,
        ...this.data
      }
      let url = this.data.year >= 2018 ? '/Agp/GjzStatisticalData/thermal_map' : '/Agp/GjzStatisticalData/thermal_map_zsgl'
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + url, qs.stringify(Data))
        .then(res => {
          this.mapdata = res.data
          this.map = res.data
          if (res.data.length) {
            let arr = []
            res.data.forEach(item => {
              arr.push(Number(item.value))
            })
            this.MAX = arr.sort(this.sortNumber).reverse()[0]
          } else {
            this.MAX = 0
          }
          this.$store.commit('_bloading', false)
          this.init()
        })
    },
    clickHandler(params) {
      // this.mapName = this.mapdata
      let name = params.name
      if (name in provinceMap) {
        // 如果点击的是34个省、市、自治区，绘制选中地区的二级地图
        let _provinceMap = provinceMap
        let province = require(`../../static/maps/province/${_provinceMap[name]}`)
        let aid = this.getId(name)
        if (aid) {
          this.region_id = aid
          this.region_level = '4'
          this._getData()
        }
        echarts.registerMap(name, province);
        this.mapName = name
        this.updateChart()
      } else if (name in cityMap) {
        let _cityMap = cityMap
        // 如果是【直辖市/特别行政区】只有二级下钻
        if (special.indexOf(name) >= 0) {
          this.mapName = name
          this.updateChart()
        } else {
          // 显示县级地图
          let city = require(`../../static/maps/city/${_cityMap[name]}.json`)
          echarts.registerMap(name, city)
          this.mapName = name;
          let region_id = this.getId(name)
          if (region_id) {
            this.region_id = region_id
            this.region_level = '6'
            this._getData()
          } else {
            this.MAX = 0
            this.init()
          }
          this.updateChart()
        }
      } else {
        this.mapName = 'china'
        this.region_id = ''
        this.region_level = '2'
        this._getData()
        this.updateChart()

      }
    },
    init() {
      // 初始化 echarts
      this.myChart = echarts.init(this.$refs.map)
      this.myChart.setOption(this.opt)
      this.myChart.on('click', this.clickHandler)
    },
    getId(name) {
      let a = this.mapdata.find(item => {
        return item.name === name
      })
      return a ? a.id : ''
    }
  },
}
</script>

<style>
.map {
  height: 100%;
  width: 100%;
}
</style>
