@import './transition.scss';
body{
  margin: 0;
  .overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pull-left{
    float: left;
  }
  .pull-right{
    float: right;
  }
  .text-center{
    text-align: center;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .primary{
    color: #409EFF!important;
  }
  .warning{
    color: #E6A23C!important;
  }
  .success{
    color: #67C23A!important;
  }
  .danger{
    color: #F56C6C!important;
  }
  .info{
    color: #909399!important;
  }
  // 选框样式
  .select-box-dashed {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    border: 1px dashed #0099ff;
    background-color: #c3d5ed;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 0px;
    z-index: 99999;
  }
}