/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

body {
  margin: 0;
}

body .overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .pull-left {
  float: left;
}

body .pull-right {
  float: right;
}

body .text-center {
  text-align: center;
}

body .text-left {
  text-align: left;
}

body .text-right {
  text-align: right;
}

body .primary {
  color: #409EFF !important;
}

body .warning {
  color: #E6A23C !important;
}

body .success {
  color: #67C23A !important;
}

body .danger {
  color: #F56C6C !important;
}

body .info {
  color: #909399 !important;
}

body .select-box-dashed {
  position: absolute;
  display: none;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border: 1px dashed #0099ff;
  background-color: #c3d5ed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 0px;
  z-index: 99999;
}
