<template>
  <!-- 广告监测广告复审公用页面 -->
  <div class="monitor-recheck">
    <el-form :model="searchForm"
      ref="searchForm"
      inline
      @keyup.native.enter="mediaIssueList()">
      <el-form-item label="地区：">
        <el-cascader
          :clearable="true"
          :options="mediaRegion"
          :props="{...areaOptions,emitPath: false}"
          v-model="searchForm.area"
          @change="areaChange">
        </el-cascader>
        &nbsp;
        <el-checkbox v-model="searchForm.iscontain" true-label="1" false-label="0" @change="areaChange()">包含下级</el-checkbox>
      </el-form-item>
      <el-form-item label="媒体：">
        <el-select v-model="searchForm.mediaId" filterable clearable placeholder="请选择媒体" style="width:100%">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="所在环节：" v-if="modulName === '查 看' ">
        <el-select v-model="searchForm.searchTaskType" clearable placeholder="请选择环节" style="width:100%">
          <el-option label="全部" value=""></el-option>
          <el-option v-for="(val,key) in flowType"
            :key="key"
            :label="val.label"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="日期范围：">
        <el-date-picker v-model="searchForm.taskTime"
          clearable
          :picker-options="pickerOptions"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="mediaIssueList()"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="success"
          @click="output()"
          >导 出</el-button>
        <el-button type="danger"
          @click="reset()"
          icon="el-icon-refresh" plain>重 置</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight" @sort-change="sortChange">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="媒体名称" prop="fmedianame" sortable="custom"></el-table-column>
      <el-table-column label="所在环节" prop="fflow" sortable="custom" v-if="modulName === '查 看' "></el-table-column>
      <el-table-column label="发布日期" prop="fissue_date" sortable="custom"></el-table-column>
      <el-table-column label="操作" :width="showReget ? '260' : '180'">
        <template slot-scope="scope">
          <el-button type="primary" @click="toCheck(scope.row)">{{ modulName }}</el-button>
          <el-button type="danger" @click="toReturn(scope.row.fid)" v-if="modulName != '查 看' ">退 回</el-button>
          <el-button type="warning" @click="reGet(scope.row)" v-if="showReget && !isPaper" :loading="scope.row.loading">重新接收</el-button>
          <el-button type="success" @click="paperSubmit(scope.row)" v-if="showReget && isPaper" :loading="scope.row.loading">提 交</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      v-if="showPagin"
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="page.pageIndex"
      :page-sizes="[20, 30, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="() => {showdownload = false;durl = ''}">
    </out-file>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
 import { getMediaList } from "@/api/Function.js"
import { mediaIssueList, mediaIssueTaskBackAction, issueDataSubmit } from "@/api/MediaIssue.js"
import { taskAction } from '@/api/TaskManage.js'
import outFile from '@/components/outFile'
export default {
  name: 'monitorRecheck',
  components: { outFile },
  data() {
    return {
      searchForm: {
        mediaId: '',
        taskTime: [],
        iscontain: '0',
        area: '330000',
        searchTaskType: '',
        orders: '',
      },
      tableData: [],
      mediaList: [],
      page: {
        pageSize: 20,
        pageIndex: 1,
      },
      total: 0,
      sourceForm: '',
      tableHeight: '300px;',
      area:[],
      showPagin: true,

      durl: '',
      showdownload: false,

      order: {
        'fmedianame': {
          'ascending': '11',
          'descending': '10',
        },
        'fflow': {
          'ascending': '21',
          'descending': '20',
        },
        'fissue_date': {
          'ascending': '1',
          'descending': '0',
        },
      },
      outData: {},
    }
  },
  computed: {
    ...mapGetters(['pickerOptions', 'routerMap', 'mediaRegion', 'areaOptions' ,'flowType', 'whiteList']),
    showReget(){
      const name = this.$route.matched[0]['name']
      if(name === 'Detach' || name === 'Monitor'){
        return true
      }
      return false
    },
    isMonitor(){
      return this.$route.name.indexOf('monitor') !== -1
    },
    modulName() {
      if(this.$route.name.indexOf('detach') !== -1){
        return '分 离'
      } else if(this.$route.name.indexOf('monitor') !== -1) {
         return '监 测'
      } else if(this.$route.name.indexOf('recheck') !== -1) {
         return '复 审'
      } else if (this.$route.name.indexOf('judgment') !== -1) {
        return '终 审'
      } else {
        return '查 看'
      }
    },
    isPaper(){
      return this.$route.name.indexOf('paper') !== -1 || this.$route.name.indexOf('journal') !== -1
    },
    taskType(){
      if(this.modulName == '分 离') {
        this.areaChange()
        return 'ggfl'
      } else if(this.modulName == '监 测'){
        this.areaChange()
        return 'ggjc'
      } else if(this.modulName == '复 审'){
        this.areaChange()
        return 'ggfs'
      } else if(this.modulName == '终 审'){
        this.areaChange()
        return 'ggzs'
      } else if(this.modulName == '查 看'){
        this.areaChange()
        return 'gghd'
      }else{
        return 'ggfl'
      }
    }
  },
  watch: {
    '$route.path': {
      handler(){
        this.reset()
      },
      deep: true
    }
  },
  created() {
    this.areaChange()
    this.sourceForm = JSON.stringify(this.searchForm)
    if(this.$route.params.searchForm) {
      this.searchForm = JSON.parse(this.$route.params.searchForm)
    }
    this.page.pageSize = this.$route.params.pageSize
    if(this.isPaper) {
      this.page.pageSize = 50
      this.searchForm.iscontain = '1'
    }
    this.mediaIssueList(Number(this.$route.params.page) || 1)
  },
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 134)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 134)
    }
  },
  methods: {
    reGet(row){
      this.$confirm('确认执行【重新接收】操作？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$set(row, 'loading', true)
          const data = {
            fixDays: {
              [row.fmedia_id]: row.fissue_date,
            },
            action: '7'
          }
          taskAction(data).then(res => {
            row.loading = false
            this.$notify.success(res.msg)
            this.mediaIssueList(this.page.pageIndex)
          })
        }).catch(() => {})
    },
    areaChange(val){
      if(val) this.searchForm.mediaId = ''
      let data = {
        area: val || this.searchForm.area,
        iscontain: this.searchForm.iscontain,
        mediaClass: this.routerMap[this.$route.name]
      }
      getMediaList(data).then(res => {
        this.mediaList = res.data
      })
    },
    toCheck(row){
      let name = ''
      if(this.isPaper){
        name = 'papercheck'
      }else{
        const host = window.location.host
        if(this.whiteList.includes(host)){
          name = 'tvbccheckold'
        }else{
          if(['tvdetach', 'bcdetach'].includes(this.$route.name)){
            name = 'tvbccheck'
          }else{
            name = 'tvbccheckold'
          }
        }
      }
      this.$router.push({name: name, query: {
        taskType: this.taskType,
        ...row,
        from: this.$route.name,
        page: this.page.pageIndex,
        pageSize: this.page.pageSize,
        searchForm: JSON.stringify(this.searchForm),
      }})
    },
    nextTaskType(type){
      let result = ''
      switch(type){
        case 'ggfl':
          result = 'ggjc'
          break
        case 'ggjc':
          result = 'ggfs'
          break
        case 'ggfs':
          result = 'ggzs'
          break
        case 'ggzs':
          result = ''
          break
      }
      return result
    },
    paperSubmit(row){
      this.$confirm('确认完成检查？', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        this.$set(row, 'loading', true)
        const data = {
          mediaId: row.fmedia_id,
          issueDate: row.fissue_date,
          taskType: this.taskType,
          nextTaskType: this.nextTaskType(this.taskType),
        }
        issueDataSubmit(data).then(res => {
          row.loading = false
          this.$notify.success(res.msg)
          this.mediaIssueList(this.page.pageIndex)
        }).catch(() => {
        })
      }).catch(() => {
      })
    },
    toReturn(fid) {
      this.$prompt('请输入退回原因', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        inputType: 'textarea'
      }).then(({ value }) => {
        let data = {
          mainId: fid,
          backContent: value
        }
        mediaIssueTaskBackAction(data).then(res => {
          this.$notify.success(res.msg)
          this.mediaIssueList(this.page.pageIndex)
        })
      }).catch(() => {})
    },
    mediaIssueList(page) {
      this.page.pageIndex = page || 1
      let data = {
        mediaClass: this.routerMap[this.$route.name],
        taskType: this.taskType,
        ...this.searchForm,
        ...this.page
      }
      if(this.modulName !== '查 看') delete data.searchTaskType
      this.outData = data
      mediaIssueList(data).then(res => {
        this.showPagin = false
        this.tableData = res.data
        this.total = +res.count
        this.$nextTick(() => {
          this.showPagin = true
        })
      })
    },
    sortChange(val) {
      let prop = val.prop
      let order = val.order
      this.searchForm.orders = this.order[prop][order] || ''
      this.mediaIssueList(this.page.pageIndex)
    },
    output(){
      this.durl = ''
      let data = {
        outtype: 'xls',
        ...this.outData,
      }
      this.showdownload = true
      mediaIssueList(data).then(res => {
        this.durl = res.data
      }).catch(() => {
        this.showdownload = false
      })
    },
    handleSizeChange(size){
      this.page.pageSize = size
      this.mediaIssueList(this.page.pageIndex)
    },
     handleCurrentChange(val) {
      this.page.pageIndex = val
      this.mediaIssueList(this.page.pageIndex)
    },
    reset(){
      this.searchForm = JSON.parse(this.sourceForm)
      if(this.isPaper) {
        this.searchForm.iscontain = '1'
        this.page.pageSize = 50
      } else {
        this.page.pageSize = 20
      }
      this.area = []
      this.mediaIssueList(this.$route.params.page || 1)
    },
  },
}
</script>

<style lang="scss" scoped>
</style>