<template>
  <!-- 广告监测广告复审公用页面 -->
  <div class="check">
    <div class="flex-box left-box">
      <div class="image-box">
        <div class="cut-box" style="height: 100%">
          <div class="box-header">
            <div class="arrow">
              <el-button type="primary" plain @click="e => mouseScroll(e, -50)" icon="el-icon-arrow-left"></el-button>
            </div>
            <div class="page-list" ref="list">
              <el-radio-group v-model="activePage" @change="pageChange">
                <el-radio-button label="">{{ isQk ? '新页码' : '新版面' }}</el-radio-button>
                <el-radio-button :label="item.fpage" v-for="item in pagedata" :key="item.fid">{{item.fpage}}</el-radio-button>
              </el-radio-group>
            </div>
            <div class="arrow" @click="e => mouseScroll(e, 50)">
              <el-button type="primary" plain @click="e => mouseScroll(e, 50)" icon="el-icon-arrow-right"></el-button>
            </div>
          </div>
          <div class="cut-content">
            <!-- 暂时隐藏 -->
            <div class="button-box">
              <el-tooltip class="item" effect="dark" content="重新裁剪广告图片" placement="top">
                <el-button type="primary" :disabled="!url" @click="cropImg">{{startCrop ? '取 消' : '裁 剪'}}</el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" :content="this.activeFpage.fstate !== '2' ? '确认当前版面检查完成' : '取消当前版面检查完确认'" placement="top">
                <el-button type="success" plain @click="checkPage(2)" :disabled="!url" v-if="this.activeFpage.fstate !== '2'">确 认</el-button>
                <el-button type="success" plain @click="checkPage(0)" v-else>取消确认</el-button>
              </el-tooltip>
            </div>
            <vueCropper
              @dblclick.native="cropImg"
              ref="cropper"
              :img="url"
              v-if='url'
              mode="contain"></vueCropper>
             <div class="no-img" v-else>暂无图片</div>
          </div>
        </div>
        <div class="uploadBtn" v-if="query.taskType != 'gghd'">
          <el-button type="danger" @click="deletePage">{{ isQk ? '删除页码' : '删除版面' }}</el-button>
          <el-button type="primary" @click="uploadDialog()">{{ isQk ? '本地上传页码' : '本地上传版面' }}</el-button>
          <el-button type="success" @click="showCode">扫码上传</el-button>
        </div>

        <!-- 暂时隐藏 -->
        <div class="sample-box" v-if="activeRow.fjpgfilename">
          <div v-viewer="viewerOptions">
            <img :src="activeRow.fjpgfilename" width="100%">
          </div>
        </div>
      </div>
    </div>
    <div class="middle-box" style="flex:1">
      <div style="width: 100%">
        <paper-bottom-box ref="bottomBox" :active-page="activePage" :pages-data="pagedata" @row-click="rowClick" @page-data="setPageData" />
      </div>
    </div>
    <div class="right-box" v-if="query.taskType != 'gghd'">
      <paper-form-box ref="formBox" @submit="submit" :id="activeRow.issueid" :activeRow="activeRow" :start-crop="true" @reload="reload" @set-url="url => activeRow.fjpgfilename = url"/>
    </div>
    <el-dialog
      :title="isQk ? '本地上传页码' : '本地上传版面'"
      :visible.sync="dialogVisible"
      width="40%"
      :before-close="handleClose">
      <div>
        <el-form :model="form" ref="form" :rules="rules" label-width="100px">
          <el-form-item :label="isQk ? '页码编号：' : '版面编号：'" prop="pageNum">
            <el-input v-model="form.pageNum" style="width: 60%"></el-input>
          </el-form-item>
          <el-form-item label="版面类别：" v-if="!isQk">
            <el-input v-model="form.pageType" style="width: 60%"></el-input>
          </el-form-item>
          <el-form-item label="照片：" prop="pageUrl">
            <div style="margin-bottom: 10px;"><upload @uploadSuccess="_uploadSuccess" ></upload></div>
            <div style="height: 120px;width: 100px" @click="imgVisible = true" v-if="form.pageUrl">
              <img :src="form.pageUrl" width="100%" height='100%'>
            </div>
            <el-dialog :visible.sync="imgVisible" append-to-body top='6vh'>
              <div style="height: 680px; overflow: auto;">
                <img width="100%" :src="form.pageUrl">
              </div>
            </el-dialog>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose()">取 消</el-button>
        <el-button type="primary" @click="submitForm()">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      :visible.sync="showQrcode"
      width="500px"
      :before-close="beforeClose">
        <div id="qrcode" v-if="showQrcode"></div>
    </el-dialog>
  </div>
</template>

<script>
import QRCode from 'qrcodejs2'
import { mapGetters } from 'vuex'
import { VueCropper }  from 'vue-cropper'
import paperBottomBox from './components/paperBottomBox'
import paperFormBox from './components/paperFormBox'
import upload from '@/components/upload'
import { issueDataSave, issueDataSubmit, issuePageConfirm, issueDataAdd } from "@/api/MediaIssue.js"
import { addPaperSource, delPaperSource } from "@/api/PaperInput.js"
export default {
  name: 'paperCheck',
  components: {paperBottomBox, paperFormBox, VueCropper, upload},
  data() {
    var validateImg= (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请上传图片'))
      } else {
        callback();
      }
    }
    return {
      activeRow: {
        fissuetype: '黑白',
        fproportion: '1.0',
        fjpgfilename: '',
        fquantity: 1,
      },
      pagedata: [],
      activePage: '',
      viewerOptions: {
        inline: true,
        navbar: false,
        title: false,
      },
      rules: {
        pageNum: [ { required: true, message: '请输入编号', trigger: 'blur' } ],
        pageUrl: [  { required: true, message: '请上传图片', trigger: 'change' }, { validator: validateImg, trigger: 'blur' } ]
      },
      form: {
         pageUrl: '',
         pageNum: '',
         pageType: '',
      },
      startCrop: false,
      dialogVisible: false,
      imgVisible: false,
      uploading: false,
      showQrcode: false,
      isAdd: true,
    }
  },
  computed: {
    ...mapGetters(['mediaType', 'routerMap']),
    query(){
      return this.$route.query
    },
    isQk(){
      return this.$route.name.indexOf('journal') !== -1
    },
    mediaTypeName(){
      return this.mediaType[this.query.fmediaclassid].label
    },
    url(){
      if(this.pagedata && this.pagedata.length){
        return this.activeFpage.furl || ''
      }
      return ''
    },
    activeFpage(){
      return this.pagedata.find(i => i.fpage === this.activePage) || {}
    },
    link(){
      const {fmedia_id, fissue_date, fmedianame} = this.query
      const query = {
        fmedia_id,
        fissue_date,
        fmedianame,
        ...this.activeFpage
      }
      return `http://zj.debug.hz-data.com/paperInput/index.html?query=${JSON.stringify(query)}`
    },
  },
  watch: {
    '$route.path': {
      handler(){
        this.reset()
      },
      deep: true
    },
  },
  created() {
    this.$store.commit('sloading', false)
    this.$store.dispatch('getAdClassTree')
    this.$store.dispatch('getTillegal')
    this.setMeta()
  },
  mounted() {
    this.$nextTick(() => {
      this.listenScroll()
    })
  },
  methods: {
    add() {
      this.isAdd = true
      this.$refs.formBox.reset()
    },
    deletePage(){
      if(!this.activeFpage.fid) return this.$notify.error('请选择要删除的版面或者页码！')
      this.$confirm('确认删除？', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        delPaperSource({fid: this.activeFpage.fid}).then(res => {
          this.$notify.success(res.msg)
          this.$refs.bottomBox.reload()
          this.activePage = ''
          this.activeRow = {adType: '1', favifilename: '', fillegaltypecode: '0'}
        })
      }).catch(() => {})
    },
    beforeClose(){
      this.$refs.bottomBox.issueDataList()
      // window.location.reload()
      this.showQrcode = false
    },
    showCode(){
      this.showQrcode = true
      this.$nextTick(() => {
        this.qrcode()
      })
    },
    qrcode () {
      new QRCode('qrcode', {
          width: 460,
          height: 460,        // 高度
          text:  this.link,   // 二维码内容
          // render: 'canvas' ,   // 设置渲染方式（有两种方式 table和canvas，默认是canvas）
          // background: '#f0f',   // 背景色
          // foreground: '#ff0'    // 前景色
      })
    },
    submit(){
      const submitData = this.$refs.formBox.submitData()
      this.$confirm('确认完成检查？', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        this.$store.commit('sloading', true)
        issueDataSubmit(submitData).then(res => {
          this.$notify.success(res.msg)
          this.$router.push({name: this.query.from, params: {page: this.query.page,searchForm: this.query.searchForm }})
        }).catch(() => {
          this.$store.commit('sloading', false)
        })
      }).catch(() => {
        this.$store.commit('sloading', false)
      })
    },
    reload(){
      this.$refs.bottomBox.reload()
      try {
        this.$refs.cropper.stopCrop()
        this.$refs.cropper.clearCrop()
      } catch (error) {
      }
      this.startCrop = false
    },
    checkPage(state){
      let msg = state === 2 ? '请确保当前版面全部检查完成，是否提交？' : '取消当前版面的确认状态？'
      this.$confirm(msg, '确认', {
          confirmButtonText: '确 定',
          cancelButtonText: '取 消',
          type: 'warning'
        }).then(() => {
          let data = {
            fid: this.activeFpage.fid,
            state: state
          }
          issuePageConfirm(data).then(res => {
            this.$notify.success(res.msg)
            this.$refs.bottomBox.reload()
          })
        }).catch(() => {})
    },
    getCropData(){
      return new Promise((resolve) => {
        try {
          this.$refs.cropper.getCropData((data) => {
            resolve(data)
          })
        } catch (error) {
        }
      })
    },
    cropImg(){
      if(!this.startCrop){
        try {
          this.$refs.cropper.startCrop()
        } catch (error) {
        }
      }else{
        try {
          this.$refs.cropper.stopCrop()
          this.$refs.cropper.clearCrop()
        } catch (error) {
        }
      }
      this.startCrop = !this.startCrop
    },
    pageChange(page){
      this.activeRow = {adType: '1', fpage: page, fpagetype: this.activeFpage.fpagetype, fquantity: '1', favifilename: '',fissuetype: '黑白', fproportion: '1.0',fsize: '统计录入', fillegaltypecode: '0'}
      if(page) this.$refs.cropper.refresh()
      // this.$nextTick(() => {
      //   this.$refs.formBox.setVal({name: 'fpage', value: page})
      // })
    },
    setPageData(data){
      this.pagedata = data
    },
    mouseScroll(e, width){
      const dbody = this.$refs.list
      e = e || window.event
      dbody.scrollLeft += width //非chrome浏览器用这个
      //chrome浏览器用这个
      if(dbody.scrollLeft === 0) dbody.scrollLeft += width
      return false
    },
     setMeta(){
      const title = this.query.taskType
      let moduleName = ''
      if(title === 'ggfl'){
        moduleName = '广告分离'
      } else if(title === 'ggjc') {
        moduleName = '广告监测'
      } else if(title === 'ggfs'){
        moduleName = '广告复审'
      } else if(title === 'ggzs'){
        moduleName = '广告终审'
      }else if(title === 'gghd'){
        moduleName = '广告核定'
      }
      this.$route.meta.title = `${this.mediaTypeName}${moduleName} ${this.query.fmedianame} ${this.query.fissue_date}`
    },
    reset(){
    },
    rowClick(row){
      this.isAdd = false
      this.activeRow = row
      this.activePage = row.fpage
    },
    listenScroll(){
      const dbody = this.$refs.list
      //ff用
      objAddEvent(dbody,'DOMMouseScroll', function(e){return mouse_scroll(e);})
      //非ff chrome 用
      objAddEvent(dbody,'mousewheel', function(e){return mouse_scroll(e);})
      //chrome用
      objAddEvent(dbody,'mousewheel', function(e){return mouse_scroll(e);})
      function mouse_scroll(e){
        e = e || window.event
        let delD = e.wheelDelta?e.wheelDelta: -e.detail*40//判断上下方向
        let move_s = delD > 0 ? -50 : 50
        dbody.scrollLeft += move_s //非chrome浏览器用这个
        //chrome浏览器用这个
        if(dbody.scrollLeft === 0) dbody.scrollLeft += move_s
        return false
      }
      //这个是给对象增加监控方法的函数
      function objAddEvent(oEle, sEventName, fnHandler){
        if(oEle.attachEvent){
          oEle.attachEvent('on'+sEventName, fnHandler)
        } else {
          oEle.addEventListener(sEventName, fnHandler, false)
        }
      }
    },
    uploadDialog() {
      this.form.pageNum = this.activePage
      this.form.pageType = this.activeFpage.fpagetype
      this.form.pageUrl = this.activeFpage.furl
      this.dialogVisible = true
    },
    submitForm() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          const data = {
            fid: this.activeFpage.fid,
            mediaId: this.query.fmedia_id,
            issueDate: this.query.fissue_date,
            ...this.form,
          }
          addPaperSource(data).then(res => {
            if(res.subtype == 2){
              this.$confirm(res.msg, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {
                addPaperSource({...data,subType: 2}).then(res => {
                  this.$refs.bottomBox.issueDataList()
                  this.$notify({
                    title: '消息',
                    type: 'success',
                    message: res.msg
                  })
                  this.handleClose()
                })
              }).catch(() => {
                this.handleClose()
              })
            } else {
              this.$refs.bottomBox.issueDataList()
              this.$notify({
                title: '消息',
                type: 'success',
                message: res.msg
              })
              this.handleClose()
            }
          })

        } else {
          return false
        }
      })
    },
    handleClose() {
      this.dialogVisible = false
      this.$refs.form.resetFields()
    },
    _uploadSuccess(Obj) {
      this.form.pageUrl = Obj.url
      // let obj = {};
      // obj.fattachname = file.name;
      // obj.fattachurl = Obj.url + file.response.key;
      // this.attachInfo.unshift(obj);
    },
  },
}
</script>

<style lang="scss" scoped>
.check{
  display: flex;
  .flex-box{
    overflow: hidden;
  }
  .left-box{
    display: flex;
    padding-right: 10px;
    height: calc(100vh - 102px);
    box-sizing: border-box;
    width: 550px;
    flex-shrink: 0;
    .image-box{
      display: flex;
      flex-direction: column;
      width: 100%;
      // 上方裁剪区域
      .cut-box{
        .cut-content{
          background-color: #f3f3f3;
          height: calc(100% - 28px);
          position: relative;
          .button-box{
            position: absolute;
            z-index: 9;
            top: 10px;
            right: 10px;
            flex-shrink: 0;
            .el-button+.el-button{
              margin: 0;
            }
            & /deep/ .el-button{
              border-radius: 0!important;
              padding: 7px;
            }
          }
        }
        .no-img{
          text-align: center;
          height: 100%;
          position: relative;
          top: 50%;
          font-size: 24px;
          font-weight: 600;
          color: #ccc;
        }
        .box-header{
          display: flex;
          height: 28px;
          justify-content: space-between;
          .arrow{
            & .el-button{
              vertical-align: top;
              border-radius: 0;
            }
            width: 44px;
            flex-shrink: 0;
            text-align: center;
            line-height: 28px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            &:hover{
              cursor: pointer;
              background-color: #fff;
              color: rgba(0, 0, 0, 0.7);
              transition: 0.3s;
            }
          }
          .page-list{
            color: #fff;
            white-space:nowrap;
            overflow-x: auto;
            padding: 0;
            margin: 0;
            flex-grow: 1;
            overflow-y: hidden;
            & /deep/ .el-radio-button{
              &.checked{
                & /deep/ .el-radio-button__inner{
                  background-color: #ecf5ff;
                  color: #409EFF;
                }
                &.is-active{
                  & /deep/ .el-radio-button__inner{
                    background-color: #409EFF;
                    color: #fff;
                  }
                }
              }
            }
            & /deep/ .el-radio-button__inner{
              border-radius: 0!important;
            }
            &::-webkit-scrollbar {
              width: 0 !important;
              display: none;
            }
          }
        }
      }
      .uploadBtn{
        z-index: 222;
        padding-top: 8px;
        text-align: right;
      }
      // 下方展示广告的区域
      .sample-box{
        height: 200px;
        background-color: rgba(0, 0, 0, 0.3);
        img{
          display: none;
        }
      }
    }
  }
  .middle-box{
    flex: 1;
    // flex-shrink: 0;
    & /deep/ .form-top{
      padding-top: 0px!important;
    }
  }
  .right-box{
    width: 400px;
    padding-left: 10px;
  }
  .bottom-box{
    height: calc(100vh - 510px);
  }
}
</style>