<template>
  <!-- 广告监测广告复审公用页面 -->
  <div class="check">
    <div v-loading.lock="loading" element-loading-background="rgba(255, 255, 255, 1)" element-loading-text="波形渲染较为耗时，大概需要 10-20 秒不等，请耐心等待，勿频繁刷新页面">
      <wave-surfer ref="waveSurfer" v-if="timeLineData.showSurfer" @ready="toggleLoading" @playPause="playPause" @playerPause="playerPause" @seek="waveSeek" @setCurrentTime="setCurrentTime">
        <div class="formBox">
          <div>
            <el-form :model="searchForm" ref="searchForm" inline
              @keyup.native.enter="$refs.bottomBox.issueDataList()">
              <el-form-item>
                <span class="helper" @click="showHelp = true">
                  <i class="el-icon-question"></i>操作说明
                </span>
              </el-form-item>
              <el-form-item>
                <el-button type="danger" plain @click="() => $router.push({path: '/MonitorRecheck/tvbcCheckOld', query})">使用旧版本</el-button>
              </el-form-item>
              <el-form-item>
                <el-select v-model="searchForm.adType" placeholder="全部" @change="adTypeChange" style="width: 90px">
                  <el-option label="全部" value="-1"></el-option>
                  <el-option v-for="(vakue,key) in adType"
                    :key="key"
                    :label="vakue.label"
                    :value="key">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item v-if="searchForm.adType === '1'">
                <el-select v-model="searchForm.dataType" placeholder="全部发布广告" @change="$refs.bottomBox.issueDataList()">
                  <el-option v-for="(vakue,key) in dataType"
                    :key="key"
                    :label="vakue.label"
                    :value="key">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <during-time
                  ref="duringtime"
                  :date="query.fissue_date"
                  :disabled="disabled"
                  @change="$refs.bottomBox.listInit()"
                  @preduring="val => $store.commit('setIndex', val)"
                  @nextduring="val => $store.commit('setIndex', val)"/>
              </el-form-item>
            </el-form>
          </div>
          <div>
            <el-button type="primary" icon="el-icon-arrow-left" plain @click="$router.push({name: query.from, params: {page: query.page,searchForm: query.searchForm }})">返 回</el-button>
            <el-button type="success" @click="submit" style="margin-right: 10px;" v-if="query.taskType != 'gghd'">提 交</el-button>
          </div>
        </div>
      </wave-surfer>
      <div class="con-wrap">
        <div class="flex-box top-box">
          <div class="video-box">
            <aliplayer ref="player"
              v-if="timeLineData.m3u8"
              :url="timeLineData.m3u8"
              :autoplay="false"
              width="100%"
              height="100%"
              mute
              @start="startPlay"
              @success="onReady">
            </aliplayer>
          </div>
          <form-top ref='formTop' @add="add" @save="save" @submitMaterial="submitMaterial" :id="activeRow.issueid" :add="isAdd" :adType='activeRow.adType' @setTime="setTime" @computedTime="computedTime"></form-top>
          <form-box ref="formBox" @clearTime="copyTime = ''" :setTimeValue="copyTime" :init-time="[duringStart, duringEnd]" :activeRow="activeRow" @reload="$refs.bottomBox.reload()"/>
        </div>
        <div class="table-wrapper">
          <tvbc-bottom-box ref="bottomBox"
            :searchForm="searchForm"
            @sortChange="val => searchForm.orderType = val"
            @seClick="seClick"
            @row-click="rowClick"
            @back="val => $refs.player.getSeekTime($refs.player.getCurrentTime() - val)"
            @up="val => $refs.player.getSeekTime($refs.player.getCurrentTime() + val)"
            @change="change"
            @resetWaveRegions="resetWaveRegions"/>
        </div>
      </div>
    </div>
    <el-dialog
      title="操作说明"
      :visible.sync="showHelp"
      width="400"
      center>
        <p>1、波形加载大约耗时20秒，因此若不是浏览器崩溃等特殊原因，请勿频繁刷新页面；</p>
        <p>2、如果遇到声音与画面不匹配的情况，请点击波形，正常情况下会进行重新校对，如仍旧无效，请联系开发人员</p>
        <p>3、快捷键说明：</p>
        <p style="padding-left: 20px;">F1：将当前时间设置为开始时间</p>
        <p style="padding-left: 20px;">F2：将当前时间设置为结束时间</p>
        <p style="padding-left: 20px;">~（Tab 上方的键）：暂停/播放视频</p>
        <p style="padding-left: 20px;">长按 Alt 键，将鼠标移入波形图上广告区域，重播该区域内容</p>
        <p style="padding-left: 20px;">Esc：自动寻找播放点</p>
        <el-checkbox v-model="showTip" label="不再提示" @change="tipChange"></el-checkbox>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import tvbcBottomBox from './components/tvbcBottomBox'
import formTop from './components/formTop'
import formBox from './components/formBox'
import waveSurfer from '@/components/waveSurfer'
import { issueDataSave, issueDataSubmit, issueDataAdd, } from "@/api/MediaIssue.js"
import { addSourceMake } from "@/api/Media.js"
import { sampleDetectResult } from "@/api/SampleManage.js"
import aliplayer from '@/components/aliplayer'
import duringTime from '@/components/duringTime'
export default {
  name: 'tvbcCheck',
  components: {tvbcBottomBox, formBox, formTop, waveSurfer, aliplayer, duringTime},
  data() {
    return {
      activeRow: {
        adType: '1',
        is_long_ad: '1',
        fillegaltypecode: '0'
      },
      activeNames: 0,
      activeNames2: 0,
      isAdd: true,
      pTime: '',
      copyTime: '',
      searchForm: {
        dataType: '1',
        adType: '-1',
        orderType: '',
      },
      loading: false,
      showHelp: true,
      showTip: false,
      timer: null
    }
  },
  computed: {
    ...mapGetters(['timeDate', 'mediaType', 'routerMap', 'timeLineData', 'dataType', 'adType']),
    mediaTypeName(){
      return this.mediaType[this.query.fmediaclassid].label
    },
    query(){
      return this.$route.query
    },
    duringStart(){
      return this.timeDate[this.activeNames2].starttime
    },
    duringEnd(){
      return this.timeDate[this.activeNames2].endtime
    },
    disabled(){
      return this.searchForm.dataType !== '1'
    },
  },
  created() {
    try {
      const taskType = this.$route.query.taskType
      if(taskType === 'ggfs' || taskType === 'ggzs'){
        this.searchForm.adType = '1'
        this.searchForm.dataType = '3'
      }
    } catch (error) {
      console.log(error)
    }
    let showHelp = localStorage.getItem('noTip') || 'true'
    this.showHelp = showHelp === 'true' ? true : false
    this.toggleLoading()
    this.setMeta()
    this.setTimer()
  },
  methods: {
    resetWaveRegions(){
      if(this.$refs.waveSurfer) this.$refs.waveSurfer.setRegions()
    },
    setTimer(){
      clearInterval(this.timer)
      this.timer = setInterval(() => {
        this.checkTaks()
      }, 2000)
    },
    checkTaks(){
      const data = {
        mediaId: this.query.fmedia_id,
        issueDate: this.query.fissue_date
      }
      sampleDetectResult(data).then(res => {
        if(!res.haveTask){
          clearInterval(this.timer)
        }
        if(res.haveUpdate){
          this.$refs.bottomBox.listInit(true)
          this.$refs.waveSurfer.setRegions()
        }
      }).catch(() => {
        clearInterval(this.timer)
      })
    },
    tipChange(val){
      if(val){
        localStorage.setItem('noTip', 'false')
      }
    },
    toggleLoading(state){
      this.loading = state || (!this.loading)
    },
    adTypeChange(type){
      if(type !== '1') this.searchForm.dataType = '1'
      this.$refs.bottomBox.issueDataList()
    },
    playerPause(){
      this.$refs.player.stop()
    },
    onReady(){
      this.$refs.player.seek(this.timeLineData.seekTime)
    },
    waveSeek(time){
      this.$refs.player.play()
      this.$refs.player.seek(time)
    },
    playPause(state){
      if(state === 'play'){
        this.$refs.player.stop()
      }else{
        this.$refs.player.play()
      }
    },
    startPlay(){
      this.$refs.waveSurfer.waveSurferPlay(this.$refs.player.getCurrentTime())
    },
    completeSeek(){
      this.$refs.waveSurfer.waveSurferPlay(this.$refs.player.getCurrentTime())
    },
    computedTime(type){
      this.$refs.formBox.computedTime(type)
    },
    setCurrentTime({type, time}){
      this.copyTime = time
      this.setTime(type)
    },
    setTime(type){
      this.$refs.formBox.$refs[`${type}Time`].focus(this.copyTime)
    },
    seClick(row){
      let m3u8Start = ''
      if(row.time_type === 'start') {
        this.copyTime = row.fstarttime
        m3u8Start = (new Date(row.fstarttime).getTime() / 1000) - this.timeLineData.m3u8Start + this.timeLineData.seekTime
      } else {
         this.copyTime = row.fendtime
          m3u8Start = (new Date(row.fendtime).getTime() / 1000) - this.timeLineData.m3u8Start + this.timeLineData.seekTime
      }
      this.$refs.player.play()
      this.$refs.player.seek(m3u8Start)
      this.$refs.waveSurfer.waveSurferPlay(m3u8Start)
    },
    timeLineClick(val){
      this.copyTime = val
      this.$refs.bottomBox.pointTime(val)
    },
    setMeta(){
      const title = this.query.taskType
      let moduleName = ''
      switch(title){
        case 'ggfl':
          moduleName = '广告分离'
          break
        case 'ggjc':
          moduleName = '广告监测'
          break
        case 'ggfs':
          moduleName = '广告复审'
          break
        case 'ggzs':
          moduleName = '广告终审'
          break
        case 'gghd':
          moduleName = '广告核定'
          break
      }
      this.$route.meta.title = `${this.mediaTypeName}${moduleName} ${this.query.fmedianame} ${this.query.fissue_date}`
    },
    change(val){
      this.$store.commit('setWaveRegions', [])
      this.activeNames = val
      this.activeNames2 = val
    },
    rowClick(row){
      let _row = {...row}
      if(_row.adType === 0){
        _row.adType = '1'
        _row.fillegaltypecode = '0'
        _row.is_long_ad = '0'
      }
      let m3u8Start = (new Date(row.fstarttime).getTime() / 1000) - this.timeLineData.m3u8Start + this.timeLineData.seekTime
      this.isAdd = false
      this.activeRow = _row
      this.$refs.player.play()
      this.$refs.player.seek(m3u8Start)
      this.$refs.waveSurfer.waveSurferPlay(m3u8Start)
    },
    submit() {
      const submitData = this.$refs.formBox.submitData()
      this.$confirm('确认完成检查？', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        this.$store.commit('sloading', true)
        issueDataSubmit(submitData).then(res => {
          this.$store.commit('sloading', false)
          this.$notify.success(res.msg)
          this.$router.push({name: this.query.from, params: {page: this.query.page, searchForm: this.query.searchForm }})
        }).catch(() => {
          this.$store.commit('sloading', false)
        })
      }).catch(() => {
        this.$store.commit('sloading', false)
      })
    },
    save() {
      const saveData = this.$refs.formBox.getData()
      if(+new Date(saveData.fendtime) <= +new Date(saveData.fstarttime)) return this.$notify.error('结束时间不得小于等于开始时间')
      if(saveData.fadname == '') return this.$notify.error('广告名称不能为空')
      if(saveData.fadclasscode == '') return this.$notify.error('广告类别不能为空')
      if(saveData.fadownername == '') saveData.fadownername = '不详'
      const rowTime = this.$dayjs(this.activeRow.sampleissuedate).format('YYYY-MM-DD')
      if(this.activeRow.adType == '1' && saveData.issueid) {
        saveData.sampleIsCreate = this.$refs.formTop.sampleIsCreate
      }
      this.$store.commit('sloading', true)
      if(saveData.adType == '1' && saveData.sampleIssueDate != rowTime && saveData.issueid) {
        this.$confirm(`该条广告样本违法调整将从${saveData.sampleIssueDate}开始生效，是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.submitResult(saveData)
        }).catch(() => {
          this.$store.commit('sloading', false)
          this.$message({
            type: 'info',
            message: '已取消'
          })
        });
      } else {
        this.submitResult(saveData)
      }
    },
    submitResult(saveData){
      let result = saveData.issueid ? issueDataSave(saveData) : issueDataAdd(saveData)
      result.then(res => {
        this.$store.commit('sloading', false)
        this.setTimer()
        this.activeRow = {
          adType: '1',
          is_long_ad: '1',
          fillegaltypecode: '0'
        }
        this.$notify.success(res.msg)
        this.$refs.formBox.reset()
      }).catch(() => {
        this.$store.commit('sloading', false)
      })
    },
    add() {
      this.setTimer()
      this.isAdd = true
      this.$refs.formBox.reset(false)
    },
    submitMaterial() {
      const mdata = this.$refs.formBox.getMaterialData()
      if(+new Date(mdata.fendtime) <= +new Date(mdata.fstarttime)) return this.$notify.error('结束时间不得小于等于开始时间')
      addSourceMake(mdata).then(res => {
        this.$notify.success(res.msg)
        this.$refs.formBox.resetSource()
      })
    },
    pointTime(data) {
      this.pTime = data
    },
  },
  beforeDestroy() {
    this.$store.commit('resetTimeLineData')
    localStorage.setItem('illTemp', JSON.stringify({}))
  },
}
</script>

<style lang="scss" scoped>
.check{
  display: flex;
  flex-direction: column;
  height: 100%;
  .helper{
    &:hover{
      cursor: pointer;
      color: #409EFF;
    }
  }
  .con-wrap{
    display: flex;
    .top-box{
      width: 800px;
      display: flex;
      height: 100%;
      margin-right: 10px;
      flex-direction: column;
      box-sizing: border-box;
      .video-box{
        height: 400px;
        width: 800px;
        flex-shrink: 0;
        .source-error{
          line-height: 390px;
          text-align: center;
          font-size: 34px;
          font-weight: bold;
          letter-spacing: 0.1em;
          background-color: rgba(0, 0, 0, 0.8);
          color: #eee;
        }
      }
    }
    .table-wrapper{
      width: calc(100% - 810px);
      height: 100%;
    }
  }
  & /deep/ .prism-controlbar {
    display: none!important;
  }
  & /deep/ .prism-big-play-btn {
    display: none!important;
  }
  .formBox{
    float: right;
    display: flex;
    justify-content: space-between;
  }
}
</style>