<template>
  <!-- 广告监测广告复审公用页面 -->
  <div class="check">
    <div class="flex-box top-box">
      <div class="video-box">
        <player-timeline ref="player" height="100%" width="100%" :url="M3u8" @timeLineClick="timeLineClick" @nextM3u8="$refs.bottomBox.nextduring()" @pointTime="pointTime" :baseData="baseData"/>
      </div>
      <form-top ref='formTop' @add="add" @save="save" @submitMaterial="submitMaterial" :id="activeRow.issueid" :add="isAdd" :adType='activeRow.adType' @setTime="setTime" @computedTime="computedTime"></form-top>
      <form-box ref="formBox" @clearTime="copyTime = ''" @temp-change="val => $refs.bottomBox.setTemp(val)" :setTimeValue="copyTime" :init-time="[duringStart, duringEnd]" :activeRow="activeRow" @reload="$refs.bottomBox.reload()"/>
    </div>
    <div class="table-wrapper">
      <tvbc-bottom-box ref="bottomBox"
        :pointTime="pTime"
        @seClick="seClick"
        @submit="submit"
        @row-click="rowClick"
        @back="val => $refs.player.seek($refs.player.getCurrentTime() - val)"
        @up="val => $refs.player.seek($refs.player.getCurrentTime() + val)"
        @change="change"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import playerTimeline from '@/components/oldComponents/playerTimeline'
import tvbcBottomBox from './oldComponents/tvbcBottomBox'
import formTop from './oldComponents/formTop'
import formBox from './components/formBox'
import { issueDataSave, issueDataSubmit, issueDataAdd, } from "@/api/MediaIssue.js"
import { addSourceMake } from "@/api/Media.js"
import { sampleDetectResult } from "@/api/SampleManage.js"
import { oldTimeDate as timeDate } from '@/store/timeDate'
export default {
  name: 'tvbcCheck',
  components: {tvbcBottomBox, formBox, playerTimeline, formTop},
  data() {
    return {
      activeRow: {
        adType: '1',
        is_long_ad: '1',
        fillegaltypecode: '0'
      },
      activeNames: 0,
      activeNames2: 0,
      isAdd: true,
      pTime: '',
      copyTime: '',
      timer: null
    }
  },
  computed: {
    ...mapGetters(['mediaType', 'routerMap']),
    mediaTypeName(){
      return this.mediaType[this.query.fmediaclassid].label
    },
    query(){
      return this.$route.query
    },
    baseData(){
      return {
        date: this.query.fissue_date,
        mediaid: this.query.fmedia_id,
        starttime: this.duringStart,
        endtime: this.duringEnd,
        activeIndex: this.activeNames2,
      }
    },
    duringStart(){
      return timeDate[this.activeNames2].starttime
    },
    duringEnd(){
      return timeDate[this.activeNames2].endtime
    },
    M3u8(){
      if(this.duringStart){
        return `http://az.hz-data.xyz:8087/channel/${this.query.fmedia_id}/playback.m3u8?start_time=${+new Date(this.query.fissue_date + ' ' + this.duringStart) / 1000}&end_time=${+new Date(this.query.fissue_date + ' ' + this.duringEnd) / 1000}`
      }else{
        return ''
      }
    },

  },
  created() {
    this.setMeta()
    this.setTimer()
  },
  methods: {
    setTimer(){
      clearInterval(this.timer)
      this.timer = setInterval(() => {
        this.checkTaks()
      }, 2000)
    },
    checkTaks(){
      const data = {
        mediaId: this.query.fmedia_id,
        issueDate: this.query.fissue_date
      }
      sampleDetectResult(data).then(res => {
        if(!res.haveTask){
          clearInterval(this.timer)
        }
        if(res.haveUpdate){
          this.$refs.bottomBox.listInit(true)
        }
      }).catch(() => {
        clearInterval(this.timer)
      })
    },
    computedTime(type){
      this.$refs.formBox.computedTime(type)
    },
    setTime(type){
      this.$refs.formBox.$refs[`${type}Time`].focus(this.copyTime)
    },
    seClick(row){
      if(row.time_type === 'start') {
        this.copyTime = row.fstarttime
      } else {
         this.copyTime = row.fendtime
      }
      this.$refs.player.play()
      this.$refs.player.seekVideoTime(row)
    },
    timeLineClick(val){
      this.copyTime = val
      this.$refs.bottomBox.pointTime(val)
    },
    setMeta(){
      const title = this.query.taskType
      let moduleName = ''
      switch(title){
        case 'ggfl':
          moduleName = '广告分离'
          break
        case 'ggjc':
          moduleName = '广告监测'
          break
        case 'ggfs':
          moduleName = '广告复审'
          break
        case 'ggzs':
          moduleName = '广告终审'
          break
        case 'gghd':
          moduleName = '广告核定'
          break
      }
      this.$route.meta.title = `${this.mediaTypeName}${moduleName} ${this.query.fmedianame} ${this.query.fissue_date}`
    },
    change(val){
      this.activeNames = val
      this.activeNames2 = val
    },
    rowClick(row){
      let _row = {...row}
      if(_row.adType === 0){
        _row.adType = '1'
        _row.fillegaltypecode = '0'
        _row.is_long_ad = '0'
      }
      this.isAdd = false
      this.activeRow = _row
      this.$refs.player.play()
      this.$refs.player.seekVideoTime(row)
    },
    submit() {
      const submitData = this.$refs.formBox.submitData()
      this.$confirm('确认完成检查？', '确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        issueDataSubmit(submitData).then(res => {
          this.$notify.success(res.msg)
          this.$router.push({name: this.query.from, params: {page: this.query.page, searchForm: this.query.searchForm }})
        })
      }).catch(() => {})
    },
    save() {
      const saveData = this.$refs.formBox.getData()
      if(+new Date(saveData.fendtime) <= +new Date(saveData.fstarttime)) return this.$notify.error('结束时间不得小于等于开始时间')
      if(saveData.fadname == '') return this.$notify.error('广告名称不能为空')
      if(saveData.fadclasscode == '') return this.$notify.error('广告类别不能为空')
      if(saveData.fadownername == '') saveData.fadownername = '不详'
      const rowTime = this.$dayjs(this.activeRow.sampleissuedate).format('YYYY-MM-DD')
      if(this.activeRow.adType == '1' && saveData.issueid) {
        saveData.sampleIsCreate = this.$refs.formTop.sampleIsCreate
      }
      if(saveData.adType == '1' && saveData.sampleIssueDate != rowTime && saveData.issueid) {
        this.$confirm(`该条广告样本违法调整将从${saveData.sampleIssueDate}开始生效，是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.submitResult(saveData)
        }).catch(() => {})
      } else {
        this.submitResult(saveData)
      }
    },
    submitResult(saveData){
      let result = saveData.issueid ? issueDataSave(saveData) : issueDataAdd(saveData)
      result.then(res => {
        this.setTimer()
        this.activeRow = {
          adType: '1',
          is_long_ad: '1',
          fillegaltypecode: '0'
        }
        this.$notify.success(res.msg)
        this.$refs.formBox.reset()
        localStorage.setItem('illTemp',JSON.stringify({}))
      })
    },
    add() {
      this.setTimer()
      this.isAdd = true
      this.$refs.formBox.reset(false)
    },
    submitMaterial() {
      const mdata = this.$refs.formBox.getMaterialData()
      if(+new Date(mdata.fendtime) <= +new Date(mdata.fstarttime)) return this.$notify.error('结束时间不得小于等于开始时间')
      addSourceMake(mdata).then(res => {
        this.$notify.success(res.msg)
        this.$refs.formBox.resetSource()
      })
    },
    pointTime(data) {
      this.pTime = data
    },
  },
  beforeDestroy() {
    localStorage.setItem('illTemp', JSON.stringify({}))
  },
}
</script>

<style lang="scss" scoped>
.check{
  display: flex;
  height: 100%;
  .top-box{
    width: 800px;
    display: flex;
    height: 100%;
    margin-right: 10px;
    flex-direction: column;
    box-sizing: border-box;
    .video-box{
      height: 400px;
      width: 800px;
      flex-shrink: 0;
      .source-error{
        line-height: 390px;
        text-align: center;
        font-size: 34px;
        font-weight: bold;
        letter-spacing: 0.1em;
        background-color: rgba(0, 0, 0, 0.8);
        color: #eee;
      }
    }
  }
  .table-wrapper{
    width: calc(100% - 810px);
    height: 100%;
  }
}
</style>