<template>
  <div class="form-top">
    <div class="tool">
      <!-- 暂时隐藏删除 -->
      <!-- <el-button type="danger" icon="el-icon-delete" :disabled="!id" @click="issueDataSampleDel" v-if="false">删 除</el-button> -->
      <div>
        <el-button type="success" @click="$emit('submitMaterial')" v-if="query.taskType == 'gghd'">生成素材</el-button>
        <el-button type="success" @click="$emit('save', add || (id == '') ? 'add' : 'edit')" v-if="query.taskType !== 'gghd'" :loading="$store.state.sloading">{{ add || (id == '') ? '新 建' : '修 改'}}</el-button>
        <el-button type="danger" plain @click="$emit('add')" :disabled="add || !Boolean(id)" v-if=" query.taskType !== 'gghd'">清 空</el-button>
        <span v-if="!isPaper" style="padding-left: 10px;">
          <el-tooltip class="item" effect="dark" content="将选中的时间填入开始时间" placement="top" >
            <el-button type="primary" @click="$emit('setTime','start')">s</el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="将选中的时间填入结束时间" placement="top">
            <el-button type="primary" @click="$emit('setTime','end')">e</el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="以开始时间计算结束时间" placement="top">
            <el-button type="primary" plain @click="$emit('computedTime','start')">开始</el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="以结束时间计算开始时间" placement="top">
            <el-button type="primary" plain @click="$emit('computedTime','end')">结束</el-button>
          </el-tooltip>
        </span>
      </div>
      <div v-if="!add && id && adType == 1">
        <el-radio-group v-model="sampleIsCreate" style="margin-right: 160px">
          <el-radio-button label="0">原样本</el-radio-button>
          <el-radio-button label="1">新样本</el-radio-button>
        </el-radio-group>
      </div>
      <!-- <div>
        <el-button type="primary" v-if="isPaper" icon="el-icon-arrow-left" plain @click="$router.push({name: query.from, params: {page: query.page,searchForm: query.searchForm }})">返 回</el-button>
        <el-button type="success" v-if="isPaper" @click="$emit('submit')">提 交</el-button>
      </div> -->
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      add: {
        type: Boolean,
        default: false
      },
      id: {
        type: String,
        default: ''
      },
      adType: {
        type: [String, Number],
        default: '1',
      },
    },
    data() {
      return {
        sampleIsCreate: '0',
      }
    },
    computed: {
      query(){
        return this.$route.query
      },
      isPaper(){
        return this.$route.name.indexOf('paper') !== -1 || this.$route.name.indexOf('journal') !== -1
      },
    },
    created() {
    },
    methods: {
    },
  }
</script>

<style lang="scss" scoped>
  .form-top{
    padding-top: 10px;
    .el-form{
      .el-form-item--mini{
        margin-bottom: 8px!important;
      }
      &.el-form--label-top {
        & /deep/ .el-form-item__label{
          padding: 0!important;
        }
      }
    }
    .tool{
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }
  }
</style>