<template>
  <div class="category-rankings">
    <div v-if="ydata.length > 0">
      <line-chart :title="title"
      :xdata="xdata"
      :ydata="ydata"
      ref="linechart"></line-chart>
      <table-view title="广告类别"
        :tabledata="tableData"
        :formdata="preData"
        tag="2"></table-view>
    </div>
    <no-data v-else />
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import lineChart from '../common/lineChart'
import tableView from '../common/tableView'
import pieChart from '../common/pieChart'
import noData from '../common/noData'
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    xdata: {
      type: Array,
      default: () => [],
    },
    ydata: {
      type: Array,
      default: () => [],
    },
    tableData: {
      type: Array,
      default: () => [],
    }
  },
  components: {
    tableView,
    lineChart,
    noData
  },
  data() {
    return {
      preData: {},
    }
  },
  created() {
  },
  methods: {
  },
  computed: {
    ...mapState(['Adata', 'Gsresult', 'Gtime', 'selection', 'isgj', 'userInfo', 'levelchild', 'tabSearchData']),
  }
}
</script>

