<template>
	<div class="mediaorg-rinkings">
		<div v-if="ydata.length > 0">
			<line-chart :title="title"
			 :xdata="xdata"
			 :ydata="ydata"></line-chart>
			<table-view title="媒介机构名称"
			 :tabledata="tableData"
			 :formdata="preData"
			 :page="true"
			 tag="4"></table-view>
		</div>
		<no-data v-else />
	</div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import { mapState } from 'vuex'
import tableView from '../common/tableView'
import lineChart from '../common/lineChart'
import noData from '../common/noData'
export default {
	props: {
		title: {
      type: String,
      default: '',
    },
		xdata: {
      type: Array,
      default: () => [],
    },
    ydata: {
      type: Array,
      default: () => [],
    },
    tableData: {
      type: Array,
      default: () => [],
    }
	},
	components: {
		tableView,
		lineChart,
		noData
	},
	data() {
		return {
			preData: {},
		}
	},
	created() {
	},
	methods: {
	},
	computed: {
		...mapState(['Gtime', 'isgj', 'userInfo', 'selection', 'Gsresult', 'Adata', 'levelchild', 'allmediatype', 'tabSearchData']),
		// charttitle() {
		// 	let title = this.levelchild.zhejiang1[this.formData.regionlevel]
		// 	let cnum = this.Adata.onther_class[this.formData.dimension]
		// 	if(this.Gsresult.timetypes != 0){
		// 		let time = this.Gtime.timeval[this.Gsresult.timetypes].filter(i =>{
		// 			return i.value == this.Gsresult.timeval
		// 		})
		// 		return  `${this.Gsresult.years}年${time[0].label}${this.region_name}${title}媒介机构${this.allmediatype[this.formData.mclass]}媒体广告综合${cnum}排名`
		// 	} else {
		// 		let day = this.Gsresult.timeval.split(',')
		// 		return `${day[0]}至${day[1]}${this.region_name}${title}媒介机构${this.allmediatype[this.formData.mclass]}媒体广告综合${cnum}排名`
		// 	}
		// },
	},
}
</script>

