<template>
  <div class="upload-container">
    <el-button icon='el-icon-upload' size="mini" :style="{background:color,borderColor:color}" @click="dialogVisible = true" type="primary">上传文件
    </el-button>
    <el-dialog append-to-body :visible.sync="dialogVisible" :show-close="false" :close-on-click-modal="false" :close-on-press-escape="false">
      <el-upload
        ref="upload"
        class="editor-slide-upload"
        list-type="picture"
        :action="upOptions.up_server"
        :data="uploadOptions"
        :auto-upload="false"
        :multiple="true"
        :show-file-list="true"
        :on-progress="onProgress"
        :on-success="onSuccess"
        :before-upload="beforeUpload">
        <el-button size="small" type="primary" :loading="uploading">选择文件</el-button>
      </el-upload>
      <el-button @click="dialogVisible = false":loading="uploading">取 消</el-button>
      <el-button type="primary" @click="handleSubmit" :loading="uploading">上 传</el-button>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'editorSlideUpload',
  props: {
    color: {
      type: String,
      default: '#1890ff'
    }
  },
  data() {
    return {
      dialogVisible: false,
      uploadOptions: {},
      resultList: [],
      upOptions: {
        up_server: '',
      },
      bucket_url: '',
      uploading: false,
    }
  },
  created() {
    this.getToken()
  },
  methods: {
    getToken() {
      axios.post(this.$_ + '/Agp/Core/get_file_up')
        .then(res => {
          if (res.data.code === 0) {
            this.upOptions = res.data.data
            this.uploadOptions = res.data.data.val
            this.bucket_url = res.data.data.bucket_url
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    handleSubmit() {
      this.$refs.upload.submit()
    },
    beforeUpload(file) {
      this.uploading = true
      const extArr = file.name.split('.')
      const ext = extArr.length > 1 ? extArr.pop() : ''
      this.uploadOptions.key = ext ? `zjBulletin/${file.uid}.${ext}` : file.uid
    },
    onProgress(){
      this.uploading = true
    },
    onSuccess(response, file, fileList) {
      this.uploading = false
      const result = {
        ...file,
        url: `${this.bucket_url}${file.response.key}?attname=${file.name}`
      }
      this.resultList.push(result)
      if(fileList.length === this.resultList.length){
        this.$emit('successCBK', this.resultList)
        this.resultList = []
        this.$refs.upload.clearFiles()
        this.dialogVisible = false
      }
    },
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.editor-slide-upload {
  margin-bottom: 20px;
  /deep/ .el-upload--picture-card {
    width: 100%;
  }
}
</style>
