<template>
  <div class="play-list" v-loading="loading">
    <el-form :model="form" ref="searchForm" inline @keyup.native.enter="getList(1,1)">
      <el-form-item label="地区：">
        <el-cascader
          :clearable="true"
          :options="mediaRegion"
          :props="{...areaOptions,emitPath: false}"
          v-model="form.area"
          @change="areaChange">
        </el-cascader>
        &nbsp;
        <el-checkbox v-model="form.iscontain" true-label="1" false-label="0" @change="areaChange()">包含下级</el-checkbox>
      </el-form-item>
      <el-form-item label="媒体：">
        <el-select v-model="form.mediaId" filterable clearable placeholder="请选择媒体" style="width:100%">
          <el-option v-for="item in mediaList"
            :key="item.fid"
            :label="item.fmedianame"
            :value="item.fid">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="日期范围：">
        <el-date-picker
          :clearable="false"
          v-model="form.issueDate"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="时间范围：">
        <el-time-picker
          is-range
          style="width: 240px"
          v-model="form.issueTime"
          @change="val => issueTime = val || []"
          value-format='HH:mm:ss'
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围">
        </el-time-picker>
      </el-form-item>
      <el-form-item>
        <el-checkbox v-model="form.isNotBusiness" true-label="1" false-label="0">非商业广告</el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getList(1,1)">查 询</el-button>
        <el-button type="primary" plain @click="output">导 出</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tabelData" border stripe :height="tableHeight">
      <el-table-column type="index"></el-table-column>
      <el-table-column label="位置" prop="fadsort"></el-table-column>
      <el-table-column label="开始时间" prop="fstarttime"></el-table-column>
      <el-table-column label="结束时间" prop="fendtime"></el-table-column>
      <el-table-column label="广告名称" prop="title"></el-table-column>
      <el-table-column label="规格（秒）" prop="flength"></el-table-column>
      <el-table-column label="类型" prop="fissuetype" width="80"></el-table-column>
    </el-table>
    <el-pagination
      v-if="showPagin"
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
    <file-download v-if="showDownload" :url="downloadUrl" @close="showDownload = false"></file-download>
  </div>
</template>

<script>
  import fileDownload from '@/components/fileDownload'
  import { mapGetters } from 'vuex'
  import { getMediaList } from "@/api/Function.js"
  import { playList } from "@/api/PlayManage.js"
  export default {
    name: 'playList',
    components: {fileDownload},
    data() {
      let start = this.$dayjs().startOf('month').format('YYYY-MM-DD')
      let end = this.$dayjs().format('YYYY-MM-DD')
      return {
        form: {
          adClass: '',
          iscontain: '1',
          isNotBusiness: '0',
          area: '330000',
          mediaId: '',
          issueDate: [start, end],
          issueTime: '',
        },
        showDownload: '',
        downloadUrl: '',
        tabelData: [],
        tableHeight: '300px',
        showPagin: true,
        mediaList: [],
        page: {
          pageSize: 20,
          pageIndex: 1,
        },
        total: 0,
        loading: false,
      }
    },
    computed: {
      ...mapGetters(['mediaRegion', 'areaOptions'])
    },
    created() {
      this.areaChange()
    },
    mounted() {
      this.$nextTick(() => {
        this.tableHeight = this.getTH(this, 134)
      })
      window.onresize = () => {
        this.tableHeight = this.getTH(this, 134)
      }
    },
    methods: {
      areaChange(val){
        this.form.mediaId = ''
        let data = {
          area: val || this.form.area,
          iscontain: this.form.iscontain,
          from: 'pList'
        }
        getMediaList(data).then(res => {
          this.mediaList = res.data
        })
      },
      getList(page = 1, isCreate = 0){
        if(page) this.page.pageIndex = page || 1
        let data = {
          isCreate,
          ...this.form,
          ...this.page
        }
        this.loading = true
        playList(data).then(res => {
          this.loading = false
          this.tabelData = res.data
          this.total = Number(res.count)
        }).catch(err => {
          this.loading = false
        })
      },
      output(){
        let data = {
          ...this.form,
          isCreate: 1,
          outType: 'xls'
        }
        this.downloadUrl = ''
        this.showDownload = true
        playList(data).then(res => {
          this.downloadUrl = res.data
        }).catch(() => this.showDownload = false)
      },
      handleSizeChange(size){
        this.page.pageSize = size
        this.getList(this.page.pageIndex)
      },
      handleCurrentChange(val) {
        this.page.pageIndex = val
        this.getList(this.page.pageIndex)
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>