<template>
  <div class="create-task">
    <el-form ref="form"
      label-width="80px"
      >
      <el-form-item label="计划日期">
        <el-date-picker :editable="false" v-model="date"
          type="month"
          value-format="yyyy-MM"
          placeholder="请选择计划月份"
          @change="_initList">
        </el-date-picker>
        <el-button class="pull-right"
          @click="_addRow"
          :disabled="list.length === areaList.length"
          >新 增</el-button>
        <el-button class="pull-right right-margin"
          type="success"
          @click="_initval"
          >随 机</el-button>
      </el-form-item>
    </el-form>
    <el-table v-loading="loading"
      border
      :data="list">
      <el-table-column width="50px"
        type="index">
      </el-table-column>
      <el-table-column label="被抽检单位">
        <template slot-scope="scope">
          <el-select v-model="list[scope.$index]['dit_covertnid']"
            placeholder="请选择"
            
            style="width:100%">
            <el-option v-for="(item,index) in areaList"
              :key="index"
              :label="item.fname1"
              :disabled="hasCheck.includes(item.fid)"
              :value="item.fid">
            </el-option>
          </el-select>
        </template>
      </el-table-column>
      <el-table-column label="抽检单位">
        <template slot-scope="scope">
          <el-select v-model="list[scope.$index]['dit_tnid']"
            placeholder="请选择"
            
            style="width:100%">
            <el-option v-for="(item,index) in areaList2"
              :key="index"
              :label="item.fname1"
              :value="item.fid">
            </el-option>
          </el-select>
        </template>
      </el-table-column>
      <el-table-column width="120"
        label="操作">
        <template slot-scope="scope">
          <el-button type="danger"
            icon="el-icon-delete"
            @click="_delete(scope.row,scope.$index)"
            >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="text-center">
      <el-button type="primary"
        :loading="$store.state.bloading"
        @click="_save">保 存</el-button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      areaList2: [],
      list: [],
      canSave: true,
      date: '',
      count: '',
      loading: false
    }
  },
  created() {
    this._initDate()
    this._initList()
    this.areaList2 = [].concat(this.$store.state.ccorgData.list)
  },
  methods: {
    _initDate() {
      let now = new Date()
      let years = now.getFullYear()
      let months = (now.getMonth() < 10) ? '0' + now.getMonth() : now.getMonth()
      this.date = years + '-' + months
    },
    _initval() {
      this.list = []
      this.areaList2.forEach((item, index) => {
        let obj = {}
        obj.dit_covertnid = item.fid
        new Promise((resolve, reject) => {
          obj.dit_tnid = this._setval(item.fid)
          if (obj.dit_tnid) {
            this.list.push(obj)
          }
        })
      })
      this.$message.success('随机完成')
    },
    _initList() {
      this.loading = true
      this.list = []
      let data = {}
      data.years = this.date.substring(0, 4)
      data.months = this.date.substring(5)
      axios.post(this.$_ + '/Agp/Gjcjihua/getjihu_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            if (res.data.data.list.length) {
              this.list = res.data.data.list
            } else {
              this.$confirm('系统检测到当前所选月份暂无检查计划，是否进行随机？', '确认', {
                confirmButtonText: '随机',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {
                this._initval()
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消'
                });
              });
            }
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _save() {
      this.$store.commit('_bloading', true)
      let data = {}
      data.years = this.date.substring(0, 4)
      data.months = this.date.substring(5)
      data.cjlist = this.list
      axios.post(this.$_ + '/Agp/Gjcjihua/jcjihua_addaction', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _delete(obj, index) {
      this.list.splice(index, 1)
    },
    _addRow() {
      if (this.list.length < this.areaList2.length) {
        let obj = {}
        obj.dit_tnid = ''
        obj.dit_covertnid = ''
        this.list.push(obj)
      }
    },
    _getArr() {
      let a = Math.floor(Math.random() * this.$store.state.ccorgData.count + 1) - 1
      return this.$store.state.ccorgData.list[a]['fid']
    },
    _setval(val) {
      let a = this._getArr()
      if (val === a) {
        this._setval(val)
      } else {
        return a
      }
    }
  },
  computed: {
    areaList() {
      let arr = [].concat(this.$store.state.ccorgData.list)
      return arr
    },
    hasCheck() {
      let arr = []
      this.list.forEach(obj => {
        arr.push(obj.dit_covertnid)
      })
      return arr
    }
  }
}
</script>