<template>
  <div class="people-list">
    <el-card v-loading="peopleLoading">
      <h4>{{nowNode.fname ? `${nowNode.fname} - ` : ''}}人员管理 <el-button type="text"
          class="pull-right"
          icon="el-icon-circle-plus-outline"
          v-if="nowNode.fid"
          @click="_userInfoEdit({})">添加人员</el-button>
      </h4>
      <el-table :data="tableData"
        border
        width="100%">
        <el-table-column type="index"
          width="50">
        </el-table-column>
        <el-table-column property="fname"
          label="人员姓名">
        </el-table-column>
        <el-table-column
          label="人员编码">
          <template slot-scope="scope">
            {{scope.row.fcode}}
            <el-tag type="danger" size="mini" v-if="scope.row.fstate == 0">冻结</el-tag>
          </template>
        </el-table-column>
        <el-table-column property="fduties"
          label="职务">
        </el-table-column>
        <el-table-column property="fmobile"
          label="手机"
          width="110px"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column property="fdescribe"
          label="人员说明"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column fixed="right"
          width="130px"
          label="操作">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-edit-outline"
              @click="_userInfoEdit(scope.row)">编辑</el-button>
            <el-button type="text"
              icon="el-icon-delete"
              @click="_userDelete(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
    <el-dialog center
      :title="isEditUser ? '编辑人员' : '添加人员'"
      v-if="userInfoDialog"
      :visible.sync="userInfoShow"
      :before-close="_addUserClose"
      :width="isFj ? '1200px' : '900px'"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-row :gutter="20">
        <el-col :span="isFj ? 6 : 8">
          <el-card ref="infocard">
            <h4>个人信息</h4>
            <el-form :model="infoForm"
              label-width="80px">
              <el-form-item label="人员姓名">
                <el-input v-model="infoForm.fname"></el-input>
              </el-form-item>
              <el-form-item label="人员编码">
                <el-input v-model="infoForm.fcode"></el-input>
              </el-form-item>
              <el-form-item label="人员职务">
                <el-input v-model="infoForm.fduties"></el-input>
              </el-form-item>
              <el-form-item label="联系手机">
                <el-input v-model="infoForm.fmobile"></el-input>
              </el-form-item>
              <el-form-item label="修改密码">
                <el-input v-model="infoForm.fpassword"></el-input>
              </el-form-item>
              <el-form-item label="短信提醒" v-if="$store.state.userInfo.system_num === 340000">
                <el-switch
                  v-model="infoForm.fusesms"
                  active-text="启用"
                  inactive-text="禁用"
                  active-value="1"
                  inactive-value="0">
                </el-switch>
              </el-form-item>
              <el-form-item label="人员说明">
                <el-input v-model="infoForm.fdescribe"
                  type="textarea"
                  :rows="3"></el-input>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
        <el-col :span="isFj ? 6 : 8">
          <el-card :style="menuCardStyle">
            <h4>菜单权限</h4>
            <el-tree default-expand-all
              ref="menuTree"
              :data="menuList"
              show-checkbox
              node-key="menu_id"
              :props="menuProps">
            </el-tree>
          </el-card>
        </el-col>
        <el-col :span="isFj ? 6 : 8">
          <el-card :style="menuCardStyle">
            <h4>自媒体权限
              <el-button type="text"
                @click="_checkAll">{{this.allCheck ? '全不选' : '全选'}}</el-button>
              <el-button type="text"
                @click="_fanxuan">反选</el-button>
            </h4>
            <el-checkbox-group v-model="mediaCheckList">
              <el-col :span="24"
                v-for="item in mediaList"
                :key="item.fid">
                <el-checkbox :label="item.fid">{{item.fmedianame}}</el-checkbox>
              </el-col>
            </el-checkbox-group>
          </el-card>
        </el-col>
        <el-col :span="isFj ? 6 : 8"
          v-if="isFj !== 0">
          <el-card :style="menuCardStyle">
            <h4>线索权限</h4>
            <el-checkbox-group v-model="clueCheckList">
              <el-col :span="24"
                v-for="item in cluePermission"
                :key="item.value">
                <el-checkbox :label="item.value">{{item.label}}</el-checkbox>
              </el-col>
            </el-checkbox-group>
          </el-card>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          :loading="$store.state.bloading"
          @click="_submitUser">保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['nowNode'],
  data() {
    return {
      mediaCheckList: [],
      tableData: [],
      menuList: [],
      mediaList: [],
      allMediaList: [],
      clueCheckList: [],
      peopleLoading: false,
      userInfoDialog: false,
      menuProps: {
        label: 'menu_name',
        children: 'list',
      },
      mediaProps: {
        label: 'fmedianame',
        children: 'list',
      },
      userInfoShow: true,
      menuCardStyle: {
        height: '0',
        overflow: 'auto'
      },
      infoForm: {
        fstate: '1',
        fusesms: '0',
        fdescribe: '',
      },
      allCheck: false,
      cluePermission: [
        {
          label: '线索登记',
          value: '0'
        },
        {
          label: '登记审批',
          value: '11'
        },
        {
          label: '线索初核',
          value: '20'
        },
        {
          label: '初核审批',
          value: '21'
        },
        {
          label: '线索承办',
          value: '30'
        },
        {
          label: '承办审批',
          value: '31'
        },
      ]
    }
  },
  methods: {
    _userInfoEdit(val) {
      this._getMenuMediaList(this.nowNode.fid)
      setTimeout(() => {
        this.menuCardStyle.height = `${this.$refs.infocard.$el.clientHeight}px`
        if (val.menu_jurisdiction && !(val.menu_jurisdiction instanceof Array)) {
          this.$refs.menuTree.setCheckedKeys(JSON.parse(val.menu_jurisdiction))
        } else {
          this.$refs.menuTree.setCheckedKeys([])
        }
        if (val.media_jurisdiction && !(val.media_jurisdiction instanceof Array)) {
          this.mediaCheckList = JSON.parse(val.media_jurisdiction)
        } else {
          this.mediaCheckList = []
        }
        if (val.tregister_jurisdiction && !(val.tregister_jurisdiction instanceof Array)) {
          this.clueCheckList = (JSON.parse(val.tregister_jurisdiction)).filter(item => {
            return (item === '0' || item === '11' || item === '20' || item === '21' || item === '30' || item === '31')
          })
        } else {
          this.clueCheckList = []
        }
      })
      if (val.fid) {
        this.infoForm = val
      }
      this.userInfoDialog = true
      this.isEditUser = val.fid ? 1 : 0
    },
    _submitUser() {
      this.$store.commit('_bloading', true)
      let data = { ...this.infoForm, fregulatorid: this.nowNode.fid }
      let url = this.isEditUser ? '/Agp/Fjigou/edit_renyuan' : '/Agp/Fjigou/create_renyuan'
      let menu = this.$refs.menuTree.getCheckedKeys()
      data = {
        ...data,
        menu: Array.from(new Set(menu)),
        media_list: Array.from(new Set(this.mediaCheckList)),
        tregister_jurisdiction: this.clueCheckList
      }
      delete data.media_jurisdiction
      delete data.menu_jurisdiction
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this._getPeopleList(this.nowNode)
            this._addUserClose()
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _addUserClose() {
      this.userInfoDialog = false
      this.clueCheckList = []
      this.infoForm = {
        fstate: '1',
        fusesms: '0',
        fname: '',
        fcode: '',
        fduties: '',
        fmobile: '',
        fpassword: '',
      }
    },
    _userDelete(data) {
      this.$confirm(`确认删除人员 ${data.fname} ?`, '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + '/Agp/Fjigou/delete_renyuan', qs.stringify({ fid: data.fid }))
          .then(res => {
            if (res.data.code === 0) {
              this.$message.success(res.data.msg)
              this._getPeopleList(this.nowNode)
            } else {
              this.$func._error(res.data)
            }
          })
          .catch(() => {
            this.$func._error()
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消删除'
        })
      })
    },
    _getPeopleList(val) {
      this.peopleLoading = true
      axios.post(this.$_ + '/Agp/Fjigou/get_renyuanlist', qs.stringify({ fregulatorid: val.fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.peopleLoading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getMenuKey(menuTree, menuArr) {
      let parentArr = []
      menuTree.forEach(item => {
        item.list.forEach(item2 => {
          if (!menuArr.includes(item2.menu_id)) {
            parentArr.push(item.menu_id)
          }
        })
      })
      let nparentArr = Array.from(new Set(parentArr))
      let a = menuArr.filter(function (v) { return nparentArr.indexOf(v) == -1 })
      return a
    },
    _getMenuMediaList(val) {
      axios.post(this.$_ + '/Agp/Fjigou/get_jigoumenulist', qs.stringify({ fpid: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.menuList = res.data.data.list ? res.data.data.list : []
            if (this.isEdit && (this.nowNode.menu_jurisdiction !== 'null')) {
              let menuKey = this._getMenuKey(this.menuList, JSON.parse(this.nowNode.menu_jurisdiction))
              this.$refs.menuTree.setCheckedKeys(menuKey)
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
      axios.post(this.$_ + '/Agp/Fjigou/get_jigoumedialist', qs.stringify({ fpid: val }))
        .then(res => {
          if (res.data.code === 0) {
            this.mediaList = res.data.data ? res.data.data : []
            if (res.data.data) {
              res.data.data.forEach(item => {
                this.allMediaList.push(item.fid)
              })
            }
            if (this.isEdit && (this.nowNode.media_jurisdiction !== 'null')) {
              this.mediaCheckList = JSON.parse(this.nowNode.media_jurisdiction)
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _checkAll() {
      this.allCheck = !this.allCheck
      this.allCheck ? this.mediaCheckList = this.allMediaList : this.mediaCheckList = []
    },
    _fanxuan() {
      let a = this.mediaCheckList
      let b = this.allMediaList
      let aSet = new Set(this.mediaCheckList)
      let bSet = new Set(this.allMediaList)
      this.mediaCheckList = Array.from(new Set(a.concat(b).filter(v => !aSet.has(v) || !bSet.has(v))))
    }
  },
  computed: {
    isFj() {
      let a = this.$store.state.userInfo.fjxsgl
      return a
    }
  }
}
</script>
