<template>
  <div class="task-list"
    v-loading="loading">
    <el-table :data="tableData"
      size="small"
    	class="new-tabel"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="month"
        width="100"
        label="抽查月份">
      </el-table-column>
      <el-table-column label="抽查日期">
        <template slot-scope="scope">
          <el-popover
            v-for="(item,index) in scope.row.list"
            :key="index"
            placement="right"
            width="260"
            trigger="hover"
            v-model="item.visible">
            <div>
              <span>{{item.duringDate}}</span>
              <span v-html="item.content"></span>
              <el-button type="primary" size="mini" @click="createWord(item)">下载任务单</el-button>
            </div>
            <span slot="reference" class="date-group">
              <div v-html="item.tableContent" style="display: inline-block"></div></br>
            </span>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(form.page)"
      @current-change="getList">
    </el-pagination>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      form: {
        page: '1',
      },
      tableData: [],
      countAll: '0',
      loading: false,
      state: {
        '0': '未确认',
        '2': '已确认',
      }
    }
  },
  created() {
    this.getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$parent.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    getList(page) {
      this.loading = true
      this.form.page = page || '1'
      let data = { ...this.form }
      axios.post(this.$_ + '/Agp/Gdataconfirm/ccday_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            let monthstr = ''
            this.tableData = res.data.data.list.map(item => {
              item.tvs = []
              item.bcs = []
              item.papers = []
              item.list = []
              item.condition.forEach(i => {
                let tv = []
                let bc = []
                let paper = []
                i.tv.forEach(t => {
                  if(i.tv2.includes(t)){
                    tv.push(`<span style="background-color:#71c7a5;" class="${Number(item.state) === 0 ? 'text-underline' : ''}">${t}</span>`)
                  }else{
                    tv.push(`<span style="background-color:#409eff;" class="${Number(item.state) === 0 ? 'text-underline' : ''}">${t}</span>`)
                  }
                })
                i.bc.forEach(b => {
                  if(i.bc2.includes(b)){
                    bc.push(`<span style="background-color:#71c7a5;" class="${Number(item.state) === 0 ? 'text-underline' : ''}">${b}</span>`)
                  }else{
                    bc.push(`<span style="background-color:#409eff;" class="${Number(item.state) === 0 ? 'text-underline' : ''}">${b}</span>`)
                  }
                })
                i.paper.forEach(p => {
                  if(i.paper2.includes(p)){
                    paper.push(`<span style="background-color:#71c7a5;" class="${Number(item.state) === 0 ? 'text-underline' : ''}">${p}</span>`)
                  }else{
                    paper.push(`<span style="background-color:#409eff;" class="${Number(item.state) === 0 ? 'text-underline' : ''}">${p}</span>`)
                  }
                })
                let content = `
                  <p class="date-group">电视：${tv.join('')}</p>
                  <p class="date-group">广播：${bc.join('')}</p>
                  <p class="date-group">报纸：${paper.join('')}</p>
                `
                let duringDate = `抽查时段：${i.stime.substring(5)} 至 ${i.etime.substring(5)}`
                let wordData = {
                  fstarttime: i.stime,
                  fendtime: i.etime,
                  jingbanren: i.jingbanren,
                  taskno: i.taskno,
                  condition: {
                    tv: i.tv.join('、'),
                    bc: i.bc.join('、'),
                    paper: i.paper.join('、')
                  },
                  createtime: i.createtime
                }
                item.list.push({
                  tableContent: `电视：${tv.join('')} 广播：${bc.join('')} 报纸：${paper.join('')}`,
                  content,
                  duringDate,
                  wordData,
                  visible: false,
                })
              })
              item.month = this.$dayjs(new Date(item.fmonth)).format('YYYY 年 M 月')
              return item
            })
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
    },
    createWord(obj){
      axios.post(this.$_ + '/Agp/Gdataconfirm/create_planword',qs.stringify(obj.wordData)).then(res => {
        if(res.data.code === 0){
          let a = document.createElement('a')
          a.target = '_blank'
          a.href=res.data.data
          a.click()
        }
      })
    }
  }
}
</script>
<style scope lang="scss">
  .plan-group:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: default;
  }
  .date-group{
    margin-right: 10px;
    &:hover{
      font-weight: bold;
    }
    span{
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
    }
  }
.text-underline{
  text-decoration: underline;
}
</style>