<template>
  <div class="view-issue">
    <el-dialog title="违法条次"
      center
      :before-close="_colse"
      :visible.sync="show"
      width="1000px">
      <el-table :data="tableData"
        border
        v-loading="loading">
        <el-table-column label="序号"
          type="index"
          width="50">
        </el-table-column>
        <el-table-column label="媒体分类"
          width="80px">
          <template slot-scope="scope">
            <span v-if="scope.row.fmedia_class === '1'">电视</span>
            <span v-if="scope.row.fmedia_class === '2'">广播</span>
            <span v-if="scope.row.fmedia_class === '3'">报纸</span>
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告分类">
        </el-table-column>
        <el-table-column prop="fad_name"
          width="80px"
          label="广告名称">
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体">
        </el-table-column>
        <el-table-column prop="fissue_date"
          width="105px"
          label="播出日期">
          <template slot-scope="scope">
            <span v-if="scope.row.fissue_date">{{ $dayjs(scope.row.fissue_date).format('YYYY-MM-DD') }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="fstarttime"
          width="80px"
          label="开始时间">
          <template slot-scope="scope">
            <span v-if="scope.row.fstarttime">{{ $dayjs(scope.row.fstarttime).format('YYYY-MM-DD') }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="fendtime"
          width="80px"
          label="结束时间">
           <template slot-scope="scope">
            <span v-if="scope.row.fendtime">{{ $dayjs(scope.row.fendtime).format('YYYY-MM-DD') }}</span>
          </template>
        </el-table-column>
        <el-table-column label="时长/版面"
          width="90px">
          <template slot-scope="scope">
            {{ scope.row.fmedia_class === '3' ? scope.row.fpage : scope.row.difftime + '秒' }}
          </template>
        </el-table-column>
        <el-table-column width="110"
          label="违法表现代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="10"
        :current-page="Number(page)"
        @current-change="_getList">
      </el-pagination>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  props: {
    data: {
      default: {},
      type: Object
    }
  },
  data() {
    return {
      show: true,
      countAll: "0",
      tableData: [],
      page: 1,
      loading: true
    }
  },
  created() {
    this._getList()
  },
  methods: {
    _getList(page) {
      this.page = page || 1
      let params = { ...this.data, page: this.page }
      axios.post(this.$_ + '/Agp/Gdataconfirm/tiaoci_list', qs.stringify(params))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.countAll = res.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.loading = false
          this.$func._error()
        })
    },
    _colse() {
      this.$emit('close')
    },
  }
}
</script>