<template>
  <div class="c-table-view">
    <el-table :data="showLists"
      border
      height="500">
      <el-table-column label="排名"
        width="60">
        <template slot-scope="scope">
          {{((Number(pageIndex) - 1) * 50) + Number(scope.$index) + 1}}
        </template>
      </el-table-column>
      <el-table-column prop="fad_name"
        width="340"
        v-if="tableParams.search_type === '0'"
        show-overflow-tooltip
        label="广告名称">
        <template slot-scope="scope">
          <span :class="userInfo.regionid === '100000' ? 'dialog-click' : 'right-margin'"
            @click="userInfo.regionid === '100000' && _showList(1, scope.row, 0)">{{scope.row.fad_name}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fadclass"
        v-if="tableParams.search_type === '0'"
        label="广告类别"
        width="100">
      </el-table-column>
      <el-table-column prop="fregion_count"
        v-if="tableParams.search_type === '0'"
        label="跨地域数量"
        width="90">
      </el-table-column>
      <el-table-column label="播出地区"
        v-if="tableParams.search_type === '0'">
        <template slot-scope="scope">
          <span :class="userInfo.regionid === '100000' ? 'dialog-click' : 'right-margin'"
            @click="userInfo.regionid === '100000' && _showList(index,scope.row,1)"
            v-for="(item,index) in scope.row.fregionname" :key="index">{{item}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fname1"
        label="地域名称"
        v-if="tableParams.search_type === '1'"
        show-overflow-tooltip
        width="150">
        <template slot-scope="scope">
          <span :class="userInfo.regionid === '100000' ? 'dialog-click' : 'right-margin'"
            @click="userInfo.regionid === '100000' && _showList(1, scope.row, 0)">{{scope.row.fname1}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fmedianame"
        v-if="tableParams.search_type === '2'"
        show-overflow-tooltip
        label="媒体名称"
        width="200">
        <template slot-scope="scope">
          <span :class="userInfo.regionid === '100000' ? 'dialog-click' : 'right-margin'"
            @click="userInfo.regionid === '100000' && _showList(1, scope.row, 0)">{{scope.row.fmedianame}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="fadcount"
        v-if="tableParams.search_type !== '0'"
        label="广告数"
        width="100">
      </el-table-column>
      <el-table-column v-if="tableParams.search_type !== '0'"
        label="广告名称">
        <template slot-scope="scope">
          <span :class="userInfo.regionid === '100000' ? 'dialog-click' : 'right-margin'"
            @click="userInfo.regionid === '100000' && _showList(index, scope.row, 2)"
            v-for="(item,index) in scope.row.fadnames" :key="index">{{item}}</span>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="tableData.length"
      :page-size="50"
      :current-page="pageIndex"
      @current-change="_changeData">
    </el-pagination>
    <c-list-dialog ref="list"
      v-if="showList"
      :title="dialogTitle"
      @close="showList = false;list = []"
      :table-data="list"></c-list-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import cListDialog from './cListDialog'
import { mapState } from 'vuex'
export default {
  components: { cListDialog },
  props: {
    tableData: {
      type: Array,
      default: []
    },
    tableParams: {
      type: Object,
      default: {}
    }
  },
  data() {
    return {
      showList: false,
      list: [],
      dialogTitle: '',
      pageIndex: 1
    }
  },
  methods: {
    _showList(index, obj, type) {
      let data = {
        search_type: this.tableParams.search_type,
        region_level: this.tableParams.region_level,
        media_class: this.tableParams.media_class,
        ad_class: this.tableParams.ad_class,
        is_show_fsend: this.tableParams.is_show_fsend,
        is_show_longad: this.tableParams.is_show_longad,
        ...this.selection
      }
      if (this.tableParams.search_type === '0') {
        data.fadname = obj.fad_name
        if (type) {
          data.tregionid = obj.fregionids[index]
        }
        this.dialogTitle = `${type ? obj.fregionname[index] : ''}“${obj.fad_name}”跨地域违法广告播出情况`
      } else if (this.tableParams.search_type === '1') {
        data.tregionid = obj.rid
        if (type) {
          data.fadname = obj.fadnames[index]
        }
        this.dialogTitle = `${obj.fname1}${type ? '“' + obj.fadnames[index] + '”' : '所有'}跨地域违法广告播出情况`
      } else {
        data.fmediaid = obj.mid
        if (type) {
          data.fadname = obj.fadnames[index]
        }
        this.dialogTitle = `${obj.fmedianame}${type ? '“' + obj.fadnames[index] + '”' : '所有'}跨地域违法广告播出情况`
      }
      this.showList = true
      axios.post(this.$_ + '/Agp/GjzStatisticalData/kdyad_illegal_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.list = res.data.data
            this.$refs.list.toggleLoading()
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _changeData(index) {
      this.pageIndex = index
    },
  },
  computed: {
    ...mapState(['selection','userInfo']),
    showLists() {
      if (this.tableData.length) {
        return [].concat(this.tableData).splice((this.pageIndex - 1) * 50, (this.pageIndex - 1) * 50 + 50)
      }
    }
  }
}
</script>

<style scoped>
.dialog-click {
  margin-right: 8px;
  color: #00c1de;
  cursor: pointer;
}
.dialog-click:hover {
  color: #f56c6c;
}
</style>