<template>
  <div class="niss-dialog">
    <el-dialog :title="titles"
      center
      :before-close="_colse"
      :visible.sync="show"
      width="90%">
      <el-table :data="gridData"
        height="400"
        border
        v-loading="loading">
        <el-table-column width="80"
          align="center"
          label="媒体分类">
          <template slot-scope="scope">
            {{$store.state.allmediatype[scope.row.fmedia_class]}}
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          align="center"
          label="广告类别"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fad_name"
          width="200"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="100"
          align="center"
          prop="fcount"
          label="播出总条次"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column width="100"
          align="center"
          prop="diffweek"
          label="播出周数"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="播出时间段"
          width="210"
          show-overflow-tooltip>
          <template slot-scope="scope">
            {{scope.row.fstarttime}} ~ {{scope.row.fendtime}}
          </template>
        </el-table-column>
        <el-table-column width="140"
          label="违法表现代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        style="display:inline-block;"
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="10"
        :current-page="Number(dataDetail.page)"
        @current-change="dataDetails">
      </el-pagination>
      <a :href="durl" target="_blank" v-if="durl"><el-button class="pull-right" type="success">下载</el-button></a>
      <el-button v-else class="pull-right" type="primary" @click="dataDetails(data.page, 'xls')" :loading="outloading">导出</el-button>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import outButton from '@/components/common/outButton'
export default {
  components: {
    outButton,
  },
  props: ['data', 'posturl'],
  data() {
    return {
      show: true,
      dataDetail: {
        page: 1,
      },
      countAll: "0",
      gridData: [],
      title: '违法条数',
      loading: false,
      outloading: false,
      durl: ''
    }
  },
  created() {
    this.dataDetails()
  },
  methods: {
    output(){
    },
    _colse() {
      this.$emit('close')
    },
    dataDetails(page,type) {
      if(!type){
        this.loading = true
      }else{
        this.outloading = true
      }
      let longad = this.data.is_show_fsend === '1' ? '含待确认广告' : '不含待确认广告'
      this.titles = this.$store.state.isgj === 1 && this.$store.state.userInfo.fregulatorlevel === 30 ? `违法条数(${longad})` : "违法条数"
      this.data.page = page || 1
      this.data.fstate = '-1'
      if(type) this.data.outtype = type
      axios.post(this.$_ + this.posturl, qs.stringify(this.data))
        .then(res => {
          if(type){
            this.durl = res.data.data
            this.outloading = false
          }else{
            this.gridData = res.data.data.list
            this.countAll = res.data.data.count
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },

    initData(page) {
      let data = this.dataDetail
      this.predata = data
    },
  }
}
</script>
<style>
.niss-dialog .el-dialog--center {
  max-height: 700px;
  overflow-y: auto;
}
</style>
