<template>
  <div>
    <el-form>
      <el-col :span="4">
        <el-form-item label="选择年"
          label-width="61px">
          <el-select v-model="temp.years"
            style="width:100%;max-width:130px;"
            placeholder="选择年"
            @change="yearChange">
            <el-option v-for="item in Gtime.years"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="4">
        <el-form-item label="选择时间段"
          label-width="87px">
          <el-select v-model="temp.timetypes"
            style="width:100%;max-width:130px;"
            placeholder="选择时间段"
            @change="_changeTime">
            <el-option v-for="(value,key) in Gtime.timetypes"
              :key="key"
              :label="value"
              :value="key">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="5">
        <el-form-item label="选择时间"
          label-width="73px">
          <el-select v-model="temp.timeval"
            v-if="!isday"
            style="width:180px;"
            placeholder="选择时间"
            @change="$store.commit('_setFormValue',temp)">
            <el-option v-for="item in Gtime.timeval[temp.timetypes]"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <el-date-picker :editable="false"
            v-else
            style="max-width:212px;"
            v-model="searchDate"
            :picker-options="pickerOptions"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
            :clearable="false"
            value-format="yyyy-MM-dd"
            @change="dayChange">
          </el-date-picker>
        </el-form-item>
      </el-col>
    </el-form>
  </div>
</template>

<script>
import { mapState } from 'vuex'
  export default {
    data() {
      return {
        temp:{
          years: new Date().getFullYear(),
          timetypes: '30',
          timeval: 1
        },
        pickerOptions: {
          disabledDate: (time) => {
            return time.getTime() > new Date().getTime()
          },
        },
        searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
      }
    },
    created() {
      let timeval = this.$store.state.Gsresult.timeval
      this.temp.timeval = timeval
      this.temp = {...this.Gsresult}
      if(this.Gsresult.timetypes == 0) {
        let time = this.Gsresult.timeval
        this.searchDate = time.split(',')
      }
      this.$store.commit('_setFormValue', this.temp)
    },
    computed: {
      ...mapState(['Gtime', 'isgj', 'Gsresult']),
      isjc() {
        return this.$route.name === 'jchuizong'
      },
      isday() {
        return Number(this.temp.timetypes) === 0
      },
    },
    methods:{
      yearChange(val) {
        const time = this.$dayjs().format('YYYY-MM-DD')
        const newtime = `${val}-${time.substr(5)}`
        this.searchDate = [newtime, newtime]
        this.$store.commit('_setFormValue',this.temp)
      },
      dayChange(val) {
        this.temp.timeval = val.join(',')
        this.$store.commit('_setFormValue', this.temp)
      },
      _changeTime(val) {
        if (Number(val) === 0) {
          const time = this.$dayjs().format('YYYY-MM-DD')
          const newtime = `${this.temp.years}-${time.substr(5)}`
          this.searchDate = [newtime, newtime]
          this.temp.timeval = this.searchDate.join(',')
          this.$store.commit('_setFormValue', this.temp)
        } else {
          this.temp.timeval = this.Gtime.timeval[this.temp.timetypes][0].value
          this.$store.commit('_setFormValue', this.temp);
        }
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>