<template>
  <div class="registration-form">
    <el-dialog title="广告复核"
      center
      :visible.sync="show"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="90%">
      <el-row :gutter="10">
        <el-col :span="12">
          <div style="width:100%"
            v-loading="!adData.favifilename"
            v-if="(data.mclass === 'tv' || data.mclass === 'bc')">
            <aliplayer width="100%"
              :url="videoUrl"
              v-if="(data.mclass === 'tv' || data.mclass === 'bc') && adData.favifilename && videoUrl">
            </aliplayer>
          </div>
          <div class="imgBlock"
            v-if="data.mclass === 'paper'"
            v-loading="!adData.favifilename">
            <vueCropper ref="cropper"
              :img="adData.favifilename"
              :outputSize="1"></vueCropper>
          </div>
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息"
              name="1">
              <el-card>
                <el-form label-width="90px">
                  <el-form-item label="广告名称：">
                    {{ adData.fadname || '暂无' }}
                  </el-form-item>
                  <el-form-item label="违法类型：">
                    {{ adData.fillegaltype || '无' }}
                  </el-form-item>
                  <el-form-item label="品牌：">
                    {{ adData.fbrand || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告类别：">
                    {{ adData.ffullname || '暂无' }}
                  </el-form-item>
                  <el-form-item label="发布媒体：">
                    {{ adData.fmedianame || '暂无' }}
                  </el-form-item>
                  <el-form-item label="发布日期：">
                    {{ adData.fissuedate ? adData.fissuedate.substring(0,10) : '无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="违法信息"
              name="2">
              <el-card>
                <el-form label-width="110px" >
                  <el-form-item label="违法表现代码：">
                    {{ adData.fexpressioncodes || '无' }}
                  </el-form-item>
                  <el-form-item label="认定依据：">
                    {{ adData.fconfirmations || '无' }}
                  </el-form-item>
                  <el-form-item label="违法表现：">
                    {{ adData.fexpressions || '无' }}
                  </el-form-item>
                  <el-form-item label="违法内容：">
                    {{ adData.fillegalcontent || '无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="其他信息"
              name="3">
              <el-card>
                <el-form label-width="300px" >
                  <el-form-item label="生产批准文号：">
                    {{ adData.fmanuno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的生产批准文号：">
                    {{ adData.fadmanuno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告批准文号：">
                    {{ adData.fapprno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的广告批准文号：">
                    {{ adData.fadapprno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                    {{ adData.fadent || '暂无' }}
                  </el-form-item>
                  <el-form-item label="生产企业（证件持有人）名称：">
                    {{ adData.fent || '暂无' }}
                  </el-form-item>
                  <el-form-item label="生产企业（证件持有人）所在地区：">
                    {{ adData.fentzone || '暂无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
          </el-tabs>
        </el-col>
        <el-col :span="12"
          v-if="ischeck">
          <el-form label-width="80px">
            <el-form-item label="申请理由">
              <el-input type="textarea"
                :rows="3"
                v-model="result"></el-input>
            </el-form-item>
            <el-form-item label="上传证据">
              <upload @uploadSuccess="_uploadSuccess">
              </upload>
              <el-table :data="attachInfo"
                border>
                <el-table-column prop="fattachname"
                  label="文件名称">
                </el-table-column>
                <el-table-column width="80px"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"
                      @click="_deleteFile(scope.row)"
                      icon="el-icon-delete">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-form-item>
            <el-form-item>
              <el-button type="primary"
                @click="_submit"
                :loading="$store.state.bloading">申请复核</el-button>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="12"
          v-else>
          <el-form label-width="110px">
            <el-form-item label="申请理由：">
              {{checkInfo.tcheck_content}}
            </el-form-item>
            <el-form-item label="证据材料：">
              <a :href="item.fattach_url"
                v-for="item in checkInfo.flow"
                :key="item.fattach_url"
                title="点击下载">
                <el-button type="text"
                  >{{item.fattach}}</el-button>
              </a>
            </el-form-item>
            <el-form-item label="处理结果：">
              <el-radio-group v-model="selectValue">
                <el-radio-button label="同意"></el-radio-button>
                <el-radio-button label="不同意"></el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="上传意见材料：">
              <upload @uploadSuccess="_uploadSuccess">
              </upload>
              <el-table :data="attachInfo"
                border>
                <el-table-column prop="fattachname"
                  label="文件名称">
                </el-table-column>
                <el-table-column width="80px"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"
                      @click="_deleteFile(scope.row)"
                      icon="el-icon-delete">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-form-item>
            <el-form-item>
              <el-button type="primary"
                @click="_deal"
                :loading="$store.state.bloading"
                >处理</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import upload from "../../Ggsjzx/common/upload"
import axios from 'axios'
import aliplayer from '../../common/aliplayer'
import qs from 'qs'
import VueCropper from 'vue-cropper'
export default {
  components: {
    VueCropper,
    upload,
    aliplayer
  },
  props: {
    data: {
      type: Object,
      default: {}
    },
    ischeck: {
      type: Boolean,
      default: false
    },
    from: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      adData: { flow: [{}] },
      sbttype: '20',
      show: true,
      activeName: '1',
      showilllist: false,
      choose: [],
      chooseObj: [],
      result: '',
      attachInfo: [],
      selectValue: '同意',
      checkInfo: {},
      videoUrl: ''
    }
  },
  created() {
    this._getDetails()
  },
  methods: {
    _submit() {
      let url = '/Agp/Ffuhe/updatefuhe'
      let data = {
        fid: this.data.fid,
        mclass: this.data.mclass,
        result: this.result,
        attachinfo: this.attachInfo
      }
      this.$store.commit('_bloading', true)
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close', true)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _deal() {
      this.$store.commit('_bloading', true)
      let data = {
        fid: this.data.fid,
        result: this.selectValue,
        attachinfo: this.attachInfo
      }
      axios.post(this.$_ + '/Agp/Ffuhe/updatefuhetask', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close', true)
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
    },
    _getDetails() {
      let mclass = this.data.mclass
      let fid = ''
      switch (this.from) {
        case 'task':
          fid = this.data.fsample_id
          this._getfuhetaskview()
          break
        case 'review':
          fid = this.data.fid
          break
      }
      let url = '/Agp/Ffuhe/getfuheview'
      axios.post(this.$_ + url, qs.stringify({ fid: fid, mclass: mclass }))
        .then(res => {
          if (res.data.code === 0) {
            this.adData = res.data.data
            this.adData.fadclasscode = [res.data.data.fpcode, res.data.data.fcode]
            if (res.data.data.fexpressioncodes) {
              let obj = {}
              obj.fcode = res.data.data.fexpressioncodes
              obj.fexpression = res.data.data.fexpressions
              this.chooseObj.push(obj)
              this.choose = res.data.data.fexpressioncodes.split(',')
            }
            if (this.data.mclass === 'tv' || this.data.mclass === 'bc') {
              this.videoUrl = res.data.data.favifilename
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getfuhetaskview() {
      let fid = this.data.fid
      axios.post(this.$_ + '/Agp/Ffuhe/getfuhetaskview', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.checkInfo = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _close() {
      this.$emit('close')
    },
    _uploadSuccess(Obj) {
      let file = Obj.file;
      let obj = {};
      obj.fattachname = file.name;
      obj.fattachurl = Obj.url + file.response.key;
      this.attachInfo.unshift(obj);
    },
    _deleteFile(obj) {
      this.$confirm(`确认删除文件 ${obj.fattachname} ？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.attachInfo = this.attachInfo.filter(item => {
            return item.fattachurl !== obj.fattachurl;
          })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
  }
}
</script>
<style lang="scss" scoped>
.registration-form {
  .recheckReason {
    margin: 0;
  }
  .imgBlock {
    height: 300px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .el-form .el-form-item {
    margin-bottom: 0 !important;
  }
  .expression-tag {
    font-size: 12px;
    line-height: 24px;
    background-color: hsla(0, 87%, 69%, 0.1);
    color: #f56c6c;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid hsla(0, 87%, 69%, 0.2);
    margin-top: 10px;
  }
}
</style>