<template>
  <div class="registration-form">
    <el-dialog title="复核结果"
      center
      :visible.sync="show"
      :before-close="_close"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="90%">
      <el-row :gutter="10">
        <el-col :span="12">
          <div style="width:100%"
            v-loading="!adData.favifilename"
            v-if="(data.mclass === 'tv' || data.mclass === 'bc')">
            <aliplayer width="100%"
              :url="videoUrl"
              v-if="(data.mclass === 'tv' || data.mclass === 'bc') && adData.favifilename && videoUrl">
            </aliplayer>
          </div>
          <div class="imgBlock"
            v-if="data.mclass === 'paper'"
            v-loading="!adData.favifilename">
            <vueCropper ref="cropper"
              :img="adData.favifilename"
              :outputSize="1"></vueCropper>
          </div>
          <el-tabs v-model="activeName">
            <el-tab-pane label="基本信息"
              name="1">
              <el-card>
                <el-form label-width="90px" >
                  <el-form-item label="广告名称：">
                    {{ adData.fadname || '暂无' }}
                  </el-form-item>
                  <el-form-item label="违法类型：">
                    {{ adData.fillegaltype || '无' }}
                  </el-form-item>
                  <el-form-item label="品牌：">
                    {{ adData.fbrand || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告类别：">
                    {{ adData.ffullname || '暂无' }}
                  </el-form-item>
                  <el-form-item label="发布媒体：">
                    {{ adData.fmedianame || '暂无' }}
                  </el-form-item>
                  <el-form-item label="发布日期：">
                    {{ adData.fissuedate ? adData.fissuedate.substring(0,10) : '无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="违法信息"
              name="2">
              <el-card>
                <el-form-item label="认定依据：">
                  {{ adData.fconfirmations || '无' }}
                </el-form-item>
                <el-form label-width="110px" >
                  <el-form-item label="违法表现代码：">
                    {{ adData.fexpressioncodes || '无' }}
                  </el-form-item>
                  <el-form-item label="违法表现：">
                    {{ adData.fexpressions || '无' }}
                  </el-form-item>
                  <el-form-item label="违法内容：">
                    {{ adData.fillegalcontent || '无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="其他信息"
              name="3">
              <el-card>
                <el-form label-width="300px" >
                  <el-form-item label="生产批准文号：">
                    {{ adData.fmanuno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的生产批准文号：">
                    {{ adData.fadmanuno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告批准文号：">
                    {{ adData.fapprno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的广告批准文号：">
                    {{ adData.fadapprno || '暂无' }}
                  </el-form-item>
                  <el-form-item label="广告中标识的生产企业（证件持有人）名称：">
                    {{ adData.fadent || '暂无' }}
                  </el-form-item>
                  <el-form-item label="生产企业（证件持有人）名称：">
                    {{ adData.fent || '暂无' }}
                  </el-form-item>
                  <el-form-item label="生产企业（证件持有人）所在地区：">
                    {{ adData.fentzone || '暂无' }}
                  </el-form-item>
                </el-form>
              </el-card>
            </el-tab-pane>
          </el-tabs>
        </el-col>
        <el-col :span="12"
          style="height:100%">
          <el-card>
            <h3>申请理由</h3>
            {{checkInfo.tcheck_content}}
            <div>
              <a :href="item.fattach_url + '?attname=' + item.fattach"
                v-for="item in checkInfo.flow"
                :key="item.fattach_url">
                <el-button type="text"
                  >{{item.fattach}}</el-button>
              </a>
            </div>
            <h3>处理结果</h3>
            {{recheck[checkInfo.tcheck_status]}}
            <div v-if="checkInfo.tcheck_status === '30' || checkInfo.tcheck_status === '40'">
              {{checkInfo.tcheck_fhreson}}
            </div>
          </el-card>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
import VueCropper from 'vue-cropper'
import aliplayer from '../../common/aliplayer'
export default {
  components: {
    VueCropper,
    aliplayer
  },
  props: ["data"],
  data() {
    return {
      adData: { flow: [{}] },
      show: true,
      videoUrl: '',
      activeName: '1',
      checkInfo: {},
      recheck: {
        '0': '待提交',
        '10': '已提交复核申请',
        '20': '取消复核',
        '30': '复核处理通过',
        '40': '复核处理不通过'
      }
    }
  },
  created() {
    this._getDetails()
  },
  methods: {
    _getDetails() {
      let mclass = this.data.mclass
      let fid = this.data.fsample_id
      this._getfuhetaskview()
      let url = '/Agp/Ffuhe/getfuheview'
      axios.post(this.$_ + url, qs.stringify({ fid: fid, mclass: mclass }))
        .then(res => {
          if (res.data.code === 0) {
            this.adData = res.data.data
            this.adData.fadclasscode = [res.data.data.fpcode, res.data.data.fcode]
            if (res.data.data.fexpressioncodes) {
              let obj = {}
              obj.fcode = res.data.data.fexpressioncodes
              obj.fexpression = res.data.data.fexpressions
            }
            if (this.data.mclass === 'tv' || this.data.mclass === 'bc') {
              this.videoUrl = res.data.data.favifilename
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _getfuhetaskview() {
      let fid = this.data.fid
      axios.post(this.$_ + '/Agp/Ffuhe/getfuhetaskview', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.checkInfo = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _close() {
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss" scoped>
.registration-form {
  .recheckReason {
    margin: 0;
  }
  .imgBlock {
    height: 300px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .el-form .el-form-item {
    margin-bottom: 0 !important;
  }
  .expression-tag {
    font-size: 12px;
    line-height: 24px;
    background-color: hsla(0, 87%, 69%, 0.1);
    color: #f56c6c;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid hsla(0, 87%, 69%, 0.2);
    margin-top: 10px;
  }
}
</style>