<template>
  <div class="login" @keyup.enter="submit">
    <h1 class="primary">浙江省传统媒体广告监测系统（监测端）</h1>
    <div class="body">
      <el-card :body-style="{ padding: '20px' }" class="form-wrap">
        <p class="title text-center primary">登录</p>
        <el-form :model="loginForm" ref="loginForm" :rules="rules" label-width="0px" size="small">
          <el-form-item prop="code">
            <el-input v-model="loginForm.code" placeholder="用户名"></el-input>
          </el-form-item>
          <el-form-item prop="pswd">
            <el-input v-model="loginForm.pswd" type="password" show-password placeholder="密码"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submit" style="width:100%;">登 录</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <footer>
      版权所有：浙江省民营经济发展中心（省广告监测中心）
    </footer>
  </div>
</template>

<script>
import { encrypt } from '@/utils/rsa.js'
import { ajaxLogin } from '@/api/Login.js'
export default {
  name: 'login',
  data() {
    return {
      loginForm: {
        code: '',
        pswd: '',
      },
      tstring: '',
      rules: {
        code: [{ required: true, message: '请填写用户名', trigger: 'blur' }],
        pswd: [{ required: true, message: '请填写密码', trigger: 'blur' }],
      }
    }
  },
  methods: {
    submit() {
      this.$refs.loginForm.validate((valid) => {
        if(valid){
          let code = encrypt(this.loginForm.code)
          let pswd = encrypt(this.loginForm.pswd)
          let data = {
            ...this.loginForm,
            code,
            pswd
          }
          ajaxLogin(data).then(() => {
            this.$store.dispatch('getUserView')
            this.$router.push({ name: 'home'})
          }).catch(() => {
          })
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.login{
  padding-top: 150px;
  h1{
    margin: 0 0 10px 100px;
  }
  .body{
    position: relative;
    height: 400px;
    background-image: url('//publichz.oss-cn-hangzhou.aliyuncs.com/%E9%BB%98%E8%AE%A4%E8%B5%84%E6%BA%90/zj_login_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .form-wrap{
      position: absolute;
      right: 200px;
      top: 50%;
      transform: translateY(-50%);
      width: 300px;
      background-color: #fff;
      .title{
        margin: 0 0 10px 0;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1em;
      }
      .verify-wrap{
        display: flex;
        img{
          height: 33px;
        }
      }
    }
  }
  footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: #fff;
    padding: 8px;
    text-align: center;
  }
}
</style>