<template>
  <div class="medialist"
    v-loading="loading">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="100px">
      <el-row :gutter="10">
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体名称：">
            <el-input v-model="form.medianame"
              placeholder="请输入媒体名称">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="集团名称：">
            <el-input v-model="form.fmedia_group"
              placeholder="请输入集团名称"
              clearable>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒介地区：">
            <el-cascader placeholder="请选择媒介地区"
              style="width:100%"
              :options="$store.state.mediaArea"
              :props="$store.state.areaOptions"
              v-model="area"
              clearable>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="媒体类型：">
            <el-select v-model="form.mclass"
              placeholder="请选择"
              style="width:100%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="item in Mediatype"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="互联网类型："
            v-if="form.mclass === '4'">
            <el-select v-model="form.netadtype"
              placeholder="请选择"
              style="width:100%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value,key) in $store.state.netadtype"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
          <el-form-item label="状态：">
            <el-select v-model="form.status"
              placeholder="请选择"
              style="width:100%">
              <el-option label="有效"
                value="10"></el-option>
              <el-option label="无效"
                value="20"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12"
          :md="12"
          :lg="6"
          :xl="6">
         <el-form-item label="是否信用评价媒体：" label-width="142px">
          <el-radio-group v-model="form.fisxinyong">
            <el-radio-button label="">全部</el-radio-button>
            <el-radio-button label="1">是</el-radio-button>
            <el-radio-button label="0">否</el-radio-button>
          </el-radio-group>
        </el-form-item>
      </el-col>
      <el-col :span="24">
        <el-form-item>
          <el-button type="primary"
            class="pull-right"
            style="margin-left:10px"
            :loading="loading"
            @click="_getList(1)"
            icon="el-icon-search">搜 索</el-button>
        </el-form-item>
      </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      :height="$store.state.GTableHeight"
      border>
      <el-table-column type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="ffullname"
        label="所属行政区划"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column :label="form.mclass === '05' ? '媒体名称' : '媒体名称（媒体代码）'"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.fmedianame + (form.mclass === '05' ? '' : ('（'+ scope.row.fmediacode +'）')) }}
        </template>
      </el-table-column>
      <el-table-column prop="fmedia_group"
        label="集团名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="媒体类别"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{ filtermcalss(scope.row.mclass) }}
        </template>
      </el-table-column>
      <el-table-column prop="fisxinyong"
        label="信用评价媒体"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span :style="{'color': scope.row.fisxinyong == 1 ? 'green' : 'red' }">{{ scope.row.fisxinyong == 1 ? '是' : '否' }}</span>
        </template>
      </el-table-column>
      <el-table-column width="100px"
        label="操作"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <el-button type="text"
            @click="_live(scope.row)"
            icon="el-icon-view"
            :disabled="scope.row.mclass === '4'"> 查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <el-dialog center
      width="650px"
      :title="medianame"
      :visible.sync="show"
      :before-close="_close"
      v-if="showIframe">
      <iframe ref='live'
        src=""
        width="600px"
        height="500px"
        frameborder="0"></iframe>
    </el-dialog>
  </div>
</template>

<script>
import axios from "axios"
import qs from "qs"
import { Tree } from '../../../static/js/Tree.js'
export default {
  data() {
    return {
      form: {
        page: 1,
        mclass: "0",
        fmedia_group: '',
        medianame: '',
        netadtype: '0',
        status: '10',
        fisxinyong: '',
      },
      Mediatype: [
        {
           "value": "01", "label": "电视"
        },
        {
           "value": "02", "label": "广播"
        },
        {
           "value": "03", "label": "报纸"
        },
        {
           "value": "04", "label": "期刊"
        },
      ],
      countAll: '0',
      tableData: [],
      loading: false,
      medianame: '',
      show: true,
      showIframe: false,
      area: [],
    }
  },
  created() {
    if (this.$route.params.mclass) {
      this.form.mclass = this.$route.params.mclass
    }
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    filtermcalss(val) {
      const arr = this.Mediatype.filter(i => {
        return i.value == val
      })
      return arr[0].label
    },
    _getList(page) {
      this.loading = true
      this.form.page = page || 1
      let data = { ...this.form }
      data.regionid = this.area[this.area.length - 1]
      if (data.mclass !== '4') {
        delete data.netadtype
      }
      axios.post(this.$_ + "/Agp/Index/get_medialist", qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _live(obj) {
      this.showIframe = true
      this.medianame = obj.fmedianame
      setTimeout(() => {
        switch (obj.mclass) {
          case '01':
            this.$refs.live.src = `/Api/Media/m3u8_live/volume/30/fid/${obj.fid}/fdpid/${obj.fdpid}`
            break
          case '02':
            this.$refs.live.src = `/Api/Media/m3u8_live/volume/30/fid/${obj.fid}`
            break
          case '03':
            this.$refs.live.src = `/Api/Media/get_papersource/media_id/${obj.fid}/fdpid/${obj.fdpid}`
            break
        }
      }, 200)
    },
    _close() {
      this.$refs.live.src = ''
      this.medianame = ''
      this.showIframe = false
    }
  },
  computed: {
    // Mediatype() {
    //   return this.$store.state.mediaType5
    // },
  }
};
</script>