<template>
  <div class="lbanjian">
    <g-search></g-search>
    <el-form inline
      label-width="90px">
      <el-form-item label="选择地域：">
        <el-cascader placeholder="请选择接收局"
          :options="$store.state.allArea2"
          :props="$store.state.areaOptions"
          v-model="area">
        </el-cascader>
        <el-button type="primary"
          @click="() => $refs.getsendlist._getList()"
          icon="el-icon-search">查询</el-button>
      </el-form-item>
    </el-form>
    <el-tabs v-model="activeTab"
      type="card">
      <el-tab-pane label="线索接收列表"
        name="1">
        <keep-alive>
          <getsend-list ref="getsendlist"
            :area="area"
            @setArea="setArea"
            v-if="activeTab == '1'"
            :isgetlist="true" />
        </keep-alive>
      </el-tab-pane>
      <el-tab-pane label="线索交办列表"
        name="2">
        <keep-alive>
          <getsend-list ref="getsendlist"
            :area="area"
            @setArea="setArea"
            v-if="activeTab === '2'"
            :isgetlist="false" />
        </keep-alive>
      </el-tab-pane>
      <el-tab-pane
        v-if="Number($store.state.userInfo.ischazheng)"
        name="3">
        <span slot="label">
          {{
          `线索查证列表 ` + (ActiveTab[$route.name+'3'] ? `(${ActiveTab[$route.name+'3']})` : '')
          }}
        </span>
        <keep-alive>
          <ajczlb ref="getsendlist" v-if="activeTab === '3'" :area="area" @setArea="setArea" />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
    <ajxsxq v-if="showDetails"
      :data="details"
      @close="showDetails = false" />
  </div>
</template>

<script>
import GSearch from "../common/GSearch";
import axios from 'axios'
import qs from 'qs'
import ajczlb from './common/ajczlb'
import { mapState } from 'vuex'
import ajxsxq from './common/ajxsxq'
import getsendList from './common/getsendList'
export default {
  components: {
    GSearch,
    ajxsxq,
    getsendList,
    ajczlb
  },
  data() {
    return {
      activeTab: '1',
      filedata: [],
      showFiles: false,
      area: [],
      showDetails: false,
      details: {}
    }
  },
  created() {
    this.activeTab = this.$route.params.activeTab || '1'
  },
  methods: {
    ...mapState(['ActiveTab']),
    setArea(area){
      this.area = area
    }
  },
}
</script>