<template>
  <div class="sbzdanjian"
    v-loading="loading">
    <el-form ref="sform">
      <el-row>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              @click="_shangbao"
              icon="el-icon-upload2">
              上报
            </el-button>
            <el-button type="primary"
              @click="_sendAnjian"
              icon="el-icon-share"
              v-if="$store.state.userInfo.fregulatorlevel !== 0">
              线索派发
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="tableData"
      border
      size="small"
    	class="new-tabel"
      :height="$store.state.GTableHeight"
      @selection-change="_handleSelectionChange">
      <el-table-column type="selection"
        width="50">
      </el-table-column>
      <el-table-column prop="fad_name"
        min-width="110"
        label="线索名称"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="80"
        label="线索类型"
        prop="fill_type"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fcreate_time"
        width="100"
        label="交办日期"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column width="120"
        prop="fresult_endtime"
        label="截止日期">
      </el-table-column>
      <el-table-column prop="fsend_regname"
        width="160"
        label="交办线索工商局"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="是否查看"
        width="80">
        <template slot-scope="scope">
          {{Number(scope.row.fview_status) ? '是' : '否'}}
        </template>
      </el-table-column>
      <el-table-column width="80"
        label="查看详情"
        fixed="right">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-info"
            @click="_jbinfo(scope.row,1)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="Number(searchForm.page)"
      @current-change="_getList">
    </el-pagination>
    <shangbao @close="showShangbao = false"
      @send="_sendShangbao"
      v-if="showShangbao">
    </shangbao>
    <el-dialog center
      :visible.sync="showPaifa"
      title="线索派发"
      width="500px"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <el-table border
        :data="multipleSelection">
        <el-table-column prop="fad_name"
          label="广告名称"
          show-overflow-tooltip>
        </el-table-column>
      </el-table>
      <div class="text-center">
        <el-cascader placeholder="请选择派发地域"
          :options="$store.state.areaList"
          :props="$store.state.areaOptions"
          v-model="area"
          clearable></el-cascader>
      </div>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_send"
          :loading="$store.state.bloading">
          发 送
        </el-button>
      </div>
    </el-dialog>
    <ajxsxq v-if="showDetails"
      :data="details"
      @close="showDetails = false" />
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import shangbao from "../Investigation/components/shangbao"
import ajxsxq from './common/ajxsxq'
export default {
  components: {
    shangbao,
    ajxsxq
  },
  data() {
    return {
      tableData: [],
      searchForm: {
        page: 1
      },
      countAll: '0',
      loading: false,
      multipleSelection: [],
      showShangbao: false,
      showPaifa: false,
      area: [],
      showDetails: false,
      details: false
    }
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true
      this.searchForm.page = page || 1
      axios.post(this.$_ + '/Agp/Gzdajjieguo/dclzdanjian_list', qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              item.fsend_time = item.fsend_time ? item.fsend_time.substring(0, 10) : '/'
              item.fcreate_time = item.fcreate_time ? item.fcreate_time.substring(0, 10) : '/'
              item.fresult_endtime = item.fresult_endtime ? item.fresult_endtime.substring(0, 10) : '/'
              return item
            })
            this.countAll = res.data.data.count
            this.loading = false
          } else {
            this.tableData = []
            this.$func._error(res.data)
            this.loading = false
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _shangbao() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！");
        return false;
      }
      this.showShangbao = true;
    },
    _sendShangbao(files, val, checked) {
      let selfid = this.$func.getIdArr(this.multipleSelection, "fid");
      let selfresult = checked.join(";") + ";";
      let url = "/Agp/Gzdajjieguo/sbzdanjian";
      axios
        .post(
          this.$_ + url,
          qs.stringify({
            selfid: selfid,
            selfresult: selfresult,
            attachinfo: files
          })
        )
        .then(res => {
          if (res.data.code === 0) {
            this._getList();
            this.$message.success("操作成功！");
            this.showShangbao = false;
          } else {
            this.$func._error(res.data);
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    _sendAnjian() {
      if (!this.multipleSelection.length) {
        this.$message.error("请选择！");
        return false;
      }
      this.showPaifa = true;
    },
    _send() {
      if (!this.area.length) {
        this.$message.error("请选择派发地区！");
        return false;
      }
      this.$store.commit('_bloading', true)
      let tregionid = this.area[this.area.length - 1];
      let selfid = this.$func.getIdArr(this.multipleSelection, "fid");
      axios
        .post(
          this.$_ + "/Agp/Gzdajjieguo/pfzdanjian",
          qs.stringify({
            tregionid: tregionid,
            selfid: selfid
          })
        )
        .then(res => {
          if (res.data.code === 0) {
            this.showPaifa = false;
            this._getList();
            this.area = [];
            this.$message.success(res.data.msg);
          } else {
            this.$func._error(res.data);
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error();
          this.$store.commit('_bloading', false)
        });
    },
    _jbinfo(obj, type) {
      this.details = {
        fid: obj.fid,
        type: type
      }
      this.showDetails = true
    },
  },
}
</script>