<template>
  <!-- 广告监测广告复审公用页面 -->
  <div class="detach">
    <el-form :model="searchForm"
      ref="searchForm"
      inline
      @keyup.native.enter="mediaIssueList()">
      <el-form-item label="媒体名称：">
        <el-input v-model="searchForm.mname" clearable></el-input>
      </el-form-item>
      <el-form-item label="日期范围：">
        <el-date-picker v-model="searchForm.ftime"
          clearable
          :picker-options="pickerOptions"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="mediaIssueList()"
          icon="el-icon-search">搜 索</el-button>
        <el-button type="danger"
          @click="reset()"
          icon="el-icon-refresh" plain>重 置</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border stripe :height="tableHeight">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column label="媒体名称" prop="fmedianame"></el-table-column>
      <el-table-column label="媒体类型" prop=""></el-table-column>
      <el-table-column label="发布日期" prop="fissue_date"></el-table-column>
      <el-table-column label="操作" prop=""></el-table-column>
    </el-table>
    <el-pagination
      class="pull-right"
      @size-change="handleSizeChange"
      @current-change="mediaIssueList"
      :current-page.sync="page.pageIndex"
      :page-sizes="[10, 15, 20, 50]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next"
      :total="total">
    </el-pagination>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { mediaIssueList } from "@/api/MediaIssue.js";
export default {
  name: 'detach',
  data() {
    return {
      searchForm: {
        mname: '',
        ftime: []
      },
      tableData: [],
      page: {
        pageSize: 20,
        pageIndex: 1
      },
      total: 0,
      sourceForm: '',
      tableHeight: '300px;'
    }
  },
  computed: {
    ...mapGetters(['pickerOptions', 'routerMap']),
  },
  watch: {
    '$route.path': {
      handler(){
        this.reset()
      },
      deep: true
    }
  },
  created() {
    this.sourceForm = JSON.stringify(this.searchForm)
    this.mediaIssueList()
  },
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = this.getTH(this, 134)
    })
    window.onresize = () => {
      this.tableHeight = this.getTH(this, 134)
    }
  },
  methods: {
    mediaIssueList(page = 1) {
      this.page.pageIndex = page
      let data = {
        taskType: 'bzfl',
        ...this.searchForm,
        ...this.page
      }
      data.ftime = data.ftime || []
      mediaIssueList(data).then(res => {
        this.tableData = res.data
      })
    },
    handleSizeChange(size){
      this.page.pageSize = size
      this.mediaIssueList(this.page.pageIndex)
    },
    reset(){
      this.searchForm = JSON.parse(this.sourceForm)
      this.mediaIssueList(1)
    }
  },
}
</script>

<style lang="scss" scoped>
</style>