<template>
  <div class="clueedger">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="编号：">
            <el-input v-model="form.fnumber"
              placeholder="请输入交办单编号"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="form.fname"
              placeholder="请输入广告名称"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布媒体：">
            <el-input v-model="form.fmedianame"
              placeholder="请输入发布媒体"
              :style="$store.state.fwidth"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="来源：">
            <el-select v-model="form.ffromtype"
              clearable
              :style="$store.state.fwidth">
              <el-option v-for="item in $store.state.clueFrom"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="任务状态：">
            <el-select v-model="form.rwzt"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.rwzt"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="是否办结：">
            <el-select v-model="form.sfbj"
              :style="$store.state.fwidth">
              <el-option v-for="(value, key) in $store.state.sfbj"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="交办时间：">
            <el-date-picker :editable="false"
              :style="$store.state.fwidth"
              v-model="searchDate"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList"
              icon="el-icon-search">搜 索</el-button>
            <el-button type="primary"
              class="pull-right"
              @click="_outData">导出</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData.list"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column width="250"
        label="交办单编号"
        show-overflow-tooltip>
        <template slot-scope="scope">
          <span :class="Number(scope.row.fstate) === 5 ? 'red' : ''">{{scope.row.fnumber}}</span>
          <el-popover v-for="(item,index) in scope.row.gz_data"
            :key="index"
            placement="right"
            width="200"
            trigger="hover"
            :content="item.ftk_endtime.substring(0,10)">
            <el-tag class="right-margin"
              type="text"
              slot="reference"
              :type="_color(item)">{{$store.state.gzlx[item.ftk_type].label}}</el-tag>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="广告名称"
        min-width="110"
        prop="fname"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        min-width="110"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="线索来源"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.ffromtype === '10' ? '监测发现' : $store.state.clueFrom2[scope.row.ffromtype]}}
        </template>
      </el-table-column>
      <el-table-column prop="fregisterpersonname"
        label="交办人"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregisterregulatorname"
        label="办理单位"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="办理进度" prop="diffdays"
        width="120">
      </el-table-column>
      <el-table-column label="操作"
        width="140"
        fixed="right">
        <template slot-scope="scope">
          <el-button @click.native.prevent="_details(scope.row)"
            type="text"
            icon="el-icon-info">
            详情
          </el-button>
          <el-button
            v-if="Number(scope.row.fstate) === 30 && Number(scope.row.fregisterregulatorpid)  === Number($store.state.userInfo.fregulatorpid)"
            @click="deleted(scope.row.fid)"
            type="text"
            style="color: #F56C6C"
            icon="el-icon-delete">
            作废
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(tableData.count)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <tz-form v-if="showDialog"
      :fid="fid"
      title="线索台账"
      @close="_closeDialog">
    </tz-form>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <span>确定要作废该条信息吗？请输入理由</span>
      <el-input type="textarea" rows="5" v-model="result" placeholder="填写理由" style="padding-top: 10px;"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">取 消</el-button>
        <el-button type="primary" @click="submit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import outFile from '../common/outFile'
import tzForm from './tzForm'
import axios from 'axios'
import qs from 'qs'
export default {
  components: {
    tzForm,
    outFile
  },
  created() {
    this._getList()
  },
  data() {
    return {
      //搜索条件
      form: {
        page: 1,
        ffromtype: '',
        fmedianame: '',
        fnumber: '',
        fname: '',
        fstate: '0',
        djrqed: '',
        djrqst: '',
        sfbj: '0',
        rwzt: '0'
      },
      searchDate: [],
      tableData: {},
      loading: false,
      showdownload: false,
      durl: '',
      showDialog: false,
      registrationForm: {},
      fid: '',
      dialogVisible: false,
      result: '',
      dfid: '',
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    /**
     * 获取列表
     */
    _getList() {
      this.loading = true
      let data = { ...this.form }
      data.djrqst = this.searchDate[0] || ''
      data.djrqed = this.searchDate[1] || ''
      axios.post(this.$_ + '/Agp/Ntsjubao/register_list', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.tableData.list.map(item => {
              if (item.fregistertime) {
                item.fregistertime = item.fregistertime.substring(0, 10)
              }
              if(item.fstate === '40'){
                item.diffdays = '已办结'
              }else{
                item.diffdays = `剩余 ${item.diffdays} 天`
              }
              return item
            })
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$message.error('获取列表失败')
          this.loading = false
        })
    },
    _closeDialog() {
      this.showDialog = false
      this._getList()
    },
    _details(item) {
      this.showDialog = true
      this.fid = item.fid
    },
    deleted(val) {
      this.dfid = val
      this.dialogVisible = true
    },
    submit() {
      let data = {
        fid: this.dfid,
        result: this.result,
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/register_del', qs.stringify(data))
      .then(res => {
        if (res.data.code === 0) {
          this.$notify({
            title: '成功',
            message: res.data.msg,
            type: 'success',
            duration: 1000,
          });
          this.dialogVisible = false
          this._getList()
        } else {
          this.$func._error(res.data.msg)
        }
      })
      .catch((err) => {
        this.$message.error(err)
      })
    },
    handleClose() {
      this.dialogVisible = false
      this.result = ''
    },
    _outData() {
      this.showdownload = true
      let data = { ...this.form }
      data.djrqst = this.searchDate[0] || ''
      data.djrqed = this.searchDate[1] || ''
      axios.post(this.$_ + '/Agp/OutXlsNJ/create_taizhanglist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _color(obj) {
      if (obj.hotstatus === '10') {
        return 'danger'
      }
      if (obj.hotstatus === '0') {
        return 'warning'
      }
      return 'info'
    }
  }
}
</script>
<style lang="scss">
.clueedger{
  &/deep/.el-dialog__body {
    padding: 10px 20px;
  }
  .red{
    color: red;
  }
}
</style>