<template>
  <div class="cluedisposal">
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col :sm="12" :md="12" :lg="8" :xl="6">
          <el-form-item label="编号：">
            <el-input v-model="form.fnumber"
              placeholder="请输入交办单编号"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="8" :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="form.fname"
              placeholder="请输入广告名称"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="8" :xl="6">
          <el-form-item label="来源：">
            <el-select v-model="form.ffromtype"
              clearable
              style="width:100%">
              <el-option v-for="item in $store.state.clueFrom"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="8" :xl="6">
          <el-form-item label="发布媒体：">
            <el-input v-model="form.fmedianame"
              placeholder="请输入发布媒体"></el-input>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="8" :xl="6">
          <el-form-item label="任务状态：">
            <el-select v-model="form.rwzt"
              :style="$store.state.fwidth">
              <el-option label="全部"
                value="0"></el-option>
              <el-option v-for="(value, key) in $store.state.rwzt"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12" :md="12" :lg="8" :xl="6">
          <el-form-item label="交办时间：">
            <el-date-picker :editable="false"
              style="width:100%"
              v-model="searchDate"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label-width="0px">
            <el-radio-group v-model="fstate"
              @change="_getList(1)">
              <el-radio-button :label="0">未完成</el-radio-button>
              <el-radio-button :label="1">已完成</el-radio-button>
            </el-radio-group>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column width="250"
        label="交办单编号"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.fnumber}}
          <el-popover v-for="(item,index) in scope.row.gz_data"
            :key="index"
            placement="right"
            width="200"
            trigger="hover"
            :content="item.ftk_endtime.substring(0,10)">
            <el-tag class="right-margin"
              type="text"
              slot="reference"
              :type="_color(item)">{{$store.state.gzlx[item.ftk_type].label}}</el-tag>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="fname"
        label="广告名称"
        min-width="110"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        min-width="110"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="线索来源"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.ffromtype === '10' ? '监测发现' : $store.state.clueFrom2[scope.row.ffromtype]}}
        </template>
      </el-table-column>
      <el-table-column prop="fregisterpersonname"
        label="交办人"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregisterregulatorname"
        label="办理单位"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="办理进度"
        width="120" prop="diffdays">
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="120">
        <template slot-scope="scope">
          <el-button v-if="!fstate"
            type="text"
            icon="el-icon-edit"
            @click="_firstTrial(scope.row)">
            {{scope.row.fflowname}}
          </el-button>
          <el-button v-else
            @click.native.prevent="_details(scope.row)"
            type="text"
            icon="el-icon-info">
            详情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(countAll)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
    <cl-form ref="firstTrial"
      wstype="1,4,5"
      :back="true"
      :fid="fid"
      :fflowname="fflowname"
      v-if="showDialog"
      @close="_closeDialog">
    </cl-form>
    <sh-form ref="firstTrial"
      :back="true"
      :fid="fid"
      :fflowname="fflowname"
      v-if="showSH"
      @close="_closeDialog">
    </sh-form>
    <tz-form v-if="showDialog2"
      :fid="fid"
      title="线索详情"
      @close="_closeDialog2">
    </tz-form>
  </div>
</template>
<script>
import clForm from "./clForm";
import shForm from "./shForm";
import tzForm from './tzForm'
import axios from "axios";
import qs from "qs";
export default {
  components: {
    clForm,
    tzForm,
    shForm
  },
  data() {
    return {
      // 搜索表单数据
      form: {
        page: 1,
        ffromtype: '',
        fmedianame: '',
        fnumber: '',
        fname: '',
        fstate: '0',
        djrqed: '',
        djrqst: '',
        rwzt: '0'
      },
      showSH: false,
      searchDate: [],
      fstate: 0,
      // 列表及session数据
      tableData: [],
      loading: false,
      showDialog: false,
      showDialog2: false,
      registrationdata: {},
      countAll: "0",
      fid: "",
      fflowname: '',
    };
  },
  created() {
    this._getList()
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    _getList(page) {
      this.loading = true;
      this.form.page = page || 1
      let data = { ...this.form }
      data.djrqst = this.searchDate[0] || ''
      data.djrqed = this.searchDate[1] || ''
      let url = this.fstate ? '/Agp/Ntsjubao/finishtask_list' : '/Agp/Ntsjubao/waittask_list'
      axios.post(this.$_ + url, qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list.map(item => {
              if (item.fregistertime) {
                item.fregistertime = item.fregistertime.substring(0, 10)
              }
              if(item.fstate === '40'){
                item.diffdays = '已办结'
              }else{
                item.diffdays = `剩余 ${item.diffdays} 天`
              }
              return item
            });
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.$func._error(res.data);
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _firstTrial(item) {
      this.fid = item.fid
      this.fflowname = item.fflowname
      if(['30','33','34'].includes(item.fstate)){
        this.showDialog = true
      }else{
        this.showSH = true
      }
    },
    _closeDialog() {
      this.showDialog = false
      this.showSH = false
      this._getList();
    },

    _setTime(val) {
      if (val instanceof Array) {
        this.form.starttime = val[0]
        this.form.endtime = val[1]
      } else {
        this.form.starttime = ''
        this.form.endtime = ''
      }
    },
    _details(item) {
      this.showDialog2 = true
      this.fid = item.fid
    },
    _closeDialog2() {
      this.showDialog2 = false;
    },
    _color(obj) {
      if (obj.hotstatus === '10') {
        return 'danger'
      }
      if (obj.hotstatus === '0') {
        return 'warning'
      }
      return 'info'
    }
  }
};
</script>
