<template>
  <div class="draftbox">
    <!-- 搜索条件 -->
    <el-form ref="sform"
      :model="form"
      label-width="90px">
      <el-row :gutter="10">
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="交办单编号：">
            <el-input v-model="form.fnumber"
              placeholder="请输入交办单编号"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="广告名称：">
            <el-input v-model="form.fname"
              placeholder="请输入广告名称"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="来源：">
            <el-select v-model="form.ffromtype"
              clearable
              style="width:100%">
              <el-option v-for="item in $store.state.clueFrom"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="发布媒体：">
            <el-input v-model="form.fmedianame"
              placeholder="请输入发布媒体"></el-input>
          </el-form-item>
        </el-col>
        <el-col
          :sm="12"
          :md="12"
          :lg="8"
          :xl="6">
          <el-form-item label="状态：">
            <el-select v-model="form.fstate"
              style="width:100%">
              <el-option label="全部"
                value="0"></el-option>
              <el-option label="草稿"
                value="10"></el-option>
              <el-option label="退回"
                value="13"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item>
            <el-button type="primary"
              class="pull-right"
              style="margin-left:10px"
              :loading="loading"
              @click="_getList"
              icon="el-icon-search">搜 索</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- 列表 -->
    <el-table border
      :data="tableData.list"
      :height="$store.state.GTableHeight"
      v-loading="loading">
      <el-table-column label="序号"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column prop="fnumber"
        label="交办单编号"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fname"
        label="广告名称"
        min-width="110"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fmedianame"
        label="发布媒体"
        min-width="110"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="线索来源"
        show-overflow-tooltip>
        <template slot-scope="scope">
          {{scope.row.ffromtype === '10' ? '监测发现' : $store.state.clueFrom2[scope.row.ffromtype]}}
        </template>
      </el-table-column>
      <el-table-column prop="fregisterpersonname"
        label="交办人"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="fregisterregulatorname"
        label="办理单位"
        show-overflow-tooltip>
      </el-table-column>
      <el-table-column label="操作"
        fixed="right"
        width="80">
        <template slot-scope="scope">
          <el-button type="text"
            icon="el-icon-edit"
            @click="_registration(scope.row.fid)">
            编辑
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination background
      layout="prev, pager, next, total"
      :total="Number(tableData.count)"
      :page-size="20"
      :current-page="form.page"
      @current-change="_getList">
    </el-pagination>
  </div>
</template>
<script>
import axios from 'axios'
import qs from 'qs'
export default {
  created() {
    this._getList()
  },
  data() {
    return {
      // 搜索表单
      form: {
        page: 1,
        ffromtype: '',
        fmedianame: '',
        fnumber: '',
        fname: '',
        fstate: '0',
      },
      // 列表数据
      tableData: {},
      loading: false,
      showDialog: false,
      registrationdata: {}
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.commit('setGTableHeight', (102 + this.$refs.sform.$el.clientHeight))
    })
  },
  methods: {
    // 获取列表
    _getList() {
      this.loading = true
      let data = { ...this.form }
      axios.post(this.$_ + '/Agp/Ntsjubao/get_registerlist', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.tableData.list.map(item => {
              if (item.fregistertime) {
                item.fregistertime = item.fregistertime.substring(0, 10)
              }
              return item
            })
            this.loading = false
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.loading = false
          this.$func._error('获取列表失败')
        })
    },
    // 关闭弹窗
    _closeDialog() {
      this.showDialog = false
      this._getList()
    },
    // 显示弹窗
    _registration(fid) {
      this.$router.push({ name: `surrender`, params: { fid: fid } })
    },
    _setTime(val) {
      if (val instanceof Array) {
        this.form.starttime = val[0]
        this.form.endtime = val[1]
      } else {
        this.form.starttime = ''
        this.form.endtime = ''
      }
    }
  }
}
</script>
