<template>
  <div class="surrender">
    <el-row>
      <el-button type="primary"  @click="$router.push({path:'draftbox'})" icon="el-icon-arrow-left" v-if="$route.params.fid">返回</el-button>
      <br /><br />
    </el-row>
    <el-row :gutter="20">
      <fieldset>
        <legend>投诉信息</legend>
        <el-form :model="registrationForm"  ref="registrationForm" label-width="160px">
          <el-col :span="12">
            <el-form-item label="广告线索交办单编号：">
              <el-input v-model="registrationForm.fnumber"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="投举方：">
              <el-input v-model="registrationForm.fpersonname"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="举报人类别：">
              <el-radio-group v-model="registrationForm.fpersontype" :style="Width">
                <el-radio label="10">个人</el-radio>
                <el-radio label="20">单位</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="广告名称：">
              <el-input v-model="registrationForm.fname"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="投诉方联系方式：">
              <el-input v-model="registrationForm.fpersonmobile"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="线索来源：">
              <el-select v-model="registrationForm.ffromtype" placeholder="请选择" :style="Width">
                <el-option
                  v-for="(value,key) in $store.state.clueFrom2"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="广告类别：">
              <el-cascader
                :options="$store.state.adClassOptions"
                v-model="fadclass"
                :props="$store.state.propsOptions"
                :style="Width">
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="广告发布时间：">
              <el-date-picker :editable="false"
                v-model="registrationForm.fsendtime"
                :picker-options="pickerOptions2"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="请选择"
                :style="Width">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="媒体类别：">
              <el-select
                v-model="registrationForm.fmediatype"
                placeholder="请选择"
                :style="Width"
                @change="_getmediaList">
                <el-option
                  v-for="item in $store.state.mediaType5"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="发布媒体：">
              <el-select
                :style="Width"
                v-model="registrationForm.fmediaid">
                <el-option v-for="item in mediaList" :key="item.fid" :label="item.fmedianame" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="交办时间：">
              <el-date-picker :editable="false"
                v-model="registrationForm.fgivetime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="请选择"
                :picker-options="pickerOptions"
                :style="Width">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="截止日期：">
              <el-date-picker :editable="false"
                v-model="registrationForm.fendtimes"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="请选择"
                :picker-options="pickerOptions"
                :style="Width">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="广告主：">
              <el-input v-model="registrationForm.fadowner" :style="Width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="广告条次：">
              <el-input v-model="registrationForm.fsendcount" type="number" :style="Width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="投诉（举报）内容：">
              <el-input type="textarea" :rows="5" v-model="registrationForm.fappeal" :style="Width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="登记人：">
              {{$store.state.userInfo.fname}}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="登记时间：">
              <el-date-picker :editable="false"
                v-model="registrationForm.fregistertime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期"
                :style="Width">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="录入单位：">
              {{$store.state.userInfo.regulatorname}}
            </el-form-item>
          </el-col>
        </el-form>
      </fieldset>
      <fieldset>
        <legend>分派</legend>
        <el-form :model="registrationForm"  ref="registrationForm" label-width="160px">
          <el-col :span="12">
            <el-form-item label="接收单位部门：">
              <el-select
                placeholder="（必选）"
                v-model="registrationForm.fwaittreid"
                :style="Width">
                <el-option v-for="item in orgList" :key="item.fid" :label="item.fname" :value="item.fid"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="附件清单：">
              <ill-annex
                :showUpload="true"
                :attachInfo="attachInfo"
                :clueList="clueList"
                :uploading="uploading"
                :hidetitle="true"
                :fregisterid="$route.params.fid"
                @showDetails="_getAdDetails"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @delsuccess="_delSuccess">
              </ill-annex>
            </el-form-item>
          </el-col>
        </el-form>
      </fieldset>
    </el-row>
    <div class="text-center">
      <el-button type="primary"  @click="_submit(2)">提 交</el-button>
      <el-button  @click="_submit(1)">保 存</el-button>
    </div>
  </div>
</template>
<script>
import illAnnex from './illAnnex'
import { _getClueList }  from '../../../static/js/common'
import axios from 'axios'
import qs from 'qs'
export default {
  components:{
    illAnnex
  },
  data(){
    return {
      registrationForm: {
        fid: '',
        fname: '',
        fnumber: '',
        fillegaladid: [],
        fpersonname: '',
        fpersonmobile: '',
        fadowner: '',
        fpersontype: '10',
        fregistertime: this.$dayjs().format('YYYY-MM-DD'),
        fwaittreid: '',
        ffromtype: '20',
        fmediatype: '01',
        fendtimes: '',
        fsendtime: '',
        fsendcount: '',
        fappeal: '',
        fgivetime: this.$dayjs().format('YYYY-MM-DD'),
        fadclass: '',
        fmediaid: '',
        flowid: '',
      },
      pickerOptions:{
				disabledDate:(time) => {
            return time.getTime() < new Date().getTime() - 3600 * 24 * 1000
        }
      },
      pickerOptions2:{
				disabledDate:(time) => {
            return time.getTime() > new Date().getTime()
        }
      },
      fadclass: [],
      mediaList: [],
      clueList: [],
      innerVisible: false,
      adDetail: false,
      annexDetails:{
        data: {}
      },
      mediatype:{
        '01': 'tv',
        '02': 'bc',
        '03': 'paper',
        '13': 'net',
      },
      Width: {'width': '100%'},
      activeTab: 'adInfo',
      attachInfo: [],
      bucket_url: '',
      uploading: false,
      show: true,
      orgList:[],
      orgPeopleList:[]
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if(vm.$route.params.fid){
        vm._getRegDetails(vm.$route.params.fid)
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.registrationForm = {
      fid: '',
      fillegaladid: [],
      ffromtype: '20',
      fpersontype: '10',
      fregistertime: new Date()
    }
  },
  created(){
    this._getSameOrg()
    if(!this.$route.params.fid){
      this._getmediaList()
    }
  },
  methods: {
    _check(){
      if(
        this.registrationForm.fname &&
        this.registrationForm.fnumber &&
        this.registrationForm.fpersonname &&
        this.registrationForm.fpersonmobile &&
        this.registrationForm.fadowner &&
        this.registrationForm.fwaittreid &&
        this.registrationForm.fsendtime &&
        this.registrationForm.fsendcount &&
        this.registrationForm.fappeal &&
        this.fadclass.length &&
        this.registrationForm.fmediaid &&
        this.registrationForm.fendtimes
        ){
          return true
      }
      return false
    },
    _submit(type){
      if(!this._check() && type === 2){
        this.$func._error('请填写完整投诉信息后提交！')
        return false
      }
      let hasfid = this.$route.params.fid
      let url  = hasfid ? '/Agp/Ntsjubao/update_register' : '/Agp/Ntsjubao/create_register'
      let data = {
        ...this.registrationForm,
        submit: type,
        attachinfo: this.attachInfo,
        fadclass: this.fadclass.join(','),
      }
      if(!hasfid){
        delete data.fid
      }
      axios.post(this.$_ + url,qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.$message({
            message: '操作成功',
            type: 'success'
          })
          this._reset()
          if(hasfid){
            this.$router.push({path:'draftbox'})
          }
        }
      })
      .catch(() => {
        this.$message.error('网络错误')
      })
      this.$emit('close')
    },
    _closePreview(){
      this.innerVisible = false
    },
    _getAdDetails(obj){
      axios.post(this.$_ + '/Agp/ClueRegister/get_tillegalad_details',qs.stringify({'fillegaladid':obj.fillegaladid}))
      .then( res => {
        if(res.data.code === 0){
          this.adDetail = true
          this.annexDetails = res.data.data
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _uploadSuccess(Obj){
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fflowname = '线索登记'
      obj.fattachurl = this.bucket_url + file.response.key
      obj.createpersonid = this.$store.state.userInfo.fid
      if(this.$route.params.fid){
        this._uploadFile(obj)
      }else{
        this.attachInfo.unshift(obj)
        this.uploading = false
        this.$message({
          message: '附件上传成功',
          type: 'success'
        })
      }
    },
    _uploadFile(obj) {
      let data = {
        fid: this.$route.params.fid,
        flowid: this.flowid,
        attachinfo: Array.of(obj)
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            obj.fid = res.data.data
            this.attachInfo.unshift(obj)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress(){
      this.uploading = true
    },
    _uploadError(){
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    _getRegDetails(id){
      axios.post(this.$_ + '/Agp/Ntsjubao/get_registerview',qs.stringify({fid: id}))
      .then(res => {
        if(res.data.code === 0){
          if(res.data.data.data.fillegaladid.length){
            _getClueList(this,res.data.data.data.fillegaladid)
          }
          this.flowid = res.data.data.data.flowid
          this.fid = res.data.data.data.fid
          this._getrefiles(res.data.data.data.fid,res.data.data.data.flowid)
          for(let value in this.registrationForm){
            if(value === 'fadclass'){
              this[value] = res.data.data.data[value].split(',')
            }else{
              this.registrationForm[value] = res.data.data.data[value]
            }
          }
          this._getmediaList()
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error()
      })
    },
    _getSameOrg(){
      axios.post(this.$_ + '/Agp/Core/get_same_tregulator')
      .then(res => {
        if(res.data.code === 0){
          this.orgList = res.data.data
          if(res.data.data.length){
            this.registrationForm.fwaittreid = res.data.data[0].fid
          }
        }
      })
    },
    _delSuccess(val){
      if(val.fid){
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fid !== val.fid
        })
      }else{
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
      }
    },
    _getmediaList(){
      let data = {
        regionid: this.$store.state.userInfo.regionid,
        mclass: this.mediatype[this.registrationForm.fmediatype],
        iscontain: '1'
      }
      axios.post(this.$_ + '/Agp/Core/user_medialist',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.mediaList = res.data.data
          if(!this.$route.params.fid){
            this.registrationForm.fmediaid = res.data.data[0].fid
          }
        }
      })
    },
    _getrefiles(fid,flowid){
      let data = {fid,flowid}
      data.ts = '10'
      axios.post(this.$_ + '/Agp/Ntsjubao/get_flowfile',qs.stringify(data))
      .then(res => {
        if(res.data.code === 0){
          this.attachInfo = res.data.data.files1
        }else{
          this.$func._error(res.data)
        }
      })
      .catch(() => {
        this.$func._error('网络错误')
      })
    },
    _reset(){
      this.registrationForm = {
        fid: '',
        fname: '',
        fnumber: '',
        fillegaladid: [],
        fpersonname: '',
        fpersonmobile: '',
        fadowner: '',
        fpersontype: '10',
        fregistertime: this.$dayjs().format('YYYY-MM-DD'),
        fwaittreid: '',
        ffromtype: '20',
        fmediatype: '01',
        fendtimes: 100,
        fsendtime: '',
        fsendcount: '',
        fappeal: '',
        fgivetime: '',
        fadclass: '',
        fmediaid: '',
        flowid: '',
      }
      this.fadclass = [],
      this.attachInfo = []
    }
  }
}
</script>
