<template>
  <div class="track-form">
    <el-dialog title="线索跟踪"
      :visible.sync="show"
      :before-close="_close"
      center
      width="90%"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <clue-details :annexDetails="annexDetails"
        v-if="adDetailDialog"
        :videoUrl="videoUrl"
        @close="_closeDetails"></clue-details>
      <ws-view v-if="showView"
        @close="_closeView"
        :data="formData"></ws-view>
      <el-row :gutter="20">
        <el-col :span="12"
          style="max-height:600px;overflow:scroll;">
          <el-form v-model="formData"
            label-width="110px">
            <el-form-item label="文书模板：">
              <el-select v-model="dr_dlid"
                style="width:100%"
                @change="_changeWs">
                <el-option v-for="item in wsList"
                  :key="item.dl_id"
                  :label="item.dl_doctitle"
                  :value="item.dl_id"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="文书标题：">
              <el-input v-model="formData.dt_doctitle"></el-input>
            </el-form-item>
            <el-form-item label="文号：">
              <el-input v-model="formData.dt_number"></el-input>
            </el-form-item>
            <el-form-item label="收文单位：">
              <el-input v-model="formData.dt_receiveregulatorname"></el-input>
            </el-form-item>
            <el-form-item label="正文：">
              <vue-ueditor-wrap v-model="formData.dt_content"
                :config="$store.state.ueditorConfig"
                :destroy="true">
              </vue-ueditor-wrap>
            </el-form-item>
            <el-form-item label="发文单位：">
              <el-input v-model="formData.dt_sendregulatorname"></el-input>
            </el-form-item>
            <el-form-item label="发文日期：">
              <el-date-picker :editable="false" style="width:100%"
                v-model="formData.dt_sendtime"
                type="date"
                placeholder="选择日期"
                :picker-options="pickerOptions"
                format="yyyy年M月d日"
                value-format="yyyy-M-d">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="处理方式：">
              <el-radio-group v-model="gzData.ftk_type">
                <el-radio-button label="0">督办</el-radio-button>
                <el-radio-button label="10">催办</el-radio-button>
                <el-radio-button label="20">执法监督</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="跟踪截止日期：">
              <el-date-picker :editable="false" style="width:100%"
                v-model="gzData.ftk_endtime"
                type="date"
                placeholder="选择日期"
                :picker-options="pickerOptions"
                format="yyyy年M月d日"
                value-format="yyyy-MM-dd">
              </el-date-picker>
            </el-form-item>
          </el-form>
          <div class="text-center">
            <el-button @click="showView = true">预 览</el-button>
          </div>
        </el-col>
        <el-col :span="12"
          style="max-height:600px;overflow:scroll;">
          <el-collapse v-model="activeline">
            <el-collapse-item title="违法广告信息"
              name="1"
              v-if="this.fromType === '监测发现'">
              <el-table :data="clueList"
                style="width: 100%">
                <el-table-column prop="data.fadname"
                  label="广告名称">
                </el-table-column>
                <el-table-column width="80"
                  label="操作">
                  <template slot-scope="scope">
                    <el-button type="text"
                      @click="_showDetails(scope.row)">详 情</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="投诉信息"
              name="1"
              v-if="this.fromType !== '监测发现'">
              <table style="border-color:#dcdfe6;color:#606266;"
                border='1'
                width="100%"
                cellspacing="0"
                cellpadding="6">
                <tr>
                  <th style="width:200px">广告名称</th>
                  <td>{{ registrationForm.fname }}</td>
                </tr>
                <tr>
                  <th>广告线索交办单编号</th>
                  <td>{{ registrationForm.fnumber }}</td>
                </tr>
                <tr>
                  <th>线索来源</th>
                  <td>
                    <span v-if="registrationForm.ffromtype === '10'">广告监测</span>
                    <span v-if="registrationForm.ffromtype === '20'">网络或书面投申诉举报</span>
                    <span v-if="registrationForm.ffromtype === '30'">上级机关交办</span>
                    <span v-if="registrationForm.ffromtype === '40'">其他机关移送</span>
                  </td>
                </tr>
                <tr>
                  <th>投举方</th>
                  <td>{{ registrationForm.fpersonname }}</td>
                </tr>
                <tr>
                  <th>举报人类别</th>
                  <td>{{ registrationForm.fpersontype === '10' ? '个人' : '单位' }}</td>
                </tr>
                <tr>
                  <th>投诉方联系方式</th>
                  <td>{{ registrationForm.fpersonmobile }}</td>
                </tr>
                <tr>
                  <th>广告类别</th>
                  <td>{{ registrationForm.fadclassname }}</td>
                </tr>
                <tr>
                  <th>媒体类别</th>
                  <td>{{ this.mediatype[registrationForm.fmediatype] }}</td>
                </tr>
                <tr>
                  <th>广告发布时间</th>
                  <td>{{ registrationForm.fsendtime ? registrationForm.fsendtime.substring(0,10) : "" }}</td>
                </tr>
                <tr>
                  <th>发布媒体</th>
                  <td>{{ registrationForm.fmedianame }}</td>
                </tr>
                <tr>
                  <th>交办时间</th>
                  <td>{{ registrationForm.fgivetime ? registrationForm.fgivetime.substring(0,10) : '' }}</td>
                </tr>
                <tr>
                  <th>截止日期</th>
                  <td>{{ registrationForm.fendtimes }}</td>
                </tr>
                <tr>
                  <th>广告主</th>
                  <td>{{ registrationForm.fadowner }}</td>
                </tr>
                <tr>
                  <th>广告条次</th>
                  <td>{{ registrationForm.fsendcount }}</td>
                </tr>
                <tr>
                  <th>投诉内容</th>
                  <td>{{ registrationForm.fappeal }}</td>
                </tr>
                <tr>
                  <th>登记时间</th>
                  <td>{{ registrationForm.fregistertime ? registrationForm.fregistertime.substring(0,10) : '' }}</td>
                </tr>

              </table>
            </el-collapse-item>
            <el-collapse-item title="文书信息"
              name="2">
              <el-table :data="wsData"
                border
                style="width: 100%">
                <el-table-column prop="fattachname"
                  label="文书标题">
                </el-table-column>
                <el-table-column label="操作"
                  width="130">
                  <template slot-scope="scope">
                    <a :href="scope.row.fattachurl">
                      <el-button type="text"
                        icon="el-icon-download">
                        下载</el-button>
                    </a>
                    <el-button type="text"
                      v-if="scope.row.delstate === '20'"
                      icon="el-icon-download"
                      @click="_deleteWs(scope.row)">
                      删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-collapse-item>
            <el-collapse-item title="证据材料"
              name="3">
              <ill-annex :showUpload="false"
                :hidetitle="true"
                :attachInfo="attachInfo"
                :uploading="uploading"
                :clueList="clueList"
                @uploadSuccess="_uploadSuccess"
                @uploadProgress="_uploadProgress"
                @uploadError="_uploadError"
                @delsuccess="_delSuccess"
                :fregisterid="fid">
              </ill-annex>
            </el-collapse-item>
            <el-collapse-item title="处理流程"
              name="4">
              <flow-table :flowData="flowData"></flow-table>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <div slot="footer"
        class="dialog-footer">
        <el-button type="primary"
          @click="_checkDl"
          :loading="$store.state.bloading">
          提 交
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
import clueDetails from '../clue/common/clueDetails'
import illAnnex from './illAnnex'
import flowTable from '../clue/common/flowTable'
import wsView from './wsView'
import axios from 'axios'
import qs from 'qs'
export default {
  props: ['wstype', 'fid', 'fromType'],
  components: {
    illAnnex,
    flowTable,
    wsView,
    clueDetails,
    VueUeditorWrap
  },
  data() {
    return {
      showView: false,
      activeline: ['1', '2'],
      show: true,
      innerVisible: false,
      registrationForm: {
        fregistertime: ''
      },
      videoUrl: '',
      annexDetails: {
        data: {}
      },
      attachInfo: [],
      clueList: [],
      uploading: false,
      changeAttachInfo: [],
      flowData: [],
      formData: {
        dt_sendtime: this.$dayjs().format('YYYY-M-D'),
        dt_sendregulatorname: this.$store.state.userInfo.regulatorpname,
        dt_content: ''
      },
      pickerOptions: {
        disabledDate: (time) => {
          return time.getTime() < new Date().getTime()
        }
      },
      wsData: [],
      dr_name: '',
      dr_dlid: '',
      wsList: [],
      adDetailDialog: false,
      flowid: '',
      gzData: {
        ftk_type: '0',
        ftk_endtime: '',
        eqtrepid: ''
      },
      mediatype: {
        '01': '电视',
        '02': '广播',
        '03': '报纸',
        '13': '互联网',
      },
    }
  },
  created() {
    this._get_dl_list()
    this._getOrgId()
  },
  mounted() {
    this._getDetails(this.fid)
  },
  methods: {
    _submit() {
      let data = {
        fid: this.fid,
        ...this.gzData
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/tregistertrack', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.$message.success(res.data.msg)
            this.$emit('close')
          } else {
            this.$func._error(res.data)
          }
          this.$store.commit('_bloading', false)
        })
        .catch(() => {
          this.$func._error()
          this.$store.commit('_bloading', false)
        })
    },
    _getOrgId() {
      let data = {
        fid: this.fid
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/get_trackuser', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.gzData.eqtrepid = res.data.data.eqtrepid
            this.formData.dt_receiveregulatorname = res.data.data.ffullname
          } else {
            this.$func._error(res.data)
          }
        })
    },
    _getDetails(fid) {
      axios.post(this.$_ + '/Agp/Ntsjubao/get_registerview', qs.stringify({
        fid: fid
      }))
        .then(res => {
          if (res.data.code === 0) {
            this.registrationForm = res.data.data.data
            this.flowid = res.data.data.data.flowid
            this._flowData(this.fid)
            this._getrefiles(this.fid, this.flowid)
            if (res.data.data.data.fillegaladid.length) {
              axios.post(this.$_ + '/Agp/Ntsjubao/get_tbn_illegal_ad_details', qs.stringify({ fillegaladid: Array.of(res.data.data.data.fillegaladid[0]['fid']) }))
                .then(req => {
                  if (req.data.code === 0) {
                    this.clueList = req.data.data.list
                  }
                })
            }
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _close() {
      this.$emit('close')
    },
    _uploadSuccess(Obj) {
      let file = Obj
      let obj = {}
      obj.fattachname = file.name
      obj.fattachurl = this.bucket_url + file.response.key
      obj.fflowname = '线索处理'
      this._uploadFile(obj)
      this.uploading = false
    },
    _uploadFile(obj) {
      let data = {
        fid: this.fid,
        attachinfo: Array.of(obj),
        flowid: this.flowid
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/create_files', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.uploading = false
            this.$message({
              message: '附件上传成功',
              type: 'success'
            })
            this._getrefiles(this.fid, this.flowid)
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _uploadProgress() {
      this.uploading = true
    },
    _uploadError() {
      this.$message.error('附件上传失败')
      this.uploading = false
    },
    _saveWs() {
      let fid = this.fid
      let data = {
        fid: fid,
        flowid: this.flowid,
        ftype: '20',
        ...this.formData
      }
      axios.post(this.$_ + '/Agp/Ntsjubao/create_document', qs.stringify(data))
        .then(res => {
          this._submit()
        })
    },
    _changeWs(val) {
      let obj = this.wsList.filter(item => {
        return item.dl_id === val
      })
      let data = obj[0]
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_content'] = data['dl_content']
      this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
      this['formData']['dt_number'] = data['wsh']
      this['formData']['dt_name'] = data['dl_name']
      this['formData']['dt_doctitle'] = data['dl_name']
      this.dr_dlid = data.dl_id
      this.dr_name = data.wsh
    },
    _checkDl() {
      this.$store.commit('_bloading', true)
      if (!this.gzData.ftk_endtime) {
        this.$func._error('请选择跟踪截止日期！')
        return false
      }
      let data = {
        dr_name: this.dr_name,
        dr_dlid: this.dr_dlid
      }
      axios.post(this.$_ + '/Agp/WsTemp/vad_wh', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this._saveWs()
          }
        })
    },
    _get_dl_list() {
      let dl_deid = ''
      let data = {
        ws_type_ids: this.wstype,
        dl_regulatorname: this.$store.state.userInfo.regulatorname
      }
      axios.post(this.$_ + '/Agp/WsTemp/get_ws_number', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.wsList = res.data.data
            let data = res.data.data[0]
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_content'] = data['dl_content']
            this['formData']['dt_receiveregulatorname'] = data['dl_receiveregulatorname']
            this['formData']['dt_number'] = data['wsh']
            this['formData']['dt_name'] = data['dl_name']
            this['formData']['dt_doctitle'] = data['dl_name']
            this.dr_dlid = data.dl_id
            this.dr_name = data.wsh
          }
        })
        .catch(() => {
          this.$func._error()
        })
    },
    _closeView() {
      this.showView = false
    },
    _showDetails(obj) {
      this.adDetailDialog = true
      if (obj.data.fmediaclassid === 'tv' || obj.data.fmediaclassid === 'bc') {
        if (obj.adclueInfo === null) {
          obj.adclueInfo = {}
        }
        this.videoUrl = obj.adclueInfo.favifilename
      }
      this.annexDetails = obj
    },
    _closeDetails() {
      this.adDetailDialog = false
    },
    _getrefiles(fid, flowid) {
      let data = { fid, flowid }
      axios.post(this.$_ + '/Agp/Ntsjubao/get_flowfile', qs.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.attachInfo = res.data.data.files1
            this.wsData = res.data.data.files2
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('网络错误')
        })
    },
    _flowData(fid) {
      axios.post(this.$_ + '/Agp/Ntsjubao/get_flowlist', qs.stringify({ fid: fid }))
        .then(res => {
          if (res.data.code === 0) {
            this.flowData = res.data.data.map(item => {
              item.ffinishtime = item.ffinishtime ? item.ffinishtime.substring(0, 10) : ''
              return item
            })
          }
        })
    },
    _deleteWs(obj) {
      let route = this.$route.name
      let url = '/Agp/Ntsjubao/delete_document'
      let data = {
        fid: obj.fid
      }
      this.$confirm('确认删除该文书?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        axios.post(this.$_ + url, qs.stringify(data))
          .then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: res.data.msg
              })
              this.wsData = this.wsData.filter(item => {
                return item.fid !== obj.fid
              })
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    _delSuccess(val) {
      if (!this.fid) {
        this.attachInfo = this.attachInfo.filter(item => {
          return item.fattachurl !== val.fattachurl
        })
      } else {
        this._getrefiles(this.fid, this.flowid)
      }
    },
  }
}
</script>
