<template>
  <div class="ws-view">
    <el-dialog title="文书预览"
      :visible.sync="show"
      append-to-body
      :before-close="_close"
      :close-on-click-modal="true"
      :close-on-press-escape="true"
      width="1000px"
      center>
      <div :style="wapper">
        <h1 :style="h1">{{ Data.dt_name }}</h1>
        <p :style="dt_number">{{ Data.dt_number }}</p>
        <p :style="dt_receiveregulatorname">{{ Data.dt_receiveregulatorname }}:</p>
        <br>
        <pre :style="dt_content"
          v-html="Data.dt_content"></pre>
        <br>
        <br>
        <p :style="dt_sendregulatorname">{{ Data.dt_sendregulatorname }}</p>
        <p :style="dt_sendtime">{{ Data.dt_sendtime }}</p>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props: ['data'],
  data() {
    return {
      show: true,
      wapper: {
        padding: '20px 80px',
      },
      Data: {},
      h1: {
        'font-size': '18px',
        'font-family': '黑体',
        'text-align': 'center',
        'color': '#000',
        'margin': '0',
        'line-height': '2em'
      },
      dt_number: {
        'font-size': '16px',
        'font-family': "'仿宋_GB2312'!important",
        'text-align': 'center',
        'color': '#000',
        'margin': '0',
        'line-height': '2em'
      },
      dt_receiveregulatorname: {
        'font-size': '16px',
        'font-family': "'仿宋_GB2312'!important",
        'color': '#000',
        'margin': '0',
        'line-height': '2em'
      },
      dt_content: {
        'font-size': '16px',
        'font-family': "'仿宋_GB2312'!important",
        'color': '#000',
        'text-indent': '2em',
        'white-space': 'pre-wrap',
        'margin': '0',
        'line-height': '2em'
      },
      dt_sendregulatorname: {
        'font-size': '16px',
        'font-family': "'仿宋_GB2312'!important",
        'text-align': 'center',
        'color': '#000',
        'text-indent': '4em',
        'margin': '0',
        'line-height': '2em'
      },
      dt_sendtime: {
        'font-size': '16px',
        'font-family': "'仿宋_GB2312'!important",
        'text-align': 'center',
        'color': '#000',
        'text-indent': '4em',
        'margin': '0',
        'line-height': '2em'
      }
    }
  },
  created() {
    this.Data = { ...this.data }
    this.Data.dt_sendtime = this.$dayjs(new Date(this.data.dt_sendtime)).format('YYYY年M月D日')
  },
  methods: {
    _close() {
      this.$emit('close')
    }
  }
}
</script>
<style>
h1 {
  font-family: "黑体";
  text-align: center;
}
</style>
