<template>
  <div class="aliplayer" ref="playerWrap">
    <div class="prism-player" :id="id" ref="playercon"></div>
    <div class="goBack" v-if="btnShow" :style="{'bottom': btnAbsolute }">
      <el-input  v-model="num" type="number" style="width: 150px;">
        <el-button slot="prepend" icon="el-icon-d-arrow-left" @click="seek(-num || -5)" ref="left"></el-button>
        <el-button slot="append" icon="el-icon-d-arrow-right" @click="seek(+num || 5)"  ref="right"></el-button>
      </el-input>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      default: '',
      type: String
    },
    width: {
      default: '560px',
      type: String
    },
    height: {
      default: '400px',
      type: String
    },
    autoplay: {
      default: false,
      type: Boolean
    },
    btnShow:{
      default: true,
      type: Boolean
    },
    btnAbsolute:{
      default:  '-94px',
      type: [String,Number]
    },
  },
  data(){
    let hash = + new Date()
    let preTime = +localStorage.getItem('preTime') || 5
    let nextTime = +localStorage.getItem('nextTime') || 5
    return {
      player: null,
      timer: null,
      id: `player-con${hash}`,
      preTime: preTime,
      nextTime: nextTime,
      num: 5,
    }
  },
  created() {
    document.addEventListener('keyup', event => {
      const e = event || window.event || arguments.callee.caller.arguments[0]
      // 左
      if(e && e.keyCode === 37){
        this.$refs.left.$el.click()
      }
      // 右
      if(e && e.keyCode === 39){
        this.$refs.right.$el.click()
      }

    })
  },
  mounted() {
    this.$refs.playerWrap.style.height = this.height
    this.$refs.playerWrap.style.width = this.width
    if(this.url){
      // eslint-disable-next-line no-undef
      this.player = new Aliplayer({
        "id": this.id,
        "source": this.url,
        "width": '100%',
        "height": '100%',
        "autoplay": this.autoplay,
        "isLive": false,
        "rePlay": false,
        "playsinline": true,
        "preload": true,
        "controlBarVisibility": "hover",
        "useH5Prism": true,
        "skinLayout": [
          {
            "name": "bigPlayButton",
            "align": "blabs",
            "x": 30,
            "y": 80
          },
          {
            "name": "H5Loading",
            "align": "cc"
          },
          {
            "name": "errorDisplay",
            "align": "tlabs",
            "x": 0,
            "y": 0
          },
          {
            "name": "infoDisplay"
          },
          {
            "name": "tooltip",
            "align": "blabs",
            "x": 0,
            "y": 56
          },
          {
            "name": "thumbnail"
          },
          {
            "name": "controlBar",
            "align": "blabs",
            "x": 0,
            "y": 0,
            "children": [
              {
                "name": "progress",
                "align": "blabs",
                "x": 0,
                "y": 44
              },
              {
                "name": "playButton",
                "align": "tl",
                "x": 15,
                "y": 12
              },
              {
                "name": "timeDisplay",
                "align": "tl",
                "x": 10,
                "y": 7
              },
              {
                "name": "fullScreenButton",
                "align": "tr",
                "x": 10,
                "y": 12
              },
              {
                "name": "setting",
                "align": "tr",
                "x": 15,
                "y": 12
              },
              {
                "name": "volume",
                "align": "tr",
                "x": 5,
                "y": 10
              }
            ]
          }
        ]
      })
      this.player.on('ready',() => {
        this.$emit('success')
      })
      this.player.on('play',() => {
        this.$emit('start')
      })
      this.player.on('pause',() => {
        this.$emit('stop')
      })
      this.player.on('completeSeek',() => {
        this.$emit('completeSeek')
      })
      this.player.on('error',e => {
        this.$emit('error',e)
      })
    }
  },
  beforeDestroy() {
    if(this.player) this.player.dispose()
  },
  methods: {
    formatTooltip(val,type){
      if(type === 'pre'){
        return `后退 ${val} 秒`
      }else{
        return `前进 ${val} 秒`
      }
    },
    seek(time){
      this.$emit('seek', this._getCurrentTime() + time)
    },
    setTime(type){
      localStorage.setItem(type, this[type] || 5)
    },
    _play(){
      if(this.player) this.player.play()
    },
    _stop(){
      if(this.player) this.player.pause()
    },
    _seek(time){
      if(this.player) this.player.seek(time)
    },
    _getCurrentTime(){
      return this.player.getCurrentTime()
    },
    _changeUrl(){
      if(this.player) this.player.loadByUrl(this.url)
    },
    getStatus(){
      if(this.player) return this.player.getStatus()
      return null
    },
  },
  watch: {
    url() {
      this.player.loadByUrl(this.url)
    },
  }
}
</script>

<style scoped lang="scss">
.aliplayer{
  position: relative;
  .goBack{
    position: absolute;
    right: 0;
    bottom: -98px;
  }
}
</style>