<template>
  <div class="during-time">
    <div class="timeChoise">
      <el-tooltip effect="dark" content="上一时段" placement="top-start">
        <el-button type="primary" @click="preduring" :disabled="activeTime2 <= 0 || disabled" icon="el-icon-arrow-left"></el-button>
      </el-tooltip>
      <el-select v-model="activeTime" @change="change" :disabled="disabled" style="width:120px">
        <el-option v-for="(item,index) in timeDate"
          :key="index"
          :label="index == 0 ? '全时段' : item.start + ' - ' + item.end"
          :value="index">
        </el-option>
        <!-- <el-option label="自定义" :value="100"></el-option> -->
      </el-select>
      <el-tooltip effect="dark" content="下一时段" placement="top-start">
        <el-button type="primary" @click="nextduring" :disabled="activeTime2 >= (timeDate.length - 1) || disabled" icon="el-icon-arrow-right"></el-button>
      </el-tooltip>
      <span v-if="iscustomize">
        <el-time-picker
          is-range
          v-model="customize"
          value-format="yyyy-MM-dd HH:mm:ss"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围">
        </el-time-picker>
        <el-button type="primary" icon="el-icon-check" @click="customizeTime"></el-button>
      </span>
    </div>
    <div class="timeChoise pull-right" v-if="showJump">
      <el-tooltip effect="dark" :content="'后退' + jump_time + '秒'" placement="top-start">
        <el-button type="primary" @click="() => $emit('back',jump_time)" icon="el-icon-d-arrow-left"></el-button>
      </el-tooltip>
      <el-input-number v-model="jump_time" :min="1" :max="1800"></el-input-number>
      <el-tooltip effect="dark" :content="'前进' + jump_time + '秒'" placement="top-start">
        <el-button type="primary"  @click="() => $emit('up',jump_time)" icon="el-icon-d-arrow-right"></el-button>
      </el-tooltip>
    </div>
  </div>
</template>

<script>
import { oldTimeDate as timeDate } from '@/store/timeDate'
export default {
  props: {
    showJump: {
      type: Boolean,
      default: false
    },
    date: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
  },
  data() {
    let customize = [`${this.date} 00:00:00`, `${this.date} 23:59:59`]
    return {
      activeTime: 0,
      activeTime2: 0,
      customize: customize,
      iscustomize: false,
      jump_time: 5,
      timeDate: timeDate
    }
  },
  methods: {
    nextduring(){
      this.activeTime += 1
      this.activeTime2 = this.activeTime
      this.$emit('nextduring',this.activeTime2)
    },
    preduring(){
      this.activeTime -= 1
      this.activeTime2 = this.activeTime
      this.$emit('preduring',this.activeTime2)
    },
    change(val){
      if(val !== 100){
        this.iscustomize = false
        this.activeTime = val,
        this.activeTime2 = val,
        this.$emit('change', val)
      }else{
        this.iscustomize = true
      }
    },
    playAllDay(){
      this.change(0)
    },
    customizeTime(){
      let [start, end] = this.customize
      let _start = start.substring(11)
      let _end = end.substring(11)
      let data = {
        start: _start,
        end: _end,
        starttime: _start,
        endtime: _end,
      }
      this.$store.commit('pushTimeDate', data)
      this.change(this.timeDate.length - 1)
    },
  },
}
</script>

<style lang="scss" scoped>
.during-time{
  .timeChoise {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    .el-input-number{
      margin: 0 4px;
    }
    .el-select{
      margin: 0 4px;
    }
  }
  .pull-right{
    float: right;
  }
}
</style>