<template>
  <div :style="{height: height, width: width }">
    <aliplayer ref="player"
       v-if="videoUrl"
      :url="videoUrl"
      :autoplay="true"
      width="100%"
      height="calc(100% - 55px)"
      @seek="val => this.seek(val)"
      @start="settimer"
      @stop="cleartimer"
      @error="cleartimer">
    </aliplayer>
    <timeline ref="timeline"
       v-if="videoUrl && stepChange"
      :activetime="videoJump"
      :step="step"
      @click="jumpplay"
      @tmouseup="tmouseup"
      @tmousedown="tmousedown">
      <div class="stepBox">
        <button @click="setStep(1)"
          :class="step === 1 ? 'active' : ''">X1</button>
        <button @click="setStep(2)"
          :class="step === 2 ? 'active' : ''">X2</button>
      </div>
    </timeline>
  </div>
</template>

<script>
import { getInterruptFlow } from '@/api/Function.js'
import timeline from '@/components/oldComponents/timeline'
import aliplayer from '@/components/oldComponents/aliplayer'
export default {
  props: {
    baseData:{
      type: Object,
      required: true
    },
    url:{
      type: String,
      required: true
    },
    width: {
      default: '560px',
      type: String
    },
    height: {
      default: '400px',
      type: String
    },
  },
  components: {
    timeline,
    aliplayer
  },
  data() {
    return {
      step: 1,
      stepChange: true,
      videoJump: '2000 00:00:00',
      videoUrl: '',
      timer: null,
      timeDate: [],
      activeM3u8Index: 0,
      Stime: 0,
      abtime: -1000,
      loading: false,
      stopPlay: true,
    }
  },
  watch: {
    baseData: {
      handler(){
        this.reset()
        this.resetUrl()
      },
      deep: true
    },
    videoJump(val) {
      this.$emit('pointTime',val)
    }
  },
  computed: {
    videoLength(){
      let {start, end} = this.timeDate[this.activeM3u8Index]
      return (end - start) / 1000
    },
  },
  created() {
    this.resetUrl()
    document.addEventListener('keyup', event => {
      const e = event || window.event || arguments.callee.caller.arguments[0]
      // 空格
      if(e && e.keyCode === 192){
        const status = this.$refs.player.getStatus()
        if(status && (status == 'playing' || status == 'ready')) {
          this.stop()
        } else {
          this.play()
        }
      }
    })
  },
  methods: {
    resetUrl(){
      this.stopPlay = true
      this.interruptFlow().then(() => {
        this.dataInit()
      })
    },
    seekVideoTime(row){
      let index = ''
      if(row.time_type === 'end') {
        index = this.$func.getUrlIndex(+new Date(row.fendtime), this.timeDate)
      } else {
        index = this.$func.getUrlIndex(+new Date(row.fstarttime), this.timeDate)
      }
      if(index === this.activeM3u8Index) {
        let time  = ''
        if(row.time_type === 'end') {
          time = this.timeToSecond(row.endtime)
        } else {
          time = this.timeToSecond(row.starttime)
        }
        this.seek(time)
      }else{
        this.cleartimer()
        this.activeM3u8Index = index
        this.resetPlayer().then(() => {
          this.settimer()
          this.seek(this.timeToSecond(row.starttime))
        })
      }
    },
    reset(){
      this.cleartimer()
      this.videoUrl = ''
      this.timeDate = []
      this.Stime = 0
      this.abtime = -1000
      this.activeM3u8Index = 0
    },
    interruptFlow(){
      let mediaId = this.baseData.mediaid
      let startTime = +new Date(`${this.baseData.date} ${this.baseData.starttime}`)
      let endTime = +new Date(`${this.baseData.date} ${this.baseData.endtime}`)
      return new Promise((resove, reject) => {
        let data = { mediaId, startTime: (startTime / 1000), endTime: (endTime / 1000) }
        getInterruptFlow(data).then(({data}) => {
          if(data === false){
            this.timeDate = this.$func.getM3u8List([], startTime, endTime, mediaId)
            resove()
          }else{
            let _data = JSON.parse(data)
            if(_data.ret === 0){
              let arr = _data.data.map(i => {
                i.start = i.start * 1000
                i.end = i.end * 1000
                return i
              })
              this.timeDate = this.$func.getM3u8List(arr,startTime,endTime,mediaId)
              resove()
            }else{
              reject()
            }
          }
        })
      })
    },
    dataInit() {
      let url = this.timeDate[this.activeM3u8Index].url
      this.$func.getM3u8SartTime(url).then(res => {
        this.Stime = res.Stime
        this.abtime = this.$func.getAbsTime(this.baseData.date, this.Stime)
        this.videoUrl = url
        this.loading = false
      })
    },
    jumpplay(val) {
      this.$emit('timeLineClick', val)
      this.videoJump = val
      let index = this.$func.getUrlIndex(+new Date(val), this.timeDate)
      if(index === this.activeM3u8Index) {
        this.seek(this.timeToSecond(val.substring(11)))
      }else{
        this.activeM3u8Index = index
        this.resetPlayer().then(() => {
          this.seek(this.timeToSecond(val.substring(11)))
        })
      }
      this.play()
    },
    tmousedown() {
      this.cleartimer()
      this.stop()
    },
    timeToSecond(time) {
      let inputtime = new Date(`${this.baseData.date} ${time}`).getTime()
      let dstart = new Date(`${this.baseData.date} ${this.baseData.starttime}`).getTime()
      let dend = new Date(`${this.baseData.date} ${this.baseData.endtime}`).getTime()
      inputtime = (inputtime >= dstart) && (inputtime <= dend) ? inputtime : inputtime - 60 * 60 * 24 * 1000
      return (inputtime - this.Stime) / 1000
    },
    tmouseup(mw) {
      let current = this.cutTime().substring(11)
      this.seek(this.timeToSecond(current) + mw)
      setTimeout(() => {
        this.settimer()
      }, 200)
    },
    settimer() {
      this.cleartimer()
      this.play()
      this.timer = setInterval(() => {
        this.videoJump = this.cutTime()
      }, 200)
    },
    cutTime(){
      let time = Math.floor((this.getCurrentTime()) * 1000) + this.Stime
      let _time = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      let endTime = this.baseData.date + ' ' + this.timeDate[this.activeM3u8Index].endtime
      let time1 = Date.parse(_time)
      let time2 = Date.parse(endTime)
      // 视频播放至最后
      if (time1 >= time2 || (time1 + 1000) >= time2) {
        // 如果当前时段内还有 m3u8 未播放，播放下一段 m3u8
        if(this.activeM3u8Index < this.timeDate.length - 1){
          // let timeDateIndex = 0
          // this.timeDate.forEach((i,index) => {
          //   if((time1 + 1000) > i.start && (time1 + 1000) < i.end){
          //     timeDateIndex = index
          //   }
          // })
          this.activeM3u8Index += 1
          this.resetPlayer()
        }else{
          // 如果当前播放的时段不是一天中的最后一个时段，则自动播放下一个时段，否则暂停播放器，播放结束
          if(this.baseData.activeIndex < this.$store.getters.timeDate.length - 1){
            this.timeDate = []
            this.activeM3u8Index = 0
            this.videoUrl = ''
            this.$emit('nextM3u8')
          }else{
            if(this.stopPlay){
              this.stopPlay = false
              this.$notify.success('播放结束')
              this.stop()
            }
          }
        }
      }
      this.$emit('currentTime',_time)
      return _time
    },
    resetPlayer(){
      return new Promise((resove, reject) => {
        this.$func.getM3u8SartTime(this.timeDate[this.activeM3u8Index].url).then(res => {
          this.Stime = res.Stime
          this.abtime = this.$func.getAbsTime(this.baseData.date, this.Stime)
          this.$nextTick(() => {
            this.videoUrl = this.timeDate[this.activeM3u8Index].url
            resove()
          })
        }).catch(() => reject())
      })
    },
    cleartimer() {
      clearInterval(this.timer)
      this.timer = null
    },
    setStep(step){
      this.stepChange = false
      this.step = step
      this.$nextTick(() => {
        this.stepChange = true
      })
    },
    play(){
      if(this.$refs.player) this.$refs.player._play()
    },
    stop(){
      if(this.$refs.player) this.$refs.player._stop()
    },
    getCurrentTime(){
      return this.$refs.player ? this.$refs.player._getCurrentTime() : 0
    },
    seek(time){
      // 播放器是否初始化
      if(this.$refs.player){
        // 判断跳转的时间是否超出当前M3u8长度
        if(time > this.videoLength){
          // 判断当前播放的 m3u8 是否是当前时段最后一段，如果不是就加载下一段，如果是就加载下一时段
          if(this.activeM3u8Index <= this.timeDate.length - 2){
            let overtime = time - this.videoLength
            this.activeM3u8Index += 1
            this.resetPlayer().then(() => {
              this.seek(overtime)
            }
            )
          }else{
            this.$emit('nextM3u8')
          }
        }else{
          this.$refs.player._seek(time)
        }
      }
    }
  },
  destroyed() {
    this.cleartimer()
  },
}
</script>

<style lang="scss" scoped>
.time-line{
  & /deep/ .stepBox{
    display: none;
  }
  &:hover{
    & /deep/ .stepBox{
      display: flex;
    }
  }
  & /deep/ .stepBox {
    position: absolute;
    right: 0;
    flex-direction: column;
    height: 100%;
    width: 50px;
    background: red;
    & /deep/ button {
      border: none;
      background: rgb(60, 60, 60);
      height: 50%;
      &.active{
        color: #fff;
      }
    }
  }
}
</style>