<template>
  <el-dialog
    :show-close="!!url"
    :visible.sync="dialogVisible"
    :before-close="() => $emit('close')"
    :close-on-click-modal="false"
    width="600px">
    <div v-loading="!url" class="download-content" element-loading-background="#ffffff" element-loading-text="正在生成导出文件">
      <div>
        <i class="el-icon-success"></i>
      </div>
      <el-link type="primary" :href="url" target="_blank">导出成功，点击下载</el-link>
    </div>
  </el-dialog>
</template>

<script>
  export default {
    props: {
      url: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        dialogVisible: true
      }
    },
  }
</script>

<style lang="scss" scoped>
.download-content{
  text-align: center;
  height: 160px;
  .el-icon-success{
    font-size: 80px;
    color: #67C23A;
    margin-bottom: 10px;
  }
}
</style>