<template>
  <div class="time-input">
    <input v-model="h" maxlength='2' ref="h" type="text" onkeyup='this.value=this.value.replace(/\D/gi,"")' max="24" min="0" @focus="e => focus('',e)" @input="e => input(e, 'h')" @blur="e => blur(e, 'h')">
    :
    <input v-model="m" maxlength='2' ref="m" type="text" onkeyup='this.value=this.value.replace(/\D/gi,"")' max="59" min="0" @focus="e => focus('',e)" @input="e => input(e, 'm')" @blur="e => blur(e, 'm')">
    :
    <input v-model="s" maxlength='2' ref="s" type="text" onkeyup='this.value=this.value.replace(/\D/gi,"")' max="59" min="0" @focus="e => focus('',e)" @input="e => input(e, 's')" @blur="e => blur(e, 's')">
  </div>
</template>

<script>
  export default {
    props: {
      time: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        h: '',
        m: '',
        s: '',
        typeMap: {
          'h': 'm',
          'm': 's',
        },
        curtime: ''
      }
    },
    methods: {
      reset(){
        this.h = ''
        this.m = ''
        this.s = ''
      },
      getTime(){
        if(this.h && this.m && this.s){
          return this.curtime || `${this.h}:${this.m}:${this.s}.000`
        }
        return ''
      },
      focus(val, e = undefined){
        // 如果有 input 对象，自动全选
        try {
          e.select()
        } catch (e){}
        if(val) this.curtime = this.$dayjs(val).format('HH:mm:ss')
        let time = val
        if(time){
          let h = this.$dayjs(time).format('HH')
          let m = this.$dayjs(time).format('mm')
          let s = this.$dayjs(time).format('ss')
          this.h = h
          this.m = m
          this.s = s
          // this.$emit('clearTime')
        }
        this.$emit('inputing')
      },
      input(e, timeType){
        this.curtime = ''
        let value = e.target.value
        if(value.length === 2 && /^\d+$/.test(value)){
          if(timeType !== 's'){
            this.$refs[this.typeMap[timeType]].focus()
            this.$refs[this.typeMap[timeType]].select()
          }else{
            this.$refs.s.blur()
            this.$emit('inputFinish')
          }
        }
        this.$emit('inputing')
      },
      blur(e, timeType){
        switch(timeType){
          case 'h':
            if(+this.h > 23){
              this.h = 23
            }
            break
          case 'm':
            if(+this.m > 59){
              this.m = 59
            }
            break
          case 's':
            if(+this.s > 59){
              this.s = 59
            }
            break
        }
        this.$emit('inputing')
      },
    },
  }
</script>

<style lang="scss" scoped>
.time-input{
  text-align: center;
  display: inline-block;
  border: 1px solid #DCDFE6;
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
  color: #606266;
  border-radius: 5px;
  padding: 0 2px;
  input{
    border: none;
    outline: none;
    display: inline-block;
    width: 1.6em;
    text-align: center;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
      -webkit-appearance: none !important;
    }
    &[type="number"]{
      -moz-appearance:textfield;
    }
  }
}
</style>