<template>
  <el-upload :action="upOptions.up_server"
    ref="upload"
    :data="uploadOptions"
    :before-upload="beforeUpload"
    auto-upload
    :on-success="uploadSuccess"
    :on-progress="uploadProgress"
    :show-file-list="false"
    :on-error="uploadError">
    <el-button type="primary"
      :loading="uploading" @click="getFileUp">点击上传</el-button>
  </el-upload>
</template>

<script>
import { getFileUp } from "@/api/Function.js"
export default {
  props:{
    fileList:{
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      uploadOptions: {},
      upOptions: {
        up_server: '',
      },
      bucket_url: '',
      uploading: false,
      uploadList: [],
    }
  },
  created() {
  },
  methods: {
    getFileUp(){
      getFileUp().then(res => {
        this.upOptions = res.data
        this.uploadOptions = res.data.val
        this.bucket_url = res.data.bucket_url
      })
    },
    beforeUpload(file) {
      const extArr = file.name.split('.')
      const ext = extArr.length > 1 ? extArr.pop() : ''
      this.uploadOptions.key = ext ? `zjSample/${file.uid}.${ext}` : file.uid
    },
    uploadSuccess(response, file, fileList) {
      const result = {
        ...file,
        url: `${this.bucket_url}${file.response.key}?attname=${file.name}`
      }
      this.uploading = false
      this.$refs.upload.uploadFiles = [result]
      this.$emit('uploadSuccess', result)
    },
    uploadProgress() {
      this.uploading = true
      this.$emit('uploadProgress')
    },
    uploadError() {
      this.uploading = false
      this.$emit('uploadError')
    },
  },
}
</script>