<template>
  <div class="wave-surfer">
    <div>
      <el-button type="primary" @click="playPause">播放 / 暂停</el-button>
      &nbsp;&nbsp;
      <el-button-group>
        <el-button type="primary" @click="getStartEnd('s')">获取开始时间（F1）</el-button>
        <el-button type="primary" @click="getStartEnd('e')">获取结束时间（F2）</el-button>
      </el-button-group>
      <slot />
    </div>
    <div class="time-lines" id="_timeLines">
      <div id="timeline"></div>
      <div id="waveform"></div>
      <div id="waveform2"></div>
      <div id="timeline2"></div>
    </div>
  </div>
</template>

<script>
import WaveSurfer from "wavesurfer.js"
import RegionsPlugin from "wavesurfer.js/dist/plugin/wavesurfer.regions.js"
import TimelinePlugin from "wavesurfer.js/dist/plugin/wavesurfer.timeline.js"
import { getInterruptFlow } from '@/api/Function.js'
import { getMediaMp3 } from '@/api/ZJMediaIssue'
import { mapGetters } from 'vuex'
import axios from 'axios'
export default {
  data() {
    return {
      wavesurfer: null,
      wavesurfer2: null,
      mp3List: [],
      jsonList: [],
      m3u8List: [],
      playHistoryList: [],
      seekTime: 0,
      rePlayTimer: null,
      startEnd: [],
    }
  },
  watch: {
    index(){
      this.initWaveSurfer()
      this.$emit('ready', true)
    }
  },
  computed: {
    ...mapGetters(['mediaType', 'routerMap', 'timeLineData', 'index']),
    query(){
      return this.$route.query
    },
    currentM3u8Start(){
      const starttime = this.m3u8List[this.index].substr(75, 10) * 1 || 0
      this.$store.commit('setM3u8Start', starttime)
      return starttime
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getMp3()
    })
  },
  methods: {
    getInterruptFlow(startTime, endTime){
      let data = { mediaId: this.query.fmedia_id, startTime, endTime }
      getInterruptFlow(data).then(({data}) => {
        if(data !== false){
          let _data = JSON.parse(data)
          if(_data.data.length){
            _data.data.forEach(item => {
              this.wavesurfer.addRegion({
                id: 'r_' + item.start,
                start: item.start - this.currentM3u8Start,
                end: item.end - this.currentM3u8Start,
                color: 'rgba(255, 0, 0, 1)',
                drag: false,
                resize: true
              })
              const dom = document.querySelector(`region[data-id=r_${item.start}]`)
              if(dom) dom.style.dsiplay = 'table'
              let tempDiv = document.createElement('span')
              tempDiv.style.color = '#fff'
              tempDiv.style.fontSize = '16px'
              tempDiv.style.display = 'table-cell'
              tempDiv.style.verticalAlign = 'middle'
              tempDiv.innerHTML = `断流`
              if(dom) dom.appendChild(tempDiv)
              this.wavesurfer2.addRegion({
                id: 'r_' + item.issueid,
                start: item.start - this.currentM3u8Start,
                end: item.end - this.currentM3u8Start,
                color: 'rgba(255, 0, 0, 1)',
                drag: false,
                resize: true
              })
            })
          }
        }
      })
    },
    getStartEnd(type = 's'){
      let time = Math.floor((this.wavesurfer.getCurrentTime() + this.currentM3u8Start) * 1000)
      let formatTime = this.$dayjs(time).format('YYYY-MM-DD HH:mm:ss')
      let temp_time = this.wavesurfer.getCurrentTime().toString().split('.')[1].substr(0, 3)
      switch(type){
        case 's':
          // this.bxstart = formatTime
          // console.log(temp_time)
          this.$emit('setCurrentTime', {type: 'start', time: `${formatTime}.${temp_time}`})
          // this.wavesurfer.addRegion({
          //   start: this.wavesurfer.getCurrentTime(),
          //   end: this.wavesurfer.getCurrentTime() + 0.03,
          //   color: 'rgba(255, 255, 0, 0.5)',
          //   resize: true,
          //   drag: false,
          //   id: 'curRegion'
          // })
          break
        case 'e':
          this.$emit('setCurrentTime', {type: 'end', time: `${formatTime}.${temp_time}`})
          break
      }
    },
    playPause(){
      if (this.wavesurfer.isPlaying()) {
        this.wavesurfer.pause()
        this.wavesurfer2.pause()
        this.$emit('playPause', 'play')
      } else {
        this.wavesurfer.play()
        this.wavesurfer2.play()
        this.$emit('playPause', 'pause')
      }
    },
    initWaveSurfer(){
      document.querySelector('#_timeLines').innerHTML = '<div id="timeline"></div><div id="waveform"></div><div id="waveform2"></div><div id="timeline2"></div>'
      if(this.m3u8List[this.index].length !== 105){
        return this.$store.commit('setIndex', this.index + 1)
      }
      this.$store.commit('setM3U8', this.m3u8List[this.index])
      this.getSeekTime(this.m3u8List[this.index]).then(() => {
        this.loadWaveSurfer().then(() => {
          this.waveOperate(this.jsonList[this.index], this.mp3List[this.index])
          document.addEventListener('keydown', event => {
            const e = event || window.event || arguments.callee.caller.arguments[0]
            // ctrl
            if(e && e.keyCode === 192){
              this.playPause()
            }
            // f1
            if(e && e.keyCode === 112){
              e.preventDefault()
              this.getStartEnd('s')
            }
            // f2
            if(e && e.keyCode === 113){
              e.preventDefault()
              this.getStartEnd('e')
            }
            //esc
            if (e.keyCode == 27) {
              this.wavesurfer.params.autoCenter = true
              setTimeout(() => {
                this.wavesurfer.params.autoCenter = false
              }, 100)
            }
          })
          // document.addEventListener('keydown', event => {
          //   const e = event || window.event || arguments.callee.caller.arguments[0]
          //   console.log(event)
          //   // 空格
          //   if(e && e.keyCode === 32){
          //     alert(1)
          //     e.preventDefault()
          //   }
          // })
        })
      })
    },
    getMp3(){
      const {fmedia_id, fissue_date} = this.query
      let data = {
        zdmedia: fmedia_id,
        zdissue: fissue_date
      }
      getMediaMp3(data).then(res => {
        if(res.data.length > 0){
          const dataSou = res.data
          this.mp3List = dataSou.map(i => i.url)
          this.jsonList = dataSou.map(i => i.json)
          this.m3u8List = dataSou.map(i => {
            return `http://az.hz-data.xyz:8087/channel/${fmedia_id}/playback.m3u8?start_time=${i.url.substr(79, 10)}&end_time=${i.url.substr(90, 10)}`
          })
          this.startEnd = dataSou.map(i => ([i.url.substr(79, 10), i.url.substr(90, 10)]))
          const [ a, b, c ] = this.m3u8List
          if(a.length !== 105 || b.length !== 105 || c.length !== 105){
            this.$confirm('当前数据不支持波形操作，将为你跳转至旧版页面', '提示', {
              confirmButtonText: '确定',
              showClose: false,
              showCancelButton: false,
              center: true,
              type: 'warning'
            }).then(() => {
              this.$router.push({
                name: 'tvbccheckold',
                query: this.query
              })
            }).catch(() => {
              this.$router.push({
                name: 'tvbccheckold',
                query: this.query
              })
            })
            return
          }
          this.$store.commit('setM3u8List', this.m3u8List)
          this.initWaveSurfer()
        }
      })
    },
    loadWaveSurfer(){
      return new Promise((resove, reject) => {
        this.wavesurfer = WaveSurfer.create({
          container: '#waveform',
          waveColor: '#00EE00',
          cursorColor: '#ff0000',
          progressColor: '#0000ff',
          autoCenter: false,
          pixelRatio: 1,
          height: '80',
          minPxPerSec: 40,
          backgroundColor: '#000000',
          backend: 'MediaElement',
          scrollParent: true,
          barHeight: 0.5,
          plugins: [
            TimelinePlugin.create({
              container: "#timeline",
              start: this.currentM3u8Start,
            }),
            RegionsPlugin.create({
              regions: [],
              dragSelection: {
                slop: 5
              }
            })
          ]
        })
        this.wavesurfer2 = WaveSurfer.create({
          container: '#waveform2',
          waveColor: '#00EE00',
          cursorColor: '#ff0000',
          progressColor: '#0000ff',
          autoCenter: false,
          pixelRatio: 1,
          height: '40',
          minPxPerSec: 0.05,
          backgroundColor: '#000000',
          backend: 'MediaElement',
          scrollParent: true,
          barHeight: 0.5,
          plugins: [
            TimelinePlugin.create({
              container: "#timeline2",
              start: this.currentM3u8Start,
            }),
            RegionsPlugin.create({
              regions: [],
              dragSelection: {
                slop: 5
              }
            })
          ]
        })
        this.wavesurfer2.setVolume(0)
        resove()
      })
    },
    waveSurferPlay(player_current_time = 0){
      this.wavesurfer.play(player_current_time - this.seekTime)
      this.wavesurfer.params.autoCenter = true
      setTimeout(() => {
        this.wavesurfer.params.autoCenter = false
      }, 100)
      this.wavesurfer2.play(player_current_time - this.seekTime)
    },
    setRegions(){
      if(this.wavesurfer) this.wavesurfer.clearRegions()
      if(this.wavesurfer2) this.wavesurfer2.clearRegions()
      const [start, end] = this.startEnd[this.index]
      this.getInterruptFlow(+start, +end)
      this.timeLineData.regions.forEach(item => {
        this.wavesurfer.addRegion({
          id: 'r_' + item.issueid,
          start: item.start - this.currentM3u8Start,
          end: item.end - this.currentM3u8Start,
          color: 'rgba(255, 255, 255, 0.5)',
          drag: false,
          resize: true
        })
        const dom = document.querySelector(`region[data-id=r_${item.issueid}]`)
        if(dom) dom.style.dsiplay = 'table'
        let tempDiv = document.createElement('span')
        tempDiv.style.color = '#fff'
        tempDiv.style.fontSize = '16px'
        tempDiv.style.display = 'table-cell'
        tempDiv.style.verticalAlign = 'middle'
        tempDiv.innerHTML = `标题：${item.fadname}<br/>时长：${(item.end - item.start).toFixed(2)}秒`
        if(dom) dom.appendChild(tempDiv)
        this.wavesurfer2.addRegion({
          id: 'r_' + item.issueid,
          start: item.start - this.currentM3u8Start,
          end: item.end - this.currentM3u8Start,
          color: 'rgba(255, 255, 255, 0.5)',
          drag: false,
          resize: true
        })
      })
    },
    waveOperate(json_url, mp3_url) {
      axios.get(json_url).then(res => {
        this.wavesurfer.load(mp3_url, res.data.data)
        this.wavesurfer2.load(mp3_url, res.data.data)
        this.wavesurfer.on('ready', () => {
          this.wavesurfer.on('seek', () => {
            let child = document.querySelector('region[data-id="curRegion"]')
            if(child) child.parentNode.removeChild(child)
            clearTimeout(this.rePlayTimer)
            this.wavesurfer.addRegion({
              start: this.wavesurfer.getCurrentTime(),
              end: this.wavesurfer.getCurrentTime() + 0.03,
              color: 'rgba(255, 255, 255, 0.5)',
              drag: false,
              resize: true,
              id: 'curRegion'
            })
            this.wavesurfer.play(this.wavesurfer.getCurrentTime())
            this.wavesurfer2.play(this.wavesurfer.getCurrentTime())
            this.$emit('seek', this.wavesurfer.getCurrentTime() * 1 + this.seekTime * 1)
          })
          this.wavesurfer2.on('seek', () => {
            clearTimeout(this.rePlayTimer)
            this.wavesurfer.play(this.wavesurfer2.getCurrentTime())
            this.wavesurfer2.play(this.wavesurfer2.getCurrentTime())
            this.wavesurfer.params.autoCenter = true
            setTimeout(() => {
              this.wavesurfer.params.autoCenter = false
            }, 100)
            this.$emit('seek', this.wavesurfer2.getCurrentTime() * 1 + this.seekTime * 1)
          })
          this.wavesurfer.on('region-mouseenter', (r, e) => {
            if (r.id != 'curRegion' && e.altKey == true) {
              this.wavesurfer.play(r.start, r.end)
              this.wavesurfer2.play(r.start, r.end)
              this.$emit('seek', r.start + this.seekTime)
              this.rePlayTimer = setTimeout(() => {
                this.$emit('playerPause')
              }, (r.end - r.start) * 1000)
            }
          })

          this.wavesurfer.on('region-in', r => {
            document.querySelector(`region[data-id=${r.id}]`).classList.add('shine_red')
          })

          this.wavesurfer.on('region-out', r => {
            document.querySelector(`region[data-id=${r.id}]`).classList.remove('shine_red')
          })
          this.$emit('ready')
        })
        this.setRegions()
      })
    },
    getSeekTime(url){
      return axios.get(url).then(({data}) => {
        const matchReg = /http.*?\.ts/gi;
        const matchReg1 = /http.*?\.aac/gi;
        const a = data.match(matchReg) != null ? data.match(matchReg)[0] : data.match(matchReg1)[0]
        const arr1 = a.split('/');
        this.seekTime = url.substr(75, 10) - Number(arr1[arr1.length - 1].substring(0, 10))
        this.$store.commit('setSeekTime', this.seekTime)
      })
    },
    reset(){
      if(this.wavesurfer){
        this.wavesurfer.destroy()
        this.wavesurfer = null
      }
      if(this.wavesurfer2){
        this.wavesurfer2.destroy()
        this.wavesurfer2 = null
      }
      document.removeEventListener('keydown', event => {
        event.preventDefault()
      })
    }
  },
  beforeDestroy() {
    this.reset()
  },
}
</script>

<style lang="scss" scoped>
.wave-surfer{
  width: 100%;
  flex-shrink: 0;
  height: 210px;
}
</style>
<style>
@-webkit-keyframes shineRed {
from {
  -webkit-box-shadow: 0 0 50px #0000ff inset;
}
to {
  -webkit-box-shadow: 0 0 50px #00ff00 inset;
}
}
.shine_red {
  -webkit-animation-name: shineRed;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
}
</style>