<template>
  <div class="ggmcchaxun">
    <h2>广告名称查询</h2>
    <table class="col-table"
      border="1"
      cellspacing="0"
      v-show="checked">
      <tr>
        <th>广告中标示名称</th>
        <td>
          <el-input v-model="searchForm.name"
            type="text"
            style="width:40%">
          </el-input>
        </td>
      </tr>
      <tr>
        <th>发布涉嫌违法广告的日期</th>
        <td>
          <el-date-picker :editable="false"
            style="width:40%"
            v-model="date"
            @change="_setDate"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </td>
      </tr>
      <tr>
        <td colspan="2"
          class="text-center">
          <el-button type="primary"
            icon="el-icon-search"
            @click="_getList(1)">
            查询
          </el-button>
          <el-button type="primary"
            icon="el-icon-download"
            @click="_outExcel">
            导出
          </el-button>
        </td>
      </tr>
    </table>
    <div>
      <h2>查询结果</h2>
      <el-table :data="tableData"
        border
        v-loading="loading">
        <el-table-column label="序号"
          type="index"
          width="50">
        </el-table-column>
        <el-table-column label="媒体分类">
          <template slot-scope="scope">
            <span v-if="scope.row.fmedia_class === '1'">电视</span>
            <span v-if="scope.row.fmedia_class === '2'">广播</span>
            <span v-if="scope.row.fmedia_class === '3'">报纸</span>
          </template>
        </el-table-column>
        <el-table-column prop="fadclass"
          label="广告分类">
        </el-table-column>
        <el-table-column prop="fad_name"
          label="广告名称">
        </el-table-column>
        <el-table-column prop="fmedianame"
          label="发布媒体">
        </el-table-column>
        <el-table-column prop="fissue_date"
          label="播出日期">
        </el-table-column>
        <el-table-column prop="fstarttime"
          label="开始时间">
        </el-table-column>
        <el-table-column prop="fendtime"
          label="结束时间">
        </el-table-column>
        <el-table-column label="时长/版面"
          width="110px">
          <template slot-scope="scope">
            {{ scope.row.fmedia_class === '3' ? scope.row.fpage : scope.row.difftime + '秒' }}
          </template>
        </el-table-column>
        <el-table-column min-width="110"
          label="违法表现代码">
          <template slot-scope="scope">
            <el-popover placement="left"
              width="200"
              trigger="hover"
              :content="scope.row.fexpressions">
              <span type="text"
                slot="reference">{{scope.row.fillegal_code}}</span>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column label="操作"
          fixed="right"
          width="130">
          <template slot-scope="scope">
            <el-button type="text"
              icon="el-icon-view"
              @click="_viewVideo(scope.row)">
              查看
            </el-button>
            <a :href="scope.row.favifilename+'?attname='"
              target="_blank">
              <el-button type="text"
                v-if="scope.row.fmedia_class !== 'paper'"
                icon="el-icon-download">
                下载
              </el-button>
            </a>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background
        layout="prev, pager, next, total"
        :total="Number(countAll)"
        :page-size="20"
        :current-page="Number(searchForm.page)"
        @current-change="_getList">
      </el-pagination>
    </div>
    <view-video v-if="showVideo"
      :data="details"
      @close="showVideo = false">
    </view-video>
    <out-file v-if="showdownload"
      :durl="durl"
      @close="_cdownload">
    </out-file>
  </div>
</template>

<script>
import axios from "axios";
import qs from "qs";
import viewVideo from "../Investigation/components/viewVideo";
import outFile from '../../common/outFile'
export default {
  components: {
    viewVideo,
    outFile
  },
  data() {
    return {
      date: [],
      checked: true,
      tableData: [],
      searchForm: {
        page: 1,
        name: "",
        start_date: "",
        end_date: ""
      },
      durl: '',
      showdownload: false,
      countAll: "0",
      loading: false,
      details: {},
      showVideo: false
    };
  },
  methods: {
    _getList(page) {
      this.loading = true;
      this.searchForm.page = page || 1
      axios.post(this.$_ + "/Agp/GadQuery/queryAdList", qs.stringify(this.searchForm))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data.list
            this.countAll = res.data.data.count;
            this.loading = false;
          } else {
            this.tableData = [];
            this.$func._error(res.data);
            this.loading = false;
          }
        })
        .catch(() => {
          this.$func._error();
        });
    },
    _viewVideo(obj) {
      this.details = obj;
      this.showVideo = true;
    },
    _outExcel() {
      this.showdownload = true
      axios
        .post(
          this.$_ + "/Agp/Goutxls/out_tjfx_zdycjg_list2",
          qs.stringify(this.searchForm)
        )
        .then(res => {
          if (res.data.code === 0) {
            this.durl = res.data.data
          } else {
            this.$func._error(res.data)
          }
        })
        .catch(() => {
          this.$func._error('导出出错！')
        })
    },
    _cdownload() {
      this.showdownload = false
      this.durl = ''
    },
    _setDate(val) {
      this.searchForm.start_date = val[0];
      this.searchForm.end_date = val[1];
    }
  }
};
</script>
<style scoped lang="scss">
</style>