<template>
	<div class="zdychaxun">
		<h2>自定义查询</h2>
		<table class="col-table"
		 border="1"
		 cellspacing="0">
			<tr>
				<th>媒体所在地</th>
				<td>
					<el-cascader style="width:40%"
					 :options="$store.state.GData"
					 :props="$store.state.areaOptions"
					 v-model="area"
					 clearable>
					</el-cascader>
					<el-button type="primary"
					 @click="_addOrg(1)">
						派发频道
					</el-button>
					<el-button type="text"
					 @click="_clear(0)">
						清空
					</el-button>
					<span v-text="pfstring"></span>
				</td>
			</tr>
			<tr>
				<th>产品分类</th>
				<td class="list">
					<el-row>
						<el-col :span="24"
						 style="position: relative;left: -30px;">
							<el-checkbox-group v-model="searchForm.tadclass">
								<el-checkbox v-for="item in $store.state.adClassOptions"
								 :label="item.fcode"
								 :key="item.fcode">
									{{item.fadclass}}
								</el-checkbox>
							</el-checkbox-group>
						</el-col>
					</el-row>
					<el-row>
						<el-button
						 @click="searchForm.tadclass = allClassCheck">
							全选
						</el-button>
						<el-button
						 @click="searchForm.tadclass = []">
							取消
						</el-button>
						<el-button
						 @click="_fanxuan(searchForm.tadclass,allClassCheck,res=>searchForm.tadclass = res)">
							反选
						</el-button>
						<span style="color:red;">不选默认全选</span>
					</el-row>
				</td>
			</tr>
			<tr>
				<th>媒体分类</th>
				<td>
					<el-checkbox-group v-model="searchForm.mediaclass"
					 @change="_getMediaList">
						<el-checkbox :label="item.value"
						 v-for="item in Mediatype"
						 :key="item.value">
							{{ item.label }}
						</el-checkbox>
					</el-checkbox-group>
				</td>
			</tr>
			<tr>
				<th>媒体列表</th>
				<td class="list">
					<el-row>
						<el-col :span="24"
						 style="position: relative;left: -30px;">
							<el-checkbox-group v-model="searchForm.mediaids"
							 >
								<el-checkbox :label="item.fid"
								 v-for="item in mediaList"
								 :key="item.fid">
									{{item.fmedianame}}
								</el-checkbox>
							</el-checkbox-group>
						</el-col>
					</el-row>
					<el-row>
						<el-button
						 @click="searchForm.mediaids = allMediaCheck">全选</el-button>
						<el-button
						 @click="searchForm.mediaids = []">取消</el-button>
						<el-button
						 @click="_fanxuan(searchForm.mediaids,allMediaCheck,res=>searchForm.mediaids = res)">反选</el-button>
						<span style="color:red;">不选默认全选</span>
					</el-row>
				</td>
			</tr>
			<tr>
				<th>发布涉嫌广告的日期</th>
				<td>
					<el-date-picker :editable="false" style="width:40%"
					 v-model="searchForm.isstime"
					 type="daterange"
					 range-separator="至"
					 start-placeholder="开始日期"
					 end-placeholder="结束日期"
					 value-format="yyyy-MM-dd"
					 @change="_setDate">
					</el-date-picker>
				</td>
			</tr>
			<tr>
				<th>发布涉嫌广告的时段</th>
				<td>
					<el-time-picker style="width:40%"
					 is-range
					 :clearable="false"
					 v-model="duringtime"
					 range-separator="至"
					 start-placeholder="开始时间"
					 end-placeholder="结束时间"
					 value-format="yyyy-MM-dd HH:mm:ss"
					 placeholder="选择时间范围"
					 @change="_setTime">
					</el-time-picker>
				</td>
			</tr>
			<tr>
				<th>广告中标示名称</th>
				<td>
					<el-input v-model="searchForm.tadname"
					 type="text"
					 style="width:40%"></el-input>
				</td>
			</tr>
			<tr>
				<td colspan="2"
				 class="text-center">
					<el-button type="primary"
					 icon="el-icon-search"
					 @click="_getList(1)">
						查询
					</el-button>
					<el-button type="primary"
					 icon="el-icon-download"
					 @click="_outExcel">
						导出
					</el-button>
				</td>
			</tr>
		</table>
		<div>
			<h2>查询结果</h2>
			<el-table :data="tableData"
			 border
			 v-loading="loading">
				<el-table-column label="序号"
				 type="index"
				 width="50">
				</el-table-column>
				<el-table-column label="媒体分类">
					<template slot-scope="scope">
						<span v-if="scope.row.fmedia_class === '1'">电视</span>
						<span v-if="scope.row.fmedia_class === '2'">广播</span>
						<span v-if="scope.row.fmedia_class === '3'">报纸</span>
					</template>
				</el-table-column>
				<el-table-column prop="fadclass"
				 label="广告分类">
				</el-table-column>
				<el-table-column prop="fad_name"
				 label="广告名称">
				</el-table-column>
				<el-table-column prop="fmedianame"
				 label="发布媒体">
				</el-table-column>
				<el-table-column prop="fissue_date"
				 label="播出日期">
				</el-table-column>
				<el-table-column prop="fstarttime"
				 label="开始时间">
				</el-table-column>
				<el-table-column prop="fendtime"
				 label="结束时间">
				</el-table-column>
				<el-table-column label="时长/版面"
				 width="110px">
					<template slot-scope="scope">
						{{ scope.row.fmedia_class === '3' ? scope.row.fpage : scope.row.difftime + '秒' }}
					</template>
				</el-table-column>
				<el-table-column min-width="110"
				 label="违法表现代码">
					<template slot-scope="scope">
						<el-popover placement="left"
						 width="200"
						 trigger="hover"
						 :content="scope.row.fexpressions">
							<span type="text"
							 slot="reference">{{scope.row.fillegal_code}}</span>
						</el-popover>
					</template>
				</el-table-column>
				<el-table-column label="操作"
				 fixed="right"
				 width="130">
					<template slot-scope="scope">
						<el-button type="text"
						 icon="el-icon-view"
						 @click="_viewVideo(scope.row)">
							查看
						</el-button>
						<a :href="scope.row.favifilename+'?attname='"
						 target="_blank">
							<el-button type="text"
							 v-if="scope.row.fmedia_class !== 'paper'"
							 icon="el-icon-download">
								下载
							</el-button>
						</a>
					</template>
				</el-table-column>
			</el-table>
			<el-pagination background
			 layout="prev, pager, next, total"
			 :total="Number(countAll)"
			 :page-size="20"
			 :current-page="Number(searchForm.page)"
			 @current-change="_getList">
			</el-pagination>
			<view-video v-if="showVideo"
			 :data="details"
			 @close="showVideo = false">
			</view-video>
			<out-file v-if="showdownload"
			 :durl="durl"
			 @close="_cdownload">
			</out-file>
		</div>
	</div>
</template>
<script>
import viewVideo from "../Investigation/components/viewVideo";
import outFile from '../../common/outFile'
import axios from "axios";
import qs from "qs";
export default {
	components: {
		viewVideo,
		outFile
	},
	data() {
		return {
			area: [],
			mediaList: [],
			allClassCheck: [],
			allMediaCheck: [],
			tableData: [],
			durl: '',
			showdownload: false,
			searchForm: {
				page: 1,
				tadclass: [],
				mediaclass: [],
				mediaids: [],
				isstime: [],
				tadname: "",
				regionids: '',
				hstarttime: "",
				hendtime: "",
				sstarttime: "",
				sendtime: ""
			},
			duringtime: [this.$dayjs(new Date(2018, 1, 1, 0, 0)).format('YYYY-MM-DD HH:mm:ss'), this.$dayjs(new Date(2018, 1, 1, 23, 59, 59)).format('YYYY-MM-DD HH:mm:ss')],
			countAll: "0",
			loading: false,
			pfstring: "",
			details: {},
			showVideo: false,
		};
	},
	mounted() {
		this._getMediaList(0);
		let timer = setInterval(() => {
			if (this.$store.state.adClassOptions.length) {
				this.$store.state.adClassOptions.forEach(item => {
					this.allClassCheck.push(item.fcode);
				});
				clearInterval(timer);
			}
		}, 100);
	},
	methods: {
		_getList(page) {
			this.loading = true;
			this.searchForm.page = page || 1
			this.searchForm.sstarttime = this.duringtime[0]
			this.searchForm.sendtime = this.duringtime[1]
			axios
				.post(
					this.$_ + "/Agp/Gzdychaxun/cxjieguo_list",
					qs.stringify(this.searchForm)
				)
				.then(res => {
					if (res.data.code === 0) {
						this.tableData = res.data.data.list.map(item => {
							if (item.fstarttime) {
								item.fstarttime = item.fstarttime.substring(11)
							}
							if (item.fendtime) {
								item.fendtime = item.fendtime.substring(11)
							}
							return item
						})
						this.countAll = res.data.data.count
						this.loading = false;
					} else {
						this.tableData = [];
						this.$func._error(res.data);
						this.loading = false;
					}
				})
				.catch(() => {
					this.$func._error();
				});
		},
		_getMediaList(val) {
			this.allMediaCheck = [];
			let data = {
				mclass: this.searchForm.mediaclass,
				tregionids: this.searchForm.regionids,
				searchtype: this.area.length ? '1' : '0'
			};
			axios
				.post(this.$_ + "/Agp/Gcore/user_medialist2", qs.stringify(data))
				.then(res => {
					if (res.data.code === 0) {
						this.mediaList = res.data.data;
						res.data.data.forEach(item => {
							this.allMediaCheck.push(item.fid);
						});
					} else {
						this.$func._error(res.data);
					}
				});
		},
		_fanxuan(a, b, fun) {
			let aSet = new Set(a);
			let bSet = new Set(b);
			let res = Array.from(
				new Set(a.concat(b).filter(v => !aSet.has(v) || !bSet.has(v)))
			);
			fun(res);
		},
		_addOrg(v) {
			let val = this.area
			let org = val[val.length - 1]
			this.searchForm.regionids = org
			this._getMediaList(v);
		},
		_clear(val) {
			this.searchForm.regionids = ''
			this.area = []
			this._getMediaList(val)
		},
		_setDate(val) {
			this.searchForm.hstarttime = val[0]
			this.searchForm.hendtime = val[1]
		},
		_setTime(val) {
			this.searchForm.sstarttime = val[0]
			this.searchForm.sendtime = val[1]
		},
		_viewVideo(obj) {
			this.details = obj
			this.showVideo = true
		},
		_outExcel() {
			this.showdownload = true
			axios
				.post(
					this.$_ + "/Agp/Goutxls/out_tjfx_zdycjg_list",
					qs.stringify(this.searchForm)
				)
				.then(res => {
					if (res.data.code === 0) {
						this.durl = res.data.data
					} else {
						this.$func._error(res.data)
					}
				})
				.catch(() => {
					this.$func._error('导出出错！')
				})
		},
		_cdownload() {
			this.showdownload = false
			this.durl = ''
		},
	},
	computed: {
		Mediatype() {
			return this.$store.state.mediaType5
		}
	}
};
</script>

<style scoped lang="scss">
.zdychaxun table th {
  width: 300px;
}
.zdychaxun table .list .el-checkbox {
  margin-left: 30px;
  padding: 5px 0;
}
.zdychaxun table .el-row {
  margin-top: 10px;
}
</style>