<template>
  <div class="evidence-cart"
    v-loading="loading">
    <!-- <el-radio-group v-model="form.status"
      class="operating-line">
      <el-radio-button label="1">待公证</el-radio-button>
      <el-radio-button label="2">已公证</el-radio-button>
    </el-radio-group> -->
    <el-card shadow="never"
      :body-style="cardHead">
      <div class="card-row">
        <div class="card-box">
          <el-checkbox v-model="checkedall"
            @change="checkedAll"
            label="全选"></el-checkbox>
        </div>
        <div class="card-image">存证快照</div>
        <div class="card-info">存证信息</div>
        <div class="card-operating">操作</div>
      </div>
    </el-card>
    <el-card :body-style="cardBody"
      shadow="never"
      v-for="(item,index) in tableData"
      :key="index">
      <div class="card-row">
        <div class="card-box">
          <el-checkbox v-model="checkidstr[item.rid]"
            @change="checkchange"
            :key="item.rid"></el-checkbox>
        </div>
        <div class="card-image card-image-row">
          <img :src="item.screenshot">
        </div>
        <div class="card-info card-info-box">
          <p>存证码：{{item.rid}}</p>
          <p><i class="el-icon-tickets"></i> {{item.md5}}</p>
          <p><i class="el-icon-date"></i> {{item.cdate}}</p>
          <p>
            <a :href="item.url"
              target="_blank">{{item.url}}</a>
          </p>
        </div>
        <div class="card-operating card-operating-box">
          <el-row>
            <el-button type="text"
              @click="handlescClick(item)">删除</el-button>
          </el-row>
          <el-row>
            <a :href="item.screenshot"
              target="_blank">
              <el-button type="text">快照</el-button>
            </a>
          </el-row>
          <el-row>
            <a :href="item.screenshot"
              target="_blank">
              <el-button type="text">下载</el-button>
            </a>
          </el-row>
        </div>
      </div>
    </el-card>
    <no-data v-if="!tableData.length" />
    <el-card shadow="never"
      :body-style="cardHead">
      <div class="card-row">
        <div class="card-box">
          <el-checkbox v-model="checkedall"
            @change="checkedAll"
            label="全选"></el-checkbox>
        </div>
        <div class="card-info">已选择 <em>{{selobj}}</em> 个存证，结算费用约 {{selobj*1000}} 元</div>
        <div class="card-operating">
          <el-button type="primary"
            @click="sendParams">去公证</el-button>
        </div>
      </div>
    </el-card>
  </div>
</template>
<script>
import axios from 'axios'
import noData from '../Ggsjzx//aggregation/common/noData'
export default {
  components: { noData },
  data() {
    return {
      loading: false,
      checkidstr: {},
      selobj: 0,
      checkedall: false,
      thispage: 1,
      items: {
        rowcount: 0,
        pagerow: 3,
        pagenum: 1,
        lists: []
      },
      form: {
        status: 1
      },
      cardBody: {
        'padding-top': '8px',
        'padding-bottom': '8px',
      },
      cardHead: {
        'padding-top': '8px',
        'padding-bottom': '8px',
        'background-color': '#eee',
      },
      from: {
        checkids: []
      },
      tableData: [],
    }
  },
  created() {
    this.getlist()
  },
  methods: {
    handlescClick(item) {//删除
      this.$confirm(`确定要删除 公证码为 ${item.rid} 的记录吗?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        // this.loading = true
        this.tableData = this.tableData.filter(v => {
          return v.rid !== item.rid
        })
        this.$func.success('删除成功')
        // axios.post(this.$_ + 'api/applicantevis/del.html', JSON.stringify({ fuuids: item.fuuids }))
        //   .then(res => {
        //     if (res.data.code === 0) {
        //       this.$notify.info({ title: '消息', message: '存证记录已删除！' })
        //       this.$func.success(res.data)
        //     } else {
        //       this.$func._error(res.data)
        //     }
        //     this.getlist()
        //     this.loading = false
        //   }).catch(error => {
        //     this.$func._error()
        //     this.loading = false
        //   })
      })
    },
    checkchange(checkid) {
      this.from.checkids = []
      for (let iitem in this.checkidstr) {
        if (this.checkidstr[iitem]) this.from.checkids.push(iitem)
      }
      this.selobj = this.from.checkids.length
    },
    checkedAll() {
      if (this.checkedall) {
        this.checkidstr = {}
        this.checkids = []
        this.tableData.forEach((item) => {
          this.from.checkids.push(item.rid)
          this.checkidstr[item.rid] = true
        })
      } else {
        this.checkidstr = {}
        this.from.checkids = []
      }
      this.selobj = this.from.checkids.length
    },
    sendParams() {
      if (this.from.checkids == null || this.from.checkids.length <= 0) {
        this.$func._error('请选择你需要公证的存证文件')
        return false
      }
      this.$router.push({
        path: '/evidenceapply',
        query: {
          checkids: this.from.checkids.join(',')
        }
      })
    },
    getlist() {
      this.loading = true;
      let data = { ...this.form }
      axios.post(this.$_ + '/TaskInput/NetAd/applyEvidenceList', JSON.stringify(data))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
          } else {
            this.$func._error(res.data)
          }
          this.checkidstr = {}
          this.from.checkids = []
          this.selobj = this.from.checkids.length
          this.loading = false
        }).catch(e => {
          this.$func._error()
          this.loading = false
        })
    }
  }
}
</script>
<style lang="scss" scoped>
.evidence-cart {
  .card-row {
    font-size: 14px;
    color: #606266;
    font-weight: bold;
    display: flex;
    .card-box {
      width: 70px;
    }
    .card-image {
      width: 160px;
      padding: 0px 10px;
      img {
        width: 100%;
      }
    }
    .card-image-row {
      overflow: hidden;
      height: 130px;
      border: 1px solid #ccc;
    }
    .card-info {
      flex-grow: 1;
      padding: 0px 10px;
      p {
        margin: 8px 0;
        font-weight: bold;
      }
    }
    .card-info-box {
      color: #333;
      p:nth-child(1) {
        font-size: 16px;
      }
    }
    .card-operating {
      width: 60px;
    }
    .card-operating-box {
      padding: 20px 0px;
    }
  }
}
</style>