<template>
  <div class="evidence-list" v-loading="loading">
    <el-form class="search-form"
      :inline="true"
      v-model="formInline">
      <el-form-item label="公证码：">
        <el-input v-model="formInline.fevidenceid"
          placeholder="输入公证码"
          style="width:110px;"></el-input>
      </el-form-item>
      <el-form-item label="存证日期：">
        <el-date-picker :editable="false" style="width:235px;"
          v-model="pdate"
          :picker-options="pickerOptions"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="存证状态：">
        <el-select v-model="formInline.status"
          placeholder="选择状态">
          <el-option label="全部"
            value=""></el-option>
          <el-option label="存证数据"
            value="1"></el-option>
          <el-option label="已删除"
            value="9"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="getlist(1)">查询</el-button>
      </el-form-item>
    </el-form>
    <el-row :gutter="10"
      class="operating-line">
      <el-col :span="8"
        class="operating-line"
        v-for="(item,index) in tableData"
        :key="index">
        <el-card shadow="hover">
          <div class="grid-content bg-purple">
            <img alt="公证图片"
              :src="item.screenshot || 'http://publichz.oss-cn-hangzhou.aliyuncs.com/nopic.jpg'"
              data-holder-rendered="true"
              style="width: 100%; display: block;">
          </div>
          <div class="caption">
            <h3>公证码：{{item.rid}}</h3>
            <h5><i class="el-icon-tickets"></i> {{item.md5}}</h5>
            <h5><i class="el-icon-date"></i> {{item.cdate}}</h5>
            <p>
              <a :href="item.url" target="_blank" class="weburl">{{item.url}}</a>
            </p>
            <p class="text-center">
              <a :href="item.screenshot"
                target="_blank">
                <el-button type="primary">快照</el-button>
              </a>
              <el-button type="success" @click="download(item)">下载</el-button>
              <a href="javascript:void(0);">
                <el-button v-if="Number(item.status) === 1"
                  type="info"
                  @click="handleczClick(item)">转入公证库</el-button>
              </a>
              <a :href="'https://app-test.e-chains.cn/api/cert/download-pdf/' + item.rid" target="_blank">
                <el-button>下载存管函</el-button>
              </a>
              <a href="javascript:void(0);">
                <el-button v-if="Number(item.status) === 1"
                  type="danger"
                  @click="handlezfClick(item)">删除</el-button>
              </a>
            </p>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-pagination background
      layout="prev, pager, next, total"
      @current-change="getlist"
      :page-size="formInline.pageSize"
      :total="Number(countAll)">
    </el-pagination>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      loading: false,
      tableData: [],
      pdate: [],
      formInline: {
        fevidenceid: '',
        status: '1',
        pageIndex: 1,
        pageSize: 18
      },
      countAll: 0,
      predata: {},
      pickerOptions: {
        disabledDate: time => {
          return time.getTime() > new Date().getTime()
        }
      }
    }
  },
  created() {
    this.getlist()
  },
  methods: {
    handleczClick(item) {
      this.$confirm('确定要' + item.rid + '存证转入公证库?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        this.tableData = this.tableData.filter(v => {
          return v.rid !== item.rid
        })
        this.$func.success('转入成功')
        // axios.post(this.$_ + 'api/evidence/toshop.html', JSON.stringify({ id: item.id }))
        //   .then(res => {
        //     if (res.data.result) {
        //       this.$notify.info({
        //         title: '消息',
        //         message: '已成功转入出征库！'
        //       });
        //     } else {
        //       this.$func._error(res.data)
        //     }
        //     this.getlist()
        //   }).catch(e => {
        //     this.$func._error()
        //   })
      })
    },
    download(data){
      axios.get(this.$_ + `/TaskInput/NetAd/getSignUrl?fid=${data.rid}`)
      .then(res => {
        if(res.data.code === 0){
          const a = document.createElement('a')
          a.href = res.data.signurl
          a.target='_blank'
          a.click()
        }else{
          this.$_error(res.data.msg)
        }
      })
    },
    handlezfClick(item) {
      this.$confirm('确定要' + item.rid + '存证记录删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        this.tableData = this.tableData.filter(v => {
          return v.rid !== item.rid
        })
        this.$func.success('删除成功')
        // axios.post(this.$_ + 'api/evidence/del.html', JSON.stringify({ id: item.id }))
        //   .then(res => {
        //     if (res.data.code === 0) {
        //       this.$notify.info({
        //         title: '消息',
        //         message: '存证记录已删除！'
        //       })
        //     } else {
        //       this.$func._error(res.data)
        //     }
        //     this.getlist()
        //   }).catch(e => {
        //     this.$func._error()
        //   })
      })
    },
    getlist(page) {
      this.loading = true
      this.predata = {
        ...this.formInline,
        fstarttime: this.pdate[0] || '',
        fendtime: this.pdate[1] || '',
        pageIndex: page || 1
      }
      axios.post(this.$_ + '/TaskInput/NetAd/getEvidenceList', JSON.stringify(this.predata))
        .then(res => {
          if (res.data.code === 0) {
            this.tableData = res.data.data
            this.countAll = res.data.count
          } else {
            this.$func._error(res.data)
          }
          this.loading = false
        }).catch(e => {
          this.$func._error()
          this.loading = false
        })
    }
  }
};
</script>

<style scoped>
.grid-content {
  height: 200px;
  overflow: hidden;
}

.caption {
  padding: 9px;
  color: #333;
}

.caption p {
  height: 30px;
  overflow: hidden;
  font-size: 9pt;
  margin: 0;
}
.caption .weburl {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.text-center {
  text-align: center;
  margin-top: 0px;
}

a {
  color: #428bca;
  text-decoration: none;
}

a {
  background-color: transparent;
}

h3,
.h3 {
  font-size: 14px;
}

h5,
.h5 {
  font-size: 14px;
}

h3,
.h3,
h5,
.h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.el-form {
  margin-top: 20px;
}

.el-form-item {
  margin-bottom: 10px;
}
</style>
