<template>
  <div class="evidence-apply"
    v-loading="loading">
    <el-button type="primary"
      class="operating-line"
      icon="el-icon-arrow-left"
      @click="$router.push('evidencecart')">返回</el-button>
    <el-form ref="form"
      :model="form"
      :rules="rules"
      label-width="110px">
      <el-card class="box-card"
        shadow="never">
        <el-row :gutter="8">
          <!-- <el-col :span="6">
            <el-form-item label="公证书类型："
              prop="notarialtype">
              <el-select v-model="form.fnotarialtype"
                placeholder="请选择">
                <el-option v-for="item in notarialtypes"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col> -->
          <el-col :span="6">
            <el-form-item label="类型："
              prop="ftype">
              <el-switch v-model="form.ftype"
                active-text="企业"
                inactive-text="个人"
                :active-value="1"
                :inactive-value="0">
              </el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="是否邮寄："
              prop="fispost">
              <el-switch v-model="form.fispost">
              </el-switch>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8">
          <el-col :span="24">
            <el-form-item label="用途："
              prop="fusage">
              <el-input v-model="form.fusage"
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 8}"
                placeholder="请输入用途"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8"
          v-if="form.ftype">
          <h3>企业信息</h3>
          <el-col :span="6">
            <el-form-item label="注册号："
              prop="fregisterno">
              <el-input v-model="form.fregisterno"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="企业名称："
              prop="fentname">
              <el-input v-model="form.fentname"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="法定代表人："
              prop="fegalperson">
              <el-input v-model="form.fegalperson"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="法人身份证："
              prop="fegalidcard">
              <el-input v-model="form.fegalidcard"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8"
          v-if="form.ftype">
          <el-col :span="24">
            <el-form-item label="法人身份证：">
              <file-upload name="fegalidcardurl"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fegalidcardurl + ')'}"></p>
                <div class="el-upload__tip">身份证正面照</div>
              </file-upload>
              <file-upload name="fegalidcardurl2"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fegalidcardurl2 + ')'}"></p>
                <div class="el-upload__tip">身份证背面照</div>
              </file-upload>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8"
          v-if="form.ftype">
          <el-col :span="24">
            <el-form-item label="营业执照：">
              <file-upload name="fenturl"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fenturl + ')'}"></p>
                <div class="el-upload__tip">营业执照扫描件</div>
              </file-upload>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8">
          <h3 v-if="form.ftype">代办人信息</h3>
          <h3 v-if="!form.ftype">申办人信息</h3>
          <el-col :span="6">
            <el-form-item v-if="form.ftype"
              :rules="[{ required: true, message: '请输入代办人姓名', trigger: 'blur' }]"
              label="代办人姓名："
              prop="fusername">
              <el-input v-model="form.fusername"
                placeholder=""></el-input>
            </el-form-item>
            <el-form-item v-if="!form.ftype"
              :rules="[{ required: true, message: '请输入申办人姓名', trigger: 'blur' }]"
              label="申办人姓名："
              prop="fusername">
              <el-input v-model="form.fusername"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="form.ftype"
            :span="6">
            <el-form-item label="代办人职务："
              prop="fposition">
              <el-input v-model="form.fposition"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="手机号码："
              prop="fmobile">
              <el-input v-model="form.fmobile"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="身份证号码："
              prop="fidcard">
              <el-input v-model="form.fidcard"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8">
          <el-col :span="12">
            <el-form-item label="地址："
              prop="faddress">
              <el-input v-model="form.faddress"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="form.ftype"
            :span="12">
            <el-form-item label="委托书：">
              <file-upload name="fnetmandateurl"
                @uploadSuccess="uploadSuccess"
                :beforeVerification="false">
                <el-button type="primary">点击上传</el-button>
              </file-upload>
              <a :href="form.fnetmandateurl"
                v-if="form.fnetmandateurl">
                <el-tag closable
                  @close="e=>{form.fnetmandateurl='';e.preventDefault()}"
                  size="small"
                  type="primary">
                  下载查看
                </el-tag>
              </a>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8">
          <el-col :span="24">
            <el-form-item v-if="!form.ftype"
              label="申办人身份证："
              prop="weburl">
              <file-upload name="fidcardurl"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fidcardurl + ')'}"></p>
                <div class="el-upload__tip">身份证正面照</div>
              </file-upload>
              <file-upload name="fidcardurl2"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fidcardurl2 + ')'}"></p>
                <div class="el-upload__tip">身份证背面照</div>
              </file-upload>
              <file-upload name="fidcardfeelurl"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fidcardfeelurl + ')'}"></p>
                <div class="el-upload__tip">手持身份证照片</div>
              </file-upload>
            </el-form-item>
            <el-form-item v-if="form.ftype"
              label="代办人身份证："
              prop="weburl">
              <file-upload name="fidcardurl"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fidcardurl + ')'}"></p>
                <div class="el-upload__tip">身份证正面照</div>
              </file-upload>
              <file-upload name="fidcardurl2"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fidcardurl2 + ')'}"></p>
                <div class="el-upload__tip">身份证背面照</div>
              </file-upload>
              <file-upload name="fidcardfeelurl"
                @uploadSuccess="uploadSuccess">
                <p class="icard-upload"
                  :style="{backgroundImage: 'url(' + form.fidcardfeelurl + ')'}"></p>
                <div class="el-upload__tip">手持身份证照片</div>
              </file-upload>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8"
          v-if="form.fispost">
          <h3>收件人信息</h3>
          <el-col :span="6">
            <el-form-item label="收件人："
              prop="fpostusername">
              <el-input v-model="form.fpostusername"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="收件人手机："
              prop="fpostmobile">
              <el-input v-model="form.fpostmobile"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="收件人地址："
              prop="fpostaddress">
              <el-input v-model="form.fpostaddress"
                placeholder=""></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="8"
          v-if="form.fispost">
          <el-col :span="24">
            <el-form-item label="备注："
              prop="fremark">
              <el-input v-model="form.fremark"
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 8}"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="text-center">
          <el-button type="primary"
          :loading="$store.state.bloading"
            @click="onSubmit('form')">确认公证</el-button>
        </el-row>
      </el-card>
    </el-form>
  </div>
</template>

<script>
import icard01 from '../../../static/img/icard01.jpg'
import icard02 from '../../../static/img/icard02.jpg'
import icard03 from '../../../static/img/icard03.jpg'
import fileUpload from './components/fileUpload'
import axios from 'axios'
export default {
  components: { fileUpload },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (!to.query.checkids) {
        vm.$func._error('无效调用！')
        vm.$router.push({ path: '/evidencecart' })
      }
      vm.form.checkids = to.query.checkids
    })
  },
  data() {
    return {
      uploadOptions: {},
      upOptions: {
        up_server: ""
      },
      notarialtypes: [{
        value: '0',
        label: '网页'
      }, {
        value: '1',
        label: '文件'
      }, {
        value: '2',
        label: '语音'
      }],
      loading: false,
      activesteps: 0,
      activestepsmax: 3,
      form: {
        checkids: '',
        serialnumber: '',
        fnotarialtype: '0',
        ftype: 1, //申请类型
        fusage: '', //用途
        registerno: '', //注册号
        fentname: '', //企业名称
        fusername: '', // 申办人/代办人姓名
        fmobile: '', // 申办人/代办人手机号码
        fidcard: '', // 申办人/代办人身份证码
        fposition: '', // 代办人职务
        faddress: '', // 地址
        fegalidcardurl: icard01,// 法人身份证正面
        fegalidcardurl2: icard02,// 法人身份证反面
        fenturl: icard03, // 营业执照
        fidcardurl: icard01, // 个人身份证正面
        fidcardurl2: icard02,// 个人身份证反面
        fidcardfeelurl: icard03,// 个人手持身份证
        fmandateurl: '',// 委托书
        fispost: true,
        fstatus: 0
      },
      rules: {
        fregisterno: [
          { required: true, message: '请输入注册号', trigger: 'blur' },
          { min: 15, max: 20, message: '长度在 15 到 20 个字符', trigger: 'blur' }
        ],
        fentname: [
          { required: true, message: '请输入企业名称', trigger: 'blur' },
          { min: 3, max: 250, message: '长度在 3 到 250 个字符', trigger: 'blur' }
        ],
        fegalperson: [
          { required: true, message: '请输入法定代表人', trigger: 'blur' },
          { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur' }
        ],
        fegalidcard: [
          { required: true, message: '请输入法人身份证件号码', trigger: 'blur' },
          { validator: this.IdentityCodeValid, trigger: 'blur' }
        ],
        fpostmobile: [
          { required: true, message: '请输入手机号码', trigger: 'blur' },
          { validator: this.checkPhone, trigger: 'blur' }
        ],
        fmobile: [
          { required: true, message: '请输入手机号码', trigger: 'blur' },
          { validator: this.checkPhone, trigger: 'blur' }
        ],
        fidcard: [
          { required: true, message: '请输入身份证件号码', trigger: 'blur' },
          { validator: this.IdentityCodeValid, trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        this.$store.commit('_bloading',true)
        if (valid) {
          axios.post(this.$_ + '/TaskInput/NetAd/applyEvidence', JSON.stringify(this.form))
            .then(res => {
              if (res.data.code === 0) {
                this.$func.success(res.data)
                this.$router.push('evidencecart')
              } else {
                this.$func._error(res.data)
              }
              this.$store.commit('_bloading',false)
            }).catch(e => {
              this.$func._error()
              this.$store.commit('_bloading',false)
            })
        } else {
          this.$func._error('验证通不过，请确认输入信息是否准确')
          this.$store.commit('_bloading',false)
        }
      })
    },
    uploadSuccess(data) {
      this.$set(this.form, data.name, data.url)
    },
    checkPhone(rule, value, callback) {
      if (!value) {
        return callback(new Error('手机号不能为空'))
      } else {
        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
        if (reg.test(value)) { callback() } else { return callback(new Error('请输入正确的手机号')) }
      }
    },
    IdentityCodeValid(rule, value, callback) {
      let city = { 11: "北京", 12: "天津", 13: "河北", 14: "山西", 15: "内蒙古", 21: "辽宁", 22: "吉林", 23: "黑龙江 ", 31: "上海", 32: "江苏", 33: "浙江", 34: "安徽", 35: "福建", 36: "江西", 37: "山东", 41: "河南", 42: "湖北 ", 43: "湖南", 44: "广东", 45: "广西", 46: "海南", 50: "重庆", 51: "四川", 52: "贵州", 53: "云南", 54: "西藏 ", 61: "陕西", 62: "甘肃", 63: "青海", 64: "宁夏", 65: "新疆", 71: "台湾", 81: "香港", 82: "澳门", 91: "国外 " }
      let tip = ""
      let pass = true
      if (!value || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(value)) {
        return callback(new Error('身份证号格式错误'))
      }
      if (!city[value.substr(0, 2)]) {
        return callback(new Error('地址编码错误'))
      }
      //18位身份证需要验证最后一位校验位
      if (value.length == 18) {
        value = value.split('')
        //∑(ai×Wi)(mod 11)
        //加权因子
        let factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2]
        //校验位
        let parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2]
        let sum = 0
        let ai = 0
        let wi = 0
        for (let i = 0; i < 17; i++) {
          ai = value[i]
          wi = factor[i]
          sum += ai * wi
        }
        let last = parity[sum % 11]
        if (parity[sum % 11] != value[17]) {
          return callback(new Error('校验位错误'))
        } else {
          callback()
        }
      } else {
        return callback(new Error('请输入正确的身份证号码'))
      }
    }
  }
}
</script>
<style scoped>
.icard-upload {
  font-size: 28px;
  color: #8c939d;
  width: 200px;
  height: 130px;
  margin: 0px;
  text-align: center;
  background-size: 100% 100%;
}
</style>
