<template>
  <div class="statistics">
    <!-- 搜索条件 -->
    <el-form :model="searchForm">
      <el-row>
        <el-col :span="4">
          <el-form-item label="年份："
            label-width="60px">
            <el-select
              v-model="searchForm.years"
              placeholder="选择年">
              <el-option v-for="(item,index) in yearArr"
                :key="index"
                :label="item.text"
                :value="item.val">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="时段："
            label-width="60px">
            <el-select
              @change="changeTime"
              v-model="searchForm.timeTypes"
              placeholder="选择时间段">
              <el-option v-for="(value,key) in timeTypeObj"
                :key="key"
                :label="value"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="范围："
            label-width="60px">
            <el-select v-model="searchForm.timeVal"
              v-if="!isday"
              style="width:100%;max-width:220px;"
              placeholder="选择时间">
              <el-option v-for="(item,index) in Gtime[searchForm.timeTypes]"
                :key="index"
                :label="item.text"
                :value="item.val">
                {{ item.text }}
              </el-option>
            </el-select>
            <el-date-picker :editable="false"
              v-else
              style="width:100%;"
              v-model="searchDate"
              :picker-options="pickerOptions"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              align="right"
              @change="daySelect"
              :clearable="false"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-col>
         <el-col :span="4">
          <el-form-item label="维度："
            label-width="60px">
            <el-select v-model="searchForm.dimension" v-if="mClass == '01' || mClass == '02'">
              <el-option
                v-for="(item,index) in dimensionArr"
                :key="index"
                :label="item.text"
                :value="item.val">
              </el-option>
            </el-select>
            <el-select v-model="searchForm.dimension" v-else>
              <el-option
                v-for="(item,index) in dimensionArr2"
                :key="index"
                :label="item.text"
                :value="item.val">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item lbel-width="0px">
            <el-button type="primary" @click="getData">查 询</el-button>
             <el-button type="danger" @click="reset()" icon="el-icon-refresh" plain>重 置</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <el-row :gutter="24">
      <el-col>
        <el-tabs v-model="activeName" type="card" @tab-click="getData">
          <el-tab-pane label="地域排名" name="1">
            <region-rank :tdata="tdata" :total="total" :title="searchName" :mClass="mClass" v-if="activeName === '1'" v-loading="loading" element-loading-text="加载中..."></region-rank>
          </el-tab-pane>
          <el-tab-pane label="广告类别排名" name="2">
            <category-rank :tdata="tdata" :total="total" :title="searchName" :mClass="mClass" v-if="activeName === '2'" v-loading="loading" element-loading-text="加载中..."></category-rank>
          </el-tab-pane>
          <el-tab-pane label="媒体排名" name="3">
            <media-rank :tdata="tdata" :total="total" :title="searchName" :mClass="mClass" v-if="activeName === '3'" v-loading="loading" element-loading-text="加载中..."></media-rank>
          </el-tab-pane>
          <el-tab-pane label="媒介机构排名" name="4">
            <org-rank :tdata="tdata" :total="total" :title="searchName" :mClass="mClass" v-if="activeName === '4'" v-loading="loading" element-loading-text="加载中..."></org-rank>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import regionRank from './tab/regionRank'
import categoryRank from './tab/categoryRank'
import orgRank from './tab/orgRank'
import mediaRank from './tab/mediaRank'
import { index } from '@/api/IssueSummary.js'

  export default {
    name: 'statistics',
    components: {
      orgRank,
      categoryRank,
      regionRank,
      mediaRank,
    },
    data() {
      let month = new Date().getMonth() + 1
      return{
        loading: false,
        activeName: '1',
        searchForm: {
          years: new Date().getFullYear(),
          timeVal: month > 9 ? month.toString() : `0${month}`,
          timeTypes: '30',
          dimension: 1,
        },
        searchDate: [this.$dayjs().format('YYYY-MM-DD'), this.$dayjs().format('YYYY-MM-DD')],
        pickerOptions: {
          disabledDate: (time) => {
            return time.getTime() > new Date().getTime()
          },
        },
        sourceForm: '',
        yearArr: [],
        timeTypeObj: {
          '0': "天",
          '10': "周",
          '20': "半月",
          '30': "月",
          '40': "季度",
          '50': "半年",
          '60': "年",
        },
        dimensionArr: [
          {
            val: 1,
            text: '条次'
          },
          {
            val: 2,
            text: '违法条次'
          },
          {
            val: 3,
            text: '条次违法率'
          },
          {
            val: 5,
            text: '时长'
          },
          {
            val: 6,
            text: '违法时长'
          },
          {
            val: 7,
            text: '时长违法率'
          },
        ],
        dimensionArr2: [
          {
            val: 1,
            text: '条次'
          },
          {
            val: 2,
            text: '违法条次'
          },
          {
            val: 3,
            text: '条次违法率'
          },
        ],
        Gtime: {
          '10': this.initWeek(),
          '20': [
            { val: '01', text: '1月上半月' },
            { val: '02', text: '1月下半月' },
            { val: '03', text: '2月上半月' },
            { val: '04', text: '2月下半月' },
            { val: '05', text: '3月上半月' },
            { val: '06', text: '3月下半月' },
            { val: '07', text: '4月上半月' },
            { val: '08', text: '4月下半月' },
            { val: '09', text: '5月上半月' },
            { val: '10', text: '5月下半月' },
            { val: '11', text: '6月上半月' },
            { val: '12', text: '6月下半月' },
            { val: '13', text: '7月上半月' },
            { val: '14', text: '7月下半月' },
            { val: '15', text: '8月上半月' },
            { val: '16', text: '8月下半月' },
            { val: '17', text: '9月上半月' },
            { val: '18', text: '9月下半月' },
            { val: '19', text: '10月上半月' },
            { val: '20', text: '10月下半月' },
            { val: '21', text: '11月上半月' },
            { val: '22', text: '11月下半月' },
            { val: '23', text: '12月上半月' },
            { val: '24', text: '12月下半月' },
          ],
          '30':[
            { val: '01', text: '1月' },
            { val: '02', text: '2月' },
            { val: '03', text: '3月' },
            { val: '04', text: '4月' },
            { val: '05', text: '5月' },
            { val: '06', text: '6月' },
            { val: '07', text: '7月' },
            { val: '08', text: '8月' },
            { val: '09', text: '9月' },
            { val: '10', text: '10月' },
            { val: '11', text: '11月' },
            { val: '12', text: '12月' },
          ],
          '40': [
             { val: '01-01', text: '第一季度' },
             { val: '04-01', text: '第二季度' },
             { val: '07-01', text: '第三季度' },
             { val: '10-01', text: '第四季度' },
          ],
          '50': [
            { val: '1',text: '上半年', },
            { val: '2',text: '下半年', }
          ],
          '60': [
            { val: '1',text: '全年', }
          ],
        },
        dayArr: [],
        range: '1月',
        tdata: [],
        xdata: [],
        ydata: [],
        mClass: '01',
        total: 0,
      }
    },
    created() {
      this.initYear()
      this.getData()
      this.sourceForm = JSON.stringify(this.searchForm)
    },
    computed: {
      ...mapGetters(['routerMap']),
      isday() {
        return this.searchForm.timeTypes === '0'
      },
      searchName(){
        let wd = this.dimensionArr.filter(i =>{
          return i.val == this.searchForm.dimension
        })
        if(this.activeName == '1'){
           return `${this.searchForm.years}年${this.range}地域${wd[0].text}排名`
        } else if (this.activeName == '2'){
          return `${this.searchForm.years}年${this.range}广告类别${wd[0].text}排名`
        } else if (this.activeName == '3'){
          return `${this.searchForm.years}年${this.range}媒体${wd[0].text}排名`
        } else {
          return `${this.searchForm.years}年${this.range}媒介机构${wd[0].text}排名`
        }
      }
    },
    watch: {
      '$route.path': {
        handler(){
          this.reset()
        },
        deep: true
      },
      'searchForm.timeVal': {
        handler(val){
          let arr = this.Gtime[this.searchForm.timeTypes]
          let arr2 =  arr.filter(i =>{
            return i.val == val
          })
          this.range = arr2[0].text
        },
        deep: true
      },
      searchDate(val) {
        this.range = val[0] + ' ~'  + val[1]
      },
    },
    methods:{
      getData() {
        this.loading = true
        const data = {
          classify: this.activeName,
          mediaClass: this.routerMap[this.$route.name],
          ...this.searchForm,
        }
       this.mClass = data.mediaClass
        if(data.timeTypes == 0){
          data.timeVal = this.searchDate.join(',')
        }
        data.timeTypes = Number(data.timeTypes)
        data.classify = Number(data.classify)
        index(data).then(res => {
          this.tdata = res.data
          this.total = res.count
          this.loading = false
        }).catch(err => {
          this.$mesage.err(err.msg)
          this.loading = false
        })
      },
      reset(){
        this.searchForm = JSON.parse(this.sourceForm)
        this.getData()
      },

      /**
       * serach 时间设置方法
       */
      changeTime(value) {
        if(value == 60){
          this.range = '全年'
        } else if(value == 30){
          this.range = '1月'
        } else if(value == 50){
          this.range = '上半年'
        }
        if(value != 0){
          this.searchForm.timeVal = this.Gtime[this.searchForm.timeTypes][0].val
        } else{
          this.range = this.searchDate[0] + ' ~'  + this.searchDate[1]
        }
      },
      daySelect(value) {
        this.dayArr = value
      },
      // 获取2019年以后
      initYear() {
        let now = new Date()
        let nowyear = now.getFullYear()
        const arr = []
        for (let index = 0; index <= (nowyear -2019); index++) {
          let obj = {}
          obj.text = `${index + 2019} 年`
          obj.val = String(index + 2019)
          arr.push(obj)
        }
        this.yearArr = arr
        return arr
      },
      initWeek() {
        const week = []
        for (let i = 1; i < 53; i++) {
          let obj = {}
          obj.val = String(i)
          obj.text = `第 ${i} 周`
          week.push(obj)
        }
        return week
      },
    },
  }
</script>

<style lang="scss" scoped>
.statistics{
  .echartBox{
    height: 400px;
  }
  &/deep/.el-tabs__header{
    margin: 0;
  }
  .tableContent{
    height: 300px;
    overflow: auto;
  }
}
</style>