<template>
  <div class="pie-chart">
    <div ref="chart"
      style="height: 400px"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
import 'echarts/theme/macarons.js'
export default {
  props: {
    title: {
      default: '',
      type: String,
    },
    xdata: {
      default: () => [],
      type: Array,
    },
    ydata: {
      default: () => [],
      type: Array,
    },
  },
  data() {
    return {
      chart: null,
      option: {
        title: {
          text: this.title,
          x: 'center',
          textStyle: {
            color: '#555',
            fontStyle: 'normal',
            fontWeight: '500',
            fontFamily: '微软雅黑',
            fontSize: 22
          }
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          data: this.xdata,
        },
        series: {
          name: '广告类别',
          type: 'pie',
          radius: '60%',
          center: ['50%', '55%'],
          label: {
          },
          data: this.ydata,
          // data: [{value: 123, name:'百度'},{value: 345, name:'xiaomi'}],
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      }
    }
  },
  watch: {
    ydata() {
      this.option.series.data = this.ydata
      this.option.legend.data = this.xdata
      this.option.title.text = this.title
      this.chart.setOption(this.option, true)
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.chart = echarts.init(this.$refs.chart, 'macarons')
      this.chart.setOption(this.option)
      window.addEventListener("resize", this.chart.resize)
    },
  }
}
</script>

<style scoped>
.pie-chart {
  height: 400px;
  margin-top: 16px;
}
</style>