<template>
  <div class="tableView">
    <el-table :data="tabledata" border stripe height="300">
      <el-table-column fixed
        label="排名"
        type="index"
        width="80">
      </el-table-column>
      <el-table-column fixed
        label="地区名称"
        v-if="tag === '1'"
         prop="regionname">
         <template slot-scope="scope">
           <span :class="Number(scope.row.wftiaoci) > 0 ? 'red' : ''">{{ scope.row.regionname }}</span>
         </template>
      </el-table-column>
      <el-table-column fixed
        label="类别名称"
        v-if="tag === '2'"
         prop="adclassname">
          <template slot-scope="scope">
           <span :class="Number(scope.row.wftiaoci) > 0 ? 'red' : ''">{{ scope.row.adclassname }}</span>
         </template>
      </el-table-column>
      <el-table-column fixed
        label="媒体名称"
        v-if="tag === '3'"
        prop="medianame">
         <template slot-scope="scope">
           <span :class="Number(scope.row.wftiaoci) > 0 ? 'red' : ''">{{ scope.row.medianame }}</span>
         </template>
      </el-table-column>
      <el-table-column fixed
        label="机构名称"
        v-if="tag === '4'"
         prop="mediaownername">
          <template slot-scope="scope">
           <span :class="Number(scope.row.wftiaoci) > 0 ? 'red' : ''">{{ scope.row.mediaownername }}</span>
         </template>
      </el-table-column>
     <el-table-column label="广告条次">
        <el-table-column prop="ztiaoci"
          label="总条次">
        </el-table-column>
        <el-table-column prop="wftiaoci"
          label="违法条次"
          width="150">
        </el-table-column>
        <el-table-column prop="wfltiaoci"
          width="120"
          label="条次违法率">
        </el-table-column>
      </el-table-column>
      <el-table-column label="广告时长(单位:秒)"  v-if="mClass != '03'">
        <el-table-column prop="zshichang"
          label="总时长">
        </el-table-column>
        <el-table-column prop="wfshichang"
          label="违法时长"
          width="150">
        </el-table-column>
        <el-table-column prop="wflshichang"
          width="120"
          label="时长违法率">
        </el-table-column>
      </el-table-column>
    </el-table>
    <div class="page" v-if="tabledata.length != 0">
      <el-pagination background layout="total" :total="total"></el-pagination>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        default: '',
        type: String
      },
      tabledata: {
        default: () => [],
        type: Array
      },
      total: {
        default: 0,
        type: Number,
      },
      mClass: {
        default: '',
        type: [String, Number]
      },
      tag: {
        default: '',
        type: String
      },
    },
    data() {
      return{
        pageIndex: 1,
      }
    }
  }
</script>

<style lang="scss" scoped>
.tableView{
  .red{
    color: red;
  }
  .page{
    text-align: right;
  }
}

</style>